[2022-01-13 12:17] dimko commented on #237
@manos-saratsis should we replace the link with something else, or check with documentation team why it is dead?

[2022-01-13 15:17] car12o commented on #217
The cloud PR to address this issue regarding the stuck alarms.
https://github.com/netdata/cloud-alarm-streaming-service/pull/23

[2022-01-13 15:56] stelfrag commented on #217
Handle child health config state after reconnection when health is set to `auto` netdata/netdata#11965

[2022-01-14 10:22] dimko opened #239 "[BUG] /data requests initiation delay in single node view"
if you go to a node page with lots of charts there is a significant delay between the time the initial `/charts` request receives a response and when the individual `/chart` requests and subsequent `/data `requests are issued.

In that specific case there was like ~20 seconds interval

[2022-01-14 10:37] dimko commented on #239
@ralphm this is the ticket for the issue you reported.

[2022-01-14 10:48] #226 closed

[2022-01-14 11:54] dimko commented on #182
@modem7 do you still have this issue? Can you share the information @chrikar asked for?

[2022-01-14 12:22] hugovalente-pm commented on #239
@dimko does this happen to all the nodes or you see this happening to particular nodes?

asking this because we have this Building TOC for a Single Node view performance issue #[2655](https://app.zenhub.com/workspaces/product-5ea1534e9ff5df7daace00d5/issues/netdata/product/2655) and also some others with investigations and remediation actions being done due to some Nodes on the Cloud BE having hug

[2022-01-14 12:47] dimko commented on #239
I think it is related with the issue you tagged @hugovalente-pm. We were discussing yesterday with @ralphm who was the one that reported it. Opened an issue here for external visibility in case other users see it as well.

[2022-01-14 14:39] hugovalente-pm commented on #184
This has been re-opened since this came up again [slack thread](https://netdata-cloud.slack.com/archives/CS3PB0VJ7/p1641898800001000) and example on staging

https://staging.netdata.cloud/spaces/netdata-posthog/rooms/general/overview#chartName=menu_system_submenu_disk&_f=&highlight_after=1642160856000&highlight_before=1642160929000&metrics_correlation=false&after=-43200&before=0&utc=Europe%2FLisbo

[2022-01-17 13:28] dimko opened #240 "[BUG] White screen appears temporarily when switching to notifications tab in Manage Space modal"
Steps to reproduce:

1. Open Manage Space Modal
2. Click to switch tabs to Notifications tab inside the modal

What happens:
Screen turns white temporarily, no console error is displayed.

Extra comments:
This happens only the 1st time you perform this actions. If you had previously loaded the Notifications tab, a full page reload is needed to reproduce it.

[2022-01-17 16:52] thiagoftsm opened #241 "Latency chart colors"
I received a request from @manos-saratsis and @ktsaou to change the colors for latency charts:

![Screenshot_20220117_164846](https://user-images.githubusercontent.com/49162938/149809478-8ae098f8-499a-4940-951e-08c8fcccf937.png)

But, after talks  with design team and @jacekkolasa I was informed, that it is not only to change our NETDATA.colors vector, because we need different color scheme for `l

[2022-01-18 13:21] dimko opened #242 "[BUG] Alert cleared, but alert indication remains in room and node remains coloured"
Steps to reproduce:

1. Navigate to Netdata Cloud
2. Claim an agent to a space
3. Trigger an alert for that agent (`sudo ./edit-config health.d/cpu.conf` and set an alert condition to True

e.g`template: 10min_cpu_usage
      on: system.cpu
      os: linux
   hosts: *
  lookup: average -10m unaligned of user,system,softirq,irq,guest
   units: %
   every: 1m
    warn: $this == $this
    crit: $this

[2022-01-18 13:25] dimko commented on #242
@jacekkolasa could it be that something is not updated in the materialised views so it's a BE issue?

[2022-01-18 15:34] dimko opened #243 "[BUG] Go to chart/Run correlations from inside alert's modal doesn't always scroll to affected chart"
Expected:
When **running correlations** or clicking **go to chart** for a specific alert from inside the alert's modal, after landing in the single node view, the affected chart should be marked with the alert and visible.

What happens:
The alert is highlighted in the chart, but the chart is not visible. The cursor stays at the top of the screen

![image](https://user-images.githubusercontent.com

[2022-01-18 15:42] dimko commented on #243
Lowering priority as it seems to be difficult to reproduce. Need to identify the cause.

[2022-01-18 21:50] Jayto1 opened #244 "[BUG] Spelling error"
![image](https://user-images.githubusercontent.com/79473923/150023762-7438ad2d-882f-4b1d-90a1-c137d6a9d418.png)
Spelling error
![image](https://user-images.githubusercontent.com/79473923/150024342-dae9d4d0-b658-440e-a9fd-a2b943254e88.png)

[2022-01-19 01:06] modem7 commented on #182
@dimko @chrikar info has been given in the discord channel. Georgia is currently investigating.

Apologies for the *very* late reply.

[2022-01-19 10:05] dimko commented on #242
@AlexNti can we check if this a FE or a BE issue?

[2022-01-19 10:41] dimko commented on #222
Fixed on release/2.14.11. Closing

[2022-01-19 10:41] #222 closed

[2022-01-19 10:42] dimko commented on #236
Fixed on release/2.14.11. Closing

[2022-01-19 10:42] #236 closed

[2022-01-19 13:34] dionysis-netdata commented on #228
We fixed the main cause of this under #2674. Will close this ticket along #2674. And we will monitor and plan if further work is needed

[2022-01-19 13:38] jjtsou commented on #219
The issue is described [here](https://stackoverflow.com/questions/37798404/getting-timezone-using-intl-api-doesnt-work-in-firefox)

[2022-01-19 15:12] hugovalente-pm commented on #196
This bug is also around these units getting cut [BUG] Spelling error #244

[2022-01-20 20:03] #221 closed

[2022-01-21 08:54] #233 closed

[2022-01-21 09:03] dimko opened #245 "[BUG] Live Chat not dismissible"
The live chat icon is not dismissible. It might cover parts of the application that provide useful information.

e.g
![image](https://user-images.githubusercontent.com/19268853/150498091-c0356589-222a-47ef-86fc-035f2bbeaf9a.png)

[2022-01-21 09:08] dimko opened #246 "[BUG] Alerts table titles bar not sticky"
While on the Alerts tab, users can scroll up and down in the alerts list.

It is difficult to identify which field represents what data if you don't see the title of that field.

e.g While at the top of the screen, the row containing the titles of the represented data is visible
![image](https://user-images.githubusercontent.com/19268853/150498864-04a4510d-ba3f-4616-ab62-b5d94f7de9b1.png)

However

[2022-01-21 09:24] #230 closed

[2022-01-21 09:28] dimko commented on #238
Closing this as it seems to affect a pretty old space which messed up data. Will re-open if we see similar issues.

[2022-01-21 09:28] #238 closed

[2022-01-21 11:12] vinnygats commented on #231
Hi all!
As a quick fix I would suggest to apply fixed widths to the following two columns to save space (as I see now they are all dynamically set to 16.6%).

1. Smaller width of Status Column (approx 80px)
2. Smaller width of Date & Time (approx 130px)

[2022-01-21 11:41] dimko commented on #36
Assigning @dionysis-netdata to re-evaluate in the future what needs to be done

[2022-01-24 09:22] dionysis-netdata commented on #219
fix released

[2022-01-24 09:40] jjtsou commented on #219
@nil0x42 Is the bug fixed on your side?
We will be pleased to have your input on this, because we made a fix but this was a user specific bug.

[2022-01-24 10:14] dimko commented on #242
Un-assigning for now. Requires some investigation first. Added https://github.com/netdata/product/issues/2440 as blocker.

[2022-01-25 09:31] AlexNti opened #247 "[BUG] Error 500 when we are clicking Kuberenetes filter labels at overview, before data has loaded completely."
Navigate to overview and find a kubernetes item. Before all the data has been loaded click the filter labels, a 500 error will pop up at screen.

This bug is only happening when the kuberentes data has not been completely loaded.
![Screenshot 2022-01-25 at 11.30.55 AM.png](https://images.zenhubusercontent.com/61b732586f96e01d83c35334/73cea9f9-a42e-46c9-b62e-a3c0c204ccfb)![Screenshot 2022-01-25 at

[2022-01-25 10:05] dimko commented on #213
It seems we need Backend help to finish this one. @burbuli8ra fix works, but there are cases where user successfully joins space but he still gets error message popups.

![image](https://user-images.githubusercontent.com/19268853/150949340-67be2f3c-0504-47a2-96e8-10627021c489.png)

or

![image](https://user-images.githubusercontent.com/19268853/150955860-c3fc45db-697c-46ad-b39e-e380475ce108.png)

[2022-01-26 13:54] nil0x42 commented on #219
Hi @jjtsou, the issue is not fixed on my side...
It's curious i've been the only one to report that bug.

I tried again with a fresh firefox from a virtual machine to make sure it's not related to my firefox plugins. And even on my VM, the issue is still here.

[2022-01-27 16:07] cakrit opened #248 "[BUG] URL of invitation to join Netdata Cloud is http"
When you send an invitation to another user, the url is something like  http://url9538.netdata.cloud/ls/click?upn=..... which is clearly http and not https. If you click on that it will open in the browser which immediately redirects you to an https URL, but that’s might be too late already.

[2022-01-29 04:17] burbuli8ra commented on #213
Actually @dimko , maybe we can sync offline with @dionysis-netdata on Monday and check if we can merge and close this ticket (FE fix) and open another one for BE investigation and fix implementation.
Just note that if we decide to proceed with my above suggestion, you will have to temporarily disable the failing test in regression suit (maybe with a todo to reenable it when the BE ticket is resolv

[2022-01-31 09:10] jacekkolasa opened #249 "[BUG] alarm values are rounded in incorrect way"
We should change the way we "round" numbers for alarm-values pills:

`0.0005`, before: `0.000`, after: `0.0005`
`0.0012345678`, before: `0.000`, after: `0.00123` (round to 3 significant digits)
`12345`, before: `12345.000`, after: `12345`
`12345.678`, before: `12345.680`, after: `12345.68` (still round to 2 digits after comma, but remove trailing zeroes)

I'm not sure if that's the final behaviour

[2022-01-31 12:32] #249 closed

[2022-02-01 06:45] realEthanZou opened #250 "[Bug]: Wrong cpufreq reported on netdata cloud"
### Bug description

The N6005 CPU is reported as 2 MHz (4 Cores) on netdata cloud. Other nodes with older cpus are reported correctly.

### Expected behavior

Shown as X GHz

### Steps to reproduce

1. Have a N6005 cpu
2. Install netdata and claim to cloud
3. Look at the Nodes tab

### Installation method

kickstart.sh

### System info

[code]

### Netdata build info

[code]

### Additional info

[2022-02-01 09:50] dimko commented on #247
@AlexNti Can we close this one? I think it is released.

[2022-02-01 09:51] dimko commented on #213
@ravilushqa Assigning to you to investigate the BE side

[2022-02-01 09:59] dimko commented on #247
Released in release/2.14.13 of cloud-frontend. Closing

[2022-02-01 09:59] #247 closed

[2022-02-01 15:33] kaskavel opened #251 "[BUG] k8s feature in Overview screen: Flickering & console error"
**Describe the bug**
In the Overview screen, in the k8s section, we notice a flickering. The 'Group by' option is hidden and not working properly (see attached screenshots). Moreover, we get  a console error (see below).

**To Reproduce**
The internal Netdata workspace demonstrates the issue.

**Expected behavior**
We should see no flickering & the Group by functionality should work as expected wi

[2022-02-02 10:51] dimko opened #252 "[BUG] Alert remains in cloud if chart disappears"
Not a very easy issue to reproduce, but the main issue is that if a node has an **active alert affecting chart X,** if **chart X disappears** from the agent for some reason, the **alert stays in cloud and is not cleared**

[2022-02-02 12:34] zeylos opened #253 "[BUG] fping.plugin vizualisation bug on Cloud"
**Describe the bug**
fping plugin vizualisation is buggued on Cloud, works well on local dashboards.

**To Reproduce**
Steps to reproduce the behavior:
Add this in `/etc/netdata/fping.conf` :
[code]
**Expected behavior**
Graphs displayed properly on Cloud (the same way it is on local dashboards)

**Screenshots**
![image](https://user-images.githubusercontent.com/24226163/152154283-3015f8a0-822c-4a

[2022-02-02 13:20] MrZammler commented on #252
Hi @dimko !

This PR for the agent attempts to fix this issue: https://github.com/netdata/netdata/pull/12021 leaving it here for reference.

[2022-02-02 14:14] dimko commented on #252
Thanks @MrZammler !

[2022-02-02 14:23] dimko opened #254 "[BUG] Invalid pop up message after user successfully joins space"
Steps to reproduce:
1. User A invites new user B to join Space
2. User B accepts invitation by clicking Join Space button in his email
3. User B signs up in netdata cloud and clicks the Verify your email button inside the email

Expected:
- User B joins space he was invited to
- **_Welcome! You successfully joined space_** is displayed

Actual:
- User B joins space he was invited to
- **Error! Ema

[2022-02-03 10:43] cpipilas commented on #211
@MrZammler should we close this since https://github.com/netdata/netdata/pull/11924 has been merged?

[2022-02-03 14:47] cakrit commented on #248
The following is the response from Sendgrid. We will discuss internally which of the two we want to do:

The reason the links are intermittently resulting in problems is because when we wrap a link for data reporting (link branding) it wraps it in http. You can set up your account for SSL Click Tracking which will wrap your links in https, and allow the click tracking data to take place, while mai

[2022-02-03 16:29] car12o opened #255 "User & Space notification settings not being honored (new arch)"
User & Space notification settings are not being honored, even though they are disabled the user still receives an email.
Currently, we just take into consideration room settings.

Red - User Notification Settings - Not honored
Green - Room Notification Settings - honored
Blue - Space Notification Settings - Not honored

![Screenshot from 2022-02-03 16-24-44](https://user-images.githubusercontent.

[2022-02-03 20:45] cakrit commented on #248
We're changing the sender in all emails to no-reply@app.netdata.cloud, which will result in not using link branding => all links will be https://...sendgrid.com/...

[2022-02-03 21:25] jurgenhaas commented on #248
This is great!

[2022-02-04 10:19] jjtsou commented on #219
@nil0x42 Thanks a lot for your input.
Reopening the ticket.

[2022-02-07 10:29] burbuli8ra opened #256 "[BUG] [FE] Unnamed nodes should not display as empty"
**Bug Description**
Currently when a node has no name registered it appears with an empty space where the name is supposed to be.

**Expected behavior**
There should be a default name for unnamed nodes.

**Screenshots**
![Screenshot_9.png](https://images.zenhubusercontent.com/619b813a6f772735c861ea19/ff89285c-3dae-461a-97c0-d051578fa7ef)
![Screenshot_8.png](https://images.zenhubusercontent.com/619

[2022-02-07 10:46] dionysis-netdata commented on #256
I image that is not something new. Correct? So all this time we have been displaying empty names?

[2022-02-07 11:10] burbuli8ra commented on #256
@dionysis-netdata empty! 😄

[2022-02-07 11:24] burbuli8ra opened #257 "[FE] Change alerts badge to open right sidebar on alerts page"
#### Summary
The newly implemented badge for alerts, currently opens the alert tab in dashboard when error or warning is clicked with filter of the alert types.
We need to change the implementation and open the right sidebar with no filter applied.
Currently the new badge is implemented in **Nodes Table** view, in **Single Node** view and **Searchable Nodes Dropdown** component of header.

##### S

[2022-02-07 11:41] shyamvalsan opened #258 "[BUG] Chart image export using "Save Image As" or "Copy Image" does not capture the right image"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any warroom (using Chrome browser on Mac OS Monterey 12.2, M1)
2. Right click on any chart
3. Select "Save Image As" or "Copy Image"
4. Saved or copied image does not capture the chart image, it grabs a blank and partially filled image instead

**Expected behavior**
E

[2022-02-07 12:28] burbuli8ra opened #259 "[FE] Show notification for new arch update to users of Cloud"
#### Description
Since the migration to the new architecture will be completed at the end of the month, we need to notify our users in **Cloud** that they need to update to the latest version.

On page load a **notification banner** will load, that will inform the user about the action that need to be made and it will contain the following:
* Link to open modal will more details
* Link to document

[2022-02-07 12:31] burbuli8ra commented on #259
It is noted that implementation of components can start in FE, since we have the information needed for agent version and the BE ticket link includes some extra info for nodes that will be marked as `unreachable` even with the latest version

[2022-02-07 13:12] dionysis-netdata commented on #213
As per my undestanding this FE fix exposes a **pre-exsiting** bug, which now doesn't appear because of the bug on the FE returning happy messages.

I would image we should release the FE fix and tackle (or accept as low prio) the other bug.

**Currently** we have 2 bugs:
1. FE returning unreliable error messages
2. BE when joining space

[2022-02-07 13:17] dionysis-netdata commented on #256
wow. open to proposals then. I am going to throw mine

[Unnamed node]

[2022-02-07 13:18] burbuli8ra commented on #256
Agree!

[2022-02-07 13:53] vinnygats commented on #256
Unnamed sounds find. I'd consider [Untitled node] too. If possible, [Untitled node-*suffix*] \
e.g.
Untitled node-1
Untitled node-2

etc

As users are globally aware of this "lingo" from other software.

[2022-02-07 14:36] libekonst commented on #256
Good point on the count suffix!

Maybe also something like [New Node], if that's the case for unnamed nodes?
It's shorter and also informative - the brackets and the generic word indicate a placeholder, so the node is unnamed, but the wording also explains why it is unnamed and potentially calls for action 🤔

[2022-02-07 14:40] vinnygats commented on #256
The [New Node] though indicates that it is a new node actually and considering that for the moment we do not support renaming nodes, may not be so useful in the end in the future you have more nodes and one node named "New Node-2" that has been created 4-5 nodes prior to this.
Would make total sense in my opinion if we would support renaming nodes, but I think currently we don't.

[2022-02-07 15:11] libekonst commented on #256
I see, Untitled or Unnamed sound very fitting then!

A side note, in the case of not being able to rename them maybe it'd be interesting to have random names around a theme, similar to what google docs do for unnamed users
e.g. teal-iron-dahlia, black-silver-tulip, etc.

Def. not a quickfix and no strong feelings on that, just a fun idea that might add some extra flavor 😄

[2022-02-08 05:40] burbuli8ra commented on #256
@vinnygats and @libekonst to be honest, I am not sure about the indexing because it doesn't provide any info about the node.. it is just a random number, which also might defer in entities of nodes table and nodes dropdown, since I am not 100% sure that the grouping and sorting is the same in those 2!
I would go with either a simple `Unnamed node` or add in parenthesis maybe the `node id` or the i

[2022-02-08 08:43] dionysis-netdata commented on #256
I agree with @burbuli8ra on this one. Please do a sanity check on production whether such nodes actually exist.

[2022-02-08 13:20] burbuli8ra commented on #256
Hello guys, after confirmation from @chrikar , the issue also occurs on production, since at the moment we have 229 nodes with `null` and 20 nodes with `""` names.
So, since @libekonst has started with it, what do you think would be best as an alternative name?
My vote is at the simple `Untitled/Unnamed node`

[2022-02-08 16:19] libekonst opened #260 "[BUG] [FE] Truncating undefined inputs potentially throws an exception"
**Describe the bug**
The utility function that truncates text by adding ellipsis in the middle of a word accepts a possibly undefined input, but throws an exception if that input is undefined. This causes the app or a component tree to crash.

**To Reproduce**
Hardcode a truncate-able value to undefined to trigger this.

**Expected behavior**
The function should not attempt to truncate the input i

[2022-02-09 06:38] ktsaou commented on #241
@thiagoftsm @hugovalente-pm I think we can close this and implement the heatmap.

[2022-02-09 10:51] ktsaou opened #261 "[BUG] Cloud does not recognize agent as connected, although it is"
**Describe the bug**

Agent log:

[code]

As you can see the agent is connected to ACLK.

The connection is dropped every 15 minutes:

[code]

On the cloud, the agent is shown as offline:

![image](https://user-images.githubusercontent.com/2662304/153183077-904d1478-5010-4706-89fd-65c0eb756388.png)

Agent is running version:

[code]

Operating system is:

[code]

Netdata environment is:
[code]

**

[2022-02-09 11:00] underhood commented on #261
The periodic 15 minute reconnect has been also reported by user here https://github.com/netdata/netdata/issues/12097

AFAIK the latest status is it seems to be caused by some sanitization script on cloud side that runs every 15 mins

[2022-02-09 11:05] hugovalente-pm commented on #241
@ktsaou you mean the heatmap a new type of chart like we discussed?
I don't think we have that ticket yet, but I can create it of course

[2022-02-09 11:06] underhood commented on #261
@papazach might be helpful for your investigation to have such node within netdata

[2022-02-09 11:19] papazach commented on #261
Trying to find correlation with [this](https://github.com/netdata/product/issues/2738) issue.

The 15' frequency and the ticking times (XX:00, XX:15, XX:30, XX:45) definitely point towards the sanitization script.

[2022-02-09 12:18] thiagoftsm commented on #241
@ktsaou I do not have any objection. As soon @hugovalente-pm make a new ticket we can close this for sure.

[2022-02-09 13:14] hugovalente-pm opened #262 "Charts - Apply the same conversion of time in seconds on the pill as the one on the datetime legend"
## Goal

The same time conversion should be applied on the pill, which is inside the highlighted selection on the chart, as the one that is used on the datetime legend on the right-bottom corner of the chart.

### Screenshots

![image.png](https://images.zenhubusercontent.com/60b4ebb03f4163193ec31819/6be0f979-535a-406a-9658-ce1c493105b0)

![image.png](https://images.zenhubusercontent.com/60b4ebb03

[2022-02-09 13:15] hugovalente-pm commented on #262
this is linked to netdata/product#2689

[2022-02-09 13:25] hugovalente-pm opened #263 "Search bar on the table of contents"
## Goal

Introduce a search bar on the table of contents (aka metric bar) both on the Overview, Single Node view pages.

Iterations discussed:
* Beta:
   * do search on charts metadata
   * context
   * family
   * name

### Rules & behaviour
The expected rules & behaviour on the search bar and screen:
* search action is triggered as user stops typing after a delay (min 1sec - TBC), presses ENTER

[2022-02-09 13:25] hugovalente-pm commented on #263
This is linked to netdata/product#2328

[2022-02-09 14:04] kaskavel opened #264 "[BUG] Error in charts in custom dashboards when user does a fresh log-in"
**Describe the bug**

Originated from [community report](https://community.netdata.cloud/t/dashboard-charts-not-showing-data-before-visiting-node/2513).
When a user logs in to netdata cloud and visits a custom dashboard containing charts from single node view, the relevant requests result in 404 from server:

Request:
GET  https://app.netdata.cloud/api/v2/nodes/{node_id}
Response:
{"errorMsgKey":"

[2022-02-09 14:11] papazach commented on #261
OK so I validated that "boxe" is affected by the issue I mentioned.
So as you can see here:

|node_id                             |claim_id                            |machine_guid                        |created_at                       |updated_at                       |reachable|session_id      |hops|
|------------------------------------|------------------------------------|-------------------

[2022-02-09 14:43] ktsaou commented on #261
Great @papazach ! Thank you for your quick response to this!
Looking forward for the solution.

[2022-02-09 16:08] jjtsou commented on #262
https://github.com/netdata/charts/pull/49

[2022-02-09 16:50] hugovalente-pm opened #265 "Heatmap charts in Netdata"
## Goal

The need come for the representation of **latency charts** which now are rendered as a stacked chart like this:
![image](https://user-images.githubusercontent.com/82235632/153247499-4cd8ac44-20b3-4f2f-8dc6-dd83d52fe203.png)

In the above charts, there are buckets of latencies as dimensions. These buckets are hard-coded in the data collector. This is a real example of a data query:

<detai

[2022-02-09 16:52] hugovalente-pm commented on #241
@thiagoftsm if you want to close this you can I've opened this ticket netdata/netdata-cloud#265

[2022-02-09 16:53] hugovalente-pm commented on #265
For future iterations the idea is to allow the user to configure per chart the min and max thresholds

[2022-02-09 17:33] #241 closed

[2022-02-09 17:35] thiagoftsm commented on #265
@hugovalente-pm we had previously defined that we won't have this user definition right now, because we need to solve the problem to stored hundred of metrics in our dbengine.
A quick win for this would be, instead to give total flexibility, we allow user to show only specific group of metrics.

[2022-02-09 18:21] ktsaou commented on #265
This is great!

You have to think of 2 additional issues:

1. You need on the new charts to allow turning any chart into `heatmap`. So, charts 2.0 on cloud need to have this option.
2. Chart types are defined at the data collector and are propagated to the UI. So, a new chart type should be created in netdata (now it only has `line`, `area`, `stacked`) called `heatmap` and allow it to reach the da

[2022-02-09 18:30] hugovalente-pm commented on #265
@ktsaou thanks for the inputs. please see my comments below:

will specify this on the requirements above

For the old agent dashboard will open a issue on `netdata/dashboard` and link it here.

For the data collectors we probably need inputs from @ilyam8 and/or @thiagoftsm
Guys, what are the changes we need to do on collectors or other things on the Agent?

[2022-02-09 18:34] ktsaou commented on #265
I don't see it. I meant to add it here in charts 2.0:

![image](https://user-images.githubusercontent.com/2662304/153267029-316847a2-220a-40fc-afce-d97067344b0e.png)

[2022-02-09 18:36] ktsaou commented on #265
Sorry, I thought you said "I had already specified it in the description I above". It is ok.

[2022-02-09 18:37] hugovalente-pm commented on #265
@ktsaou I mentioned "will add it" not that I had already added it 😅
the ticket is now updated 👍

[2022-02-09 19:07] thiagoftsm commented on #265
@hugovalente-pm when we create charts, we give as argument the chart type, so we will need to change the collectors to send `heatmap`, `area` or any other type. In netdata core we will need to add the new chart types for the agent to understand what we are sending.

I suggest we sync cloud and agent dashboard for we release the new feature together. I think we can give a bad user experience if the

[2022-02-09 21:14] ktsaou commented on #265
@thiagoftsm unfortunately the agent shipped dashboard will stay behind. The agent will show `stacked` charts, until we update its entire visualization library to the one used by the cloud. It seems quite a lot of work to do currently. It will eventually be missing a lot of features. The Anomaly Advisor, metrics correlations, etc.

We are working on a feature to mark the agent dashboard as `old` an

[2022-02-09 21:30] thiagoftsm commented on #265
Thanks @ktsaou, I did not know all these details.

@hugovalente-pm I suggest we schedule a meeting to understand better how we can address these different behaviors. Is the cloud storing in its own database the user preferences for charts? If it is doing this, we can give to you a list of charts that will use heatmaps by default.

[2022-02-10 07:03] ktsaou commented on #265
A user can change the type of a chart, but the default is still controlled by the data collector. So, the until we move that away from the collector, this is the way to do it. This means that the plugins.d protocol, and netdata internally have to support a new chart type: `heatmap`. And of course all the documentation to be updated.

What do you mean? which behaviors?

[2022-02-10 08:33] Cat7373 opened #266 "[BUG]"
**Describe the bug**
Unable to do any operation in war room.

**To Reproduce**
Space Id: 97c6f4c5-936a-438b-943a-4f22d03241cf

Try to log in and bind to a node.

**Expected behavior**
Bind successfully.

**Screenshots**
<img src="https://user-images.githubusercontent.com/9296576/153367789-4c04307c-6324-447c-bb04-14485a6100f4.png">

**Error logs**
<img src="https://user-images.githubusercontent.com

[2022-02-10 09:39] vkuznecovas commented on #261
Just an update on this - I've identified the particular cause for this exact case in the sanitization script, working on a fix for this atm.

The gist of it is though that in the case of the duplicate @papazach posted above we end up issuing a disconnect for the unreachable "boxe", which causes the vmq connection to be closed for the agent, yet the agent then promptly reconnects.

[2022-02-10 10:25] hugovalente-pm commented on #265
thanks @thiagoftsm for all the details, as @ktsaou said we will have for now the Agent dashboard falling back to `stacked` charts when a collector has defined that a given chart should be a `heatmap`

to summarise behaviour:
* Agent has an eBPF chart that is a latency chart and defines the chart type `heatmap`
* Agent Dashboard doesn't support the `heatmap` so it will show the chart as a `stacked´

[2022-02-10 10:34] libekonst commented on #256
@burbuli8ra I understand the concerns about indexing and I agree that it's an overkill to do something more than a simple initialisation of the name to some default. Also thank you for checking on production and getting the empty name values!
We're definitely on the same side of not mutating the retrieved data, I'll build on top of that idea ✌️

So unless you have any concerns @dionysis-netdata ,

[2022-02-10 12:17] ktsaou commented on #265
The colors can be changed even via `dashabord_info.js` for any context or any chart. I am not sure I understand this.

In JS there a color array per dashboard theme (white, dark) for all chart types. Just one for all of them.
I understand that front-end engineers will have to add a second color array for heatmaps. So heatmaps will have their own coloring.

I don't get this. What is "internal" in t

[2022-02-10 12:20] shyamvalsan commented on #258
Similar behavior on Windows as well - the chart saved is completely blank this time around.

[2022-02-10 12:24] ktsaou commented on #265
I made many updates to my comment above. So please refresh.

[2022-02-10 12:37] thiagoftsm commented on #265
I agree, but the old designer said we have a color scheme for dark theme and another completely different for the white theme, so we could not only change the color. This was the motive I made that issue we closed after to create this.

The ACLK change a lot, probably I am having in my mind the first scheme that we made. Unless I am wrong, cloud was using `api/v1/charts` to get the data. If this i

[2022-02-10 13:50] ktsaou commented on #265
Anyway, he was wrong. We can do whatever we want with colors.

[2022-02-10 14:06] vkuznecovas commented on #261
Yup, the duplicates are being fixed by @papazach

[2022-02-10 16:23] hugovalente-pm commented on #262
@jjtsou was checking this on staging and I have one request, I know on the label we have `00m14s` but this on the pill takes a bit of space. could we omit the 00m?

![image](https://user-images.githubusercontent.com/82235632/153450789-565eb3e2-dfc2-42c7-801f-57d06941942b.png)

[2022-02-10 17:07] hugovalente-pm opened #267 "[BUG] When focus is lost charts are not update but time control is still showing Play"
**Describe the bug**

When my page loses focus the charts are no longer requesting /data for the chart but the icon on time control is still showing Play

**To Reproduce**
Steps to reproduce the behavior:
1. Have your focus on Overview or Single Node view page and the time control as `Play` (mouse can't be on top of the charts)
2. Remove the focus from that (go to chrome devtools or some other)
3.

[2022-02-10 17:07] hugovalente-pm commented on #267
This is linked to netdata/cloud-frontend#2886

[2022-02-10 17:59] hugovalente-pm opened #268 "Chart info with log of requests"
## Goal

For the user to understand what is happening on a specific chart we need to give him visibility of what is happening behind the scenes.

To achieve this we want to introduce on the chart `info` an area where we show information similar to what we have on the browsers developer tools. This area will show a running list of the last 20 requests which include:
* `/charts/<details>` endpoint r

[2022-02-10 17:59] hugovalente-pm commented on #268
This is linked to netdata/cloud-frontend#2883

[2022-02-10 18:07] hugovalente-pm opened #269 "Allow grouping of nodes on Nodes tab by their liveness status"
## Goal

We should be able to group by the liveness status of the nodes on the Nodes tab, this implies adding an extra option of `Status` here:
![image](https://user-images.githubusercontent.com/82235632/153422796-08df7c83-a7f9-45bb-bb4f-0929a1c73a4b.png)

The possible status, coming from here netdata/product#2377 are:
* Offline: Not connected to Cloud, cannot access any data
* Live: Connected to

[2022-02-11 11:37] TonyPath commented on #184
An update with some findings :

Given a composite data request post-hog war room with request payload:
[code]

we got a response :
[code]

The interesting thing in response is :
- the `after` is ~12hrs before (expected since this is what user asked for)
- the `first_entry` field  is ~6hrs before, it's ok, maybe node has no data before ~6hrs (align also with the corresponding `first_entry` field in

[2022-02-11 13:07] hugovalente-pm commented on #184
This was what I tried to point here:

The issue seems between the `/data` `first_entry` and `results.data[0][0]` >= `first_entry`, the doubt @TonyPath if this is gotten directly from the Agent like this or we do some aggregation on Cloud BE (we had [this comment[(https://github.com/netdata/netdata-cloud/issues/184#issuecomment-965091396) from @papazach in the past). We need to confirm this to eith

[2022-02-11 13:53] gusarg81 commented on #255
By the way, the weird thing is that there are some War Roms that this option is working just fine and others not (at least, in my case).

[2022-02-11 14:06] car12o commented on #255
Is this space migrated already? Maybe it works because it's connected through the legacy arch.

[2022-02-11 14:08] gusarg81 commented on #255
I don't know how to tell you that... All this just started to happen suddenly without any changes from my side.

[2022-02-11 14:09] hugovalente-pm commented on #265
@thiagoftsm this is the issue for Cloud FE (just noticed now that I had forgotten to put the label `cloud-frontend`) from where we drove the discussion and identified the needed changes and from where we need to link to the other tickets - we were doing this as mentions

![image](https://user-images.githubusercontent.com/82235632/153606043-07b51e16-a042-45fe-9c99-38dff9dcc748.png)

you mention abo

[2022-02-11 14:13] thiagoftsm commented on #265
This is the way I work with @cpipilas, when we have different bullets we convert the issue for epic and after this we create a new issue for each one of the bullets. This way we can monitor the progress step-by-step. If you are not working like this, no problem I can adapt myself and write the requirements for front end here.

[2022-02-11 14:17] jjtsou commented on #262
https://github.com/netdata/charts/pull/51

[2022-02-11 16:01] TonyPath commented on #184
@hugovalente-pm my bad i didn't shared earlier.
Well, it is not result of some sort of aggregation.

So i constructed manually the data request that we sent over to the ADC which is forwarded to the agent for execution

`curl -v -H "Netdata-Account-Id: ..." 'http://cloud-agent-data-ctrl-service.app/api/v1/agent-proxy/2/fef6c63e-e4bd-4a3c-9890-91a1c8d7fbbd/data?format=json&options=jsonwrap|flip|ms|

[2022-02-11 16:25] vkuznecovas commented on #261
That only fixes the disconnection part.

[2022-02-11 17:06] hugovalente-pm commented on #265
got it @thiagoftsm , we can convert this to an EPIC if it makes easier for tracking

[2022-02-11 17:39] underhood commented on #261
Ah yep thanks, you are right... this ticket is actually 2 tickets in one:
- reconnect every 15 minutes -> should be fixed
- node appears offline despite ACLK connected

[2022-02-11 17:39] papazach commented on #261
Hello all 👋🏼 ,

So about an hour ago, along with @car12o, we paired on a session to execute the script that addresses the issues. Aka:
- Deletes the "old", unreachable node instances (the ones **without** mguids)
- Adds the new node instances that were created by the Cloud to the proper rooms.

The script fixed **1809** cases and we're down to **0**.

**Important Notice**: To see the _old_ _unreac

[2022-02-11 18:01] ktsaou commented on #261
I didn't clear anything on my browser it just worked.

However I do see 2 nodes available to be added, although with probably wrong info:

![image](https://user-images.githubusercontent.com/2662304/153644266-eb0b64b9-4feb-4587-a6bf-e0dbf773d4ef.png)

I cleared Indexed DB, and verified that they are **still there**!

[2022-02-11 18:13] hugovalente-pm commented on #265
@novykh please also add this on your list for review to see if details are ok to push to FE backlog

[2022-02-11 18:18] papazach commented on #261
Thanks for underlining this, let us take a look about those and get back to you 👍🏼

[2022-02-13 08:21] ktsaou commented on #266
@novykh please help in this. This probably looks like a backend issue, but we need to triage it and document it for them to have the input required. Are these logged in sentry?

[2022-02-13 08:24] ktsaou commented on #262
This should be tagged as a bug.

[2022-02-13 08:31] ktsaou commented on #228
@dionysis-netdata #2674 on which repo?

I also have a space that 3 nodes appear online, although they are not. This is a long standing issue.

[2022-02-13 08:45] ktsaou commented on #223
I can reproduce this!

@hugovalente-pm @novykh this is a front-end bug that actually disables the first 3 selectors of the charts' toolbar after an ALT-TAB.

Tested on Manjaro Linux. Chrome Version 98.0.4758.80 (Official Build) (64-bit).

What I think is happening is this:

1. Select the panning tool (the first on the left)
2. Pan the chart (it works)
3. Press ALT and select something on the chart

[2022-02-13 09:28] novykh commented on #266
@Cat7373 could you include the request that is failing (url string + params)?

[2022-02-13 17:28] mkaand opened #270 "[ISSUE] All nodes have issues"
Hi Everyone,

Long time I haven't visited netdata. Yesterday I have visited and I see "All nodes have issues" error and I cannot see my metrics. Should I upgrade agent? Or all netdata nodes have issues (server down?) I mean message is not clear. Issue related with my agent or related with Netdata Cloud?

[2022-02-14 06:16] Cat7373 commented on #266
Sorry, when I went to see today there was a problem with that war room is gone, so there is no way to record the request le

[2022-02-14 07:36] ktsaou commented on #266
@Cat7373 the war room is gone by itself? Are you alone in that space or you have other colleagues working with you?

Could it be that someone else deleted that war room while you were working on it?

[2022-02-14 07:57] dionysis-netdata commented on #228
@ktsaou https://github.com/netdata/product/issues/2674

Can you jot them them here to investigate?

[2022-02-14 08:22] ktsaou commented on #228
That is a closed ticket. I commented there, but I think that ticket refers to original cause that had this side effect. Probably the script that finds and fixes such discrepancies does not find my nodes for some reason.

[2022-02-14 09:08] TonyPath commented on #184
After further testing I find out that the issue may happen also when the `memory` is in `ram mode`.
In `posthog` war room all the nodes that contribute to data are configured in `ram mode` except from one which is in `dbengine` mode.

[2022-02-14 09:17] hugovalente-pm commented on #184
@TonyPath could you open a bug on `netdata/netdata` with your findings?
from this [comment](https://github.com/netdata/netdata-cloud/issues/184#issuecomment-1036363248) this seems the issue:

[2022-02-14 09:20] #223 closed

[2022-02-14 10:00] ktsaou opened #271 "[BUG] offline nodes appear as online"
I have 3 nodes in my space that they show as online, but they are not.

Space-id: f0bb93b8-670c-4c49-ad18-492ccc59ab74

1. https://app.netdata.cloud/spaces/tsaousis/rooms/general/nodes/25eb3db8-1afb-11e6-9db0-7cdd9077336a
2. https://app.netdata.cloud/spaces/tsaousis/rooms/general/nodes/93bcabe6-8281-11ea-a175-b827ebd5a0a5
3. https://app.netdata.cloud/spaces/tsaousis/rooms/general/nodes/b415e708-8e

[2022-02-14 10:01] ktsaou commented on #228
Opened it here: https://github.com/netdata/netdata-cloud/issues/271

[2022-02-14 10:30] hugovalente-pm opened #272 "Right-hand bar component w/ filtering on Nodes"
## Goal

Provide on the right-hand bar component a filter section on **Overview tab** that allows filtering the data by selected Nodes.

This filtering when activated or changed will imply:
* Updating the TOC
* Updating the charts on the central main area
* Updating the data on the displayed charts

This filtering component should be the similar to to one used on the Alerts tab where we have:
* se

[2022-02-14 10:38] hugovalente-pm opened #273 "Metric correlations should be available on Overview page"
## Goal

The Metric Correlations button should be available on the Overview page

This button will only be available when:
* the War Room has one node
* any filtering applied has as a result data from a single node

This will be reviewed once Metric Correlations can be executed across multiple nodes

[2022-02-14 10:58] hugovalente-pm commented on #253
@zeylos could you help confirm on thing on this bug, the missing charts and the "scrambling" on the position of them you get it on the Overview tab and/or on the Single Node view on Netdata Cloud?

[2022-02-14 11:21] TonyPath commented on #184
To sum up:

In cloud overview page a user may request for data about 12hrs ago for instance. However nodes have data only for last 6 hrs to serve.

![Screenshot from 2022-02-14 12-21-06](https://user-images.githubusercontent.com/2017356/153845846-c1c29591-9f95-4683-b654-9353873c94cb.png)

the response we got from cloud `data` request is:
[code]
`after`: 1644790988, // ~ 12hrs ago
`first_entry`: 16

[2022-02-14 14:40] Cat7373 commented on #266
I created a three war room that day, and then tried to delete one of them, it seems that the network is not very good, did not delete successfully, and then the other two were deleted, but this one will fail no matter what to do, including the deletion, and still will not disappear after refreshing.

But a few days did not look at it, and then go back to look at it is no longer

[2022-02-14 15:05] ktsaou commented on #266
ok, since it is not there any more, I think we should close this. Probably, there was a bug somewhere but we fixed it.
If it happens again, comment here and we will re-open it.

[2022-02-14 15:37] hugovalente-pm commented on #264
thanks for looking into this @jjtsou I know @juacker and @kaskavel had looked into this in the past so probably they can help with some findings/guidelines from their side

[2022-02-14 15:45] juacker commented on #264
I have taken a quick look and I cannot see the `context` field in the dashboards I created:

![Captura de pantalla de 2022-02-14 16-31-32](https://user-images.githubusercontent.com/2930882/153894203-3277d96c-1a31-4685-9021-6f85110a46fb.png)

I see the dashboard content is blindly stored in the cloud  on `PATCH` requests to `/api/v1/spaces/${spaceId}/rooms/${roomId}/dashboards/${id}`, and we just r

[2022-02-14 16:28] TonyPath commented on #184
A bug issue was created https://github.com/netdata/netdata/issues/12135

[2022-02-14 16:56] ktsaou commented on #272
@hugovalente-pm for some reason this ticket exists in 3 repos. I think this kind of duplication will kills us. We are going to lose our minds trying to keep track of everything and since we can discuss on all 3 about it, it is going to be confusing to find all the discussions. Let's discuss about this to find a solution.

[2022-02-14 17:11] ktsaou commented on #273
Metric Correlations today work like this:

1. UI is requesting metric correlations from a service in the cloud backend.
2. the metric correlations back end service, does multiple data queries to the agent.
3. the metric correlations calculates the `ks` score for all metrics and returns them back to the UI.

We have decided to implement metrics correlations calculation at the agent itself, to avoid

[2022-02-14 18:14] hugovalente-pm commented on #272
@ktsaou we have stats that show some usage till end of Oct.21, will need to see if there is some issue with data after that period.

so from Jul.21 to Oct.21 we have over the filter box as a whole:
* Adoption rate of 4.02%
* Across the 4 months this has around 140 unique users using this per month

[2022-02-14 20:56] ktsaou commented on #272
Just 140 users is way too low. Probably we need a more advanced filtering with search. So, I think we can kill it, provided that we add something more powerfull at the filters.

[2022-02-15 07:14] avimar commented on #255
Me too.  I got this email, then started getting notifications via cloud I'd previous disabled. I tried re-enabling, then disabling, but it didn't help.

[2022-02-15 08:17] redfive2012 opened #274 "[BUG] Systems with multiple disk or CPU show aggregate sum temperature"
**Describe the bug**
When temperature columns are displayed in the Nodes view for any War Room, for systems with multiple disks or CPUs, the temperature columns show a single graph tracking the total sum of the disk or CPU temperatures. Graphs seem to be aggregated based on the type of dimension -- multiple disk sensors are summed, multiple CPU cores are summed, other sensor types seem to be summe

[2022-02-15 10:22] hugovalente-pm opened #275 "Expose more details on Disks, Mount Points, Network Interfaces and other sections where we group under `all`"
## Goal

We need to expose underlying details of the sections where we apply some logic to group under an `all` family. That way we provide full visibly and same level of information that we provide on the Single Node view page.

The sections for now identified where we apply this logic are:
* Disks
* Mount Points
* Network Interfaces

Same examples between requests done on Overview and Single Nod

[2022-02-15 10:25] hugovalente-pm commented on #275
@juacker coming from our conversation on today's daily can you help identify the sections where this manipulation of the `family` to be surfaced as `all` to the FE is applied?

[2022-02-15 10:31] hugovalente-pm commented on #136
@novykh @papazach I know we spoke about this in the past to try to identify a solution for this issue, but we didn't agree/identify the solution.
Let's bring this back again for discussion

This is linked to netdata/product#1429

[2022-02-15 10:39] ktsaou commented on #274
Hi @redfive2012. Thank you for reporting this. You are right. The current implementation is very limited, because it flattens entire charts into one value, by summing all the dimensions together. Even if we did an average, it wouldn't be that nice.

I think we need to change our approach here.

I understand that what is important is the individual *current* value, not the chart. So, the moment you

[2022-02-15 10:41] ktsaou commented on #274
@hugovalente-pm @vinnygats we have to take into account this for the improved nodes page.

[2022-02-15 10:44] ktsaou commented on #255
@amalkov I think this should be high priority. We have to deal with it immediately.

[2022-02-15 10:46] car12o commented on #255
@ktsaou I'm already working on it, a fixing patch will be released this week.

[2022-02-15 11:27] hugovalente-pm commented on #272
ok, will update the ticket to mention to remove this when we add the filters on the right-hand bar

[2022-02-15 11:34] kaskavel commented on #253
@hugovalente-pm the issue is reproducible in our own lab. It seems like we need to revisit what sort of aggregation we need in the Overview screen.

I would suggest to start investigating this from the BE side.

It seems like in the overview page, the request made by FE:

https://staging.netdata.cloud/api/v2/spaces/{space_id}/rooms/{room_id}/charts

gets the following metadata regarding fping:

![

[2022-02-15 11:38] hugovalente-pm opened #276 "Right-hand bar component w/ enhanced filtering"
## Goal

As a better way to allow users to slice the available data on **Overview** and **Nodes tab** we need to provide other attributes and/or improving existing ones (e.g. Services).

Some specific use cases to consider:

**Filter all chats/data for PostgreSQL databases**
[code]

**Filter all chats/data for a specific NGINX instance**
[code]

[2022-02-15 11:42] hugovalente-pm opened #277 "Analyse our graph library (dygraph) to evaluate the capabilities to support our evolution of visualization"
## Goal

We need to re-asses the use of dygraph as our charts library, considering the evolution of our visualization components:
* adding more graphical components: tables, big numbers, histograms, etc.
* the current state of maintenance of this library
* (other topics to consider)

[2022-02-15 11:58] hugovalente-pm commented on #253
@kaskavel thanks for the additional details on this
@TonyPath @juacker can you take a look at the BE side of things?

[2022-02-15 13:06] car12o commented on #255
fixed deployed.

[2022-02-15 13:06] #255 closed

[2022-02-15 13:18] hugovalente-pm opened #278 "Single Node Dashboard should be replaced with Overview Dashboard filtering just one node"
## Goal

The Single Node Dashboard page should eventually be replaced with the Overview Dashboard page, with a filter to select only one node.

For this to happen, we need:

* node filters on the overview page
* metric correlations to work on the overview page

Breakdown of work:
* netdata/cloud-frontend#2914
* netdata/cloud-frontend#2915

when the above two are completed we can work on:

* netdat

[2022-02-15 13:31] hugovalente-pm commented on #272
This is a breakdown from #278, so this is to be followed on our internal repo netdata/cloud-frontend#2914.
closing this ticket

[2022-02-15 13:31] #272 closed

[2022-02-15 13:34] hugovalente-pm commented on #273
This is a breakdown from #278, so this is to be followed on our internal repo netdata/cloud-frontend#2915.

@ktsaou @shyamvalsan closing this ticket and moving the above comment there

[2022-02-15 13:36] dimko commented on #255
Fix is included in **cloud-alarm-notification-sender-service release/0.4.7**

[2022-02-15 13:37] #273 closed

[2022-02-15 15:06] redfive2012 commented on #274
For the nodes page, choice #1 seems like it would be sufficient. If someone
is trying to track a processing issue and watching the temperatures spike
in response, they'd probably be on the full chart page already, not
watching the nice page with its shorter timeframe and no history replay.
Tracking the current values in the small charts should be enough, I would
think.

On Tue, Feb 15, 2022, 5:40

[2022-02-15 15:44] shyamvalsan commented on #258
@hugovalente-pm not sure if this is a known issue or not

[2022-02-15 15:57] ghost opened #279 "General as a war room for all space's nodes and users"
**Story**
As Netdata,
We want the general War Room to become an space holistic War Room with all users and nodes,
so that users have a room that gives them complete visibility of the inventory

**Acceptance Criteria for Nodes**
1. All existing nodes should appear in the `general` war room too, independently of the other war rooms they appear in.
2. Any newly added node will automatically be part o

[2022-02-15 16:27] ghost opened #280 "Join public and private war rooms (for admins) without an invitation"
**Story**
As a Netdata Cloud user,
I want to join other war rooms,
So that I monitor services & infrastructure under those war rooms

**Acceptance Criteria**
* A simple/admin user can join other public war rooms, without requiring an invitation
* An admin can also join private war rooms under the same space, without requiring an invitation

[2022-02-15 16:29] ghost opened #281 "Netdata Admins, Managers and Troubleshooters to have access to all war rooms in the space"
**Story**
As a Netdata Cloud Admin / Manager / Troubleshooter
I want to be able to join any war rooms in my space,
So that I have visibility of all war rooms the space

**Acceptance Criteria**
* Admins and Managers will be able to fully manage all War Rooms in that space.
* Troubleshooters will be able to have visibility on any War Rooms in that space.

[2022-02-15 16:38] novykh commented on #258
This is not a bug since this is not an image :) It's a canvas, which consists of multiple images that get draw with js - hence you get like a small part of the whole chart. We can add a feature (for the future) to support image capturing for the chart, but this needs a specific implementation to create the image out of the chart via js and allow the browser to download it.

[2022-02-15 16:42] shyamvalsan commented on #258
@novykh but what is "Save Image As" actually supposed to do?

[2022-02-15 16:47] novykh commented on #258
This is the default right click menu of the browser, not our implementation. The browser thinks that this is an image, so it provides the user with this option.

[2022-02-15 16:49] shyamvalsan commented on #258
Oh - I get it now :) so we do not offer any way for charts to be exported currently. Closing the ticket, and we can consider it as a feature in the future.

[2022-02-15 16:49] #258 closed

[2022-02-15 16:55] juacker commented on #275
At this moment we are modifying family parameter for disks and net context at the two endpoints below. One thing I found, and maybe is an inconsistency we should fix, is that for the composite charts endpoint, we make different modifications depending if the request is for old or new agents. In the flowchart below you can see the process.

[code]

[2022-02-15 17:42] sashwathn opened #282 "Display Configured Alerts on the Cloud"
@sashwathn commented on [Fri Feb 11 2022](https://github.com/netdata/product/issues/2763)

## Issue:

The users are unable to view the configured alerts on the Node when visualising from the Cloud. This will be a quick win as many users would like to understand what are the configured alerts.

This will be an enabler epic for other future topics like:

- Alerts History View - https://github.com/ne

[2022-02-15 17:42] hugovalente-pm commented on #258
@shyamvalsan more as fyi, the feature is identified here netdata/product#1894

[2022-02-15 17:45] sashwathn commented on #282
@novykh : This needs your review and input on how this can be achieved. There are already some designs for this in other epics:
https://github.com/netdata/product/issues/1996
https://github.com/netdata/product/issues/2543

[2022-02-15 17:48] sashwathn opened #283 "View an Alert Notification on the Mobile on the Alerts Landing Page"
@sashwathn commented on [Tue Feb 15 2022](https://github.com/netdata/product/issues/2785)

[2022-02-15 17:50] sashwathn commented on #283
As a user of Netdata, I would like to view more details on my mobile on receiving an Alert Notification.

[2022-02-15 18:43] hugovalente-pm commented on #275
@juacker thanks for confirming and raising this concern about different behaviour between "old agents" and "new agents".
we are aiming to get rid of this modifying logic to change the family to `all` we want to expose the full details on the overview with composite charts.

removing the logic above would be an easy thing? if so we could have a branch for this running on staging to see the outcome

[2022-02-15 18:53] ktsaou commented on #279
This is great. With this change, the `general` war room becomes the absolute inventory for everything and everyone. People who don't need war room, will just work in the `general` war room, as the single source of truth for their infra. This takes away the need to explain war rooms to new comers, simplifies user onboarding process significantly and allow people to have clarity on their infrastruct

[2022-02-16 10:10] juacker commented on #275
Removing the logic should not be difficult. Just for clarification, the idea would be to avoid modifying the ```family``` value in all cases, right?

[2022-02-16 10:21] hugovalente-pm commented on #275
yes @juacker , with the aim to have the Overview dashboard engine supporting the Single Node view we can't "mask" the details of the families with these manipulations.

[2022-02-16 11:48] hugovalente-pm opened #284 "Improve our k8s map UX on Overview page"
## Goal

We need to improve the user experience on the k8s map on the Overview page. As discussed on netdata/cloud-frontend#2875 the _"charts in a tooltip on hover"_ doesn't provide a very good experience.

On this particular case we have have:
* container/pod boxes are really small
* too many interactions happening on a tooltip (tabs and scroll down)
* you can't tooltip the charts on the tooltip

[2022-02-16 12:32] hugovalente-pm commented on #275
@ktsaou I was discussing this with @juacker and the guys on the BE on this work, removing the mutation done on the BE to have the `all` family, and they shared a very valid concern which is also what is happening on this netdata/netdata-cloud#253 (more finding will be added to this one, including the wrong naming)

In general, with the `all´ family we are allowing for some grouping to happen on a

[2022-02-16 13:07] rowansc1 commented on #255
Thank you everyone!

[2022-02-16 13:13] sashwathn opened #285 "View all Active alerts in a user friendly format (table) from a mobile device."
##Issue
As a user of Netdata Cloud, I would like to view all active alerts in my Space/Room/Node on my mobile device.

##Use-case
On receiving a notification on the mobile, the user needs to be able to see the specific alert and also other active alerts on a mobile device.

[2022-02-16 13:14] sashwathn commented on #285
@novykh, @jacekkolasa  and @libekonst : This is one of the topics that needs to be analysed and implemented.

[2022-02-16 13:42] juacker commented on #275
@hugo I have deployed a version removing the ```family``` mutation for whitelisted spaces on testing. After accessing the *overview* page, a 500 is shown. Network requests succeed, it seems a FE related issue:

![Captura de pantalla de 2022-02-16 14-34-47](https://user-images.githubusercontent.com/2930882/154275541-eb49dead-a2f3-4c40-8d7c-2cf2884a8331.png)

[2022-02-16 16:04] ktsaou commented on #279
I agree. However, today users are all forced to be members of the General war room. Nodes are optional. But users are mandatory. Let's not change the way it is. We will deal with it later.

I agree.

ok, let's see what information could be there.

"Explore" is probably not the right name. Probably we need to rename "Overview", like this:

1. **Overview**
   A page that has high level stats about t

[2022-02-16 16:30] hugovalente-pm commented on #279
@ktsaou I would like to see if what is suggested from that past ideation is an interesting approach:
* Health summary
   * Alert badge/table - showing total number of active alerts and a breakdown on Critical and Warning
   * Anomaly information - initially this was done when Anomaly Events were a "first-class" citizen but now doesn't seem to make much sense, but we have other interesting stats pr

[2022-02-16 19:51] ktsaou commented on #279
@hugovalente-pm please open a new ticket for ideating about the new overview dashboard, based on data that the cloud backend has.

[2022-02-17 07:56] ktsaou commented on #275
@hugovalente-pm I think we need to expose the families to the UI and then at the front-end deal with. We discussed about creating a top filter bar, just above the disks, the mount points, the network interfaces, that will allow the user to control all the charts together. Today this is only per chart.

Also, at the UI, depending on the number of nodes, we may show either all the families on the ri

[2022-02-17 07:56] ktsaou commented on #255
You rock guys!

[2022-02-17 08:34] jjtsou commented on #251
After investigation on the production bug, I came to the conclusion that when we click on the `k8s` sidebar option we don't dispatch the `k8s` details request at all. Instead, a `cgroups` details requests is getting dispatched after a while causing the flickering.

Note : This bug is not reproducable on staging environment, because of an `uknown` issue regarding the `cgroups` terraform file config

[2022-02-17 09:02] hugovalente-pm commented on #262
@jjtsou I don't think has this deployed to production yet
![image](https://user-images.githubusercontent.com/82235632/154441527-140c7a37-ea80-4979-aa84-b663459382ea.png)

let's close this ticket when that happens

[2022-02-17 09:09] hugovalente-pm commented on #275
@ktsaou makes sense, let's give the flexibility we want to the FE, we'll need to see/deal with the increase of data being sent to the FE some other way

for the "top filter bar" let's discuss on something similar to what we have on k8s where we will have the families being available on a dropdown and where in each case it will correspond to: disks, mount points and network interfaces

this selecti

[2022-02-17 09:15] ktsaou commented on #275
This filter bar needs to be simple to start with:

1. Node (multi-select, with search in it)
2. Family (multi-select, with search it it)

And it should stick at the top of the screen in case the section of the charts is too big to fit on a screen.

[2022-02-17 09:17] hugovalente-pm commented on #279
@ktsaou created this ticket netdata/product#2797

[2022-02-17 09:21] hugovalente-pm commented on #275
@ktsaou for Node won't we duplicate it with this? Right-hand bar component w/ filtering on Nodes #272
if we have the filter on the right-hand bar should we bring it as this top section filtering?

[2022-02-17 09:28] vkuznecovas commented on #228
Just to clarify https://github.com/netdata/product/issues/2674 only fixed the major cause of this, however, it did not address the fix for a corrupted state that already exists. For this, we'll need to write a sanitization script. I've not worked on that yet, that's why this issue is still open. I'll get to it once we sort out the issues related to migration to new arch.

[2022-02-17 09:42] novykh commented on #275
To me this is low priority, but I'm fine with adding a filter bar in the future.

[2022-02-17 09:52] ralphm commented on #279
I didn't realize this. However, right now when nodes are claimed to Cloud, you can choose to not have them join the `General` room. With this, current users can compartmentalize users so they have access to specific sets of nodes by carefully assigning nodes and users to rooms. Repurposing the `General` room has the following result:

- It changes existing configuration of rooms.
- With that affec

[2022-02-17 10:24] juacker commented on #275
@hugo, the current branch that is deployed on testing justs avoids mutating the family value of the context, but is not returning all the families each context has. To do that we need to make deeper changes to the code. At this moment, the query we are using to retrieve contexts from the DB is not grouping by family, so we are only returning one family per context, not all of them, if exist.
We ne

[2022-02-17 10:49] YaroslavDev opened #286 "[cloud-alarm-notification-sender-service] Abstract "notifications_sent" SQL table"
# Background
"notifications_sent" must be agnostic of specific notification type fields, because it's used for abstract rate limiting mechanism, which does not care about specific notification types.

# Deliverables

- ALTER table and remove all columns that are specific to AlarmStatusChange event
- Rewrite existing queries so they fetch Alarm information from other tables(e.g. by using JOINs)

#

[2022-02-17 10:57] YaroslavDev opened #287 "[cloud-alarm-notification-sender-service] Abstract "notifications_pending" SQL table"
# Background
"notifications_pending" must be agnostic of specific notification type fields, because it's used for abstract debouncing & spam-checking mechanism, which does not care about specific notification types.

# Deliverables
ALTER table and remove all columns that are specific to AlarmStatusChange event
Rewrite existing queries so they fetch Alarm information from other tables(e.g. by using

[2022-02-17 10:59] YaroslavDev opened #288 "[cloud-alarm-notification-sender-service] Revise SQL table types"
# Deliverables

Alter SQL columns of `TEXT` type to `VARCHAR` or `ENUM` where this is possible.

# Related issues
https://github.com/netdata/product/issues/1952

[2022-02-17 11:06] dionysis-netdata commented on #237
@kickoke shared an updated link. https://learn.netdata.cloud/docs/cloud/get-started#add-bookmarks-to-essential-resources

let's replace it with that @burbuli8ra

[2022-02-17 11:15] car12o commented on #282
@novykh we only have the alarms configuration for the alarms exchanged between agent & cloud. I think all configured alarms are exchanged on the initial handshake but I'm not sure, we need the input from someone from the agent team.
cc: @MrZammler

The only endpoint available right now allows us to fetch alarm configuration per alarm.
[code]

[2022-02-17 11:29] hugovalente-pm commented on #275
@juacker thanks for the inputs, yes we are going one level lower in a drill-down process so we need to find a way to have that data surfaced on the `/charts` request (or some other endpoint) and make the `/data` requests work with this additional filtering.

@novykh this is a dependency to complete the **Single Node Dashboard should be replaced with Overview Dashboard filtering just one node** #27

[2022-02-17 12:29] novykh commented on #275
To clarify, I agree on getting the right data (instead of `all` when it's one node) - the low priority for me is the extra filter bar.

[2022-02-17 13:36] ghost opened #289 "Support Stale connection status for nodes"
Currently Status only shows as `Live` or `Offline`. With introduction of new arch and parent/child functionality, we want to support a new `Stale` status for nodes.

`Stale` is a status where the metrics received for a node are historical as the node is currently not streaming any metrics

Places where we should display this
* Nodes Tab, on every node
* Single node tab
* On node inspector, connect

[2022-02-17 13:51] hugovalente-pm commented on #251
since this is not easily reproducible, going to re-evaluate by trying to identify if other users are facing this issue (besides our internal PROD environment)

moving to blocked for the time being

[2022-02-17 13:58] hugovalente-pm commented on #253
@zeylos to give you a briefing on what we've found and where we are at.

the functionality of the Overview is working as expected, the 3 fping charts are available and show a consolidated view across the host being monitored, for you to be able to see the _breakdown_ per host you can switch the Group by option, on the composite charts, to `chart` that way you get the view of each chart per host, e

[2022-02-17 14:15] hugovalente-pm commented on #275
thanks for clarifying @novykh , then how would you see us moving this forward?

if we bring the dashboard engine from Overview to provide the Single Node view the same "mutations" happening on the Cloud BE would be a applied for a Single Node, right?

I might be missing something....

[2022-02-17 14:46] jjtsou commented on #264
@juacker The `chart` context was not sent because sometimes it was undefined in our previous approach. Opened a PR with a fix. Thanks for you inout on this one!

[2022-02-17 15:16] #237 closed

[2022-02-17 15:59] burbuli8ra commented on #237
Released on [v2.15.4](https://github.com/netdata/cloud-frontend/releases/tag/2.15.4)

[2022-02-17 16:19] cakrit opened #290 "[BUG] Immortal space refuses to go away"
I keep trying to leave the space in the URL below, I keep getting the message that it will be deleted and it keeps appearing again. Very stubborn little bugger.

https://app.netdata.cloud/spaces/github/rooms/general/overview#_f=

[2022-02-17 16:20] novykh commented on #246
<img width="579" alt="Screenshot 2022-02-17 at 6 19 01 PM" src="https://user-images.githubusercontent.com/601483/154524069-1d43e15e-1aeb-414b-8683-b52c7477e466.png">
@jacekkolasa should we open a new issue for this? Scrolling with a sticky header, you can see a couple of pixels of the row on the background above the header.

[2022-02-17 17:15] #262 closed

[2022-02-17 17:17] #264 closed

[2022-02-17 17:18] ktsaou commented on #279
@ralphm @dionysis-netdata I like the idea of having a new room `all nodes`, but then we will have a discrepancy. All users in `general`, without any ability to change that and all nodes in `all nodes` without any ability to change that either.

The problem today is that there is no global inventory of the infra. Everything is scattered everywhere so that users get lost and they have to learn what

[2022-02-17 19:32] novykh commented on #282
Is that something we can leverage ACLK to parallelize it? I mean even if agent had a generic `https://{env}.netdata.cloud/api/v1/nodes/{nodeID}/all-the-alarm-configurations` wouldn't cut it for the cloud, since we need to get all of the configurations for all the alarms for all the nodes of a room (or even space at some point).
So the question here is, can cloud get all of those without performanc

[2022-02-17 19:57] ktsaou commented on #282
Guys, the agent transfers to the cloud the whole alarm log (every state change) and for every unique alarm configuration (the agent sends a hash of the alarm config with every alarm event), the cloud requests and the agent sends alarm configurations to the cloud. It has been implemented in such a way to avoid sending duplicate information, so alarm configurations are sent only when the cloud does

[2022-02-18 09:52] ivangergo3 opened #291 "[BUG] Wrong right-side drawer content size"
**Describe the bug**
On the right-side drawer, the content size is not the same as the drawer

**To Reproduce**
1. Navigate to http://app.netdata.cloud
2. Login with google
3. Claim a node with the extra parameter "-h test"
4. Go to the Node tab
5. Open Nide Info, right-side drawer

**Actual behavior**
The drawer size and the content size is not the same

**Expected behavior**
The drawer content s

[2022-02-18 10:25] thanos-karachalios commented on #279
49% of connected nodes are under war-rooms named `general`. Remaining 61% in others

[2022-02-18 11:04] ralphm commented on #217
Related Agent PR: netdata/netdata#12021

[2022-02-18 14:11] sashwathn commented on #282
@amalkov and @car12o : If there is indeed a plan to change the current functionality and reduce the streaming data, I agree we should not change it. @ktsaou Does it make sense to show the alerts that are available (at any given point in time) from the Cloud and assume at some point in time we should have most of the alert configurations available.

@amalkov : Even if this is included as part of th

[2022-02-18 15:53] amalkov opened #292 "[BUG] Email not set message in Manage war room - Users tab"
**Describe the bug**

The list of Users in the Manage War Room drawer is not displayed correctly

**To Reproduce**

1. Select War room
2. Click the "War Room Users" icon in the top right corner
3. Check the list of Users under the "Users" tab

**Expected behavior**

Every item should display
FirstName LastName - EmailAddress

**Screenshots**

![image](https://user-images.githubusercontent.com/4232

[2022-02-18 17:20] YaroslavDev commented on #286
moved to https://github.com/netdata/product/issues/2806

[2022-02-18 17:20] #286 closed

[2022-02-18 18:10] YaroslavDev commented on #287
moved to https://github.com/netdata/product/issues/2807

[2022-02-18 18:14] YaroslavDev commented on #288
@thiagoftsm  thanks, good to know, I'll link Postgres docs here https://www.postgresql.org/docs/9.1/datatype-character.html

[2022-02-18 18:15] #288 closed

[2022-02-19 08:21] ktsaou commented on #279
Wow! That's a lot! This can mean 2 things:

* Either the problem of distributed inventory is too widespread and people are lost
* or people really get how to use war rooms and they use them intentionally

It may help to exclude:
1. Spaces with <3 nodes connected (no practical need for war rooms)
2. Nodes in war rooms that are alone in there (when war room node count = 1, the war room is accidental

[2022-02-20 12:05] ktsaou opened #293 "[BUG] Parent agent ACLK is connected, but cloud says is offline"
I have an agent running:

[code]

ACLK log:

[code]

Claim Id:

[code]

[code]

The node is called `box` and is a parent node.

[2022-02-20 12:26] ktsaou opened #294 "[BUG] agent is connected but no data queries"
[code]

[code]

The cloud shows empty charts:

![image](https://user-images.githubusercontent.com/2662304/154842405-a66fc5b0-052f-48a2-8579-2b7d861e12e0.png)

[2022-02-20 12:41] ktsaou commented on #294
Updating netdata to the latest version, fixes it:

[code]

[code]

[2022-02-20 13:07] #294 closed

[2022-02-20 13:19] ktsaou commented on #293
Tried to reinstall from source (this is a gentoo system):

[code]

[code]

Can't understand why this is not New: `Used Cloud Protocol: Legacy`.

This happened once:

[code]

Still not online at the cloud:

![image](https://user-images.githubusercontent.com/2662304/154844560-fb9bb1df-98c0-41d3-81ed-c68e1eb908e8.png)

[2022-02-20 13:31] ktsaou commented on #293
The connection is being dropped:

[code]

[2022-02-21 08:16] vkuznecovas commented on #293
This seems to be affected by https://github.com/netdata/product/issues/2803.

As far as the cloud is concerned, your agent is connected but missing relevant entries in other tables. Since those entries are missing, your connection status is not represented correctly and the agent is kicked out by the sanitization script every 15 minutes.

As a temporary workaround re-claiming should fix the proble

[2022-02-21 08:23] ktsaou commented on #293
Yes, very old indeed

Yes, it was working up to October or November. It is a gentoo box and it a pain to update, so it was online up to point the certificates were valid.

Yes, yesterday.

[2022-02-21 08:29] ktsaou commented on #293
https://github.com/netdata/product/issues/2803

[2022-02-21 10:51] underhood commented on #293
Event agent supporting new protocol still has to get green light from cloud to use new protocol. If new protocol is not allowed by cloud we will fall back and use old one.

[code]

So the connection is established successfully and even connect payload is sent and confirmed to be received by VerneMQ. We know that by `Wait before attempting to reconnect in 0.000 seconds` on next connection. This tim

[2022-02-21 11:00] hugovalente-pm opened #295 "In-section filter for sections where multiple families and instances exist"
## Goal

We need to provide flattened composite charts on certain sections the Single Node view page. The charts in these section will be presented as composite charts and through the use of an in-section filter bar (similar like k8s) users will be able to decide how to slice and dice the data on these.

Some examples of sections where this will apply are:
* Disks - families on in-section filter b

[2022-02-21 13:02] vkuznecovas commented on #293
We've just had a look with @papazach and in regards to this:

It's also caused by the missing entries in the database. In essence, the missing entries cause this whitespace to be seen as not whitelisted as the cloud is unable to match this claim ID to a space. If we fix the underlying issue, the env service will correctly respond with proto as the encoding.

[2022-02-21 13:11] thiagoftsm commented on #295
Hello @hugovalente-pm ,

Only to confirm that I understood the propose considering old meetings I had with PMs in the past. When you talk about `mysql`, `Cockroach DB`, and `VerneMQ`, does this mean that we will have per application submenu? Are we going to keep `apps`  and `services` submenu with this new approach?

Best regards!

[2022-02-21 14:46] ktsaou commented on #293
@underhood @vkuznecovas thank you both for the info.

All ACLK problems are very important and we should deal with them first priority.

Another important issue is that the agent believes is connected:

[code]

But it is not really! It is only connected at the transport level. At the application level, our backend is not acknowledging the agent. We should probably introduce another message from th

[2022-02-21 14:48] hugovalente-pm commented on #295
hey @thiagoftsm , at moment yes we will keep the `apps` and `services`

we are trying to see a way to tackle this Single Node Dashboard should be replaced with Overview Dashboard filtering just one node #278 and for that we need to expose some information that isn't available on the to the FE on the Overview page and besides we want to improve the usability of this, so if you are on a section with

[2022-02-21 15:31] thanos-karachalios commented on #279
room_name | space_group | name_room_count_in_spacegroup | total_room_count_in_spacegroup | percentage
-- | -- | -- | -- | --
General | 4-10 | 1306 | 2640 | 49.0
General | 11-20 | 199 | 744 | 27.0
General | 21-100 | 107 | 679 | 16.0
General | >100 | 13 | 159 | 8.0

[2022-02-21 17:28] novykh commented on #292
Fixed and deployed on prod.

[2022-02-21 17:28] #292 closed

[2022-02-22 08:52] novykh commented on #108
@jacekkolasa @dimko could you verify this is fixed on prod and close it if it is? Thank you

[2022-02-22 10:52] vkuznecovas commented on #293
I've deployed a fix for this recently, could you please check if everything looks ok on your side @ktsaou?

[2022-02-22 10:53] ktsaou commented on #279
@thanos-karachalios as we discussed, the above are "room counts".

What we need is (for every category / row):

1. Sum of number of unique nodes (not node instances) in space
2. Sum of number of unique nodes (not node instances) in space, that appear in `general` room

[2022-02-22 10:59] ktsaou commented on #293
Still offline on the UI.

[code]

restarting netdata to verify

[code]

ok, New protocol now...

And netdata crashed after a minute...

[2022-02-22 11:12] ktsaou commented on #293
[code]

[2022-02-22 11:13] ktsaou commented on #293
Rebuilding netdata with debug symbols without optimization flags, to make sure the trace is right. Let's hope it will crash again...

[2022-02-22 11:23] ktsaou commented on #293
Probably related to https://github.com/netdata/netdata/pull/12210

[2022-02-22 11:28] ktsaou commented on #293
It doesn't crash now.

I see these in the logs:

[code]

Still the agent is not online.
@vkuznecovas out of its children, only a couple are online in the UI. The rest (including the agent itself) are offline.

[2022-02-22 11:29] dionysis-netdata opened #296 "[BUG] Alarms space API returns 500 intermittently"
E.g.

/api/v1/spaces/..../rooms/alarms?last_updated=2022-02-22T11:18:08.41205281Z:1

This throws an error notification intermittently, while on Netdata Cloud

[2022-02-22 11:30] novykh commented on #290
@cakrit could you verify if it works on prod?

[2022-02-22 11:35] vkuznecovas commented on #293
So I've checked the SoT and materialized views, what you should be seeing on the cloud is 4 reachable nodes and 2 unreachable, only one of them seems to be connected directly to the cloud which is the `box`.

If you're not seeing this, could you clear the index db in the browser and refresh the page? I know that there were some issues reported in regards to that recently.

[2022-02-22 11:37] hugovalente-pm commented on #295
@novykh I've capture the requirements for the in-section filter bar, please take a look and let me know what you think

[2022-02-22 11:41] novykh commented on #295
Yeah they look good. My only asterisk is about the instances, we should check when we start working on this how to extract the instance consistently. (Maybe we are already doing this, but need to check the code)

[2022-02-22 11:42] #219 closed

[2022-02-22 12:14] ivangergo3 opened #297 "[BUG] Nodes shown as live even if they are not"
**Describe the bug**
Node showed as live even if they are not

**To Reproduce**
Check for instance gke-staging-streamnative-202103050938-299aaab9-1mtd node

**Expected behavior**
It should be shown as not live

[2022-02-22 12:22] ktsaou commented on #293
@vkuznecovas I deleted indexdb and refreshed. Still no luck...

* `box` (the parent agent, `c7a9cf8c-1882-11e6-944b-74d435e7ace6`) is unreachable.
* `costa-pc` (`0a841ab0-bc12-41a0-894a-e41fd5440eb8`) is live and responding via box (but this is also claimed directly and is live too). I see the parent sending chart and dimension updates.
* `rpi2b-1` (`2626d41a-39f1-407f-8965-c08d146e8c4d`), is live

[2022-02-22 12:43] vkuznecovas commented on #293
I think I might have found the cause for this. Let me verify the findings and I'll update this ticket.

[2022-02-22 13:21] thanos-karachalios commented on #279
Row | space_group | avg_unique_node_count_perSpace | avg_unique_node_count_perGeneralRoom
-- | -- | -- | --
1 | 4-10 | 6.0 | 4.0 |  
2 | 11-20 | 14.0 | 9.0 |  
3 | 21-100 | 38.0 | 16.0 |  
4 | >100 | 440.0 | 137.0

[2022-02-22 13:42] jjtsou commented on #219
@nil0x42 Hello again, I hope you are doing great.
We just made a release with a potential fix about your issue.
Is the bug fixed on your side?

[2022-02-22 13:44] stelfrag commented on #293
will check !

[2022-02-22 13:47] vkuznecovas commented on #293
I've done a detailed write up of what we've discovered on the cloud side of things in the internal ticket [here](https://github.com/netdata/product/issues/2803#issuecomment-1047802643). A short summary:

Nodes that have been inactive for more than 60 days are deleted from the cloud. However, the deletion is not propagated properly, resulting in you seeing nodes that are no longer there. In reality

[2022-02-22 13:54] stelfrag commented on #293
@vlvkobal please take a look (rrdset_set_name)

[2022-02-22 14:23] hugovalente-pm commented on #295
I'm not sure this help but for example the `instances` and the `famlies` can be seen on the list of the `charts` on a composite chart, e.g.:

**Disks**
![image](https://user-images.githubusercontent.com/82235632/155151535-85fdbf62-3e92-4fbf-9c6d-55d05454372c.png)

**Cockroach DB**
![image](https://user-images.githubusercontent.com/82235632/155151056-e11dece5-ab9f-4afb-88cd-5225281fac42.png)

[2022-02-22 14:43] dimko commented on #297
closing as duplicate to this one https://github.com/netdata/netdata-cloud/issues/271

[2022-02-22 14:43] #297 closed

[2022-02-22 15:08] vlvkobal commented on #293
Nothing has changed except variable names in this part of the code. We should keep this message at the `INFO` level because it's very difficult to debug chart name clashes without these messages.

[2022-02-22 19:07] TonyPath commented on #184
Hi @hugovalente-pm , Those nodes doesn't have the fix. Need to be updated

[2022-02-22 19:09] ktsaou commented on #293
Crashed again:

[code]

[2022-02-22 19:11] ktsaou commented on #293
https://github.com/netdata/netdata/blob/master/database/sqlite/sqlite_aclk_node.c#L38

[2022-02-22 19:29] thiagoftsm opened #298 "[BUG] `list-node` shows wrong information for reachable nodes"
**Describe the bug**
I have a online host, and cloud is showing it, but when I access `list-nodes`, it is saying that my host is 32 days unreachable.

**To Reproduce**
Steps to reproduce the behavior:

Connect a host and access `list-nodes`.

**Expected behavior**
A clear and concise description of what you expected to happen.

When my host connects with cloud, I wanna see the status that matches

[2022-02-22 19:34] ktsaou commented on #293
@stelfrag found the reason for these crashes. A few child netdata are very old and some host info structures are null, but the parent does not check before using them, so it crashes.

[2022-02-22 19:54] thiagoftsm opened #299 "[BUG] Laptop classified as container"
**Describe the bug**
My laptop is classifed as `container`, but I installed netdata direct on host.

**To Reproduce**
Steps to reproduce the behavior:

1. Compile netdata from scratch.
2. Connect to cloud.
3. Get local information `/api/v1/info` and verify that you do not have any node set, this is my [info](https://github.com/netdata/netdata-cloud/files/8119657/info.txt).
4. Access the host dashb

[2022-02-22 20:35] ktsaou commented on #293
@vkuznecovas check this:

[code]

[2022-02-22 20:40] ktsaou commented on #293
@stelfrag @underhood the nodes above that have null claim id (`pi1`, `pi2`, `pi3`) is it possible that the agent does not claim them at all? These nodes are old (running netdata 1.19), but the parent is recent (1.33.1-45). So, the parent should claim them, but it seems it does not.

[2022-02-22 20:48] ktsaou commented on #293
It seems that the agent didn't claim the `pi1`, `pi2` and `pi3`:

[code]

The machine guids of the 3 nodes, are not in the log.

[2022-02-23 07:55] ktsaou opened #300 "[BUG] Node inspector, false and incomplete information"
Host `box` in `tsaousis` space:

[code]

![image](https://user-images.githubusercontent.com/2662304/155279120-f2568a04-2ddc-44ac-b0b2-10b83c0f3213.png)

Issues:

1. It is a `bare-metal` machine but it appears as `container`.
2. The label `Hard disk space` is misleading. It actually refers to `Hard disk(s) size`. Space goes to size availability, useful for data, while the detection provides only th

[2022-02-23 08:19] ktsaou commented on #300
Host `boxe` in `tsaousis` space:

[code]

[code]

It is interesting that Arch provides URLs too.

[code]

![image](https://user-images.githubusercontent.com/2662304/155282358-787dcbb5-ba59-4e62-a73b-fedb62e31c23.png)

1. `O/S version: linux` should be `O/S version: Arch Linux, rolling`

[2022-02-23 08:28] ktsaou commented on #300
Host `rpi2b-1` in `tsaousis` space:

[code]
[code]

[code]

![image](https://user-images.githubusercontent.com/2662304/155283939-05b44c5c-b669-4b8d-bb68-91d6a1c95fda.png)

1. `O/S version: linux` should be `O/S version: Raspbian GNU/Linux 10 (buster)`
2. Hard Disks are not detected (probably SD cards are excluded because they are removable?)

[2022-02-23 10:02] hugovalente-pm commented on #184
good catch! sorry for the false alarm @TonyPath didn't remember to check the version of the agent 🤦‍♂️

@andrewm4894 I know you reported this at some point in time, if you want to see this fixed on posthog nodes they will need to be updated

[2022-02-23 10:25] stelfrag commented on #293
The `claim id` indicates if that node is claimed by itself. It is send from the child to the parent via streaming

[2022-02-23 11:04] dimko opened #301 "[BUG] Node status in db is live even though account and space hosting it is deleted"
Steps to reproduce:

1. Create an Account X in netdata cloud
2. Account X has a single space in it Space A
3. Claim Node Y in Space A
4. Delete Account X
5. Kill node

Expected
Node should not be live in our system

Actual
Node reports **liveness=true**

Since Space A has a single user attached to it (Account X), after account deletion, the space is also deleted.
**Account was deleted before node

[2022-02-23 11:05] dimko commented on #301
Lower priority issue due to the conditions to trigger it, but I think it's related to the following issue https://github.com/netdata/netdata-cloud/issues/271

[2022-02-23 11:22] #259 closed

[2022-02-23 11:25] burbuli8ra commented on #259
Released on [v2.15.3](https://github.com/netdata/cloud-frontend/releases/tag/2.15.3)

[2022-02-23 11:35] stelfrag commented on #293
@vlvkobal  We can add the info (move it a bit) if there is actually a clash

[2022-02-23 12:11] thiagoftsm commented on #299
I observed that @ktsaou detected a problem analogous to this, and he also made an issue https://github.com/netdata/netdata-cloud/issues/300.

I would like to call attention that we are running different Linux distributions.

cc: @dionysis-netdata @cpipilas

[2022-02-23 12:14] ivangergo3 commented on #108
@novykh @dionysis-netdata I have checked, please see my findings below

Some of the unreachable nodes are disappearing for the B user, but not all
And if I have been there already, checked what about the live noes, and they have the same problem.
I removed 4 unreachable nodes, logged in and checked. Logged out then removed 4 reachable nodes. And logged in to check again.

3 of the unreachable node

[2022-02-23 14:03] dionysis-netdata opened #302 "Node inspector to support jsn info copy"
**Acceptance Criteria**
* The node inspector should offer the JSON object for users to copy it.

<img width="639" alt="image" src="https://user-images.githubusercontent.com/95340881/155333512-06ec730e-9339-423f-b846-e0e3c72c425d.png">

Example json that should be copied:
[code]

**Notes**
* https://github.com/netdata/netdata-cloud/issues/300

[2022-02-23 14:17] ghost opened #303 "Enrich Node inspector with CPU vendor attribute"
We want to enrich the node inspector to also show the CPU vendor that is captured by Netdata Agent

**Notes**
* https://github.com/netdata/netdata-cloud/issues/300

[2022-02-23 14:22] dionysis-netdata commented on #303
@cpipilas @stelfrag , we would like to get this information displayed on the node inspector. Looking that the nodes API I see that info is missing. Is this something we can expose easily?

[2022-02-23 14:33] ghost opened #304 "OS displayed on node inspector is incorrect"
Currently, for displaying the operating system we use the `os` attribute from the nodes API to display the node's OS. But this is more like the kernel name. We should render `osName` and `osVersion`

In addition let's add `architecture`

And rename `Hard disk space` to `Hard disk size`

Notes
* https://github.com/netdata/netdata-cloud/issues/300

[2022-02-23 14:34] dionysis-netdata commented on #304
@cpipilas , @stelfrag - similarly I assume we also need to get more data exposed about the OS for a node to present the correct information

[2022-02-23 15:37] sashwathn commented on #282
Had a discussion with @MrZammler on the requirement and he will come up with his suggestions / response later tomorrow. Tagging him here..

[2022-02-23 16:06] MrZammler commented on #282
Hi guys! Sorry it took so long to reply, started using github notifications now (I actually responded to another similar ticket).

So basically we need to show on the cloud the _configurations_ of the _configured_ (i.e. running) alerts of an agent. If we need to show any more information, then it would be another discussion.

The currently running alerts on an agent can be get via "/api/v1/alarms?

[2022-02-23 16:10] dionysis-netdata opened #305 "[BUG] Node type (container, vm, bare-metal) logic is incorrect"
There are cases where our calculation for a node type is incorrect. Example is latest ticket raised by @thiagoftsm #299 where nodes are marked as `container`. Same as the examples raised by @ktsaou under #300.

The examples on those tickets should have been bare-metal. They have a value of `container: unknown` and as per our implementation logic they are marked as containers (incorrectly).

I also

[2022-02-23 16:11] dionysis-netdata commented on #300
@ktsaou I created separate tickets to follow on each of the problems described in this ticket.

[2022-02-23 16:36] dionysis-netdata commented on #305
@cpipilas , @stelfrag Can you verify or comment on our calculation algorithm ?

[2022-02-23 16:46] sashwathn commented on #282
Thanks @MrZammler!
@amalkov  and @ktsaou: It will be good to have your comments on the approach to be followed and if this is okay to proceed!

[2022-02-23 18:35] ktsaou commented on #282
Guys, this becomes noisy. Let's add some clarity.

At the agent there is always a transition for an alarm. The alarms on the agent transition like this:

https://github.com/netdata/netdata/blob/d2030d0241ec30a372c84656ff6a7bc3fe0c9e81/libnetdata/eval/eval.h#L10-L18

1. `RRDCALC_STATUS_UNINITIALIZED`
   when netdata starts
   (https://github.com/netdata/netdata/blob/b87473c481283bbd936661fb15c3bd63

[2022-02-23 18:53] ktsaou commented on #305
@dionysis-netdata I suggest to go at #299 and #300 and ask your team to post there the json objects of the nodes, as they have them. Once they post these data, we will find the bug.

PS: This is another reason, why the json objects should be available at the UI. Now we have to ask for them...

[2022-02-23 19:21] ktsaou commented on #293
Update. I installed https://github.com/netdata/netdata/pull/12223
Now the crashes are gone.

I see at the cloud all the nodes now, but:

1. box, the agent node, works perfectly
2. bedtv, works, but not through this parent. It works directly.
3. rpi2b-1, works,  but not through this parent. It works directly.
4. pi1, is shown as online, but no data requests are sent to the parent.
5. pi2, is shown

[2022-02-23 19:46] ktsaou commented on #300
I updated the tickets with the JSON objects.

Here is my findings.

1. On the cloud, `node.container = unknown` is consider a `container`. It shouldn't (the rest of the logic is right).
   The reason is this (at the agent):
[code]
   At the agent, the above are right (if we can't detect a container, then it is unknown if it is container or not).
   So, on the cloud we shouldn't treat `node.contain

[2022-02-23 20:04] sashwathn commented on #282
@ktsaou This issue is not about fetching any active alerts but only to fetch and display all the configured alerts on the node (which are relevant).

Right now, the Cloud does not have all the alert configurations "until" an alert of this type is raised. We want to see how we can give the user a view of the configured alerts even before an alert of the said type is raised.

I can schedule a short

[2022-02-23 20:05] cboydstun opened #306 "[INTERNAL SUBMIT] War Room Naming"
**Describe the bug**
Cannot give new war room a name that includes spaces. For example, "War Room" is *not* valid, but "WarRoom" is valid. Trying to use spaces will reveal the error "There's an unexpected character in the War Rooms's name. Use only Unicode characters, and no spaces." Chris A witnessed this error and said it should be addressed.

**To Reproduce**
Steps to reproduce the behavior:
Lo

[2022-02-23 20:07] ktsaou commented on #279
Thank you @thanos-karachalios !

So, the bigger the space, the less nodes appear in the general room.

I understand the `general` room will become too big for the users with a lot of nodes.

Still:

1. we lack a centralized nodes management page, a page that users can see all their nodes.
2. new users get confused with war rooms - it is more suited for bigger setups.
3. all users are always in `ge

[2022-02-23 20:10] ktsaou commented on #282
No, this is not right. Check the flow:

1. The agent always has transitions for every alarm - there is no alarm without transition
2. The agent transmits all transitions to the cloud
3. The cloud received all transitions from the agent
4. If the cloud does not have the configuration of a transition it received, it requests the configuration from the agent
5. The cloud has transitions and all confi

[2022-02-23 20:16] cboydstun opened #307 "[BUG] [INTERNAL SUBMIT] 500 error adding second node"
**Describe the bug**
A clear and concise description of what the bug is.
Created a new space with a new war room. Used kickstart script to add a brand new virtual machine that was freshly created - not copied. Agent installed successfully and it claimed the node without a problem, but I got a 500 error from the cloud. See screenshot.

The error clear up after I restarted the virtual machine and ma

[2022-02-23 20:24] ktsaou commented on #295
probably we need a ticket just for that.

[2022-02-23 21:17] ktsaou commented on #282
There are no such alerts, by design.
If there are, it is a bug and needs to be fixed.

[2022-02-23 21:21] hugovalente-pm commented on #295
We had this one netdata/product#2349 but this was more towards moving these instances as levels on the TOC, I can open a new one if it helps breakdown things @novykh

[2022-02-23 22:22] ralphm commented on #279
The biggest issue I have with the approach of having all users and all nodes in `general` is that you can no longer use rooms for controlling access. Having the ability for _admins_ to see the complete inventory makes sense to me, but I am not sure this extends to all users. Also, does this mean all users get alerts on all nodes by default?

[2022-02-23 23:38] thiagoftsm commented on #299
I compiled the latest master branch now to give additional information:

[code]

[2022-02-24 08:22] stelfrag commented on #293
Identified the problem with this. Children running version < 1.31 will not correctly register to the cloud (via the parent)
Fix is being prepared.

_Reason:
The node_instance registration on the parent happens with a new CLAIM streaming command which is not available to older versions. The fix will make sure the parent takes care of that._

[2022-02-24 08:31] MrZammler commented on #282
I understand what @ktsaou means. The cloud could deduce the configured alerts from the events we already exchange. I don't know how easy this is though. The change that would be required is to fetch the configurations for all of them, not just those in warning or critical.

My suggestion for the agent to send them at the start/health_reload was for to help in the above situation. We would only sen

[2022-02-24 09:54] dionysis-netdata commented on #305
To recap: The calculation implemented on Cloud FE under https://github.com/netdata/cloud-frontend/issues/2889
treats `container: unknown` in Cloud as type `container`.

This is the case for both cases reported under #299 and #300.

As per @ktsaou 's comment https://github.com/netdata/netdata-cloud/issues/300#issuecomment-1049150109
a value of `container: unknown` shouldn't NOT be of type `containe

[2022-02-24 10:13] ktsaou commented on #282
So you are saying that today the cloud fetches alarm configs only for warning and critical transitions?

It does not fetch configs for clear, uninitialized, undefined, removed?

[2022-02-24 11:28] amalkov commented on #282
The main question is about what we need to implement?

We are planning to stop streaming uninitialized and undefined states, it means that some alert configurations might be missing on the cloud (not now, in the nearest future). This is why we should not relay on cloud data in this case.

Another reason, is we do not have an explicit state that a specific Alert is currently active on the Agent.

T

[2022-02-24 12:00] amalkov commented on #279
I'm sharing the same concerns as @ralphm mentioned.
On top of it...

What we are trying to address? - Nodes should not be lost!

This is why we need a Node management page without any dashboard overview capability but fast, clear, and manageable...
Where all nodes will be listed.

Nodes that are not claimed into any warroom will be highlighted and filtered by default.

Another reason, Is what I as

[2022-02-24 13:55] ktsaou opened #308 "[BUG] /data queries in overview are slow (10s), one node gives "internal error""
Data request in the overview dashboard of the `general` room in `tsaousis` space:

[code]

Note this:

[code]

[2022-02-24 14:05] MrZammler commented on #282
I believe so, but cloud backend guys could clear this though better.

[2022-02-24 14:16] ktsaou commented on #308
I see this is also happening on staging, at the `netdata-cloud-stg` space, `general` war room:

[code]

In some cases, internal server errors happen with `0s` latency, others with `10s` latency.

[2022-02-24 14:19] dionysis-netdata commented on #256
@libekonst is this closed/released?

[2022-02-24 14:26] MrZammler commented on #282
https://github.com/netdata/product/issues/2819

[2022-02-24 14:42] sashwathn commented on #282
@ktsaou @amalkov @MrZammler
We discussed this topic in detail over a call and we have a few complications in "Displaying configured alerts" given the current state of visualisation. Summary from the discussion:

1. The Alerts tab should not be touched as it aggregates the alerts from all the nodes in a War room. And in the case of the new General (All) room, this will make it even more complex as

[2022-02-24 16:00] ktsaou commented on #279
@ralphm @amalkov

Based on our discussion we concluded that:

1. We will support a kind of dynamic war room membership for nodes.

2. New spaces created, will get this dynamic war room membership matching all nodes, at the `general` war room.

3. The Overview dashboard will be limited to 100 nodes for charts to appear. If any war room has more than 100 nodes, the Overview dashboard will present a

[2022-02-24 16:24] burbuli8ra commented on #256
Yes @dionysis-netdata !

[2022-02-24 16:27] #256 closed

[2022-02-24 16:28] libekonst commented on #256
@dionysis-netdata Yeah, it is merged. Had this linked to another issue and forgot to update this one

[2022-02-24 16:53] ktsaou commented on #293
I reinstall netdata with the latest merges. No change. The status is exactly the same as above https://github.com/netdata/netdata-cloud/issues/293#issuecomment-1049130156

[2022-02-24 17:04] stelfrag commented on #293
yes the issue I mentioned in https://github.com/netdata/netdata-cloud/issues/293#issuecomment-1049603656 is not fixed (Pr coming up), but the "crash fix" that was linked auto-closed the issue

[2022-02-24 17:15] papazach commented on #308
Hello @ktsaou, let's start with prod nodes.

So for this one:

[code]

This is `pi1` with node_id: `e0d74612-cf5a-4030-959c-de5dee3d793a`, claim_id: `c7a9cf8c-1882-11e6-944b-74d435e7ace6` and machine_guid : `a3bb4986-197a-11e6-9324-b827ebe850c4`.
 It runs `v1.19.0-41-gc8c8f13` (noticed that it also has strange system info (0B RAM, 0B Hard disk space and 0 Hz) and is a child (has hops 1) but cannot

[2022-02-24 17:37] papazach commented on #308
Concerning the other node that failed in the response you posted. That is pi2 running `v1.19.0-41-gc8c8f13`.
It has a node_id : `3ed8bb08-f2d3-4054-b423-67a8313fb130` , mguid : `d5874cc6-1afb-11e6-859b-b827ebd15026` and the same claim_id as pi1. Again from the Cloud side it is a child (hops 1), again parent does not exist in the Cloud.

Also `pi2` seems to have connected with the new arch, could y

[2022-02-24 17:40] hugovalente-pm commented on #282
Showing any configured alerts as an aggregation of all the nodes will make it pretty much unusable for our users.

@sashwathn just to share in case this isn't known to you, in the past, there were some iterations on trying to introduce tabs inside Alerts one to bring War room level information on:
* Active alerts
* All configured alerts - allowing to do actions, delete, silence, change configs
* L

[2022-02-24 17:51] ktsaou commented on #293
which is this PR?

[2022-02-24 18:19] stelfrag commented on #293
https://github.com/netdata/netdata/pull/12241

[2022-02-24 18:19] stelfrag commented on #308
The missing ram, disk etc information is expected because v1.19 was not streaming the info the parent.

A small fix needs to be applied https://github.com/netdata/netdata/pull/12241 so those old agents will be registered via the parent.

[2022-02-24 18:24] stelfrag commented on #308
The parent is "speaking" the new arch, so a v1.19 agent (released November 2019) should appear in the cloud just fine.

This means that after the fix I mentioned above, it will not be strange to see "old version" agents that connect to the cloud via a parent with a recent version (latest nightly that will get the fix)

[2022-02-24 18:57] papazach commented on #308
Thanks a lot @stelfrag for your input.

It seems that `box` is the parent, with node_id: `01702efd-af72-45b0-8e2f-33d806e5699f`, claim_id : `c7a9cf8c-1882-11e6-944b-74d435e7ace6` and mguid : `c7a9cf8c-1882-11e6-944b-74d435e7ace6` and hops = 0

So from the Cloud we reach out to query `box`'s `pi1` node instance perform a /data query similar to this one:

[code]

and we timeout waiting for its respo

[2022-02-24 19:09] sashwathn commented on #282
Thanks @hugovalente-pm. Let us discuss this in the prioritisation meeting tomorrow.

[2022-02-25 01:23] gnuchu opened #309 "[BUG] Mac install code doesn't work"
**Describe the bug**
First time user. Presented with the following code to install on a mac (copied from the new user screen):
`curl https://my-netdata.io/kickstart.sh > /tmp/netdata-kickstart.sh && sh /tmp/netdata-kickstart.sh --claim-token <token> --claim-rooms <roomid> --claim-url https://app.netdata.cloud`

 Produces the error:
[code]

However this installation does not exist:

[code]

**Expec

[2022-02-25 05:41] ktsaou commented on #308
@stelfrag thanks for the fix. I hope it will take care of the registration.

Still, I am trying to understand why the cloud times out after 10 seconds.

So, the cloud does sent a request, the agent receives it, but it does not respond?
This should never be happening. A cloud request should always be answered by the agent, even with an error!

**Silently ignoring cloud requests is the worst possibl

[2022-02-25 06:29] stelfrag commented on #308
Currently if a node id is unknown and the agent receives a request it will record in the `error.log`. We will adjust it to go to the access log and verify it produces a response.

[code]

[2022-02-25 06:35] ktsaou commented on #308
Does the agent still respond with an error response?

[2022-02-25 06:36] ktsaou commented on #308
I see such errors:

[code]

[2022-02-25 07:35] ktsaou commented on #308
After https://github.com/netdata/netdata/pull/12241 being merged, the status is this:

1. The timeout is gone, although we need to properly respond in all cases (waiting new PR from @stelfrag )
2. All nodes now appear at the cloud are querable
3. `bedtv` and `rpi2b-1` are still not queried through the parent. All data requests go to the child. @papazach I understand this is a routing problem at th

[2022-02-25 07:41] stelfrag commented on #308
Issue is https://github.com/netdata/netdata/issues/12243

[2022-02-25 07:44] papazach commented on #308
Good news 👍🏼

Concerning point 1. I think we should agree upon a proper response from the Agent to the Cloud so as to be sure from the Cloud side that we're trying to query a node that the Parent does not know of.
We can further discuss in the ticket that Stelios created.

About point 3. let me check check why and respond back here.

[2022-02-25 08:42] papazach commented on #308
Ok so regarding `rp2b-1` (node_id: `2626d41a-39f1-407f-8965-c08d146e8c4d`) :

- Child node instance has claim_id: `c7a9cf8c-1882-11e6-944b-74d435e7ace6` and mguid: `44bbfb16-827f-11ea-bc9f-b827eb91870b`. I see that it has very limited retention (a few mins) and it is on DBEngine mem mode.

- Parent node instance has claim_id: `44bbfb16-827f-11ea-bc9f-b827eb91870b` and mguid: `44bbfb16-827f-11ea-bc

[2022-02-25 09:03] ktsaou commented on #282
Guys we need a meeting. It seems hard to discuss this here.
@sashwathn please arrange for a meeting.

My comments:

@amalkov please read again my comment https://github.com/netdata/netdata-cloud/issues/282#issuecomment-1049089813
No, no alert configuration should ever be missing from the cloud.

I don't get this. Why? When this happens?

Questions:

1. What are we going to do if the agent is not t

[2022-02-25 09:14] ktsaou commented on #308
Great! Yes, the requests should be routed to the parent. Looking forward to solve this!

[2022-02-25 09:52] sashwathn commented on #282
I have called for a meeting on Monday to discuss this further.
The initial requirement was brought up to show more **node-level** configurations but having them at an **infra / war-room** level as shown above would be useful and it is now to be seen how much work this is for FE, BE, Agent etc..

[2022-02-25 10:19] #287 closed

[2022-02-25 10:46] ktsaou commented on #282
The example view I posted above is draft. We need to think more of it. Important information is missing. So, let me enhance it a little:

# Level 1 - Configured alerts in war room

There are 200 nodes in war room `general`. Currently `REMOVED` alerts are not included.

Alert Name|Nodes<br/>Running It|Critical<br/>Nodes|Warning<br/>Nodes|Clear<br/>Nodes|Error<br/>Nodes|Unique<br/>Configs
:---:|:---

[2022-02-25 10:52] amalkov commented on #282
@ktsaou after our catch-up with @ralphm you already clarified the reason behind your idea and I agree with it.

Our conversation with @sashwathn was before our discussion this is why it is a bit outdated... but I agree let's sync all together and finalize action points.

[2022-02-25 10:57] hugovalente-pm opened #310 "[BUG] Datetime picker doesn't display "last 1 day/24 hour""
**Describe the bug**
When I set the datetime picker for a period of 1 day/24 hours this information isn't displayed
![image](https://user-images.githubusercontent.com/82235632/155702877-862f32c9-79cb-42a2-906c-2453645904be.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a War Room Overview or Single Node View
2. Select the datetime picker interval to 24 hours or 1 day
3. Notice th

[2022-02-25 10:57] hugovalente-pm commented on #310
@dionysis-netdata @novykh opened this one on the datetime picker

[2022-02-25 11:25] #184 closed

[2022-02-25 12:46] burbuli8ra commented on #305
@dionysis-netdata and @ktsaou since I am doing the update, I noticed that we treat the keyword `unknown` as `vm` in `virtalization` as well?
Do we maybe want to treat `virtualization: unknown` as well as no virtual machine?
Please note that this means that the label will be `Bare metal` in that case!

[2022-02-25 13:00] ktsaou commented on #305
@burbuli8ra leave it as is. Let's find a case that is wrong.
I see above, we have detected only 181 nodes with `unknown` virtualization so far, unlike the 28k with `unknown` containers.

[2022-02-25 13:00] burbuli8ra commented on #305
Thank you @ktsaou !

[2022-02-25 13:56] thanos-karachalios commented on #305
@dionysis-netdata

here are some data for the request. Tables are from `vw_node360` and `node_nodes_info_latest` (not limiting to reachable nodes or not as discussed)

Row | virtualization_type | container_type | counts
-- | -- | -- | --
1 | null | null | 19 |  
2 | $(systemd-detect-virt -v) | docker | 1 |  
3 | $(systemd-detect-virt -v) docker-compose up | docker | 1 |  
4 | amazon | none | 903 |

[2022-02-25 14:21] hugovalente-pm commented on #251
tried to identify if users were facing this issues by checking [smartlook recordings](https://app.smartlook.com/org/b35fb2dc33bf73a24f2c67e9/project/4ae85ca783f38225e0d2903e/recordings?segment=SiLujksQ0q), from among 20 something recordings only people accessing our PROD War Room were facing the issue.

[2022-02-25 16:12] ravilushqa commented on #182
We have a quick call with Gergo and we are stuck in some confusing things that need to reinvestigate.
As I have some more prior things to be done, I'll not waste time on it right now until more prior things will be done

[2022-02-25 16:12] ravilushqa commented on #182
We have a quick call with Gergo and we are stuck in some confusing things that need to reinvestigate.
As I have some more prior things to be done, I'll not waste time on it right now until more prior things will be done

[2022-02-25 16:13] modem7 commented on #182
No worries! Glad it's not my end!

I'll hold until you need something from me!

Thanks for looking at it!

[2022-02-25 17:11] MikeJakubik opened #311 "[BUG] Cant remove stale/non working nodes via webui or kicakstart script"
Hi,

I have a node that changed hostnames, ever since then I've been unable to get it running in the CLoud UI (there is no such option). I tried deleting /var/dn/netdata/cloud.d and passing a new UUID only to get this error.

Connection attempt 1 successful
Failed to claim node with the following error message:"invalid node id"

Nothing is being reported in the error log but the webui shows the no

[2022-02-25 17:39] ktsaou commented on #300
@novykh 2, 3, and 4 are very simple to do. Can we please fix them?

[2022-02-25 18:16] novykh commented on #300
1 is difficult?

[2022-02-25 18:19] novykh commented on #300
3 should be added on this node info thing? After which element?

[2022-02-25 18:26] dionysis-netdata commented on #300
after kernel

It's already done by @burbuli8ra  under https://github.com/netdata/netdata-cloud/issues/305. (btw she asked the same q) :P

[2022-02-25 18:31] TonyPath commented on #308
Just a quick update with some findings:
Regarding `rpi2b-1`
- go to single node view
- navigate to `Requests received from cloud via HTTP by their type` chart from Netdata Monitoring > aclk
- see only two dims (`data` & `other`)

![chrome-capture (4)](https://user-images.githubusercontent.com/2017356/155762662-50d758d8-e638-4ad0-99b3-cffec4083870.jpg)

- Execute by hand an info request to the pare

[2022-02-25 18:55] ktsaou opened #312 "Cloud UI elements are too bright, making the entire UI too busy"
@vinnygats Let's discuss this.

[2022-02-25 20:05] ktsaou commented on #300
As @dionysis-netdata said it is already done by @burbuli8ra.
Don't do it for virtualization. We don't know yet if it is wrong the way it is.
Sorry for that, but it is some trial and error. We need users to tell us where the faults are in our logic.

As @dionysis-netdata said, before the kernel.

[2022-02-27 00:21] ktsaou commented on #308
@TonyPath you are interpreting this wrong.

When you view `rpi2b-1` single node dashboard all data on these charts are generated on the CHILD. Not the parent.

When the parent serves ACLK requests for a child, the parent's ACLK charts get updated, not the child ones.

I have the access log of both nodes.

When you hit the single node dashboard of the `rpi2b-1`, the CHILD gets all the requests. The

[2022-02-27 07:54] ktsaou commented on #271
@papazach @vkuznecovas can we update the sanitization script to mark all these nodes as offline?

[2022-02-27 07:54] ktsaou commented on #271
Do we know how many nodes are in this phantom state?

[2022-02-28 10:59] ktsaou opened #313 "[BUG] composite charts are not reliable for the latest point of the chart in play mode"
Composite charts are not reliable for the latest point in play mode.

Related to https://github.com/netdata/cloud-frontend/issues/3003 (to see how it looks to users). Notice the discrepancy in legend and graph, also the jumping graph (there is another bug with the y-axis not rendered there, which is pure UI issue).

The data source is 4 nodes, each having the value 1 for the entire lifetime of the

[2022-02-28 11:27] TonyPath commented on #308
@ktsaou

After further investigation here is more enlightening findings:

Lets take as an example the chart id = system.io

For parent `2626d41a-39f1-407f-8965-c08d146e8c4d / 44bbfb16-827f-11ea-bc9f-b827eb91870b`
we have in chart DB the following in
[code]

For child `2626d41a-39f1-407f-8965-c08d146e8c4d / c7a9cf8c-1882-11e6-944b-74d435e7ace6`
we have in chart DB the following in
[code]

Now upon

[2022-02-28 11:28] burbuli8ra commented on #305
Released on [v2.17.2](https://github.com/netdata/cloud-frontend/releases/tag/2.17.2)

[2022-02-28 11:28] #305 closed

[2022-02-28 12:11] vkuznecovas commented on #271
I'll take a look at this.

[2022-02-28 12:15] ktsaou opened #314 "[BUG] composite charts show wrong data when nodes have multiple granularities"
In space `tsaousis` I created war room `multi-granularity` with 2 nodes:

1. `box`, with `update_every = 1`
2. `pi1`, with `update_every = 5`

I tried to find a steady chart on both of them.

Here is entropy on `box`:

![image](https://user-images.githubusercontent.com/2662304/155980162-98b8328a-6204-4258-8175-a1dc5bf706ea.png)

(yes, I know there is a bug in the y-axis https://github.com/netdata/

[2022-02-28 12:46] dionysis-netdata commented on #304
@novykh I suspect you may already have implemented this?

[2022-02-28 12:52] ktsaou opened #315 "[BUG] composite and single node charts are faulty when the agent has stopped collecting data (old chart data)"
Composite charts show this:

Custom dashboard showing above a composite chart and below a single node chart:

![image](https://user-images.githubusercontent.com/2662304/155986341-4149336d-6b81-4aa2-a147-1c5cc583248c.png)

---

## Composite charts

The composite  `/data` query fails with this (it was just one node):

[code]

The chart shows this:

![image](https://user-images.githubusercontent.com/

[2022-02-28 12:57] ktsaou commented on #315
Found the issue:

The agent does not have latest data:

[code]

[code]

So the chart is 2 days old.

[2022-02-28 14:30] #204 closed

[2022-02-28 14:31] #159 closed

[2022-02-28 14:31] #196 closed

[2022-02-28 14:31] #244 closed

[2022-02-28 14:32] #108 closed

[2022-02-28 14:32] #246 closed

[2022-02-28 14:39] jacekkolasa commented on #246
@novykh do you still see it? i couldn't recreate it

[2022-02-28 14:44] dimko commented on #252
THis is fixed. closing

[2022-02-28 14:44] #252 closed

[2022-02-28 15:12] TonyPath opened #316 "[BUG] routing issue for /data queries"
Full context comes from [#2637](https://github.com/netdata/netdata-cloud/issues/308)

Data requests go to the child instead of going to the parent. The issue is related with the way that retention is calculated.
More info can be found [here](https://github.com/netdata/netdata-cloud/issues/308#issuecomment-1054160357)

Actual implementation detailed on Modify /data request node instance routing log

[2022-02-28 15:17] #257 closed

[2022-02-28 15:21] ktsaou commented on #308
Guys, why you evaluate retention?

If more than one instance has the data we need (based on the duration of the query) use the agent with the higher hops. Why to route based on retention?

[2022-02-28 17:30] burbuli8ra commented on #300
Hello @dionysis-netdata and @ktsaou !
`1` has been implemented and included in release [v2.17.2](https://github.com/netdata/cloud-frontend/releases/tag/2.17.2)
`2` & `4` have been implemented and will be included in the next release!
For `3` it was also needed an update in `Netdata UI` in order to get the icon that will be used in `architecture` row, so not sure if it will be implemented in the ne

[2022-02-28 17:35] dionysis-netdata commented on #299
Released on [v2.17.2](https://github.com/netdata/cloud-frontend/releases/tag/2.17.2)

[2022-02-28 17:35] #299 closed

[2022-02-28 17:48] sashwathn commented on #282
## Summary of meeting on 2022.02.28

- All the data to display configured alerts are available in the cloud backend
- End points for all the data need to be created for front end to access.
- 3 End points: Level 1 UI for all configured alerts on a war room, Level 2 UI for all configured alerts on a node and Level 3 UI for the node instance topology to identify the number of alert configurations co

[2022-02-28 18:00] sashwathn opened #317 "Alerts Smartboard: Enhance the Configured Alerts display to show notification details"
##Issue

On the node-level (Level 2 UI) Alerts configuration display, include the notification details:

- Notification status - sent, pending
- Notification failure reason
- Silenced notifications
- Delayed notifications etc

[2022-02-28 20:45] papazach commented on #308
Originally we were routing /data requests by hops desc. taking into account queryability and liveness - if data request was about "live" data.
At that point in time, DB performance issues did not permit us to compare overlap between the requested time-window and the various first/last entries of the node's node instances.

Then after discussions with Mano and the fact that in the majority of the c

[2022-02-28 21:39] ktsaou commented on #308
ok, thank you for the explanation @papazach

[2022-02-28 22:22] novykh commented on #304
Yes will be deployed in tomorrow

[2022-02-28 22:25] novykh commented on #246
Havent seen it. Will reopen if needed

[2022-03-01 10:55] hugovalente-pm commented on #313
or

Option 1. seems "simpler", but not sure what work would be needed and where.
a) would FE send the same request as now (RELATIVE) and these are translated to ABSOLUTE on BE and then sent to the agents?
b) would FE need to already send the request as ABSOLUTE and BE would just pass it on to the agents?

Option 2. would probably be safer if, for some other reason, when aggregating the data from a

[2022-03-01 11:12] dimko opened #318 "[BUG] Agent claimed with capital uuid as agent claim id never becomes reachable"
Steps to reproduce:

Try and claim an agent in MacOS and add **-id=$(uuidgen)** or supply a valid uuid for the id field but in capital. e.g Id: A9ADFE67-334F-490B-AB84-5131F02458FB

Agent gets claimed but never becomes reachable as expected

[2022-03-01 11:48] amalkov commented on #313
I would vote for Option 1 in this case, my worry is exactly the same as @hugovalente-pm mentioned...

[2022-03-01 22:16] ktsaou commented on #313
option a) would use web browser's computer clock. I would strongly avoid this.
To my understanding only option b) is acceptable.

When panning or using the datetime picker for a certain time period, the absolute timestamp is calculated by the browser, but this is completely different. In this case we don't care what is the time on the browser's computer clock. So, the personal computer's clock is

[2022-03-02 10:28] dionysis-netdata commented on #300
@ktsaou, checking on production nodes for Netdata, I see that plenty of them have unkonwn values for os name and version.
Is this normal?

<img width="265" alt="image" src="https://user-images.githubusercontent.com/95340881/156344234-855712f0-b6e5-4175-8ff7-70ad6793606b.png">

[2022-03-02 10:35] hugovalente-pm opened #319 "[BUG] Chart names are including the room ID"
**Describe the bug**
If you have a single node chart on a custom dashboard the chart name on the title is including the room ID

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
The title shouldn't include the room ID, should be the same as the on show on the Single Node view
![image](https://user-images.githubusercontent.com/82235632/156345270-0294a798-0f81-49a2-94d3-3f450

[2022-03-02 10:41] ktsaou commented on #319
@hugovalente-pm how can i reproduce this?

[2022-03-02 10:52] ktsaou commented on #319
Can you replicate it by creating a new custom dashboard?
Probably is the way we were creating custom dashboards at some point...

[2022-03-02 10:53] hugovalente-pm commented on #319
@ktsaou , I've update my comment.
@jjtsou mentioned that he identified where the bug is and will release a quick fix

[2022-03-02 11:02] ktsaou commented on #300
Found one too:

![image](https://user-images.githubusercontent.com/2662304/156349058-64ba4798-f7d9-4e3f-b317-1adf8e95fa42.png)

The script on the agent:

[code]

So, the script is ok.

Let's see `/api/v1/info`:

[code]

Look at this:

[code]

So, it is a bug at the agent!

[2022-03-02 11:15] dionysis-netdata commented on #300
thanks @ktsaou .

I created a ticket on the agent with the bug info https://github.com/netdata/netdata/issues/12290

[2022-03-02 11:16] cpipilas commented on #300
Thanks @dionysis-netdata.
FYI, @MrZammler I think we were discussing this some time ago, maybe something missed.

[2022-03-02 11:30] cpipilas commented on #309
Thanks for the report! Is this the first time you try to install netdata on your mac? Maybe you've done this in the past through homebrew?

@Ferroin I think we should transfer this at netdata/netdata.

[2022-03-02 11:37] stelfrag commented on #308
FYI: investigating a performance issue (staging environment) when executing queries from the cloud.

- Converting `node id` to the internal host was not properly cached hitting the DB all the time
- In certain cases when checking for events to send to the cloud, a write lock was acquired instead of a read lock hurting concurrency.
  -  Checking a few more cases before making a PR with the fixes

I

[2022-03-02 11:44] gnuchu commented on #309
It was a firs time install. Have never used before or installed via brew.

[2022-03-02 11:56] ktsaou commented on #308
I still see 10 seconds for chart refreshes on https://staging.netdata.cloud/spaces/netdata-cloud-stg/rooms/general/overview

[2022-03-02 13:07] erdem2000 opened #320 "[BUG] Anomaly Detection menu does not appear in the Netdata cloud"
**Describe the bug**
When **ml** is enabled in the `netdata.conf` file as below, "Anomaly Detection" menu only appears in the local UI but not in the cloud UI.
[code]
**To Reproduce**

1. Enable ml in the `netdata.conf`
2. Restart Netdata

**Expected behavior**
"Anomaly Detection" menu should also appear in the cloud UI.

**Screenshots**

Local UI:
![image](https://user-images.githubusercontent.co

[2022-03-02 16:24] shyamvalsan commented on #320
@hugovalente-pm @novykh we ran into this issue today, not sure if this is a FE issue or something going wrong at the BE. Could someone take a look? I think @erdem2000 still has the instance in this state.

[2022-03-02 17:21] hugovalente-pm commented on #320
@erdem2000 can you invite me to that space/war room please?

[2022-03-02 17:45] stelfrag commented on #308
The are two node ids that are not found in the parent but there seems to be queries generated to the backend

I can't seem to find them as queries in the children

Can anyone check where are they routed?

Node ids are:
- 262e6b35-2a6e-4526-b82b-4e39e0e4be6c
- 4ab37790-3bf8-4e2a-a2fa-a25c8eabeba1

They may be going to "void" can cause 10 seconds delays

[2022-03-02 17:53] hugovalente-pm commented on #320
yes @novykh trying to check that, just got the invite from @erdem2000
will also invite you

[2022-03-02 17:55] hugovalente-pm commented on #320
this is the response to the `/charts`

<details>
<summary> payload </summary>

[code]
</details>

[2022-03-02 18:00] Ferroin commented on #309
@gnuchu Can you try again, we just merged a PR a couple of hours ago (https://github.com/netdata/netdata/pull/12199) that should fix this.

[2022-03-02 18:01] hugovalente-pm commented on #320
<details>
<summary> payload for devlml </summary>

[code]
</detail>

[2022-03-02 18:04] hugovalente-pm commented on #320
the space probably isn't whitelisted, the first calls `api/v1/nodes/<node_id>` and the second calls `api/v2/nodes/<node_id>`

if this Space is whitelisted would it solve it?

[2022-03-02 18:17] novykh commented on #320
No I don't think so, since the `mltest-mlenabled` doesn't have this chart. But we need the input of @netdata/cloud-be on this, since idk if there is different logic on this endpoint between v1 and v2.

They are different @hugovalente-pm since v2 is more lean (omitting dimensions and other keys) but the actual charts are not there, so they are not on the sidebar.

[2022-03-02 19:04] ktsaou commented on #308
So, to my understanding, on that room there is a stale parent and stale children that never respond and the cloud has to timeout.

Does the sanitization script run on staging?

[2022-03-02 19:41] gnuchu commented on #309
@Ferroin Confirmed - on MacOS 10.15 the installation proceeds as expected.

[2022-03-02 19:41] #309 closed

[2022-03-02 20:04] juacker commented on #320
I think in this case, as the space is not whitelisted, both `/chart` endpoint versions would have the same behavior: fetching charts directly from the agent and returning all the information.

I've checked the node appearing in the screenshot (nodeID = `7115e5a6-86c3-4523-ade6-a1b624c6e2e4`) and is not whitelisted and we are not storing charts on the cloud.

Accessing the `/info` directly on the a

[2022-03-03 08:57] hugovalente-pm commented on #320
@novykh @juacker thanks for checking this

@vkalintiris seems this could be something fishy going on on the Agent, since the `api/v1/info` call from the Cloud is just a proxy directly to the agent and it is reporting on `ml-info` as `false`

[2022-03-03 09:42] burbuli8ra commented on #305
Hello @ktsaou , the fix for `virtualization = unknown` has been released on [v2.18.2](https://github.com/netdata/cloud-frontend/releases/tag/2.18.2)

[2022-03-03 10:24] dionysis-netdata commented on #304
deployed in production. closing

[2022-03-03 10:24] #304 closed, assigned to nobody

[2022-03-03 11:08] dionysis-netdata commented on #256
@libekonst I don't want to create a new ticket. I imagine it's trivial enough to update the name for unnamed nodes from [untitled node] to untitled node. Basically remove the brackets. It's just looks better

[2022-03-03 11:10] amalkov commented on #313
@ktsaou agree, your concern about web browser's computer clock is valid...
looping: @papazach @underhood

[2022-03-03 11:13] dionysis-netdata commented on #291
@ivangergo3 I think this is fixed.  Can you double check

[2022-03-03 11:42] hugovalente-pm commented on #308
@TonyPath can you confirm if the "patchwork" solution from this [be][cloud-charts-service] Apply reset mechanism upon 404 response from /data ramping up netdata/product#2680 is running on staging?

[2022-03-03 12:12] TonyPath commented on #308
yes @hugovalente-pm , but this patchwork is about reset chart because of no resource found. I think costas is referring to the sanitization script of `cloud-nodes-service`

[2022-03-03 13:34] erdem2000 commented on #320
When I check `netdata.conf `files for the [ml-enabled vm machine](https://staging.netdata.cloud/spaces/ml-enabled-test/rooms/q0b1yry/nodes/7115e5a6-86c3-4523-ade6-a1b624c6e2e4#chartName=menu_system&metrics_correlation=false&after=-900&before=0&utc=Europe%2FIstanbul&offset=%2B3), I noticed that file was corrupted. It was NOT including many sections in it.
I download the file from scratch and **Anom

[2022-03-03 13:40] andrewm4894 commented on #320
hmm i wonder if this could be related to the new install stuff - could netdata in some way be doing sometihng strange with the netdata.conf each night when it tried to install the latest nighly?

[2022-03-03 13:41] andrewm4894 commented on #320
This happens i believe when netdata trys to install netdata from one of the package repositories.

[2022-03-03 13:44] andrewm4894 commented on #320
@Ferroin im wondering if could be something funny going on here with how this agent might be doing nightly installs and maybe pulling from package repository each night and in some how ending up with the slimmed down default `netdata.conf` where the ml would flip back to being disabled.

not sure if this is crazy or not but just thought could be worth mentioning given what @erdem2000 said.

@erdem

[2022-03-03 13:52] hugovalente-pm commented on #319
@novykh @jjtsou I know this was released today and it solved the room id issue, but I see that for the chart that came from the Single Node page it doesn't show any name. If you go to Single Node view, for the same chart, you have it there.

is there any limitation when we are on the custom dashboard?

**Custom dashboard**
![image.png](https://images.zenhubusercontent.com/60b4ebb03f4163193ec31819/

[2022-03-03 13:57] erdem2000 commented on #320
VM Installation steps:
- Selected `debian ` OS
- Installed `cmake autoconf pkg-config make gcc libuv1-dev zlib1g-dev uuid-dev libssl-dev libelf-dev clang git libjudydebian1 libnetfilter-acct1 libprotobuf17 libsnappy1v5 wget` packages
- Cloned netdata and checkout to commit `bb9dc984ef4676483858b463536bb3d0ffff496e`
- Installed with parameters `sudo  ./netdata-installer.sh --dont-wait --dont-start-

[2022-03-03 13:59] novykh commented on #319
I guess we are not saving the chart name along with the dashboard, but we do save the context, hence the composite chart has something to show. We can add it, but the old ones won't have it.

[2022-03-03 14:01] hugovalente-pm commented on #319
It is ok, let's add for the new ones

[2022-03-03 15:58] amalkov commented on #279
Some questions were raised during the estimation process:
- Do we have limitations applied for the Nodes view as well?
- Nodes are not paginated now - performance concern
- Node deletion from `General` means delete from `Space`? (remove from other war rooms as well)
- How to see the rest of the nodes (above 100) to manage it?

[2022-03-03 18:30] ktsaou commented on #305
Great! Thank you @burbuli8ra !

[2022-03-03 18:51] ktsaou commented on #279
No. Let's show them all. We are changing that page to make it more performant. Even if there are 30k nodes, the nodes tab should be ok.

There should not be any performance issues with this. Let's deal with it when it comes. It does not seem that hard.

Node deletion from space is tricky. It can only happen on offline nodes and after all metadata we maintain have expired. Only then a node can be s

[2022-03-03 19:07] ktsaou opened #321 "[BUG] Composite network interfaces charts says "SUM of ABS" but it is negative"
![image](https://user-images.githubusercontent.com/2662304/156634816-3b903b39-3696-4e8d-8398-4866db41e099.png)

When selecting on the overview dashboard, the network interfaces bandwidth with "group by node", it says `SUM of ABS`, but it is not `ABS`, it is just `SUM`, which results to wrong information presented.

@hugovalente-pm @novykh this is a severe bug. Please fix it asap.

[2022-03-04 09:34] ivangergo3 commented on #291
Seems like it has beed solved!
Closing the ticket

[2022-03-04 09:34] #291 closed

[2022-03-04 11:37] vkuznecovas commented on #271
I've looked into it, there's some leftovers that have not been cleaned out. I'm planning on replaying some events to properly get rid of these Monday or Tuesday as the relevant code changes have been implemented. I'll come back to this once the issue is resolved.

More details for the cause & the fix: https://github.com/netdata/product/issues/2803

[2022-03-04 11:40] hugovalente-pm commented on #321
@ktsaou this `Sum of ABS` seems something we would need to do on the Cloud BE since from FE we specify the aggregations to apply, extract for the group By node

[code]

@papazach can you help understand if this operation is available as a `method` on Cloud BE? if not, we probably need to add it there or, not sure if it makes sense, we could have this coming already from the Agent by having an addi

[2022-03-04 12:14] ktsaou commented on #321
`abs` needs to be added to `agent_options` when grouping multiple dimensions into one.
Something like:

[code]

[2022-03-04 12:17] ktsaou commented on #321
@hugovalente-pm @novykh @papazach with the current implementation, all bandwidth (and many more) charts on the overview dashboard are simply useless. The values presented are totally wrong. This is a severe bug that kills the usefulness of the overview dashboards and composite charts.

[2022-03-04 12:21] novykh commented on #321
Are we doing something about the query on the FE? I think not, sum-of-abs is on the BE right? @papazach

[2022-03-04 12:21] novykh commented on #321
I believe it's static since it's the only value available

[2022-03-04 12:25] ktsaou commented on #271
Thank you @vkuznecovas and @papazach for pushing forward to fix this issue! You rock!

[2022-03-04 12:29] ktsaou commented on #321
if this rule is too hard for you, then I suggest to add `abs` to the `agent_options` when `group by` is anything other than `dimension`. So, only when `group by = dimension` the `abs` agent option should not be there.

[2022-03-04 12:31] papazach commented on #321
Currently we support sum, min, max, avg and median as agg methods.

This ☝🏼 could be a subtle modification to our codebase not complicating too much the logic

[2022-03-04 12:44] papazach commented on #321
I will create an issue about this in our own [private repo](https://github.com/netdata/cloud-backend/issues), to track progress will pick it up asap.

[2022-03-04 18:02] dimko opened #322 "[BUG] Visited nodes for nodes in a parent/child setup have the same hostname"
Steps to reproduce:

1. Setup a parent and a child streaming through the parent
2. Claim the parent to cloud
3. Remove the parent or child from cloud
4. Both nodes in the visited nodes list have the same name

[2022-03-04 18:10] hugovalente-pm commented on #321
@papazach when you can please mention the ticket here for reference

[2022-03-04 18:12] hugovalente-pm commented on #319
@novykh just to confirm you'll open a task to do that on custom dashboard?

[2022-03-04 18:19] novykh commented on #319
This ticket is already opened for @jjtsou https://github.com/netdata/cloud-frontend/projects/16#card-78473698

[2022-03-04 18:57] ktsaou opened #323 "[BUG]: Alarm is CRITICAL on the agent, but WARNING on the cloud"
On the agent:

![image](https://user-images.githubusercontent.com/2662304/156824636-058c97f3-eb0a-4ac2-a0e8-088c624667ec.png)

![image](https://user-images.githubusercontent.com/2662304/156824717-1853a2c8-6118-4940-94db-4761a9b071b3.png)

On the cloud:

![image](https://user-images.githubusercontent.com/2662304/156824788-62fe1932-5649-48c8-bbc6-9f367af899c3.png)

![image](https://user-images.githu

[2022-03-04 19:03] ktsaou opened #324 "[BUG] The chart on the single alarm modal, is not the same as the chart on the dashboard, but it is fixed after the user sees the real dashboard chart"
On the alarm modal:

![image](https://user-images.githubusercontent.com/2662304/156825498-f598cb91-1310-4328-a737-dd358d2bf386.png)

On the dashboard:

![image](https://user-images.githubusercontent.com/2662304/156825395-54de7eab-3c3c-4574-84df-b96bd1b68259.png)

If I open the dashboard chart and then attempt to see the alert modal again, I see the right chart:

![image](https://user-images.github

[2022-03-04 19:16] ktsaou commented on #323
@stelfrag I think the problem is because the agent run out of disk space and probably we need disk space (sqlite) to update the cloud.

[2022-03-04 19:18] ktsaou commented on #323
After fixing the disk space issue, the agent was unresponsive. I killed it.

It started and cleared all alerts by itself:

![image](https://user-images.githubusercontent.com/2662304/156827573-7089d6b2-bb41-4534-8a41-d3ca3ae1ec39.png)

But on the cloud, the alerts are still on:

![image](https://user-images.githubusercontent.com/2662304/156827642-a76d697d-15bd-42f9-b0a3-25693c6fb3df.png)

[2022-03-04 23:01] ktsaou commented on #323
Opened ticket https://github.com/netdata/netdata/issues/12324 at the agent.

[2022-03-04 23:05] ktsaou commented on #323
cc: @sashwathn @amalkov have a look.

[2022-03-04 23:08] ktsaou commented on #323
I think we should have a "re-sync" button on the cloud to trigger manually a full alarm snapshot re-sync. Until we nail all the corner cases, we need this to allow users get rid of stale alerts on the cloud.

[2022-03-04 23:25] sashwathn commented on #323
This is a weird scenario and we are checking the alert on the cloud after ~17 hrs since it was raised to critical on the Agent. There is no reason for this Alert to be in Warning still.
We will discuss on the root cause and a possible solution for such a scenario and if it makes sense to introduce a manual sync mechanism - ideally we should avoid this.

[2022-03-04 23:43] ktsaou opened #325 "[BUG]: backend discrepancies in alarms"
https://app.netdata.cloud/spaces/netdata-people/rooms/netdataatplaka/alerts

When the alerts page on the cloud is rendered, it does 3 requests:

## Get active room alerts

https://app.netdata.cloud/api/v1/spaces/d719cc78-c3b2-4308-9250-b48d08ebcc9e/rooms/7a8a3334-1cfd-48b9-9caa-806aa8928565/alarms/active

It returns 6 alerts, 5 WARNING and 1 CRITICAL:

[code]

## Get space active alerts per room

[2022-03-05 00:11] dimko commented on #325
Just a comment about /active and /alarms endpoints because we got confused last time we raised this issue. /active returns the count of all alerts in the room. /alarms doesn't return a value per alarm, but it's a boolean per node. It counts if node has a critical and a warning. So since there are 2 nodes in the room and one of them has warning and critical and the other just a warning it returns 3

[2022-03-05 00:19] ktsaou commented on #325
Wow! Thank you for the explanation!

However I think this is wrong. We care about the number of alerts, not the number of nodes with alerts.

[2022-03-05 00:21] dimko commented on #325
Agree. And due to the way we perform those 2 requests we have another discrepancy that's under investigation https://github.com/netdata/netdata-cloud/issues/242

[2022-03-05 00:25] ktsaou commented on #323
This node has a very strange behavior now.

Cloud has removed all its alerts. No stale alerts there anymore.

But it gets disconnected very frequently from the cloud:

[code]

And the cloud requests repeatetly to send the health log:

[code]

[2022-03-05 07:00] ralphm commented on #323
Regarding the disconnects, I'd noticed from our current telemetry that the so-called _saw_ is back, meaning that we see regular disconnects again. I've asked @vkuznecovas to look into it.

That said, this is more frequent than the clean-up script, which runs every 15 minutes.

[2022-03-05 08:57] ktsaou commented on #323
It is a sequence like this:

[code]

Let's take the last iteration, one by one:

Immediately after ACLK connection, cloud requests and the agent sends the alarm health log:

[code]

Immediately after (same second), cloud requests streaming charts from sequence id 4863, and agent responds:

[code]

Then (a second later), cloud requests streaming of alerts, from sequence 2567, and agent responds:

[

[2022-03-05 09:07] ktsaou commented on #323
Situations like this require a lot of effort from our backend to be debugged.

I would suggest 2 improvements:

1. Introduce a message from the cloud to the agent, to log something to the agent `error.log` and `access.log`. So, when the cloud could say to the agent `LOG: the health log just sent for node GUID is invalid because of X and Y`.
2. Keep in a cloud database all node connects and disconn

[2022-03-05 12:11] cronlabspl commented on #323
Haha @ktsaou what would you say now? I was trying to get your attention towards this anormality, remember your reaction back than?

True.

Both of them are simply counter-productive.

Oh hell yes; I **strongly** agree.

Not workaroud but **solve** this.

[2022-03-05 19:12] cronlabspl commented on #324
@ktsaou You understand nothing...........

[2022-03-05 19:14] cronlabspl commented on #323
Relates to both #325 and #324

[2022-03-05 19:24] cronlabspl commented on #321
@ktsaou I cannot agree more. Seriously. I would just add that not only graphs are useless, but whole ND **in the current state/form/shape** is completely useless piece of software.......

@papazach seriously FOSS project and closed / private repo? Where is transparency? Yeah, I know; it doesnt exist

[2022-03-05 20:38] cronlabspl commented on #317
SHIT

[2022-03-06 07:32] novykh commented on #321
@cronlabspl thank you for the comment. Really useful to know that the current state/form/shape is completely useless in general. Feel free to open a new issue or multiple issues, about what you feel is useless. We are always open to community feature requests.

[2022-03-06 11:34] hugovalente-pm commented on #321
@cronlabspl we understand your opinion and, as @novykh mentioned, we would love to hear your feedback, so please contribute with opening bugs, feature requests and/or share your the use cases where Netdata isn't being able to meet your needs.

You are right and all the work under Netdata Agent, which is and will always be FOSS , is public and open for contributions from the community (including ex

[2022-03-06 18:35] ktsaou commented on #323
Hey @cronlabspl! I am glad you are still around.

Of course I remember:

* You said you have problem with mem.available alarms https://github.com/netdata/netdata/issues/9342#issuecomment-1050397521
* I asked for more information https://github.com/netdata/netdata/issues/9342#issuecomment-1050553222
* You didn't provide any more data to help us troubleshoot your case, because you believed that I am

[2022-03-06 18:39] ktsaou commented on #324
Probably you are right :)
But what do you mean exactly? About what?

[2022-03-06 18:59] ktsaou commented on #323
@vkuznecovas it seems that all my nodes in this space get disconnected every few minutes. So, these disconnects may not be related to this issue at all.

[2022-03-07 00:31] cronlabspl commented on #323
@ktsaou

Well, not quite. I mean, I dont have any kind of access to intance where ND lives, but I have admin access to our `logs` instance ( logs not only from ND, but also from every other software used in our company ).

Will reiterate: NO, I will ndo it.

[2022-03-07 09:21] #293 closed

[2022-03-07 15:48] hugovalente-pm opened #326 "[BUG] charts are not rendering anything, even with data."
**Describe the bug**
This issue came from a bug reported on our [discord server](https://discord.com/channels/847502280503590932/950255983261794324), charts on Single Node view are rendering but not displaying any data.

We have different a cases:
1. Y-axis is properly set, from 0 to X GiB, tooltip shows values but nothing is rendered on the chart
![image](https://user-images.githubusercontent.com

[2022-03-07 15:53] hugovalente-pm commented on #326
@novykh @kaskavel this came from a user report on discord, I think I saw a similar error like this in the past but can't recall what was the issue.

[2022-03-08 01:13] thiagoftsm opened #327 "Change `charttype` (eBPF and Python) to heatmap"
As discussed in the main [issue](https://github.com/netdata/netdata-cloud/issues/265), when we have `heatmaps` available in agent, it will be necessary to change some latency charts like `filesystem`,  and `disk`.

We do not expect to change the plugins logic (at least for eBPF), so we will only change the `charttype`.

[2022-03-08 01:27] thiagoftsm opened #328 "Update swagger"
As soon netdata agent is capable to store the new `charttype`, we need to update the swagger definition, before to bring new charts.

[2022-03-08 07:58] ilyam8 commented on #300
https://github.com/netdata/netdata-cloud/issues/300#issuecomment-1056795257 fixed in netdata/netdata#12338

[2022-03-08 08:07] dionysis-netdata commented on #300
I suggest we close this ticket. There are 2 stories pending, which I have created in separate tickets
* https://github.com/netdata/netdata-cloud/issues/302
* https://github.com/netdata/netdata-cloud/issues/303

[2022-03-08 10:10] ktsaou commented on #300
Sure!

[2022-03-08 10:10] #300 closed

[2022-03-08 10:32] ktsaou opened #329 "[BUG] Nodes get disconnected too frequently without reason"
4 nodes:

`rpi4b-1`:

[code]

`rpi4b-2`:

[code]

`rpi4b-3`:

[code]

`rpi4b-4`:

[code]

@vkuznecovas

[2022-03-08 11:01] ktsaou commented on #323
* opened ticket https://github.com/netdata/netdata-cloud/issues/329 for the frequent disconnects - it is not related to disk full.
* I have opened ticket https://github.com/netdata/netdata/issues/12324 about disk full / no disk situation at the agent.

The following issue remains here:

The agent and the cloud didn't manage to re-sync properly after the disk full situation.
Currently all alerts ar

[2022-03-08 11:03] ktsaou opened #330 "[BUG]: agent and cloud have out of sync alarm log"
In case https://github.com/netdata/netdata-cloud/issues/323 we had an agent with a disk full situation.

Ticket https://github.com/netdata/netdata/issues/12324 opened to gracefully handle disk full / no disk situation at the agent.

The following issue remains:

The agent and the cloud didn't manage to re-sync properly after the disk full situation.
Currently all alerts are synced between agent an

[2022-03-08 11:04] ktsaou commented on #323
Opened https://github.com/netdata/netdata-cloud/issues/330
So, we can close this.

[2022-03-08 11:04] #323 closed

[2022-03-08 11:05] jjtsou commented on #319
Seems that after our fix for the` room Id` issue, the issue regarding ` charts from the Single Node page  doesn't show any name` has been fixed too. Keep in mind, the fix regarding ` charts from the Single Node page  doesn't show any name` is applied for charts added in a custom dashboard after our fix reached production.

[2022-03-08 11:05] #319 closed

[2022-03-08 12:15] cronlabspl commented on #323
@ktsaou

May be the reason. However, Id reckon that due to connectivity issue(s). Seems more probable.

[2022-03-08 12:17] cronlabspl commented on #330
What? How this could be even possible? Where would alarm be stored than?

[2022-03-08 12:45] ktsaou commented on #330
When netdata restarts, it should somehow figure this out (that it crashed and couldn't write to disk) and re-sync the alarm log with the cloud.

For example, today when netdata starts it creates a file (while the disk is there). It removes that file when it gracefully stops.
So, when it starts, if that file is there, netdata crashed. We should use this mechanism to trigger a proper re-sync with th

[2022-03-08 14:07] hugovalente-pm commented on #326
user as come back saying that error still occurs and he sees an error on the console

![image](https://user-images.githubusercontent.com/82235632/157253537-aaba4668-667a-4e07-ba82-150ccc32183b.png)

<details>
<summary> error </summary>

[code]
</details>

[2022-03-08 14:09] sashwathn opened #331 "Create a dedicated Alert landing page for notifications"
We need to create a dedicated landing page for alerts when:
1. User clicks on a notification email to view the alert
2. User clicks on an active alert on the Alerts page

[2022-03-08 14:15] sashwathn opened #332 "Error Handling on the Dedicated landing page for Alerts"
All the error scenarios should be handled on the dedicated landing page for an alert.
[](https://user-images.githubusercontent.com/19268853/155703402-51e43592-47fe-42ef-9a68-e5a410989e48.png)[](https://user-images.githubusercontent.com/19268853/155703789-849805c0-298b-4fe1-954b-b99bc0b326e8.png)[](https://user-images.githubusercontent.com/19268853/155704016-da8955a2-bd5f-4cac-b0b7-acb582018013.png

[2022-03-08 14:32] sashwathn commented on #332
Issue moved to [netdata/product #2860](https://github.com/netdata/product/issues/2860) via [**ZenHub**](https://www.zenhub.com/)

[2022-03-08 14:32] #332 closed

[2022-03-08 14:34] #331 closed

[2022-03-08 14:38] #283 closed

[2022-03-08 15:34] hugovalente-pm commented on #244
@Jayto1 this was recently closed, please check on your and let us know in case some issue still persists
once again thanks for opening this bug and helping us improve our product

[2022-03-08 15:56] ktsaou commented on #330
Sure and we use lockfiles when they are useful.

However, a lockfile is not locked after the process holding the lock exits (crash?) or after the system reboots (no disk?).

So, locking the lockfile after such conditions will allow the lock to happen and we will not detect the issue. A simple file existance check is better in these cases.

[2022-03-08 16:18] andrewm4894 commented on #320
@erdem2000 is this still a bug for you?

[2022-03-08 16:20] erdem2000 commented on #320
No, not actually we can close it if there is no rejection.

[2022-03-08 16:37] jlbriston opened #333 "[BUG] 'internal submit' logo in app dimension need updated"
**Describe the bug**
The logo inside the app is incorrect dimensions. Accurate dimensions can be found here: https://www.figma.com/file/CvDzY945KJAzjNM1D90vbx/%E2%9A%99%EF%B8%8FPress-Kit-(WIP)?node-id=0%3A1

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
For extreme small scenarios we use a container of 24x24 containing the isotype. That container can be downsized to a mi

[2022-03-08 17:22] shyamvalsan commented on #320
Closing the ticket then - let's reopen if we see this same issue again.

[2022-03-08 17:22] #320 closed

[2022-03-08 17:41] libekonst commented on #256
@dionysis-netdata just saw this, still wanna do the change?

[2022-03-08 17:49] papazach commented on #315
Thanks for posting this bug report @ktsaou
We'll be revisiting our error handling strategy for composite /data requests and will address this accordingly.

Concerning the Single Node View _no data_ case, is  it still reproduceable?
Probably for this we should also coordinate with @novykh to see what logic is in place from the FE about error handling.

[2022-03-08 17:55] papazach commented on #314
Thanks a lot for the detailed bug report @ktsaou , we'll be addressing this issue soon and pinging you back when a fix is up & running.

[2022-03-09 07:13] ktsaou opened #334 "[BUG]: netdata nodes on cloud unresponsive to /data requests (10s timeout)"
@stelfrag @vkuznecovas @papazach  I thought the timeouts are gone, but they are not.

This is from our k8s production netdata:

https://app.netdata.cloud/spaces/netdata-cloud/rooms/k8s-prd/overview

Request:

[code]

Response:
[code]

[2022-03-09 08:18] jjtsou commented on #315
@hugovalente-pm We unfortunately cannot connect this 2 issues, because we have different error logs ( `failed data query` and` js promise error in console` )

[2022-03-09 10:16] dionysis-netdata commented on #256
yes please, if it's trivial to do. thanks

[2022-03-09 11:57] dionysis-netdata commented on #310
adding a screenshot of the issue.

<img width="550" alt="image" src="https://user-images.githubusercontent.com/95340881/157437483-efe6b4fa-0fca-4b31-8330-48c98dc1264f.png">

[2022-03-09 12:22] dionysis-netdata opened #335 "Desync issues"

[2022-03-09 12:34] dionysis-netdata commented on #261
Can someone summarise what is pending here? And if there are other tickets linked on this one?

[2022-03-09 14:16] tkatsoulas opened #336 "[BUG] Netdata cloud inform user that their already updated Agents "Need update""
**Describe the bug**

Netdata cloud informs the users that their Agents "Need Update". I know that the Cloud may need up to 2 hours to update the Agent's version but users still receive this notification

**To Reproduce**
Steps to reproduce the behavior:

More info here:
https://community.netdata.cloud/t/updated-the-agent-cloud-ui-still-says-that-they-need-to-be-updated/2598/7

1. Manually build a

[2022-03-09 14:49] hugovalente-pm commented on #315
thanks for checking @jjtsou let's then keep them as separate issues then

[2022-03-09 17:39] jjtsou commented on #321
@papazach @novykh Made a [PR](https://github.com/netdata/charts/pull/66) including the change

[2022-03-09 20:50] vkuznecovas commented on #271
Hey @ktsaou could you check if the problem is solved? These nodes should be gone now, as we've made the required fixes for this.

[2022-03-09 21:22] eli-cobler opened #337 "[BUG]: Some nodes not showing all installed plugins"
**Describe the bug**
On some nodes we are not able to see the fping plugin that has been installed and is visible when visiting the nodes outside of the cloud interface at http://NODE:19999/.

**To Reproduce**
Steps to reproduce the behavior:
For me simply go to the node in the cloud and see no fping in system overview section. If I need fping info I go to the system overview in http://NODE:19999/

[2022-03-10 09:05] dimko commented on #337
Hey @eli-cobler thanks for reporting this. Could you plz provide more info, like **netdata agent's version** and **the id of that node in the cloud**? The easiest way to get the node id is to go to open the agent in it's tab and get the identifier from the url. It will be something like

_https://app.netdata.cloud/spaces/netdata-cloud/rooms/general/nodes/**XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX** ..

[2022-03-10 09:16] papazach commented on #334
Hello @ktsaou, we performed some pending deletions yesterday and cleaned up so the timeouts should be gone now as we do not reach to get data from node instances that are not actually there.
Could you check again?

[2022-03-10 09:57] jjtsou commented on #321
Deployed on staging

[2022-03-10 10:09] hugovalente-pm commented on #321
just checked on staging @jjtsou it looks 👌
good for a release as soon as you get a green light from SET

[2022-03-10 11:03] ralphm opened #338 "Grafana Overview dashboard missing metrics"
The [Grafana Overview dashboard](https://grafana.corp.app.netdata.cloud/d/qiI8zr5nk/overview-flow), that we use in production to get a highlevel view on the performance and stability of our Cloud platform, is showing empty graphs for the following metrics:

- Sign-up Response Rate
- Agent Claiming Response Rate
- Active Alarms Response Rate
- Alarm Values Response Rate

All of these point to metri

[2022-03-10 11:18] hugovalente-pm commented on #307
@dionysis-netdata @cboydstun I believe this is related with this issue netdata/product#2554
we are discussing this now as part of netdata/product#2859

[2022-03-10 14:01] jjtsou commented on #321
@hugovalente-pm Released

[2022-03-10 14:18] car12o commented on #217
All the fixes have been deployed to production today!

[2022-03-10 14:18] #217 closed

[2022-03-10 14:34] hugovalente-pm commented on #321
great @jjtsou 💪

[2022-03-10 14:55] amalkov commented on #268
In order to expose Agent-only timing, we need to do work from the Agent (include execution time in HTTP header) and propagate it on the Cloud to the FE.

How we are going to display Agent timing for Composite data requests?
Median, Average, Min, Max, All?

Estimation for current specification: Large

[2022-03-10 15:26] #321 closed

[2022-03-10 15:28] hugovalente-pm commented on #251
closing this since this isn't reproducible, we can reopen if it becomes evident again

[2022-03-10 15:28] #251 closed, assigned to novykh, jjtsou

[2022-03-10 15:36] dimko commented on #301
This seems to be fixed. closing

[2022-03-10 15:36] #301 closed

[2022-03-10 15:48] vkuznecovas commented on #182
hey @modem7, we've done a whole bunch of fixes related to node deletion, could you please check to see if your issue is resolved?

Many thanks!

[2022-03-10 15:50] modem7 commented on #182
Heya,

Unfortunately still getting:

![image](https://user-images.githubusercontent.com/4349962/157699659-8169b79a-dc5d-4feb-8fff-043a13470af7.png)

[2022-03-10 15:52] vkuznecovas commented on #228
This has been fixed as part of https://github.com/netdata/product/issues/2803.

I have checked - the node is now gone as it should have been a long time ago.

[2022-03-10 15:52] #228 closed

[2022-03-10 18:00] hugovalente-pm commented on #316
@TonyPath one clarification, this routing fix consists on what?
it isn't doing this Modify /data request node instance routing logic netdata/cloud-backend#37, right?

[2022-03-10 20:00] cakrit opened #339 "[BUG] User reports receiving alert notifications from cloud, despite setting to not receive them"
The identifier of the account is shared in private (alerts team slack channel), for security and privacy reasons

[2022-03-10 20:15] lokerhp commented on #339
I've also encountered this, never got email's on a specific email address, until yesterday at around 4pm UTC.
I've sent @papazach the identifier of the account.

[2022-03-10 22:21] eli-cobler commented on #337
Hey @dimko details are below for you.

Agent Version: v1.33.1-28-nightly
Node ID: 18599788-50c8-4591-abdc-b66509c298ee

[2022-03-11 09:39] dimko commented on #337
@eli-cobler Thank you. We've identified and fixed a similar issue that was caused due to the latest agent update. We'll investigate if the root cause for what you're experiencing is the same, or something different. cc @papazach @hugovalente-pm

[2022-03-11 11:31] car12o commented on #339
In this specific case, all users belonging to the space have email notifications enabled so the Could is in fact honoring those settings. The fact that the user starts receiving notifications is related to the new architecture space migration as the time user started receiving emails matches with the time space was migrated (`2022-03-09 15:48`). We may have a bug in the legacy flow but since now t

[2022-03-11 13:05] dimko opened #340 "[BUG] Redirect to cloud from agent email alert doesn't highlight the affected chart"
Steps to reproduce:

1. Setup email setting to the agent
2. Claim agent to the cloud
3. Trigger alert on the agent
4. Click the Go To Chart CTA inside the **agent email** for that alert (important - not the email sent from the cloud)

**Expected:**
1. User is re-directed to nodes single node view.
2. The affected chart should be highlighted and scroll to its canvas

**Actual:**
1. User should be r

[2022-03-11 13:05] dimko commented on #340
Related to https://github.com/netdata/cloud-frontend/issues/2955

[2022-03-11 16:34] TonyPath commented on #316
@hugovalente-pm actually it does, we can consider this duplicate

[2022-03-14 10:33] hugovalente-pm opened #341 "[BUG] Unreachable node in Cloud from Agent email alert notification"
## Describe the bug
From the work introduced on the Agent email alert notification redirect (after user presses "Go to chart") - netdata/cloud-frontend#295 - if the node is claimed to Cloud and user has access to it he gets the "Unreachable node" error page if the node is not accessible at the moment

**To Reproduce**
Steps to reproduce the behavior:
1. Claim a node to Netdata Cloud
1. Have an ale

[2022-03-14 10:41] hugovalente-pm commented on #341
@amalkov @jacekkolasa @novykh @juacker the discussion of what we want to do on the technical side, in order to simplify the work on the FE we would the BE to provide:
* list of Spaces / War Rooms the node is claimed to (sending the slugs not ids)
* ensure the above list takes into consideration the user access conditions to those Spaces / War Rooms
* for each entry share the flags of the node `que

[2022-03-14 10:50] dionysis-netdata commented on #271
@ktsaou this should be fixed by last weeks updates. let us know, so we can close this ticket

[2022-03-14 11:00] dimko opened #342 "[BUG] No error message when re-direct to node fails"
We don't communicate to the user that accessing a node in cloud failed for some reason. This is especially noticeable through re-directs from the agent dashboard.

Steps to reproduce:
1. Spin up an agent
2. Claim it to the cloud
3. **Remove node from the room it was claimed to**
4. Visit agent's local dashboard
5. Sign in to cloud from inside agent's dashboard

Expected:
User is re-directed to clo

[2022-03-14 11:02] dimko commented on #342
Affects several flows in https://github.com/netdata/product/issues/2749

[2022-03-14 12:24] hugovalente-pm commented on #268
`Q1 GOAL` was removed and for now added the `Q2 GOAL` still TBC due to estimation

[2022-03-14 13:33] cakrit commented on #339
User reported that the issue is resolved now.

[2022-03-14 13:33] #339 closed, assigned to YaroslavDev

[2022-03-14 14:11] ravilushqa opened #343 "[be][cloud-spaceroom-service] cloud-spaceroom-service review"
As a part of stability improvement need to solve desynchronization problems in cloud-spaceroom-service.
Also this issue is part of the big one
https://github.com/netdata/product/issues/2051

Here is a plan for it:

## Needed changes

* use Pulsar retrier (it will decrease out-of-sync data, and give us some extra info about problem)
  * this also mean to monitor the logs in the following weeks to d

[2022-03-14 17:03] hugovalente-pm opened #344 "[BUG] Multi-selection chart legend issue on Linux"
**Describe the bug**

_This seems a specific issue for Linux OS_
On a chart, we chose 2 dimensions on the legend to show by clicking the Ctrl or Alt key, if a 3rd dimension is needed if I keep the finger pressing Ctrl or Alt this doesn't work, only the 3rd dimension is selected

If I release/re-push Ctrl or Alt between every click it works.

**To Reproduce**
Steps to reproduce the behavior:
1. On

[2022-03-14 17:29] juacker commented on #341
In order to start adding the information requested, what do you think about adding a new field called `authorizedNodes` on `/user_access` requests, where we can return the necessary information?

Initially, I'm thinking about adding the `unreachable` flag, in order to the agent to avoid redirecting to the cloud. The response payload would be this one:

[code]
We can then add to each authorized nod

[2022-03-14 20:34] ktsaou commented on #341
I think the front-end should take the decision.

So, we do the `/user_access` call and we get a response that `userNodeStatus: accessOK`.

The front-end then should do the same it does for Visited Nodes to verify the node is actually reachable. I don't think we should add anything more to the response.

Remember that this response is candidate for a security issue, because data returned as also pa

[2022-03-14 22:12] ktsaou commented on #268
@novykh this has been estimated as `large`, meaning 1-2 weeks. If it is that big, we don't need it. We need something simple, with 2-3 days of work. If it is going to be more than that, let's skip it.

[2022-03-14 22:17] ktsaou commented on #271
I see it fixed! You rock @vkuznecovas !
(Sorry for the delay to respond)

[2022-03-14 22:17] #271 closed

[2022-03-15 11:16] ktsaou commented on #334
Yes, I have seen the timeouts being eliminated.

[2022-03-15 11:16] #334 closed

[2022-03-15 20:13] ktsaou opened #345 "[BUG] charts appear at the agent, but needed 10 minutes to appear at the cloud"
https://app.netdata.cloud/spaces/netdata-people/rooms/netdataatplaka/nodes/d0b23fd9-6536-4802-b978-c0a8a70c3149

At the agent we have `nginx` and `nginx web log`.
At the cloud the charts needed about 10 minutes to appear.

The just appeared, but the chart has quite some data:

![image](https://user-images.githubusercontent.com/2662304/158463524-1182eafa-779f-433b-a5cc-34f3f5e4d04f.png)

[2022-03-15 20:25] dimko commented on #345
We ve been trying to identify the root cause for this for some time now, since it beaks in the regression as well, causing great delays in our release approval process. Also this report might be also related to the issue https://github.com/netdata/netdata-cloud/issues/337

[2022-03-16 08:33] ktsaou commented on #345
I think it is related to obsoleted charts. These charts were in cloud in the past, but due they were obsoleted from the agent. When they started being collected again, the agent immediately showed them, but they appeared on the cloud after 10 minutes.

[2022-03-16 08:52] ktsaou opened #346 "[BUG] composite dashboard is filtering out nodes, without a node filter being applied"
https://app.netdata.cloud/spaces/netdata-people/rooms/netdataatplaka/overview

There are 4 nodes with `web_log` data on that room.
There is no node filter applied.

But data requests are made for `web_log` filtering 1 node, are like this:

https://app.netdata.cloud/api/v2/spaces/d719cc78-c3b2-4308-9250-b48d08ebcc9e/rooms/7a8a3334-1cfd-48b9-9caa-806aa8928565/data

POST:
[code]

The charts show only

[2022-03-16 09:20] ktsaou opened #347 "[BUG] overview dashboard with 2 versions of web_log plugin is confusing"
When on a single war room, there are some nodes with `web_log` from `python.d.plugin` and `web_log` from `go.d.plugin` the charts do not always match and the result is confusing.

![image](https://user-images.githubusercontent.com/2662304/158556686-aab1d510-a1bb-4137-adb7-df8b413d7131.png)

---

## The problem

`web_log` plugin exists in 2 versions. The old one written in python and a new one writ

[2022-03-16 09:29] ktsaou commented on #347
cc: @ilyam8

[2022-03-16 11:22] stelfrag commented on #308
Is this still an issue after the cleanup?

[2022-03-16 11:53] dimko commented on #318
Related to https://github.com/netdata/netdata/issues/12421#event-6250174806

[2022-03-16 11:54] dimko commented on #318
Is handling of such cases required from cloud backend side as well to avoid such breaks in the future? @netdata/cloud-be @underhood @ilyam8

[2022-03-16 13:51] vkuznecovas commented on #318
With the agent changes users should stop experiencing any issues, however we still want to fix this on the cloud backend side. I've opened up this for the full list of changes that are needed: https://github.com/netdata/cloud-backend/issues/73

[2022-03-16 16:17] ktsaou commented on #308
I don't see any of them happening now.
I am closing this. If we find another case, let's open a new issue.

[2022-03-16 17:00] thiagoftsm opened #348 "[BUG] Overview is not grouping all cgroups info"
**Describe the bug**
Right now when we access overview and we have a docker container on hosts with `CGROUP V.1` the overview is not grouping everything inside `cgroup`

It is also possible that this happens with `CGROUP v2`

**To Reproduce**
1. Get latest netdata on hosts using `cgroup v1`
2. Enable integration between eBPF and [cgroup](https://learn.netdata.cloud/docs/agent/collectors/ebpf.plugi

[2022-03-16 17:09] ktsaou opened #349 "[BUG] Composite charts do not list all dimensions when the underlying charts have different dimensions"
This is a composite chart, from 2 nodes:

![image](https://user-images.githubusercontent.com/2662304/158647099-941cc425-8bdd-450b-b6ae-da13302bc7f7.png)

Node `box` is like this:

![image](https://user-images.githubusercontent.com/2662304/158647240-d345172c-74cc-45a8-88b0-b1cf458ebd84.png)

Node `freebsd` is like this:

![image](https://user-images.githubusercontent.com/2662304/158647347-763349a3-

[2022-03-16 17:12] ktsaou commented on #349
Moment later, it preferred the `box` ones:

![image](https://user-images.githubusercontent.com/2662304/158648350-887302b9-7353-4d9d-a826-60b08362f0d6.png)

[2022-03-16 17:39] ktsaou opened #350 "[BUG] Chart shows 2 nodes and 2 charts, but group by node or chart shows only 1 node - and there is only 1 node with data really"
Recorded:

![Peek 2022-03-16 19-37](https://user-images.githubusercontent.com/2662304/158653118-01e7d549-0b4d-44c0-8189-30a4f03b28a6.gif)

The data response on group by dimension:

[code]

Data response when group by node:

[code]

So, in group by node, the backend returns `ErrNoData`, but in group by dimension it returns no error.

[2022-03-16 17:53] ktsaou commented on #265
Charts that could be heatmaps:

1. idlejitter charts
2. fping
3. statsd metrics (TBD which ones)

[2022-03-16 18:03] ktsaou opened #351 "[BUG] Composite charts should not mix plugins together"
When we have multiple different operating systems, like `linux` and `freebsd`, the `context` of charts remain the same, but the dimensions are different for each operating system.

This is not a problem for single node dashboards, because every single node dashboard only one version of them.

However, in composite charts, this becomes messy.

Examples:

Page faults chart from both linux and freebs

[2022-03-16 20:55] MikeJakubik opened #352 "[BUG] Available memory chart does not show on Nodes tab for BSD"
Hi,

As the subject states these values are not shown in Node view in the Cloud WebUI, however, the agent itself knows how much RAM is used and the OS type. See attached screenshots for more info.

Thanks.
![Screenshot 2022-03-16 165218](https://user-images.githubusercontent.com/73555475/158689340-f886e25c-0d7c-4652-b5ab-92b92a9d79ac.png)
![Screenshot 2022-03-16 165308](https://user-images.githubu

[2022-03-17 09:39] ktsaou commented on #315
@novykh this is not fixed.

I have created custom dashboard https://app.netdata.cloud/spaces/tsaousis/rooms/cgroup-rename/dashboards/netdata-cloud-315 having both charts (composite from 1 node and single node).

The issue is still the same.

[2022-03-17 10:01] ktsaou commented on #261
I think we are done. Everything is fixed now.

[2022-03-17 10:03] vkuznecovas commented on #329
My findings suggest that for some reason the agent abruptly closes the connection to vernemq. Here is the event flow for `"node_id": "ff6707ee-939b-44e9-8e06-54063d2132de"` (seems to be on version `v1.33.1-189-g1bdb7e8b2`):

`UpdateAgentConnection` is fired from vernemq LWT, marking the agent unreachable(the reachable flag is omitted and the default value is used):
[code]
This should only occur on

[2022-03-17 10:06] dimko commented on #340
Released, closing this

[2022-03-17 10:06] #340 closed

[2022-03-17 13:38] AlexNti commented on #310
@hugovalente-pm This is currently in staging.

[2022-03-17 13:45] dionysis-netdata commented on #310
cant see it
<img width="446" alt="image" src="https://user-images.githubusercontent.com/95340881/158822106-220e0a82-6617-4586-a5ae-18475f81a200.png">

[2022-03-17 14:21] AlexNti commented on #310
@dionysis-netdata You are right it is not yet on staging, i accidently deployed it at testing instead. It will be on staging in few minutes.

[2022-03-17 14:25] AlexNti commented on #310
@dionysis-netdata  It is on staging now.

[2022-03-17 14:30] ktsaou commented on #329
@underhood here it is:

[code]

[2022-03-17 14:32] ktsaou commented on #329
I have 4 nodes like this. All of them are RPIs and the agent is the static install for ARM we ship, installed via `kickstart.sh`.

[code]

[2022-03-17 14:33] ktsaou commented on #329
And all 4 nodes reconnect after 2-3 minutes.

[2022-03-17 14:48] dionysis-netdata commented on #310
confirmed. ship it :)

[2022-03-17 15:54] underhood commented on #329
@vkuznecovas
` [mqtt_wss] I: ws_client: WebSocket server closed the connection with EC=1000. Without message.`
This means agent received disconnection message from websocket server. Hard to tell the reason as in every case we had to date EC is always 1000 and without any string message(reason) given. I have mentioned in the past this is not ideal but understand currently priorities are elsewhere.

[2022-03-17 15:58] vkuznecovas commented on #329
I'm not aware of any mechanism that would do this on the cloud side every 2-3 minutes, or even on a nonsense message. I'll have to do a bit of digging and come back.

[2022-03-17 16:49] ktsaou commented on #329
The strange thing is that it happens on all 4 RPIs.

The only common things among them is that they are on the same space and room.

Is it possible that it is our static ARM build that triggers this?

Let me build one from source to check...

[2022-03-17 17:03] hugovalente-pm commented on #345
@ktsaou probably something was missed here? https://github.com/netdata/netdata/pull/12284
this was the PR that addressed the obsoleting of charts where this is spec'ed but not the scenario of start colleting again something that was obsoleted:

tagging @stelfrag and @odynik

[2022-03-17 18:17] ktsaou commented on #345
Nice catch @hugovalente-pm
They may be related...

[2022-03-17 20:02] underhood commented on #329
In case there is an error (malformed packet, the connection dropped, etc.) we will log what happens in `error.log`.
Why do we see this `WebSocket server closed the connection with EC=1000. Without message.` message often? Because this is not some networking error but the server telling us bye-bye.

In case cloud side requests disconnect there are already multiple ways to do so and give disconnect

[2022-03-18 08:15] odynik commented on #345
@hugovalente-pm I am on it. I will try to reproduce it in my test environment.

[2022-03-18 09:18] vkuznecovas commented on #329
Right, so after a bit of digging here's what I found:

[code]

This is coming from vernemq logs, so it seems that the agent is not sending a `PINGREQ` prior to reaching the keepalive expiry. This then triggers a disconnect from the vernemq side.

Now as far as the message goes - we don't really control it from the cloud side. The way the disconnects are currently implemented on the cloud side is t

[2022-03-18 10:21] hugovalente-pm commented on #316
Closing since this was released to PROD

[2022-03-18 10:21] #316 closed

[2022-03-18 13:16] hugovalente-pm commented on #136
Not released yet, on staging

[2022-03-18 13:20] #198 closed

[2022-03-18 13:31] hugovalente-pm commented on #275
This should be the BE to this netdata/netdata-cloud#295

[2022-03-18 15:25] Ferroin commented on #329
Being ‘out of date’ should not result in this type of issue, we still have the non-protobuf support running AFAIK, and even if that was the cause, they would be failing to connect in the first place.

We have not, however, had anywhere near the same amount of testing on ARM systems as we have elsewhere, so it’s entirely possible it could be an issue specific to the platform, but I _highly_ doubt i

[2022-03-18 18:53] underhood commented on #329
@vkuznecovas thanks, that is a good lead. Seems like for some reason agent built on ARM doesn't send keep alive in time but only if installed from a package. Interesting...
We did quite extensive tests on RPi for days when the code was written (although not with the latest patches) without connection drops etc., but in each case at least for my tests it was always built from source

[2022-03-18 20:32] shyamvalsan opened #353 "[BUG] 500 error typo + auto refresh?"
**Describe the bug**
The 500 error page needs a small language fix

"these error" --> "this error" OR "these errors"

**Screenshots**
![image](https://user-images.githubusercontent.com/24860547/159079199-79284b11-29e2-459d-9648-82a08f885f13.png)

**Additional context**
When such errors occur, and I've seen them on staging intermittently, a refresh usually fixes the problem. So why don't we do an a

[2022-03-18 20:42] ktsaou commented on #329
@Ferroin I see our static builds use openssl 1.1.1l but the latest is 1.1.1n. Similarly there are newer curl, bash, etc.
I think we need to update the static binaries to use the latest version of the statically built libraries and binaries.

[2022-03-18 21:17] ktsaou commented on #329
Made PR https://github.com/netdata/netdata/pull/12461

[2022-03-18 21:22] ktsaou commented on #345
I have one case here, that agent charts never appear on the cloud.

On the cloud, single node dashboard, note that there are no `disk` and `mem` families:

https://app.netdata.cloud/spaces/tsaousis/rooms/general/nodes/ce0e8300-8270-4171-ae48-c452d3b91ba9#chartName=menu_cgroup_netdata&highlight_after=1647633019000&highlight_before=1647633090000&metrics_correlation=false&after=-451&before=0&utc=Euro

[2022-03-18 21:37] ktsaou opened #354 "Dashboard menu (table of contents) could be built using the context"
The way our dashboard menu is currently built, relies on the chart names. This is hugely problematic, and for years I have been considering it "my shame".

https://github.com/netdata/netdata/blob/561557c5ae2f427033fb3809e52e8db7cbecf7f7/web/gui/main.js#L1361-L1363

So, I have been discussing OpenTelemetry with @ilyam8 and we were doing some diagrams on the wall:

![WhatsApp Image 2022-03-18 at 23

[2022-03-18 22:38] ktsaou commented on #329
BTW, @vkuznecovas I don't know why, but all RPIs stopped reconnecting (and stayed online) after this time (GMT+2):

rpi4b-2:
[code]

rpi4b-3:
[code]

rpi4b-4:
[code]

Nothing changed on them. The problem just disappeared on all of them together.

Still rpi4b-1 that was running my own build never reconnected. It was and still is permanently online.

[2022-03-19 10:44] ktsaou commented on #354
The [OpenTelemetry Timeseries Model](https://opentelemetry.io/docs/reference/specification/metrics/datamodel/#timeseries-model), is like this:

In netdata the `Metric Name` is the `context`. This is also done in our prometheus exporter, where the metrics we send are actually the contexts, with attributes/labels our dimensions. Example:

[code]

## Changing the context

The `context` in netdata is

[2022-03-19 11:36] ktsaou commented on #354
## Using the context to build the table of contents of x-node dashboards

Cross-node, composite, overview dashboards are supposed to be the x-ray of the infrastructure. Today we build the table of contents and we group charts together based on `context` and many heuristics to make it meaningful. But this is becoming increasingly complicated...

By changing the `context` for all charts and adding a

[2022-03-20 22:37] Razique opened #355 "[BUG] Typo on the 500 page - mean time should be one word (meantime)"
**Describe the bug**
The 500 page uses "mean time" instead of "meantime". See attached.
<img width="711" alt="Screenshot 2022-03-20 at 15 36 31" src="https://user-images.githubusercontent.com/1027278/159188988-7bab1c51-ac41-4784-b453-cf9d2f09e81d.png">

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screen

[2022-03-21 08:10] vkuznecovas commented on #329
This is rather weird. As far as I'm aware there were no releases/updates on or around the time that would/could cause this change from the cloud side. I can indeed see this on the logs as well - no more issues past this point.

[2022-03-21 11:20] dotob opened #356 "[BUG] dashboard with data from unreachable node, missing infos"
**Describe the bug**
In a dashboard where a chart of an unreachable node is shown one cannot know what metrics the charts was.

**To Reproduce**
- create dashboard
- add chart
- node is unreachable
- chart show only node name und unreachable

**Expected behavior**
show what metrics the chart was. in my case a had to reinstall the agent and reclaim the node and now i dont know which charts i once h

[2022-03-21 12:44] ktsaou opened #357 "[BUG] anomaly advisor ml_info failing"
![image](https://user-images.githubusercontent.com/2662304/159263268-8f5f07f5-c3b3-4f4c-8507-ee2ffe6a5623.png)

![image](https://user-images.githubusercontent.com/2662304/159263466-bb2b5c74-e195-4390-b2a1-069b070c1c33.png)

3 issues:

1. ml_info are being cancelled. Why?
2. ml_info is failing on the backend. Why?
3. The status on the sidebar say "Loading..." while it has actually failed.

[2022-03-21 12:59] ktsaou opened #358 "[BUG] in anomaly advisor, the error conditions for metric data is missing"
1. There is a min of 60 seconds to query Anomaly rates of related metrics. There shouldn't be any min or max duration
2. When we query for Anomaly rates of related metrics, there should be a spinner
3. When the query for Anomaly rates of related metrics fails, there should be a message

[2022-03-21 13:05] hugovalente-pm commented on #358
For point 3. we need to check this figma's initial proposal https://www.figma.com/file/MgDDTMmnlulK6Fjoq6LCQF/Anomaly-detection-ideation?node-id=1318%3A196027 and do it or something similar

cc/ @shyamvalsan @christophidesp

[2022-03-21 15:34] shyamvalsan commented on #358
I think in the scenario Kosta encountered we don't return anything due to a failure not due to there being no anomalies. So maybe along the same lines you suggest @christophidesp but the message is "Failure to load anomalies" or something along those lines. @hugovalente-pm how do we generally handle error messages in netdata-cloud? Do we suggest the user reload or try again?

Also, if for selected

[2022-03-21 15:47] hugovalente-pm commented on #358
sorry I misread the point 3., I was thinking when we don't have anomalies for some reason but not because of a failure, so @christophidesp suggestion for that sound good

when there are errors on getting data it depends:
* if on getting data for the charts we show an `Error` pill on the top-left corner of the chart
* if on getting charts for an entire dashboard, typically a 5XX or something we sho

[2022-03-21 18:10] hugovalente-pm commented on #316
@TonyPath just a check, the work here overrode this [be][cloud-charts-service] Route ADC data requests taking into account chart availability netdata/product#22717?

[2022-03-22 08:15] TonyPath commented on #316
@hugovalente-pm  I would say that the work here improves/extends the https://github.com/netdata/product/issues/2717

[2022-03-22 09:15] vkuznecovas commented on #329
I did a bit of log analysis to try and pinpoint a concrete cause for this, but to the best of my knowledge this does seem like that agent just does not ping vernemq before the keepalive expires.

I tried aggregating claim IDs that are affected by this to see how many and perhaps detect some "common" theme amongs the agents, but alas. Here are my findings nonetheless.

There seem to be 590 agents a

[2022-03-22 11:38] nikitabaldan opened #359 "[BUG] Platform not reachable"
**Describe the bug**
Cannot login into the platform, to monitor the nodes.

**To Reproduce**
Steps to reproduce the behavior:
https://app.netdata.cloud/?utm_source=website&utm_content=top_navigation_sign_up not reachable

**Expected behavior**
Actually login and monitor our nodes

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] MacOS Big Sur
 - Browser [e.g. chrome, safa

[2022-03-22 12:28] hugovalente-pm commented on #136
@novykh not sure if this has been released or not, related with this an issue has been reported by a user on discord about two different dimensions having the same color - I was able to see this in a Single Node view page here for example https://app.netdata.cloud/spaces/tsaousis/rooms/general/nodes/01702efd-af72-45b0-8e2f-33d806e5699f#chartName=menu_system_submenu_ram&metrics_correlation=false&af

[2022-03-22 12:48] novykh commented on #136
Different issue.

[2022-03-22 13:48] hugovalente-pm commented on #136
Closing since this was released yesterday

[2022-03-22 13:48] #136 closed

[2022-03-22 13:56] ghost opened #360 "Node - Cloud connectivity events feed"
Before going into design and think about where the events will be display etc., we should capture all Cloud-Agent connectivity events that are useful for troubleshooting.

The goal of this story is to let Cloud users understand what's is happening with nodes e.g. when they go offline or some other connection issues.

### Use case 1 - Node cannot connect be claimed (cannot connect 1st time)
A node

[2022-03-22 13:58] hugovalente-pm opened #361 "[BUG] Single Node view - Different dimensions get same color on chart"
**Describe the bug**
Different dimensions get same color on the chart in the Single Node view page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Single Node view on a node
2. Go to the System RAM chart

e.g. https://app.netdata.cloud/spaces/tsaousis/rooms/general/nodes/01702efd-af72-45b0-8e2f-33d806e5699f#chartName=menu_system_submenu_ram&metrics_correlation=false&after=-21600&before

[2022-03-22 13:59] hugovalente-pm commented on #136
@novykh opened it here https://github.com/netdata/netdata-cloud/issues/361

[2022-03-22 14:35] vkuznecovas commented on #279
So technical details for the implementation would be these:

Implement a script to migrate existing data
This script should do the following:
1) Iterate through spaces.
2) Check each spaces' general war room:
	a) If the general room does not have all the spaces' users assigned, assign permissions to the missing users to view general.
	b) If the general war room contains all nodes that belong to th

[2022-03-22 15:30] dionysis-netdata commented on #279
looks good @vkuznecovas
`a` shouldn't happen as all users belong to general.

+ 1 more thing. block node removal from general war room. user removal is already not applicable

[2022-03-22 15:51] lupimiguel opened #362 "[BUG] Ask the community button link is broken"
**Describe the bug**
After a change in the Forums categories, the button **Ask the community** in the "?" (help) section became outdated, therefore it's now sending users to a broken destination.

**Expected behavior**
This button should now point to https://community.netdata.cloud/c/help/

**Screenshots**
![ask-the-community](https://user-images.githubusercontent.com/56279741/159522533-55abd064-9

[2022-03-22 20:34] ktsaou opened #363 "[BUG] anomaly advisor node tooltip has % above 100%"
<img width="443" alt="image" src="https://user-images.githubusercontent.com/2662304/159570916-02e0531b-bde5-4f54-8529-2eac8ddd1358.png">

@sashwathn the whole calculation of this is hugely problematic. We have to find a solution.

[2022-03-22 20:58] papazach commented on #354
Hello @ktsaou I uploaded in our Google Drive the requested export in .csv format (404MB gzipped, 5.4GB original size).
You may find it [here](https://drive.google.com/file/d/1lIe9fMKK4U1y05ZmAQxhuTpiXd_wGU8G/view?usp=sharing).

Feel free to take a look and reach out in case something additional is required.

[2022-03-23 00:49] sashwathn commented on #363
Adding @shyamvalsan here.

[2022-03-23 07:24] shyamvalsan commented on #363
Linked to main Anomaly Advisor MVP bugfix epic https://github.com/netdata/product/issues/2885

[2022-03-23 07:47] ktsaou opened #364 "[BUG] data requests timeout at 3 seconds"
https://app.netdata.cloud/spaces/netdata-cloud/rooms/k8s-prd/nodes/1b48aa88-55c6-4a1a-9fc7-6e72e77abbd6

single node dashboard:

<img width="508" alt="image" src="https://user-images.githubusercontent.com/2662304/159648703-5061c3fa-36bb-4e9f-9f91-cf30e7ac8479.png">

Request:

[code]

Response:

[code]

[2022-03-23 07:50] ktsaou commented on #364
I had the impression the timeout was set to 10s, which was already very low for supporting big queries.
3s is totally wrong, from any point of view.

[2022-03-23 07:50] ktsaou commented on #364
@hugovalente-pm

[2022-03-23 07:52] ktsaou commented on #364
Also, when a timeout happens, the UI shows "Error" on the chart. It should show "Timeout".

[2022-03-23 09:20] ktsaou opened #365 "[BUG] internal server errors in data requests should be descriptive"
https://app.netdata.cloud/api/v2/spaces/31a2fba1-8ee2-4fa0-9fed-bb437e3fb75c/rooms/9e949183-e2a6-44a5-88df-deb4f3f4271e/data

Request payload:

[code]

Response:

[code]

---

## Discussion

`ErrInternal` should be completely eliminated. There is no condition under which such a generic error message should be returned. The error message returned should describe the exact reason the system decided

[2022-03-23 09:26] hugovalente-pm commented on #315
capturing highlights from slack discussion:

![image](https://user-images.githubusercontent.com/82235632/159665779-17b210c8-4e5e-4646-b97c-f0cc5b9033e3.png)

last 30 days is ok
![image](https://user-images.githubusercontent.com/82235632/159665859-4e3ab650-27ba-4136-a1f3-615e9905e63d.png)

[2022-03-23 09:58] hugovalente-pm commented on #315
based on the update on the daily, I think we can go with not showing the skeleton but the actual chart with the "no data", since as you mentioned @novykh you have the charts list on the definition of the custom dashboard

[2022-03-23 14:48] ktsaou commented on #329
@vkuznecovas do you have any info about installation method? Are all these static installs?

I suspect this is triggered somehow from the cloud side, but it happens only on static installs (netdata linked against `muslc`, not `glibc`).

I have verified that once I install dynamically linked agent, the issue is gone, while it remains on the other nodes that run a statically linked agent. I am insta

[2022-03-23 15:23] cakrit commented on #362
We're defining something else in https://github.com/netdata/product/issues/2888

[2022-03-23 15:23] #362 closed

[2022-03-23 17:39] ktsaou commented on #329
And it happens again.

[code]

[2022-03-24 07:31] ktsaou commented on #365
Happening now:

https://app.netdata.cloud/api/v2/spaces/31a2fba1-8ee2-4fa0-9fed-bb437e3fb75c/rooms/9e949183-e2a6-44a5-88df-deb4f3f4271e/data

Request payload:

[code]

Response (all nodes returning internal server error):

[code]

[2022-03-24 09:45] vkuznecovas commented on #329
I'm pretty confident that the only place we're actually disconnecting the agents from the cloud is the sanitization script. Therefore I'd say these are not explicit calls from cloud to boot the agent from vernemq.

These are the release channels:

[code]

I'm not quite sure if we have an indicator for static installs though. I've pretty much got access to the `NodeInfo` for these agents, are there

[2022-03-24 10:08] papazach commented on #364
I see that netdata-parent's child instances are most of the time `live: false` and `queryable: false`  and when they get queryable and/or live - so we get to route data requests to them - then they time out.

Seems that they need more than 3sec. to return the responses whereas the child nodes themselves need no more than 300ms.

Pinged @stelfrag to take a look at the parent's state from the Agent

[2022-03-24 11:14] papazach commented on #62
Is this still relevant @hugovalente-pm ?

[2022-03-24 11:16] papazach commented on #49
Is this still relevant or we should close it?

[2022-03-24 11:18] papazach commented on #6
This is done.

[2022-03-24 11:18] #6 closed

[2022-03-24 11:23] andrewm4894 commented on #49
@papazach feel free to close this one. It may have been fairly specific to the anomalies python collector which will be less relevant once we have the anomaly advisor in prod.

[2022-03-24 11:23] #49 closed

[2022-03-24 11:26] hugovalente-pm commented on #62
@papazach I asked you a similar thing in Dec.2021 😄
I'm not aware of this issue happening at the moment, so we probably could close it

[2022-03-24 11:31] #62 closed

[2022-03-24 11:44] hugovalente-pm commented on #356
thanks for opening this bug and bringing this to our attention.
we will find a away to improve the user experience here

[2022-03-24 11:57] hugovalente-pm commented on #353
thanks for raising this @shyamvalsan , we have some tickets in discussion that would sort most of the 5XX we are having.
I think we discussed the auto-refresh on the original ticket (netdata/product#2443) and the idea was not to constantly trigger requests that would fail and we would need to have some condition to stop trying

probably @novykh can also share his point

[2022-03-24 12:53] dionysis-netdata commented on #352
@burbuli8ra is this something that you have within your reach with the work you are doing?

basically the available mem chart on the nodes tab isn't showing.

[2022-03-24 14:47] hugovalente-pm commented on #364
@stelfrag let us know if you or someone from the agent team is or will be actively working on this.

[2022-03-24 15:09] hugovalente-pm commented on #335
This ticket is being closed since this tracked here netdata/cloud-backend#91

[2022-03-24 15:09] #335 closed

[2022-03-24 16:49] underhood commented on #329
AFAIK we seem to be using `get_install_type` only in analytics (for posthog) and in `buildinfo`. Perhaps we should make whole `netdata -W buildinfo` accessible trough web api to prevent this kind of missing information in future

[2022-03-24 16:50] TonyPath commented on #313
Just to note that currently back-end already receives RELATIVE duration and transforms to ABSOLUTE before pass through to the agent. So does not seem to be the issue. We will keep investigating this and get back here with an update

[2022-03-24 21:22] stelfrag commented on #364
I am taking a look at this

[2022-03-25 08:17] vkuznecovas commented on #329
If they come as part of the node info payload that the agent sends - then yes, we could add that :)

[2022-03-25 08:33] vkuznecovas commented on #329
We've discussed this a bit with @ralphm on slack.

He raised the following question with the Vernemq guys:

If so, do you have tips on how to figure out why this is happening? As far as we know, for these cases, we are not instructing VerneMQ to close the connection. Are there other reasons for VerneMQ to decide to close a connection?

The answer was the following:

Just to reiterate as to what my

[2022-03-25 08:37] ralphm commented on #329
I've also asked for some clarification on the WebSocket error code for this case. It seems to be that if it is the server giving up for lack of keepalives, the response code should not be `1000` but rather `1006`.

[2022-03-25 09:09] juacker commented on #357
Issue nº2 (ml_info failing on the backend) has been fixed by https://github.com/netdata/cloud-charts-service/pull/184

[2022-03-25 10:47] ktsaou commented on #329
So, they should be disconnected every 5 mins. Right?

Check the logs above. They are disconnected every 140 seconds in the average.

[code]

On rpi4b-1:

[code]

On rpi4b-2:

[code]

On rpi4b-3:

[code]

On rpi4b-4:

[code]

138 seconds everywhere!

[2022-03-25 12:49] iigorkarpov opened #366 "[BUG] Icons and system types are assigned rather randomly."
**Describe the bug**
Icons are assigned to nodes rather randomly. The system type is often incorrectly defined. I have seen the bare metal type assigned to a node running VMware and the oracle type for a node running Rocky Linux 8.
Often nodes running Centos 7, Debian 10, Debian 11, Rocky Linux 8, Oracle Linux 8 have the Amazon AMI icons.
And sometimes the same Oracle Linux 8 is marked as Unknown

[2022-03-25 14:28] cakrit opened #367 "[BUG] 7 days monitoring with kubernetes plugin times out"
See https://community.netdata.cloud/t/7-days-monitoring-with-kubernetes-plugin-times-out/2232

Not sure if we can reproduce. There was a discussion between zeylos and papazach in Discord at some point, but I couldn't find it.

User reported that the issue still persists and he can offer no additional info from his side

[2022-03-25 14:48] hugovalente-pm commented on #367
@cakrit I think this issue has been dealt here netdata/product#2627, I've engaged with Bastien in the past and I think we sorted the issues he was facing. I'll re-check just to be sure

[2022-03-25 14:55] hugovalente-pm commented on #367
@papazach just confirmed with Bastien, the issue still persists. he mentioned that he can provide us the exact scenario to reproduce

also that all his agents are updated.

p.s. will share internally the space id in question

[2022-03-25 16:36] MikeJakubik commented on #352
The code is actually there in https://github.com/netdata/netdata/blob/master/daemon/system-info.sh on line 254 "CPU_MODEL="$(sysctl -n hw.model)"" guess it's just a matter of getting the cloud app to display this.

[2022-03-25 18:22] hugovalente-pm opened #368 "[BUG] Mount points gauge with min and max numbers very close together"
**Describe the bug**
There are units display issues on the gauge charts on `Mount points` section:
1. The units of measure seem to have a large number of decimal cases, which based on the delta between `max` and `min` seems accurate, but this causes the values to appear very close together and almost making them indistinguishable
2. The units `tib` is in lowercase it should be `TiB`

Note: This pr

[2022-03-25 18:37] ktsaou commented on #364
@papazach does this mean that we do have a timeout at 3 seconds?

[2022-03-26 19:09] Razique opened #369 "[BUG] The dashboard is unable to load any node, error 500"
**Describe the bug**
For the past two weeks or so, I haven't been able to view data for any of the nodes. I have restarted all agents, tried different browsers, and disabled add-ons to make sure I wouldn't be blocking some calls. But the error is the same:
<img width="1449" alt="Screenshot 2022-03-26 at 12 03 45" src="https://user-images.githubusercontent.com/1027278/160253645-6617d070-819d-461b-b

[2022-03-28 09:16] ravilushqa commented on #279
@dionysis-netdata I didn't get it, can you please explain what do you mean

@vkuznecovas also `2.b` looks useless as all users are assigned to the general if I understand correctly

[2022-03-28 09:29] dionysis-netdata commented on #279
Forget my comment. Vik edited his previous comment.

I updated this ticket description to inlude the missing bit about the copy war room.

[2022-03-28 10:04] dionysis-netdata commented on #213
@ivangergo3 please create a new ticket with what the BE issue