[2022-06-23 14:28] car12o commented on #466
fix deployed to prod!

[2022-06-23 14:28] #466 closed

[2022-06-23 14:47] hugovalente-pm opened #481 "[Bug]: Chart tooltip dimension highlight position not working correctly"
### Bug description

On a chart with multiple dimensions when you navigate with our mouse over an outlier dimension the tooltip dimension highlight isn't highlighting the dimension being _navigated_

### Expected behavior

The dimension closer to the mouse pointer should be the one highlighted

### Steps to reproduce

1. Go to to [this chart](https://app.netdata.cloud/spaces/netdata-cloud/rooms/k8

[2022-06-23 14:48] hugovalente-pm commented on #481
@dimko @jjtsou for visibility, adding to our board

[2022-06-24 07:35] burbuli8ra commented on #439
Released on [v2.35.4](https://github.com/netdata/cloud-frontend/releases/tag/v2.35.4)

[2022-06-24 07:35] #439 closed

[2022-06-24 11:38] ravilushqa commented on #383
@AlexNti expected output from `/api/v1/spaces/{spaceID}/rooms` will be:

**no nodes and members**
[code]

**nodes and members exists**
[code]

[2022-06-24 11:59] sashwathn commented on #225
Note: For existing users who have changed the node hostname in the past, there will be an exercise to update all the hostnames for all connected nodes in case there are any discrepancies. Until then, you may still receive notification emails with the previous hostname. We will update you once this is available!

[2022-06-24 13:55] dimko opened #482 "[Bug]: 500 error page in Kubernetes tab when all nodes are offline"
### Bug description

When all monitored nodes in a kubernetes cluster are offline and user is in the Kubernetes tab, it shows a 500 error

### Expected behavior

It should show the No Charts to display screen as shown in the Overview tab

### Steps to reproduce

1. Navigate to Netdata Cloud
2. Claim a kubernetes cluster
3. Make all nodes offline
4. Navigate to Kubernetes tab
...

### Screenshots

[2022-06-24 14:19] cakrit commented on #479
I put them all together because I suspect they may all have a common root cause: _some bug navigating to the exact chart we were viewing, bringing it to the viewport and selecting the correct menu item on the right_

If they are proven to be different issues, the most important one is the bad navigation, so we can leave this one for the charts appearing behind other charts as you suggest.

[2022-06-24 15:13] ralphm opened #483 "[Bug]: Using the Anomaly Advisor causes an error page when switching tabs"
### Bug description

It seems that using the Anomalies tab permanently overrides Force Play, even if you switch to another tab. One of the side effects is that switching to the Overview tab causes an error screen (_Oops, something unexpected happened!_), which the user has to click _Reload_ on to continue.

### Expected behavior

When switching to a different tab:
- The original choice of normal _

[2022-06-24 15:27] ralphm commented on #468
I think we should do no interpolation at all. Gaps are better than fake data points and suggestive (but unknowable) trends. Instead:

- If the chart has two points with a gap in between, and there is a desire to connect it with a line, then don't show data points there when hovering. Maybe use a dashed line, but in the same color as the metric. I prefer to have an explicit gap, though.
- Have the

[2022-06-24 15:29] andrewm4894 commented on #483
i think this could be a dupe of this issue: https://github.com/netdata/cloud-frontend/issues/3565

not 100% sure though - will retest this again once the fix for above is deployed

[2022-06-25 10:27] andrewm4894 opened #484 "[Bug]: System overview gauges missing from single node view"
### Bug description

System overview gauges missing from single node view

you can see it on the overview:

![image](https://user-images.githubusercontent.com/2178292/175769592-8af6a41b-0955-4520-b51e-4ef55a85a8a1.png)

But not on the single node view:

![Uploading image.png…]()

### Expected behavior

THe gauges should be there as usual

### Steps to reproduce

1. go to any single node view

###

[2022-06-25 15:04] dimko commented on #484
A workaround for this issue:
**Go to overview tab. The Gauges at visible there. Click the global filter on the top right section and select the desired node.**

**Even though user is on Overview screen, all charts and gauges will be displayed only for the filtered node.**

[2022-06-26 13:17] ebzao opened #485 "[Bug]: New Caledonia Timezone Incorrect"
### Bug description

The timezone selector include New Caledonia with the label : "Solomon Is., New Caledonia UTC +10".

### Expected behavior

The New Caledonia Timezone (NCT) is always UTC +11, without daylight saving time.

### Steps to reproduce

1. Search for "New Caledonia" in Timezone selector, and select "Solomin Is., New Caledonia UTC +10".
2. Time is wrong, one our offset because of UTC+

[2022-06-26 19:39] nethershaw opened #486 "[Bug]: Dashboard chart type does not persist when saved"
### Bug description

Chart rendering types (line, stacked, area) are not persisted when returning to a previously saved dashboard where those types have been altered.

### Expected behavior

On returning to a saved dashboard, charts where I have changed the rendering type (e.g., from 'stacked' to 'line') should remember  the type they had when I saved them.

### Steps to reproduce

1. I create a n

[2022-06-27 07:33] shyamvalsan commented on #470
Thanks @katsel for reporting this, the team is investigating and we'll get back to you soon.

[2022-06-27 07:41] shyamvalsan commented on #306
This limitation has been resolved as part of https://github.com/netdata/product/issues/2910

[2022-06-27 07:47] ravilushqa commented on #306
This limitation has not been resolved, but we plan to do so. It's actually part of https://github.com/netdata/product/issues/2925

[2022-06-27 07:56] hugovalente-pm commented on #486
@nethershaw thanks for raising this to our awareness, I was able to reproduce this behaviour once as well.
we will take a look and work on a fix for it.

[2022-06-27 08:06] hugovalente-pm commented on #483
it seems we have 3 different things reported here:
1. _It seems that using the Anomalies tab permanently overrides Force Play, even if you switch to another tab_
2. _One of the side effects is that switching to the Overview tab causes an error screen_ , which seems related to what @andrewm4894 has pointed above
3.  bug on implementation of the 500 error page, original work here https://github.com/

[2022-06-27 09:29] shyamvalsan commented on #483
@hugovalente-pm I think it makes sense - if (i) is not already being covered in @novykh fix for https://github.com/netdata/cloud-frontend/issues/3565

[2022-06-27 09:40] hugovalente-pm opened #487 "[Bug]: New generic error page for non-5xx HTTP errors"
### Bug description

The image used for the error page shows a large 500 behind a crane. This suggests that there was a network error (HTTP 5xx response code). In practice, though, there was no request with a 5xx response, but rather a Javascript error.

### Expected behavior

We should show something different here. Maybe a version of drawing without the 500.

### Steps to reproduce

N/A

### Scr

[2022-06-27 09:40] hugovalente-pm commented on #483
bug created for 3. https://github.com/netdata/netdata-cloud/issues/487

[2022-06-27 09:41] hugovalente-pm commented on #487
bug on implementation of the 500 error page, original work here https://github.com/netdata/cloud-frontend/issues/3264 --> point 2. has keep the current 500 page in case of any REAL 500 error from the BE

[2022-06-27 10:45] hugovalente-pm commented on #486
data seems to have been saved correctly but on FE the `line` value isn't being correctly retrieved:
![image](https://user-images.githubusercontent.com/82235632/175924192-8f67fbb2-a88d-48cc-bf8a-e8b274c1c233.png)

[2022-06-27 12:32] cpipilas commented on #475
Hey @SkyperTHC, indeed looks like an issue with certificates,  what is the linux distro that you're using (version etc.)?

cc @Ferroin

[2022-06-27 18:19] cakrit opened #488 "[Bug]: Agent timeout for no reason"
### Bug description

Multiple data requests to the following return data only from one of the two nodes in the room. However, each node on its own responds well and netdata is running fine on both of them.

https://app.netdata.cloud/api/v2/spaces/47e025ed-c1d5-4981-b170-3cb4d4a56a9a/rooms/0852b034-7062-43a0-8ea5-58b9389dad51/data
[code]

Response contains the following:
[code]

Verified that the n

[2022-06-28 07:21] shyamvalsan commented on #471
Breaking this task in to smaller pieces per team:

BE: Confirm that this information (newly claimed nodes that are visible but never connected to cloud) is available and can be exposed to FE, if it is not currently available then we should implement this.

FE: Decide how to represent this in the cloud UI in a way that is useful to users, link to the right doc page.

Doc: Have a dedicated doc page

[2022-06-28 07:43] shyamvalsan commented on #477
@amalkov @hugovalente-pm are you still able to reproduce this? I tried the steps above but did not notice any flickering

[2022-06-28 07:54] shyamvalsan commented on #280
@ktsaou @cakrit @amalkov what is the context behind this request? We will be fundamentally changing access workflow if we do this - especially for private war rooms. So I am trying to understand the rationale here.

[2022-06-28 08:11] papazach commented on #367
Ok so a few remarks after getting access to @zeylos rooms and having some testing/debugging sessions.

1. I noticed a relatively _small_ Cloud issue (regarding charts labels) causing a few k8s composite data requests to return a 400 (regardless of the time range selected on the datepicker). The fix has been tested and will soon be rolled out ([link](https://github.com/netdata/cloud-charts-service/

[2022-06-28 08:26] hugovalente-pm commented on #477
@shyamvalsan yes I just reproduced it now:
![slack_3SKZZRUyE6](https://user-images.githubusercontent.com/82235632/176131483-50e11b0e-aac7-4502-bc44-bbce1ec4de74.gif)

it isn't easy to reproduce, you need to _play_ with your window size as well as opening multiple tabs, closing tabs in order to find the (what seems) edge case to trigger this

[2022-06-28 08:45] AlexNti commented on #477
Hey @hugovalente-pm, i believe this is the expected behaviour of the tabs. The flickering occurs because the algorithm compares the width of the tabs with the width of the Window, calculates that our tabs does not fit in the screen so it shows only the icons instead of the text.

[2022-06-28 09:12] AlexNti commented on #484
Closing this as fix is already in Production.

[2022-06-28 09:12] #484 closed

[2022-06-28 09:16] hugovalente-pm commented on #477
@AlexNti it is expected for it to do a calculation and stay with one result, right? not to be flip-flopping by itself between expanding and decreasing the _fixed_ tabs

[2022-06-28 09:29] shyamvalsan commented on #477
Hmm, wonder if we're hitting some edge case in terms of width so we flip between minimized tabs and maximized tabs.

[2022-06-28 10:12] sashwathn commented on #225
The script has been successfully executed and all the notifications will now be received with the updated hostnames.

cc: @cakrit akriditis and @ktsaou

[2022-06-28 12:03] jjtsou commented on #428
https://github.com/netdata/charts/pull/107

[2022-06-28 12:08] MrZammler commented on #478
Hi @hugovalente-pm !

As a first step, there is an indication in `UpdateNodeInfo` message, a field called `updated_at`. This is the current time when the message is sent, it could might be used to deduce a diff in time between agent/cloud.

[2022-06-28 13:53] cakrit opened #489 "[Bug]: `apps` plugin charts missing from cloud"
### Bug description

The apps.plugin charts aren't shown on a single node view in cloud, but they exist on the agent.

### Expected behavior

All charts between agent and cloud should be identical.

### Steps to reproduce

No idea. Invited @papazach to the room where it happens.

### Screenshots

<img width="996" alt="image" src="https://user-images.githubusercontent.com/43294513/176195962-995e1b3

[2022-06-28 14:39] shyamvalsan commented on #306
Closing now, since we have released https://github.com/netdata/product/issues/2925

[2022-06-28 14:39] #306 closed

[2022-06-29 08:42] shyamvalsan commented on #469
This is not reproducible any more - let's re-open if it happens again.

[2022-06-29 13:38] hugovalente-pm commented on #488
what I can see on the Overview is that one node is being marked has having timedout

![image](https://user-images.githubusercontent.com/82235632/176450268-8989a6ef-4d00-47b2-a597-aa3a4fa148fa.png)

as mentioned, if you go to single node view you get data for that node

for the one that timesout you see on the Overview request:
[code]

but on the single node view you see data being retrieved from t

[2022-06-29 13:45] hugovalente-pm commented on #489
this is being looked as a part of the raised incident above raised here https://status.netdata.cloud/incidents/h8cxs1g3vl9s

[2022-06-29 20:51] amalkov commented on #477
Guys, it should not be a problem to calculate the width difference between the full sized default tabs and icons. After that we need to use this value + extra buffer in our calculations as a gap in the mode switch logic...

[2022-06-29 20:55] amalkov commented on #478
@MrZammler thanks, sounds good, just extra check... is it always in UTC?

[2022-06-30 07:43] shyamvalsan commented on #464
@burbuli8ra Agree, the comments were specific to nodes view, since we are adding this to admin panel, what you suggest above makes sense. Also if users can do a bulk obsolete they wouldn't mind a warning popup modal so much.

[2022-06-30 11:33] hugovalente-pm commented on #489
as a plan of action to try to get to the root cause of this the follow actions/tickets have been identified:
- [ ] https://github.com/netdata/product/issues/2933 --> Agent
- [ ] https://github.com/netdata/product/issues/2931 --> Agent
- [ ] https://github.com/netdata/cloud-backend/issues/119 --> Cloud BE
- [ ] sanizite config-hash algorithm (ticket?) form [this discussion](https://github.com/netda

[2022-06-30 12:50] cakrit commented on #471
This shows the % of newly claimed nodes that didn't connect to the cloud per day. You can see clearly that the primary reason is the migration to the new architecture on May 11th, i.e. old agent versions:

<img width="536" alt="image" src="https://user-images.githubusercontent.com/43294513/176680872-729aadb8-1b1b-4dcb-83e5-792fed50f8be.png">

[2022-06-30 15:21] #428 closed

[2022-06-30 15:21] #482 closed

[2022-06-30 15:25] hugovalente-pm commented on #419
this is fixed

[2022-06-30 15:25] #419 closed

[2022-06-30 16:46] luisj1983 opened #490 "[Feat]: Make sharing node id and space id easy"
### Problem

I was recently troubleshooting an issue with Netdata and one of your team asked for the Space ID and NodeID of the affected agent.
I had to ask about the Space ID because it’s merely an ID and not a GUID and so it’s the space name; and yet the node ID is something like a GUID (don’t know if it’s global to Netdata or to my instance of data).

In any case it wasn’t obvious to find this

[2022-06-30 17:56] #464 closed

[2022-07-01 08:17] shyamvalsan commented on #490
Thanks @luisj1983 this is a great suggestion.

[2022-07-01 08:20] hugovalente-pm commented on #480
sorry for only following on this now @ralphm, it went under my radar for some reason.
was checking this bug and seems to be the same as reported here https://github.com/netdata/netdata-cloud/issues/481, right?

would it be ok to keep only the #481 ?

[2022-07-01 08:28] ced1check opened #492 "[Bug]: Stuck data values depending on time span"
### Bug description

In netdata cloud, one server has issues displaying appropriate results depending on time interval.

If I select less or equal to 6 hours, the data is ok, but if I view a range of 12 hours or more, there is a complete period of time where data values are "stuck".

I've attached screenshots below that reflect that problem. It seems to affect multiple data sets, but not all.

I'm

[2022-07-01 08:33] ralphm commented on #480
480 < 481 😀

[2022-07-01 09:04] ced1check commented on #492
I just "upgraded" to stable version 1.35-1 and that fixed the issue.

[2022-07-01 09:17] andrewm4894 commented on #490
I think there sort of is at least a workaround here: https://community.netdata.cloud/t/feature-request-node-id-and-space-id-in-web-gui/3044/5?u=andrewm4894

[2022-07-01 09:17] hugovalente-pm commented on #489
to update on this, it was decided to park the above fixes around the charts and dimensions and focus on the Persist Context metadata instead of Charts and Dimension on the Cloud [#247](https://github.com/netdata/cloud-backend/issues/247)

[2022-07-01 11:30] Ferroin opened #493 "[Feat]: User customizable dimension colors."
### Problem

Our current list of colors we use for dimensions provide acceptable contrast for users with normal vision, but are less than optimal users who have limited vision (such as colorblindness or light sensitivity).

### Description

Allow users to customize the list of colors used for dimensions.

To clarify, I’m am suggesting that we allow the user to set custom colors for metrics on the

[2022-07-01 12:59] luisj1983 commented on #490
Yup, that's why I figured it was a small change :grin:
And parsing through a bunch of XML is a poor user experience, hence the RFC.
Plus, to be pedantic (sorry, not sorry), the XML mentions an "ID" field and not a "Node ID" field.
It's not obvious whether that "ID" value is context-dependent or not because it's just an "ID" and that could mean anything.
As I said, a doc change is the absolute mini

[2022-07-01 13:59] jacekkolasa opened #494 "[Feat]: persist closed state of filter bar"
In Active Alerts tab Filter bar is always opened by default. Even changing tab resets the state.
I suggest we persist it, either in localStorage, url, or in a service.

[2022-07-01 14:15] cakrit commented on #490
I really don't understand, why are we asking for these instead of the URL when they look at a single node view?
It contains the unique space slug (not the name) + the node id.
We just need to never request these two again.

[2022-07-02 13:08] moson-mo opened #495 "[Bug]: Dashboard - Chart settings not saved"
### Bug description

Some chart settings are not saved.

### Expected behavior

Changes to charts should be saved.

### Steps to reproduce

1. Create Dashboard
2. Add "net.net" chart for all nodes
3. Change "for" setting to "All dimensions"
4. Click "Save"
5. Navigate to another tab
6. Navigate back to Dashboard

### Screenshots

https://user-images.githubusercontent.com/13588013/177002108-b4598eb

[2022-07-02 13:14] moson-mo commented on #495
Same as #486 it seems -> Closing this issue.

Additionally to what has been reported in #486, also some other options than the type are not saved.

[2022-07-02 13:17] moson-mo commented on #486
Can confirm it.
Next to the chart type it also affects other options.
For example the dimension selection. See demo video:

https://user-images.githubusercontent.com/13588013/177002448-7086f763-a021-4a47-bb44-694fd813581b.mp4

[2022-07-02 14:26] moson-mo commented on #486
There is this piece of code which seems to force a stacked view when group by is not "dimension".

![image](https://user-images.githubusercontent.com/13588013/177004812-51f84f53-84c2-45ff-b8f9-617e8bdc77c8.png)

[2022-07-04 07:26] ralphm commented on #480
Closing in favor of #481.

[2022-07-04 07:27] #480 closed

[2022-07-04 07:28] ralphm commented on #481
Marked #480 as duplicate

[2022-07-04 10:08] dimko commented on #213
@shyamvalsan just an update on this one as it got resurrected. The fix by @burbuli8ra works as expected (if invitation fails for some reason, e.g email mismatch, invitation  expired or revoked the user sees an error alert popping up), however the previously mentioned side-effect is still present. After a new user successfully joins and invited space, he doesn't see the correct popup that he succes

[2022-07-04 10:25] shyamvalsan commented on #213
I agree @dimko - if the change (without the issue being resolved) means that successful joinees will see an error message then best to not release this now.

[2022-07-04 15:51] hugovalente-pm commented on #492
@ced1check wasn't able to reproduce or find an environment where this is happening. could you help with some questions?
* from our edit you mentioned this was happening on other servers, were they all on the same version?
* we have recently made some changes to our Agent query engine, have you experienced this on the most recently nightly `v1.35.0-127-nightly`?
* do you have streaming/parent-child

[2022-07-04 15:55] hugovalente-pm commented on #493
this feature makes total sense, we will add it to our backlog.

in terms of prioritization, we haven't had feedback or requests from our users around this so for now it falls behind some key initiatives we are pushing forward

tagging you @christophidesp just for awareness

[2022-07-04 17:08] luisj1983 opened #496 "[Bug]: Cannot delete agent from cloud dashboard"
### Bug description

I can't seem to delete a number of offline clients.

I coulddn't upgrade some nodes and so had to uninstall-reinstall. This lead to duplicates in the cloud dashboard, which I've had before; however, this time when I deleted the 'old' nodes from the dashboard's "nodes" view I got an internal server error.
andrewm4894 passed the info on to the backend team and soon I could delet

[2022-07-05 06:20] papazach commented on #488
Hello, I released the fix addressing this bug to production.

A specific part of the context data queries routing logic had been temporarily deactivated until we enhanced it with a light caching layer to ease the load to the DB. So this has been applied and from the telemetry there seems to be no actual performance penalty.

Feel free to validate as well and close the ticket.

@cakrit @hugovalente

[2022-07-05 07:23] papazach commented on #367
Awaiting the release of the fixed _mqtt5_ client from the Agent to see if ACLK can handle this load.

[2022-07-05 08:02] papazach commented on #367
If the mqtt5 improvements are not enough to make 7 days query return in a timely manner, there is also another feature in the works.

It's called **tiering** and should make a huge improvement too such queries. More info on the open PR [here](https://github.com/netdata/netdata/pull/13263).
With tiering the Agent basically keeps downsampled historical data in another file, so when you do huge histo

[2022-07-05 12:48] shyamvalsan opened #497 "[Bug]: Alert tab counters are not updated when global filter is applied"
### Bug description

Alert tab counters are not updated when global filter is applied

### Expected behavior

Alert tab counters should be updated when global filter is applied, otherwise it is misleading to the user

### Steps to reproduce

1. Go to prod room
2. Filter on a node in global filter
3. See that alert counters do not change
4. Visit alert tab and see empty page even if counters show a

[2022-07-05 13:07] cakrit commented on #489
The workaround for users who see this is to [remove and reconnect](https://learn.netdata.cloud/docs/agent/claim#remove-and-reconnect-a-node) the node that has the issue.

[2022-07-05 17:07] hugovalente-pm commented on #488
looks 👌 @papazach, thanks for nailing it
@cakrit can we close this?

[2022-07-05 17:34] hugovalente-pm commented on #485
thanks @ebzao for reporting this, we acknowledge the bug and will get it in to be sorted out

[2022-07-05 17:38] hugovalente-pm commented on #485
reviewed priority since this seems to be very specific to this timezone, was confirming that for other timezones not affected by daylight saving time it is working ok

[2022-07-05 21:20] cakrit commented on #488
Works for me now.

[2022-07-05 21:20] #488 closed

[2022-07-06 11:41] ced1check commented on #492
They were on 1.35.0-65-nightly versions. I since moved to 1.35-1 on all servers and haven't seen this issue since.

[2022-07-06 11:41] dimko opened #498 "[Bug]: Chart in alert details modal and alert dedicated view "plays""
### Bug description

Date time picker in alerts tab and alert's dedicated view is disabled.
When a user opens the modal by clicking the alert name, or visits the alert dedicated page the chart displayed is supposed to be a snapshot of the chart view around the time the alert was triggered and it shouldn't get updated.

### Expected behavior

Chart in alert details modal and dedicated view should n

[2022-07-06 11:42] dimko commented on #498
@jacekkolasa as discussed, assigning it to you.

[2022-07-06 11:52] dimko opened #499 "[Bug]: Chart plays after user lands in single node view through Go to Chart/Run correlations"
### Bug description

After a user clicks on an alert and selects to run correlations around the alert duration or go to chart for that alert, the datetimepicker is supposed to PAUSE after user lands in single node view

### Expected behavior

datetimepicker should be PAUSE after user lands in single node view after clicking go to chart/run correlations and chart shouldn't be getting udpated

### S

[2022-07-06 12:42] hugovalente-pm opened #500 "[Bug]: Dropdown lists are hidden on manage notifications on user profile"
### Bug description

If you have a couple of spaces, enough to fill your vertical space, and want to manage notifications on your profile the UX is poor because:
1) when expanding the space you want to edit the row is cut
2) last dropdown becomes rather unusable as it hides behind the bottom of the screen

### Expected behavior

1) When expanding the space row get the vertical position in a way th

[2022-07-06 13:14] hugovalente-pm commented on #492
ok, thanks for confirming.
we will try to check this on our latest nightly just to be sure it is solved there as well, just an issue on that version hopefully

about streaming/parent-child you can read more about it [here](https://learn.netdata.cloud/docs/agent/streaming) and how to enable it [here](https://learn.netdata.cloud/docs/metrics-storage-management/enable-streaming), in summary, you can

[2022-07-07 08:55] jjtsou commented on #497
https://github.com/netdata/cloud-frontend/pull/3620

[2022-07-07 10:16] jjtsou commented on #486
https://github.com/netdata/charts/pull/111

[2022-07-07 17:11] hugovalente-pm commented on #486
@nethershaw @moson-mo a fix for this was released today so closing this issue. do let us know in case you still face any problem

[2022-07-07 17:11] #486 closed

[2022-07-07 17:30] moson-mo commented on #495
https://github.com/netdata/charts/pull/111 fixes https://github.com/netdata/netdata-cloud/issues/486#issuecomment-1177949167

But not the other problem with "All dimensions" selection.
Reopening...

[2022-07-08 08:26] hugovalente-pm commented on #486
thanks for the quick feedback @jmakov and @moson-mo , we will look into #495

[2022-07-08 10:56] M4itee opened #501 "[Bug]: Bouncing chart data"
### Bug description

Thread on slack - https://netdata-cloud.slack.com/archives/CS3PB0VJ7/p1657272260718969
In short the problem is that charts are jumping constantly and they are changing their values. On a slack there are posts with mov files. I think it happens only when playing, when paused it is steady

### Expected behavior

not that :D I would like to have stady and stable data

### Steps t

[2022-07-08 11:02] AndreeaRadoescu opened #502 "[Bug]: Sign-In via Email blocked by Outlook"
### Bug description

Hi, I am trying to sign-in into Netdata cloud (I cleared my cookies the other day) and now the Sign-In hyperlink gets garbled by Outlook. When I click on the "Sign In" button I get redirected to a page that says "The page that you are trying to access cannot be loaded.". I am using a business email address from Microsoft.
I guess it is due to some changes that were introduced

[2022-07-08 11:07] AndreeaRadoescu commented on #502
It seems to work if I use the outlook browser client. Can consider this fixed from my side

[2022-07-08 11:07] #502 closed

[2022-07-08 13:23] cakrit commented on #489
In the past 24 hours, a user working with @MrZammler on connectivity issues and @andrewm4894 independently also had issues specifically with `apps` plugin charts not appearing on cloud. This requires independent investigation from the context metadata persistence effort.

[2022-07-10 20:09] jmakov commented on #495
Would just like to add that sorting by dimensions also isn't saved. Also can someone help me understand how this isn't a super high priority bug (am I using netdata wrong - doesn't everybody have multiple custom graphs :) )?

[2022-07-11 09:13] jjtsou commented on #497
released

[2022-07-11 09:13] #497 closed

[2022-07-11 09:54] zeylos commented on #367
Hi there,

Just saw the PR has been merged, how do you suggest I configure tiering in order to help rendering these queries ?

[2022-07-11 10:20] jjtsou commented on #483
Closing this one since a fix was released regarding the `Using the Anomaly Advisor causes an error page when switching tabs`

[2022-07-11 10:20] #483 closed

[2022-07-11 12:36] cakrit commented on #495
I agree, this should have been a high prio bug.

Not everyone creates custom dashboards @jmakov, many people just work with the default views.

[2022-07-11 12:43] jjtsou commented on #495
https://github.com/netdata/charts/pull/114

[2022-07-11 14:14] cakrit commented on #367
@zeylos we have a lot of documentation changes pending, but since you're a power user, try this calculator and let us know your experience. You'll need to download it first.

 https://docs.google.com/spreadsheets/d/1aRLZJGJk6fvQDktkCB44l-EFROJcUrwOLe8rBQcfpPE/edit?usp=sharing

[2022-07-11 14:21] sashwathn commented on #330
@stelfrag and @MrZammler : Any updates on this issue?

[2022-07-11 14:56] ralphm opened #514 "[Bug]: Alert notifications UNKNOWN → CLEAR"

[2022-07-11 15:05] ralphm opened #506 "[Bug]: chart family is not correctly rendered in notification"
### Bug description

E-mail notifications don't properly render the string with alert details. E.g.:

### Expected behavior

`$family` should be expanded, in this case to `/var`.

### Steps to reproduce

1. Observe disk space alerts notification e-mails.

### Screenshots

![image](https://user-images.githubusercontent.com/116741/178294714-082a466d-b5f7-4056-bced-c23bad9896af.png)

### Error Logs

[2022-07-11 15:21] shyamvalsan opened #507 "[Bug]: Postgres DB instances are displayed incorrectly"
### Bug description

If you have multiple Postgres DB instances, they currently show up as different sections on the TOC menu but in each chart data from all instances are present. This is confusing and incorrect.

In the below example I have two Postgres dbs, one called "example" and another called "postgres". But in the chart for "example" shown here you can see two instances listed one for "exa

[2022-07-11 16:06] cakrit opened #508 "[Bug]: Group by node triggering anomaly rate call when it shouldn't"
### Bug description

I'm switching overview charts to group `by node` on a personal space with two nodes and on Netdata Cloud room `k8s-prd-parent`. Whenever I do that switch on `system.cpu` and a lot of other charts I see a failed `data` call with a 400 response and many following `data` calls with every single point returning as 0. Switching back to `by dimension` fixes it.

### Expected behavio

[2022-07-12 08:27] hugovalente-pm commented on #508
@cakrit was trying this out today and it seemed a glitch since today I can't reproduce it.
@dimko were you able to see this happening?

[2022-07-12 09:05] dimko commented on #508
@hugovalente-pm I've tried, but can't reproduce it.
@cakrit could you please post the `/data` requests?

[2022-07-12 11:01] dimko commented on #416
Re-openning this one as it was incorrectly close. The services icons have been removed from the UI, but grouping by services is still present and doesn't work.

[2022-07-12 11:02] dimko commented on #416
Service icons missing related issue in cloud-frontend: https://github.com/netdata/cloud-frontend/issues/2997

[2022-07-12 11:13] dimko commented on #506
I see the following issue as fixed https://github.com/netdata/netdata-cloud/issues/466

is this a new email @ralphm ?

[2022-07-12 11:14] dimko commented on #506
@car12o this is similar to https://github.com/netdata/netdata-cloud/issues/466 but for alert emails do you think it's easy to fix?

[2022-07-12 11:16] car12o commented on #506
@dimko indeed, we fixed on the UI but seems like we also need to fix it on the email :sweat_smile:

[2022-07-12 11:22] dimko commented on #492
I am not able to reproduce this at all. There seemed to be an issue with that specific agent version that was fixed, so we can maybe blame it. I suggest we close this and re-open it in case we see this happening again.

cc @hugovalente-pm

[2022-07-12 12:10] dimko commented on #501
Some more info about this one. Will be posting subsequent /data requests and their response so we can identify why this up and down happens

Request 1:

Response 1:

Request 2:

Response 2:

[2022-07-12 12:13] hugovalente-pm commented on #330
this is related to this https://github.com/netdata/netdata-cloud/issues/330

[2022-07-12 12:13] dimko commented on #501
The responses  of /data don't justify this up and down, BUT, it seems that this happens when the server responds with a delay as we keep seeing the previous data.

for example the average response time is:

![image](https://user-images.githubusercontent.com/19268853/178486833-e1e54b28-35c6-4851-a396-0a2612722337.png)

Around the time that the chart values when up and down the response time for /da

[2022-07-12 12:17] dimko commented on #501
The payload for the 3rd response, the points returned were 101 instead of 151 returned in the previous responses

[2022-07-12 13:05] cakrit commented on #508
Repeated it now.

List of requests when switching to by node:
<img width="552" alt="image" src="https://user-images.githubusercontent.com/43294513/178496006-f928160f-6148-4b79-8f31-d10974b5806b.png">

1st request
[code]

1st request payload:
[code]

1st response
[code]

2nd request
[code]

2nd request payload
[code]

2nd request response
{
    "api": 1,
    "id": "system.cpu",
    "name": "system.

[2022-07-13 05:59] M4itee commented on #501
TBH for me it makes cloud unusable when this happens - how should I know which "version" of jumping chart is correct. I would rather say that for avoid such things we can have a bit of a delay between displaying the data to the user and gathering it in a background. Even 5sec of delay would be much better than this bouncing thing. Also the reality of using monitoring tools is, more often than not,

[2022-07-13 07:15] dimko commented on #508
Thanks @cakrit . In the first request that gets the Bad Request status, I see that points asked is a negative number `"points":-47,`

I am pretty sure this is the issue.

Can someone from @netdata/cloud-fe explain how are those points defined and requested? How is it possible to request for negative points?

[2022-07-13 07:24] vkuznecovas commented on #416
Implementing https://github.com/netdata/cloud-frontend/issues/3594 will make the services be visible again once the agent starts sending the collector info.

[2022-07-13 07:28] dimko commented on #501
We were investigating the issue yesterday with @papazach, trying to understand what really happens in terms of returned data and why this happens.

Something to note, when asking data for the last 15 mins for example, we're fetching and displaying all points for the specified duration. This gets updated every 4 seconds in our case for that specific chart.

In our case it seemed that one or more no

[2022-07-13 08:17] jonknud opened #509 "[Bug]: cant remove node"
### Bug description

I am happy that there is a function to remove nodes now.

It worked for a couple of nodes but for one of the nodes it does not work.

![image](https://user-images.githubusercontent.com/28842347/178685122-0a3611ab-78fb-4959-80bb-634424dc9a41.png)

### Expected behavior

I can remove nodes.

### Steps to reproduce

![image](https://user-images.githubusercontent.com/28842347/1786

[2022-07-13 08:22] jonknud opened #510 "[Bug]: Dashboard Chart doesnt show"
### Bug description

Some of the charts only show part of the graph. But I can see the data in mouse over.

![image](https://user-images.githubusercontent.com/28842347/178685847-868c41ad-7525-49e8-8997-a67dc414a8ea.png)

### Expected behavior

I can see the complete graph.

### Steps to reproduce

1. creat a dashboard
2. add some nodes
3. logout / login
4. select long time span

### Screenshots

_

[2022-07-13 08:33] dimko commented on #509
I've identified the issue. Indeed for some nodes that are supposed to be offline, status is reported as online although it's marked in the UI as unreachable. Thanks again for reporting.

[2022-07-13 08:43] dimko commented on #510
@jonknud hey, once again thanks for the report 😄 Netdata Cloud is currently under a scheduled maintenance https://status.netdata.cloud/?utm_source=embed so this could be the reason for those missing data. Could you please re-try  once maintenance is done? I'll help identify the issue if it persists.

[2022-07-13 08:55] ALEXSANPEDRO opened #511 "[Bug]: netdata cloud shows 500 code."
### Bug description

try to check app.netdata.cloud and see 500 error code

### Expected behavior

Nothing

### Steps to reproduce

??

### Screenshots

### Error Logs

nothing

### Desktop

OS: [win10]
Browser [firefox]
Browser Version [102.0.1]

### Additional context

_No response_

[2022-07-13 08:57] dimko commented on #511
This is due a scheduled maintenance https://status.netdata.cloud/?utm_source=embed

[2022-07-13 09:13] hugovalente-pm commented on #508
with the pinpointing of the potential cause, seeing that this isn't something happening all the time (seems related to viewport size) and looking that we don't have an high rate of  400 errors on the `/data` requests for the composite chart ([link](https://grafana.corp.app.netdata.cloud/d/qiI8zr5nk/overview-flow?orgId=1&viewPanel=12&from=now-7d&to=now&refresh=30s) was thinking of reducing this to

[2022-07-13 11:04] #511 closed

[2022-07-13 11:05] dimko commented on #511
System back to normal. Maintenance completed

[2022-07-13 13:42] hugovalente-pm commented on #508
thanks @burbuli8ra for the taking the time to investigate this and sharing the detailed summary of your findings

I'll open a separate ticket for the negative value on `points`, with low priority, and add link it here just for tracking.

for the `4xx` error we are also getting a help from @BillKalaitzis since we saw a pattern coming up from 8:40 UTC today with a constant stream of these type of re

[2022-07-13 16:03] hugovalente-pm commented on #501
we agreed to close this for now since our environment is not under "official" releases
let's re-open this if we spot this on some more stable environment

[2022-07-13 16:03] #501 closed

[2022-07-13 17:02] hugovalente-pm commented on #366
if the issue is focused on the OS icons we have another bug tracking that https://github.com/netdata/cloud-frontend/issues/2996
I think some fixes were put in place for the system type

@iigorkarpov let me know if there is something else broken besides the OS

[2022-07-13 17:39] hugovalente-pm commented on #507
this isn't actually a bug it is a feature to be deal with https://github.com/netdata/netdata-cloud/issues/295, so closing the bug as discussed with you

[2022-07-13 19:37] shyamvalsan opened #512 "[Bug]: Nodes are "offline" in Home tab but "stale" in Nodes tab & Global filter"
### Bug description

Some nodes are showing up as "Offline" in the Home tab, but in Nodes tab they are reported as "Stale". The global filter also has them as "Stale" and there is no option to obsolete them.

### Expected behavior

Node status should be consistent across all tabs and global filter

### Steps to reproduce

Not sure, but the problem is currently visible in the space "christophertest

[2022-07-14 07:42] hugovalente-pm commented on #512
@TonyPath can you check if this is related to the [Epic] Data desync across services netdata/cloud-backend#91

[2022-07-14 08:56] BillKalaitzis commented on #508
Hello everyone,
I've had a look at the issue and I think that we're actually talking about two different problems.

### HTTP 400
The recent HTTP 400 increase ever since 13/07 8.40UTC seem to be originating from a single space.
We can group the HTTP 400 errors via the following Loki query:
[code]
The problematic `/data` request looks like this:
[code]
![Screenshot 2022-07-13 at 8 58 50 PM](https://

[2022-07-14 12:26] cakrit commented on #508
@BillKalaitzis you nailed it with the automated selection of `guest`. The moment I switch to `by node` only the `guest` dimension is selected.

I cleared all site data and reloaded the FE, but the issue is still there. So it looks like an FE bug to me.

I have my VMs down now, but I'm still getting the same behavior on the k8s-prd-parent room

[2022-07-14 13:55] cakrit opened #513 "[Bug]: Status discrepancy on offline nodes, can't delete them"
### Bug description

In the picture below, notice how the home page shows 2 offline nodes, but the filter shows them as stale.

![image](https://user-images.githubusercontent.com/43294513/178997798-cb3c1681-c7a6-4da2-8afb-e8db974e9667.png)

This could be just an unrelated bug to the more serious issue, that I can't delete nodes that really are offline, because they are incorrectly marked as stale.

[2022-07-14 14:27] cakrit commented on #508
I added you and Bill.

[2022-07-14 15:55] hugovalente-pm commented on #512
closing this in favour of https://github.com/netdata/netdata-cloud/issues/513, since it also states that the offline nodes can't be deleted

[2022-07-14 18:13] hugovalente-pm commented on #278
on a conversation with @amalkov , to not be dependent on the above, it was discussed that probably we could for now go with a default group by `instance` option for those charts on the Single Node view tab that would suffer from the mutations being applied (#275 )

An example of how a context chart on the Single Node view would be `disk.io`:

* Current Single Node view - we have a sub-section for

[2022-07-15 08:47] dimko commented on #509
The nodes the user is trying to delete are **Stale** and not **Offline**.
**Stale** nodes can't be deleted as per design and implementation. This can change in the future.

The problem and big confusion comes due to the following issues https://github.com/netdata/netdata-cloud/issues/513 and https://github.com/netdata/netdata-cloud/issues/512. Stale nodes appear as offline in Home screen, also ins

[2022-07-15 10:07] burbuli8ra commented on #509
@dimko thank you for your detailed explanation about the issue!
We have made a change to the FE to display the correct status of the node inside the pill, when it is unreachable!

So, on the next release the **Unreachable** label will be updated to either **Offline** or **Stale** in order for our users to be able to understand why the **Delete** action is not available when they are selecting a no

[2022-07-15 11:13] car12o commented on #506
Fix deployed to prod!

[2022-07-15 11:13] #506 closed

[2022-07-15 11:48] #514 closed

[2022-07-15 15:24] hugovalente-pm commented on #510
@jonknud did you experience this issue again?

[2022-07-18 07:23] Vinko90 opened #515 "[Bug]: Can't register a new account on Netdata Cloud"
### Bug description

This morning I tried registering a new account with my company email. Every time I receive the validation mail, I click on the verify mail link and get a:

[code]

Doesn't matter what browser I use, same issue even by copy activation link instead of clicking on the button. I am still unable to use the service.

### Expected behavior

Being able to create a new account and use

[2022-07-18 08:21] Vinko90 commented on #515
The issue was due to Microsoft Outlook desktop app cutting the hyperlink. In case someone else have the same problem, log into your email account from browser and then click on the activation link!

[2022-07-18 15:31] shyamvalsan commented on #507
Re-opening this, as there seems to be an actual defect here - specific to cloud representation of this data - as well.

For an example see the Postgres section of the [agent dashboard](https://netdata.corp.app.netdata.cloud/host/netdata-parent-5d7769ddc7-x428z/#menu_postgres_vernemq_submenu_db_postgres;after=0;before=0;theme=slate;utc=Europe/Kiev ) for production

Now see the Postgres section in t

[2022-07-18 16:30] jacekkolasa opened #516 "[Bug]: After deleting nodes, counters are not updated"
### Bug description

When deleting (obsoleting) nodes, counters in Manage-Space/War-Rooms table do not update.

### Expected behavior

After deleting nodes, table in "Manage Space" / "War Rooms" tab, should have updated counter in Nodes column

![image](https://user-images.githubusercontent.com/5786722/179559025-75cf87a9-ee7b-4161-bfe4-97163cef864d.png)

[2022-07-19 07:40] burbuli8ra commented on #509
Released on [v2.35.20](https://github.com/netdata/cloud-frontend/releases/tag/2.35.20)

[2022-07-19 07:40] #509 closed

[2022-07-19 08:59] hugovalente-pm opened #517 "[Bug]: Chart type on custom dashboards not respected when opinionated defaults exists"
### Bug description

When we have a chart like `system.load` where we have some _opinionated_ defaults for the representation of it, we don't respect when a user overrides those when the chart is loaded again (e.g. when switching tabs) we fallback to the defaults.

List of the _opinionated_ charts [here](https://github.com/netdata/charts/blob/b60631c393955aca948eaf8d141100806f97774b/src/sdk/filter

[2022-07-19 09:02] hugovalente-pm commented on #495
@moson-mo @jmakov an initial fix has been released for this and we've opened a follow-up bug to deal with a very specific scenario on chart type.

please try it and let us know if you still find any issue.

[2022-07-19 09:04] hugovalente-pm commented on #517
this was found while tackling the above-mentioned bug but split to not delay the release of the other.
it will be picked-up as soon as possible

[2022-07-19 09:23] #243 closed

[2022-07-19 09:30] jjtsou commented on #243
`I think this got fixed around the time we moved to the alerts dedicated page and after a specific agent update.`

My thoughts exactly.

[2022-07-19 14:55] cakrit commented on #243
Do me a favor and check the path from an email notification. Looks like it works from within the list in cloud, but I tried with a "load" alert that was cleared by the time I clicked on it. I saw the landing page, but from there it didn't scroll to the load chart, it went to the top.

[2022-07-19 15:59] dimko opened #518 "[Bug]: Go to chart should be disabled for Cleared alerts"
### Bug description

Go to chart button should be disabled for cleared alerts. Clicking the button won't highlight the alert affected chart since the alert is no longer there.

### Expected behavior

Disable the button

### Steps to reproduce

1. Click the View Alert CTA inside an alert email
2. Click the Go To Chart button in the alert's dedicated view.
3. Chart is not highlighted with alert

###

[2022-07-20 08:25] hugovalente-pm commented on #516
@jacekkolasa do you think this is an easy fix or something more complex/lengthily?

[2022-07-20 15:07] jacekkolasa commented on #516
We fixed it with @AlexNti in new Centralized Admin Panel
I'll close it then

[2022-07-20 15:07] #516 closed

[2022-07-20 16:25] #495 closed

[2022-07-21 09:00] dimko commented on #440
This has been fixed. Closing

[2022-07-21 09:00] #440 closed

[2022-07-21 15:24] andrewm4894 opened #519 "[Bug]: apps. and services charts not working in Anomaly Advisor"
### Bug description

I see "All agents failed to return data" for `apps.` and `services.` charts.

![image](https://user-images.githubusercontent.com/2178292/180251912-3a056e57-c28f-4502-88aa-9bbaaab21cb6.png)

### Expected behavior

I should see the charts like the others.

### Steps to reproduce

1. use AA and see if you can see any of the apps or services charts in the results returned.

### Sc

[2022-07-21 15:36] andrewm4894 commented on #489
I might have made a dupe here: https://github.com/netdata/netdata-cloud/issues/519

but will leave both open to be sure - just cross linking.

[2022-07-21 15:37] andrewm4894 commented on #519
this may be a side effect of this bug: https://github.com/netdata/netdata-cloud/issues/489

[2022-07-21 16:20] cakrit opened #520 "[Bug]: Invalid `node removed` notifications"
### Bug description

Apparently the backend returns nodes that haven't changed to the `nodes` request, causing repeated notifications for removed nodes. This has been observed in our production space "Netdata Cloud", following node deletions from a specific room yesterday (not clear if the two are related).

Details were added in an internal dogfooding channel, but it looks like requests to `/node

[2022-07-21 16:42] dimko opened #521 "[Bug]: Refreshing page after a new Room creation re-directs to All nodes room"
### Bug description

Refreshing the page while in another room re-directs to the All nodes room of the space

### Expected behavior

After a user refreshes the page he should always land in the page he started the refresh action from.

### Steps to reproduce

1. Login to Netdata Cloud
2. Create a new Room
3. After room creation  - refresh the page
4. User lands on All Nodes room in Home tab regard

[2022-07-22 12:32] ralphm commented on #520
I believe this might have to do with a change in the node service, removing the dependency on MongoDB. There was an intricate system to provide diffs and FE relies on this being a diff. In the new situation, the service doesn't keep track of deletes anymore, so it has to send the whole thing. Apparently, FE cannot tell the difference.

@cc @vkuznecovas

[2022-07-22 12:40] ralphm commented on #520
Related https://github.com/netdata/netdata-cloud/issues/513

[2022-07-22 12:41] vkuznecovas commented on #520
That's not the case. The front end is still using the v1 endpoint, which has not been changed and is still in tact.

The v2 endpoint is separate and it's the one that is using the SoT directly.

[2022-07-22 13:09] ralphm commented on #520
Had a chat with @vkuznecovas and @hugovalente-pm on this. Vik says that due to the complex nature of the materialized view implementation, it is likely to be inconsistent. We concluded that the work that he mentioned above will fix this, and should be completed soon.

[2022-07-22 14:00] hugovalente-pm commented on #508
was checking this one and I saw the `400` s and it is alway one call for `/data` that fails and the next one works, the one that fails is triggering the request for the anomaly-rate, e.g. below, which I don't think should have been triggered on Group by change since the icon is not available on the chart

![image](https://user-images.githubusercontent.com/82235632/180455321-68c2d7ee-222a-4a3c-a84f

[2022-07-22 14:01] hugovalente-pm commented on #508
@cakrit decreasing the priority to medium, since the issue with the default dimension selection has been fixed and these 400's seem to be exaplained by ☝️

[2022-07-22 15:59] jonknud commented on #510
Sorry for the long answer delay

![image](https://user-images.githubusercontent.com/28842347/180477813-bd8b7d72-a8b6-4528-b41e-5adf8d1dbb34.png)

Unfortunaly it is not related to the maintainance.

I have the problem now for a couple of month and always hoped that it will be fixed one day, because I dont now how I could help you with fixing it.

[2022-07-22 15:59] jonknud commented on #510
please reopen

[2022-07-22 16:05] jonknud commented on #509
Great and not great, now it shows stale.

How can I remove a stale node?

[2022-07-22 16:36] cakrit commented on #520
Can someone manually clean up our space somehow? It's really annoying.

[2022-07-24 21:33] hugovalente-pm commented on #510
sure @jonknud we will re-open it, me and @dimko will try to see how we can help you to helps us troubleshoot this.

as a starter, could you:
* confirm what agent version you're running on your nodes?
* if you open the Single Node view, for any of the nodes on that composite chart, do you see the same issue?
* could you check if you open the dev-tools console on your browser if you see any errors?

[2022-07-24 21:33] hugovalente-pm commented on #510
sure @jonknud we will re-open it, me and @dimko will try to see how we can help you to helps us troubleshoot this.

as a starter, could you:
* confirm what agent version you're running on your nodes?
* if you open the Single Node view, for any of the nodes on that composite chart, do you see the same issue?
* could you check if you open the dev-tools console on your browser if you see any errors?

[2022-07-25 12:39] cakrit opened #522 "[Bug]: Occasionally getting 400s with ErrAgentInvalidResponse from all nodes"
### Bug description

I've noticed since last week that sometimes some charts seem to be receiving no data. Today I did a few more experiments on a space I have with two test VMs. `data` calls seem to be getting the following with no explanation. I don't see the same on the single node view.

It looks like the `data` requests that receive this are random and reloading may fix it and show the chart.

[2022-07-25 15:58] hugovalente-pm commented on #522
@netdata/cloud-be the error seems to be on an invalid Agent response, do we log these somewhere so we could see what the Agent sent?

[2022-07-25 17:23] cakrit opened #523 "[Bug]: Misleading charts when gaps in the data are not sent as null or 0 by the agent"
### Bug description

I'm not sure if we had a recent change to save space in the agent response, but in cases where we have gaps in the data, we can now see responses like the one shown below to a `data` call. The result is charts that look horrible, like the following:

![image (7)](https://user-images.githubusercontent.com/43294513/180837111-83c23a32-e75e-43fd-b1ae-a7ca80b19fae.png)

I have brok

[2022-07-26 06:23] jonknud commented on #510
Hello.

I thought all node are up to date but:

![image](https://user-images.githubusercontent.com/28842347/180936828-442cc554-9c99-487e-ac5b-b1e6fc925dcd.png)

Is there a way in netdata cloud to find the version of the agent for every node?

I dont have problems in sigle node charts.

I cant see any problem in the dev tools.

**Idea:**

Maybe the problem only exist if I select 18h.

If I select 1

[2022-07-26 07:42] papazach commented on #367
Hello @zeylos 👋
Did you have any time to go through the docs and/or use tiering?

We would be very eager to hear about any performance improvements you noticed or issues you bumped onto along the way.

[2022-07-26 08:17] andrewm4894 commented on #489
@hugovalente-pm this seems to be fixed for me now with my nodes on `v1.35.0-211-nightly` so i beleive the context work looks like it has fixed this.

We can close this bug and i will reopen if i see it occuring again in next few days.

[2022-07-26 08:52] hugovalente-pm commented on #489
sounds good @andrewm4894 , could you also probably check if this is sorted out as well? https://github.com/netdata/netdata-cloud/issues/519

[2022-07-26 08:54] andrewm4894 commented on #489
oh sorry @hugovalente-pm it was #519 i meant to put above comment on - will fix.

[2022-07-26 08:54] andrewm4894 commented on #519
this seems to be fixed for me now with my nodes on v1.35.0-211-nightly so i beleive the context work looks like it has fixed this.

Closing this bug and i will reopen if i see it occuring again in next few days.

[2022-07-26 08:54] #519 closed

[2022-07-26 10:43] ralphm commented on #227
Unfortunately, it seems this has regressed.

![image](https://user-images.githubusercontent.com/116741/180987926-414a65da-c526-416a-bfb1-f85e58be0abd.png)

[2022-07-26 11:41] ralphm opened #524 "[Bug]: Node names capitalized in Alert filter"
### Bug description

In the Alerts tab, the `Node` section of the filter side bar has all the node names capitalized. Besides being undesirable, it is also inconsistent with other places where we show (lists of) nodes names.

### Expected behavior

Leave node names untouched.

### Steps to reproduce

1. Go to the Alerts tab
2. Observe capitalized node names in the filter

### Screenshots

![image]

[2022-07-26 13:01] juacker commented on #523
Thanks for rising this @cakrit, I've taken a look and it seems that the cloud is filtering out `null` values received from the agent, so the FE will not have them and no _gap_ will appear on the chart.

This only happens on composite data requests aggregating data from a single node instance. And the reason seems to be a cloud limitation related with data aggregation. We need to filter out `null`

[2022-07-26 13:12] zeylos commented on #367
Hey there @papazach, I was in holidays I'm trying to take a look right now, I tried something with the config but I broke everything it seems lol, if you have some time for me I'm available on Discord :upside_down_face:

[2022-07-27 07:57] hugovalente-pm commented on #522
@cakrit do you still face these 400s? @papazach and me were trying to trigger them but we only get successful 200 responses
what I've noticed is that your nodes have updated to the following nightly version when we checked... not sure something could have been fixed

[2022-07-27 09:38] burbuli8ra commented on #513
This issue has been fixed with implementation of [Cloud Frontend #3672](https://github.com/netdata/cloud-frontend/issues/3672).

[2022-07-27 10:15] hugovalente-pm commented on #510
unfortunately atm this isn't possible but we want to make it available soon, the only alternative is to go through the nodes on the `Nodes tab` and click the info icon on each
![image](https://user-images.githubusercontent.com/82235632/181222603-21dbbbcb-5528-4b9d-b599-edf4ec64769b.png)

do you think you could get the 3 nodes on `v1.34.1` updated to `v1.35.1` to see if the issue is sorted out?

[2022-07-27 13:37] andrewm4894 opened #525 "[Bug]: AA does not work in our prod room"
### Bug description

For some reason i keep getting errors in the anomalies tab in our k8s space

![image](https://user-images.githubusercontent.com/2178292/181260117-1ec615a6-5851-43ac-aaad-28fb4131f498.png)

### Expected behavior

It should work as expected.

### Steps to reproduce

1. Use AA in our production room.

### Screenshots

_No response_

### Error Logs

_No response_

### Desktop

OS:

[2022-07-27 14:43] cakrit commented on #522
I don't see it now.

[2022-07-27 14:43] #522 closed

[2022-07-28 08:27] hugovalente-pm commented on #525
this is the [slack thread](https://netdata-cloud.slack.com/archives/CS3PB0VJ7/p1658929048826049) for the discussion, in summary :

* the vernemq message is being sent to the agent inbound topic, but cannot see the response (this is on anomaly rates endpoint)

* for /info requests the response is received successfully, but for anomaly rates it's timing out

* I've seen the agent is in fact, returni

[2022-07-28 08:43] juacker commented on #525
After some investigation, I see the agent response is being discarded because the expiration timeout for this request is reached (10s). I've run the request directly on the agent and I see it taking around 30s.

[2022-07-28 11:38] ced1check opened #526 "[Feat]: Add monitoring of Table_open_cache_overflows for mariadb/mysql"
### Problem

Any Table_open_cache_overflows  will cause slowdown of the server. If part of a galera cluster this will possibly result in the whole cluster slowing down.

### Description

Table_open_cache_overflows is a good indicator of possible server slowdown.

### Importance

must have

### Value proposition

1.
Monitoring for non zero values could help pin-point configuraiton problems very eas

[2022-07-28 11:51] shyamvalsan opened #527 "[Feat]: Pin or star a section to always show it on top"
### Problem

I am primarily using Netdata to monitor metrics from a particular collector, let's call it X.

Problem is that if I have enough metrics being collected and collectors enabled, I have to scroll down to even see the section I am interested in the TOC.

Out of sight is out of mind - and I don't want to have to extra "scroll" and "click" to see the stuff I consider most important while al

[2022-07-28 11:57] sashwathn commented on #527
This was also discussed with @hugovalente-pm @ralphm @amalkov and @ktsaou. And we definitely need a way to either pin a section of interest to the top of the TOC or have an option to open it in a dedicated tab.

@christophidesp :  Do you have any thoughts on this?

[2022-07-28 12:15] hugovalente-pm commented on #527
just for cross-referencing, this had been previously discussed as Custom ordering on the table of contents netdata/product/issues/2329

this one had been pushed-back because:
* we were going to tackle it in a different way by allowing users to easily create custom dashboards with dragging&dropping sections (for example) and they could then pin that custom dashboard as a tab
* we didn't want to mes

[2022-07-28 16:29] hugovalente-pm commented on #520
the release of the above didn't fix this, so we need to take a look at it by itself

[2022-07-28 16:33] hugovalente-pm commented on #513
this have been confirmed in PROD

[2022-07-28 16:33] #513 closed

[2022-07-28 18:04] dimko commented on #442
This was also fixed by https://github.com/netdata/cloud-frontend/issues/3672

[2022-07-28 18:04] #442 closed

[2022-07-29 12:22] andrewm4894 opened #528 "[Bug]: anomaly_detection.anomaly_rates chart should not be visible in cloud."
### Bug description

The special `anomaly_detection.anomaly_rates` chart used for the ranking behind the AA tab should not be visible in the Overview tab of netdata cloud.

Since this chart is massive if you interact with it it will kill your browser tab.

### Expected behavior

`anomaly_detection.anomaly_rates` should not be in NC anywhere.

### Steps to reproduce

1. click this link: https://app

[2022-07-29 12:53] hugovalente-pm commented on #528
it was identified that this is a bug on the Agent from the context initiative work, we need to filter this chart from the context snapshot and other messages to Cloud

[2022-07-29 13:18] novykh commented on #443
@AlexNti this has to do with the page object right?

[2022-07-29 14:34] cakrit commented on #513
It works great, good job!

[2022-07-29 15:13] hugovalente-pm commented on #496
@luisj1983 we've made a release yesterday that we hope to have solved this. could you please try it?

fyi, now you can even delete offline nodes from the “All Nodes”. If you access the space settings and go to Nodes, you see the following table that allows you to filter all offline nodes, mass select them and bulk delete them.

![image](https://user-images.githubusercontent.com/82235632/181790176-

[2022-07-29 15:42] hugovalente-pm commented on #525
the PR on the Agent that we were thinking might help sort his out got merged yesterday - https://github.com/netdata/netdata/pull/13448

@andrewm4894 not sure if your agents were already updated to latest nightly, could you check if this fixes it?

[2022-07-29 15:55] hugovalente-pm commented on #498
@dimko I was trying to validate if this was still happening and I couldn't reproduce it, could you validate as well?

[2022-07-29 16:14] hugovalente-pm opened #529 "[Bug]: Deleting a War Room triggers a subsequent 403 response from /dashboards"
### Bug description

When following up on this bug https://github.com/netdata/netdata-cloud/issues/472 it was identified that a wrong notification was being shown when deleting a War Room, coming from a `403` response from `/dashobards`.

The notification isn't shown but the `403` error is still coming

### Expected behavior

A War Room deletion shouldn't trigger a `403` response from `/dashboards

[2022-07-29 16:14] hugovalente-pm commented on #472
@cakrit just tried this and was able to delete the room having the correct notification and not getting the server error.
I still saw the `403` error on the dashboards call, but probably best to close this one and open one for the dashboard call failure - https://github.com/netdata/netdata-cloud/issues/529

[2022-07-29 16:14] #472 closed

[2022-07-29 16:15] hugovalente-pm commented on #529
spinned-off from https://github.com/netdata/netdata-cloud/issues/472

[2022-07-29 16:25] hugovalente-pm commented on #416
this has been fixed, we can even group by Service again on nodes tab

![image](https://user-images.githubusercontent.com/82235632/181803115-033e62f2-cd5c-40f1-93e6-933d9d736c0f.png)

[2022-07-29 16:25] #416 closed

[2022-07-29 16:32] hugovalente-pm commented on #298
with the release of Centralized Admin Interface this is no longer applicable https://github.com/netdata/cloud-frontend/issues/3377

[2022-07-29 16:32] #298 closed

[2022-07-29 16:34] hugovalente-pm commented on #366
closing this with precedence over to https://github.com/netdata/cloud-frontend/issues/2996

[2022-07-29 16:34] #366 closed

[2022-07-29 19:50] andrewm4894 commented on #525
@hugovalente-pm this is the tricky part - i'm unsure if our prod nodes are on nightly. i think they maybe might be but in future wont - i can check.

[2022-07-29 19:51] shyamvalsan commented on #527
Hopefully this one is a quick win.

[2022-07-29 19:52] andrewm4894 commented on #525
i see them on `v1.35.0-191-nightly`

example recent fail: https://app.netdata.cloud/spaces/netdata-cloud/rooms/k8s-prd/anomalies#highlight_after=1659123904000&highlight_before=1659123988000&correlation=false&after=1659123407000&before=1659124307000&utc=Europe%2FLondon&offset=%2B1&timezoneName=Edinburgh%2C%20London&metrics_correlation=false&visible_timeline=900000&appliedFilteredIds=ca1c7695-88e4-4

[2022-08-01 07:36] burbuli8ra commented on #513
Released on [v2.36.0](https://github.com/netdata/cloud-frontend/releases/tag/2.36.0)

[2022-08-01 08:28] #406 closed

[2022-08-01 10:03] hugovalente-pm commented on #527
after chatting with @amalkov the approach should be, for now:
* FE only dependency, use browser's local storage
* Keep the settings stored for the user at Space / War Room level

updating ticket above

[2022-08-01 10:05] hugovalente-pm commented on #527
@novykh could you take a look at this one to get a sense of the estimate to delivery this?

[2022-08-01 10:07] hugovalente-pm commented on #265
@novykh, on a discussion with @amalkov it seemed to make sense for this one to be @MichaelGamel's next task
before pushing this forward it would probably make sense to re-assess the estimate on this one

[2022-08-01 10:09] hugovalente-pm commented on #525
with the fix also being done on https://github.com/netdata/netdata/issues/13457 it was agreed to ask for an update on the node's tomorrow

[2022-08-01 10:39] novykh commented on #527
So what we need is a star functionality:
- Every starred section will be on top. Does it mean above the gauges (system overview)?
- What's the order of the starred sections (the default priority of the charts?)
- Starred sections will be working only for user on the same browser (since we will use localstorage for persistence)
- What's happening when user stars postgres in overview? Is it starred

[2022-08-01 10:59] hugovalente-pm commented on #527
I can give my view, but would interesting to get also @shyamvalsan 's and @sashwathn 's

Would probably put on top of System Overview gauges, if user wanted those to be on top he could pin the System Overview section (this would mean bringing also the charts under that)

At a start would probably have the pinning sequence, I pin one chart and then another first one pinned is on top.
Later user cou

[2022-08-01 11:04] shyamvalsan commented on #527
Good question. Personally I think the user should be able to see this above system overview if they so wish - the sections will eventually have their own summary dashboard (including gauges etc.) so it shouldn't look too dissimilar. That being said, I am OK if we can show starred sections underneath System Overview.

Did not consider priority ordering, expectation is that user will have some but n

[2022-08-01 11:09] novykh commented on #527
@shyamvalsan why is this? Since it's a user setting and viewed/starred only by the same user is it really necessary to limit the functionality to admins only?

[2022-08-01 11:15] shyamvalsan commented on #527
Hmm, I think you are right @novykh That brings up the other question that this will need to be done by each user individually and can't be done via a space wide setting by admin.

So options are:
- User specific, available to all users: across space
- User specific, available to all users: per room

If they have use-case specific rooms then per room might make sense. For example we have a Postgres

[2022-08-01 11:21] hugovalente-pm commented on #527
I had shared this previously https://github.com/netdata/netdata-cloud/issues/527#issuecomment-1200988458 to not overcomplicate, so having this `User specific, available to all users: per room`

for scenarios were there are use-case specific rooms and we want to have a _custom_ default display on it I think we would need to go a different way, probably once we get back to the https://github.com/net

[2022-08-01 11:26] sashwathn commented on #527
@novykh / @shyamvalsan : Comments from me below:

This is subjective but in my opinion if the user has starred a section specifically, it is the "**most important**" stuff and can show up above the System Overview section.

I think the order of the starred sections could be kept simple and in the order in which they are starred and we need not order them as per our default priorities.

Yes, indeed

[2022-08-01 12:52] hugovalente-pm commented on #265
ok, cool @novykh please share once you have some more insights into that
curious to understand if it will be simpler to implement what we have on this user story

[2022-08-02 01:43] aathan opened #530 "[Bug]: Invitation emails violate the netdata SPF"
### Bug description

Invitation emails should be deliverable, but they seem to violate SPF policies of the sending domain.

[code]

### Expected behavior

Delivered mail

### Steps to reproduce

1.
Not sure what the person that generated the invitation did, but the invitation did not make it through postfix SPF checks.

### Screenshots

_No response_

### Error Logs

_No response_

### Desktop

OS

[2022-08-02 14:26] cakrit commented on #530
SPF TXT record updated, thank you for the catch!!!

[2022-08-02 15:35] cakrit opened #531 "[Bug]: Home page shows the wrong node count"
### Bug description

See https://community.netdata.cloud/t/can-i-automatically-remove-unreachable-nodes-from-netdata-cloud/1066/7 and notice the count of nodes in the home page, vs the nodes view and admin info.

### Expected behavior

List of nodes and count of nodes should always match.

### Steps to reproduce

Not sure. If we use mongoDB as a cache of these counters, I'll bet that's where it's

[2022-08-02 16:01] aathan commented on #530
Unfortunately this was not sufficient. It looks like sendgrid has additional servers to worry about:

[code]

[2022-08-02 16:54] hugovalente-pm commented on #531
@iorvd started to look into this one, to try to understand if it somehow is related with the migration work done on the service that provides those stats

[2022-08-02 16:55] luisj1983 commented on #496
@hugovalente-pm Thanks to the team for working on this, however, the issue still persists with agent version: v1.35.0-240-nightly.

[2022-08-02 17:32] hugovalente-pm commented on #496
@luisj1983 could you potentially record a short video/gif of this? is the agent being reported as Offline on Netdata Cloud?

the agent version shouldn't be relevant here, since this actions is managed on Netdata Cloud.

[2022-08-02 17:44] luisj1983 commented on #496
Sure thing:

https://youtu.be/wJeMDrUcTJ4

[2022-08-02 19:26] jonknud commented on #510
I updated all nodes. I did not help.

[2022-08-03 09:48] iorvd commented on #531
Fixed in https://github.com/netdata/cloud-spaceroom-service/pull/323

[2022-08-03 09:48] #531 closed

[2022-08-03 10:07] hugovalente-pm opened #532 "[Bug]: Abbreviation on Total points card on home tab causes confusion"
### Bug description

The abbreviation used on the Total points card is causing confusion when number displayed in on billions (diplayed as `G`)

![image](https://user-images.githubusercontent.com/82235632/182582769-ae07620f-37b1-49e5-abfd-536b4fe075a8.png)

### Expected behavior

Let's instead show the full words for the numbers, the cards has space to accommodate it

### Steps to reproduce

1.

#

[2022-08-03 10:08] hugovalente-pm commented on #532
as caught-up on some internal conversations and discussions, let's revisit this abbreviation

cc/ @amalkov @papazach @shyamvalsan

[2022-08-03 10:22] andrewm4894 commented on #531
can confirm this looks fixed to me on a test i just did

[2022-08-03 11:05] jjtsou opened #533 "[Bug]: When filtering by chart labels, sometimes the `all_charts_labels` key on the data request response returns only the selection"
### Bug description

When filtering by chart labels, sometimes the `all_charts_labels` key on the data request response returns only the selection.

### Expected behavior

The `all_charts_labels`  key should return all chart labels, regardless of the user's selection

### Steps to reproduce

1. Select one chart label value from ` k8s_pod_name` chart label
2. The list now has only one value, your s

[2022-08-03 12:13] jjtsou commented on #533
https://user-images.githubusercontent.com/17753005/182604082-40958937-515e-40d6-b405-8e8402214d79.mov

[2022-08-03 13:46] burbuli8ra commented on #520
We need to re-open this issue and revisit the fix's implementation, without changing `useSubscribe`, since this way we produced a more important bug, which is that the `/api/v2/spaces/{spaceId}/charts/_query` call is not triggered anymore on **Nodes** view.

[2022-08-03 13:59] hugovalente-pm commented on #520
we may "fix" it in some other way, with the work @jacekkolasa  is doing on this https://github.com/netdata/cloud-frontend/issues/3623 we will remove the need for the call to `/charts/_query`, I think it is only used on Nodes tab but probably worth to check. if it is just that, the previous fix could be deployed then maybe

[2022-08-03 15:00] hugovalente-pm commented on #510
thanks for trying that, I think next we need to dig into a specific example.

on this chart that you shared previously could you open the dev-tools and on the network console get us the request payload and response you got? (you can email them to me if you prefer to hugo at netdata dot cloud )

![image](https://user-images.githubusercontent.com/82235632/182640922-6fbb366a-6fe1-43f1-a956-eb3bfa7169

[2022-08-03 15:03] hugovalente-pm commented on #496
thanks @luisj1983 , will pass this internally to further check on things

[2022-08-03 16:32] hugovalente-pm opened #534 "[Bug]: Host labels section on the Node inspector doesn't expand for some nodes"
### Bug description

When trying to see the `Host labels` section on the Node inspector we aren't able to expand it for some nodes.

### Expected behavior

Host labels section should be expanded like on other nodes that work

### Steps to reproduce

1. Go to Netdata PROD Space
2. Open Nodes tab
3. Check node inspector for `aws-parent-0`
4. Try to expand host labels section

### Screenshots

![chro

[2022-08-03 16:33] hugovalente-pm commented on #534
this is set to medium since as a workaround user can get the full JSON payload which has the host labels.

[2022-08-03 16:53] cakrit commented on #530
These are public IPs that shouldn't have been in use at all. Copying here from a ticket that shouldn't have been opened internally. The TL;DR is that we just split the two IPs we have into "classes", but one of them isn't "warmed up" yet, which results in invitation emails going out from shared sendgrid IPs as well. We're reverting to using no classes, until we have a total of 3 warmed up IPs that

[2022-08-03 16:54] cakrit commented on #530
@vkuznecovas / @BillKalaitzis close this one when we're done please.

[2022-08-03 18:47] BillKalaitzis commented on #530
For the time being we've merged our IP Pools, so the SPF failures are now resolved.

[2022-08-03 18:47] #530 closed

[2022-08-04 08:20] hugovalente-pm commented on #533
this has been discussed with @juacker and he will try to pick it up as soon as he finishes tackling two bugs he's wrapping-up

[2022-08-04 08:29] hugovalente-pm commented on #489
closing this since we have enabled the context flow on the Agent by default on yesterday's nightly and this was proved to be fixed with context flow (previous comment)

[2022-08-04 08:29] #489 closed

[2022-08-04 09:12] hugovalente-pm commented on #496
@luisj1983 to help us clear some doubts, could you either:
1. do this action by logging in using a private window
1. do this on your normal browser window but having cleared cache+data for `app.netdata.cloud`

[2022-08-04 09:36] zeylos commented on #367
Hi there,

Good news, I confirm that with tiering configured, 7 days on kube plugin overview is working flawlessly (with something like 3-4sec to render).
Here is the rendering (I configured tiering on the same volume size, which made me shrink the tier 0 disk space so I logically lost all of my data).
![image](https://user-images.githubusercontent.com/24226163/182814089-84126faa-d977-459e-a2c4-e8

[2022-08-04 10:21] hugovalente-pm commented on #367
closing (finally) this ticket based on the above
thanks for all the support and patience on this one @zeylos

[2022-08-04 10:21] #367 closed

[2022-08-04 11:25] hugovalente-pm commented on #496
the fix as been deployed, please try it again @luisj1983

[2022-08-04 13:32] hugovalente-pm commented on #278
with the work done https://github.com/netdata/cloud-frontend/issues/3623 we want to put an action item to revisit the nodes tab to add a link on the chart title to allow users to navigate from the Nodes tab to the specific section on the single node view tab

[2022-08-04 13:33] hugovalente-pm opened #535 "add a link on the Nodes tab chart title to take user to the Single Node view corresponding section"

[2022-08-04 14:57] luisj1983 commented on #496
haha, I didn't see your edit and so was really confused when I tested just now and it worked! Thought I'd done something stupid the first time around :-)
It looks to be working perfectly now.
Thank you very much to you and the team for your work on this!

[2022-08-04 15:10] hugovalente-pm commented on #496
sorry for that, glad that it is now sorted out
will now close this ticket

[2022-08-04 15:10] #496 closed

[2022-08-04 15:55] hugovalente-pm commented on #456
this is now fixed

[2022-08-04 15:55] #456 closed

[2022-08-04 16:26] juacker commented on #523
fix deployed, now null values are properly represented on composite charts.

![image](https://user-images.githubusercontent.com/2930882/182902207-5904d62d-59c1-4f8f-a810-1ca811f95858.png)

[2022-08-04 17:33] hugovalente-pm commented on #523
thanks @juacker , closing this now

[2022-08-04 17:33] #523 closed

[2022-08-04 17:44] juacker commented on #533
The cloud is returning the labels available based on the `full_chart_labels` field returned by the agent

## Sample request without labels

- Agent URL: `/api/v1/data?v2&context=k8s_state.node_allocatable_mem_requests_utilization&format=json&options=jsonwrap%7Cnonzero%7Cflip%7Cms&after=-10&show_dimensions=1`

- Response labels

[code]

## Sample request with labels

Note the cloud is adding the `c

[2022-08-05 06:34] jjtsou commented on #533
@juacker has some findings after his investigation.

cc: @sashwathn @ilyam8 @cakrit

[2022-08-05 06:55] xkisu opened #536 "[Bug]: Chart data not displaying collected points in certain areas"
### Bug description

I was testing some different memory mode configurations on the collector agent (before I saw that was I was trying [wasn't supported](https://github.com/netdata/netdata/pull/9832)) and restarting it a few times (streaming collector to parent), when some charts completely stopped displaying data. I could tell the data was still coming in because some specific charts where still

[2022-08-05 07:02] sashwathn commented on #533
@juacker : Yes, the agent / cloud should definitely return all labels as the user should be able to modify the filters and select additional labels at any given time.
@MrZammler : Do you know how this behaviour works from Agent pov?

[2022-08-05 07:13] xkisu commented on #536
This may be related to #510

[2022-08-05 07:42] hugovalente-pm commented on #213
this is to be re-evaluated once this one is completed https://github.com/netdata/cloud-frontend/issues/3692

[2022-08-05 07:46] hugovalente-pm commented on #533
@sashwathn the need to have this is clear, the doubt is if the endpoint being used is the one to return this, what @juacker mentioned as the current behaviour seems to make sense, because on some discussions even this bug was raised https://github.com/netdata/netdata/issues/13403 that would restrict even more the metadata returned

what seems to be missing (which I'm not sure already exists) is an

[2022-08-05 08:10] hugovalente-pm commented on #536
thanks @xkisu for raising this as another bug and adding all these details, it may indeed be related with #510 but since we aren't sure yet let's deal with them as separate issues.

for the `system.cpu` chart could open the dev-tools and on the network console get us the request payload and response for the `/data` call? probably from Netdata Cloud and the Agent (you can email them to me if you pr

[2022-08-05 09:03] xkisu commented on #536
I forgot to mention I had to zip the snapshot for Github to accept it as an attachment, so you might need to unzip it first!

# Netdata Cloud

### `system.cpu` when zoomed out with the area with missing points in view

<details>
  <summary>Request headers/payload (trimmed to what I assume is relevant)</summary>

[code]
</details>

<details>
  <summary>Response payload</summary>

[code]
</details>

[2022-08-05 09:52] MrZammler commented on #536
Hi @xkisu ! What agent version are you running? (netdata -W buildinfo should show it).

[2022-08-05 11:05] amalkov commented on #536
@MrZammlez can it be an issue with tiering? looks like when we are zooming in we go to another tier...

[2022-08-05 11:35] andrewm4894 opened #537 "[Bug]: AA AR charts y-axis min and x-axis min too close + need to optimize space a little more"
### Bug description

on the AA AR charts the y-axis and x-axis used to look like this:

![image](https://user-images.githubusercontent.com/2178292/183068357-d266683b-e473-45a0-9395-7cd1ca8c41f0.png)

however they now look a bit too squashed and the text is too close. In below image the "0.0" is touching the "12:04:00" for some reason and it looks bad.

![image](https://user-images.githubuserconten

[2022-08-05 13:18] MrZammler commented on #536
Looks like it, but from the config in the first post it doesn't seem tiering is enabled...

[2022-08-05 15:23] cakrit opened #538 "[Bug]: charts request fails with internal server error 500"
### Bug description

The following is consistently happening on one of my two VMs that are always online, but not on the other.
It started in the past couple of days. The node appears online. Just can't get the response to the /charts call.

[code]

### Expected behavior

No 500

### Steps to reproduce

Check the backend to see what causes it for this node and see if the same thing happens for oth

[2022-08-05 22:57] xkisu commented on #536
@MrZammler build info:
<details>
  <summary> Child agent</summary>

[code]

</details>

<details>
  <summary> Parent agent</summary>

[code]
</details>

I don't believe it is, unless it's enabled by detail? Here's the config for the parent agent as well just in case:

<details>
    <summary>netdata.conf</summary>

[code]
</details>

<details>
  <summary>stream.conf</summary>

[code]
</details>

[2022-08-06 15:54] tbouquet opened #539 "[Bug]: Server Error No spaces found"
### Bug description

Hi,

I'm getting the error in screenshot when I go to the webpage https://app.netdata.cloud/

Thanks

### Expected behavior

At least a working page

### Steps to reproduce

1. Going to https://app.netdata.cloud/

### Screenshots

![image](https://user-images.githubusercontent.com/14275200/183256166-2067a6f1-75c3-4cd5-ad30-0bf43d9f8f26.png)
![image](https://user-images.githubu

[2022-08-08 10:26] jacekkolasa commented on #520
I think that change to v2 fixed most cases, but as @AlexNti pointed out, there could be situations when `last_updated`, cached on FE since user used v1, could cause unwanted notifications.
Fixed in [pr](https://github.com/netdata/cloud-frontend/pull/3712).

Btw. right now notifications related to migrated to v2 endpoints are not working (because we don't get the diffs from BE anymore). There is a

[2022-08-08 11:13] jacekkolasa commented on #534
The host labels is expected to be empty, because we don't show host labels which start with `underscore`.

We deliberately show the empty group as visible, as written [here](https://github.com/netdata/cloud-frontend/issues/3091)

My guess is we should disable clicking on empty group, with a tooltip. I'll create a PR for that.

[2022-08-09 11:19] jacekkolasa commented on #465
I couldn't recreate it, let's sync after vacations

[2022-08-09 14:50] papazach commented on #538
Apologies on the late reply on this one @cakrit.
 So there was a parent node instance (on claim_id `32b430e6-f866-469e-aa6f-5ee5ec8f4f0e`) that was queryable (but not live) and at some point became unreachable and got pruned.
Due to hops 1 and queryability = true we were routing there the /charts request and failed, until it got pruned we routed to the hops=0 (with claim_id `f29ee27f-b5fc-4bb6-87d

[2022-08-10 08:24] shyamvalsan opened #540 "[Bug]: Multi select on label filtering does not work"
### Bug description

Multi selecting in the new label filtering chart option does not work. Chart is only filtered by first item in multi select the user selected, even if all items are subsequently selected.

See video for more details.

### Expected behavior

Multi select should work.

### Steps to reproduce

1. Click on filter by conditions
2. Select first item of multi select, filtering by tha

[2022-08-10 08:46] shyamvalsan commented on #540
The filters seem to be present in the data request, but chart does not get updated

![image](https://user-images.githubusercontent.com/24860547/183857520-67b0a9f9-1dc7-4ca9-8a64-4f7c18c5c171.png)

[2022-08-10 08:46] shyamvalsan commented on #540
cc: @amalkov @sashwathn @jacekkolasa

[2022-08-10 12:19] jacekkolasa commented on #540
fixed by @papazach , deployed to production

[2022-08-10 12:19] #540 closed

[2022-08-10 13:12] cakrit commented on #538
I think I understand the answer, but I'm not sure. Sounds like we have a gap in the logic, which leads us to the possibility of erroneously routing requests. So are we going to close that gap, or did I misunderstand?

[2022-08-10 14:10] shyamvalsan opened #541 "[Feat]: Add an option in dashboard_info.js that allows summary dashboards to only be visible in Overview"
### Problem

Adding a chart to a section summary causes the proper aggregated view to be shown on overview, but for single node view and agent dashboard the gauges (or pie charts) are replicated per instance which makes the summary less usable (or unusable if there are enough instances).

### Description

There should be a flag which users can use to configure that the summary dashboard for a part

[2022-08-10 14:11] shyamvalsan commented on #541
cc: @jacekkolasa @sashwathn @cakrit

[2022-08-11 06:37] ced1check opened #542 "[Bug]: X Nodes are below recommend agent version v1.34.1."
### Bug description

All servers are using netdata 1.35 or 1.36, however the cloud dashboard keeps reporting those are below remcommended version!?

### Expected behavior

Cloud dashboard should not report such issue when it's not the case.

### Steps to reproduce

1.

### Screenshots

![banner](https://user-images.githubusercontent.com/104206200/184077066-97bee090-1232-4fa0-9c5c-a322ce8bc592.png)

[2022-08-11 07:36] ced1check opened #543 "[Bug]: Lost all historical data upgrading from 1.35 to 1.36"
### Bug description

After the upgrade to 1.36, all historical data are gone

### Expected behavior

Keep historical data as defined in configuration file.

### Steps to reproduce

1. Upgrade from 1.35 to 1.36

### Screenshots

_No response_

### Error Logs

_No response_

### Desktop

OS: [e.g. iOS]
Browser [e.g. chrome, safari]
Browser Version [e.g. 22]

### Additional context

_No response_

[2022-08-11 07:54] ced1check opened #544 "[Bug]: Critical alert mysql_galera_cluster_status"
### Bug description

Since upgrade 1.36, I receive a critical alert incorrectly on mysql_galera_cluster_status.

galera node cluster component status (-1: unknown, 0: primary/quorum present, 1: non-primary/quorum lost, 2: disconnected). Any other value than primary indicates that the node is part of a nonoperational component.

All nodes are actually connected and in Primary status:

wsrep_cluster

[2022-08-11 07:58] ced1check commented on #544
The issue was resolved after editing mysql.conf with this:

crit: $mysql_galera_cluster_state != nan AND $this != 0 **AND $this != 'Primary'**

[2022-08-11 08:49] shyamvalsan opened #545 "[Feat]: Allow users to add gauges and other summary charts to custom dashboards"
### Problem

Custom dashboards are less useful and look and feel monotonous because they only have similar looking charts - and no summary component at all.

### Description

Allow users to add gauges and other summary charts to custom dashboards just like they can add regular charts.

Example: User should be able to charts such as this to custom dashboards

![image](https://user-images.githubuser

[2022-08-11 08:50] shyamvalsan commented on #545
cc: @amalkov @cakrit @sashwathn

[2022-08-11 08:59] shyamvalsan opened #546 "[Feat]: Anomaly Rate and Alert Widgets that can be added to in section summary dashboard"
### Problem

When users navigate to a section, they do not immediately receive context on whether everything is OK or NOT OK in that particular section. This leads to users having to scroll for a significant amount of time to actually uncover problems.

### Description

It would be very useful for users to have a per section summary of:
- Current anomaly rate across all metrics in that section (an

[2022-08-11 09:00] shyamvalsan commented on #546
cc: @cakrit @sashwathn @amalkov @hugovalente-pm

[2022-08-11 11:44] shyamvalsan commented on #546
![image](https://user-images.githubusercontent.com/24860547/184126077-0406f21f-9a67-4ab1-ae67-0e4a71e8e703.png)

[2022-08-11 11:45] shyamvalsan commented on #546
@sashwathn @amalkov Good idea, I think the alerts badge would serve the purpose.

Regarding anomaly rate, not sure if it will be intuitive to users without accompanying text. Also some context for the raw number is useful (which is why I included the average rate over last 24 hours).

But in general I agree @sashwathn if we can get these two in without eating up too much screen real estate that wo

[2022-08-12 06:57] shyamvalsan opened #547 "[Bug]: Node count in centralized admin interface does not match true node count"
### Bug description

Node count in centralized admin interface does not match true node count.

See attached video for more details.

### Expected behavior

Node counts should match

### Steps to reproduce

1. Go to a space (Eg: production) and observe number of nodes (in home tab, nodes tab etc.)
2. Go to admin interface, war rooms panel and observe number of nodes reported per room
3. The two va

[2022-08-12 12:58] shyamvalsan opened #762 "[Feat]: Anomaly rate per section"
### Problem

_No response_

### Description

There should be a way to fetch the anomaly rate per family or per section. The user should be able to see the anomaly rate of only metrics related to a particular collector if they so wish.

Eg. 10% of Postgres metrics are anomalous right now.

### Importance

really want

### Value proposition

1. Improved usability
2. Faster monitoring and troubleshoo

[2022-08-13 20:39] amalkov commented on #545
I think we need to discuss what we want from custom dashboards in general. Users should be able to add all available chart types. Shall we put it on hold for a moment?

[2022-08-14 12:26] phiberoptick commented on #4
Sorry to chime in on a closed issue but I found this while trying to find a way to clear defunct alarms.  I see there hasn't been any activity in quite awhile but it appears that I am having the same issue.  As far as the agents are concerned the alarms don't exist.  Trying to click and follow them in the cloud interface leads to a page stating that chart/metric doesn't exist (although the metrics

[2022-08-14 12:26] phiberoptick commented on #217
Sorry to chime in on a closed issue but I found this while trying to find a way to clear defunct alarms.  I see there hasn't been any activity in quite awhile but it appears that I am having the same issue.  As far as the agents are concerned the alarms don't exist.  Trying to click and follow them in the cloud interface leads to a page stating that chart/metric doesn't exist (although the metrics

[2022-08-15 09:03] shyamvalsan commented on #545
@amalkov Agree that custom dashboards initiative needs more discussions and there will be other requirements besides this. Users should definitely be able to add all available chart types.

Might still be useful to get a high level estimate on this to understand if its a quick win or bigger project.

[2022-08-16 08:11] cheluskin opened #548 "[Bug]: wrong summary bandwidth"
### Bug description

wrong summary bandwidth

### Expected behavior

Right gigabit per second

### Steps to reproduce

1.
Add multiple nodes to netdata cloud

### Screenshots

<img width="247" alt="Снимок экрана 2022-08-16 в 11 03 35" src="https://user-images.githubusercontent.com/80083/184830717-dcacd999-66c8-4721-aff7-9233414241dd.png">

### Error Logs

_No response_

### Desktop

OS: [e.g. iOS]

[2022-08-16 09:55] MrZammler commented on #217
Hi @phiberoptick I assume the thread here https://community.netdata.cloud/t/a-lot-of-old-alerts-without-any-value/780/8 is the same, right? I've responded there before seeing the ticket here, can you check there?

[2022-08-16 12:20] shyamvalsan opened #549 "[Feat]:"
### Problem

_No response_

### Description

Give Netdata the ability to make recommendations or suggestions of what values certain system or application parameters should be configured to. Ideally this would be done per collector.

Of course this will only be applicable for a select list of metrics where the intelligence on how to calculate an ideal value or range of values can be encoded into Ne

[2022-08-16 12:23] shyamvalsan commented on #549
cc: @ktsaou @cakrit @amalkov @ralphm @sashwathn @hugovalente-pm an idea that came up during the use-case work. Might have already been discussed in the past.

This could be something that's taken up at a per metric level to start with and scaled up gradually, doesn't need to be a big giant undertaking.

[2022-08-16 14:51] #534 closed

[2022-08-17 09:27] sashwathn commented on #549
@shyamvalsan : This is definitely a good to have feature but may be an almost impossible task to go through all the collectors and identify the various configuration options. But this should definitely be the kind of information we share in our alert info / reference documentation at least for the key parameters.

[2022-08-17 10:08] jjtsou commented on #532
@hugovalente-pm @shyamvalsan @papazach @amalkov

For this case, should we map the symbol with the english word and show the word instead ? ( By `english word` I mean thousand, million, billion etc )

thousand - kilo - k
Million - mega - M
billion - giga - G
trillion - tera - T
quadrillion - peta - P
quintillion - exa - E

[2022-08-17 10:10] shyamvalsan commented on #532
@jjtsou Yes, I believe that is the intent here.

[2022-08-17 10:28] novykh commented on #547
<img width="1213" alt="Screenshot 2022-08-17 at 1 26 15 PM" src="https://user-images.githubusercontent.com/601483/185096809-b1fd7261-0a1e-4573-a066-f8204911c9a9.png">
The node count is coming from the backend in this screen. @juacker is this the wrong attribute? Should we check for something else? (the attribute node_count is highlighted on the right of the attached pic.)

[2022-08-17 10:58] shyamvalsan commented on #549
@sashwathn We don't need to do it for all collectors and all config parameters - just for the ones we identify while adding new collectors (Eg: Postgres) and gradually it will build up to something significant over time.

Btw good call on including this as part of alert info..

My intent with this was how can we increase the "value" users get out of Netdata. Beyond just monitoring metric values, c

[2022-08-17 11:18] jjtsou commented on #532
https://github.com/netdata/cloud-frontend/pull/3726

<img width="1454" alt="Screenshot 2022-08-17 at 1 50 25 PM" src="https://user-images.githubusercontent.com/17753005/185105691-bbb2e2f3-5bd9-469f-8951-6eba8eb30430.png">

[2022-08-17 13:17] shyamvalsan opened #550 "[Feat]: Enable an extra layer of nesting in TOC menu"
### Problem

The current TOC menu only allows one layer of nesting - this is restrictive for many use-cases - and forces metrics to be organized in sub optimal ways.

### Description

Enable more layers of nesting in TOC menu for optimal metric organization.

I am hitting a blocker right now, working on the PostgreSQL monitoring use-case due to the lack of this ability.

Currently the metrics are

[2022-08-17 13:19] shyamvalsan commented on #550
cc: @sashwathn @amalkov @ralphm

As discussed in the call, in the short term we will proceed with organizing and naming the currently available sections more optimally and enabling group-by database by default for charts where this is available. This will be a workaround.

Longer term we need the feature requested in this ticket, or something similar.

[2022-08-18 08:16] #443 closed

[2022-08-18 08:18] #520 closed

[2022-08-18 08:18] #517 closed

[2022-08-18 08:18] #521 closed

[2022-08-18 10:18] jjtsou commented on #508
https://github.com/netdata/cloud-frontend/pull/3728

[2022-08-18 12:07] ced1check commented on #542
Issue has disappeared.

[2022-08-18 12:27] ced1check commented on #543
Upgrading from 1.36 to 1.36-1 didn't create this issue (tested on 2 servers).

[2022-08-18 12:56] #500 closed

[2022-08-19 09:42] #537 closed

[2022-08-19 09:59] #524 closed

[2022-08-19 10:01] novykh commented on #507
This is backend @juacker (sorry for mentioning you always, I believe you are the only one back from holiday for viz team.)

[2022-08-19 10:04] novykh commented on #498
This is not the issue here, it's discussed multiple times in the past that the value we are receiving is the latest value of the alert, but not the value that triggered the alert, hence it's forever changing. We need the actual value when the alert got triggered inside the active alerts or somewhere else and use that instead. Hope it's clear.

[2022-08-19 10:06] shyamvalsan commented on #507
We also have the problem (not sure if it is the same, related or different) where if you have the same DB name Eg: postgres across different instances then they all get clubbed together in the chart showing a weird aggregate-inflated meaningless number instead of showing them separately.

[2022-08-19 10:07] novykh commented on #499
The paused on alerts specific pages is artificial, this means when the user clicks on another tab (single node) and it was on PLAY before going to alerts, the datetime picker will go back to PLAY again. @jacekkolasa since you are the assignee here, we will need to to an extra action before redirecting the user to actually PAUSE the datetime picker.

[2022-08-19 10:17] novykh commented on #481
The issue for this and #480 mentioned above seems to happen when at least one dimension comes back on the specific point as `null` it's more clear on the #480 issue. It should be an easy fix.

[2022-08-19 10:19] novykh commented on #507
The grouping is happening by context, not sure how the example you mentioned can be handled. Someone from the backend please help? :)

[2022-08-19 10:39] juacker commented on #507
Let me take a lookk, no problem for mentioning me @novykh, its ok!.
@shyamvalsan your links above are not working for me , can you invite me to an space with multiple pg databases, please?

[2022-08-19 10:43] #518 closed

[2022-08-19 11:36] shyamvalsan commented on #507
@juacker with the new Go collector for postgres, we no longer have this issue since we don't have separate charts per DB, rather it is composite charts across all DBs.

But the problem I mentioned in my comment earlier still exists - you can see this on the Netdata production space, there are multiple databases called postgress across different instances but no way for us to differentiate them in

[2022-08-19 12:39] juacker commented on #507
I think I understand what you mean. For example here we can see 19 charts contributing to the composite chart, There are 4 pg instances, and in total 15 different database names. The DB name `postgres` exists on all pg instances, so if you group by database, the values for that db are aggregated:

![image](https://user-images.githubusercontent.com/2930882/185619335-452da9f6-5f9a-4e25-acee-b814191f

[2022-08-19 13:05] sashwathn commented on #507
@juacker you are absolutely right and currently there is no way to filter / group by the postgres instance.

And even if we do, there should be some way in our database filtering to differentiate the 4 postgres instances.

[2022-08-19 13:42] MrZammler commented on #542
Thanks for the followup!

[2022-08-19 13:42] #542 closed

[2022-08-19 13:52] jjtsou commented on #545
I did an investigation on this one and I tried to save gauges / pieCharts on the custom dashboard. I would say that this is a `bigger project` (size/medium), because we will need to make the chartLibrary chart attribute to be configurable / dynamic. ( Right now, the charts are all `line` charts and the `header menu charts` are the exceptions. )

[2022-08-19 14:11] shyamvalsan commented on #550
@novykh how much work is it to add an extra layer of nesting in TOC menu?

[2022-08-19 15:05] sashwathn commented on #507
@juacker and @shyamvalsan : Just to point out that the instance is not referring to the Postgres instance but the chart instance / context? And although we are able to see the postgres db per instance with the **group by instance + filter by database name**, I think we need to add the "Postgres instance" label and enable it for filtering for a better visualisation and understanding.

cc: @ralphm @

[2022-08-19 16:40] novykh commented on #550
It depends on the rule. I will do some refactoring the coming days, so I can add more flexibility to this

[2022-08-21 14:32] snwflake opened #551 "[Bug]: Dashboard - Chart sort order is not persisted"
### Bug description

Follow-up to #495

Charts lose their sort properties when switching tabs/reloading.

### Expected behavior

Dashboard charts should persist their sort order.

### Steps to reproduce

1. create dashboard
2. add "cpu.cpu0" chart
3. set "sort dimensions" to anything but `Default`
4. (dashboard doesn't detect a change, so you can't `Save`)
5. reload page

### Screenshots

https://

[2022-08-21 19:40] shyamvalsan commented on #527
@novykh are there any more questions or concerns regarding scope for this one? do you think this is something we could target in this short term?

[2022-08-22 06:27] hugovalente-pm commented on #546
@shyamvalsan @sashwathn should we try this one out first after the PostegreSQL work is released? kind of a follow-up

After we validate it we can, at least, add to the section that have already some sort of summary, for those that don't have I'm concerned it could be just to badges "hanging" there. probably @christophidesp can also share some thoughts

On this one maybe just some label that would

[2022-08-22 06:39] hugovalente-pm commented on #532
@jjtsou yes that was the intent, but the Total metrics collected card doesn't look to good, should we do a word-wrap if a given margin isn't respected? probably you could check this with @christophidesp

[2022-08-22 06:42] hugovalente-pm commented on #498
the issue that @dimko reported was about the chart being in "play" mode, right @dimko?

@novykh if you check screenshot 1 and screenshot 2 there is a chance in the graph that the alert triggered value actually didn't change. probably you are speaking about a different bug

let's probably discuss this after the daily today

[2022-08-22 07:01] dimko commented on #498
Yes. The problem is that the chart plays even though it is paused and dateyimepicker is disabled. This was the case when I opened it at least. We can check tomorrow, when I'll be back.

[2022-08-22 07:48] hugovalente-pm commented on #551
@snwflake thanks for raising this, this in fact is working as spec'ed.  the sorting was introduced to help for a temporary investigation/troubleshooting across Overview, Single Node view and Dashboards.

your case seems to be specific on the Dashboards, right? we hope to soon revisit the features and functionality of Dashboards and, most probably, we will allow a higher level of customization comp

[2022-08-22 08:15] hugovalente-pm commented on #548
@cheluskin thanks for raising this bug, could you please provide some more details?
could you check the detailed chat on network section `system.net`

I was trying to check this in our environment and the conversion was happening ok - just need to get a check why one is showing with `gb/s` and the other as `mb/s`

![image](https://user-images.githubusercontent.com/82235632/185872814-f1f7eb17-2f0e-

[2022-08-22 08:15] hugovalente-pm commented on #547
@juacker has the PR been merged?

[2022-08-22 08:19] Obmenrich commented on #548
Thanks, it fixed itself in a couple of days

[2022-08-22 08:23] hugovalente-pm commented on #539
@tbouquet thanks for raising this and sorry for taking so long to come back to you.
I think the team is aware of this issue, trying to check where we are on this and will come back with an update

[2022-08-22 08:27] hugovalente-pm commented on #538
@papazach are we/do we need to follow-up on this? to possible check the routing logic?

[2022-08-22 09:02] hugovalente-pm commented on #539
seems this was fixed already @tbouquet
can you confirm you don't have any issues signing in?

[2022-08-22 09:03] hugovalente-pm commented on #533
@sashwathn @jjtsou how do we stand on this one? I know the chart-label filtering was released, so just checking if there is any follow-up/clean-up work needed to be pursued

[2022-08-22 09:05] hugovalente-pm commented on #525
@juacker @andrewm4894 just checking where we are on this one

[2022-08-22 09:11] hugovalente-pm commented on #508
this was fixed

[2022-08-22 09:11] #508 closed

[2022-08-22 09:11] hugovalente-pm commented on #498
yes, let's discuss tomorrow

[2022-08-22 09:16] juacker commented on #547
has just been deployed @hugovalente-pm

[2022-08-22 09:22] sashwathn commented on #533
@hugovalente-pm : this issue was fixed partially on the FE and on the BE where @papazach fixed the way the labels are being returned and there is no follow up on this right now.

[2022-08-22 09:31] christophidesp commented on #532
@jjtsou @hugovalente-pm I think it would be valid to use K (thousand), M (million) and B (billion) instead of G, since we are talking about absolute numbers I think that B is pretty common for billion.
I have updated the layout so it can host bigger text

![Screenshot 2022-08-22 at 12 26 31](https://user-images.githubusercontent.com/96468003/185888898-ec9b943f-43e5-4e73-8e0c-1519bde0e222.png)

but

[2022-08-22 09:55] MrZammler commented on #536
Hi @xkisu , sorry for the late reply.

Typically, if you switch memory modes, most likely there will be gaps or metrics that don't show up. E.g. ram and none modes will not save metrics to the disk, so after a reload these will be gone. Similar if you switch from save to dbengine. Metrics saved during save e.g. might not load when you restart the agent in dbengine mode.

But that won't explain why

[2022-08-22 10:03] hugovalente-pm commented on #372
@vkuznecovas with the work already completed, for this specific report, I think it can be closed, right?

[code]

[2022-08-22 10:10] juacker commented on #525
Above link pasted by @andrewm4894 is still timing out. Agent handling request is `aws-parent-0` and version is `"v1.35.0-229-ga75b0c177"`, @MrZammler should that version contain the fix?

[2022-08-22 10:14] christophidesp commented on #546
I think I also prefer the badges, we could experiment a little bit with position and different cases to see where is the best place to show them.

[2022-08-22 10:18] hugovalente-pm commented on #533
@sashwathn thanks.

@jjtsou @papazach if any clean-up work/follow-up to review the way things were implemented is needed let's open subsequent tickets.

closing this one

[2022-08-22 10:18] #533 closed

[2022-08-22 10:26] hugovalente-pm commented on #547
closed since this is fixed

[2022-08-22 10:26] #547 closed

[2022-08-22 11:09] MrZammler commented on #525
This is a manually built version. The fix should be in >=`1.35.0-230-nightly` I can't be 100% sure if `v1.35.0-229-ga75b0c17` contains it. But from the version numbering it _seems_ it does.

If SRE's can upgrade those it would be great, but maybe I need to check more.

In one experiment bypassing aws-parent-0 we saw good performance, but it might then be something else besides that patch...

[2022-08-22 11:11] hugovalente-pm commented on #548
cool, then closing this

[2022-08-22 11:11] #548 closed

[2022-08-22 11:26] hugovalente-pm commented on #525
I think I remember this now, the issue was that the routing was being done to a node that wasn't part of the War Room (it actually was in the space) and it was not on the correct version, if routing was done to another parent node that was on the War Room it was ok.

@juacker should we discuss the routing logic?

[2022-08-22 11:27] burbuli8ra commented on #509
@jonknud currently it is not possible to delete a stale node from a space.
Also, apologies for the late response to your question.

[2022-08-22 11:58] MrZammler commented on #525
I'm not sure if it's a routing problem, or the patch doesn't really work to be honest. If it's ok we could wait to check on next Monday to see what's going on...

[2022-08-22 12:00] juacker commented on #525
Yes,maybe the issue is because the agent may not have the fix yet. As @MrZammler pointed out, we made some tests bypassing it and it worked well.

In terms of routing, currently the cloud is not taking into account the agent space/room. If an agent has data for a `node_id`, we will include it in the routing selection algorithm.

We can discuss to change this behaviour of course @hugovalente-pm, bu

[2022-08-22 12:44] hugovalente-pm commented on #525
I think for the AWS parents upgrades this is not under @netdata/cloud-sre, afaik these are @netdata/agent maintained.

@juacker on streaming we probably shouldn't restrict anything, since a user may not be using Cloud and so accessing the Parent agent to get the data from. Let's probably discuss the routing points on a separate/ticket GitHub discussion topic - will link it here

[2022-08-22 13:14] AlexNti commented on #485
Closing this, it will fixed on the next release

[2022-08-22 13:14] #485 closed

[2022-08-22 13:14] MrZammler commented on #525
Yeah, I know, that's why I've asked if we could wait until Monday....

[2022-08-22 13:53] hugovalente-pm commented on #525
sure, let's wait till Monday. sorry had missed that

[2022-08-22 14:08] snwflake commented on #551
hey @hugovalente-pm!
yes, the behavior is (at least in my case) specific to dashboards. Seeing that it is supposed to be a customized view into whatever metrics you deem valuable, I think there has to be done more to achieve that goal.

I'm aware of the requests to add additional chart types and do support that view, because right now, it's just a glorified overview really.

My specific use case f

[2022-08-22 15:32] hugovalente-pm commented on #507
@shyamvalsan @sashwathn I'm not sure this is a bug atm, with the work done to have the charts based on context and the new collector we don't have the chart titles issues

![image](https://user-images.githubusercontent.com/82235632/185960067-32ab773e-415f-4510-b14c-fbed881941d7.png)

I'm aware that there is limited capability to easily filter the data, but we have ways to change the grouping of th

[2022-08-22 15:36] shyamvalsan commented on #507
@hugovalente-pm I agree the original bug no longer exists with the new Go collector.

maybe we need a separate ticket to track all dbs with the same name being clubbed together.

[2022-08-22 19:48] xkisu commented on #536
@MrZammler  I'd have expected the gaps from last metrics during changes, but the gap is quite small from the changeover and it's odd how the metrics do actually appear to be there when zooming in. After changing the memory mode, it sometimes took several minutes for live metrics to "appear" again, meanwhile if I zoomed in closer they would appear.

Unfortunately I can't check this at the moment as

[2022-08-23 06:38] hugovalente-pm commented on #507
thanks for confirming @shyamvalsan, I believe this ticket already captures the need to be able to display dbs as not clubbed together - https://github.com/netdata/netdata-cloud/issues/550. if you don't agree I can open a new one.

closing this one based on the above.

[2022-08-23 06:38] #507 closed

[2022-08-23 08:22] vkuznecovas commented on #372
Yes, as long as we're using the v2 endpoints this is fixed.

[2022-08-23 08:22] #372 closed

[2022-08-23 09:11] hugovalente-pm opened #552 "[Bug]: Overlap of update notifications - leftover from new architecture relrease"
### Bug description

We have potentially have a situation on the Node Inspector where we show two update node notifications.
The old one from the new architecture is to be discontinued - removed

![image](https://user-images.githubusercontent.com/82235632/186119627-a69fb845-49a2-4c38-a233-a901b5769124.png)

### Expected behavior

Just have on update node notification

### Steps to reproduce

1.

#

[2022-08-23 09:13] AlexNti commented on #552
Goind to be fixed by https://github.com/netdata/cloud-frontend/pull/3737

[2022-08-23 09:13] #552 closed

[2022-08-23 12:09] novykh opened #553 "[Bug]: Charts are missing `update_every` attribute on metadata."
### Bug description

The `/charts` response is missing the `update_every` attribute (granularity)

### Expected behavior

The `update_every` attribute should be returned from the `/charts` endpoint for every chart/context.

### Steps to reproduce

1. Check the response on any `/charts` request.

### Screenshots

_No response_

### Error Logs

_No response_

### Desktop

_No response_

### Addition

[2022-08-23 14:08] MrZammler commented on #525
Hi guys. We updated both parents on aws to latest master (@ilyam8 thank you).

Can you please check ?

[2022-08-23 14:13] AlexNti commented on #462
Closing this, it will be fixed on the next release.

[2022-08-23 14:13] #462 closed

[2022-08-23 14:16] hugovalente-pm commented on #525
seems to be working and really fast 🚀

@andrewm4894 could you please check also?
the link you shared no longer fails but it returns with no data for this period (it was from 29/07)

https://app.netdata.cloud/spaces/netdata-cloud/rooms/k8s-prd/anomalies#highlight_after=1659123904000&highlight_before=1659123988000&correlation=false&after=1659123407000&before=1659124307000&utc=Europe%2FLondon&offset=

[2022-08-23 15:21] hugovalente-pm commented on #553
this is causing this to happen, now both on Overview and Nodes tab (with work from @jacekkolasa )

![image](https://user-images.githubusercontent.com/82235632/186195878-67eef12b-9fa6-48e6-96f6-cf74ade194a5.png)

@juacker I guess this attribute was "lost" with the context-based initiative work. I think we will need to address this for:
* `/charts` endpoint - Overview screen
* and the _light_ versio

[2022-08-23 15:29] juacker commented on #553
Indeed @hugovalente-pm, this is happening for new `ctx` functionality nodes because the `update_every` parameter is not in the proto msg.

One option could be to add this parameter to the context details endpoint (`/charts/{chartID}`), currently is not there but would not be difficult to add.
If, otherwise, this parameter is needed to be on `/charts` then, I think we would need to add them to the

[2022-08-23 16:52] andrewm4894 commented on #525
yep - seems to be working better than ever now from first few i checked.

all prod nodes, 8 min highlight: https://app.netdata.cloud/spaces/netdata-cloud/rooms/k8s-prd/anomalies#highlight_after=1661264199000&highlight_before=1661264733000&correlation=false&after=1661260969000&before=1661265235000&utc=Europe%2FLondon&offset=%2B1&timezoneName=Edinburgh%2C%20London&metrics_correlation=false&visible_t

[2022-08-23 21:53] mulder999 opened #555 "[Bug]: Alert might remains set forever even long after the corresponding process is gone"
### Bug description

I am running the official docker container with netdata v1.36.0-40-nightly running in a docker swarm. My monitoring is done using netdata-cloud.
Since 4d, I have a memory alert that remains triggered as critical for the netdata_agent process despite the fact that the process no longer exists (possibly OOM killed just after the critical alert was raised).

I have restarted the

[2022-08-23 22:15] dimko commented on #555
Hey @mulder999 thanks for the report. It seems like the chart affected by the alert was removed, but alert linked to it wasn't cleared.

Is it possible to check if alert still exists on the agent side? Also, is the chart still present in Cloud and Agent?

Lastly, could you please share your space ID so the team can investigate? You can see the ID of the affected space by clicking the gear icon ove

[2022-08-24 06:13] hugovalente-pm commented on #525
great! closing this then

[2022-08-24 06:13] #525 closed

[2022-08-24 06:18] hugovalente-pm commented on #553
I believe this isn't ideal since it would mean having an additional call being made from the FE side

another possibility, not sure it is ok on FE, is if this comes on the `/data` payload - this would also mean a change on the /data response from the agent

@juacker we still need this on and the _light_ version of `https://app.netdata.cloud/api/v2/spaces/<space-id>/charts/_query` for the Nodes tab

[2022-08-24 06:42] hugovalente-pm commented on #441
@dimko is this somehow related to the custom dashboard issue you mentioned on yesterday's daily?

[2022-08-24 07:24] shyamvalsan commented on #541
This has been released as of 23-Aug-2022.

[2022-08-24 07:24] #541 closed

[2022-08-24 07:48] mulder999 commented on #555
Hi @dimko, thanks for replying.

There is no alert in the web console of the agent itself, the alert is only visible on the cloud.

I studied the netdata logs around and after the alert. Was wrong in my earlier description. The netdata process who reported the error about himself at 15h08, runned in fact until 18h01. Then I have a hole until 18h55 during which we were probably busy rebuilding the

[2022-08-24 08:08] MrZammler commented on #555
Hi @mulder999 thanks for this.

Can you please also send the logs during that time (would like both the `access.log` and `error.log`) to manolis@netdata.cloud ?

When you say a `new netdata agent process` could I assume that this process did not share the same data as the old one? Most importantly the contents of our local sqlite db in /var/cache/netdata ? (But still somehow shared the machine gui

[2022-08-24 09:35] mulder999 commented on #555
Hi @MrZammler,

Oups sorry, I used "process" as a shortcut of "process wrapped in a container service instance", this is later visualized as a unique "container" element in the right column of netdata cloud/web console.

The cache and config volumes of the container service were preserved and reused by the different container service instances all the time so should the netdata identities.

Will t

[2022-08-24 09:55] dimko commented on #441
@hugovalente-pm no, the issue mentioned yesterday and fixed was about auto-closing the dashboard renaming modal after user saves the changes

[2022-08-24 10:26] novykh commented on #553
My 2 cents on the matter, is that granularity is part of the chart config (doesn't change over time or by user input), hence there is no reason to put it on every `/data` request.

[2022-08-24 12:07] #529 closed

[2022-08-24 12:09] novykh commented on #498
@dimko @hugovalente-pm let's jump on a meet?

[2022-08-24 12:10] mulder999 commented on #555
@MrZammler info sent per email. Hope it helps finding and solving the issue. Best regards

[2022-08-24 12:14] novykh commented on #479
@cakrit could you provide the browser/os you were using? We cannot reproduce it.

[2022-08-24 12:19] ralphm commented on #532
Just want to note that _billion_ means something different between US English (10<sup>9</sup>) and UK English (10<sup>12</sup>). Probably ok to explicitly use US English, though.

[2022-08-24 12:24] novykh commented on #438
@dimko is this still reproducible?

[2022-08-24 13:14] dimko commented on #438
Yes, just did it and almost suffered from epilepsy.

![image](https://user-images.githubusercontent.com/19268853/186427567-229525d0-d771-4d2b-a133-fea21a926848.png)

[2022-08-24 13:45] dimko commented on #322
This is no longer reproducible after latest changes to node deletion and visited nodes fetching. Closing

[2022-08-24 13:45] #322 closed

[2022-08-24 14:17] hugovalente-pm commented on #532
yes, I think US English is ok.
the main doubt is should we go with:
a) explicit _words_
b) abbreviations of K (thousand), M (million) and B (billion)

UI-wise I prefer the abbreviations, but having the explicit _words_ doesn't shock me.

[2022-08-24 14:26] juacker commented on #553
@hugovalente-pm Adding `update_every` to `/_query` response could be added without changing anything in the proto/agent, but looking at the previous DB query I think we were not returning it old CnD proto nodes either. Should we add it to`/_query` in any case?

[2022-08-24 15:19] juacker commented on #553
I'm testing adding it on `/_query` response and it does not seem to solve the issue:

![image](https://user-images.githubusercontent.com/2930882/186456902-9d2f8a0a-d214-43db-b1e3-5043ed22bd5c.png)

So I guess it's only needed on `/charts`

[2022-08-24 15:30] hugovalente-pm commented on #553
@jacekkolasa for the Nodes tab can you see what is missing after @juacker 's work to add this?
not sure something is needed on FE

[2022-08-24 16:12] mulder999 commented on #555
Closing ticket as issue has been fixed by netdata cloud team.

[2022-08-24 16:12] #555 closed

[2022-08-25 07:04] hugovalente-pm opened #556 "[Bug]: Navigation to Single Node view should not be allowed for Offline nodes"
### Bug description

When a node is offline the navigation to the Single Node view shouldn't be allowed

### Expected behavior

Disable the link that allows the user to open the Single Node view

### Steps to reproduce

1. Go to the Nodes tab on a War Room with Offline nodes
2. Click on the link on the name of the node
3. Single node view open and stays in "Loading node charts..." state

### Scree

[2022-08-25 07:06] hugovalente-pm commented on #556
this was raised by @AlexNti when adding https://github.com/netdata/cloud-frontend/issues/3594

[2022-08-25 15:55] #454 closed, assigned to AlexNti

[2022-08-27 21:24] tbouquet commented on #539
Hi,

Thanks for your answer

I confirm it's working now

That's great

[2022-08-29 07:07] marliyev opened #557 "[Bug]: war room deleted, notification diabled but still receiving alerts"
### Bug description

Hey guys,

I have disabled mail alerts for some war rooms, but still receiving mail alerts, i went to delete those war rooms in hope to stop receiving mail alerts but still receiving all alerts related to deleted war rooms. it has been already few weeks.

Thanks

### Expected behavior

Expected behavior

### Steps to reproduce

1.
2.
3.
...

### Installation method

kickstart.

[2022-08-29 07:15] shyamvalsan opened #558 "[Feat]: Allow metric descriptions and guidance text to be minimized and make them available everywhere"
### Problem

- Metric descriptions and guidance text is always present without a way for users to minimize them.
- Metric descriptions and guidance text only live on overview tab (and single node view) with no way to persist them to other tabs such as (but not limited to) alerts, anomalies, custom dashboards, use-case dashboards.

Example:

![image](https://user-images.githubusercontent.com/248605

[2022-08-29 07:17] shyamvalsan commented on #558
cc: @hugovalente-pm @novykh @jacekkolasa @sashwathn @cakrit @amalkov

[2022-08-29 07:45] MrZammler commented on #557
Hi @marliyev !

Sorry if this might sound weird, but the alerts you are receiving do come from cloud, right? i.e. from states cloud? Could you please share the output of `http://localhost:19999/api/v1/info` from the agent you're receiving emails to `manolis@netdata.cloud` ?

[2022-08-29 07:49] marliyev commented on #557
curl http://localhost:19999/api/v1/info
{
        "version": "v1.36.0-61-nightly",
        "uid": "d0a64405-d1f4-4749-905d-ce190538db9d",
        "mirrored_hosts": [
                "pve-Q1"
        ],
        "mirrored_hosts_status": [
                { "guid": "d0a64405-d1f4-4749-905d-ce190538db9d", "hostname": "pve-Q1", "reachable": true, "hops": 0, "claim_id": "d0a64405-d1f4-4749-905d-ce190538

[2022-08-29 10:22] marliyev commented on #557
ahm, and this deleted nodes, war rooms, all still remain on cloud dashboard. weird.

[2022-08-29 10:40] hugovalente-pm commented on #487
based on the conversation on today's daily the priority for this has been raised to `medium` and item has been raised on the backlog

[2022-08-29 10:53] hugovalente-pm commented on #557
@marliyev this is indeed strange, could you share with us your space ID? if you prefer you can e-mail it to me at hugo@netdata.cloud

to go a bit back to your original description of the issue

Here you mentioned you had disabled the alerts for some War Rooms, your goal was to disable the alerts for some specific nodes? I'm asking because the nodes that were on those War Room would still be in the

[2022-08-29 10:57] marliyev commented on #557
nope, i have disabled alerts for a whole war room from cloud dash, plus deleted those war rooms, but still all remain, i will email to you space id

[2022-08-29 12:59] amalkov commented on #558
Fully agree, I believe this CTA should be located next to the title, might be as an "i" icon before the title for consistency (to avoid misalignment due to different lengths of the title)

[2022-08-29 13:55] #539 closed

[2022-08-29 13:59] sashwathn opened #559 "[Feat] [Use-cases]: Consul Monitoring with Netdata"
### Problem

Netdata currently does not support monitoring Consul applications / metrics and we now need to support this use-case.

### Description

# KEY METRICS

# CONSUL

- [ ] Number of Consul Servers by DC
- [ ] Consul Nodes by Service Toplist
- [ ] Leader last contact with followers
- [ ] Number of Consul nodes by service
- [ ] Number of Consul nodes
- [ ] Leader time to append entries
- [ ]

[2022-08-29 15:00] hugovalente-pm commented on #557
thanks for the details @marliyev, haven't been able to spot anything a miss but will ask the team for additional help.

some further questions to try to help us troubleshoot this:
* on which war room(s) had you tried to disable the notifications?
* what kind of alerts are you receiving? for multiple nodes, one in particular?

feel free to share these details here or through e-mail

[2022-08-29 15:12] hugovalente-pm commented on #558
agree on both and the default behaviour of expanding or collapsing the explainer text could be a user preference

on this one, while this is kept in dashboard source code we could try to play this one below (it was created for custom dashboards but being a chart option it could be made available in more places):

https://github.com/netdata/product/issues/2322

@novykh not sure if what your refacto

[2022-08-29 16:26] hugovalente-pm commented on #471
the FE task has been completed:

* Nodes table on Centralized Admin interface include the `Connection to Cloud` status
![image](https://user-images.githubusercontent.com/82235632/187248669-5e732577-9134-4772-9464-9c8462eca5aa.png)

* Node inspector has also been revisited to include this
![image](https://user-images.githubusercontent.com/82235632/187248763-e80029cb-ca15-46f2-b30f-255874a6d2e1.png)

[2022-08-29 16:26] #471 closed

[2022-08-29 16:57] hugovalente-pm commented on #477
@AlexNti and I have been trying to reproduce this and couldn't trigger this again
closing this, to be re-opened if it surfaces again (not wanting to introduce come buffer blindly)

[2022-08-29 16:57] #477 closed

[2022-08-29 19:26] ptkiki commented on #557
lets say spark, kafka rooms, i have disabled alerts from this war rooms and additionally delete this war rooms, but still receiving different of types alerts, like, unreachable, like disk or traffic alerts

[2022-08-30 08:13] sashwathn commented on #559
@ilyam8 @vlvkobal @thiagoftsm :
The consul metrics are available through APIs mentioned here and should be relatively easy to implement a collector for these - https://www.consul.io/api-docs/agent.

[2022-08-30 08:22] jjtsou commented on #532
https://github.com/netdata/cloud-frontend/pull/3753

[2022-08-30 10:47] burbuli8ra commented on #213
Released on [v2.36.13](https://github.com/netdata/cloud-frontend/releases/tag/2.36.13)

[2022-08-30 10:47] #213 closed

[2022-08-30 10:53] hugovalente-pm commented on #557
@marliyev @ptkiki from what we could see, at the moment, you have the notifications active for all the rooms in your space.

please also be aware that even if you delete a room and/or remove a node from a specific room (not deleting an `Offline` node) it will still belong on the `All Nodes` and if you have the notifications enabled there you may get notified for the node you had removed from other

[2022-08-30 11:31] hugovalente-pm commented on #557
correct @ptkiki, if you just switch the agent off these will be shown as `Offline` in Cloud and you can already delete them but if for some reason the agent is restarted they will appear again in Cloud (claiming information is still existing on the agent under `/netdata/cloud.d`).

if you really don't want to see them again in Cloud the best is to unclaim them

one other option, if you have your i

[2022-08-30 11:53] ptkiki commented on #557
yup, i have disabled notifications exactly same way a few weeks ago but notifications till now coming, even if after i have deleted war rooms. so am going to disable agent on servers, i see there is no other way to stop notifications.

[2022-08-30 13:21] hugovalente-pm commented on #557
thanks for the update @ptkiki and glad that finally you were able to stop the notifications.

it is strange that the change of the settings on the rooms didn't work, you shouldn't need to resort to removing the nodes, so we will keep trying to investigate/replicate it on our end - suggest to keep the ticket open for a bit longer until we have some more finding on our side

to confirm about this th

[2022-08-30 13:48] hugovalente-pm commented on #532
above has been merged so closing this

[2022-08-30 13:48] #532 closed

[2022-08-30 13:51] marliyev commented on #557
Yup, offline nodes i can delete but disabling notifications on cloud dash settings, doesnt work

[2022-08-30 14:08] papazach commented on #553
So it seems that after all, `update_every` should be included to the proto definition.

Given that:
1. Performing an additional HTTP call (aka context details) to fetch this in real-time is not worth the latency and data transfer
2. Adding this to the /data response, will again make it accessible to only a specific agent version and onwards (similar to adding it to the proto definition). Plus it m

[2022-08-30 14:16] hugovalente-pm commented on #553
Yes.

I remember the question, but I didn't recall that it was being used to display some info on the tooltip at that time

I believe we need to add it to the the proto messages, since adding to the `/data` doesn't make much sense.

[2022-08-30 14:22] jacekkolasa commented on #553
Regarding Nodes View and `/_query` payload, if we'll have camelized `updateEvery`, granularity should show up correctly.

@juacker Can we use `updateEvery` (similarly as camelCase is used in `rooms/${roomID}/charts`), or you prefer FE to respect `update_every`?

[2022-08-30 14:23] papazach commented on #553
Yeap me neither, I think that we all lost this. I will create the related tickets/tasks for the BE.

PS: That could have been something that a front-end team member _could_ have caught. Don't want to rant about this at all, just want to mention it, since back then I had to elaborate about the inclusion of FE on the design phase.

[2022-08-30 14:45] juacker commented on #553
yes, of course @jacekkolasa, good catch!

[2022-08-30 14:48] hugovalente-pm opened #560 "[Feat]: Enhancements to the charts on the Nodes tab"
### Problem

With the recent work done on the Nodes tab:
* some information was removed, e.g. chart title,
* this exposed that we can't specify specific instances (chart ids) and/or chart labels to select what data we want to display or not display
* improving the experience by allowing users to expand the chart and/or navigate to the specific chart

### Description

On the Nodes tab I would like

[2022-08-30 14:55] hugovalente-pm commented on #560
cc: @amalkov @cakrit  @jacekkolasa @ralphm @sashwathn @shyamvalsan to trigger the discussion for future improvements on the Nodes tab

[2022-08-30 15:02] dimko commented on #138
Re-oppening this one as it has been incorrectly closed

[2022-08-30 15:12] papazach commented on #553
x-referencing here the set of tasks that are needed to be completed in order to include `update_every` in the Overview `/charts` response:
https://github.com/netdata/cloud-backend/issues/336

[2022-08-31 07:09] MrZammler commented on #4
Just a note, we cleared this issue with @car12o (thanks man), and we're processing a plan to deal with this situations.

[2022-08-31 08:44] hugovalente-pm opened #561 "[Feat]: Allow inviting users to a Room that aren't yet invited to the Space"
### Problem

When we are inviting a user to a Room we are restricted to only the users that are already invited to the Space. This restrictions makes the process of inviting a user to a Room a two-step process where I need to:
1. Invite the user to the Space
2. Add the user to the Room

Besides the above, if we want to manage the user level of permissions (role) we need to go to yet another screen

[2022-08-31 08:53] shyamvalsan opened #562 "[Feat] Use-cases]: Monitoring OPC UA with Netdata"
### Problem

- Netdata cannot currently monitor OPC UA servers or related metrics (tags)
- Current solutions for monitoring health, performance and usage of industrial automation systems are rigid and difficult to manage

### Description

OPC UA is an open, industry independent, secure connectivity framework for industrial automation data. OPC UA is designed for use across industries for myriad cu

[2022-08-31 09:23] juacker commented on #553
renamed to `updateEvery` on `/_query` @jacekkolasa:

![image](https://user-images.githubusercontent.com/2930882/187645351-fe392f6a-be2a-4cc0-ade6-41b6ec27dd5c.png)

[2022-08-31 11:58] shyamvalsan commented on #562
This feature was requested by a user, here's some feedback from a discussion I had with them.

cc: @ktsaou @cakrit @sashwathn @amalkov @ralphm

[2022-08-31 13:10] andrewm4894 opened #563 "[Feat]: increase dashboard name limit from 20 characters"
### Problem

20 character limit on dashboard names seems very very small - no?

### Description

![image](https://user-images.githubusercontent.com/2178292/187686115-ed7e6265-a2b7-47d3-8c03-5b9333b1b310.png)

### Importance

nice to have

### Value proposition

1. better naming of custom dashboards

### Proposed implementation

_No response_

[2022-08-31 16:04] hugovalente-pm commented on #557
@marliyev we further tried to replicate this and had a Node that was on the `All Nodes` and a `Notifications test` room triggering alerts.

we tested the following scenarios for the Notifications settings under User profile:
* All alerts active on both -- notifications emails received ✔️
![image](https://user-images.githubusercontent.com/82235632/187725618-6de1a290-e2f4-4f83-84f4-609e6fefcb19.png)

[2022-08-31 16:13] hugovalente-pm commented on #274
with the recent work done on the Nodes tab the individual charts have been "merged" as composite charts, not stating this saying this will solve the issue it is more as N/A atm

there is follow-up work to help bring more flexibility to this here https://github.com/netdata/netdata-cloud/issues/560

closing the bug for now as `won't do` since we aren't doing anything specific, we are reviewing this

[2022-08-31 16:13] #274 closed

[2022-08-31 18:58] amalkov commented on #562
I believe this is a good opportunity to step in into the manufacturers ecosystems. The outcome of this work can be a paid support plan. It would be good to analyse the effort and implementation complexity.

Probably we just need to implement couple of collected and let it go, to be driven by the community, to validate the need.

[2022-08-31 19:02] amalkov commented on #560
Regarding the search bar, I would suggest to follow the discussed standard - global filter side panel with common filtering capabilities

[2022-09-01 08:08] shyamvalsan commented on #562
If we build the collector and have a guide to using it - we could test the waters by sharing it with https://www.reddit.com/r/PLC/ and see how the community receives it.

[2022-09-01 08:24] hugovalente-pm commented on #536
decreasing priority for this since we haven't been able to replicate this and @xkisu is not facing this atm (completed work at client's system)

pushing this also to `netdata/netdata` repo since this is confirmed to happen at the agent

[2022-09-01 10:21] hugovalente-pm commented on #561
@christophidesp @AlexNti an example based on what we have spoken, changing the order of what we show first,

in terms of text changes I would suggest:
* "Send invitations to your team" --> "Invite an external user to the Space and this War Room" adding a note somewhere the by default user will be added to the `All Nodes`

Points to steal deal with:
* Send button and CTA/button to confirm the actio

[2022-09-01 15:16] M4itee commented on #560
I was more into search bar at the top but right side would work too

[2022-09-02 08:11] hugovalente-pm commented on #557
@marliyev as mentioned in previous comment we will be closing this.
if this happens to you again let us know

[2022-09-02 08:11] #557 closed

[2022-09-02 09:09] dimko opened #564 "[Bug]: Invalid error message after new cloud user successfully joins invited space"
### Bug description

This is a regression caused by 213 as explained here https://github.com/netdata/netdata-cloud/issues/213#issuecomment-1173625177

 After a **new user** successfully joins and invited space, he doesn't see the correct popup that he successfully joined the space (even though he does), but he sees an error popup that invitation to join failed, **Invitation not found**

### Expect

[2022-09-02 09:11] vkuznecovas commented on #564
Backend part addressed in https://github.com/netdata/cloud-spaceroom-service/pull/353, released to prod

[2022-09-02 19:20] walkertr0n commented on #199
I'm seeing this behavior (default `stacked` chart changes to `line` after reload) with `system.ram`, `system.swap`, and `apps.swap` charts -- but only ones I had added a day or two ago. Newly added `stacked` charts aren't exhibiting this (yet).

There seem to be two ways to get affected charts to render as `stacked` again:

**1. Manually set chart render type and save.** This fix persists upon rel

[2022-09-02 20:22] walkertr0n opened #566 "[Bug]: Add chart modal previews the wrong render type"
### Bug description

Discovered while investigating [another issue](https://github.com/netdata/netdata-cloud/issues/199#issuecomment-1235828125).

When adding a new chart and selecting a specific node, the "Context in" dropdown field sometimes populates with chart I've previously added -- in my case, `apps.mem`. The default render type for `apps.mem` is `stacked` but the modal's chart preview rend

[2022-09-05 08:17] hugovalente-pm commented on #566
thanks @walkertr0n for reporting this, I wasn't able to reproduce as you mentioned.
could you confirm your agent version?

* Chart preview with `All Nodes` on nodes selection - all ok for `apps.mem` chart
![image](https://user-images.githubusercontent.com/82235632/188401764-4e2521ef-edf7-4840-8c5e-d9661bde04f8.png)

* Chart preview with selection of one node on nodes selection - all ok for `apps.m

[2022-09-05 08:26] hugovalente-pm commented on #199
@walkertr0n , I'm not sure this could a temporary glitch or side effect of a previous release. understanding that this isn't happening for new added charts we will not re-open this.

please do let us know if you experience this again

[2022-09-05 12:10] AlexNti commented on #487
This is paused for now, waiting for @novykh to be back as we need to discuss possible strategies.

[2022-09-05 12:16] hugovalente-pm commented on #465
as per the discussion on today's daily on an update by @dimko this has been raised in priority - moving to `high´

[2022-09-06 09:10] hugovalente-pm commented on #487
@AlexNti as discussed on the daily let's proceed with removing the big graphics of "500" from the current page while in parelel we will discuss what and how to better distinguish the error scenarios we want to show (HTTP errors and other generic errors)

[2022-09-06 12:28] hugovalente-pm commented on #479
@novykh I was able to reproduce it while trying to figure out something else, let me try to see if can get a set of steps that consistently cause this

btw, os Windows 10 and my browser
![image](https://user-images.githubusercontent.com/82235632/188635165-f677158a-535a-4592-a645-8128f726b44e.png)

[2022-09-06 12:57] burbuli8ra commented on #564
Released on [v2.36.16](https://github.com/netdata/cloud-frontend/releases/tag/2.36.16)

[2022-09-06 12:57] #564 closed

[2022-09-06 14:17] ilyam8 commented on #562
@thiagoftsm can you share your thought before starting to implement something? atm I have 0 understanding of what OPC UA is and what the ways to collect metrics are, but I googled `go opc ua` and found https://github.com/gopcua/opcua.

[2022-09-06 15:23] thiagoftsm commented on #562
Thank you for the link @ilyam8 ! As soon I finish eBPF stuff I am doing right now, I will share data and details about what we can do :handshake: .

[2022-09-06 19:20] cakrit opened #567 "[Feat]: Provide add node instructions for Docker Swarm"
### Problem

Our instructions to install a containerized Netdata and connect it to the cloud are not quite there for Docker Swarm. Specifically:
- We need to explicitly mention that docker.sock needs to be passed
- We should provide a CLI command, based on docker compose

I'm asking the user who encountered the issues to assist us with the exact text and template we should add to the existing inst

[2022-09-06 19:20] cakrit commented on #567
cc @Ferroin

[2022-09-07 07:39] bluepuma77 commented on #567
I had the issue that I only saw cryptic container IDs and no names. Forum helped to add `docker.sock`. I would just add the line to the CLI template pictured above (and to compose) so others don't need to start the same troubleshooting:
[code]
Some people consider exposing docker.sock as security risk and rather have a proxy in between. You could just add a sentence below, like "If you consider bi

[2022-09-07 08:26] hugovalente-pm commented on #553
@novykh on a conversation with @amalkov @ktsaou @papazach @ralphm this was discussed and since the granularity will be related to the data retrieved (considering potential chart label filtering, etc.) it makes more sense for this to be exposed on the `/data` request response.

let us know if you see any other reason why it should not be there.

[2022-09-07 13:48] hugovalente-pm opened #568 "[Feat]: Add `last seen` attribute from node on Centralized Admin Interfaces Node management tables"
### Problem

When trying to dig through `Offline` nodes it is very difficult to understand if a node is `Offline` for a long period of time (days, weeks, months) or if it is `Offline` due to a recent outage.

### Description

We want to provide the users with an extra column on Centralized Admin Interface Node management tables so they can, at least, use it as a sorting mechanism.

**NOTE:** This

[2022-09-07 15:45] hugovalente-pm commented on #561
Potential key need for paid features by defining the role of the user and will also need to have a way to exclude inviting the user to the `All Nodes` also for paid plans (TBC)

[2022-09-07 16:04] hugovalente-pm opened #569 "[Feat]: Review the behaviour on hiding the grouping function over data sources"
### Problem

Currently there is component on the composite chart bar that is hidden upon the following conditions:
* group by `instances`
* instances = 1
* total #instances =< total #nodes

This causes confusion on understanding the available options on the composite chart bar and how these charts work.

### Description

Instead of hiding the component we should disable it, under the above conditi

[2022-09-07 16:19] hugovalente-pm opened #570 "[Feat]: Review the composite charts bar components tooltips"
### Problem

The tooltips of the composite chart bar should be reviewed:
![image](https://user-images.githubusercontent.com/82235632/188927047-39c23bf0-7566-4f8a-8e35-7eda84a98b00.png)

With group by `dimension`
![image](https://user-images.githubusercontent.com/82235632/188927077-e2046841-85a3-494a-95a9-0f95cbdd04c3.png)

With group by `node` and other chart labels
![image](https://user-images.gi

[2022-09-07 16:32] cakrit commented on #515
Reopening this, as we have done a deeper investigation with Sendgrid and we finally have the root cause.
The original link we send is sometimes pretty long (maybe 300+ characters long). When sendgrid converts such links they become really huge, exceeding 1k and causing problems with the MS Outlook desktop version. Using a browser is definitely a workaround, but we really should look into a more lo

[2022-09-07 17:53] shyamvalsan opened #571 "[Bug]: Latency histogram chart legends should be sorted numerically not alphabetically"
### Bug description

Latency histogram chart legends should be sorted numerically not alphabetically

![image](https://user-images.githubusercontent.com/24860547/188945522-8cd984f0-aaac-4abc-9856-c30769967d91.png)

In this example the actual sort order should be:

0.100, 0.500, 1.000, 2.500, 5.000, 10.000, +Inf

as defined in the collector.

But cloud is re-sorting them based on alphabetically ord

[2022-09-07 17:54] shyamvalsan commented on #571
cc: @hugovalente-pm @novykh @ilyam8

[2022-09-07 18:04] shyamvalsan opened #572 "[Feat]: Allow chart defaults to be selected per metric"
### Problem

Certain charts are more useful (or only make sense) when the chart options are set to values other than the default that is used for all charts and metrics. Currently all charts use common defaults (Eg: group by dimension) unless specifically hardcoded otherwise - this is not a very extendable or flexible state of affairs.

For example, database charts should be **"grouped by database

[2022-09-07 18:06] shyamvalsan commented on #572
cc: @amalkov @ralphm @sashwathn @hugovalente-pm @cakrit @ktsaou

[2022-09-07 18:07] thiagoftsm commented on #571
Hello @shyamvalsan only to clarify, this chart is ordered according ASCII [table](https://www.asciitable.com/), what you want is to move text (this means exclude `+` from `+Inf`) to the end, is this correct?

[2022-09-07 18:10] shyamvalsan commented on #571
@thiagoftsm It's not only +Inf

it is currently showing 1, 10, 2.5, 5 instead of 1, 2.5, 5, 10

[2022-09-07 18:29] hugovalente-pm commented on #515
@netdata/cloud-be can someone look into this?

cc @amalkov

[2022-09-07 19:53] thiagoftsm commented on #562
@shyamvalsan the Python examples you used are not async examples, instead we will have to use async version https://github.com/FreeOpcUa/opcua-asyncio of OPC UA

[2022-09-07 20:41] hugovalente-pm opened #573 "[Bug]: chart label filtering activates wrong selection when one value contains as a subset another"
### Bug description

When selecting a value from a filter key if that value contains as a subset another value both are selected when clicking the first one, example: with `filesystem` key with values `devtmpfs` and `tmpfs`on Disk Space Usage - `disk.space`

### Expected behavior

Only the selected value should be activated

### Steps to reproduce

1. Go to https://app.netdata.cloud/spaces/netdata

[2022-09-07 21:04] hugovalente-pm opened #574 "[Feat]: Add more options on time aggregation like trimmed-mean 5% trimmed-median 5% percentile 95%"
### Problem

With the introduction of more aggregation functions over time consolidation of points we need to enhance the options on Cloud.
Agent reference - https://github.com/netdata/netdata/pull/13469

### Description

We need to provide the following options on our composite charts time aggregation functions:
* trimmed-mean 5%
* trimmed-median 5%
* percentile 95%

Ideally we UI would provide a

[2022-09-07 21:28] hugovalente-pm commented on #479
@novykh the steps to reproduce:
1. Go to this link with a filter applied on two nodes - https://app.netdata.cloud/spaces/netdata-cloud/rooms/all-nodes/overview#chartName=menu_cpu&after=-900&before=0&utc=Europe%2FLisbon&offset=%2B1&timezoneName=Dublin%2C%20Lisbon&metrics_correlation=false&appliedFilteredIds=7d87b3e9-ce12-4013-8fd3-3673838850c7%2Ca434e1ce-7a03-4d5e-89ac-78e0bd9a88fb&liveNodeIds=7d87

[2022-09-07 21:41] hugovalente-pm commented on #538
@papazach gentle reminder on the previous comment

[2022-09-07 21:49] hugovalente-pm commented on #365
@papazach is there any work that you were or are planning to do on this one?

[2022-09-08 08:06] papazach commented on #538
Hello, apologies for the delayed response.
No need to follow-up on this.
The routing logic has been greatly simplified since dropping ChartsAndDimensions streaming, additionally as we drop completely MV usage (node state is the last one remaining, all other MVs have been dropped) we'll have no such issues of obsolete information as we'll be querying the SOT directly via gRPC.

I thinkn we can safe

[2022-09-08 08:08] #538 closed

[2022-09-08 08:10] papazach commented on #365
Nope @hugovalente-pm the last relevant actions were to map all the BE errors correctly in the front-end and make sure that we're logging the actual errors behind the Internal Server Errors so as to pinpoint them from the logs.
Bubbling up the original error in the response payload is not something that would be safe to do, so we log it and we return the Internal Server Error along with the errorCo

[2022-09-08 08:23] #365 closed

[2022-09-08 08:41] christophidesp commented on #527
Sharing a video prototype showing the interactions for marking a section as favourite

https://user-images.githubusercontent.com/96468003/189076775-767ce715-d22e-49fa-842e-90eb594be783.mov

[2022-09-08 08:58] novykh commented on #553
No it's fine, although you know that it doesn't change right? In any case we can make the change on the frontend to be ready for this.

[2022-09-08 09:12] hugovalente-pm commented on #553
from what I understood it can, let's say you 3 nodes where 2 have a given `update_every` and the last another with smaller frequency, when getting `/data` from all you get the highest `update_every` but if you filter the chart for data from the one with the smaller frequency you get that

@ktsaou @papazach let's proceed with pushing this to the `/data` request starting from the Agent

[2022-09-08 09:13] novykh commented on #553
If that is possible, then makes total sense.

[2022-09-08 09:15] #368 closed

[2022-09-08 09:16] #441 closed

[2022-09-08 09:16] #427 closed

[2022-09-08 14:54] hugovalente-pm commented on #571
@novykh I don't have access to the example @shyamvalsan mentioned (this isn't live yet) but you can find some latency charts here on `Kubernetes kubeproxy` section having the same issue - https://app.netdata.cloud/spaces/netdata-cloud/rooms/k8s-prd/overview#chartName=menu_system&appliedFilteredIds=&liveNodeIds=&staleNodeIds=&offlineNodeIds=&filteredNodesSearchParams=

![image](https://user-images.

[2022-09-08 15:18] hugovalente-pm opened #575 "[Feat]: On the Nodes tab we need to add the y-axis on the charts"
### Problem

With the review of the nodes https://github.com/netdata/cloud-frontend/issues/36239 we made it more difficult for users that used this tab as a sort of "health dashboard" to check the status of their nodes - mainly the issue is the removal of numbers on charts.

Feedback from user: https://www.reddit.com/r/netdata/comments/x85tt6/comment/ing9g4g/

### Description

There are plans to p

[2022-09-09 09:25] dimko commented on #465
@hugovalente-pm reducing prio on this one again as I managed to overcome the block in regression tests. It's not a very obvious issue to the user and can be easily bypassed by scrolling a bit. When FE team has more availability we can try and fix it.

[2022-09-09 11:16] dimko opened #576 "[Bug]: Navigation between chart menus is too slow"
### Bug description

When switching between chart menus from the charts list on the right side there is a delay to render the appropriate charts, the browser gets stuck and often crashes

### Expected behavior

Navigation between charts shouldn't be that slow

### Steps to reproduce

1. Login to netdata cloud to a space with multiple agents claimed
2. Navigate to overview tab
3. Switch between dif

[2022-09-09 11:21] papazach commented on #553
The BE change is deployed to all ENVs and things seem now ok.

<img width="1142" alt="Screenshot 2022-09-09 at 2 19 11 PM" src="https://user-images.githubusercontent.com/8328670/189338953-debfdd0d-5ff7-4594-9e4b-372a18651635.png">

Feel free to check/validate and close the ticket 👍🏼
cc @hugovalente-pm @novykh

[2022-09-09 11:23] dimko commented on #576
Can't attach performance logs, github is unable to service the file I am attaching any way I've tried.

[2022-09-09 11:26] novykh commented on #553
Cool thanks, I will release the frontend part of it later today as well.

[2022-09-09 11:38] jacekkolasa commented on #341
I'm unassigning myself from this ticket since I won't be available in next week. I'll gladly finish this work when i return, but if we want to have it finish earlier, here's my working branch: https://github.com/netdata/cloud-frontend/tree/more-precise-redirect

[2022-09-09 13:11] jacekkolasa commented on #553
@novykh `netdata/charts v0.5.41` are already on production, i think your change is there

[2022-09-09 14:53] hugovalente-pm commented on #553
this is on PROD and done 💪

[2022-09-09 14:53] #553 closed

[2022-09-12 07:28] shyamvalsan opened #577 "[Feat]: Shortcut to notifications page to make it easy for users to toggle whether they get notification emails or not"
### Problem

Netdata has alert notification emails enabled by default - this might be problematic for new users who in certain scenarios could get flooded with emails for issues that they do not really consider a problem (RAM alerts is one such example from a real user). It is not possible for Netdata to set ideal alert thresholds for *all* possible user environments - hence there should be an eas

[2022-09-12 10:59] hugovalente-pm commented on #566
@walkertr0n since we weren't able to reproduce this we will be closing it
if you are still facing the issue please let us know and re-open this bug

[2022-09-12 10:59] #566 closed

[2022-09-12 13:01] thiagoftsm commented on #562
Hello,

Last week I finished the work with `python` to understand how OPC UA works (Server, client, protocol). This week I am shifting to go, because python library exposed in OP has [limitations](https://github.com/FreeOpcUa/python-opcua) that do not allow us to get all metrics we need, and of course the plugin with be written with other [library](https://github.com/netdata/netdata-cloud/issues/5

[2022-09-12 13:07] andrewm4894 opened #578 "[Feat]: Make dimension level descriptions available in NC UI somehow"
### Problem

It's hard sometimes to know what a dim on a chart is refering too.

Here is example from community where a user had to dig into the code/(default conf files) to understand what `nms` dim on the app charts was. Ideally the user would just be able to click that dim on a chart and then in some way get a tooltip to say that "nms" actually stands for "Network Monitoring Software".

### Des

[2022-09-12 13:16] shyamvalsan commented on #562
@thiagoftsm

- Regarding [namespaces](https://reference.opcfoundation.org/v104/DI/v102/docs/11.2/) it appears only 0 and 1 can be known in advance by Netdata. The rest is up to the user to configure if they want to monitor.

![image](https://user-images.githubusercontent.com/24860547/189663058-4782fdef-2aa1-48ba-93ac-6d7c3b295a20.png)

I was thinking that namespaces should be correlated to jobs, s

[2022-09-12 13:49] thiagoftsm commented on #562
@shyamvalsan after I discuss with users your points I will bring another update.

[2022-09-12 14:04] shyamvalsan commented on #578
@andrewm4894 could this be related to https://github.com/netdata/netdata-cloud/issues/558

[2022-09-12 16:47] andrewm4894 commented on #578
@shyamvalsan I believe maybe but I'm also talking about storing it and exposing it at individual dim level too perhaps.

[2022-09-13 01:22] thiagoftsm commented on #562
During the tests I reach a OPC UA server that does not allow to query all Nodes, considering this scenario the safest option looks like to query IDS that are always present. The whole list is present in this [link](https://chimeratk.github.io/ControlSystemAdapter-OPC-UA-Adapter/01.06/open62541_8h.html) with prefix UA_NS0ID.

[2022-09-13 08:30] hugovalente-pm commented on #576
this is to be re-checked once the refactoring/improvements on the virtualization are completed

[2022-09-14 08:14] shyamvalsan opened #579 "[feat]: Default sort order for chart labels isn't the most useful"
### Bug description

Chart labels are sorted alphabetically by default - in many cases such as Application CPU charts - there are likely dozens of entries and sorting alphabetically means we show entries of little relevance.

![image](https://user-images.githubusercontent.com/24860547/190098838-6a09c966-2e4d-496e-9c1c-45b71980697b.png)

### Expected behavior

In select scenarios such as the one ab

[2022-09-14 08:22] hugovalente-pm commented on #579
@shyamvalsan this doesn't seem like a bug, but more like a feature request.
do you mind if we move it to a feature request?

[2022-09-14 08:40] shyamvalsan commented on #579
@hugovalente-pm yeah sure - no worries. I put it here, because it didn't seem like feature level effort, but it is really an enhancement.

I wonder if the reason we didn't do it this way was that with alphabetic order the labels will remain largely static while if you put it based on numeric sort order then it will be a lot more dynamic. Not sure if that's really a problem or not.

[2022-09-14 10:30] hugovalente-pm commented on #579
since bugs is such an important KPI and we are doing a big effort to having it controlled, let's not inflate it just to try to _cut the queue_ for deliver 😅 we should discuss those features we consider quick-wins in other way

Not really sure, but it is true that if you are in a section where dimensions are the same across all the charts having they sorted in some other way than alphabetical order

[2022-09-14 15:17] andrewm4894 opened #580 "[Bug]: metric correlation results do not properly filter dims on some charts"
### Bug description

if i run a MC, in the results some chart dims are not filtered like the should be by default.

### Expected behavior

all charts should only have the relevant dims selected

### Steps to reproduce

1. use metric correlations, look at applications chart.

### Screenshots

https://user-images.githubusercontent.com/2178292/190195036-82054643-4fa0-45d0-8256-10d94f17fded.mp4

### E

[2022-09-14 17:14] Ferroin commented on #567
For the Docker socket, I would argue it’s better to clearly mention the Docker socket requirement on the page itself, instead of explicitly including a line for it in the sample command. Anything that has full access to the socket can pretty easily get access to the host system as whatever user the Docker daemon is running as unless steps are explicitly taken to limit access. We can’t take those s

[2022-09-15 08:18] hugovalente-pm commented on #580
was able to reproduce it, so pushing to the backlog with high prio

[2022-09-15 12:30] Tensibai opened #581 "[Bug]: Invitation mails give a bad link"
### Bug description

After inviting two of my colleagues, they both end up with a "Wrong link" error from sendgrid.

Trying to register on a personnal mail gave me the same behavior 7 times before I get an account created.

I don't know if the problem is on netdata or sendgrid side, but the impact is on netdata, hence the bug here.

### Expected behavior

Links work on first attempt

### Steps to

[2022-09-15 12:41] Tensibai commented on #581
Duplicate of #515
Sorry

[2022-09-15 12:41] #581 closed

[2022-09-15 13:22] novykh commented on #351
2-3 months later, I agree with the family grouping.

[2022-09-15 14:42] shyamvalsan opened #582 "[Bug]: PostgreSQL sub sections in Overview tab are weird (mix of previous release and current release)"
### Bug description

A new version of the PostgreSQL Go collector was just released (in nightly) - this version includes considerable changes to how the PostgreSQL metrics are organized into different sub sections.

However on upgrading to the latest nightly, both Netdata production as well as Netdata demo space are exhibiting a weird problem where the new organization is not visible instead a wei

[2022-09-15 15:52] cakrit opened #583 "[Feat]: Provide a URL parameter in the public space to distinguish first visitors"
### Problem

We want to be able to support our public space's use case rooms with onboarding guides that assist people looking at it for the first time. Since most public/demo space users will be completely anonymous, we can't utilize the standard, user-based targeting to launch these engagements from Gainsight. So we need a different way.

### Description

An alternative way to trigger these enga

[2022-09-16 07:43] juacker commented on #582
On the cloud we have requested the _contexts synchronization_ manually, and still have the same inconsistency.

Looking at one postgres context I can see:

![image](https://user-images.githubusercontent.com/2930882/190583441-c8eba97b-701f-48af-9448-2b7bdfca60ae.png)

The child (`claim_id='d1812b26-9b6f-4c44-a25d-9640db8e2c07'`) has deleted the context.
The parent has not deleted the context (maybe

[2022-09-16 08:22] hugovalente-pm commented on #487
the removing of the 500 graphic solved this for now.
the plan is to review the overall notifications displayed as across the together with errors, closing this bug

[2022-09-16 08:22] #487 closed

[2022-09-16 12:01] stelfrag commented on #582
Is this production? I can't find d1812b26-9b6f-4c44-a25d-9640db8e2c07 or the attached node ids in the screen shot

[2022-09-16 12:03] shyamvalsan commented on #582
@stelfrag The issue is seen in production (k8s-room where we have PostgreSQL running) and in Netdata [demo space](https://app.netdata.cloud/spaces/netdata-demo/rooms/postgresql/nodes#appliedFilteredIds=&liveNodeIds=&staleNodeIds=&offlineNodeIds=&filteredNodesSearchParams=)

[2022-09-16 12:09] juacker commented on #582
data above is for the node `postgresql-0` in the Demo space

[2022-09-16 12:48] amalkov commented on #546
Can it be more visible if we would have a little indication in TOC for each first level item

[2022-09-16 12:54] ktsaou commented on #582
Nice find guys!

The fix is here: https://github.com/netdata/netdata/pull/13672

[2022-09-19 07:49] shyamvalsan opened #584 "[Feat]: Control precision of summary chart values to make it more meaningful"
### Problem

For certain summary charts the precision is too high and this makes them look visually problematic/less appealing

![image](https://user-images.githubusercontent.com/24860547/190971232-a25909e9-24cc-4c80-8e87-eb6c17f45a06.png)

### Description

In the above example, the DB size value should be rounded to a precision of maximum 2 decimal point values.

In the case of uptime, the max pr

[2022-09-19 08:28] hugovalente-pm commented on #527
as discussed with @sashwathn @shyamvalsan and @novykh this work as a special scenario that needs to be handled in a different way, for our demo space (https://app.netdata.cloud/spaces/netdata-demo) we need to have a predefined definition for the favourites, since we want specific section to be shown on top

for example:
* on https://app.netdata.cloud/spaces/netdata-demo/rooms/postgresql/overview w

[2022-09-19 12:44] hugovalente-pm commented on #573
@jjtsou @shyamvalsan just a ping to see if this isn't forgotten

[2022-09-19 13:08] hugovalente-pm commented on #227
this seems to be fixed, so closing
![image](https://user-images.githubusercontent.com/82235632/191024468-296fca23-34bf-4685-88fa-ae22581addb4.png)

[2022-09-19 13:08] #227 closed

[2022-09-19 13:13] hugovalente-pm commented on #479
this is no longer happening, now what seems to happen is that the position on the section changes when new `/charts` are loaded after removing the filtering on nodes

will open a new bug and close this one

[2022-09-19 13:13] #479 closed

[2022-09-19 13:14] hugovalente-pm commented on #465
@dimko I was trying to reproduce it and couldn't, could you also check tomorrow so we can close it if it isn't happening any more?

[2022-09-19 13:25] hugovalente-pm opened #585 "[Bug]: when unfiltering nodes section positioning is lost"
### Bug description

When a user is positioned on a given section and he changes the selected nodes (or something triggers a change on TOC - `/charts` call) the history of where he was placed is lost

![chrome_k7UHfAkCqd](https://user-images.githubusercontent.com/82235632/191027540-cbf08b68-30c1-4757-9bec-4991cdc6550c.gif)

### Expected behavior

When the table of TOC changes because some nodes we

[2022-09-19 13:26] hugovalente-pm commented on #585
follow-up to this https://github.com/netdata/netdata-cloud/issues/479#issuecomment-1251003464

[2022-09-19 14:05] hugovalente-pm commented on #575
@jacekkolasa raised a valid concern about the space to add on the y-axis numbers, since at the we don't know exactly how big these numbers are since different charts have different precision and/or units. we currently have a predefined area to accommodate the different possible values

after chatting with @christophidesp the suggestion is to keep the same spacing. let's apply this and see how it w

[2022-09-19 14:17] hugovalente-pm commented on #351
for this one we can see what we will be doing on this one as well https://github.com/netdata/netdata-cloud/issues/550, I know that one was more describing PostegreSQL but we will need to have a rule(s) that could also help on this one

[2022-09-19 15:26] thiagoftsm commented on #562
Since last message I ran different tests with different OPC servers and a specific PLC emulator developed by [microsoft](https://docs.microsoft.com/en-us/samples/azure-samples/iot-edge-opc-plc/azure-iot-sample-opc-ua-server/), for this last I was running it with following arguments:

[code]

When I requested all variables for the microsoft PLC I got this [result](https://github.com/netdata/netdata

[2022-09-19 16:55] cakrit commented on #567
@hugovalente-pm , @Ferroin will describe exactly what will need to change. Once he does, plz plan the change to the text as a low hanging fruit, so we can close it.

[2022-09-19 22:01] Ferroin commented on #567
@hugovalente-pm

Taken together, my suggestion would be to:

- Add a sentence on the Docker claiming page in the Cloud along the lines of: ‘Note that to correctly display container names when running Netdata as a Docker container, you must expose the Docker socket from the host inside the Netdata container.’, and include a link directly to https://learn.netdata.cloud/docs/agent/packaging/docker#do

[2022-09-20 07:54] dimko commented on #576
Closing

[2022-09-20 07:54] #576 closed

[2022-09-20 07:57] dimko commented on #465
@hugovalente-pm will try and reproduce today and will ping FE guys so we can address it. This seems to be happening more and more often lately, again breaking the regression. Also there was a mention in slack about a similar issue.

[2022-09-20 08:21] hugovalente-pm commented on #567
thanks @Ferroin , to check I'll ask the help from someone on the FE team to tackle 1st and 3rd bullet and you will take on this one?

[2022-09-20 09:05] hugovalente-pm commented on #567
@AlexNti as we discussed let's do:

add a note after the "Install..."
![image](https://user-images.githubusercontent.com/82235632/191215807-db9d45b9-5b36-4e2a-a45c-6c21569da220.png)

the difference is on this area
[code]

let's put this when user clicks on a checkbox (or something) mentioning he is using Docker Swarm

[code]

[2022-09-20 10:25] dimko opened #586 "[Bug]: All charts appear as Stacked in Overview Tab"
### Bug description

All charts in overview tab are represented as stacks, not respecting the chartType returned by the backend in the /charts response.

### Expected behavior

Chart type visible to user by default (without user changing the selection) should be the one returned by the agent in the /charts response

### Steps to reproduce

1. Navigate to Overview screen
2. Check a chart that was s

[2022-09-20 11:13] hugovalente-pm commented on #465
what happens now is that navigation starts to work ok, but afte
![chrome_L4NPLvjA7a](https://user-images.githubusercontent.com/82235632/191243493-aa3f7476-9d1f-452e-a035-4f8623f9904e.gif)
r a while things get messed like clicking on a menu item takes you to a total different place

[2022-09-20 11:13] amalkov commented on #351
@hugovalente-pm agree with you, this can be resolved together with #550

[2022-09-20 11:20] amalkov commented on #280
To be handled by https://github.com/netdata/product/issues/3019

[2022-09-20 11:20] #280 closed

[2022-09-20 12:11] Ferroin commented on #567
@hugovalente-pm The second bullet point needs changes both on the FE side and in the agent docs. I can cover the agent documentation, but someone on the FE team will need to add the info for the Cloud.

[2022-09-20 12:32] ilyam8 commented on #567
IMO should be completely opposite. It just doesn't work, otherwise (prooved by time). The default should include **everything** we need (e.g. docker container name resolution (mounting socket), docker container network iface monitoring (host pid mode, SYS_ADMIN)) and add a note (make it warning if you want) - X needed for Y, remove if you have security concerns.

Providing default with broken dock

[2022-09-20 12:45] Ferroin commented on #567
@ilyam8 I contend that most of the reason users keep running into this problem is mostly that we do not make it clear that there is an issue at all.

I generally agree that it’s a bit strange that we don’t provide full functionality with the default suggestion, but I would argue it’s even stranger (and far more concerning) for us to provide a default that completely circumvents any protections pro

[2022-09-20 13:04] hugovalente-pm commented on #567
@AlexNti after the chat with @Ferroin let's review the structure for Docker and Kubernetes
I've done the suggested changes on here https://docs.google.com/spreadsheets/d/1qTZpItEVta3a0loqfiva0J4W4l2FOVrH53pHE9wRQgc/edit#gid=0

[2022-09-20 13:48] ilyam8 commented on #567
@Ferroin my point is what you are suggesting sounds correct in theory but completely fails in practice (assuming the goal is to have docker Netdata with ~ exp to Netdata installed on the host). I personally have a hard time adding everything I need to start Netdata docker container with full capabilities. I need to copy one thing, jump here and there and copy some parts, don't miss anything, and d

[2022-09-20 14:20] hugovalente-pm commented on #567
probably we should deal with that on another ticket? the scope was to add the Docker Swarm part and some notes.

what we are doing here doesn't contradict a future iteration, meaning that users that don't want the full pre-setup configuration still need those "Notes:" callout to know what do to if they need

idea is to not further disrupt the work already being done and already deliver some value

[2022-09-21 09:16] MrZammler opened #587 "[Bug]: Alert events raised right before agent shutdown will be missed on the cloud"
### Bug description

There is a case, where alert events that are created right before the agent shutdown and didn't have time to be sent to the cloud, to be lost when the agent sends it eventually after the restart. We dug and confirmed the case with @car12o (thanks!!!) in which particular case a CLEAR event was not consumed by the cloud, leaving the alert in a WARNING state.

The problem is that

[2022-09-21 10:20] dimko opened #588 "[Bug]: Agent not registered as visited node when user isn't logged in Netdata Cloud"
### Bug description

After user navigates from agent dashboard to Netdata Cloud when he isn't yet a member of Netdata Cloud, agent isn't registered as a visited node.

Going back to Agent's dashboard and re-visiting the cloud while signed in, adds the node to the visited nodes list.

### Expected behavior

When a user visits cloud coming from agent dashboard, node should register in cloud and be p

[2022-09-21 12:10] andrewm4894 opened #589 "[Bug]: add data-track or data-ga to MC chart button"
### Bug description

We need to add a `data-ga=metrics-correlation::click-metric-correlations-chart` or `data-track=metrics-correlation::click-metric-correlations-chart` to this button

![image](https://user-images.githubusercontent.com/2178292/191500032-da8736cd-6a7a-4183-9e09-2febc34d1b82.png)

### Expected behavior

It used to have such a data attribute

### Steps to reproduce

1.

### Screensh

[2022-09-21 15:57] MrZammler opened #590 "[Bug]: Info field in alerts changes after a few seconds"
### Bug description

The info field for alerts from the agent contains variables, that are replaced with text to be presented on alerts, etc.

On the cloud when clicking on an alert, on the popup, the info field appears ok (with replaced variables), but after a few seconds it goes back to it's initial format (with variables placeholders).

i.e. when clicking initially:

![image](https://user-image

[2022-09-21 16:09] hugovalente-pm commented on #438
closing this since it seems to have been fixed with the refactoring

[2022-09-21 20:41] jonknud commented on #510
This can be closed. It is working now.

[2022-09-21 20:41] #510 closed

[2022-09-22 08:50] hugovalente-pm commented on #587
@MrZammler @car12o this actually seems a detail on this bug https://github.com/netdata/netdata-cloud/issues/330 and do you think this https://github.com/netdata/cloud-backend/issues/353 will also solve it?

[2022-09-22 12:42] MrZammler commented on #587
Yes, the new way should solve this as well. However, it's good to pick up and fix cases like that so that we do as less snapshots as possible.

[2022-09-22 14:04] UltimateByte opened #591 "[Bug]: Uncomprehensible behavior when working with nodes and streaming"
### Bug description

Hello,

It would appear that the behavior of app.netdata.cloud when a parent node is down or malfunctioning makes everything stall and malfunction.
I might totally be misusing or misunderstanding Netdata here, trying to setup data replication on parents. But right now, it seems to me that it doesn't behave as it should.

Though nodes are replicated on a parent, if a parent goe

[2022-09-22 16:45] ralphm opened #592 "[Feat]: Include node metadata upon claiming"
### Problem

The Agent should pass, and Cloud should accept, more meta data on the host being claimed.

### Description

When an Agent is claimed, but never succeeds in connecting to Cloud, the only information we have upon claiming is the host/node name. Additional useful information for debugging these cases includes:

- The Agent version.
- OS information, including kernel version.

### Importa

[2022-09-22 16:57] underhood commented on #592
Related agent ticket https://github.com/netdata/netdata/issues/13705

[2022-09-22 16:58] ralphm opened #593 "[Feat]: API endpoint for reporting Agent start up failures"
### Problem

Agents can silently fail to connect after claiming. Let's have the Agent report back on what happened.

### Description

If an Agent fails to connect to Cloud, while claiming succeeded, having the Agent report back on start up failures would be useful for debugging. Particularly failures after authentication are invisible to Cloud at the moment.

### Importance

really want

### Value

[2022-09-23 09:14] hugovalente-pm commented on #591
@UltimateByte thanks for raising this to our attention and sorry that you're having a hard time understanding things and/or having a bad experience.

we are trying to investigate your setup but if you could provide us with you spaceID as well it would be awesome - you can share it with be through e-mail if you prefer hugo@netdata.cloud

while we are investigating things let me try to sum-up some o

[2022-09-23 09:42] hugovalente-pm opened #594 "[Bug]: When checking the Space setting on Info tab can't copy space ID"
### Bug description

When visiting the space settings on Info tab it isn't possible to select the space ID to copy it

![image](https://user-images.githubusercontent.com/82235632/191933863-076345be-58ea-498f-b1bf-2e5df0cb9451.png)

### Expected behavior

We should allow the users to select and copy and/or have a button to automatically copy (like in our add nodes commands)
![image](https://user-im

[2022-09-23 09:44] hugovalente-pm commented on #594
A user was commeting

[2022-09-23 09:46] UltimateByte commented on #591
Hello @hugovalente-pm , thanks for answering!
I've sent you instance details by email.

1. Well that is what I would expect. But fallback didn't seem to work properly in my case.
2. What is supposed to happen if a parent is also a child for another parent? Here it seems like it tried to copy all instances from saved into parent A to parent B, and that's when it started malfunctionning
3. It appear

[2022-09-23 10:13] hugovalente-pm commented on #591
could you explain a bit in more detail the setup that you are trying to do? is it just one parent and multiple children?
there are docs that could help on multiple setups:
* https://learn.netdata.cloud/docs/metrics-storage-management/reference-streaming#examples --> with sample configurations
* https://learn.netdata.cloud/docs/agent/streaming#supported-configurations --> list of supported configur

[2022-09-23 12:47] UltimateByte commented on #591
So here is my full setup:

17 servers, including 3 bare-metal and 14 VMs all with Netdata installed.
This includes :
- 2 bare metal web servers under Plesk (let's call them "web" and "cloud")
- 2 KVM VMs on "cloud" bare metal (one for an app, the other one for game servers)
- 1 NAS under OpenMediaVault (hosting multiple VMs)
- 7 KVM VMs on NAS are the following: Backup VM, Game server VM, second G

[2022-09-23 14:34] ced1check opened #595 "[Bug]: can't monitor haproxy 2.4.18"
### Bug description

I've followed those 2 guides:
https://learn.netdata.cloud/docs/agent/collectors/go.d.plugin/modules/haproxy
https://learn.netdata.cloud/docs/agent/collectors/python.d.plugin/haproxy

The later mentions using socket, but no matter what I do in debugging the issue it never uses the socket parameter.

The first uses an http URL which I've configured in haproxy and reports stats u

[2022-09-23 15:10] hugovalente-pm commented on #591
@UltimateByte thanks for all the details, was running this internally and the best setup for your scenario - ensuring High-availability on your monitoring - seems to be having all your monitoring nodes streaming to two parent nodes - one seems to be the "moon" and not sure the other should be the "webmin" or another parent

something like this
[code]

in a setup like this you don't need to claim e

[2022-09-24 13:57] UltimateByte commented on #591
I believe this schematics is exactly what I tried out actually. But I'm afraid Parent A replicating on Parent B, and parent B replicating also on parent A at the same time is precisely what caused all my issues in the first place. So I will definitely not try this exact same setup again, as it forced me to reinstall everything from zero, which is a pain when working with a good dozen of servers. 😅

[2022-09-25 06:21] juacker opened #596 "[Bug]: Error fetching charts due to invalid encoded chart IDs"
### Bug description

We've detected, for some specific node IDs, that the coud is returning a 500 error on the single node charts endpoint:

The problem is that the cloud cannot decode the response received from the agent.

When the cloud requests charts to the agent through `/api/v1/charts`, we're receiving these kind of `charts` entries:

[code]

The chart ID field is not properly encoded (`\E`

[2022-09-25 06:22] juacker commented on #596
cc: @ktsaou @stelfrag

[2022-09-26 07:02] novykh commented on #571
For the legend we are using the `dimension_ids` attribute in `/data` payload, which is the sorting we are showing as default. Can we fix that being consistent with the sorting needed?

[2022-09-26 07:08] novykh commented on #590
This is the response coming from the active alerts.

![Image](https://user-images.githubusercontent.com/601483/192214248-c930d186-8683-4289-99c4-dcf0b93d1243.png)

[2022-09-26 07:12] shyamvalsan commented on #571
@hugovalente-pm @novykh is this ^ something the BE decides or does it come all the way from agent?

[2022-09-26 07:22] novykh commented on #571
I'd say from agent..
The inconsistency is on those attributes (`dimension_ids`, `dimension_names`) and on the `/charts` payload on a single node view, where we get the dimensions as an `object`. I'd suggest to fix all of those for future reference.

[2022-09-26 07:23] shyamvalsan commented on #571
Over to you @ilyam8

[2022-09-26 07:24] novykh commented on #571
Also, another possible issue, is that we are getting all the dimensions on the overview, whereas on the single node we are getting only the dimensions with value.

[2022-09-26 07:39] novykh commented on #571
@ilyam8 inconsistency with the sorting we mean. `all_dimensions` and `result.labels` have different sorting from `dimension_ids/names`.

[2022-09-26 08:14] MrZammler commented on #590
Thanks @novykh ! We'll check with @car12o to see how it's built.

[2022-09-26 08:21] hugovalente-pm commented on #596
moving to `netdata/netdata`

[2022-09-26 08:22] hugovalente-pm commented on #595
thanks for reporting this @ced1check , transferring it to `netdata/netdata`

[2022-09-26 08:30] hugovalente-pm commented on #591
@UltimateByte we will be doing the two setups that you mention to try to understand what/where the issues are.

Yes, since the children would be replicated on two nodes (having the expected redundancy) it should be ok.

I'll have:
A "moon" being a parent for everything but "pluto"
B "pluto" (a new local server) being a parent for everything but "moon"

With this new setup I don't think the expecte

[2022-09-26 09:05] UltimateByte commented on #591
Thank you for your time and support.
Hopefully you will be able to reproduce the issue.

So setting two destinations to stream to only uses the first one and the second is just a failover. Good to know.

It would appear having local storage on each node and one replication might be sufficient for me. If "moon" goes down I can still check nodes individually (and possibly I hope from within the app.

[2022-09-26 12:50] hugovalente-pm commented on #591
some feedback on our initial tests, we still want to run with a bigger number of nodes, for now we tested with:
* 4 children
* 2 parents (parent A and parent B)

the setups:
1. Chain of streaming: children --> parent --> grandparent
   1. 4 children streaming to parent A
   2. parent A streaming to parent B
3. High-availability setup: this is what we call active-active parents this one https://git

[2022-09-27 09:40] #587 closed

[2022-09-27 11:10] car12o commented on #590
The information to show on the drawer should not come from that endpoint but rather from `/api/v2/spaces/{spaceID}/rooms/{roomID}/alarms/{alarm}/nodes/{nodeID}/charts/{chart}`, both data should not be mixed. Anyway, I will update the `alarms-active` endpoint to use the parsed values for the placeholders.

[2022-09-27 14:38] hugovalente-pm opened #597 "[Bug]: When streaming is disabled on a parent node children charts aren't available on Nodes tab"
### Bug description

When you are streaming data from X number of child nodes to a parent node if you disable streaming on the parent the Nodes tab will not show any charts for the child nodes.

Note: If you stop the parent node, and the children are connected to Cloud directly, you will be able to see the charts

### Expected behavior

Children charts should still be available on Nodes tab even t

[2022-09-27 15:09] hugovalente-pm commented on #591
this bug was opened and the issue identified, a fix is being applied to it -https://github.com/netdata/netdata-cloud/issues/597

[2022-09-27 15:31] dimko commented on #499
This is fixed. Closing

[2022-09-27 15:31] #499 closed

[2022-09-27 15:32] hugovalente-pm opened #598 "[Bug]: When streaming is disabled on a parent node and it no longer has child nodes it is still shown as a parent"
### Bug description

When you are streaming data from X number of child nodes to a parent node if you disable streaming on the parent this node is still visible on Netdata Cloud as a parent node (e.g. Home tab)

**Before disabling the streaming on the parent**

* Local Agent dashboard of parent
   <image src="https://user-images.githubusercontent.com/82235632/192638419-04457b8b-4121-4ebf-a236-cd6d

[2022-09-27 15:34] hugovalente-pm commented on #591
this bug was opened but still issue isn't identified  - https://github.com/netdata/netdata-cloud/issues/598

[2022-09-27 15:50] UltimateByte commented on #591
Awesome, thanks @hugovalente-pm
I believe this covers a great part of the issues I discovered.

[2022-09-27 15:52] juacker commented on #597
fix deployed

[2022-09-27 15:52] #597 closed

[2022-09-27 21:41] hugovalente-pm commented on #598
this is to be confirmed since when getting the evidence the results are what seems to be expected with the exception of the Replication factor counters on the home tab

![image](https://user-images.githubusercontent.com/82235632/192641001-df342916-5ed2-4bd0-99ca-e01e9152477c.png)

[2022-09-28 10:37] hugovalente-pm commented on #590
@novykh I see that this is fixed, should a tech debt task be created to do as per @car12o suggestion?

[2022-09-28 10:37] #590 closed

[2022-09-28 10:46] hugovalente-pm commented on #598
this is confirmed, I wasn't able to reproduce it because docker was using an older version `"version": "v1.35.0-219-nightly"`.
the introducing of this seems to have caused this issue - https://github.com/netdata/netdata/pull/12650

[2022-09-28 10:49] hugovalente-pm commented on #598
as discussed on slack on a conversation with @dimko @juacker @MrZammler, we need to check with the cloud what happens when streaming stops. A message NodeConnectionUpdate should go out that would notify Cloud to update the information on its end

@juacker @MrZammler can we further check this?

[2022-09-28 10:50] hugovalente-pm commented on #586
this is fixed

[2022-09-28 10:50] #586 closed

[2022-09-29 08:16] dimko commented on #465
So the initial issue has been fixed. There is side effect to all these when a new chart is added to the list of existing charts in the ToC sidebar making some menus unclickable. Closing this and opening a new one to track it.

[2022-09-29 08:16] #465 closed

[2022-09-29 08:23] dimko opened #599 "[Bug]: Random chart clicked when new Chart is added in charts table of contents"
### Bug description

When a new chart is synced to cloud and added in the list of available charts there are cases where this or other charts cannot be selected by the user and random menus and submenus will receive the click. A full page refresh solves the issue.

### Expected behavior

Chart clicked should be the one selected and shown to the user

### Steps to reproduce

1. Claim a new agent to

[2022-09-29 09:41] dimko opened #600 "[Bug]: Parent/Child and Replication counters in Home tab are out of sync"
### Bug description

Parent/Child counters in Home tab aren't in sync. Child nodes are shown as parents.
Different values are reported than the ones in replication factors.

**It fixes itself after a while, but it's becoming confusing for users.**

### Expected behavior

Parent nodes and children nodes counters should be correct, describing how many agents are streaming through others and be in sy

[2022-09-29 09:42] dimko commented on #591
This is the issue for the invalid counters in Home tab. Frontend team will handle it https://github.com/netdata/netdata-cloud/issues/600

[2022-09-29 09:43] dimko commented on #600
@netdata/cloud-fe ping me when you start this to help you with the setup. It's a tricky one

[2022-09-29 09:50] UltimateByte commented on #600
Not exactly the same, but might be related to #598 as well.

[2022-09-29 12:59] hugovalente-pm commented on #481
this still seems to be happening
![image](https://user-images.githubusercontent.com/82235632/193037898-35c5aae1-ef73-4dbe-b123-d50fb505c16c.png)

https://app.netdata.cloud/spaces/netdata-cloud/rooms/k8s-prd/overview#chartName=menu_prometheus_traefik_submenu_traefik_service&after=1664396039000&before=1664439238000&utc=Europe%2FAthens&offset=%2B3&timezoneName=E.%20Europe&metrics_correlation=true&app

[2022-09-29 13:53] juacker commented on #598
As a follow up of our previous discussion, the cloud identifies a parent  (regarding the overview stats info) looking directly into the `_is_parent` attribute received in the `UpdateNodeInfo` msg.

[2022-09-30 08:46] hugovalente-pm commented on #351
I think this bug can be closed, this was raised for discussion and we identified that we have a short-term solution described here with https://github.com/netdata/netdata-cloud/issues/550 and the long-term solution is the  https://github.com/netdata/netdata-cloud/issues/354

[2022-09-30 08:46] #351 closed

[2022-09-30 09:12] dimko commented on #600
So this is directly related to https://github.com/netdata/netdata-cloud/issues/598 The response from backend is incorrect messing up the counters.

`"nodes_stats":{"online":4,"stale":0,"offline":0,"parent":3,"child":1`

vs

`"replication_factor":{"r_1":1,"r_2":3,"r_*":0}},`

The full response below:

Moving issue to backend team

[2022-09-30 11:24] hugovalente-pm commented on #558
after a meeting with @amalkov and @novykh it was agreed to speed this and iterate fast these should be moved to the info section of the chart

![image](https://user-images.githubusercontent.com/82235632/193259358-22307437-4484-4e8b-b579-d448629a5266.png)

@cakrit maybe we will need to prepare an engagement for existing users to let them know this is to be changed and for new users where they can f

[2022-09-30 14:59] hugovalente-pm commented on #527
an update, an initial iteration of this has been delivered but only for the demo environments.

this ticket will go back to ideation since it was agreed to have the actual release of this when we have storage of the favourites on the BE.
the main questions around this are:
* Will the favourites be maintained at:
   * Space/Room level where all users with access to that will see the same favourites

[2022-09-30 15:02] sashwathn commented on #527
@hugovalente-pm From my perspective the favourites should always be a user specific customisation and may be we can have an additional capability for an admin user to set default favourites for all users - alterable by the users.

Suggestions on favourites per room / space can be a tricky thing especially since we do not have the services concept - but may be worth evaluating.

[2022-10-01 15:58] amalkov commented on #527
I agree, in general, user specific only. War room level only for use cases scenario

[2022-10-01 17:34] shyamvalsan commented on #527
Admins should be able to set favorites at room and/or space level imo.

Also, how will we make users aware about this functionality once it exists. Expecting them to discover it on their own may not be the best strategy. Is there a gainsight engagement we could pair this with?

p.s: along the lines of what @hugovalente-pm was suggesting with "suggestions" it might be useful if on enabling a new co

[2022-10-03 09:40] hugovalente-pm commented on #575
This is completed

[2022-10-03 09:40] #575 closed

[2022-10-03 12:20] #594 closed

[2022-10-03 12:25] #599 closed

[2022-10-03 14:34] andrewm4894 commented on #580
just checked and this seems worse now - only a handful of charts look to be filtered properly in the results from a few examples i ran.

[2022-10-03 14:37] novykh commented on #594
Fixed on develop

[2022-10-03 15:51] andrewm4894 commented on #580
@novykh or @jacekkolasa any chance looking at this this week?

[2022-10-03 18:37] cakrit opened #601 "[Feat]: Tiering Calculator"
### Problem

Many users still think that Netdata is limited in how long it stores data. With the implementation of tiering, this issue was resolved, but we never provided an easy way for users to configure their Netdata instances to achieve their desired retention.

### Description

Provide inside Netdata Cloud a way for users to understand and extend their database retention, via some info on the

[2022-10-04 06:51] #498 closed

[2022-10-04 09:46] hugovalente-pm opened #602 "Expose functions for querying more information about specific charts"
## Goal

We want to provide a way for users to run specific functions that allow querying more information about specific charts.
The first POC on this is around the `apps.plugin` and getting details on running processes.

### Requirements

This new area is to be made available on a new tab called **Functions**. Users will need to be able to select Node and the function they want to execute to the

[2022-10-04 10:20] dimko opened #603 "[Bug]: Custom Dashboards displayed at the bottom of the screen"
### Bug description

Created custom dashboards and dashboard headers are displayed at the bottom of the screen in the Dashboards tab

### Expected behavior

Headers and newly created dashboards should be displayed at the top of the screen instead of the bottom

### Steps to reproduce

1. Navigate to custom dashboards tab
2. Check Dashboard name | Last modifiedDate | Created  headers which are plac

[2022-10-04 14:15] cakrit opened #604 "[Feat]: HTTPCheck should be grouped by _collect_job and have by default in the overview and have line charts"
### Problem

Group by dimension is essentially useless for these two collectors, as each job monitors a completely different thing.
Adding latencies of two different http calls doesn't help, so line charts are preferrable.

### Description

Set the default group by to `_collect_job`.
Set the chart types to line.

### Importance

must have

### Value proposition

- Httpcheck is a very valuable coll

[2022-10-04 15:51] dimko opened #605 "[Bug]: Alert value displayed with extra digits and without units"
### Bug description

When user clicks to visit single node view for a specific chart id for an active alert, alert units aren't displayed inside the alert highlight for the chart and alarm value is displayed with extra digits.

### Expected behavior

Alarm values should be consistent everywhere and contain units

### Steps to reproduce

1. Trigger an alert
2. Navigate to Alerts tab
3. Click **Char

[2022-10-04 16:10] cakrit commented on #604
Also, please for the `status` chart, have the dimension `success` selected by default:

<img width="1238" alt="image" src="https://user-images.githubusercontent.com/43294513/193870473-183fac67-419c-437d-8cf3-310ee837bc95.png">

[2022-10-05 10:49] marck1980 opened #606 "[Bug]: /api/v2/spaces/{spaceID}/alarms doesn't return appropriate response for anonymous user"
### Bug description

When a request is made to the /api/v2/spaces/{spaceID}/alarms endpoint with the space made public by an anonymous user the response we get back is not the response that is expected. The answer we get back is {"results":null}
EDIT: Same behaviour is true for authenticated user that is not a member of the space and the space is public

### Expected behavior

The endpoint should

[2022-10-05 13:51] cakrit opened #607 "[Bug]: Dashboards table appears at the end of the screen when no dashboards exist"
### Bug description

Empty table headers appear at the bottom instead of at the top.

### Expected behavior

The screen should probably show a CTA for a user to add their first dashboard.

### Steps to reproduce

Create new room and click on the dashboards tab.

### Screenshots

<img width="948" alt="image" src="https://user-images.githubusercontent.com/43294513/194076926-f65a9469-cf63-4e72-8abf-4

[2022-10-05 17:01] cakrit opened #608 "[Bug]: Area chart showing only one of the two areas"
### Bug description

Below you see two dimensions that are supposed to have a value of 5 each, but only one is properly drawn in the area chart. Dunno what happened to the other:

<img width="638" alt="image" src="https://user-images.githubusercontent.com/43294513/194118655-7f397d41-84d1-4e32-804f-5107115bd9b4.png">

### Expected behavior

-

### Steps to reproduce

Set up fping and try it? I'll p

[2022-10-06 07:58] #588 closed

[2022-10-06 07:58] #341 closed

[2022-10-06 08:14] jacekkolasa commented on #434
@hugovalente-pm, cc @amalkov @ralphm please confirm if this behaviour is ok for Nodes filter:

1. On Global Nodes filter user selected node1 and node2
2. On chart filter we see all nodes in the dropdown, with node1 and node2 preselected
3. Order of the nodes is the same in local filter as in global filter, ie. selected nodes do NOT move to the top (we order filters differently in alerts, where sel

[2022-10-06 08:25] ralphm commented on #434
I kind of expected the list of nodes presented are the ones selected in the global filter only. Mainly because when we have more filter options in the global filter (e.g. on labels), things would be more predicable that way.

That said, your approach also has merit, and maybe we should just try it first.