[2020-11-20 11:14] manos-saratsis opened #3 "Incorrect reachability status"
**Describe the bug**
Sometimes in Cloud the reachability status is not correct:
- the node appears reachable when is not
- the node appears unreachable when is reachable

**To Reproduce**
Steps to reproduce the behavior:	No clear steps to reproduce

**Expected behavior**
The reachability status of the nodes should always be correct

**Screenshots**

Incorrect reachable status
![incorect_reachable_

[2020-11-20 11:22] manos-saratsis opened #4 "Incorrect active alarms in Cloud"
**Describe the bug**
Sometimes alarms are Incorrectly show as active while on the agent itself the alarm is cleared. Most of the times these alarms were triggered initially days before.

**To Reproduce**
Steps to reproduce the behavior:	Not always reproducible

**Expected behavior**
Active alarms for nodes on Netdata Cloud should be the identical  to the ones on the respective connected agents.

#

[2020-11-20 11:27] manos-saratsis opened #5 "Metric correlations are often slow"
**Describe the bug**
When running metric correlations sometimes it takes a very long time to get the results. Some other times requests time out.

**To Reproduce**
Steps to reproduce the behavior:	Go to a single node view -> Click "Metric Correlations" -> Select an area of interest in a chart -> Click "Find Correlations". Not always reproducible

**Expected behavior**
Metric correlations should sh

[2020-11-20 11:42] manos-saratsis opened #6 "Deleted software or hardware resources from nodes still remain on Cloud"
**Describe the bug**
On nodes table

**To Reproduce**
Steps to reproduce the behavior:	Go to "Nodes table" -> Remove an [instance or family(software or hardware resources)](https://learn.netdata.cloud/docs/agent/web#families) from a claimed agent -> Restart the agent -> See the sparklines in the node view

**Expected behavior**
Deleted software or hardware resources from nodes should be removed fr

[2020-11-20 11:57] manos-saratsis opened #7 "Agent user is signed-in but the Spaces and War Rooms are missing from the left bar and panel"
**Describe the bug**
Agent user is signed-in but the Spaces and War Rooms are missing from the left bar and panel

**To Reproduce**
Steps to reproduce the behavior:	Not always reproducible

**Expected behavior**
The user is expected to see the left bar and panel populated with the available Spaces and War Rooms after being signed-in

**Screenshots**
![no_spaces_left_panel](https://user-images.gith

[2020-11-20 12:02] manos-saratsis opened #8 "A pinned & minimized dashboard does not get updated when adding charts from other views"
**Describe the bug**
Pinned&minimized dashboard does not get updated when adding charts from views other than the dashboard itself.

**To Reproduce**
Steps to reproduce the behavior:	Go to single node, add a chart in a dashboard while the dashboard is pinned&minimized. The dashboard does not get updated

**Expected behavior**
Pinned & minimized dashboards should be automatically updated after addi

[2020-11-20 12:07] manos-saratsis opened #9 "Drag and drop a card out of the window in a dashboard"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:	Drag a card out of the dashboard. https://www.youtube.com/watch?v=VtAZu_sFoQ4&feature=youtu.be&ab_channel=max232

**Expected behavior**
The user should be able to see the card which goes out

[2020-11-20 12:15] manos-saratsis opened #10 "Management screen shows wrongly 0 nodes & 0 users for some War Rooms"
**Describe the bug**
The Manage Space screen does not show the right number of users and nodes of the War Rooms

**To Reproduce**
Steps to reproduce the behavior:	-

**Expected behavior**
The right number of users and nodes in a War Room should be shown

**Screenshots**
![wrong_#users_#nodes](https://user-images.githubusercontent.com/19746055/99799016-46232680-2b32-11eb-9bc2-84f190c07981.png)

[2020-11-20 15:28] dim08 opened #11 "Randomly changing chart background in Netdata cloud [BUG]"
**Describe the bug**
- While scrolling up/down in the Netdata cloud node view, the background of some charts is changing randomly.

**To Reproduce**
Steps to reproduce the behavior:
- go to metric correlations
- select a window
- scroll up/down

**Screenshots**
![image](https://user-images.githubusercontent.com/60917629/99817437-95c71980-2b55-11eb-9cca-76aee73f4b7e.png)

**Desktop (please complete

[2020-11-20 17:02] cakrit opened #12 "[BUG] Width of most screens not resizing properly"
**Describe the bug**
System overview, node view, overview screens don't resize when we reduce the available width.

**To Reproduce**
Make the window smaller, or hit F12 with the console appearing on the right side.

**Expected behavior**
Resize the main contents of the screen

**Screenshots**
![image](https://user-images.githubusercontent.com/43294513/99827665-c9328580-2b0e-11eb-8417-a0280221940d.

[2020-11-20 17:09] joelhans opened #13 "[BUG] Charts in new dashboard resize on hover"
**Describe the bug**

When I build a new dashboard in Netdata Cloud, the charts seem to auto-resize on hover, which makes interacting with them quite difficult, and then reduces their height, which gives less precise metrics. I only see this happen in Firefox.

**To Reproduce**
Steps to reproduce the behavior:

- Create a new dashboard
- Add one or more charts to the dashboard
- Hover over the cha

[2020-11-20 17:14] cakrit opened #14 "[BUG] Charts shown on top of the same chart when switching tabs"
**Describe the bug**
When switching tabs, charts appear on top of other charts

**To Reproduce**
Switch tabs often enough, at some point it will appear

**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/43294513/99829038-a3a67b80-2b10-11eb-981b-f81beea6199d.png)

**Error logs**

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Br

[2020-11-20 19:28] harrisbz commented on #3
Indeed there is an edge case that could cause the system to report this false-positive reachability. 🙁

A quick fix would be to **restart** the Netdata agent. Unfortunately, if this was an **ephemeral** agent then there is nothing that you can do at the moment.

Having said that, the team is currently working on both **preventing** this behaviour, as well as in the ability to **permanently remove*

[2020-11-20 19:37] harrisbz commented on #4
We have identified some **inconsistencies** between the agent's and the cloud's alarms.

You could try **restarting** the agent, but this isn't a guaranteed way of mitigating this issue.

The team is currently implementing a more **robust solution** that most probably will fix these inconsistencies once and for all.

[2020-11-20 20:01] cakrit opened #15 "[BUG] By node overview chart broke when zooming in"
**Describe the bug**
Zoomed into an "overview" chart that was "by node" and the chart stopped working due to invalid `data` calls

**To Reproduce**
Zoom In/Out and see if "after" is always an integer, or if there's a chance of it becoming a float.

**Expected behavior**
Zooming in/out doesn't break the chart

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](htt

[2020-11-20 21:35] luisj1983 opened #16 "[BUG] cloud not reflecting local agent alarm status"
**Describe the bug**
Alarm is showing for lowest_entropy in Netdata cloud but there is no alarm on the local node's web UI and there should be no alarm since I have disabled the entropy plugin.
The alarm is now 5 hours old.

**To Reproduce**
Agent v1.26.0-222-nightly
Trigger alarm for lowest_entropy.
Set "/proc/sys/kernel/random/entropy_avail = no" in "/etc/netdata/netdata.conf"
Restart agent.
Opt

[2020-11-20 21:39] luisj1983 commented on #16
oops, sorry looks like a Duplicate of #4
Anything you guys need from me?

[2020-11-23 07:42] jurgenhaas opened #17 "[BUG] Old alarms sometimes showing in the cloud"
Sometimes, alarms don't reset in the cloud, even if we restart the agent. Here you can see the effect with the dashboard in cloud:

![Screenshot from 2020-11-23 08-38-56](https://user-images.githubusercontent.com/1475675/99938254-b4046380-2d67-11eb-9412-da51128c638a.png)

At the same time, the alarms grabbed through the CLI are empty, which is the correct situation:

![Screenshot from 2020-11-23 0

[2020-11-23 18:14] manos-saratsis commented on #17
@jurgenhaas thx for sharing but I close it as a duplicate with the https://github.com/netdata/netdata-cloud/issues/4

[2020-11-23 18:14] #17 closed

[2020-11-23 18:15] manos-saratsis commented on #16
@luisj1983 thx for sharing. Closing this due to the duplicate https://github.com/netdata/netdata-cloud/issues/4

[2020-11-23 18:15] #16 closed

[2020-11-23 19:21] manos-saratsis opened #18 "[BUG] In overview with changing grouping the sane defaults are not kept"
**Describe the bug**
In overview with changing grouping the sane defaults are not kept

**To Reproduce**
Steps to reproduce the behavior:	In Overview -> click "by node" on a chart -> then select a single dimension/node from the bottom of the chart -> switch to "by dimension". Sometimes the chart is empty.

**Expected behavior**
The default configuration for the selected grouping needs to be applie

[2020-11-23 20:13] manos-saratsis opened #19 "[BUG]In Overview group by node, select a node below the chart, switch grouping and the chart will be empty"
**Describe the bug**
[BUG]In Overview group by node, select a node below the chart, switch grouping and the chart will be empty

**To Reproduce**
Steps to reproduce the behavior:	see above

**Expected behavior**
The chart should have sane defaults for each grouping selection

**Screenshots**
<img width="1435" alt="Screen Shot 2020-11-23 at 8 54 27 PM" src="https://user-images.githubusercontent.com

[2020-11-24 12:02] manos-saratsis opened #20 "[BUG] Admin cannot create a new bookmark"
**Describe the bug**
A space admin cannot create a bookmark in Cloud due to a server error

**To Reproduce**
Steps to reproduce the behavior:	As an admin, go to the left panel, click on bookmarks, add new bookmarks

**Expected behavior**
A new bookmark should have been added to the list

**Screenshots**
<img width="1427" alt="Screen Shot 2020-11-24 at 10 42 31 AM" src="https://user-images.githubus

[2020-11-24 12:05] manos-saratsis opened #21 "[BUG] War Room alarm belt does not show the War Room active alarm state"
**Describe the bug**
War Room alarm belt does not show the War Room active alarm state
**To Reproduce**
Steps to reproduce the behavior:	Within the War Room with active alarms, see the alarm bell

**Expected behavior**
If the War Room has active alarms, the bell icon should be showing the War Room alarm status with a yellow and a red dot.

**Screenshots**
In this case the warning is missing
<img w

[2020-11-24 14:10] #15 closed

[2020-11-24 14:11] jacekkolasa commented on #15
fix is in production

[2020-11-25 14:47] luisj1983 commented on #3
OK, I have this issue and there is also what looks like a gap in my historical data.
This may have been since I changed the "dbengine multihost disk space" from '256' to '1200'.
I've restarted agents etc but still some nodes aren't appearing.
Tell me what you need from me.

[2020-11-25 16:13] apostolidhs commented on #14
I have tried it many times and I cannot reproduce the behavior. I am on Macbook. Can someone take a look on windows environment?

[2020-11-25 22:15] manos-saratsis commented on #14
@cakrit do we have concrete steps to reproduce or is it shown only from time to time?

[2020-11-30 20:34] manos-saratsis opened #22 "[BUG] Delete space - Modal color issue with dark theme"
**Describe the bug**
When a user is trying to delete a space with dark mode, cannot easily read the text. Also empty spaces are wrong.

**To Reproduce**
Steps to reproduce the behavior:	 Manage Space->Delete Space

**Expected behavior**
The user should be able to easily read the text.

**Screenshots**
<img width="1434" alt="Screen Shot 2020-11-30 at 9 31 59 PM" src="https://user-images.githubuserc

[2020-12-01 15:39] OdysLam opened #23 "[BUG] [... More] button in sidepanel is clickable only on text"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

Login to app.netdata.cloud and click on more in the sidepanel

**Expected behavior**
A clear and concise description of what you expected to happen.

The button should be clickable either by clicking on the space at the right or on the text. The rest of the options function

[2020-12-03 14:12] cakrit opened #24 "[BUG] Going to a chart from an alarm returns no data"
- Look at an alarm
- Open menu and click on "Go to chart"
- Charts appear empty

Reload fixes it, perhaps by adding more parameters to the URL

![image](https://user-images.githubusercontent.com/43294513/101030887-4c4fd480-352e-11eb-8e99-2309a3e3e459.png)

![image](https://user-images.githubusercontent.com/43294513/101031086-5a9df080-352e-11eb-8a97-4a9626384724.png)

After reload:
![image](https:/

[2020-12-03 14:51] cakrit opened #25 "[BUG] Grouping issues in the Overview screen"
![image](https://user-images.githubusercontent.com/43294513/101043795-8a9bc280-3533-11eb-94b8-5d56e3ccb7d2.png)

We have a few problems with the groupings shown above in the overview screen:

- "group" should be renamed to "cgroups"
- "cgroups" are missing the cgroup network interfaces. e.g. see the following container, it has a "net eth0"
![image](https://user-images.githubusercontent.com/4329451

[2020-12-03 15:24] manos-saratsis opened #26 "[BUG]Alarm info - Calculation/DB lookup sometimes missing"
**Describe the bug**
Under alarm info sometimes the Calculation or the DB lookup sometimes is missing.
All active alarms should show either the Calculation or DB lookup.
It might well be that this happens because some alarms have DB lookup and not Calculation.

**To Reproduce**
Steps to reproduce the behavior:	Go to an active alarm -> click on the 3-dot menu -> click on Alarm Info

**Expected beha

[2020-12-03 17:26] manos-saratsis opened #27 "[BUG]On some composite charts the horizontal axis is jumping 2 mins within secs"
**Describe the bug**
[BUG]On some composite charts the horizontal axis is jumping minutes, charts change shape and the users cannot follow. Also the resolution changes

**To Reproduce**
Steps to reproduce the behavior:	Go to Overview -> Disks -> disk.io chart

**Expected behavior**
The horizontal axis should maintain a set timeframe specified by the date & time picker

**Screenshots**
See video
[S

[2020-12-03 20:15] cakrit opened #28 "[BUG] When we get a lot of server errors, the UI becomes unusable"
We need to roll multiple events into a single notification, or just stop showing them until we find a solution.

![image](https://user-images.githubusercontent.com/43294513/101082929-1bd55e00-3561-11eb-8b5d-abf0e867d0ce.png)

[2020-12-04 13:51] cakrit opened #29 "Useability improvement: Duplicate node names lead to inability to manage a room"
We use the node name as the only identifier shown on multiple screens. Of especial importance is the room nodes list, which we would normally use to remove nodes we don't want in the room.

If we continue to allow duplicate node names, we need to provide an additional identifier that allows users to distinguish between multiple entries with the same name, so they can at least remove from the room

[2020-12-04 16:45] luisj1983 commented on #3
@harrisbz  and @manos-saratsis
Any chance of getting some love for this issue? My cloud dashboard now shows ZERO nodes and so is completely useless and has been so for quite some time now.

![image](https://user-images.githubusercontent.com/67982749/101190345-23bffb80-3650-11eb-8151-cc2609116f12.png)

[2020-12-04 16:59] cakrit commented on #3
We are working on this as we speak @luisj1983 , we see it got much worse after yesterday's issues and are taking some drastic actions :)

[2020-12-04 17:18] luisj1983 commented on #3
@cakrit OK, no worries. Let me know if I can help with anything from my side! :)
Good luck!

[2020-12-07 07:50] #10 closed

[2020-12-07 07:50] #18 closed

[2020-12-07 07:50] #19 closed

[2020-12-07 07:50] #21 closed

[2020-12-07 13:49] jacekkolasa commented on #11
fixed on production

[2020-12-07 13:49] #11 closed

[2020-12-07 14:30] LM1LC3N7 opened #30 "[BUG] Regular Unreachability and reachable alerts"
**Describe the bug**
I receive a lot of emails because my node is unreachable and reachable again within minutes.

**To Reproduce**
1. Start a netdata container
2. Change config to update every 3 seconds
3. Enrol the agent to Netdata Cloud

**Expected behavior**
Node always reachable except when I stop the container.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![i

[2020-12-07 15:46] cakrit commented on #3
We got this working on Friday with a workaround, but we're still having issues and today we lost the connections again. It's top priority for us!

[2020-12-07 17:01] luisj1983 commented on #3
@cakrit OK, thanks for the update! 👍

[2020-12-07 19:01] manos-saratsis commented on #30
@LM1LC3N7 you saw these emails because we enabled early the email notification feature by mistake. Now we rolled back so no more emails. Within the next weeks we will ship the feature properly together with all controls to customize the notifications you will get. Closing this.

[2020-12-07 19:01] #30 closed

[2020-12-08 10:07] manos-saratsis commented on #28
In the Product team we need to find a better way to show errors.

[2020-12-08 14:06] jacekkolasa commented on #24
The problem here is that there is not enough long history, so the data is unavailable. I don't know what we can do in this case - perhaps we should give user additional info why it says "empty"?

You had a timeframe-reset after reload because there was a problem with timeframe persistence which is now fixed.

I think we should either add a new functionality - maybe detect if it makes sense to enab

[2020-12-08 14:22] manos-saratsis commented on #24
@jacekkolasa we can just redirect to the chart without changing the timeframe. We will need additionally a way to explain to the user that the we do not have historical data around the time the alarm became active. Cc @franklinandrade @AndyWindy

As this relates to the retention I am reducing its priority to medium.

[2020-12-08 14:33] jacekkolasa commented on #24
@manos-saratsis sure, i can check the "first_entry" and if it's bigger than alarm_date, we can prevent changing of timeframe. We can do this also in Dashboard

[2020-12-08 14:36] AndyWindy commented on #24
@manos-saratsis Do we need a design for that anyway?

[2020-12-08 15:33] manos-saratsis commented on #24
@AndyWindy yes please, we need to inform the user

[2020-12-10 13:21] manos-saratsis commented on #29
@franklinandrade let's discuss how we solve this

[2020-12-10 13:22] manos-saratsis commented on #28
After a discussion with @novykh we will do an exponential backoff. Next step is to have more detailed server errors from @netdata/cloud-be

[2020-12-14 17:18] manos-saratsis commented on #3
Reducing this priority as the state has been improved a lot

[2020-12-16 12:47] #13 closed

[2020-12-16 12:48] jacekkolasa commented on #13
the fix is in production, thanks @joelhans for submitting

[2020-12-16 12:51] jacekkolasa commented on #12
fixed with https://github.com/netdata/cloud-frontend/pull/2448 (in review right now)

[2020-12-16 12:58] jacekkolasa commented on #27
@manos-saratsis this is the expected behaviour (i've rewritten it from old dashboard) because when we have the data we don't know the y-range, we keep only displayed data all the time. There was an idea to add an option for user to set y-range as fixed, or to maintain min/max, but we would need to keep all-time min/max on Agent side.

In other words, I don't know how to fix it without breaking som

[2020-12-21 21:22] sltanalsmry960 opened #31 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Error logs**
1. Open developer devtools (e.g for [chrome](https://developers.google.com/web/tools/chrome-dev

[2020-12-22 09:55] jurgenhaas commented on #4
Is there any progress on this? Just wondering because my cloud instance show old and wrong alarms on almost every node and that turns the cloud dashboard useless unfortunately.

[2020-12-24 14:31] andrezaycev opened #32 "[BUG]"
**Describe the bug**
I Have phantom Alarm in Netdata.Cloud. Alarm is absent on web:19999
Reinstall agent not help. I think it is artifact on cloud side. Have not idea how clean it
Ready to help with additional info

**Screenshots**
![image](https://user-images.githubusercontent.com/9984761/103093973-60738700-463f-11eb-8df2-5c738d9dbd8e.png)
![image](https://user-images.githubusercontent.com/998476

[2020-12-26 23:35] ssm3e30 commented on #4
Same issues here, very old alarms I cannot clear off the dashboard for individual nodes.

[2020-12-28 10:05] stevenans9859 opened #33 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Error logs**
1. Open developer devtools (e.g for [chrome](https://developers.google.com/web/tools/chrome-dev

[2020-12-28 10:05] stevenans9859 commented on #33
Try

[2021-01-04 13:45] manos-saratsis commented on #31
@sltanalsmry960 closing this as the description is not sufficient.

[2021-01-04 13:45] #31 closed

[2021-01-04 13:46] manos-saratsis commented on #33
@stevenans9859 Please describe the issue. Closing this.

[2021-01-04 13:46] #33 closed

[2021-01-04 14:12] lvrach commented on #4
This is still a high priority for us.

We have identified 2 systems in our infrastructure that can cause messages to be lost and lead to incorrect alarm status in the cloud.

Now we are working on both fixing those systems and implement a mechanism that auto-detects and fixes such inconsistencies.

[2021-01-04 15:50] jurgenhaas commented on #4
Great news @lvrach thanks for letting us know.

[2021-01-05 15:49] manos-saratsis commented on #32
https://github.com/netdata/netdata-cloud/issues/4

[2021-01-05 15:49] #32 closed

[2021-01-11 12:36] manos-saratsis opened #34 "[BUG] Virtualisation/Containerisation technology wrongly shown on Nodes table"
**Describe the bug**
On Cloud'S Nodes table there is the wrong value ("Bare Metal") for an LXC container.

**To Reproduce**
Steps to reproduce the behavior:
See https://community.netdata.cloud/t/best-way-to-setup-netdata-in-a-proxmox-host-with-some-lxc-containers/81

**Expected behavior**
When a netdata agent it is installed on an LXC It should say LXC, not bare metal.

**Screenshots**
See https:/

[2021-01-11 16:50] TheCatLady opened #35 "[BUG] Undismissable empty alert, only on Netdata Cloud"
**Describe the bug**
I have an undismissable empty alert on my Netdata Cloud dashboard.  I believe it is from a collector I disabled (`powersupply_capacity.battery`).  It does not appear on the node's local dashboard.

**To Reproduce**
-Set up a new Netdata agent
-Immediately disable a collector that will always trigger an alert
-Claim node in Netdata Cloud
-View Netdata Cloud dashboard

**Expecte

[2021-01-12 12:54] manos-saratsis commented on #35
This is related to the agent team as the alarm should not be triggered in the first place considering that the collector is disabled.
@lvrach this is related to https://github.com/netdata/netdata-cloud/issues/4 so please consider this use case

[2021-01-12 12:58] mfundul commented on #35
Does this involve streaming? If it is a child that disables the collector then the parent still will produce notifications for this chart. Maybe related to [this](https://github.com/netdata/netdata/issues/8751#issuecomment-615947033)?

[2021-01-12 15:23] cakrit commented on #25
@jacekkolasa please speak with Ilya about this, it should be easy to fix.

[2021-01-13 09:27] lvrach commented on #35
Yes, it could be the case. If that is the case, an agent restart should fix the problem.

I am keen to believe that something else is going on here, maybe @mfundul suggestion.

We would try to reproduce it.

[2021-01-13 13:07] #27 closed

[2021-01-13 13:14] #12 closed

[2021-01-13 22:48] Ferroin opened #36 "[BUG] Canceling GitHub login flow results in generic 404 error page."
**Describe the bug**

When attempting to log in to Netdata Cloud using a GitHub Account when you have not already linked a GitHub Account to your Netdata Cloud account, canceling the authentication flow from the GitHub side results in a generic 404 error page in Netdata Cloud.

**To Reproduce**

1. Ensure you do not have a GitHub account linked to your Netdata Cloud account (or do not have a Netda

[2021-01-14 09:10] stelfrag commented on #35
Thank you @TheCatLady

I have reproduced this and will plan a fix

[2021-01-14 14:13] andrewm4894 opened #37 "Some collector icons and info not being displayed in cloud"
**Describe the bug**

If i have alarms and anomlalies collector enabled, on cloud i dont see the icons or infor from dashboard_info.js

![image](https://user-images.githubusercontent.com/2178292/104601522-417e7880-5672-11eb-879e-ca6a9bff6a0a.png)

**To Reproduce**

Look at any agent that has alarms collector on it in netdata cloud

**Expected behavior**

THe icon and info should be displayed like

[2021-01-14 14:14] andrewm4894 commented on #37
i dont seem to be able to add internal bug label for some reason

[2021-01-15 17:28] maxsot100 opened #38 "Phantom alarm[BUG]"
**Describe the bug**
I see an alarm on netdata but when I try to click on it from the numbered link in the war room list of nodes the browser returns a blank page. When I access it from the active alarms list, only the node and raise date are reported (no other information) and if I view alarm info they are empty. On the agent console no alarm is reported. It seems the synch between agent and clou

[2021-01-20 17:21] cakrit opened #39 "[BUG] Time window selection doesn't update the selection control"
**Describe the bug**
On the single agent view I updated the time picker to the last 6 hours, the charts were updated, but the control continues to show 15minutes. Tried it several times with different time selections, same thing

**To Reproduce**
Change the time window to anything other than 15min

**Expected behavior**
The time picker shows the selected time window, not 15min

**Screenshots**
If

[2021-01-22 13:50] manos-saratsis commented on #3
@lvrach a user mentioned that we might be sending unreachable notifications too early https://community.netdata.cloud/t/revisit-unreachable-hosts-alarm-netdata-cloud/814/3

[2021-01-23 18:25] cakrit commented on #3
An update on this:
- We identified two main sources of the discrepancies we have been seeing in reachability status, both of which result in dropped messages. Other discrepancies are also caused by the same two sources: VerneMQ and debouncing.
- We are very close to delivering changes in production that will address the issues with VermeMQ.
- We are also fully focused on resolving the debouncing i

[2021-01-23 18:31] cakrit commented on #6
This will be resolved via the charts metadata refactoring that we'll take on as soon as we're done designing the connection/disconnection refactoring.

[2021-01-23 18:34] cakrit commented on #7
I've never noticed this happen @manos-saratsis. Has anyone observed it since November? If not, I suggest we close.

[2021-01-23 18:36] cakrit commented on #14
Since we're refactoring the entire FE I'm closing this and we'll see if it occurs again after the new code is in production.

[2021-01-23 18:36] #14 closed

[2021-01-23 18:41] cakrit commented on #23
I see it working fine. Can you check again @OdysLam and close if it's ok?

[2021-01-23 18:47] cakrit commented on #24
I strongly suggest we fix our current behavior, rather than come up with a completely new design:

![image](https://user-images.githubusercontent.com/43294513/105611074-111c9580-5d68-11eb-9ea3-a1fd400d17e2.png)

that is:
- Slightly modify the text, to explain that there's no data for that time period.
- Make the positioning of the message smarter, so we don't get what is shown on the screenshot ab

[2021-01-23 18:56] cakrit commented on #34
This isn't a cloud issue. I'll comment on the community thread.

[2021-01-23 18:56] #34 closed

[2021-01-25 14:18] manos-saratsis commented on #20
@apostolidhs closing this

[2021-01-25 14:18] #20 closed

[2021-01-28 08:02] mbigatti opened #40 "[BUG] Node View not loading due to Javascript errors"
**Describe the bug**
Node page not loading

**To Reproduce**
Click on a node detail like https://app.netdata.cloud/spaces/production-iqdkpt4/rooms/general/nodes/483ee1be-3cbb-47a0-a913-7d00facd5c96

**Expected behavior**
Page should render

**Error logs**
[Error] TypeError: undefined is not an object (evaluating 'Object(o.a)(r,n)')
hasOwnProperty
(funzione anonima) — main-344126e7afd18628ea00.js:1

[2021-01-28 14:40] ironbelly opened #41 "Cannot save cpu.cpu0-7 charts in dashboard"
1) Make Dash Board - Result = Pass
2) Try to add any chart - Result = Fail(Add chart button does nothing)
3) Add Text - Result - Pass
4) Add Bandwidth Chart - Result = Pass
5) Click Save - Result = Pass
6) Add cpu.cpu1 Chart - Result = Pass
7) Click Save - Result = Fail (Dashboard clears cpu.cpu1 chart leaving text and bandwidth chart)

Does not matter if I add cpu chart before bandwidth chart, cp

[2021-01-28 15:45] #23 closed

[2021-01-28 19:39] jamezrin opened #42 "[BUG] Cannot save charts provided by 3rd party collectors"
**Describe the bug**
I cannot save dashboards that have charts provided by 3rd party collectors.

**To Reproduce**
Steps to reproduce the behavior:
- Add a chart provided by a 3rd party collector to a netdata's cloud dashboard
- Saving

**Expected behavior**
I expected it to save and persist between reloads.

**Screenshots**
As well as the screenshot attached below for the error that is thrown, I

[2021-01-29 00:15] therealgilles opened #43 "Alarm without any way to turn it off"
I have an alarm on my dashboard but I don't see any way to address it or turn it off.

Here is a screenshot:
<img width="640" alt="Screen Shot 2021-01-28 at 4 11 12 PM" src="https://user-images.githubusercontent.com/18076992/106214485-b62dd880-6183-11eb-92e2-8dc4e202fd2f.png">

The alarm does not even say what it's about. How am supposed to handle it? Thanks for any insight/advice.

[2021-01-29 16:39] jacekkolasa commented on #25
I have limited options on how to group prometheus collectors, because on composition step we loose the `app` information, so the only way I can group is by `job`.

This is how charts are named in node-view:
[code]

And in overview:
[code]

@cakrit is this intentional? I guess it is, but I want to confirm.

This is what we get when grouping by `job`, which i get from first part of the `family`, for

[2021-01-30 07:28] #7 closed

[2021-02-01 14:59] andrewm4894 commented on #5
Great @papazach thanks for looking at this. 100% think we should do the fetch metrics at the same time, that should help a lot.

We had also talked about batching each fetch request into a subset of charts in each request to maybe also see if breaking up the fetch requests into smaller groups could also help. Might then need to just be a bit of coordination then as to if we need to wait and then s

[2021-02-01 15:11] #39 closed

[2021-02-01 15:12] #42 closed

[2021-02-01 16:45] papazach commented on #5
Nice that is also an interesting approach to keep in mind 👍

I surmise that the _TODO_ item also yields another low to medium hanging fruit.
It is not expected from an agent to respond to a data request in 2.5-3 sec. It is at least 10 times more than we would expect.
Upon addressing those initial fixes we will also reason about this and perform some enhancements.

I think we can start addressing t

[2021-02-01 18:00] cakrit commented on #43
This should definitely not be happening. When you click on the three dots to "View alarm info", what does it show?
Also, please give us the first part of the URL, that shows the space and room, so we can investigate further and clean it up manually. e.g. `https://app.netdata.cloud/spaces/netdata-cloud/rooms/general`.

[2021-02-01 18:03] therealgilles commented on #43
It shows this:
<img width="639" alt="Screen Shot 2021-02-01 at 10 01 48 AM" src="https://user-images.githubusercontent.com/18076992/106498814-a3adea80-6474-11eb-9b7a-2ea7466cdb22.png">

Here is the url:
`https://app.netdata.cloud/spaces/svsd-llc/rooms/general/`

[2021-02-01 18:04] cakrit commented on #5
Note that all these requests go to the same agent, which can explain why it takes a few sec to answer all of them. If we parallelize more, the agent will be loaded even more. We may still get a better overall performance, but the agent is clearly the bottleneck here (that includes the time it takes for the responses to go through the ACLK, not just the time it takes to generate the responses).
If

[2021-02-01 19:05] stelfrag commented on #5
In production, I noticed that the incoming queries cap at 25 requests per second. I will try in staging.

[2021-02-01 20:07] cakrit commented on #43
@nicolasparada/@harrizbs plz check and clean up. This is garbage. Let's see if we can find similar cases across all workspaces/rooms as well.

[2021-02-01 20:12] cakrit commented on #41
Verified. When trying to save the dashboard, we get the following exception:
![image](https://user-images.githubusercontent.com/43294513/106512521-93067000-6486-11eb-8c1f-b2ffa68d80be.png)

[2021-02-01 20:14] stelfrag commented on #5
The same in staging. The cloud does not send more than 25 requests per second.

[2021-02-01 20:22] cakrit commented on #25
This grouping is good! I'm closing and expect to see it live soon.

[2021-02-01 20:22] #25 closed

[2021-02-01 20:23] cakrit commented on #24
This shouldn't be handled by @jacekkolasa now, it's for the visualizations team.

[2021-02-01 20:25] cakrit commented on #9
Shouldn't be on @jacekkolasa , it's for the visualizations team.

[2021-02-01 20:26] cakrit commented on #8
Shouldn't be on @jacekkolasa , it's for the visualizations team.

[2021-02-01 20:31] cakrit commented on #3
Part of this will be resolved tomorrow, with the improved handling of the load resulting from reconnections. The refactored way of handling agent and node connections/disconnections is what will resolve this completely, but the performance/stability team is still involved in ensuring we don't drop any messages.

[2021-02-01 20:37] jacekkolasa commented on #41
Duplicate of https://github.com/netdata/netdata-cloud/issues/42, it'll be released tomorrow

[2021-02-02 16:24] andrewm4894 commented on #5
Just adding this here to decide on as part of any work done on metric correlations (and @papazach as fyi as we may decide this is worth adding next time we making any changes to metrics correlation service).

We are looking into adding a max_points type param to the service that would use the `points` params from here: https://registry.my-netdata.io/swagger/#/default/get_data to cap the max number

[2021-02-03 08:36] Yannis-San commented on #24
After discussion with @jacekkolasa and input on ux copy from @joelhans here are the designs

https://www.figma.com/file/Qa96wclcmzk8UQfrZQJMQp/Going-to-a-chart-from-an-alarm-returns-no-data-24?node-id=0%3A1

[2021-02-03 10:05] stelfrag commented on #5
@papazach Can you check if there is a limit on the maximum in-flight data requests to the agent (for the highlight and the baseline metrics)

[2021-02-03 11:26] papazach commented on #5
Hello @stelfrag, there is a cap from the cloud side on the _number of concurrent requests to the same agent_ and it currently defaults to **4**.  This applies to both highlight and baseline metrics data requests.

[2021-02-03 11:39] stelfrag commented on #5
You could measure it, but I think it will end up being what I see on the agent, which would be about 25 requests per second. If it is easy to change, then try to make that **8** and lets see how much difference would that make.

[2021-02-03 12:36] papazach commented on #5
Hey @andrewm4894 thanks for sharing this thought. It is quite interesting and I think it can easily be done 👍

I'll create tickets for all the improvements we talked about herein this thread, in order to start addressing them as the Kubernetes related workload is getting lighter.

[2021-02-03 13:29] papazach commented on #5
Just FYI I created those two tickets:

https://github.com/netdata/product/issues/1763 - fetching baseline & highlights concurrently
https://github.com/netdata/product/issues/1764 - removing the time window limit and handling big windows accordingly

[2021-02-03 15:27] nicolasparada commented on #43
May be the same as this https://github.com/netdata/netdata-cloud/issues/35

[2021-02-03 22:30] jacekkolasa commented on #42
@jamezrin your discovery about `3rd party collector` helped us a lot, thanks! The fix has been deployed.

[2021-02-04 10:28] stelfrag commented on #35
PR that fixes this issue https://github.com/netdata/netdata/pull/10533

[2021-02-04 18:55] jamezrin commented on #42
@jacekkolasa Thanks for fixing this issue! I'm glad I helped.

However, I have been experiencing other issues with netdata cloud since yesterday, I'm now completely unable to see any charts or perform any dashboard operations, the API is returning a lot of timeouts and fetch errors.

I have tried in multiple browsers, no cache, no extensions that could interfere, etc. Do I need to do something on

[2021-02-04 19:30] #41 closed

[2021-02-04 20:35] jacekkolasa commented on #42
@jamezrin we have some issues with stability, which are very high priority for us. Your nodes are probably OK, no extra action is needed from your side. :)
When you had problems in Dashboards, have you experienced the same problems in single node-view and Overview? I want to make sure it's a general problem, not only Dashboard - related.

[2021-02-04 20:50] jamezrin commented on #42
@jacekkolasa Are you referring to the 3rd party collector chart problems of the issue or the other problems?

For the first: I could look at charts provided by 3rd party collectors perfectly fine, both in the overview and a dashboard (but couldn't save the dashboard)

For the second: Yesterday I was able to view charts in the overview and the single node view, but I couldn't see any charts in my d

[2021-02-07 21:53] Slind14 commented on #4
This has been ongoing for quite some time and there are no workarounds for the cloud part. Any chance this could receive some attention?

[2021-02-07 21:57] Slind14 opened #44 "[BUG] Critical Alert is being reported as Warning"
Critical is reported as Warning

![image](https://user-images.githubusercontent.com/3914677/107160660-de91b000-6997-11eb-95f4-46d8c1643be6.png)

[2021-02-07 22:31] harrisbz commented on #4
Hi @Slind14,

as @lvrach said we are actively working on improving cloud's alarm feature.
Expect most of your issues to be mitigated during the end of the next week.

Rest assured that we are investing both of our time and effort in implementing a more robust solution that will solve these inconsistencies once and for all.

Once we have an update we will let you know and ask for your valuable feed

[2021-02-08 12:41] cakrit opened #45 "[BUG] Unexpected chart behavior on the cloud"
The chart is being updated in place. It's as if we're looking at the future and making up zero values for the chart
![image](https://user-images.githubusercontent.com/43294513/107220039-ba00fc80-69c6-11eb-9e27-8c480a05d1fb.png)

[2021-02-08 13:01] cakrit commented on #45
@knatsakis we need to see if this a front-end or back-end issue, can you please replicate and add the response to the relevant "data?" calls?

[2021-02-08 13:03] cakrit opened #46 "[BUG] Chart time selection doesn't properly update the chart"
The selected time period isn't what's shown on the chart:
![image](https://user-images.githubusercontent.com/43294513/107221168-1f092200-69c8-11eb-9c75-b10048358c13.png)

[2021-02-10 22:10] jacekkolasa commented on #44
@Slind14 Thanks for submitting the issue. Did the value reached `98`? If not, then it's expected to see it as `warning` in this case. Reference: https://learn.netdata.cloud/docs/agent/health/reference#special-use-of-the-conditional-operator

[2021-02-10 22:26] Slind14 commented on #44
ahh I thought it should start at 90.

[2021-02-10 22:26] #44 closed

[2021-02-11 13:25] cakrit commented on #46
I don't see it happening any more.

[2021-02-11 13:25] #46 closed

[2021-02-12 16:47] cakrit commented on #38
Changes have been made to cleanup such issues for a large majority of cases, but there are still cases where they persist and we're still investigating additional causes.

[2021-02-12 17:43] andrewm4894 opened #47 "[BUG] Strange DateTime picker behaviour in new rooms"
**Describe the bug**

If i create a new room and then select a date time range that goes back in time covering before the room was created i see strange date axis behaviour.

**To Reproduce**

Create a new room, go into the room, press last 12 hours. You should see a longer time frame on the data axis than 12 hours.

**Expected behavior**

I expect to see last 12 hours

**Screenshots**

i just cre

[2021-02-12 17:44] andrewm4894 commented on #47
i dont seem to be able to add some additional labels

[2021-02-12 19:24] cakrit commented on #47
This may be something we're already discussing in the channel, I didn't spend time to see if it's a separate issue.

[2021-02-12 20:11] chrikar commented on #47
Hi @andrewm4894!

I just tried to the same on `production` with an existing agent I have and it looks to be working as expected. These agents were already claimed you just put them in a new room, right?

[2021-02-12 20:12] andrewm4894 commented on #47
Yep. There is a lot lot of unreachable nodes in the room too so was wondering if that might be having an effect. I can invite you to the room if you'd like.

[2021-02-12 20:17] chrikar commented on #47
Sure. Let's also check with the FE people to take a look in case it's a known issue.

[2021-02-15 11:44] maxsot100 commented on #38
Thanks, this is a very good news! We already see improvements and we will let you know if other cases will occur. Kind regards.

[2021-02-15 15:33] andrewm4894 commented on #47
I had a little look and i can still see this and recreate it in the non general rooms here:

![image](https://user-images.githubusercontent.com/2178292/107965906-063dd500-6fa3-11eb-86df-03d636ac0c76.png)

I have not tried to recreate it in a different space - i will try that next just to see.

[2021-02-15 15:37] andrewm4894 commented on #47
It seems to work ok in a different space where i have just 5 nodes. I made a room with just one node and one with 4 nodes and was not able to recreate the issue. So it seems to be specific to the room above.

[2021-02-16 14:49] apostolidhs opened #48 "[BUG] cpufreq and cpuidle should go under the CPU"
**Describe the bug**
In the response of the `/charts` endpoint in the room overview screen there are 2 keys `cpufreq.cpufre` `cpuidle.cpuidle` that are getting display in the sidebar as primary menu options.

**To Reproduce**
Most of the production spaces in the room overview page contain this response.

**Expected behavior**
Should be prefixed by the `cpu.` key, so they are grouped under the cpu

[2021-02-16 19:06] cakrit commented on #47
I just did a similar thing on another room. Went from looking at the real time (15 min) to select to see a whole day. The request done from the FE to the BE requests very few points, which is what causes the strange experience:

Reasonable request:
https://app.netdata.cloud/api/v1/nodes/813de04f-6d10-4a07-b569-db2952dba762/data?chart=cgroup_k8s_cntr_cert-manager_cert-manager-787bcdcf89-7fzns_cert-

[2021-02-16 19:14] cakrit commented on #24
This isn't the only issue. We can actually have data and still not return anything, because the request from the FE to the BE requests an invalid number of points:

This is the URL after clicking on one of the alarms:
https://netdata.corp.app.netdata.cloud/host/gke-production-main-ce0f778a-5sjc/#menu_cgroup_k8s_cntr_cert-manager_cert-manager-787bcdcf89-7fzns_cert-manager_submenu_mem;after=16134231

[2021-02-16 19:57] jacekkolasa commented on #47
@cakrit the `10 points` requested is probably valid. I've added an additional layer that lowers the nr of points needed, when the history is not big enough. For example, if there's only history for 1/10th of the selected timeframe, we ask for 10 times less points. That's because Agents in that case respond with 10 times bigger frequency. (they return the same nr of points than requested even for m

[2021-02-16 20:12] jacekkolasa commented on #47
I see that `first_entry` returned by `data` calls can be much bigger than first entries (either `after` or first timestamps in `result.data`). That can result in buggy behaviour. @netdata/cloud-be do you this can be a bug? I recreated it in prod, NC/Overview, by setting timeframe to `last 5 days`. `first_entry` is from 4 hours ago and first data timestamps are from few days ago.

[2021-02-17 12:52] andrewm4894 opened #49 "[BUG] chart families not showing properly in overview screen"
**Describe the bug**

I have a room with one node. This node about 20 anomalies collector jobs running on it and so has lots of anomalies contexts in the menu on the right.

When i am in the node itself i see correct menus:

![image](https://user-images.githubusercontent.com/2178292/108206526-69a04200-711e-11eb-8456-11158a752684.png)

But for some reason when i go to the overview for the room i lo

[2021-02-17 17:40] chrikar commented on #48
This might originate from the agent, so we need to check that. In the meanwhile we can get a quick-fix to address this.

[2021-02-18 12:22] papazach commented on #24
I just followed the `Go to Chart` for each one of the alarms available in the `netdata-cloud` space (from 2 hours to 71 hours
before)
https://app.netdata.cloud/spaces/netdata-cloud/rooms/general/overview?modal=alarmsViewModal
and each and every alarm timerange was off the alarming node's data retention window.

I also followed the `Go to Chart` for each alarm available in the Tsaousis space
https:

[2021-02-18 16:45] jacekkolasa opened #50 "[BUG] first_entry is different when accessing node through Cloud"
**Describe the bug**
When accessing the same node through Cloud or directly from Agent's Dashboard ,`first_entry` is different. The difference varies - sometimes it's just 1 second, sometimes more than 2 hours.
I'm not sure if this bug is not only valid for our test infrastructure.

**Expected behavior**
We should see the same data/metadata from Agent Dashboard and Cloud's Node-view

**Screenshots

[2021-02-18 21:05] chrikar opened #51 "[BUG] Unable to pick custom timerange on cloud dashboard"
**Describe the bug**
Changing the time period to using the timestamp and not the "Show X latest minutes/hours etc" appears to have no actual effect. The time reverts to it's original values when clicking on anything else.

**To Reproduce**
Check video.

**Expected behavior**
Accepting a custom time period for getting chart data.

**Screenshots**
Video attached.
https://user-images.githubuserconten

[2021-02-19 11:58] kaskavel opened #52 "[BUG] Claim command for user onboarding does not work as expected."
**Describe the bug**

During user onboarding, after creating the first space and room the user is guided to a "Claim your first nodes in _room_ " tab.

There are currently two issues with this tab:

a) The claim command should include two rooms (General and the one the user has just created)
b) The user should be able to remove General room from the Rooms tab, but currently cannot remove it (even

[2021-02-19 12:14] nicolasparada commented on #43
Hi. We recently did an automatic fix for all nodes with these kind of problems. Can you confirm if you are still seeing this issue?

[2021-02-19 12:18] nicolasparada commented on #4
@jurgenhaas @ssm3e30 @Slind14 We recently did an automatic fix for all nodes with these kind of problems. Can you confirm if you are still having these issues?

[2021-02-19 12:28] Slind14 commented on #4
looks good

[2021-02-19 12:48] jurgenhaas commented on #4
@nicolasparada recognized that a few days ago and was excited. It was looking good. I went through my 7 spaces just now and in one of them there is one single host which has an old alarm still present. All others are OK.

Since that cloud update we have the new issue that after a longer period of time the cloud dashboard becomes unresponsive if it was open in the background all the time. But that'

[2021-02-19 13:09] nicolasparada commented on #4
Great to hear. 1/7 is the amount we were expected to not be fixed during this attempt, but we will fix them all soon.
The other issue seems unrelated, but we will look at it 👍
Thank you.

[2021-02-19 20:18] therealgilles commented on #43
I confirm the error notification is gone. Thank you!

[2021-02-19 20:18] #43 closed

[2021-02-21 03:32] nicolasparada commented on #43
Great 😀
Thank you for your help 😉

[2021-02-22 09:58] papazach commented on #24
Hey @cakrit just an additional update concerning this. Actually, mainly the

The "perceived" data retention of our production child nodes varies from whether you access the Agent dashboard from [corp](https://netdata.corp.app.netdata.cloud/host/gke-production-main-cf027e1a-psor/) or from the [cloud](https://app.netdata.cloud/spaces/netdata-cloud/rooms/general/nodes/e91e819b-32bf-4966-9c54-360a67f0

[2021-02-22 10:43] papazach commented on #49
Hey @andrewm4894 could you please invite me to the room to take a look?

[2021-02-22 11:25] cakrit opened #53 "[BUG] Charts list for containers in overview screen doesn't handle long container names well"
![image](https://user-images.githubusercontent.com/43294513/108701962-7b3a6e80-74bd-11eb-9c0e-d04cdab99c87.png)

[2021-02-22 11:58] andrewm4894 commented on #49
just sent invite there - let me know if you don't see it and i can resend.

[2021-02-22 17:02] cakrit opened #54 "[BUG] Deleting a custom dashboard from one space, took me to another space"
I was in space netdata-cloud, was looking at the last custom dashboard left there. When I deleted it, I was moved to another space "Galaxias".

Expected behavior:
Stay in the same space.

[2021-02-23 12:31] papazach commented on #5
Ok just managed to get some metrics with various concurrency configs. I randomly picked a node (`ip-172-31-0-233`)  from `composite-charts space` - `100nodes` room. And made 10 metric correlation requests with different concurrency configs (8, 16, 22).

Each call returned a pair of timings, one for the baseline and another for the highlight. Both of these operations include a set of concurrent req

[2021-02-23 12:48] andrewm4894 commented on #5
Sounds good to me. But don't take my word for it as this is outside my ballpark :)

Hopeful that this concurrency change and the points change could make this a lot more useful. Feels like we are hopeful it should.

[2021-02-23 15:01] allelos commented on #52
Are we sure we want room `General` to be deletable?

[2021-02-23 15:31] kaskavel commented on #52
@allelos I guess @manos-saratsis can comment on that. So you mean that even if the user want to add the node only to the newly created room (and not in General) we should still show the General there?

[2021-02-23 15:51] allelos commented on #52
@kaskavel Oh my misunderstanding, I thought you were talking about removing `General` completely not just from the list. From what I've seen nodes can be present in one room and not in another. @manos-saratsis ?

[2021-02-23 15:55] kaskavel commented on #52
No, not removing General overall just from the list, yes.

[2021-02-24 09:48] ringe commented on #3
Thank you for your efforts here. We recently started using Netdata Cloud, and really like it.
There's a lot of default warnings levels that we don't care about, so we adjust them. Others have really improved our performance and reliability.

This issue is really annoying, though. We are getting unreachable warnings a lot, while there's no downtime on the servers being monitored.

This issue is sti

[2021-02-24 10:14] OdysLam commented on #3
Hi @ringe,

I understand that this is frustrating. Having used the feature ourselves, we understand the noise it produces and we are racing to understand why the system believes that some nodes get disconnected.

In the meantime, please do tell me more about the alarms that have improved your performance and reliability. We want to improve our default alarms so that every user will get maximum val

[2021-02-24 20:48] manos-saratsis opened #55 "Dashboards - selection of dimensions is forgotten if the chart card is out of the view"
**Describe the bug**
In Cloud dashboards, if you select some dimensions in a chart card and you bring it out of view it forgets the setting

**To Reproduce**
Go to Cloud dashboard -> add chart card ->select a dimension -> bring it out of view and back in

**Expected behavior**
The dimension selection is as set unless the user reloads the page

[2021-02-24 20:48] cakrit opened #56 "[BUG] Removing too many nodes from a room results in incorrect error message"
I tried to remove the 476 (! yes, I know) unreachable nodes from room "K8s", by selecting every node in the room and deselecting each reachable one. We probably didn't expect to have such a large request for removals (though I did see the popup asking for confirmation). The problem is that the error that comes back says that "There's no internet connection" or something like that, so we're using t

[2021-02-24 20:59] cakrit opened #57 "[BUG] Messed up height of rows in the nodes view"
There's some resizing when you navigate to this room and you get the following. In other rooms it doesn't happen, not sure what it is:
![image](https://user-images.githubusercontent.com/43294513/109065005-f65b7a80-769f-11eb-9dd0-51f1fcb4052e.png)

[2021-02-25 12:20] kaskavel opened #58 "[BUG] Reachable nodes not visible in tooltip in Overview screen"
**Describe the bug**
When a user clicks on the reachable(number in green) or on the unreachable(number in red) nodes in the top right of the overview screen, a tooltip with the expanded list of nodes comes up. In this tooltip, reachable nodes are not visible (see screenshot).

**To Reproduce**
Steps to reproduce the behavior:

Press either the green or red number on the Results:, on the top right

[2021-02-25 12:27] cakrit opened #59 "[BUG] In the node view, newly added columns don't show charts until we reload"
I believe we've always had this issue and haven't fixed it yet. When we add a new column to display a metric, we should be able to show charts for it immediately. Instead, we currently need to reload.

[2021-02-25 14:20] kaskavel opened #60 "[BUG] Alarm not switched off unless we refresh page"
**Describe the bug**

In case we have concurrently in a room:

- An alarm getting switched off (from either state, critical or warning)
- No other active alarms

In the top bar we continue seeing the alarm being active even if it is no longer the case. If we refresh the page, we see the correct information of 0 alarms.

**To Reproduce**
Steps to reproduce the behavior:

1. Trigger a single alarm (

[2021-02-26 12:48] cakrit commented on #35
The PR is merged so closing this one.

[2021-02-26 12:48] #35 closed

[2021-03-01 09:03] manos-saratsis commented on #56
@cakrit me and @franklinandrade will work on this as part of the changes planned in the management screens

[2021-03-01 09:16] manos-saratsis commented on #60
@novykh I added the "mgmt-navigation-team-bugs" label because it was introduced with the new navigation

[2021-03-02 11:50] chrikar commented on #50
To provide some background on this, the netdata children are configured to stream their data to the parent, which is configured with a dbengine and a big retention period. So if we go to the parent's netdata page we can see all this information that the children have sent by accessing the parent's db. However, from the cloud we are now still contacting the children directly to request the data, an

[2021-03-02 11:50] #50 closed

[2021-03-02 11:51] papazach commented on #5
Some initial improvements have been performed (increased ADC concurrency and concurrent data fetch for baseline and highlight metrics) and some additional are in the works:

https://github.com/netdata/product/issues/1847
https://github.com/netdata/product/issues/1848

Response times have already dropped significantly and we expect some additional gains by the above changes.

[2021-03-02 11:51] #5 closed

[2021-03-02 13:19] manos-saratsis commented on #40
@mbigatti this should be fixed by now. Closing, if you face issue please comment here.

[2021-03-02 13:19] #40 closed

[2021-03-03 17:23] cakrit commented on #38
The fix was in 1.29.2. We use 1.29.3 in our prod infra, but I see two of those "phantom alarms" there right now:

![image](https://user-images.githubusercontent.com/43294513/109845484-0f18e280-7c02-11eb-8f62-6da16878613f.png)

[2021-03-03 17:30] cakrit opened #61 "[BUG] Inconsistency between individual node alarm and room alarm counters"
A single node's alarm counters are much higher than the total for the room:
![image](https://user-images.githubusercontent.com/43294513/109846239-d3324d00-7c02-11eb-8258-1ea55468fc4a.png)

[2021-03-04 15:39] cakrit opened #62 "[BUG] time axis alignment to peaks changing in the overview screen"
As we pan an overview screen chart (tried with kubernetes charts), a specific peak appears on different times, like it's moving around in time. I shared internally a video of this happening.

[2021-03-04 15:55] cakrit opened #63 "[BUG] Dimension selection in overview screen has invisible dimension names"
Probably white font-color:
![image](https://user-images.githubusercontent.com/43294513/109991215-f9b5be00-7cbe-11eb-87d6-643f6cbdfb0d.png)

[2021-03-04 16:02] cakrit opened #64 "[BUG] List options of individual node screen charts appear behind the next chart's menu"
![image](https://user-images.githubusercontent.com/43294513/109992023-b6a81a80-7cbf-11eb-9e76-ac1b9cae1b03.png)

![image](https://user-images.githubusercontent.com/43294513/109992072-c293dc80-7cbf-11eb-8043-c005f6b040ee.png)

Workaround is to increase the height of the chart, but we should fix it.

[2021-03-04 16:46] cakrit commented on #62
Tried again now and can't replicate. Will keep trying, and get some logs when it happens again.

[2021-03-05 16:48] cakrit opened #65 "[BUG] Going to a node from a k8s popup opens a new browser tab and shows a tab with no name"
Started here and clicked the little arrow to see the node:

![image](https://user-images.githubusercontent.com/43294513/110146376-584a6d00-7d8f-11eb-996d-aa734148bb4e.png)

Got a new browser tab, with this:
![image](https://user-images.githubusercontent.com/43294513/110146441-7021f100-7d8f-11eb-98e4-82cb3de880a0.png)

Expected behavior:
- Since we have our own tabs now, should see a new tab where

[2021-03-05 18:18] manos-saratsis opened #66 "[BUG] Legend wrongly on the right in Dashboards"
**Describe the bug**
I have on my account configured the legend below but I see it on the right in Dashboards

**To Reproduce**
Steps to reproduce the behavior:	1. Configure legend on the right 2.Go to a dashboard 3. Configure legend below

**Expected behavior**
Legend should be below

**Screenshots**
<img width="1437" alt="Screen Shot 2021-03-05 at 7 15 26 PM" src="https://user-images.githubuserc

[2021-03-05 18:29] manos-saratsis opened #67 "[BUG]Missing node name within Cloud tab"
**Describe the bug**
From overview, go to a single composite chart, click on "Charts" pick from the dropdown -> node name in tab is missing

**Expected behavior**
Nodename should be there

**Screenshots**
<img width="851" alt="Screen Shot 2021-03-05 at 7 23 10 PM" src="https://user-images.githubusercontent.com/19746055/110158007-282fb800-7de9-11eb-8560-9cbbcdc732b5.png">

[2021-03-07 19:24] manos-saratsis commented on #65
Similar to https://github.com/netdata/netdata-cloud/issues/67

[2021-03-08 11:56] #66 closed

[2021-03-08 12:36] #67 closed

[2021-03-08 13:01] cakrit commented on #45
I haven't seen this again, closing for now.

[2021-03-08 13:01] #45 closed

[2021-03-08 13:09] cakrit commented on #47
We had a very short retention period, which caused this.

[2021-03-08 13:09] #47 closed

[2021-03-08 18:17] allelos commented on #36
Guys, after seeing the url we are returned to after clicking cancel [here](https://app.netdata.cloud/api?error=access_denied&error_description=The+user+has+denied+your+application+access.&error_uri=https%3A%2F%2Fdocs.github.com%2Fapps%2Fmanaging-oauth-apps%2Ftroubleshooting-authorization-request-errors%2F%23access-denied&state=6omslw0TUBiJOpfxZ7w0A) and according to the github oauth documentation

[2021-03-10 09:37] apostolidhs commented on #63
Fixed on `release/2.1.3`

[2021-03-10 09:37] #63 closed

[2021-03-10 09:38] apostolidhs commented on #64
Fixed on `release/2.1.3`

[2021-03-10 09:38] #64 closed

[2021-03-10 09:40] apostolidhs commented on #48
Added handling special handling in the frontend (`release/2.1.3`).
We are expecting the actual fix on the agent as @chrikar mentioned.

[2021-03-10 09:40] #65 closed

[2021-03-11 20:03] manos-saratsis opened #69 "[BUG] Cannot save chart in Dashboard"
**Describe the bug**
See: https://www.youtube.com/watch?v=u1t57t8tg-Q
The user could not save the chart. Unsure if the issue is limited to 3rd party collector charts

**To Reproduce**
Steps to reproduce the behavior:	See video

**Expected behavior**
Being able to add a chart in a dashboard and save

[2021-03-11 20:06] #48 closed

[2021-03-11 21:48] ph33rtehgd opened #70 "[BUG] After disabling disk usage for mount Cloud shows empty chart instead of hiding"
**Describe the bug**
I want to show the disk usage on the Netdata Cloud nodes page for relevant mounts/paths. I added such a column, but I'm left with many /run/* mounts showing. I want to filter these out, so I've added the below to my netdata.conf file:
[code]

After doing this the data isn't captured for these mounts anymore, which is good, but the Netdata Cloud page now shows a bunch of empty

[2021-03-16 08:04] papazach commented on #24
I think that since we sorted out that the issue is caused due to node's data retention, we can safely close the issue.

cc @cakrit

[2021-03-16 08:04] #24 closed

[2021-03-17 08:18] maxsot100 commented on #38
I confirm that there are really many still.... it seems many alarms never close.

[2021-03-17 12:44] dimko opened #71 "[BUG] Invalid label colour for critical alarms"
When viewing a specific active critical alarm the colour of the label, marking the alarm as critical is yellow instead of red

![image](https://user-images.githubusercontent.com/19268853/111469277-2d68fd00-872f-11eb-83b0-5fa83b6d2d61.png)

How it is in other places:

![image](https://user-images.githubusercontent.com/19268853/111469234-1d511d80-872f-11eb-935c-5b4c93c6ff39.png)

[2021-03-17 18:15] cakrit commented on #70
This is a known bug, we're not correctly updating the list of charts based on what's happening on the agent side.
We have the option for a workaround (query the agent directly), until we properly implement the new design we're finalizing, which will take a couple of months. So the question gents is if utilizing the ADC in the meantime is a valid option for this view.

[2021-03-17 18:40] harrisbz commented on #38
Hi @maxsot100,

Thanks for the feedback!
We are aware of this issue and we are working as we speak to mitigate it.

[2021-03-18 11:19] underhood opened #72 "[BUG] netdata cloud behaviour when logging out from agent dashboard"
**Describe the bug**
If the cloud is open on one browser tab and agent dashboard in another. If you log out from the agent dashboard and return to the cloud tab you will end up on a broken cloud dashboard without being offered to re-log-in or transferred to the login page.
The only way I found to recover is manually writing `app.netdata.cloud` into the URL bar of browser. This is not a great UX.

[2021-03-18 11:20] underhood commented on #72
issue creation template says:
[code]
but I am not able to do that (probably agent team has no permissions to label issues in this repo?)

[2021-03-18 15:17] mattpson commented on #4
I have the same problem. Ran out of memory in one of my VMs yesterday which triggered the alarm (and unfortunately the OOM killer killed Netdata). I have since then:

- Resized the RAM on the VM
- Restarted Netdata
- Pondered why the alarm didn't go away
- Restarted Netdata (many times, after each step below and more)
- Removed the db files in /var/cache/netdata/dbengine (now the alarms refer to d

[2021-03-18 15:36] harrisbz commented on #4
The issue resides entirely in the Cloud.
We applied a patch earlier today that fixed most of the cases.
Can you provide us with your space id so we can have a closer look at your case?

[2021-03-18 15:38] Slind14 commented on #4
FYI for us it is totally skewed as well:
![image](https://user-images.githubusercontent.com/3914677/111653544-4db8ba80-8808-11eb-8223-ee6952d0fc0f.png)

[2021-03-18 15:56] mattpson commented on #4
@harrisbz the space/room/node is spaces/trustno1/rooms/general/nodes/24de4bea-3f29-433a-a531-f80eedfe2dd0

[2021-03-18 20:50] stelfrag commented on #4
Hi @Slind14 , @mattpson

Would it be possible for you to share the `health-db.log` and `health-log.db.old` files located under

`/var/lib/netdata/health/health-log.db`
`/var/lib/netdata/health/health-log.db.old`

(prefix that with your installation path if different)

Those files contain a longer alarm history information (the `http://localhost:19999/api/v1/alarm_log` will return a portion of that

[2021-03-18 22:32] mattpson commented on #4
Files sent.

[2021-03-19 07:22] stelfrag commented on #4
Thank you -- received!

[2021-03-19 20:47] stelfrag commented on #4
Hi @mattpson

I have created a draft PR https://github.com/netdata/netdata/pull/10822 that attempts to address this issue. If you can, please test this out and let me know if it fixes the problem for you so I can work on the permanent solution.

[2021-03-21 21:06] scubashan opened #73 "Nodes view not rendered correctly in Safari"
**Describe the bug**
The Nodes view not rendered correctly in Safari. This renders correctly in Chrome.
**To Reproduce**
View nodes tab in Safari

**Expected behavior**
Be able to see the nodes

**Screenshots**
<img width="681" alt="Screen Shot 2021-03-22 at 8 01 47 am" src="https://user-images.githubusercontent.com/2850123/111920815-2eaa7900-8ae5-11eb-90c2-39735444d2f2.png">

**Error logs**

**De

[2021-03-24 11:39] papazach opened #74 "[cloud-charts-service] create and setup new repository"

[2021-03-25 18:12] mattpson commented on #4
Can confirm that the persistent alarms disappeared sometime in the last few days (don't remember exactly when). So what ever was fixed seems to work afaik.

[2021-03-26 20:22] cakrit opened #75 "[BUG] Reachability notifications shouldn't be sent due to cloud maintenance actions"
https://github.com/netdata/netdata-cloud/issues/3#issuecomment-784950497

We need a way to disable reachability checks before executing maintenance actions that cause the agents to disconnect.
The checks can be enabled again after the maintenance is completed.

[2021-03-26 20:23] cakrit commented on #3
I opened a [new bug](#75 ) specifically for the notifications that go out, which are really annoying.

[2021-03-30 12:58] Whisper40 opened #76 "[BUG] Netdata Cloud not showing disk space for all nodes mode."
**Describe the bug**
I would like to be able to monitor the disk space of my nodes. Not one by one, but every node, because i'm using the same disk and mount point for each of them.

**To Reproduce**
Deploy one server with netdata client, add it to netdata cloud and follow my GIF.

**Expected behavior**
I should be able to do the same thing when i select one server and when i select all node. I th

[2021-03-31 10:06] #61 closed

[2021-03-31 11:18] novykh commented on #60
Will be fixed in next release

[2021-03-31 11:18] #60 closed

[2021-03-31 13:48] #71 closed

[2021-03-31 20:19] jpeizer opened #77 "[BUG] moving between nodes does not update overview stats"
**Describe the bug**
Using the cloud install with a kubernetes deployment (using standard netdata tutorial) I was able to get all the nodes to show up on my cloud page.  However if I open each node in it's own tab the stats for each node does not fully update as expected.

**To Reproduce**
Steps:
(This was on a new account, running in Firefox)
Assumes the user is using a cluster based netdata setu

[2021-04-01 09:11] manos-saratsis commented on #77
@jpeizer thx. I cannot open the video, can you please ensure that is not corrupted. Also can you please provide images of the unexpected behavior, it is hard to understand

[2021-04-01 12:33] novykh commented on #28
Fixed

[2021-04-01 12:33] #28 closed

[2021-04-01 12:50] novykh commented on #58
Fixed.

[2021-04-01 12:50] #58 closed

[2021-04-01 14:13] #22 closed

[2021-04-01 14:13] #52 closed

[2021-04-01 14:13] #72 closed

[2021-04-01 17:23] jpeizer commented on #77
[bugmp4.zip](https://github.com/netdata/netdata-cloud/files/6245308/bugmp4.zip)

Screenshots will not illustrate this in a meaningful way.  So I created a new video using mp4.

In general, the system overview does not update correctly when switching between already opened node tabs within a war-room view

[2021-04-02 15:21] OdysLam opened #78 "[BUG] New side nav panel"
**Describe the bug**
A clear and concise description of what the bug is.
- Wrong link on open a GH issue for agent/cloud (it should link to the respective bug template, not empty issue)
- Copy needs improvement (see [Friction log)](https://docs.google.com/document/d/1q6bWgMFn7H5NLscQSjniwZ5cvLrVuUKzzk9VZCdW5ac/edit#heading=h.qxgwj4l8bh42))
- Community tab on search brings back results from netdata

[2021-04-02 16:36] novykh commented on #77
@jpeizer thank you. We will deploy a fix later today or Monday morning.

[2021-04-05 11:29] #77 closed

[2021-04-06 12:19] OdysLam commented on #69
Resolved as informed by the user in that youtube video

[2021-04-06 12:19] #69 closed

[2021-04-06 23:42] Slind14 commented on #4
FYI the issue with the empty alerts is still present with 1.30

[2021-04-07 12:00] stelfrag commented on #4
A fix will be included in the nightly build and included in a patch release in the next few days

[2021-04-07 12:15] OdysLam commented on #4
Thanks, @Slind14 for pitching in. Please do tell us if the patch fixes it for you. @stelfrag is vicious with bugs 💪

[2021-04-07 12:56] manos-saratsis commented on #76
@Whisper40 If the context exists for one node it should be an option to select the same context in "All nodes" which adds a composite chart to the dashboard. Thx for sharing

[2021-04-07 13:30] novykh commented on #78
Since those look like new specs. Let's put them to an internal story and plan it.

[2021-04-07 14:20] #73 closed

[2021-04-07 14:21] #57 closed

[2021-04-07 15:17] #54 closed

[2021-04-07 15:19] novykh commented on #9
what's the bug?

[2021-04-07 20:36] scubashan commented on #73
This is still happening, has the fix been pushed ?

[2021-04-08 07:05] novykh commented on #73
Will be deployed later today. Thank you

[2021-04-08 08:39] novykh commented on #77
@jpeizer deployed. Thanks for reporting this ;)

[2021-04-09 08:17] #75 closed

[2021-04-09 18:15] manos-saratsis commented on #78
@novykh the links are a bug and the rest is a feature improvement indeed. @allelos will work on it early next week, minor changes required

[2021-04-09 18:51] novykh commented on #78
Yeah, but the links are the ones according to the story as well. Let's add them to the new story in order to be updated without any issues.

[2021-04-12 11:09] chrikar opened #79 "[BUG] cpuidle dimension labels all look the same"
**Describe the bug**
Dimension names for different CPUs all look the same for cpuidle.
![Screenshot 2021-04-12 at 12 50 52 PM](https://user-images.githubusercontent.com/2836342/114376420-4928bd00-9b8e-11eb-90d4-ae4cc2d59531.png)

**To Reproduce**
This is mostly noticeable on k8s-enabled nodes.

**Expected behavior**
Independent labels for different CPUs.

**Desktop (please complete the following i

[2021-04-12 11:09] chrikar commented on #79
From some initial investigation it looks like the dimension_ids are different but the names are all the same:
![Uploading Screenshot 2021-04-12 at 2.08.15 PM.png…]()

[2021-04-13 14:40] manos-saratsis commented on #9
Fixed with @apostolidhs magic

[2021-04-13 14:40] #9 closed

[2021-04-13 14:42] manos-saratsis commented on #78
Closing this and will follow up with @allelos and #1951

[2021-04-13 14:42] #78 closed

[2021-04-14 15:40] cakrit opened #80 "[BUG] Nodes view shows different number of reachable/unreachable nodes than the overview"
For some reason the control showing the number of nodes is different in the Overview screen vs the Nodes screen. In our workspace/General room I see 8 nodes in the nodes view with no menu, in the Overview screen I see the proper control

[2021-04-14 21:22] Slind14 commented on #4
We still have those empty alerts. What is the version that should have fixed it?

[2021-04-15 06:04] stelfrag commented on #4
Hi @Slind14 the version you are using should have addressed the issue. So what you are observing is:

- On the local dashboard you do not see any alarms raised
- You login to the cloud and you see alarms reported for the agent
- Restarting the agent repeats the above behavior

If possible, please send the following files to stelios@netdata.cloud
(prefix your installation directory if needed)

- /v

[2021-04-15 08:14] IvMisticos opened #81 "[BUG] Dashboard grouping is not properly saved"
**Describe the bug**
When changing grouping of a chart in a dashboard, all grouping settings on other charts is reset.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a dashboard
2. Add two charts
3. Set one chart grouping to "by node"
4. Save
5. Set second chart grouping to "by node"
6. Save

Result: First chart has grouping set to by dimension.

**Expected behavior**
Instead the oth

[2021-04-15 09:19] Slind14 commented on #4
I have no idea what the local dashboard is showing. It is orchestrated without the local one.

[2021-04-19 10:01] dimko opened #82 "[BUG] Alerts with invalid timestamp are displayed in "Other Alerts" table"
'Internal submit' label should be added. Issue for the alerts team.

**Expected behavior**
Alerts with invalid datetime and duration should not be included in the list of other alerts in Alert Notification emails as they are invalid.

**Screenshots**
![image](https://user-images.githubusercontent.com/19268853/115217686-6c171c00-a10e-11eb-925a-63f514ebc57c.png)

The issue is probably caused due to

[2021-04-19 15:09] cakrit opened #83 "[BUG] load chart shows a different time frame than other charts"
See below, the window was selected from the datetime picker and all charts except load seem to be aligned with that window. It may be because of the different `update_every` that the load chart has (5s default).

![image](https://user-images.githubusercontent.com/43294513/115259049-61489100-a0e6-11eb-9588-94022540b1bc.png)

[2021-04-19 15:31] cakrit opened #84 "[BUG] load chart can return weird results in the overview screen"
This is something I've never seen on any other chart and may have something to do with the longer `update_every` of the load chart. There are cases when we get a long series of high values/low values for each returned calculated timestamp. The chart looks as follows in these cases. A request that triggered such a chart along with the json response are attached.

![image](https://user-images.github

[2021-04-20 13:35] cakrit commented on #62
The attached has the results of some experiments we did together with @papazach
We have two issues: Wrong first entry ts and wrong timestamp for the shift from null to value in the node ending in `qiqv`
[requests-responses.txt](https://github.com/netdata/netdata-cloud/files/6343908/requests-responses.txt)

[2021-04-21 13:48] manos-saratsis opened #85 "[BUG] When opening a modal, the dropdown is not closed"
**Describe the bug**
Click on a War Room in the top bar -> Leave War Room

**Expected behavior**
The dropdown should close after the action is done

**Screenshots**
<img width="1433" alt="Screen Shot 2021-04-21 at 3 44 46 PM" src="https://user-images.githubusercontent.com/19746055/115564647-f26f6180-a2b8-11eb-99ab-829660c4245e.png">

[2021-04-23 17:33] cakrit opened #86 "[BUG] Alarm Details showing the alarm calculation encoded"
See below how the "/" character appears on Alarm Details. The strange thing is that initially it appears as "/" but after about 1 sec the character is replaced with the gibberish you see in the screenshot. You should be able to see it on any `cgroup_ram_in_use` alarm.

![image](https://user-images.githubusercontent.com/43294513/115908426-0208ba80-a41f-11eb-9d26-33cd4e0d3da3.png)

[2021-04-29 12:14] manos-saratsis opened #87 "[BUG] Under "Invite users" I cannot always paste an email"
**Describe the bug**
Go to "Invite users" form and paste an email. Sometimes it does not work and I do not have the option to paste with right click
MacOS - Chrome Version 88.0.4324.192 (Official Build) (x86_64)

**Expected behavior**
On a MacOS with command+v or via the browser menu I should paste emails

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="143

[2021-04-30 09:57] Slind14 commented on #4
Any update here? There are still hundreds of empty alerts.

[2021-05-05 10:12] OdysLam commented on #4
Hey @Slind14,

We are so very sorry for this experience. Did you send your files to the email provided by @stelfrag ?

If you haven't please do so he can see in detail what is happening. Alarms is a whole area that we are actively reworking, both in the Agent and in the Cloud. We expect a lot of improvement over 2021 in both performance and features.

[2021-05-05 14:39] gvasquez95 opened #88 "High AWS Costs due to high traffic to Netdata Cloud servers"
I've just realized that for 38 EC2 instances, it costs us USD 100 per day just on data transfer costs. How can this be optimized? Aggregations, compression or even better VPC peering would be desired. Is any of these or other suggestions already available to keep using the service? Otherwise, we'll just have to terminate it unfortunately :(

[2021-05-05 14:45] stelfrag commented on #4
Confirmed -- files received. I will examine them for inconsistencies and get back to you

[2021-05-06 09:47] dimko opened #89 "[BUG] Nodes with warning are grouped under Clear when grouping by Alarm Status"
'internal submit'

Nodes with alerts in warning state are grouped along with nodes without alerts (clear) when user selects to group nodes by alert status in the table view (Nodes tab)

Environment: **Production**

Steps to reproduce:

1. Navigate to Nodes tab
2. Have Nodes in critical, warning, clear state
3. Select Alarm Status from the group by dropdown.
4. Nodes should be assigned to the corre

[2021-05-06 11:44] dimko opened #90 "[BUG] Browser tab becomes unresponsive when clicking Add Nodes button and too many nodes are present in the space"
Browser tab becomes unresponsive and crashes when clicking Add Nodes button and too many nodes are present in the space

Steps to reproduce the behavior:

1. Navigate to a space with lots of nodes (e.g **Netdata Cloud STG** in staging which has ~ 3K agents claimed)
2. Navigate to Nodes Tab (table view)
3. Click the Add Nodes (+) button in the top right corner or Add Nodes from the room dropdown.
4

[2021-05-07 15:50] cakrit opened #91 "[BUG] The delay alarm notification setting is not respected by the cloud"
From the very beginning, Netdata Cloud alarm notifications have been ignoring the `delay` configuration option that some alarms have. This causes many more notifications getting received from the cloud that intended. We are in the process of implementing a major redesign that will address this issue, but we'll also look into changing the limits on some of the more problematic alarms, to make them

[2021-05-10 10:48] dimko commented on #82
@dim08 this the one. Hopefully this will get fixed with the new infrastructure, but adding an extra check as described won't hurt.

[2021-05-10 15:55] andrewm4894 opened #92 "[BUG] strange date axis behaviour in Overview screen."
**Describe the bug**
In the overview screen a recent window of time is being cut off for some reason.

**To Reproduce**
Steps to reproduce the behavior:

Create a new space, claim 2 or mode nodes into it.

**Expected behavior**
I should not have the axis jump around like this.

**Screenshots**
![image](https://user-images.githubusercontent.com/2178292/117687985-42529180-b1b0-11eb-9543-c4a825cb7472

[2021-05-12 08:03] ilyam8 opened #93 "Deleted War-room has returned and cannot be deleted now."
@bazwalt commented on [Wed May 12 2021](https://github.com/netdata/netdata/issues/11135)

Hi all,

I have a war-room in my space that was deleted yesterday evening and it has subsequently returned this morning upon my login.

I now cannot delete it again and it keeps telling me I am no longer a room member. I also cannot re-add myself to the room.

[2021-05-13 14:54] dimko opened #94 "[BUG] Alerts values appear as "-""
Affects **production** and **staging** environment.

Alerts values appear as **-**

Steps to reproduce:
1. Navigate to Nodes (table view)
2. Click on an alert on a node to open Active Alarms drawer
3. Alert values are -

FE requests to the **/alarm-values** endpoint return an empty response for alarms:
e.g

Request https://app.netdata.cloud/api/v1/nodes/f2eb1aea-e395-402c-972d-3bf28d42ce99/alarms-

[2021-05-13 15:18] cakrit opened #95 "[BUG] Node filter doesn't allow you to edit the middle of the string"
Put two terms in the node filter, e.g. in the overview string. Try to correct the first of the two terms. The cursor moves to the end of the string after typing a single character. To edit it you either have to select and delete, or keep clicking to bring the cursor back.

[2021-05-18 11:27] Pingger opened #96 "[BUG] Cloud ignores 'delay' setting of alarms"
**Describe the bug**
The Netdata cloud ignores the `delay` setting of alarms causing extreme mail spam, when an alarm is jumping around the threshold

**To Reproduce**
Steps to reproduce the behavior:
1. Have an alarm to trigger at e.g. 2% packetloss (with `delay: up 1m multiplier 2 max 6h down 10m multiplier 2 max 12h`)
2. let the packetloss jump between 1% and 3%
3. Get hundreds of mail every da

[2021-05-19 02:08] bazwalt opened #97 "Server went unreachable. No email received."
Hi there,

To test my service, I shut off one of my virtual servers which have the netdata agent installed.

I've received alerts for this very recently without issue but for some reason when my node goes unreachable I do not get any email at all.

My netdata email is a gmail account. I know for certain that those nodes are configured to send an email for all alert types.

What can I do? I have ch

[2021-05-20 07:10] stelfrag commented on #4
Hi @Slind14 ! sorry for the long delay on this.

There is indeed inconsistency in the files, a lot of alerts for **mem.oom_kill** and a lot of **cgroup_ram_in_use**

Example (I know its cryptic)

![image](https://user-images.githubusercontent.com/52996999/118932773-16be6c80-b951-11eb-83ff-8b7e03ad1ddf.png)

The red highlighted area indicates that the "alert" is still active (no new update entry) a

[2021-05-20 11:35] Slind14 commented on #4
@stelfrag thank you for taking a look.

How does this explain this:
![image](https://user-images.githubusercontent.com/3914677/118971893-3add7600-b970-11eb-890b-f7ed1a4090a7.png)

For every alert there are 20-30 empty ones that never disappear.

[2021-05-21 10:39] dimko opened #98 "[BUG] Unreachable Node with alerts in Alerts Smartboard"
For the Frontend team

Environment: production

Some nodes were in erroneous state and they were switching between reachable/unreachable state.
Their status was changing in Alerts Smartboard, but when when the node was unreachable the alerts were still displayed both on the node (inside the node map), but the alerts popover as well.

When a node is unreachable we should not render the alerts, even

[2021-05-22 18:52] dimko opened #99 "[BUG] User doesn't land in invited space after following invitation email."
When an existing netdata user with already created spaces in her account follows an invitation link to join another space, she doesn't land in the invited space, but instead lands in the first space on her list of available spaces.

This is a bit confusing for users, as they don't instantly understand they have access to the new space.

Steps to reproduce:

1. User A is an existing user of netdata

[2021-05-22 19:06] dimko opened #100 "[BUG] Cannot Access User Profile when too many spaces"
Environment: production

One image a thousand words :P

![image](https://user-images.githubusercontent.com/19268853/119238255-205ef480-bb4a-11eb-8d57-a1e6c90a7644.png)

![image](https://user-images.githubusercontent.com/19268853/119238173-a75f9d00-bb49-11eb-85c3-b7183553b9a7.png)

When a user is a member of many spaces the User Avatar icon is pushed outside of the area the user can interact with.

[2021-05-25 19:45] Pingger commented on #96
The issue just got even worse. It got so bad, that I received the "Flood Protection"-Mail

With a minimum `up` delay (as stated) of 1 minute and minimum `down` delay of 10 minutes, this shouldn't even remotely occur!

[2021-05-26 12:43] dimko opened #101 "[BUG] Duplicate services in /claimed-nodes response"
When FE requests the available claimed-nodes in a room some services are reported as multiple times.

Below you can see the response for request to https://staging.netdata.cloud/api/v1/spaces/8a999544-9974-4fad-bea3-77fa1a8bfe65/claimed-nodes

{
  "updatedAt": "2021-05-25T12:20:43.19974468Z",
  "results": [
    {
      "nodeID": "699bedf8-a195-11ea-8ea2-96000034ea9c",
      "name": "debian-2gb-nbg

[2021-05-26 16:57] cakrit opened #102 "[BUG] When I click on an alarm, I usually see an empty chart"
Regardless of an individual agent's retention, users should NEVER see this:

![image](https://user-images.githubusercontent.com/43294513/119701001-c2136980-be08-11eb-949f-9b9a100282e7.png)

[2021-05-27 08:10] dimko opened #103 "[BUG] Visited Nodes trashcans icons not displayed correctly"
When nodes' urls are long visited nodes trashcans have different sizes and some times they are not even visible

![image](https://user-images.githubusercontent.com/19268853/119789888-20f5e300-bedc-11eb-90fb-7d807761e944.png)

[2021-05-27 08:12] dimko opened #104 "[BUG] Visited Node doesn't disappear directly after deletion"
When a user clicks on the trashcan to delete a visited note, the trashcan and the visited url disappears but the node remains in the list until user refreshes the page

![image](https://user-images.githubusercontent.com/19268853/119790245-729e6d80-bedc-11eb-84ee-aa1412219a23.png)

[2021-05-27 12:10] dimko opened #105 "[BUG] OS is set to Linux when user opens node in tab"
Reported OS is set to Linux when user clicks to open a node in a different tab.

When user refreshes page, OS resets to the original value.

This also affects the icons displayed in table view, as well as grouping in Nodes Tab and Alerts Smartboard.

![image](https://user-images.githubusercontent.com/19268853/119823423-7b536b80-befd-11eb-8cef-9774a2d19d3e.png)

After visiting the node

![image](ht

[2021-05-28 10:29] dimko opened #106 "[BUG] Datetime picker set to specific timestamp after user clicks active alert"
This is more of a user experience issue. Not a bug in the code.

The issue is more "dominant" when user clicks an alert that points to a timestamp outside of agent data retention.

Steps to reproduce:

1.  Navigate to Alerts Smartboard
2. Click on an active alert that points to an old timestamp for which the agent doesn't have any data.
3. User is re-directed to single node view tab to the chart c

[2021-05-28 11:01] manos-saratsis opened #107 "[BUG] Filter service or group by service does not return all possible results"
**Describe the bug**
Services are autodiscovered and are shown in the single node right bar but when you filter by service or group by service not all available services are shown. See NC space
**To Reproduce**
Go to Overview and filter by service
Go to Alert smartboard and group by service

**Expected behavior**
I would expect when grouping or filtering by service that all recognized services are

[2021-05-28 14:24] dimko opened #108 "[BUG] Nodes removed from War Room, may still appear to other users due to caching"
Space X, with Room Y with 10 nodes and 2 members (User A, User B)

5 of the nodes are unreachable

1. User A logs in and deletes the 4 unreachable nodes.
2. **User B is not logged in**.

Expected behaviour:

When User B logs in and visits Space X and Room Y she should see 6 nodes in total.

What happens:
User B logs in and visits Space X and Room Y, but she still sees 10 nodes inside the room.
Use

[2021-06-03 11:30] dimko opened #109 "[BUG] Chart data and EMPTY chart overlapping"
When user switches between different timeframes where in the first case the agent reports data and in the second one it doesn't have data (due to it being a newly created agent or timestamp outside of agent retention settings) the EMPTY message on the chart and chart data overlap.

![image](https://user-images.githubusercontent.com/19268853/120637769-f7a6fb00-c477-11eb-87e3-758fa93adbb8.png)

Easi

[2021-06-03 13:15] dimko opened #110 "[BUG] Agent Unreachable after Claiming"
Affects production environment

Claimed Nodes don't leave unreachable state after claiming them in Netdata Cloud.

Restarting the host seems to fix the issue temporarily and make the node start reporting data, however node drops to UNREACHABLE state again after a while.

[2021-06-03 14:26] dimko opened #111 "[BUG] Clicking on node name in alerts smartboard doesn't scroll to the affected chart"
Steps to reproduce:

1. Navigate to Alerts Smartboard for a node with alerts
2. Click on the node name for a node with alerts
3. User should be re-direced to affected node tab and scroll to the affected chart like it happens when you click on an active alert.

What happens now is that user is re-directed to the affected node tab but focus is on the top of the screen

Clicking on the alert name:

!

[2021-06-03 14:52] novykh commented on #111
Clicking on the node name, should just redirect the user to the node view. There is no context of an alarm at this point. @jjtsou assigning this to you.

[2021-06-03 15:09] manos-saratsis commented on #111
Closing this as when clicking on the node name the expected behavior is to go to the single node view

[2021-06-03 15:11] novykh commented on #111
@manos-saratsis I think there is something still to be fixed. Because it has the highlight and the alert line, while it shouldn't

[2021-06-03 15:12] manos-saratsis commented on #106
@dimko It's intended that clicking on an alert changes the date-time picker

[2021-06-03 15:12] #106 closed

[2021-06-04 10:44] dimko commented on #111
@manos-saratsis Yeah the issue is that we highlight the affected chart when user clicks the node name. If we don't want it to behave like clicking the alert name then we should not highlight.

[2021-06-04 10:47] dimko commented on #106
@manos-saratsis the issue is that it is confusing for the user because we do not notify him somehow that the selected datetime will be preserved. Even if it was designed this way doesn't mean that the user experience is the optimal.

@novykh what do you think about this?

[2021-06-07 08:48] dimko opened #112 "[BUG] Highlighted chart in sidebar doesn't correspond to the one displayed after checking an alert"
Environment production.

Steps to reproduce:

1. Navigate to Alerts Smartboard
2. Click to check an alert on a node with active alerts.
3. User is re-directed to single node's tab and affected chart is highlighted and marked.

What happens:
The chart selected on the side bar doesn't correspond to the one displayed and marked as affected with the alert.

![image](https://user-images.githubuserconte

[2021-06-07 13:51] dimko opened #113 "[BUG] Alert bar is displayed on every chart with the same name"
Affects production

Steps to reproduce:

1. Navigate to alerts smartboard
2. Click on alert name on a node A with active alerts
3. User is re-directed to affected chart. Bar with alert value is displayed on the chart
4. User switches to a different node B
5. User scrolls to a chart with the same name as the one the alert occurred on in the affected node A

What happens:
The bar marking the alert i

[2021-06-07 13:51] dimko commented on #113
@novykh can you please take a look?

[2021-06-07 14:17] dimko opened #114 "[BUG] Alert values not in sync with drawn bar in chart"
Maybe it was designed this way but this is very confusing for the end-user and will become much more confusing once the new alert details modal is in place.

What happens:
TL;DR alert values are not set to a specific value but instead changes all the time. It is also not in sync with what is drawn inside the chart canvas once the user clicks to check an active alert.

Once an alert occurs, alert v

[2021-06-08 10:48] dimko commented on #114
The issue seems to be a lot bigger than this specific flow. It seems that how we display the active alert is not correct and is very confusing. Some BE work is needed so extra attributes about first and last date of the alert are added to the payload until FE team starts working on it.

[2021-06-08 15:24] cakrit commented on #102
There was work done from the FE for this, but we saw yesterday with @novykh that the BE returned strange responses in certain cases, not respecting the `before` and `after` sent in the request.

[2021-06-08 15:27] cakrit commented on #107
The service grouping has some hard-coded mappings from certain collectors to certain groups of "Services". It was based on an old workbook that was also used to initially map those collectors to the same groups in the old website we had. Not sure where that mapping is stored in our implementation, perhaps it's a JSON that the FE uses, or it comes back from the BE. It's a matter of seeing what's no

[2021-06-08 15:36] papazach commented on #102
Hello, is this a critical production bug which we'll have to look into asap? Just wanted to be sure about this because I noticed the `priority/high` label.

[2021-06-08 15:39] cakrit commented on #51
@jacekkolasa I believe that this has been fixed for a while. Please close if that's the case.

[2021-06-08 15:46] cakrit opened #115 "[BUG] User redirected to the agent while signing up to the cloud"
Original report was in an internal project, history below. Several users have reported the same issue.

User is not able to sign-up to the cloud
#2062
dim08 opened this issue 12 days ago · 3 comments
Comments
@dim08

dim08 commented 12 days ago •
User has installed netdata docket image
clicks on "sign-up to the cloud" on the the agent dashboard
adds his email
gets join the cloud email
clicks on jo

[2021-06-08 21:45] novykh commented on #115
It's easily fixed by the frontend - to not redirect the user after sign in, even if there is a `redirect_uri`, but I believe we need to figure out what are the specs for that, before jumping into fixing this, and break something else - for example, we used to redirect for some reason, is there a flag that separates the two different states?

[2021-06-09 10:37] novykh commented on #115
So after checking the code (historically) this was happening since always, but only when signing up through oauth buttons. I believe a quick fix for that, is to provide a flag on the url (on newly created users) by the backend, like `new_account=true`. Thoughts?

[2021-06-14 16:30] manos-saratsis commented on #97
@bazwalt apologies for the very late response. Did you check under your account/Notifications to see if you receive notifications when your node is unreachable?

[2021-06-14 16:33] manos-saratsis commented on #56
We will plan in Q3 2021 improvements on making nodes obsolete

[2021-06-15 03:35] bazwalt commented on #97
I did yes.

[2021-06-15 12:42] OdysLam commented on #97
Hey @bazwalt,

Just to make sure that we are on the same page. You are talking about alerts that have been set up on Netdata cloud, are you correct?

Can you please send me your email over email at odysseas@netdata.cloud, so that we can find you in our systems and see if everything has been setup correctly?

[2021-06-16 09:53] manos-saratsis opened #116 "[BUG] Alert has been raised but the combination of alert value and alert timestamp is missing"
**Describe the bug**
When I go to chart from an alert on the Cloud, I see when the alert is raised but:
1)the combination of alert value:alert timestamp is not correct

**To Reproduce**
Go to a chart in Cloud from an alert

**Expected behavior**
The timestamp of an alert should have the corresponding alert value
The unit should be present

[2021-06-18 06:03] manos-saratsis commented on #102
Fixed, there is user feedback now
<img width="901" alt="Screen Shot 2021-06-18 at 9 03 30 AM" src="https://user-images.githubusercontent.com/19746055/122514112-b08a3f80-d00b-11eb-8d0b-1cbbca48f24e.png">

[2021-06-18 06:03] #102 closed

[2021-06-18 06:15] manos-saratsis commented on #51
Fixed and I am closing this

[2021-06-18 06:15] #51 closed

[2021-06-22 07:26] apostolidhs opened #117 "[BUG] down arrow stucks on the status charts"
**Describe the bug**
I press the down arrow and consistently get stuck on the status

**To Reproduce**
I press the down arrow and consistently get stuck on the status charts and I have to again click somewhere to restart scrolling.

**Expected behavior**
Should scroll without stucking

**Additional context**
Haven't noticed this behavior anywhere else

[2021-07-01 05:34] manos-saratsis opened #118 "[BUG] User sees blank screen after signing to Netdata with Firefox on Windows 10"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:	 Firefox at desktop windows 10, signing to Cloud
Chrome and Edge worked fine

**Expected behavior**
The user expected to go to Cloud

[2021-07-12 22:57] jackbucinskas opened #119 "[BUG] Node unreachable, no email alert"
**Describe the bug**
Suspended a cloud VM, Netdata Cloud acknowledged that the node was unreachable although no email was sent to say it was unreachable.

**To Reproduce**
1. Turn off node
2. Look at Netdata Cloud to see if the node is unreachable (this should send an email alert?)

**Expected behavior**
A clear and concise description of what you expected to happen.

https://learn.netdata.cloud/d

[2021-07-14 11:36] OdysLam commented on #119
Thanks, @jackbucinskas for posting the error here. I have notified our engineers and we will come back soon for triage.

it's unfortunate, but we will get to the bottom of it.

[2021-07-19 12:39] manos-saratsis commented on #119
@jackbucinskas Please check that reachability notifications are enabled by going to your Account/Profile/Notifications and check "All alerts and unreachable".

[2021-07-19 18:18] manos-saratsis opened #120 "[BUG] Multiple unknown alerts"
**Describe the bug**
When seeing an active alert often instead of seeing the alert name you see unknown_alert
**To Reproduce**
Steps to reproduce the behavior:	-
Please https://discord.com/channels/847502280503590932/847812128428916746/864635653177081916

**Expected behavior**
All alerts should have a valid alert name

[2021-07-19 23:16] jackbucinskas commented on #119
@manos-saratsis hey there, I attached a screenshot on my initial bug report. I have enabled "All alerts and unreachable" on all of my Netdata spaces on my account. Many thanks

[2021-07-22 16:47] hugovalente-pm opened #121 "[BUG] Missing navigation bar after running metric correlations"
**Describe the bug**
The user started running metric correlations. In the meantime, and while the process was running in the background, he moved to alerts. When he returned back to the node dashboard the process had finished, but the metric correlation navbar with the slider was invisible missing.
The navbar appeared after clicking the green button named metric correlations.

After running metric

[2021-07-23 09:18] novykh commented on #121
The bug is that it keeps any state of the metric correlations. Navigating to other pages should cancel and reset anything related. We cannot keep any state with the current implementation, since there are multiple moving parts needed to be taken into account. Like changing datetimes, going into other nodes, go again back into the same node through an alarm.
So, the bug is that the state doesn't re

[2021-07-27 14:48] hugovalente-pm opened #122 "[BUG] Custom Dashboard changes on composite charts are not displayed correctly"
**Describe the bug**
When a custom dashboard contains a composite chart and changes are made to it, filtering dimensions and/or changing the aggregation functions (avg, sum, min, max) these are not correctly persisted.

After a change is made and the dashboard is saved the next time the user goes to the custom dashboard the previous changes are not applied and the _original_ state is shown.

**To

[2021-07-27 14:51] hugovalente-pm commented on #121
@novykh agreed, in this case let's do a reset. Is there a way to notify the user if he moves to another tab the Metric Correlations process being executed will be lost?

[2021-07-27 16:09] manos-saratsis opened #123 "[BUG] FreeNAS cannot connect to Cloud"
**Describe the bug**
Users report that they cannot claim a FreeNAS

"Neither the plug-in or the FreeBSD package support the feature, and I haven’t been able to install it from source."
**To Reproduce**
Steps to reproduce the behavior:	No :(

**Expected behavior**
Claiming should always work

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Error logs**
1. Open develo

[2021-07-28 00:27] cjcox17 opened #124 "[BUG] Broken link"
**Describe the bug**
Broken read the documentation link

**To Reproduce**
Steps to reproduce the behavior:

From the left menu, if you click Claim Nodes, use the right pane, then scroll down to the link in green that says

The

link is broken.

**Expected behavior**
Link not to be broken

**Desktop (please complete the following information):**
 - OS: MacOS 12
 - Browser Safari
 - Version 15.0 (17

[2021-07-28 11:27] manos-saratsis commented on #124
@cjcox17 thx for raising it

[2021-07-28 13:28] hugovalente-pm commented on #124
Thanks @cjcox17 for spotting this.
This was fixed with a release we did yesterday so closing the bug.

[2021-07-28 13:28] #124 closed

[2021-08-03 19:21] dimko opened #125 "[BUG] Invited user cannot immediately join invited space"
Steps to reproduce:

1. User A with Space One
2. User B creates account and verifies her email
3. User A invites User B to Space One
4. User B clicks the Join Space CTA in the received email
5. User B visits cloud without an authenticated session
6. User B types her email in the input field and clicks _sign in by email_
7. User B follows the signin link in the Sign In email she received.
8. Instea

[2021-08-04 10:10] hugovalente-pm opened #126 "[BUG] Single Node view chart description different from charts directly on the Agent"
**Describe the bug**
When looking to the same node on Cloud on Single Node view and on the Agent directly we see differences on chart descriptions.

**To Reproduce**
Steps to reproduce the behavior:
Open one node on the Cloud on Single Node view and open the Agent page and see that there are differences on descriptions of some charts.

[List of the of the identified differences](https://docs.googl

[2021-08-04 11:27] andrewm4894 opened #127 "[BUG] Highlighting does not render from a url"
**Describe the bug**
Highlighted regions are not being respected by netdata cloud under certain circumstances.

**To Reproduce**

If i highlight an area in netdata cloud on a node:

![image](https://user-images.githubusercontent.com/2178292/128172693-d36e4154-aa7d-4665-a43a-05841ec14b2e.png)

And i try copy and paste that url (with the `highlight_after` and `highlight_before`) to open the same vie

[2021-08-04 14:00] manos-saratsis commented on #127
@apostolidhs this is in between a bug and a missing feature

[2021-08-05 09:49] ilyam8 opened #128 "A node's dashboard does not show new charts while http://${ip}:19999 does"
@lwbt commented on [Sat Jul 31 2021](https://github.com/netdata/netdata/issues/11385)

##### Bug report summary

I noticed that one of my nodes did not update in my space on https://app.netdata.cloud/spaces/. I imported more zpools (no recompiling of the agent) and added the ipmi plugin (recompiled the agent) after I first opened the node in my space. I kept the tab open. Not the browser tab, the

[2021-08-12 15:21] cakrit commented on #125
Plz check if it's something on the back-end.

[2021-08-12 19:16] novykh commented on #125
Maybe someone from the backend team is more suitable for this.

[2021-08-16 13:56] anastako opened #129 "When changing the time in the Datepicker date field, the new value is ignored"
When the user tries to change the time through the date picker the time stays the same ignoring the user's change on the input field.

<img width="724" alt="Screen Shot 2021-08-16 at 16 02 21" src="https://user-images.githubusercontent.com/23135936/129574985-f088eec0-02a0-4953-9f37-43d9b31455f7.png">

The user should be able to change the time also from that point as it happens on the Agent and si

[2021-08-18 04:34] avallintine commented on #119
Same problem here. Server running on VM and reporting data to Netdata Cloud just fine. Received a couple of warning email notifications while server was running, in fact. Shut down VM. Netdata shows status of server as unreachable, but I never received an email notification. Under Profile > Notifications have "E-mail" enabled and "All alerts and unreachable" selected.

[2021-08-21 12:26] cgnunezbantics opened #130 "[BUG] Template mail alert from httpcheck_web_service_unreachable say example.com on any job"
Hello. Great job.
I test alerts and saw a confusous mails.

In the template mail alert from httpcheck_web_service_unreachable say "example.com" on any job

To Reproduce, Create a httpcheck job and trigger the alert. The mail send have hardcoded subject with example.com.
Definition job:
[code]
Example subject: Critical, httpcheck_web_service_unreachable = 100 %, on example.com

Expected: Critical,

[2021-08-25 15:11] ilyam8 opened #131 "[Cloud] Sensor temperature on 2950x always show over heat in cloud dashboard. but it work fine in agent dashboard"
@pureexe commented on [Wed May 20 2020](https://github.com/netdata/netdata/issues/9110)

##### Bug report summary
Machine that use Threadripper 2950x is show incorrect sensor temperature in cloud but it show correctly in agent.

However, This problem doesn't happend in Threadripper 2920x and 3960x

![image](https://user-images.githubusercontent.com/1303847/82402613-16ae3700-9a87-11ea-94aa-2a557237

[2021-08-25 15:22] ilyam8 opened #132 "[Bug] Last Chart cannot be stretched on cloud"
@underhood commented on [Wed Jun 03 2020](https://github.com/netdata/netdata/issues/9259)

##### Bug report summary
On the screenshot below, you can see the local dashboard on left side and cloud one on right.
Due to cloud missing copyright information in the bottom you are not able to increase the vertical size of chart easily with the button marked red (red arrow pointing to it) if the window is

[2021-08-25 15:48] BenJule commented on #103
![screen-2021-08-25-17-45-44](https://user-images.githubusercontent.com/7575797/130822913-1b696a61-5288-4cb8-9e71-ecb95ba1f4e4.png)

yeah i have the same issue!

[2021-08-29 10:09] jonknud commented on #122
Hello Netdata Cloud Team,
is there a timetable when this issue is fixed?
I like the software a lot. The main reason for Nextada clode were composite charts. Now they doesn't work as expected.
sincerely
Jonas

[2021-08-30 10:34] novykh commented on #122
Later today, thank you

[2021-08-30 10:36] #122 closed

[2021-08-31 08:53] manos-saratsis commented on #130
@cgnunezbantics thx for your hint, we will consider changing the subject

[2021-08-31 13:08] anastako opened #133 "[BUG] - Sign in to netdata.cloud broken link"
When user selects the link "Sign in to netdata.cloud" the links results in 410 as shown on the video.

**To Reproduce**
Steps to reproduce the behavior:
Try to sign in to netdata.cloud from the top left corner of the agent screen.

https://user-images.githubusercontent.com/23135936/131507592-34537238-0a13-46cd-8deb-6cf70813c98f.mov

**Expected behavior**
To sign in to netdata.cloud

**Desktop (ple

[2021-08-31 13:24] chrikar commented on #133
Hey @anastako ,

Are you using brew to install the netdata agent by any chance? Because that agent is probably outdated and could cause some problems.
If that is the case I would suggest to either use docker to install netdata as that would be cleanest/fastest solution to get netdata up and running:
https://learn.netdata.cloud/docs/agent/packaging/docker

Or try to install netdata on mac from sour

[2021-08-31 13:26] anastako commented on #133
Thank you! Yes, I used brew indeed! 🙏

I will do what you advised me!

[2021-08-31 16:20] manos-saratsis commented on #133
@anastako please install through Kickstart and if it works please close the bug

[2021-09-03 23:53] Jayto1 opened #134 "[BUG] Node agent needs update error"
**Describe the bug**
Netdata cloud says node agent needs to be updated to v1.2.6 despite being v1.31.0 when visited through local WebUI

**Screenshots**
![image](https://user-images.githubusercontent.com/79473923/132075032-bcf6f886-92d6-47c3-ba05-a2bb0899feb3.png)
![image](https://user-images.githubusercontent.com/79473923/132075039-abd95473-3a80-4b1e-a048-d4fa1841f1a3.png)
![image](https://user-i

[2021-09-04 14:01] ValiDrv opened #135 "[BUG] Login Page error: Uncaught RangeError: Invalid time zone specified: Antarctica/McMurdo"
There is a javascript bug on your main page: http://app.netdata.cloud/ which causes the page not to render.

OS: Ubuntu 18.04.3 LTS
Browser Chrome Version 78.0.3904.108 (Official Build) (64-bit)
Timezone: America/Toronto

Replication steps:
go to: http://app.netdata.cloud or https://app.netdata.cloud/sign-in
I get a blank page (nothing renders)

Console error:
Uncaught RangeError: Invalid time zon

[2021-09-09 06:25] cakrit commented on #118
Fix has been deployed to production and user verified it works yesterday.

[2021-09-09 06:25] #118 closed

[2021-09-14 11:57] Pingger commented on #96
Small update: The issue still persists

[2021-09-14 15:07] manos-saratsis commented on #131
@hugovalente-pm can we please check data integrity between Agent & Cloud?

[2021-09-14 15:09] manos-saratsis commented on #128
@hugovalente-pm good if you can take a look

[2021-09-14 18:41] manos-saratsis commented on #96
@Pingger within the next couple of weeks we will deploy major changes that resolve this issue

[2021-09-14 21:09] hugovalente-pm commented on #128
@novykh @apostolidhs I'm not sure this is a FE issue but it seems. is there some kind of _metadata_ caching or other thing that could cause this behaviour? on the cloud we only get data for new charts after we close the Single Node view and open it again

[2021-09-14 21:14] hugovalente-pm commented on #131
Will probably ask Kostas to see if this is something he can help confirm or we need to ask BE and Agent from ViIsualizations team.

[2021-09-15 10:04] underhood commented on #131
As per discussion on Slack. I suspect this is a dashboard aggregating the 2 dimensions of the temperature chart (by summing them).

[2021-09-15 11:35] hugovalente-pm commented on #131
Thanks @underhood , let's see if we can review the default aggregation for metrics with temperature as a measurement

[2021-09-16 08:08] underhood commented on #131
As per investigation with @ilyam8 when you add metric in `node view`:
![Screenshot from 2021-09-16 10-04-18](https://user-images.githubusercontent.com/6674623/133574760-582bc570-8b8e-4a27-a4d7-7554b96c5d4c.png)
Following pop-up shows:
![Screenshot from 2021-09-16 10-00-49](https://user-images.githubusercontent.com/6674623/133574986-6db262fa-26e5-4f59-96c1-f9c488bfe116.png)

It says we indeed seem

[2021-09-16 12:37] #135 closed

[2021-09-21 12:38] #133 closed

[2021-09-23 08:24] hugovalente-pm opened #136 "[BUG] Dimensions/Nodes across charts don't keep the same colour"
**Describe the bug**
When I'm looking to charts, for example, that are grouped by Node on the Overview screen the dimensions colouring isn't kept.

This doesn't allow for easy readability and processing of the data on the charts since one node in one chart has one colour and on the other it can have another.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Overview screen - ensure you

[2021-09-23 15:43] davidwadddell opened #137 "[BUG] Coring issues created from netdata on redhat 8.3"
**Describe the bug**
We are seeing several different coring issues created from netdata on redhat 8.3.
These are sporadic, we see occasionally (e.g. 1 in 3 days across 32 nodes) .

**To Reproduce**
Deploy netdata :
 rpm -qi netdata
Name        : netdata
Version     : 1.31.0
Release     : 1.el8
Architecture: x86_64
Install Date: Mon Sep 13 18:17:50 2021
Group       : Applications/System
Size

[2021-09-24 16:36] stelfrag commented on #137
Issue moved to [netdata/netdata #11571](https://github.com/netdata/netdata/issues/11571) via [**ZenHub**](https://www.zenhub.com/)

[2021-09-29 07:57] dimko opened #138 "[BUG] Last space deletion should not be allowed"
When a user has just a single space in her account, it is not possible for her to **leave or delete** that space.

Front-end disallows such actions with messages "User is not allowed to delete the last space".

However, we do not have such controls in the Backend.
A **DELETE** request targeting a user's **last space id** can be issued and delete the space, causing the account to be in an un-recove

[2021-09-30 08:22] ilyam8 opened #139 ""uknown_alert" fired from my host"
@r33int commented on [Wed Jun 23 2021](https://github.com/netdata/netdata/issues/11279)

##### Bug report summary

Hello, I am using Netdata Cloud to monitor my hosts. Sometimes, my Proxmox host fires a critical "uknown_alert" with a very high value. This happens on moderate system load in a VM/container (installing software for example). When I click this alert, the panel is loading forever, so I

[2021-09-30 11:03] vinnygats opened #140 "[BUG] Broken layout on Adding chart to dashboards"
**Describe the bug**
Layout breaks after a certain amount of dashboards.

**To Reproduce**
Steps to reproduce the behavior:
Go to a chart > hit the three dots of the panel on the top right of the chart > hit "add to dashboard"
Make sure you have a populated amount of dashboards.
Can also check in the following link:
https://app.netdata.cloud/spaces/tsaousis/rooms/general/overview?modal=addToDashbo

[2021-09-30 14:13] cpipilas commented on #137
Issue moved to --> https://github.com/netdata/netdata/issues/11571

[2021-09-30 14:13] #137 closed

[2021-10-01 08:08] dimko opened #141 "[BUG] Node List modal breaks when too many nodes"
Nodes overlap the filtering field and bulk actions cog.

![image](https://user-images.githubusercontent.com/19268853/135586829-d14f34f5-f1df-4c9b-b3dd-d98c6f95cc54.png)

[2021-10-01 08:11] #110 closed

[2021-10-01 08:14] #114 closed

[2021-10-04 08:32] TonyPath commented on #125
![req_calls](https://user-images.githubusercontent.com/2017356/135814763-b1041590-d58f-4202-993d-a3c254574125.png)

Following the steps to reproduce the issue, i noticed an interesting behavior. FE fires 2 `join-callback` requests. The first one gets cancelled while the second gets completed.

Now, the fact that the first request gets cancelled from FE side doesn't mean that the request in server

[2021-10-04 08:41] dimko commented on #141
Closing this. Fixed and deployed.

[2021-10-04 08:41] #141 closed

[2021-10-06 03:05] Jayto1 commented on #134
seems to be fixed

[2021-10-06 03:05] #134 closed

[2021-10-06 09:47] LeCodeCo opened #142 "[BUG] Deleting a space results in an error."
**Describe the bug**
Deleting a space results in an error. This only appears to happen on some spaces as I have successfully managed to delete a newly created one.

**To Reproduce**
Manage Space -> Delete Space -> Error in browser console

**Expected behaviour**
I expect the space to be deleted.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-ima

[2021-10-06 18:53] wagnerwanderley opened #143 "[BUG] Failed to Get ACLK environment"
Hi friends, I've been having problems connecting an agent to the netdata cloud. Checking logs in /var/log/netdata/error.log
I have the following feedback

2021-10-06 05:29:10: netdata INFO  : ACLK_Main : Attempting connection now
2021-10-06 05:29:10: netdata ERROR : ACLK_Main : Cert Chain verify error:num=10:certificate has expired:depth=3:/O=Digital Signature Trust Co./CN=DST Root CA X3
2021-10-0

[2021-10-06 19:56] chrikar commented on #143
Hi @wagnerwanderley,

Thank you for reaching out.

This is a known issue due the openssl: https://community.netdata.cloud/t/certificate-verification-error-connecting-to-the-cloud/1790

Could you please update your ca-certificates package and try again?

[2021-10-11 10:29] kaskavel opened #144 "[BUG] Internal error handling"
**Describe the bug**
There are several cases where from the user's perspective, in the UI we give some very generic Server Errors (like the ones attached in the Screenshots), without really passing to the user more information that we might have available.

**To Reproduce**
We got these errors during an Alerts DB failover test.

**Expected behavior**
We should be giving the user a better understan

[2021-10-11 11:00] kaskavel opened #145 "[BUG] Polling requests' optimisation"
**Describe the bug**
There are several requests the FE does to the BE (eg: /active), which in case we have a large number of nodes within a room have large response times. Some of these, are polling with a certain frequency. When the response times are high enough, this results in a very heavy UI leading to an unresponsive tab or even a blank screen.

For example, these response times were logged

[2021-10-12 12:45] vinnygats opened #146 "[BUG] Check your email message form comes on display while user relogs via e-mail"
**Describe the bug**
As an existing user of Netdata cloud, if I sign out and attempt to sign in again by clicking "Sign in by e-mail" the "check your e-mail" form comes back on display. It forces me to go to my email and click the link provided.
This does not occur when I sign in by clicking "continue with google".
**To Reproduce**
Steps to reproduce the behavior:
As an existing Netdata Cloud user

[2021-10-12 12:49] hugovalente-pm opened #147 "[BUG] Composite charts info gets cut on Group by Dimension"
**Describe the bug**

When we are on a composite chart and change the Group by, for example, from **Dimension** to **Node** and then we select a specific dimension the word of the aggregation (Sum) is taken out but the work **of** still remains there.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to a composite chart on Overview tab, e.g. system.cpu
2. Change the Group By to **Node**
3

[2021-10-12 12:54] hugovalente-pm opened #148 "[BUG] Composite charts when on a stacked chart when Group by is Node or Chart should not be stack"
**Describe the bug**

When I'm seeing a composite stack chart and I change the Group by from **Dimension** to **Node** or **Chart** the chart type should automatically be changed to a **line chart**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to a composite chart on Overview tab, e.g. system.cpu
2. Change the Group By to **Node** or **Chart**
3. Chart type stays as **stacked**

**Exp

[2021-10-12 13:22] hugovalente-pm opened #149 "[BUG] When going fullscreen we should remove the vertical resize option"
**Describe the bug**

When entering the fullscreen mode of a chart I should not be able to resize the chart
Besides this not being an expected behaviour the change done will be taken into consideration on the page we came from, e.g. if I resize a chart that was on the Overview the resize change will take effect on the Overview page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a char

[2021-10-12 15:34] wagnerwanderley commented on #143
Hi @chrikar Thanks for the feedback, I'm using the following agent and the method below

Your netdata version: v1.31.0-370-nightly
bash <(curl -Ss https://my-netdata.io/kickstart.sh)

I've tried to do everything to solve the problem but it persists.

[2021-10-13 08:20] hugovalente-pm opened #150 "[BUG] Dimension/node name gets cut on tooltip when it is big"
**Describe the bug**

When the dimension/node name is very big this get's cut on the tooltip

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a chart
2. Choose group by node - you need to have a node with more than , e.g. `netdata-parent-1234567890-xyz12`
3. See that it gets cut after the 22nd character

**Expected behavior**

The name should be distinguishable among the list, either:
a

[2021-10-13 08:27] hugovalente-pm opened #151 "[BUG] Dimension/node name gets cut on legend at the bottom of the chart when it is big"
**Describe the bug**

When the dimension/node name is very big this get's cut on the tooltip

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a chart
2. Choose group by node - you need to have a node with more than , e.g. netdata-parent-1234567890-xyz12
3. See that it gets cut after the 22nd character

**Expected behavior**
There should be a way where name should be distinguishable amon

[2021-10-13 12:08] hugovalente-pm opened #152 "[BUG] On Single Node view page dimensions aren't keeping same context color"
**Describe the bug**

On previous version of charts the same dimensions where keeping the same colour across charts on the same context, with the new version this isn't kpet.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **Applications** section
2. Check **apps.cpu_system** and **apps.preads** charts for the dimension **netdata**
3. This has a different colour across charts

**Expect

[2021-10-13 12:16] anastako commented on #151
@hugovalente-pm @novykh @apostolidhs

Due design's current limitations, it is better to have an approach like on the nodes page (with three dots in the middle) and to add a tooltip to show the whole name.

Example on Nodes
![image](https://user-images.githubusercontent.com/23135936/137129886-dc490645-2acb-438f-986e-c79df580bd6a.png)

[2021-10-13 15:06] pmiriyev opened #153 "unreachable alerts not receiving"
Hi there,

Not receiving unreachable alerts from netdata.

[2021-10-13 22:49] hugovalente-pm opened #154 "[BUG] When changing definitions on composite chart these aren't taken into consideration on load of page"
**Describe the bug**

When I make a change on the definition a composite chart on the Overview screen these aren't taken into consideration when the chart is loaded (move to another tab and come back or reload the page).

**To Reproduce**
Steps to reproduce the behavior:
1. With Charts 2.0 enabled
2. Go to Overview page and on `system.cpu` chart
3. Change Group By to **Node** and the change All di

[2021-10-13 23:03] hugovalente-pm opened #155 "[BUG] Charts where Y-axis value is constant during timeframe don't show a line"
**Describe the bug**

When a chart has a constant value on the Y-axis this is not understandable on Charts 2.0, the min value of the axis seems to be set to that value.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Charts 2.0
2. Go to Overview on, for example,  chart `net_operstate.dummy0`
3. The horizontal line is not visible you just see the chart has some date with the tooltip

*

[2021-10-14 08:09] hugovalente-pm opened #156 "[BUG] Time measurement based charts get value reset after 24h"
**Describe the bug**

When you have a time measurement based chart when the value exceeds the 24h this is reset, it doesn't show more than one day.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Charts 2.0
2. Go to a time measurement based chart, e.g. `netdata.uptime`
3. If the value is longer than 24h it resets

**Expected behavior**

After 24h we should be counting days plus the ho

[2021-10-14 12:54] Z-Zen opened #157 "[BUG] Failed to connect to https://app.netdata.cloud, return code 60"
**Describe the bug**
Trying to install `Netdata` on a machine with a connection to `Netdata Cloud` using the token. `Netdata` gets installed but the connection to the cloud fails by giving the following error:
[code]

**To Reproduce**
Command line given:
[code]

**Desktop (please complete the following information):**
 - OS: Debian GNU/Linux 9 (stretch)

**Additional context**
The same command lin

[2021-10-14 15:19] acsfer opened #158 "[BUG] CPU needle doesn't move anymore on different CPU load"
**Describe the bug**
CPU needle is static.

**To Reproduce**
Move cursor on metrics, needle should follow the CPU load.

**Expected behavior**
Move cursor on metrics, needle should follow the CPU load.

**Screenshots**
![image](https://user-images.githubusercontent.com/12234510/137347386-d74d64c3-c5b6-48b3-bdd8-7f58fa491359.png)

**Desktop (please complete the following information):**
 - OS: [e.g

[2021-10-14 15:22] Jayto1 commented on #156
Thanks hugo 👍

[2021-10-14 15:26] wagnerwanderley commented on #143
@underhood Unfortunately no, I consulted the netdata log again and the problem persists, I think I'll leave it as it is. Since my intention was simply to receive alerts via email, but I've already configured them to receive via telegram.

2021-10-14 15:23:16: netdata INFO  : ACLK_Main : Attempting connection now
2021-10-14 15:23:16: netdata INFO  : ACLK_Main : HTTPS "GET" request to "app.netdata.c

[2021-10-14 16:25] manos-saratsis commented on #142
@LeCodeCo Apologies for the late response. You cannot delete your last space. We should be providing some feedback and is a known thing to improve. Cc @Yannis-San
In case you want to have your last space deleted you need to delete your account.
Is it the case with your bug?

[2021-10-14 18:25] underhood commented on #143
@wagnerwanderley also it would be helpful to paste output of:
- `netdata -W buildinfo`
- `ldd netdata`

[2021-10-14 19:42] wagnerwanderley commented on #143
@underhood I can install yes, what should I do?

[2021-10-15 11:18] hugovalente-pm opened #159 "[BUG] Top bar badges get cut with lower resolutions"
**Describe the bug**

With the introduction of the `Lab features` component the existing responsiveness issue of the top bar was highlighted, we took free space that gave _manouvering_ margin on smaller screens.

Now the top bar War Room members and Nodes information badges gets cut on lower resolutions, e.g. 1152x732

Note: There is also a ticket on the Agent for this Agent dashboard top bar gets

[2021-10-18 13:46] #154 closed, assigned to novykh, apostolidhs

[2021-10-18 13:46] #147 closed, assigned to novykh, apostolidhs

[2021-10-18 13:46] #151 closed, assigned to novykh, apostolidhs

[2021-10-18 13:46] #149 closed, assigned to novykh, apostolidhs

[2021-10-18 13:46] #155 closed, assigned to novykh, apostolidhs

[2021-10-18 13:46] #156 closed, assigned to novykh, apostolidhs

[2021-10-18 16:57] hugovalente-pm opened #160 "[BUG] Placement of minx and max figures on gauge"
**Describe the bug**

Min and max values placement on gauges isn't not ideal, these get overridden by the actual gauge

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Charts 2.0
2. Go to Overview or Single Node view tabs
3. Look to System Overview gauges

**Expected behavior**

Min and max value shouldn't be overridden by the actual gauge element.

**Screenshots**

Charts 1.0
![image]

[2021-10-19 08:22] hugovalente-pm opened #161 "[BUG] Dimension legend gets out of bounds on Firefox"
**Describe the bug**

When the dimensions' legend is bigger than the width of the chart on Firefox this gets out of bounds and overrides existing content.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Charts 2.0
2. Go to a chart that as more than 10/11 dimensions - goal is for dimensions list to be bigger than width of the chart
3. See that the dimension will get out of bounds overr

[2021-10-19 14:44] manos-saratsis commented on #119
@avallintine  and  @jackbucinskas we are working on this but it will take some weeks to see it fixed. Closing as a duplicate, let's track with https://github.com/netdata/netdata-cloud/issues/97

[2021-10-19 14:44] #119 closed

[2021-10-19 14:45] #153 closed, assigned to nobody

[2021-10-21 08:05] #152 closed, assigned to novykh, apostolidhs

[2021-10-21 14:09] anastako commented on #159
Figma File :
https://www.figma.com/file/tUaZl2Wzh8KQZYdfdqBf4A/%23159--Top-bar-badges-get-cut-with-lower-resolutions?node-id=0%3A1

[2021-10-22 17:10] hugovalente-pm opened #162 "[BUG] Composite charts appear empty even though 1 node has data to provide"
**Describe the bug**

A composite chart that retrieves data from multiple nodes appears as empty even though, at least, one node has data to provide

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a composite chart on the Overview tab, e.g. systen.cpu_pressure
2. Check that more than one node should provide data for it and others are unreachable
3. Data on the chart appears as empty
4.

[2021-10-23 17:20] Jayto1 opened #163 "Would it be possible for the team to change the email address associated with my Netdata cloud account? Thanks."
I also think you should also be able to change this manually as it's a pretty big security risk if you cant and your current email is compromised for example.

[2021-10-23 18:04] vankxr opened #164 "[BUG] Deleted Space comes back after refresh and causes lots of errors"
**Describe the bug**
When a space is deleted it appears to work, however, when the page is refreshed, the deleted workspace is present in the sidebar, and, when selected, produces lots of errors in the console saying it cannot find the space.

**To Reproduce**
-Create a second workspace so that your account has at least two.
-Delete the space created by default when the account was created.
-Refre

[2021-10-25 11:29] hugovalente-pm opened #165 "[BUG] Whitescreen showing when navigating between Single Node tabs"
**Describe the bug**

While navigating between Single Node tabs we get a whitescreen error.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Charts 2.0
2. Go to Overview
3. Open one node in a Single Node view
4. Open another node in a Single Node view
5. Change between Single Node view tabs

**Expected behavior**

No error should happen and I should be able to switch tabs as many times

[2021-10-25 14:32] hugovalente-pm opened #166 "[BUG] Charts with a single datapoint on older versions of the agent"
**Describe the bug**

When Charts 2.0 are enabled we have a situation where only a single datapoint is displayed for agents that are running on older versions, e.g.  `1.31.0-370-nightly`

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Charts 2.0
2. Go to a War Room where you have the an agent with the version `1.31.0-370-nightly`
3. Go to Single Node view
4. Only one datapoint is show

[2021-10-26 07:26] dimko opened #167 "[BUG] Deleted space is not considered deleted by the front-end"
Steps to reproduce:

1. As **User A** create a space, **Space1**
2. Invite **User B** (old user with account) to join **Space 1**
3. **User B** with existing account successfully joins **Space 1**
5. **User A** leaves **Space 1**
6. **User B** leaves **Space 1**
7. **Space 1** is deleted since no user is any longer associated with it.
8. **User B** still sees the deleted **Space 1** in the side ba

[2021-10-26 08:32] #164 closed, assigned to allelos

[2021-10-26 08:32] #167 closed, assigned to manos-saratsis

[2021-10-27 08:00] maxsot100 opened #168 "Errors after automatic updates (bad version of files)"
'''Since this night, we are experiecing errors in the startup of Netdata, after automatic updates. It looks like the binary downloaded are for ARM architecture, but we are on Intel X86_64. Moreover, if we reinstall the application via script, it throws an error with the checksum of the tarball. Can you please help us? Thanks '''

[root@vmsrv-21 ~]# uname -a; grep -Hv "^#" /etc/*release
Linux vmsrv

[2021-10-27 15:27] #165 closed, assigned to novykh

[2021-10-27 17:33] hugovalente-pm opened #169 "[BUG] Resize icon gets overridden"
**Describe the bug**

Chart resize icon gets overridden or out-of-bonds when there are a lot of dimensions to show on the legend, e.g when the horizontal scrollbar is activated

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Charts 2.0
2. Go to a chart with some dimensions, e.g. apps.cpu
3. See that resize icon is not present, override by dimension

**Expected behavior**

Some space s

[2021-10-28 09:33] #166 closed, assigned to apostolidhs

[2021-10-28 14:19] hugovalente-pm opened #170 "[BUG] Tooltip placement issue with Firefox"
**Describe the bug**

There is an issue with the chart tooltip placement, it doesn't follow the mouse cursor while it navigates through the chart.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Charts 2.0
2. Use Firefox and go to a chart, e.g. system.cpu
3. Hover the chart and see that the tooltip appears
4. Move the mouse over the chart
5. Tooltip doesn't follow the movement

**Expe

[2021-10-28 14:31] hugovalente-pm opened #171 "[BUG] Scrollbars on Firefox have the system specific look & feel"
**Describe the bug**

Scrollbars don't have the expected look & feel, they have the systems look & feel

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Charts 2.0
2. Open Netdata on Firexo and go to, for example, apps.cpu chart
3. See that the scroll bar on the dimensions legend, if it applicable, isn't have the expected look & feel
4. The same happens on the navigation menu of the ch

[2021-10-28 14:45] hugovalente-pm opened #172 "[BUG] Charts with pre-fixed max value on Y-axis lose it after two vertical zooms"
**Describe the bug**

After two (or more) vertical zoom actions are done the charts that had a pre-fixed max value on the Y-axis lose it.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Charts 2.0
2. Go to a chart that as a pre-fixed Y-axis value, e.g. system.cpu
3. Do a vertical zoom
4. Do a second vertical zoom on top of the previous
4. Reset it by playing the chart again
5. See tha

[2021-10-28 16:44] hugovalente-pm opened #173 "[BUG] Tooltip issue with values displayed"
**Describe the bug**

When navigating with the mouse over the lines of a chart when there is an intersection with your cursor and the chart lines the tooltip works ok, but once this intersection is lost the tooltip seems to just some values. While navigating the chart with the cursor, if there is no intersection with the chart, the date period is updated but the values aren't even though dimension

[2021-10-29 08:44] manos-saratsis opened #174 "[BUG] Netdata agent alert notification redirect not working for users who are not signed in"
**Describe the bug**
When getting an alert notification and testing the redirect link: Iif you're already signed in to the cloud, have visited the node while signed in etc. the redirect works just fine. But if you have done all that and are currently NOT logged into the cloud and have to go through the login screen, the Cloud forgets you wanted to redirect and send you to the default spaces screen

[2021-10-29 17:45] hugovalente-pm opened #175 "[BUG] Composite chart group by change to node pre-selects a dimension"
**Describe the bug**

When I change a composite chart from group by `Dimension` to by `Node` the chart automatically pre-selects a dimension instead of showing all. Then when trying to select all, if the list is to big, it is impossible to do it

Also if I do a `reset` I get the original settings but still no data is shownd

**To Reproduce**
Steps to reproduce the behavior:
1.  Enable Charts 2.0
2

[2021-10-30 16:44] Jayto1 opened #176 "[BUG] Save button sometimes appears when no changes were made"
Save button sometimes appears when no changes were made.

![image](https://user-images.githubusercontent.com/79473923/139541779-dfd140f0-b8dc-49d1-b846-75825de73dac.png)

[2021-10-30 18:05] #163 closed

[2021-10-31 18:28] manos-saratsis commented on #176
@Jayto1 thx for the feedback!

[2021-10-31 18:32] manos-saratsis commented on #146
@vinnygats

[2021-10-31 18:32] #146 closed

[2021-10-31 18:50] Ferroin commented on #168
This should be resolved now. @maxsot100 if you could re-test and vverify if you are still having issues, that would be appreciated.

[2021-11-01 13:41] dimko opened #177 "[BUG] Charts reset to PLAY when switching tabs"
Steps to reproduce:

1. Signin to Cloud
2. Navigate to single node view (or Overview screen, it works the same way)
3. Enable Charts 2
4. **Pause** charts
5. Navigate to another tab (overview, alerts, dashboard, nodes, it doesn't matter)
6. Charts start playing again although they should be Paused (as per user selection)

This seems to be a regression from charts 2 for the play/pause functionality

[2021-11-01 13:45] dimko opened #178 "[BUG] Date time selection resets when switching tabs"
Steps to reproduce:

1. Sign in to Cloud
2. Enable Charts 2
3. Navigate to Single Node View (or Overview, the result is the same)
3. Edit date time selection and select a value different than the default one (e.g last 5 minutes)
4. Navigate to a different tab (if you were in Single node view, select Overview, dashboard, alerts, nodes tabs)
5. Date time selection resets to the the default one (last

[2021-11-01 13:46] dimko commented on #178
@manos-saratsis @hugovalente-pm this seems to be a regression from charts 2. I am not sure which team is responsible for it. Please change assignees and team if necessary

[2021-11-01 13:46] dimko commented on #177
@manos-saratsis @hugovalente-pm this seems to be a regression from charts 2. I am not sure which team is responsible for it. Please change assignees and team if necessary

[2021-11-02 08:47] hugovalente-pm opened #179 "[BUG] On Charts 2.0 the gauge for Used RAM switches to MiB"
**Describe the bug**

On the previous version of Charts the "Used RAM" gauge was displaying a `%` value when you turn on Charts 2.0 this now displays a `MiB` value. This happens both on Overview and Single Node view tabs.

**To Reproduce**
Steps to reproduce the behavior:
1. Have Chart 2.0 disabled
1. See the "Used RAM" gauge on System Overview section on Overview tab, this shows a `%` value
1. En

[2021-11-02 09:16] hugovalente-pm commented on #178
@dimko checking with the guys, once I have more info will update assignees accordingly

[2021-11-02 10:13] manos-saratsis opened #180 "[BUG] When a node goes offline, the toast notification is not readable"
Have a node go offline and see the toast notification as the text is white on white background

[2021-11-02 10:36] cpipilas opened #181 "[BUG] Received alert with negative time on go.d_job_last_collected_secs"
I had a node installed in Ubuntu 20.04, received the following email alert:
<img width="705" alt="Screenshot 2021-10-28 at 11 25 22 AM" src="https://user-images.githubusercontent.com/30462769/139830511-98122bcf-ea5e-4ec9-871d-035ecc51b5c5.png">

and the specific chart:
<img width="888" alt="Screenshot 2021-10-28 at 6 27 59 PM" src="https://user-images.githubusercontent.com/30462769/139830619-8e68b

[2021-11-03 10:55] maxsot100 commented on #168
Yes, I confirm that the issue was solved. Thanks and kind regards.

[2021-11-03 10:55] #168 closed

[2021-11-03 14:03] manos-saratsis commented on #181
@chrikar @car12o can you please check if this is from the agent collector or an issue with Cloud?

[2021-11-03 14:04] manos-saratsis commented on #144
@kaskavel we have features to be shipped soon handling this case. Thx for raising

[2021-11-03 14:04] #144 closed

[2021-11-03 14:05] manos-saratsis commented on #157
@Z-Zen did you check if this is related to the [link](https://community.netdata.cloud/t/certificate-verification-error-connecting-to-the-cloud/1790) above

[2021-11-03 14:08] car12o commented on #181
sure, is it possible to know in which env did it happen and the agent details?
a simple way to get agent detail is through this command:
[code]

[2021-11-03 14:19] Z-Zen commented on #157
Hello,

Sorry for coming back late.

Before anything else, I tried to re-run the command line, both with and without claiming a room. And this is what I got:

[code]

[2021-11-04 09:35] jparaskakis commented on #181
Is this agent claimed to the cloud? Is the email coming from netdata cloud or the agent?

[2021-11-04 17:37] cpipilas commented on #181
Hey guys,

@car12o aclk ng used, cloud enabled, node claimed and working properly in cloud.
@jparaskakis emails were coming from cloud

Unfortunately I've deleted the env, it was an AWS lightsail VM with limited resources (1 core/1 GB RAM), running Ubuntu 20.04 with standard kickstart installation, no special configuration. Could not reproduce the issue with other similar VMs that I have there.

[2021-11-05 02:03] modem7 opened #182 "[BUG] Unable to remove war room or remove node from it"
Hi guys,

I have a war room that I wish to get rid of including all outdated nodes inside it.

Unfortunately not able to do so.

If I try to delete the out of date (and decommed) node i get:

![image](https://user-images.githubusercontent.com/4349962/140445889-eed3d14f-33e2-4b4d-8da7-2ef42edc7f00.png)

If I try to delete the war room, I get the following:

![image](https://user-images.githubuserco

[2021-11-06 21:55] hugovalente-pm commented on #173
@apostolidhs is this one deployed on staging?

[2021-11-08 15:50] manos-saratsis commented on #163
@Jayto1 thx moving it to the roadmap but it's not high prio for now

[2021-11-08 17:10] chrikar commented on #182
Hi @modem7 !

Thank you very much for reporting this to us.

Could you please clear your cookies and cache for the netdata site and try again?

[2021-11-08 18:12] car12o opened #183 "[BUG] Unable to perform some actions on the sidebar navigation."
**Describe the bug**
Unable to perform some actions on the sidebar navigation, clicking on the icons/dropdowns does not trigger any action.
- Unable to remove node by clicking on the trash bin icon;
- Unable to remove nodes by checking the desired ones and then clicking remove on the dropdown;
- Unable to remove users from a space;
- Unable to change user role from a space;

**To Reproduce**
There

[2021-11-09 08:19] Pingger commented on #96
not sure if those major changes have already been deployed, but the issue _still_ persists

[2021-11-09 14:00] chrikar commented on #182
To elaborate a bit, please go to your browser's privacy settings, select to "See all cookies and site data", filter using "app.netdata.cloud" and delete the listing that shows up as shown here:
![Screenshot 2021-11-09 at 15 56 06](https://user-images.githubusercontent.com/2836342/140937547-34ba5dac-8873-42b4-9325-7c1ee9f3d903.png)

[2021-11-09 16:25] modem7 commented on #182
Heya,

Sorry for the delay!

Unfortunately, still no go. Same error.

I even attempted it on another browser (edge) just to make sure.

[2021-11-10 12:31] hugovalente-pm opened #184 "[BUG] Call to composite charts returns message for missing data when there is data displayed"
**Describe the bug**

When on a composite chart we see an occurrence of the message that there isn't historical data to display but in fact there is.

**To Reproduce**

This happens when `/charts` response has a with first_entry, e.g. 1636538746, and the `/data` response as a different first_entry , e.g. 1636538749, then the first element in the `result.data` of `/data` it has another one, e.g. 16

[2021-11-10 12:33] hugovalente-pm commented on #184
**charts**

extract just of the specific chart
[code]

**data**
[code]

[2021-11-10 12:36] hugovalente-pm commented on #184
@papazach comment:

[2021-11-11 10:58] chrikar commented on #182
Thank you @modem7!

We're going to need some user/room information to proceed with this. Could you please contact me on the [Netdata Discord](https://www.netdata.cloud/blog/netdata-is-launching-its-discord-server/) for that? You can find me as `christosk` with a "Netdata Team" tag.

[2021-11-11 11:56] hugovalente-pm opened #185 "[BUG] Composite charts for WMI return no data when using API v2"
**Describe the bug**

On a War Room with more than one node running the WMI exporter when adding mini-charts on the Nodes tab we get **no data** results when using API v2.

**To Reproduce**
Steps to reproduce the behavior:
1. Ensure you have more than one node running the WMI exporter
2. Enable Charts 2.0
3. On Nodes tab add some specific wmi charts, e.g. `wmi.cpu_interrupts`
4. Check that charts

[2021-11-11 13:51] #169 closed

[2021-11-11 13:51] #179 closed

[2021-11-11 13:53] hugovalente-pm commented on #175
Same charts when changed group by to `Node` have a specific setup to select a specific dimension, e.g. system.load choses `load1` as default.

[2021-11-11 13:53] #175 closed

[2021-11-11 13:54] #172 closed

[2021-11-11 13:56] #177 closed

[2021-11-11 13:56] #178 closed

[2021-11-11 13:56] #170 closed

[2021-11-12 18:06] hugovalente-pm opened #186 "[BUG] Adding charts to custom dashboard doesn't keep configuration or loses actions"
**Describe the bug**

When adding composite charts with specific configurations of **Group by** and **Dimension selection** these aren't kept when adding them to a custom dashboard and sometimes not all charts are kept.

**To Reproduce**
Steps to reproduce the behavior:
1. On Overview change the Core utilization (cpu.cpu) chart to **Group by** node and see `guest` is the dimension selected
2. Add

[2021-11-15 08:29] aashley opened #187 "[BUG] Perth Timezone Incorrect"
**Describe the bug**
The timezone selector does not include Australian Western Standard Time (UTC+0800), it does include 'Perth' as an option but it appears that the small town Perth, Tasmania (UTC+1100) has been used instead of Perth, Western Australia (UTC+0800).

**To Reproduce**
Login to netdata cloud

**Expected behavior**
An entry for AWST

[2021-11-15 11:43] hugovalente-pm opened #188 "[BUG] Values on gauges are different between charts 1.0 and charts 2.0"
**Describe the bug**

The values displayed on gauges change between Charts 1.0 and Charts 2.0, this seems to be related to the conversions applied to the data coming from the BE.

**To Reproduce**
Steps to reproduce the behavior:
1. Have Charts 1.0 enabled
2. Go go the Overview tab on System Overview
3. See values shown on the gauges
4. Enable Charts 2.0
5. Go go the Overview tab on System Overvie

[2021-11-15 16:07] dimko opened #189 "[BUG] DateTimePicker breaks after play/pause following an alert re-direct"
Steps to reproduce:

1. Navigate to a node with an active alert
2. Click Run Correlations from inside the alert details modal
3. Once re-directed to single node view, resume the charts by clicking the PAUSE button inside the datetimepicker
4. DateTime switches to 1970 as starting date
5.  Playing/Pause button does not work when clicked
7. Only solution is to select last X minutes in the datetime p

[2021-11-15 16:12] dimko opened #190 "[BUG] Running metrics correlation for active alert throws error"
Steps to reproduce:

1. Navigate to a node with an active alert
2. Click run correlations button inside alert details modal
3. Once re-directed to single node view with metrics correlation period pre-selected corresponding to that alert, click Find Correlations
4. White screen and console error

[2021-11-16 12:28] papazach commented on #185
I see that in the first case (v1) the the request is fired without a value for the `dimensions` query parameter while in the second I see that the value that is used is (url decoded):

```cpu_core_0,5_interrupts|cpu_core_0,10_interrupts|cpu_core_0,3_interrupts|cpu_core_0,0_interrupts|cpu_core_0,8_interrupts|cpu_core_0,9_interrupts|cpu_core_0,2_interrupts|cpu_core_0,4_interrupts|cpu_core_0,12_inter

[2021-11-16 12:52] hugovalente-pm commented on #185
@apostolidhs @novykh @papazach had a look into this one and his initial finding are true, if you remove the dimensions on Chart 2.0 it works

do you guys know why the request url is built differently when v2 front-end charts is toggled?
if we could leave it empty it would prefectly

[2021-11-16 13:02] #190 closed

[2021-11-16 13:02] #189 closed

[2021-11-16 13:03] #186 closed

[2021-11-16 13:03] #185 closed

[2021-11-16 13:14] novykh commented on #183
No need to fix this since toggle will be removed in the next days.

[2021-11-16 13:14] #183 closed

[2021-11-16 13:17] novykh commented on #145
Fixed some time ago.

[2021-11-16 13:17] #145 closed

[2021-11-17 02:11] vuong-bse opened #191 "[BUG] Error when install node on Agent because error package libbpf"
I connect a new node by code rendered on cloud, and got error same is: https://github.com/libbpf/libbpf/issues/403
I found a solution by edit file in here.
https://github.com/libbpf/libbpf/commit/2ab26159262b61c7725c97a92beb46c5cfda068b

[2021-11-17 14:05] cakrit commented on #191
Closing this, opened a report in the agent repo: https://github.com/netdata/netdata/issues/11796

[2021-11-17 14:05] #191 closed

[2021-11-17 18:36] thiagoftsm commented on #191
Thank you very much @vuong-bse for your report, the PR will fix the issue.

Best regards,

Thiago

[2021-11-18 09:12] manos-saratsis opened #192 "[BUG] Chart dimensions color in the legend and within the chart do not match"
**Describe the bug**
The chart dimensions are ordered by value but the colors within the chart do not match

**To Reproduce**
Steps to reproduce the behavior:
Go to a stacked chart, order dimensions and switch the chart type to line. More cases might exist

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help

[2021-11-18 11:35] jjtsou commented on #111
https://github.com/netdata/cloud-frontend/pull/2768

[2021-11-18 11:35] jjtsou commented on #112
https://github.com/netdata/cloud-frontend/pull/2768

[2021-11-18 12:02] #85 closed

[2021-11-18 12:53] #188 closed

[2021-11-18 12:53] #173 closed

[2021-11-18 16:38] zeylos opened #193 "[BUG] Netdata Cloud doesn't show as much metrics as the node stores"
**Describe the bug**
Netdata cloud only shows one or a few hours worth of metrics, even if the node stores more.

**To Reproduce**
Steps to reproduce the behavior:
Increase `dbengine multihost disk space`, in my case here is my configuration :
[code]
Wait for some time then try to show last hours on Netdata Cloud.

**Expected behavior**
The same graph as the node's.

**Screenshots**
Both screens a

[2021-11-19 08:39] manos-saratsis commented on #193
@zeylos thanks for raising this. If I understand well you would like to enjoy the increased retention of your parent. The Cloud currently does not support parent-child relationships but we are working on it and soon you will be able as we are in the final rounds of testing our redesigned BE services.

My recommendation is either to wait or to help us testing the new architecture as a parent-child

[2021-11-19 09:47] zeylos commented on #193
@manos-saratsis hi, thanks for the answer. It appears the issue is a misunderstanding from my part then.
I would be glad to help you test the new architecture if you need people.

[2021-11-19 14:46] georgiats opened #194 "[BUG] Truncated text and code snippets on Safari"
**Describe the bug**
I use Safari 14.1 on macOS. The text and the snippets that are displayed on the onboarding screen are truncated and covered by the video.

**Screenshots**
![image](https://user-images.githubusercontent.com/4034214/142640968-e5030aa4-0d40-4d38-9f88-d008a09a7339.png)

**Desktop**
Safari 14.1 on macOS (Catalina). Full details [here](https://whatismybrowser.com/w/PXECN4P)
MacBook

[2021-11-20 07:02] densone opened #195 "Beta mode, graphs should displace full scale."
When running beta feature its awesome. But if you are more than 4' from your screen you cant tell if the graph is 20% or 100%

I suggest scaling the graph up to 100% at all times or at least making an option to do so.

![image](https://user-images.githubusercontent.com/49484/142717804-32ec6312-5cfb-43eb-9682-44a078e5a3aa.png)

[2021-11-22 10:03] hugovalente-pm opened #196 "[BUG] Charts 2.0 Net Inbound/Outbound gauges have the units cut"
**Describe the bug**
On Charts 2.0 the units on Net Inbound/Outbound gauges get cut after a given length, examples:
* `kb/s` is ok
* `megabits/s` or `gigabits/s get` cut to `megabi` or `gigabi`

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Charts 2.0
2. Go to Overview or Single Node view and check the Net Inbound/Outbound gauges
3. If units have a bigger length these get cut, `megab

[2021-11-23 08:15] MrZammler commented on #157
Hi @Z-Zen !

Both of these errors seem to be related to SSL. The first one should be a `SSL certificate problem: unable to get local issuer certificate`, and should be resolved by updating your local ca certificates. Please make sure your packages `policy` and `ca-certificates` are up to date, and also try to run `update-ca-certificates`.

The second error you are getting is more weird... It seems

[2021-11-23 08:26] zeylos opened #197 "[BUG] Charts 2.0 - Dimension default selection on kubernetes plugin"
**Describe the bug**
By default dimension selection was ok on previous charts, for example on _CPU Usage_ the selection was "All dimensions" by default for previous charts, on 2.0 it defaults on "system", which is not showing the "user" dimension which is the principal information of the graph on most use cases. Also _CPU Usage Per Core_ defaulted on "All dimensions", now defaults on "cpu0". Same

[2021-11-23 13:22] hugovalente-pm opened #198 "[BUG] System CPU related charts don’t show the message about no historical data"
**Describe the bug**

The system CPU related charts don’t show the message about no historical data, e.g.: `system.cpu` and `system.cpu_pressure`

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Charts 2.0
2. Change the datetime picker for a period in the past where you know there isn't any data
3. Check that  `system.cpu` and `system.cpu_pressure`	charts don't display the expected mes

[2021-11-23 15:58] #120 closed

[2021-11-23 17:24] hugovalente-pm commented on #198
it seems we fire requests for `system.cpu` and `system.cpu_pressure` but not for the other charts

<image src="https://images.zenhubusercontent.com/60b4ebb03f4163193ec31819/b914bfd6-e974-4b9f-9d11-9e8b187ddcc5" height="50%" width="50%"/>

[2021-11-23 17:31] hugovalente-pm commented on #195
@densone thanks for reporting this, to confirm also the expected behaviour and then potential feature request, for these charts like Total CPU utilization (system.cpu):
a) if you see them on Overview or Single Node view page with a full Y-axis scale you still want to see them like that on Custom dashboards
b) the feature to enhance would be to allow you to remove that fixed scale or set a fixed sc

[2021-11-23 17:39] hugovalente-pm commented on #198
also a very strange behaviour if you refresh the page it works ok
![NxI1Ndz7s3.gif](https://images.zenhubusercontent.com/60b4ebb03f4163193ec31819/65584eeb-0523-40b6-b4c1-f4e5f0df0bf8)

[2021-11-24 08:42] MrZammler commented on #157
Hi!

Ok, there seems to be something weird with `openssl` and/or `libssl-dev` packages.

During configure of `libwebsockets`, it picks up version `1.1.1g`:

[code]

This version apparently has support for `SSL_CTX_set_ciphersuites`:

[code]

whereas `openssl 1.1.0l-1~deb9u4` which is installed on my test debian 9 does not.

The linker will try to link with `libssl-dev 1.1.0l-1~deb9u4` which appare

[2021-11-24 09:25] hugovalente-pm opened #199 "[BUG] Chart type definitions aren't applied when loading the custom dashboard"
**Describe the bug**

When a chart that is an `stacked` chart is added to a custom dashboard we see it on the preview with the correct look & feel and when we add it to the custom dashboard as well, but once we save and refresh the page it isn't rendered with the correct definition - we see from the BE response that it should be a `stacked` chart

**To Reproduce**
Steps to reproduce the behavior:

[2021-11-24 10:14] dimko commented on #139
I believe this is resolved with the new architecture. Will close it and will re-open if it happens again

[2021-11-24 10:14] #139 closed

[2021-11-24 10:19] #123 closed

[2021-11-24 10:22] dimko commented on #116
Changing to medium since only units seem to be missing

[2021-11-24 10:30] dimko opened #200 "[BUG] Running metrics correlation for area before 1st entry point throws an error"
Reproduced in Charts2

Steps to reproduce:

1. Spin up an agent and navigate to single node view
2. Run metrics correlation
3. In area selection include an area before the 1st chart entry point
4. Click Find Correlations
6. Error that something went wrong is displayed along with a console error frontend side

![image (10)](https://user-images.githubusercontent.com/19268853/143221597-e9c93c8b-7554-

[2021-11-24 10:40] dimko commented on #112
Fixed

[2021-11-24 10:40] #112 closed

[2021-11-24 10:40] dimko commented on #109
no longer valid

[2021-11-24 10:40] #109 closed

[2021-11-24 10:42] dimko commented on #113
fixed

[2021-11-24 10:42] #113 closed

[2021-11-24 11:04] dimko commented on #97
This has been handled. Reachability Notifications are off by default as a business decision. FE was showing them as enabled due to a bug. Closing it.

[2021-11-24 11:04] #97 closed

[2021-11-24 11:05] dimko commented on #99
Fixed, closing

[2021-11-24 11:05] #99 closed

[2021-11-24 11:09] dimko commented on #94
Fixed in new architecture. CLosing this

[2021-11-24 11:09] #94 closed

[2021-11-24 11:12] dimko commented on #90
Closing. Performance in FE has been greatly improved

[2021-11-24 11:12] #90 closed

[2021-11-24 11:13] #88 closed

[2021-11-24 11:15] dimko commented on #86
This has been fixed. Closing

[2021-11-24 11:15] #86 closed

[2021-11-24 11:15] dimko commented on #82
Has been fixed in new architecture. Closing it

[2021-11-24 11:15] #82 closed

[2021-11-24 11:24] dimko commented on #38
Fixed in the new architecture for alerts. We should no longer see phantom alerts. Closing it for now.

[2021-11-24 11:24] #38 closed

[2021-11-24 11:27] dimko commented on #26
Fixed. CLosing it

[2021-11-24 11:27] #26 closed

[2021-11-24 11:27] dimko commented on #4
Fixed closing.

[2021-11-24 11:27] #4 closed

[2021-11-24 11:29] dimko commented on #3
Has been addressed in the new architecture. Closing it.

[2021-11-24 11:29] #3 closed

[2021-11-24 15:21] Z-Zen commented on #157
Hey again,

Thanks for pointing out the possible issue. However, I am not sure how can I match the versions of those two packages. Would you please give me some guidance?

Thanks!

[2021-11-25 07:41] MrZammler commented on #157
Hi!

Ok, let's try to check first. Can you please paste the output from:

`apt-cache policy openssl`
and
`apt-cache policy libssl-dev`

?

[2021-11-25 10:05] hugovalente-pm commented on #184
This is no longer happening, we were not able to reproduce this

[2021-11-25 10:22] dimko commented on #36
@chrikar Could you please check if this is an easy to fix thing with no great effort?

[2021-11-25 11:53] zeylos commented on #193
Just a note in case someone encounters the same case before the next release, beta arch is compatible with netdata `1.31.0-497-nightly` and superior, I was using `1.31.0` (which is the default version of the helm chart right now).
Therefore, I had to change my childs and parent images tag to `latest` in order to fully enjoy beta architecture, I can now see more than one hour on cloud.

Thanks a lo

[2021-11-25 11:53] #193 closed

[2021-11-25 13:48] ShimonOhayon opened #201 "[BUG] Adding multiple nodes to a room when using filtering fails"
@ShimonOhayon commented on [Thu Nov 25 2021](https://github.com/netdata/infra/issues/1603)

@knatsakis commented on [Wed Nov 17 2021](https://github.com/netdata/product/issues/2564)

Bug reproduction:

- Go to https://app.netdata.cloud/spaces/netdata-cloud/rooms/k8s-prd/overview#chartName=menu_system&_f=&after=-900&before=0&utc=Europe%2FAthens&offset=%2B2
- Click 'Add Nodes'
- Type something in th

[2021-11-25 14:50] zeylos commented on #192
Was able to reproduce only by switching dimension sorting to one of the descending (no matter the vizualization style, area, line or stacked) :
![image](https://user-images.githubusercontent.com/24226163/143461964-2dec0b3e-1edf-4e13-b415-7f66e49d75d1.png)
![image](https://user-images.githubusercontent.com/24226163/143462008-7bbb400d-b066-4c40-8cbf-c330b475812c.png)

Not attaching the screenshot fo

[2021-11-25 14:55] Z-Zen commented on #157
Hello!

here's the output:
[code]

and

[code]

[2021-11-25 16:33] #197 closed

[2021-11-25 16:35] #199 closed

[2021-11-25 16:38] MrZammler commented on #157
Ok, so it seems there are 2 versions of openssl installed. `1.1.0l` via the package manager, and `1.1.1g` via what seems to be a local compile and install. Indeed, and I should have picked it up before, libwebsockets during the configure phase, finds a copy of openssl in `/usr/local/`, which is not where the package manager typically installs software.

In order not to disturb any other software i

[2021-11-25 17:06] Z-Zen commented on #157
Hey again,

I followed your instructions and launched kickstart script, it was able to compile successfully. Netdata is live!

Thanks a lot!

[2021-11-25 21:57] njpau commented on #199
Has there been a fix for this? Curious as to why this was closed without a bugfix.

[2021-11-25 22:55] njpau commented on #199
Ooh its fixed! Its fixed on my end atleast. Thanks :)

[2021-11-26 07:15] MrZammler commented on #157
Thanks! Glad it worked out!

[2021-11-26 07:38] #157 closed

[2021-11-26 09:13] hugovalente-pm commented on #199
Yes, it was fixed that's why it was closed was going to update a comment today :)

[2021-11-26 13:07] dimko opened #202 "[BUG]Alarm values displayed as - if one of the alarms-values requests is pending"
Alarm Values requests are periodically issued (every X seconds) when a user is in the Alerts tab.

If one of the requests is stuck in a Pending state, other requests are getting blocked as well resulting in **-** entries in the alert pills.

![image](https://user-images.githubusercontent.com/19268853/143585689-ed9084a1-a4a1-4309-9d36-8a2c3625c14f.png)

[2021-11-26 13:19] vinnygats commented on #29
Hello!
Discussed the issue with @dimko .
Considering the design changes that are being under implementation at the moment, there are a few changes that can be covered, such as displaying the node badges to the left side.
Although, there are some cases in our design where user can see a full list of these replicas and they may have exactly the same name.

In this case, user can no longer identify w

[2021-11-26 15:18] dimko commented on #98
Closing since this popover is no longer present.

[2021-11-26 15:18] #98 closed

[2021-11-29 09:55] dimko commented on #202
Fixed in release/2.13.2 of FE. Closing it. Thanks @jacekkolasa

[2021-11-29 09:55] #202 closed

[2021-11-29 10:35] dimko commented on #201
Thanks Shimon. I managed to reproduce this one.

Also it seems that when you clear the filter and you apply a new one, which doesn't bring results, even though you had previously selected nodes (due to the other filters applied) the ADD NODES button is un-clickable.

[2021-11-29 10:40] ShimonOhayon commented on #201
Hi @dimko , @knatsakis  reported it originally , according to his description , the second node addition was with results, the expectation was to have 2 nodes added after the apply, but in fact only one was added.

[code]

[2021-11-30 09:26] dimko commented on #89
Fixed. Closing it

[2021-11-30 09:26] #89 closed

[2021-11-30 09:30] dimko opened #203 "[BUG] Filtering of service and alerts in table view is scrambled"
When a user filters by service, filtering by alert status is displayed and vice versa.

![image](https://user-images.githubusercontent.com/19268853/144021185-cb2059ef-ba56-41bd-89bf-7959d4c7c30c.png)

![image](https://user-images.githubusercontent.com/19268853/144021233-5027d516-f019-430c-adb3-79fd45b9c959.png)

[2021-11-30 09:32] dimko commented on #203
Fixed in mentioned ticket. Closing

[2021-11-30 09:32] #203 closed

[2021-11-30 15:26] hugovalente-pm opened #204 "[BUG] UI/UX: Composite charts for long named nodes having "UNKONW ERROR" get misaligned"
**Describe the bug**

The pills for long named nodes with issues, e.g. `UNKNOW ERROR`, get misaligned.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a War Room where you have long named nomes
2. Go to a composite chart where you nodes with some issues
3. Notice that the error pill and message are misaligned

**Expected behavior**
The pill UI element should adapt when a node name occu

[2021-12-01 11:19] dimko opened #205 "[BUG] Incorrect reachability status"
When an agent goes offline, and there are still other connected NodeInstances for the same NodeID, we’re not correctly propagating the liveness(aka reachable) and queryable status. This only affects whitelisted spaces.

[2021-12-01 11:20] dimko commented on #205
Fixed and deployed. Closing

[2021-12-01 11:20] #205 closed

[2021-12-01 11:26] chrikar commented on #205
More information here: https://netdata-cloud.slack.com/archives/C022CNY12A3/p1638204850054100

[2021-12-01 13:12] anastako commented on #204
Could we display the specific error? (if found?)

I can not reproduce the error, thus It is impossible to calculate the size of the font. Can we lower the font size and display only  "Error" as a label?

Is if fatal? If not (the data still are being displayed) can we replace the label with "Attention" ?

In all cases with tooltip to add explanatory text

@hugovalente-pm

[2021-12-01 14:26] anastako commented on #204
After checking with Backoffice, the issue is fixed.

Despite that, the proposal is to change the message to "Attention" (it's informative error, confirmed) and provide context with a tooltip (on hover)

@hugovalente-pm

[2021-12-01 14:58] dimko commented on #80
Fixed. Closing it

[2021-12-01 14:58] #80 closed

[2021-12-01 15:02] dimko commented on #95
Closing it as it will be addressed with the new filtering component.

[2021-12-01 15:02] #95 closed

[2021-12-01 15:04] dimko commented on #176
Fixed. Closing this.

[2021-12-01 15:18] manos-saratsis opened #206 "[BUG] Alert has been raised but the unit is missing from within the chart on the right panel[BUG]"
**Describe the bug**
Alert has been raised but the unit is missing from within the chart on the right panel

[2021-12-02 08:27] hugovalente-pm opened #207 "[BUG] Metric Correlations - when a valid area is highlighted Find Correlations button is disabled"
**Describe the bug**

When I a valid area is highlighted and user presses the **Metric Correlations** button the **Find Correlations** should be enabled, here the user needs to reselect an area.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Single Node view
2. On a chart highlight an area between 15 and 180 secs
3. Press **Metric Correlations** button
4. The **Find Correlations** but

[2021-12-02 08:41] #174 closed

[2021-12-02 08:45] manos-saratsis commented on #115
With the new onboarding after signing in the user is on Cloud, no redirection, works as expected.
Both on case of new account and sign in on existing

[2021-12-03 12:47] burbuli8ra commented on #206
Regarding the required fix for this issue, the following have to be implemented:
* Add the missing unit to the label of the chart loaded in **Single load view** page
* Move the unit to the right of the value in the chart loaded in right panel alerts

[2021-12-03 13:06] hugovalente-pm commented on #204
These are the errors that exists on BE (for now):

Code - description:
* ErrInternal - "internal server error"
* ErrAgentTimeout - "timeout waiting agent response"
* ErrContextNotFound - "node doesn't have the requested context"
* ErrUnreachable - "node is unreachable"
* ErrNoData - "node doesn't have data for the requested period"

when we have an unknow error we could show a smaller message like

[2021-12-03 14:32] dimko opened #208 "[BUG] Metrics Correlation Clear selection trashcan doesn't have any effect"
![image](https://user-images.githubusercontent.com/19268853/144619542-3c7379b0-f3f4-40dd-87f0-5fee7db58dc5.png)

the Trashcan button highlighted above doesn't seem to have any effect

[2021-12-03 14:34] dimko commented on #208
@hugovalente-pm I am not sure if this is visualisation's team responsibility of navigation and management. Please assign back to be if it is for the navigation team.

[2021-12-03 16:11] dimko commented on #208
Will move this internally, as it doesn't seem to affect production environment. Closing.

[2021-12-03 16:11] #208 closed

[2021-12-06 08:13] #115 closed

[2021-12-06 09:24] hugovalente-pm opened #209 "[BUG] Composite stacked/area charts aren't having SUM of abs across all dimension when grouped by node"
**Describe the bug**

Following the specs on this ticket Composite chart grouped by node #[1439](https://github.com/netdata/product/issues/1439):
* _For stacked and area charts we do "sum of abs" on all dimensions of a node._

This rule isn't being applied on `system.cpu` or `apps.mem`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `system.cpu`
2. Change the group by to **Node**
3. No

[2021-12-07 13:36] #207 closed

[2021-12-07 16:02] dimko opened #210 "[BUG] Incorrect space name in reachability notifications emails after space renaming"
Steps to reproduce:

1. Create a new account
2.  Rename the created space
3. Claim a node in that space
3. Trigger a reachability notification email for the previously claimed node (kill agent)

**Reachability notification email should have the updated space name instead of the original**

[2021-12-08 10:23] dimko opened #211 "[BUG] Previous node instance not getting unreachable after agent reclaim"
Steps to reproduce:

1. Claim an agent to the cloud.
2. Re-claim agent according to the documentation https://learn.netdata.cloud/docs/agent/claim#remove-and-reconnect-a-node. Meaning delete claim.d directory on the agent's side and claim using -id=$(uuidgen)
3. 2 nodes with the same hostname appear on the cloud
4. The new one should be reachable, the old one unreachable.

The issue:
The old node

[2021-12-08 10:36] jacekkolasa commented on #180
I couldn't recreate it anymore

[2021-12-08 10:41] dimko commented on #211
@cpipilas assigning to you since this seems to be an issue agent side that after re-claiming we don't send a disconnect message to the cloud for the previous node.

Manolis can explain the issue agent side (cannot tag him for some reason)

[2021-12-08 10:47] jacekkolasa commented on #104
fixed in https://github.com/netdata/cloud-frontend/pull/2798
released in https://github.com/netdata/cloud-frontend/releases/tag/2.14.1

[2021-12-08 10:47] jacekkolasa commented on #103
fixed in https://github.com/netdata/cloud-frontend/pull/2798
released in https://github.com/netdata/cloud-frontend/releases/tag/2.14.1

[2021-12-08 10:48] jacekkolasa commented on #100
fixed in https://github.com/netdata/cloud-frontend/pull/2798
released in https://github.com/netdata/cloud-frontend/releases/tag/2.14.1

[2021-12-08 18:27] dimko opened #212 "[BUG] Invitations issue. invalid error_retry path after verify account request"
After a user with no account to Netdata Cloud follows an invitation link to join a space he has been invited to, BE sends invalid value for the **error_retry** param to the FE.

What the BE sends for the error_retry is : `error_retry=/api/v1/spaces/751f374c-27d3-47cd-b3b4-94acfda724b3/join-callback?redirect_uri`

What it should send: `error_retry=/api/v1/spaces/751f374c-27d3-47cd-b3b4-94acfda724b3

[2021-12-08 18:29] dimko commented on #212
@amalkov @manos-saratsis @chrikar Setting this as a high priority since it seems to be happening from time to time. FE has applied a workaround for this, but the important fix here is to remove the static localhost:8090 as the domain of the redirect and replace it with the origin of the request, staging/app/testing.

[2021-12-09 10:11] burbuli8ra commented on #206
@dimko the fix has been merged in `develop` branch at commit [(#66fdf6e) fix: units of chart labels](https://github.com/netdata/cloud-frontend/commit/66fdf6ef66d248c6c3b8640f032cb8271a16d211)

[2021-12-09 11:22] #103 closed

[2021-12-09 11:28] #104 closed

[2021-12-09 11:29] #180 closed

[2021-12-09 12:43] #206 closed

[2021-12-09 12:44] #116 closed

[2021-12-09 15:14] Pingger commented on #192
Can confirm this to also be the case for Min -> Max (at least for Applications cpu graph, where all sortings except for default are broken)

[2021-12-09 15:50] dimko commented on #125
Re-opening this one, as it seems we have again issues with the invitation re-direct and users cannot immediately join the space

[2021-12-09 17:09] dimko commented on #125
Re-closing 👯

[2021-12-09 17:09] #125 closed

[2021-12-09 17:19] dimko opened #213 "[BUG] No error notification displayed in the UI when join space fails"
When a user follows an invitation link to join a space, but joining that space fails for X reason we display a message that she successfully joined that space instead of an error.

e.g
![image](https://user-images.githubusercontent.com/19268853/145444792-d91b8873-aa2c-45a4-8212-3131018bd27c.png)

[2021-12-09 17:29] dimko opened #214 "[BUG] Users can paste invalid emails (e.g capital letters) when inviting a user to join a space"
Steps to reproduce:

1. Invite a user to join a space
2. Type an invalid email e.g **Netdata@netdata.netdata** <- This is not allowed and capital letters are converted to lowercase.
3. Copy and Paste in the input field **Netdata@netdata.netdata** <- This is not allowed, but pasting it fills the input field!!
4. Invitation can be send to an email not matching a user's email.

![image](https://user-

[2021-12-10 01:29] nil0x42 opened #215 "[BUG][UI] Stacked charts missaligned with ugly gaps between dimensions"
**Describe the bug**
On some charts, `stacked` display has gaps between dimensions.

It happens only on netdata cloud:
![Screenshot_2021-12-10_01-15-28](https://user-images.githubusercontent.com/3504393/145500951-a1e06081-677e-4bbc-83e3-299448e45a0c.png)

Just for the record, netdata dashboard (on localhost) does not suffer the issue, display is as expected:
![Screenshot_2021-12-10_01-14-17](https

[2021-12-10 09:25] hugovalente-pm opened #216 "[BUG] Stacked chart gets blank space when dimension is removed"
**Describe the bug**

On a stacked chart when a dimension is removed (to be confirmed what removed is) there is a blank space where the dimension was.

[slack thread](https://netdata-cloud.slack.com/archives/CS3PB0VJ7/p1638784483101100)

**To Reproduce**
Steps to reproduce the behavior:

TBC

**Expected behavior**

The blank space should not be there and the graph should adapt to the space no long

[2021-12-10 09:29] hugovalente-pm commented on #215
[BUG] Stacked chart gets blank space when dimension is removed #216 to be closed since it is a duplicate of this one

[2021-12-10 09:31] hugovalente-pm commented on #216
Closed since this is duplicate from [BUG][UI] Stacked charts missaligned with ugly gaps between dimensions #215

[2021-12-10 09:31] #216 closed

[2021-12-10 09:46] dimko opened #217 "[BUG] Stuck alerts in Netdata Cloud for agents that are no longer live."
Stuck alarms happen when an agent/node has an alarm raised on its behalf and the agent/node that raised it goes offline.

![image](https://user-images.githubusercontent.com/19268853/145553160-66a1d335-40b1-4909-8e0e-dfee418c100f.png)

This mostly affects agents with parent/child setup e.g Parent has the alert configuration for a child agent, so he is the one raising the alert for that child. If th

[2021-12-10 10:27] #100 closed

[2021-12-10 17:02] #215 closed

[2021-12-10 17:03] #209 closed

[2021-12-10 17:29] hugovalente-pm opened #218 "[BUG] Metric Correlations - missing metrics for containers"
**Describe the bug**

Upon running metric correlations after highlighting a k8s container related chart we got back things but nothing about the k8s container

![image](https://user-images.githubusercontent.com/82235632/145616231-fcf2bb21-15d7-4e08-9f4c-a979ed587d70.png)

![image](https://user-images.githubusercontent.com/82235632/145616254-72c00945-6817-45d1-a9a2-777350f3a231.png)

![image](https

[2021-12-10 17:29] hugovalente-pm commented on #218
This is to replace the internal ticket https://github.com/netdata/product/issues/2626

[2021-12-10 17:30] hugovalente-pm commented on #218
Comment from @TonyPath :

The response from `api/v2/nodes/199bd411-d0ec-4298-8765-5f0508a77e03/correlation` endpoint however includes the related metrics but are not depicted in FE. Please @netdata/cloud-fe can you take a look ?

[code]

[2021-12-11 14:00] nil0x42 commented on #215
@hugovalente-pm i see you closed both this issue and #216
Shouldn't you close only one of the duplicates too keep track of issue ?

Just saying in case it was a mistake

[2021-12-11 15:58] nil0x42 opened #219 "[BUG] [UI] "select custom timeframe" breaks UI on Firefox"
**Describe the bug**
On firefox, in netdata cloud (app.netdata.cloud), the entire UI turns into blank screen when clicking custom timeframe selection button:

click here:
![Screenshot_2021-12-11_15-15-19](https://user-images.githubusercontent.com/3504393/145682731-7ab08ef3-2dfc-459a-bcaf-ce0676b5f45b.png)

after clicking (with devtools open):
![Screenshot_2021-12-11_15-51-54](https://user-images.g

[2021-12-11 16:16] ronniereid opened #220 "[BUG] Pacific Time & Mountain Time both UTC -7"
Pacific Time should be UTC/GMT -8, not the same as Mountain time.

<img width="320" alt="Screen Shot 2021-12-11 at 8 12 32 AM" src="https://user-images.githubusercontent.com/2157697/145683632-df65e35a-c5b8-4121-808d-7b508d954763.png">

[2021-12-12 22:02] hugovalente-pm commented on #215
@nil0x42 the #216 was closed on the 10th of December 9:31 WET, which was when I noticed that this issue existed.
This was was closed after a fix was put in place, on the 10th of December 17:02 WET, which was when our developers deployed it to prodcution.

We know there is still a small glitch there, but this is due to the charts library that we are using, dygraph, we are taking this into evaluatio

[2021-12-13 10:07] nil0x42 commented on #215
Thank you for your answer @hugovalente-pm , indeed, the big gap issue is fixed !

[2021-12-13 10:27] dimko commented on #194
@georgiats Can you please sync with @burbuli8ra to display the issue? We couldn't reproduce it.

[2021-12-14 09:36] TonyPath commented on #218
Fixed by https://github.com/netdata/netdata/pull/11898

[2021-12-14 09:48] #218 closed

[2021-12-14 11:09] juacker opened #221 "[BUG] system.uptime value depends on selected timezone"
**Describe the bug**
`system.uptime` chart is showing the uptime value based on the timezone selected in the UI.

The uptime value returned from the cloud is the number of seconds the system is up. This value should not depend on the timezone selected by the user, however, if we set a different timezone we can see the value is modified:

![Captura de pantalla de 2021-12-14 11-04-59](https://user-i

[2021-12-14 12:13] andrewm4894 commented on #218
can confirm that i am now seeing "k8s cntr..." stuff in results when i run MC on our prod room. Good stuff all!

will set myself a reminder to test again end of week some other rooms as look like the fix here depends on a nightly update.

(assuming we may have updated our prod nodes just by chance since fix was merged a few hours ago)

[2021-12-14 15:59] dimko commented on #201
Cannot reproduce the issue after said fix. @burbuli8ra let's merge on develop and close it once released.

[2021-12-14 21:24] Jayto1 commented on #176
@dimko @manos-saratsis seems to always be apparent now

[2021-12-14 21:45] Jayto1 opened #222 "[BUG] Settings temporarily turning themselves on after page reload"
How I have been reproducing the bug:

Step 1:
Click cog wheel to manage space settings (make sure both invitation settings disabled before clicking settings)

![image](https://user-images.githubusercontent.com/79473923/146083548-0326119f-90d5-4512-9aef-47da7393e840.png)

Step 2:
While the settings window is open reload the page
![image](https://user-images.githubusercontent.com/79473923/146084047-

[2021-12-15 06:10] TimoKettunen opened #223 "[BUG] Selecting between pan, highlight etc. stops working after Alt-Tab"
**Describe the bug**
The graphs have small toolbar that allows selecting between pan, highlight, select and zoom etc.
This works OK when graph is first displayed. But if some other window is made top most and then netdata cloud again, the selection stops having any effect and the mouse operation is stick to highlight. Pressing F5 restores the functionality.

**To Reproduce**
Show some graph. Click

[2021-12-15 15:21] #194 closed

[2021-12-15 15:22] burbuli8ra commented on #194
The fix has been completed, development wise and will be included in the next release of cloud

[2021-12-15 18:12] hugovalente-pm opened #224 "[BUG] Chart with lots of dimensions get's out of bounds going fullscreen"
**Describe the bug**

When I go full-screen on chart that has a lot of dimensions it get's out of bounds, e.g. the minimize button get's out of the screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a chart with a lot of dimensions
2. Enter full screen
3. Chart get's out of bounds

**Expected behavior**

The chart should not go out of bounds because of the number of dimensions

**

[2021-12-16 08:00] manos-saratsis commented on #111
@jjtsou is this to be closed?

[2021-12-16 14:14] #200 closed

[2021-12-16 16:05] #101 closed

[2021-12-16 16:06] juacker commented on #162
fix deployed for new and old arch

[2021-12-16 16:32] TonyPath commented on #101
fixed by this [PR](https://github.com/netdata/cloud-nodes-service/pull/342)

[2021-12-16 16:32] #162 closed

[2021-12-16 17:18] hugovalente-pm commented on #158
This seems to be fixed, so closing the ticket

[2021-12-16 17:18] #158 closed

[2021-12-16 17:19] hugovalente-pm commented on #127
Closing this since it seems to be fixed

[2021-12-16 17:19] #127 closed

[2021-12-16 17:20] hugovalente-pm commented on #121
This is closed as per the above discussion

[2021-12-16 17:20] #121 closed

[2021-12-16 17:21] hugovalente-pm commented on #117
Can't reproduce

[2021-12-16 17:21] #117 closed

[2021-12-16 17:26] hugovalente-pm commented on #105
This seems to be fixed, so closing it

[2021-12-16 17:26] #105 closed

[2021-12-16 17:28] hugovalente-pm commented on #92
This seems to be fixed

[2021-12-16 17:28] #92 closed

[2021-12-16 17:34] hugovalente-pm commented on #84
@cakrit wasn't able to reproduce this, so closing for now.
let me know in case you've seen this recently

[2021-12-16 17:34] #84 closed

[2021-12-16 17:36] hugovalente-pm commented on #83
This has been sorted with Charts 2.0

[2021-12-16 17:36] #83 closed

[2021-12-16 17:37] hugovalente-pm commented on #81
This has been fixed.

[2021-12-16 17:37] #81 closed

[2021-12-16 17:42] hugovalente-pm commented on #62
@papazach seems you looked into this in the past, do you know if this is still happening?

[2021-12-16 17:45] hugovalente-pm commented on #55
@manos-saratsis to confirm on this one, when you meant "bring it out of view and back in" is just out of the viewport? like scrolling down and then up?

[2021-12-16 17:48] hugovalente-pm commented on #53
The **ellipsis** have been applied to accommodate this together with full name on tooltip.
Probably there is still room for improvement here, but no longer an issue.

![image.png](https://images.zenhubusercontent.com/60b4ebb03f4163193ec31819/611dad25-8150-4bf6-99bb-f199313dc94b)

[2021-12-16 17:48] #53 closed

[2021-12-16 17:49] hugovalente-pm commented on #49
@andrewm4894 do you know if this still happens?

[2021-12-16 17:50] hugovalente-pm commented on #37
Looking to our recent Anomaly Detection section would say this is fixed

[2021-12-16 17:50] #37 closed

[2021-12-17 10:22] jjtsou commented on #224
https://github.com/netdata/charts/pull/43

[2021-12-17 10:51] manos-saratsis commented on #96
@Pingger We are testing our new architecture that will solve this issue. It is expected to be solved by end of Jan for all users. In case you would like to contribute in testing the new architecture please share your space_id that you can find under `Manage Space`, important is that all your agent should have the latest agent

[2021-12-17 12:11] Pingger commented on #96
I'd love to participate in that preview: 5f10b8d2-cb62-420a-bfc7-c3586c8d584b
1. Since have a few Rasperry Pis, that are currently running on stable, is there an easy way to switch them to nightly? (since it takes quite some time to build netdata on Pis ...)
1. Is feedback accepted/requested from Preview-Participants? If yes, where?
1. I am aware, that it is a Preview and thus some glitches might

[2021-12-17 15:00] burbuli8ra commented on #201
@dimko I have re-implemented the fix, since as @jjtsou noticed with the first fix the user was not able to use the checkbox to select or deselect all visible nodes.

[2021-12-20 11:09] manos-saratsis commented on #96
@Pingger thanks
1. You need to reinstall with default on nightly @cpipilas any other advice?
2. and 3. Feel free to join the discussion on Discord and report your findings https://discord.gg/qbuSThuw

[2021-12-20 12:35] manos-saratsis commented on #55
@hugovalente-pm yes, out of the viewport

[2021-12-20 12:43] Pingger commented on #96
OK ... managed to switch my Raspberries to Nightly.

[2021-12-20 12:53] allelos commented on #176
@Jayto1 can you elaborate a bit more?

[2021-12-20 14:19] #176 closed

[2021-12-20 15:43] hugovalente-pm commented on #192
@zeylos and @Pingger this fix was released, if you still find anything not looking ok let us know

[2021-12-20 15:43] #192 closed

[2021-12-21 11:09] hugovalente-pm commented on #55
Closing this ticket since this is not longer applicable

[2021-12-21 11:09] #55 closed

[2021-12-21 20:07] Jayto1 commented on #176
@allelos yes exactly thats the issue.

[2021-12-21 20:11] allelos commented on #176
@Jayto1 thx, we pushed a fix for this yesterday!

[2021-12-21 22:41] Jayto1 commented on #176
@allelos I see it's fixed now, great work 👍

[2021-12-21 22:53] IvMisticos opened #225 "[BUG] Wrong hostname in alert emails"
**Describe the bug**
Alert emails are using the initial hostname of the node or something. I have changed the hostname in the system, in netdata configuration. In the UI it displays correctly. However in the emails it is still using a quite old one and I am unable to link it to a specific node in UI easily.

[2021-12-24 13:32] dionysis-netdata commented on #201
fixed issue about selecting nodes that are not added due to filtering, but discovered this issue with select all https://share.getcloudapp.com/qGurwxNB

[2021-12-27 07:55] #87 closed

[2021-12-27 10:59] #201 closed

[2021-12-27 10:59] dionysis-netdata commented on #201
Issue fixed. Closing ticket.

[2021-12-27 16:21] burbuli8ra commented on #212
After (a lot of) investigation between backend and frontend, it turns out that this issue was FE related, so the fix is pending from our side! 😄

[2021-12-28 10:54] chrikar commented on #212
Opened a new ticket for handling part (2): https://github.com/netdata/product/issues/2660

[2021-12-28 11:31] dionysis-netdata commented on #212
Verified fix #1 , #2 will be dealt as separate ticket

[2022-01-03 09:44] georgiats commented on #211
We also have a relevant bug report [in our Forums](https://community.netdata.cloud/t/removing-ghost-node/2352).

[2022-01-03 12:01] juacker opened #226 "[BUG] Charts with special characters not found"
**Describe the bug**
Cannot load charts whose IDs have special characters (colon, slash, equal, etc). The problem is that the chartID is not encoded, so the cloud is not able to find it.

For example, for the chart with ID `prometheus_php-fpm_exporter_local.coredns_dns_request_duration_seconds_bucket|server=dns://10.2.0.10:53,type=A,zone=cluster.local.`:

Currently, the requested URL is `https://a

[2022-01-03 12:04] juacker commented on #226
This could potentially affect this endpoints (the contexts also have special characters):

- /api/v2/nodes/{nodeID}/charts/{chartID}
- /api/v2/spaces/{spaceID}/rooms/{roomID}/charts/{chartID}
- /api/v2/spaces/{spaceID}/rooms/{roomID}/contexts/{contextID}

[2022-01-03 13:39] dimko commented on #225
@IvMisticos Thanks for reporting this. Are we talking about emails coming from the cloud, or the agent?

[2022-01-03 15:32] #111 closed

[2022-01-04 03:30] IvMisticos commented on #225
The cloud @dimko

[2022-01-04 09:38] dimko commented on #212
Splitting this in 2 tickets so we can close the fixed part once released.

[2022-01-04 10:31] #212 closed

[2022-01-04 10:32] dimko commented on #212
Released on https://github.com/netdata/cloud-frontend/releases/tag/2.14.9

[2022-01-04 10:32] dimko commented on #214
Fixed on https://github.com/netdata/cloud-frontend/releases/tag/2.14.9

[2022-01-04 10:32] #214 closed

[2022-01-04 11:00] ShimonOhayon commented on #226
@hugovalente-pm  Here is what i found:

last 24h numbers:

Total requests: 885
return 404: 494 (55.9%)
return 200:  391 (44.1%)

You can edit the query to get more insights https://cloudlogging.app.goo.gl/G7LP1VBVeZ5HneHbA

[2022-01-04 11:11] ShimonOhayon commented on #226
I think the results above are only for new arch requests (v2), @juacker  Can you specify similar endpoint for v1 so i can see the logs?

[2022-01-04 12:06] juacker commented on #226
If I'm not missing something (@papazach please correct me if I'm wrong) endpoints `/api/v2/nodes/{nodeID}/charts/{chartID}` and  `/api/v2/spaces/{spaceID}/rooms/{roomID}/charts/{chartID}` are only called for new arch agents to get chart details. For old arch ones there is no similar endpoint, as these agents don't store chart details in the cloud, so requests to these endpoints would only affect n

[2022-01-04 12:28] hugovalente-pm opened #227 "[BUG] Section on TOC gets an incorrect name (duplicates ending)"
**Describe the bug**

The section names are incorrect and getting a strange duplication for an ending part.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an Overview where you have Apache metrics or bind
2. Check the section names the are "Apache pache" "Bind ind"

**Expected behavior**
The names shouldn't be duplicated

**Screenshots**

![image](https://user-images.githubusercontent

[2022-01-04 12:45] manos-saratsis opened #228 "[BUG] Node is offline but states live"
**Describe the bug**
On a production space on Cloud(7d8d5ba4-0d39-4ef7-aa9d-b39cceb9c3ff) a node is offline but shows as live

**To Reproduce**
Steps to reproduce the behavior:	-

**Expected behavior**
Live nodes should be live

**Screenshots**
![Screen Shot 2022-01-04 at 2 44 56 PM](https://user-images.githubusercontent.com/19746055/148061099-56440499-0d5f-4e81-a91f-789a4fa01a4e.png)

[2022-01-04 15:31] dimko commented on #217
@car12o Is this something you've implemented and is pending review? If yes, can you please link the PR for it? If not, I can't understand why it is in the Under PR section.

cc @manos-saratsis

[2022-01-04 15:34] dimko commented on #96
@vkuznecovas has this been implemented? Can you share the PR number?

[2022-01-04 15:35] dimko commented on #108
@jacekkolasa Do we have any update on this one?

[2022-01-04 15:35] dimko commented on #93
@jacekkolasa any updated on this one?

[2022-01-04 16:18] dimko commented on #96
This seems to be fixed in the new architecture. Closing it.

[2022-01-04 16:18] #96 closed

[2022-01-04 16:21] dimko commented on #91
this is fixed in the new architecture.

[2022-01-04 16:54] car12o commented on #217
Linked the relative PR's ... thanks & sorry for missing it :wink:

[2022-01-04 17:39] dimko opened #229 "[BUG] Inviting an existing space user doesnt produce an error"
Steps to reproduce:

1. Invite an already existing user to join a space
2. Request is submitted and popup informing "Invitation successfully sent" is displayed to the user.

No invitation is sent since user already exists in that space, but user is not notified about this.

[2022-01-05 11:51] ralphm commented on #226
So these numbers are not actually that representative as we don't have sufficient volume in our new architecture. Possibly a significant portion of those 404s you counted are because I left my dashboard open with these problematic charts in the view port and forcing play.

Not the highest priority, but showing (correct) metrics is the core use case of Netdata. When our frontend devs are back next

[2022-01-05 13:52] hugovalente-pm commented on #226
@ravilushqa thank you for collecting those stats.

@juacker I had asked Shimon to check for old and new arch since we had spoken on the daily that this should affect both cases.  Looking to [Swagger Docs](https://swagger.corp.testing.netdata.cloud/swagger/#/) I see we have:
* a GET `/api/v1/nodes/{nodeID}/charts` but not sure this is used
* a POST `/api/v1/spaces/{spaceID}/charts/_query`

Agreed @

[2022-01-07 08:56] dimko commented on #217
This was fixed as part of the following releases:

/release cloud-nodes-service release/1.48.0
/release cloud-alarm-processor-service release/0.3.1
/release cloud-alarm-notification-sender-service release/0.4.0
/release cloud-alarm-streaming-service release/0.4.0
/release cloud-alarm-processor-service release/0.3.2

@car12o I am closing this. Great job!!

(will re-open if we need anything else)

[2022-01-07 09:10] dimko commented on #142
Closing as duplicate of https://github.com/netdata/netdata-cloud/issues/138

[2022-01-07 09:10] #142 closed

[2022-01-07 09:23] hugovalente-pm opened #230 "[BUG] Constant gaps in all charts"
**Describe the bug**

I recently installed a fresh copy of Ubuntu LTS 20.04 with a virtualmin server configured on it, running a couple websites. I’m having a strange issue with the netdata dashboard on both the agent and cloud side of things where every minute or so I get a gap of a few seconds of lost data - on everything. I’ve tried googling this issue and cannot seem to find other occurrences

[2022-01-07 12:34] dimko opened #231 "[BUG] No way to check full alert, chart and node name in Alerts tab"
Bug reported by SRE and BE team while investigating other issues.

In case of long alert, node or chart names we display `...` in the middle of the name string in the Alerts Tab
The full name is not visible in this page under any way. This is static and doesn't change based on screen resolution.

e.g Node names and Chart names

![image](https://user-images.githubusercontent.com/19268853/148544732-

[2022-01-08 05:10] Jayto1 opened #232 "[BUG] Label issue with time measurements"
![image](https://user-images.githubusercontent.com/79473923/148632374-a84da0a8-ad81-483f-84a9-28aea9a963b9.png)

[2022-01-11 14:50] ilyam8 opened #233 "[BUG] When change from light to dark theme and then back to light the colors of dark theme are overriding those of light theme. (or vice versa)"
@AlexNti commented on [Tue Jan 11 2022](https://github.com/netdata/netdata/issues/11953)

Steps to replicate:

1. Navigate to a page that contains checkboxes. e.x Alerts.
2.Click on any checkbox.
3. Change the page theme.
4. Click again any checkbox.
5. Change the theme Again.
6. Click on any checkbox.

![Screenshot 2022-01-11 at 4.33.22 PM.png](https://images.zenhubusercontent.com/61b732586f96e01

[2022-01-11 15:13] dimko commented on #217
Agent issue is fixed on this PR: https://github.com/netdata/netdata/pull/11928

Moving to acceptance stage

[2022-01-11 16:13] leshacat opened #234 "[BUG]"
**Describe the bug**
Login to dashboard shows blank page. If create a brand new account and login, the dashboard shows. Tried deleting cache/cookies logging in after again, and it still shows blank page.

**To Reproduce**
Steps to reproduce the behavior:
- Log in

**Expected behavior**
Dashboard should be visible

**Screenshots**
_[https://imgur.com/a/APQ4N8K](https://imgur.com/a/APQ4N8K)_

[code]

[2022-01-12 00:20] leshacat commented on #234
All of the sudden it started showing again today... Closing ticket. Will re-open if problem persists.

[2022-01-12 00:20] #234 closed

[2022-01-12 10:44] dimko opened #235 "[BUG] Agent hostname change is not propagated to cloud"
Steps to reproduce:

1. Claim an agent to the cloud
2. Change the hostname of the agent from agent configuration
3. Restart the agent

What is expected:
Hostname of the node in cloud should change to match the newly changed name

What is happening:
Node name stays the same

[2022-01-12 13:28] hugovalente-pm commented on #232
@Jayto1 on this issue you're referring to the "cut" on the units where instead of `time` we just see `t´ (and something)
![image](https://user-images.githubusercontent.com/82235632/149149198-fc84aba8-155b-4dee-8197-a243f61543b3.png)

[2022-01-12 14:19] dimko commented on #217
Moving back to In progress since an extra fix from agent side is required.

[2022-01-12 14:49] cakrit opened #236 "In node view, entering a filter that returns no results hides the filter input box"
Steps to reproduce:
- Click on the nodes tab
- Enter in the filter a criterion that will return 0 nodes (e.g. node_name contains foobar)
- Press enter

You see an empty list as you should, but also the filter itself disappears. You need to go to another tab and then return to see the filter again.

[2022-01-12 15:26] Jayto1 commented on #232
Ah I see, maybe we could expand it to fit times better?

[2022-01-12 15:29] Jayto1 opened #237 "[BUG] Dead link"
![image](https://user-images.githubusercontent.com/79473923/149170350-6d47026d-1ade-4521-9732-f579551d5d0e.png)
https://learn.netdata.cloud/docs/cloud/collaborate/#add-bookmarks-to-essential-resources

[2022-01-12 15:53] hugovalente-pm commented on #232
@Jayto1 I was just looking for confirmation, so you're really mentioning about the units being cut. is that right?

[2022-01-12 16:27] Jayto1 commented on #232
Yup, been cute ever since charts 2.0

[2022-01-12 21:17] manos-saratsis opened #238 "[BUG] Cannot leave a space, the space remains in the list on the left bar"
**Describe the bug**
I am trying to leave a space but I cannot. Space slug `cosmix`, user: manos@netdata.cloud

**To Reproduce**
Steps to reproduce the behavior:	Left bar -> Leave space

**Expected behavior**
I should be able to leave the space and not to see it again on the left bar

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2022-01-13 10:08] dimko commented on #217
Agent PR to fix agent health issue causing issues regarding the stucked alerts https://github.com/netdata/netdata/pull/11960