[2022-03-28 11:24] ravilushqa commented on #279
@dionysis-netdata do we need to add acceptance criteria for dashboards?

[2022-03-28 11:57] dionysis-netdata commented on #279
@amalkov I believe you said that we won't have any performance issues. Therefore, no need to implement logic of <100 nodes or change something.

[2022-03-28 13:46] underhood commented on #329
We set keep-alive to be `.keep_alive = 60` (in seconds). By MQTT specs client is supposed therefore to send pings latest every 60 seconds. Server MUST drop connection if no ping (or other control packet) arrives in `1.5 * keep_alive`s.

[2022-03-29 09:25] hugovalente-pm commented on #263
This was reviewed since the auto-triggering of the search happens in ~400 ms, so there isn't "time" for a user to press ENTER or click on a search button

[2022-03-29 10:35] YaroslavDev opened #371 "Implement get configured alerts on room level endpoint"
As part of https://github.com/netdata/netdata-cloud/issues/282 we need an endpoint for frontend to return data about ALL configured alerts at a room level in processor service.

[2022-03-29 10:38] #371 closed

[2022-03-29 14:12] dionysis-netdata commented on #360
Sharing for review and feedback
@ktsaou , @underhood , @cpipilas , @amalkov

[2022-03-29 17:25] underhood commented on #360
we are talking about Agents (with ACLK) here, also it should be much safer to include `claim_id` as hostname can be same across agent installs

[2022-03-29 17:28] underhood commented on #360
Additionally I would like to stress the initial source for connect and disconnect events must be cloud as agent might not reconnect and then we will be missing disconnect event (agent could never send it). So I think of it as cloud adds those events in and agent provides extra details if it can (upon next connection).

[2022-03-30 06:07] #310 closed

[2022-03-30 09:11] hugovalente-pm commented on #369
@Razique we will follow up on this bug and will get back to you with updates and/or if we need any extra information
thank you for bringing this to our attention

[2022-03-30 10:04] ivangergo3 commented on #213
I think the issue is coming from the database inconsistency
Let's say one request

https://testing.netdata.cloud/api/v1/spaces/4a920802-f67a-4f9f-a5bc-ecdd66749497/claimed-nodes?last_updated=2022-03-30T09:54:47.49879923Z

gives back "results": [] an empty array, at the same time

https://testing.netdata.cloud/api/v1/spaces/4a920802-f67a-4f9f-a5bc-ecdd66749497/rooms/2147de35-50e0-4e6f-a536-c07ce852

[2022-03-30 10:39] jjtsou commented on #355
Fixed in this PR https://github.com/netdata/cloud-frontend/pull/3130 ,
[here](https://github.com/netdata/cloud-frontend/pull/3130/files#diff-5c486e0e3889075b4361004fbefe0806d1a7eaee8a9ee73c76c8177a490168b0)

[2022-03-30 10:40] jjtsou commented on #353
Typo fixed in this PR https://github.com/netdata/cloud-frontend/pull/3130 ,
[here](https://github.com/netdata/cloud-frontend/pull/3130/files#diff-5c486e0e3889075b4361004fbefe0806d1a7eaee8a9ee73c76c8177a490168b0)

[2022-03-30 12:23] hugovalente-pm commented on #369
@Razique we have a fix in progress that applies to the custom dashboards, those that you see on the Dashboards tab, could you confirm if your issue was on those custom dashboards or was it on some other place in our app?

[2022-03-30 12:44] dionysis-netdata commented on #213
Hmm, can you please create it as ticket and add the "stability" label. There is a task force that is working on dealing with db sync issues

[2022-03-30 12:57] dionysis-netdata commented on #279
FYI, @thanos-karachalios

[2022-03-30 13:33] ivangergo3 commented on #213
Sure, will do it in a second

[2022-03-30 14:03] ivangergo3 opened #372 "[BUG] Inconsistency in databases"
**Describe the bug**

I get different responses from different endpoints. One of them has a node, while another does not.

**To Reproduce**

If you have a node, what is removed from one of the databases, but exists in another.
Let's say one request

/api/v1/spaces/4a920802-f67a-4f9f-a5bc-ecdd66749497/claimed-nodes

gives back "results": [] an empty array, at the same time

/api/v1/spaces/4a920802-

[2022-03-30 15:03] dionysis-netdata commented on #359
Hi @nikitabaldan ,

still facing the issue? is [https://app.netdata.cloud](https://app.netdata.cloud) not loading at all? All our services are working fine and no other user has reported such issues.

Maybe you can try from a different browser

Let me know if works

[2022-03-30 15:14] nikitabaldan commented on #359
Hi @dionysis-netdata,
It was an italian networking problem (probably with DNS).
I have faced another problem regarding the configuration of Netdata with docker compose. The container have continued to stop and the logs showed the following message error: `error adding seccomp filter rule for syscall clone3: permission denied`.  To solve that problem I have added `seccomp:unconfined` to the `securi

[2022-03-30 15:14] #359 closed

[2022-03-30 15:15] #355 closed

[2022-03-30 15:16] #353 closed

[2022-03-30 15:37] dionysis-netdata commented on #360
thanks @underhood. Yeye, I just put everything in a line, but as you said some data will be filled after the node reconnects so technically it makes sense that we use something other than log lines.

`claim_id` yes, plus other info we will need potentially. We could display both `hostname` and `claim_id`. Of course it will also depend on where we present the info. One option (like newrelic) is to

[2022-03-30 17:06] hugovalente-pm commented on #263
@jjtsou as a leftover from the designs that passed by me, we need to fix the hint on the search bar and just say for now "Search charts"
![image](https://user-images.githubusercontent.com/82235632/160891819-99e50b63-d216-499b-a24e-22b0009a8817.png)

[2022-03-30 18:36] zeylos commented on #367
Hi there,

I did find the discussion with papazach when we did the testing session, I'll try to write there what we found.
The issue appears only on Cloud overview, on the Kubernetes graphs, when chosing 4 days or more.
- 2 days render instantly
- 3 days struggles a little
- 4 days is erroring, the graph times out and every other graph is erroring for some time after, even if I get back to Last 5m

[2022-03-31 07:40] hugovalente-pm commented on #367
thanks @zeylos for sharing the summary/update.
@papazach will pick up on this and will ping you for whatever he may need

[2022-03-31 11:55] underhood commented on #360
Also big question is do we do a fallback HTTPS method for sending this information as was suggested in the past? IMHO this would be big overhead for small gain (as set of people whose agents suddenly cannot connect over MQTT/WSS but can connect with HTTPS will be small)

[2022-03-31 13:52] amalkov commented on #360
I would suggest thinking about the display a bit later, agree with @underhood we would need to deal with an object.

The list of events we would like to capture in the feed is listed in the [Feed events](https://docs.google.com/spreadsheets/d/1p1Fd-U68dNccXA0_TDzxB-eSwFXhwqSJE5FqPLfKsN4/edit#gid=0) excel file (column `Node`).

[2022-03-31 14:53] underhood commented on #360
@amalkov the Agent Unclaim event might be problematic as there is no such thing as unclaiming. You can claim agent again (basically giving it new identity) but you don't know if the previous "agent" will ever come back

[2022-03-31 16:54] ktsaou opened #373 "[BUG] charts with update_every=5 get misaligned across nodes, from time to time"
https://app.netdata.cloud/spaces/netdata-cloud/rooms/k8s-prd/overview

![image](https://user-images.githubusercontent.com/2662304/161108063-9b87483d-8d91-44b7-9be1-402ddc022306.png)

With `update_every=5` netdata agents should be aligned to 00, 05, 10, 15, 20, 25, 30, 35, 40, 45 50 and 55 seconds, according to wall clock.

However, some queries return data shifted by a second:

![Peek 2022-03-31 1

[2022-04-01 09:16] hugovalente-pm opened #374 "[BUG] Composite charts with data from multiple nodes when filtering a specific node charts show wrong data and Error badge"
**Describe the bug**
On Overview when you have composite charts with data from multiple nodes when filtering is applied and the visible charts don't have data for that node they show:
* data on charts in the viewport that is referent to the filtered out nodes
* `Error` charts when user scrolls and goes to a chart that doesn't contain data for the node selected on the filter

**To Reproduce**
Steps

[2022-04-01 09:55] hugovalente-pm commented on #263
Closing this one @jjtsou

[2022-04-01 09:55] #263 closed

[2022-04-01 10:07] hugovalente-pm commented on #361
This is released

[2022-04-01 10:07] #361 closed

[2022-04-01 10:15] vkuznecovas commented on #343
Released to prod.

[2022-04-01 10:15] #343 closed

[2022-04-01 10:50] ktsaou opened #375 "[BUG] k8s: how can I see all containers that are CPU throttled?"
There are 3 CPU utilization charts for cgroups:

1. cgroup.cpu_limit
2. cgroup.cpu
3. cgroup.cpu_per_core

## cgroup.cpu_limit

This chart is supposed to go 0-100% for all containers, within the CPU limits they have. So, if a container has 3 cores, it should be 100% when all 3 cores are used.

It does not happen.:

![image](https://user-images.githubusercontent.com/2662304/161248855-3f307b09-48f7-

[2022-04-01 12:39] ilyam8 commented on #375
We use the following files to calculate limits:

 - `cpuset.cpus` (cpuset controller)

 - `cpu.cfs_period_us` (cpu controller)

 - `cpu.cfs_quota_us` (cpu controller)

The calculations:

[code]

e.g. `--cpu-period=100000 --cpu-quota=15100` means: the tasks in the cgroup are allowed to access CPUs for 15100 us, this limit resets every 100000 us => 100% (`CPU Usage within the limits` chart) is 15.1%

[2022-04-01 12:50] papazach commented on #373
Hello @ktsaou I understand the issue, sadly I try to reproduce it and I cannot.

I've been checking this chart (and others also) in all the rooms I have access to and I haven't bumped onto a similar case to investigate and debug.

In all the cases I came across, the time intervals of the timeseries data response were the same as the `update_every`

[2022-04-01 13:21] ilyam8 commented on #375
I think this info came frome me. In fact, it is not. But the value > 100 means it is above the quota.

Example (from the prev post):

limits:
 - `--cpu-period=100000`
 - `--cpu-quota=15100`
 - => limit is 15.1%

| Value      | cgroup.cpu_limit | cgroup.cpu|
| ----------- | ----------- | ----------- |
| 7.5%      | 7.5%       | 50%       |
| 15%      | 15%       | 100%       |
| 30%      | 30%

[2022-04-01 14:39] #315 closed

[2022-04-01 14:57] hugovalente-pm commented on #369
@Razique thanks for confirming that, we are still trying to replicate the issue but since this is no longer happening to you we are lowering the priority of this.

[2022-04-01 17:45] ktsaou opened #376 "[BUG] missing data are not shown on composite charts"
In group by node, there are missing data:

![image](https://user-images.githubusercontent.com/2662304/161315067-bccaa878-e1c2-4a39-aa1f-5fb1661ab2a9.png)

But in group by dimension, data are not missing:

![image](https://user-images.githubusercontent.com/2662304/161315175-540ff1d8-07ab-45c0-90c7-a07e7aa9e8cb.png)

When all the values reported by the agents are `null`, now the backend just skips t

[2022-04-01 17:46] ktsaou commented on #376
@papazach

[2022-04-01 17:57] ktsaou opened #377 "[BUG] partially missing data should show be interpolated and annotations on composite charts"
Example source data partially missing (in group by node):

![image](https://user-images.githubusercontent.com/2662304/161315580-8ee61f19-1e11-4d00-827f-5637ac4c8563.png)

What we present on group by dimension:

![image](https://user-images.githubusercontent.com/2662304/161315686-75294dd9-2fa6-4228-a118-005ebe25a187.png)

The backend is just skipping the `null` values reported by the agents and ave

[2022-04-02 06:31] ktsaou commented on #373
I see it happening now: https://app.netdata.cloud/spaces/netdata-cloud/rooms/k8s-prd/overview#chartName=menu_system_submenu_load&_f=&metrics_correlation=false&after=-900&before=0&utc=Europe%2FAthens&offset=%2B3&timezoneName=E.%20Europe

[2022-04-02 18:57] ktsaou opened #378 "[BUG] dimension renames are not properly propagated to the cloud"
Check the dimension names on this chart:

![Peek 2022-04-02 21-59](https://user-images.githubusercontent.com/2662304/161397541-0716f9eb-cb5c-4e8a-9a20-649d7a029155.gif)

https://app.netdata.cloud/api/v2/nodes/fd62ef03-d904-4d4c-904c-b1841e0fac88/data?v2=&chart=tc.ens4&format=json&options=jsonwrap%7Cnonzero%7Cflip%7Cms&_=1648925606540&points=351&group=average&gtime=0&after=-301

[code]

Agent:

htt

[2022-04-03 11:58] ktsaou opened #379 "[BUG]: slow data queries - SOLVED part 1"
Today, in a meeting with @ktsaou @stelfrag @papazach @ilyam8 we traced the issue of slow data queries for our infra.

We used the `cgroup.cpu_per_core` chart in the kubernetes section, which has 500+ charts (containers), from 16 nodes.

The initial time, when we started investigating, was that every chart refresh with 2 hours of data, with 720 points, needed 26.6 seconds.

We found out that the by

[2022-04-03 12:27] ktsaou opened #380 "[BUG]: backend connection pooling"
Setup:

1. 16x agents, monitoring 500+ containers
2. 1x parent, all 16 agents connect to it
3. 1x grand-parent, the parent connects to it for all 16 agents

The flow of connections in our backend goes like this:

1. Web browser sends a data query to the cloud
2. The socket is connected to `haproxy` and SSL termination happens here
3. `haproxy` connects to `traeffic`, which routes the information t

[2022-04-03 14:53] ktsaou opened #381 "[BUG] kubernetes should only be used for services requiring auto-scaling"
Today, we use our k8s cluster to install every application we use.

I think this is wrong. We use an autoscaling environment for running services that either are not required for our operation (even if they stop, no harm is done), or do not benefit from running under kubernetes.

To my understanding, the following apps do not need to run under k8s:

1. databases that do not autoscale
2. database a

[2022-04-03 17:32] ktsaou opened #382 "Monitor all netdata.cloud components"
We should be monitoring all infrastructure components with netdata:

Currently missing:

1. haproxy
2. traefik
3. postgresql

Probably more components are not monitored today.

[2022-04-04 07:08] papazach commented on #373
Adding here what I managed to get from intercepting some problematic responses.
This is not an issue that is happening frequently and I think that it is highly likely that it is due to the data (mainly their timing) returned by _some_ nodes.

I quickly put together a script to print the time intervals between the various points of the composite data responses.

The ok cases look like this (note th

[2022-04-04 12:10] ivangergo3 opened #383 "[BUG] War Room managemnt pop up details are not accurate"
**Describe the bug**

The number of Nodes and users is not accurate for War Room Management

**To Reproduce**

Prerequisite: Have a user with multiple war rooms

Steps:
1. Open an incognito window
2. Log into netdata
3. Go into one of your rooms
4. Open Manage War rooms popup

Observe, that all rooms will have 0 nodes and 0 users, except the one where you are right now.
If you open the manage popu

[2022-04-04 12:25] dionysis-netdata commented on #383
I suspect this is superseded by https://github.com/netdata/netdata-cloud/issues/281 GOAL Q2

Admins should see a list of **all** war rooms in a space (public private) and statistics to be accurate

[2022-04-04 12:29] dionysis-netdata commented on #279
@ravilushqa, @ivangergo3  I noticed it's not possible to delete the copied room general-static after migration.

We should allow actions, like remove users, leave war room and delete war room for general static. It's the new general that won't allow such actions. So if we end up creating a copy room it will behave as a standard room

[2022-04-04 12:49] ravilushqa commented on #383
also I've found the mechanics of the bug. if we jump through all the rooms and click manage space -> war rooms
we will see actual state. After that we can refresh the page, and we will see actual state only for current room, and 0 for others

[2022-04-04 12:54] hugovalente-pm commented on #345
With the closure of https://github.com/netdata/netdata/pull/12284 I think this can be closed, what do you think @odynik ?

[2022-04-04 12:55] ravilushqa commented on #279
it's bug, and it's probably fixed :)

[2022-04-04 13:22] papazach commented on #367
Hello so after taking a look we'll probably need to get some additional Agent reinforcements here, maybe DB related ones.

In the Overview Screen, even when we requests some simple System Overview charts and select 12 hours the parent's CPU usage increases a lot and the time it takes to process cloud requested DB queries skyrockets also.

You can imagine that at some point (especially in k8s compo

[2022-04-04 15:38] #375 closed

[2022-04-04 17:08] hugovalente-pm commented on #378
@papazach @odynik do you guys have an idea if the issue lies on Cloud or Agent?

[2022-04-04 17:12] hugovalente-pm commented on #376
@ktsaou isn't this the same as #377 ?

[2022-04-04 17:15] hugovalente-pm commented on #372
@vkuznecovas probably pinging you to see if we can link this to some on-going work or if this is something new

[2022-04-04 19:10] cakrit opened #384 "[BUG] Frequent reachability notifications, for node that is always accessible"
**Describe the bug**
The admin of the space with slug `collinson` reported that after switching to the new architecture and enabling reachability notifications, he has been receiving frequent reachability alerts from a node that doesn't really have such issues. He mentioned that every time he checked on the node he got a reachability alert for, it was accessible via SSH, so he considers the notifi

[2022-04-04 20:01] vkuznecovas commented on #372
This is definitely caused by the general desync we have, https://github.com/netdata/cloud-backend/issues/91 will fix it.

I've also applied a manual temporary data fix for staging and production for cases like this, but have not run it in the testing env as that was not seeing particular use at that time.

[2022-04-04 21:11] eli-cobler commented on #337
@hugovalente-pm I can confirm that the fping module is showing up correctly.

[2022-04-05 08:18] hugovalente-pm commented on #337
Thank you for the confirmation @eli-cobler, will close this bug then.

[2022-04-05 08:18] #337 closed

[2022-04-05 10:39] #374 closed

[2022-04-05 10:39] hugovalente-pm commented on #374
when a change in filters happens a new `/charts` request is fired and TOC will be updated based on that

[2022-04-05 10:48] novykh commented on #374
there should be no new `/charts` request. We are doing the search on the frontend.

[2022-04-05 10:56] hugovalente-pm opened #385 "[BUG] Composite chart from `go.d` plugin doesn't show dimension when they are filtered on top-bar"
**Describe the bug**
On a composite chart, with data from `go.d` plugin, showing on a couple of dimensions if you filter one out on the `All Dimension` dropdown you get a `No Data` chart.

This happens on Overview and Custom Dashboards

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a `go.d` plugin chart - https://app.netdata.cloud/spaces/netdata-cloud/rooms/k8s-prd/overview#chartName=

[2022-04-05 12:36] hugovalente-pm commented on #374
I don't think I'm seeing things. @novykh please check this gif

1. last charts request: 05 Apr 2022 12:34:41 GMT
2. did the filtering, next charts request: 05 Apr 2022 12:34:50 GMT
3. sub-sequent charts request: 05 Apr 2022 12:34:51 GMT

![chrome_rK7l3HwdCB](https://user-images.githubusercontent.com/82235632/161754745-bb9ebbfa-bad4-49d1-a903-6107683d1844.gif)

[2022-04-05 14:57] novykh commented on #374
My bad, I mean the table of contents search.

[2022-04-05 15:54] #302 closed

[2022-04-06 10:13] ivangergo3 commented on #383
@dionysis-netdata you might be right
Let's wait for that feature, and we can come back to this one and check it again.
We definitely have to check it at some point

@ravilushqa I think it is basically the same problem, so we do not see all the details. I guess the frontend asking only for the current status. If we will have the new feature it can sort this issue. But let's come back after the feat

[2022-04-06 10:14] hugovalente-pm commented on #385
this was spoken with @novykh and @papazach and it is confirmed it is a BE bug.

this happens where you have more than one contributing node for the chart and there are issues with ensuring the right set of dimensions is correctly managed

[2022-04-06 10:15] ivangergo3 commented on #279
@dionysis-netdata For me, it makes sense to remove the general-static room, as it should not behave as general, but just as a simple room.

[2022-04-06 11:35] sashwathn opened #386 "Notification mechanism consolidation between Agent and Cloud"
## Issue:
Currently, alert notifications are being sent from both Agent and the Cloud even when the agent is claimed on the cloud.

## Requirement
Notifications of Alerts should only come from the Cloud if the Agent is claimed for the notifications mechanisms that are common. If other notification mechanisms are enabled on the Agent, these should be honoured.

cc: @ktsaou  and @amalkov

[2022-04-06 14:04] hugovalente-pm commented on #384
@car12o we'll probably need to take a look at this one and see the level of priority, this is one user report but how many could be facing the same situation?

cc/ @sashwathn since it touches Alerts domain

[2022-04-06 14:30] car12o commented on #384
@hugovalente-pm we need to check the user's agent logs to verify that agent is really not dropping the connection.

[2022-04-06 14:38] kedare opened #387 "[BUG] Can't delete a lot of nodes in a single request from a war room"
**Describe the bug**
When trying to delete a large amount of nodes (hundreds) from a war room, it doesn't work

**To Reproduce**
Steps to reproduce the behavior:
Add a few hundreds nodes to a war room (tested with 400 to 600), try to delete all the nodes from the web ui (select all, remove), the request fails with error "No Internet Connection - Network Error"

**Expected behavior**
The nodes shou

[2022-04-06 15:38] hugovalente-pm commented on #295
@christophidesp just a heads-up, with the conversations about the centralized grouping it was mentioned the potential need to have that also available on each section. here the question will be:
* shall we have just the in-section grouping available then? my concern it could still be not noticeable by the users
* would it be too noisy/confusing to have the grouping available both on top, in-sectio

[2022-04-06 22:15] dimko opened #388 "[BUG] chart canvas is empty"
There are cases in single node view, where BE responds with values for chart's dimensions, but chart's canvas appears empty

![da43e294105f6e1d](https://user-images.githubusercontent.com/19268853/162081298-962989c6-2239-4f8a-994f-6564baa4fe71.png)

[2022-04-07 07:13] christophidesp commented on #295
@hugovalente-pm I think that we should evaluate the value of having an overall "Group by" or a per section one. Either of these for me makes sense, but having both of them (along with the on chart selection), might over-complicate things.
As for the in-section "Group by", I think that if it is at the same level with the title and to the far right, it will be noticeable. I will create a quick mocku

[2022-04-07 08:36] dimko commented on #388
closing as duplicate to this https://github.com/netdata/netdata-cloud/issues/326

[2022-04-07 08:36] #388 closed

[2022-04-07 10:06] hugovalente-pm opened #389 "[feat] Top-bar should be available even when chart is on fullscreen"
## Goal

We need to have the top bar be visible when a chart is seen in fullscreen because user may need an access to the time selector
The option to chose can be whatever is easier for FE:

### Option 1 - just top-bar
![image](https://user-images.githubusercontent.com/82235632/162174726-7919e7e5-84ae-4d40-a268-70e7f419e4bc.png)

### Option 2 - top-bar and left-bar
![image](https://user-images.git

[2022-04-07 10:19] vinnygats commented on #389
Basically yes, the topbar and leftbar have a lot of options that do not really affect the chart at all, so not sure if it makes sense to have them exposed really. We may have users that really want to have this chart running on big screens continuously and nothing else.
For me would make more sense to enable the datetime picker within the full screen of the chart.

[2022-04-07 10:24] hugovalente-pm commented on #295
The in-section filter, I think, will be our end-game since we'll have more options related to the context of the section you are looking at.

the overall one was identified before we started the in-section conversations and we were trying to see if it would an easy/fast delivery, which it seems it isn't so probably we should focus our efforts on the in-section and try to make it noticeable as you

[2022-04-07 10:40] christophidesp commented on #389
I agree that we should always show the top bar in order to maintain control over time selection and war room visibility, so that the context is always clear for the user. As for the side bar, I don't think it is a critical part of the full screen chart layout, but I think it looks more consistent if we keep it visible together with the top bar.

[2022-04-07 10:45] hugovalente-pm commented on #389
I agree with @vinnygats comment, about user in the context of a maximized chart not needing to access other things besides datetime picker but we may add new things that could make sense, e.g. we have the Universal node filtering coming up, so I'm more inclined towards keeping the top bar and not moving stuff inside the chart.

I included the left bar on the suggestion because of what @christophid

[2022-04-08 12:12] YaroslavDev commented on #384
I found following in agent `access.log`:
[code]
and in agent `error.log`:
[code]
I checked our database, where we store all sent notifications, and for given `node_id=2d81b593-c94d-4fef-8e1f-bd6828501779`  we've sent 2 "node unreachable" emails to 2 different users at `2022-04-07 07:00:51.487994 +00:00`,
21 seconds after agent was disconnected from cloud.
I guess this is the reason why although no

[2022-04-08 12:29] hugovalente-pm commented on #384
thanks @YaroslavDev for looking into this specific occurrence, but can we try to understand a bit more from this user?

@cakrit has mentioned this on the description of the ticket, so this is happening frequently.
not sure if related with some existing issue like #329 or something else

[2022-04-08 12:35] YaroslavDev commented on #384
@hugovalente-pm
I was provided access.log and error.log just for 1 node, and for that node we only sent 4 emails(2 unreachable & 2 reachable). If there are problems with agent connecting to cloud, then probably we will send reachability emails. I am not aware why nodes can suddenly disconnect from cloud, I would assume that bug you linked is the root cause for these redundant emails.

[2022-04-08 12:54] hugovalente-pm commented on #384
thanks for confirming @YaroslavDev , I'll share these details with the user and ask him to check this log in particular `access.log` to look for these kind of entries

[code]

[2022-04-08 12:59] car12o commented on #384
Although we may have an issue on the cloud, I think this is not one of them as `Frequent reachability notifications, for node that is always accessible` is not true, as the node was not always accessible.
We are aware that this could be the cause for such disconnection https://github.com/netdata/netdata-cloud/issues/329 but I think it's best to not create duplicated issues.

[2022-04-08 15:25] hugovalente-pm commented on #384
I asked the user, if he confirms that it is the frequent disconnects we can close this and point him to the other bug

[2022-04-08 16:40] cakrit commented on #384
Based on what I see below, the node seems to have reconnected just 9 seconds later. I believe we already have introduced a delay in the reachability notifications, so that we don't email people for such cases, right? If not, then shouldn't we? A temporary disconnection / reconnection due to some temporary issue is to be expected.

[2022-04-08 16:46] hugovalente-pm commented on #384
good point @cakrit , it makes total sense that delay.

was able to track this ticket netdata/product#1952 and I see that both @car12o and @YaroslavDev were involved on it, so they probably can help clarify if this delay was implemented already

[2022-04-08 16:49] sashwathn commented on #384
@hugovalente-pm abd @cakrit ; The delay is implemented and if you look at @YaroslavDev's comment above, the reachable (connected) notification is sent to the user after 5 minutes although the ACLK connection was established within 9 seconds.

[2022-04-08 16:54] car12o commented on #384
Yup, the business requirement was the debounce just when the node comes back online. Personally, as a user, I would expect my monitoring tool to alert me right after my node goes offline.
The debounce mechanism is already implemented, changing it to also debounce on disconnections is quite easy.

[2022-04-08 17:01] cakrit commented on #384
Ok, we probably missed the point of the delay. It's there so that if the node has come back online within the limit, we never notify. So of course we need the debouncing (or rather clearing) of the notification, once the node has come back online.

[2022-04-08 17:07] car12o commented on #384
Ok, we can address that. What is the reasonable delay we should use when a node goes offline?
Currently, when a node goes offline we send the notification right away (do not delay), but when a node comes back online we delay the notification by 3min.

[2022-04-08 18:09] bojdell commented on #182
Seems related to this thread, but I am unable to remove "dead" nodes from war rooms with this message. This is the default "General" room that is created automatically. I am a full admin.

<img width="384" alt="image" src="https://user-images.githubusercontent.com/3486165/162497703-ebde87c7-532c-427e-bc53-8d3e9e47f0fc.png">

<img width="433" alt="image" src="https://user-images.githubusercontent.c

[2022-04-08 18:31] ravilushqa commented on #182
hey @bojdell.
Thank you for reporting.
It's expected behavior for now, as we changed some logic over General war room.
For now the General War Room is a centralized room with all nodes that belong in this Space, so you cannot remove nodes and users from it. We will improve your experience soon.

[2022-04-08 18:46] bojdell commented on #182
@ravilushqa thanks for the quick reply. `with all nodes that belong in this Space` - I would like to remove nodes that no longer belong in the space. Do you have a rough timeline on the improvements? I see there is a related thread [here](https://community.netdata.cloud/t/deleting-a-node-from-the-ui/28/10) from 2020

[2022-04-09 09:40] realEthanZou commented on #182
Observing similar behavior. Unable to claim new nodes / remove dead nodes / remove war space due to "untouchable room". Would appreciate timeframe for fix

[2022-04-09 14:41] taylor5042 commented on #182
I also have an unreachable node that cannot be removed due to the untouchable room message.

[2022-04-09 15:42] Julian-Cloudshelf commented on #369
This is occurring for me, but only on iPhone (chrome, haven't tried any other browsers) and only on the "overview" section of the node page:
![BC1D3D10-8FD3-4C0A-B657-A6FD7B91A2FE](https://user-images.githubusercontent.com/86957025/162581154-84784e29-a78b-424d-8842-a8c75fd6b2b6.png)

[2022-04-09 18:33] Razique commented on #369
@hugovalente-pm to confirm, the issue is still there, but it's only on a specific computer (which doesn't make sense to me), because all browsers on my computer have that same issue, but from a different computer, everything loads fine.

[2022-04-10 14:34] hugovalente-pm commented on #384
Thanks for jumping in @sashwathn, that detail slipped me.

It seems we have an agreement that a delay should be introduced when a node goes offline, I would say something between 30sec to 1 min. should be ok, but this of course will depend on the level of criticality of a service... considering we, atm, can't have user-specific definitions for this we should aim for the lowest time - the 30 sec.

[2022-04-10 14:39] hugovalente-pm commented on #369
@Julian-Cloudshelf @Razique we keep some caching on the FE side of things, using the browser local storage, could you force the clean of the cache on the computer/browser that you have issues and try again?

[2022-04-10 15:24] hugovalente-pm commented on #295
As discussed on the Overview tab - centralized grouping netdata/product#2081 we will need to have the Group by selection available as well on the in-section filter

[2022-04-11 07:08] dionysis-netdata commented on #182
Hi all, we understand the issue and we will work on adding the capability to mark nodes as obsolete. Essentially soft-delete them across the space. This is planned for this quarter and more likely towards the first part

[2022-04-11 07:50] car12o commented on #384
Ok, 30sec seems reasonable to me.

[2022-04-11 08:14] YaroslavDev commented on #384
@hugovalente-pm @car12o from implementation perspective it's not a problem to add "configurable at service level" delay for "unreachable" event as well. Do we want to send "reachable again" email for a node that was down/disconnected from cloud for a very short period of time(e.g. 30 seconds)?
For example, for me it would be great to NOT receive ANY emails at all, if node was offline for 30 second

[2022-04-11 09:17] hugovalente-pm commented on #384
I think @cakrit reasoning is acceptable

Having these logged and visible to the user should be ok, but @sashwathn is the PM on the Alerts side so let's hear his opinion and decision.

[2022-04-11 09:56] dionysis-netdata commented on #289
Remember to sync with FE on this https://github.com/netdata/cloud-frontend/issues/3217

[2022-04-11 10:00] hugovalente-pm opened #390 "[Bug]: Browser JS Heap size increasing"
### Bug description

Throughout the use of Netdata Cloud UI we notice that the JS heap size is constantly increasing and rarely reduces the memory footprint.

This seems to indicate a potential memory leak.

### Expected behavior

JS Heap size should be smaller and not constantly increasing

### Steps to reproduce

Go to https://app.netdata.cloud/spaces/netdata-cloud/rooms/k8s-prd/overview#chartNa

[2022-04-11 10:10] hugovalente-pm opened #391 "[Bug]: Jumping from sections takes a long time"
### Bug description

When jumping from a section to another takes a long time, on the example, the jump to `Netdata monitoring` took ~10 sec.

### Expected behavior

Response time between jumping sections should be faster.

### Steps to reproduce

Navigate across sections and see that sometimes it takes a lot of time to load the new one

### Screenshots

![ezgif-5-eb68e664d6](https://user-images.g

[2022-04-11 10:24] hugovalente-pm commented on #329
@underhood is this still under investigation?

we have a report from another user that is having the same issue, here are the access & error logs for all hosts he scrapped.

his setup:

[log_scan_error.log](https://github.com/netdata/netdata-cloud/files/8463172/log_scan_error.log)
[log_scan_access.log](https://github.com/netdata/netdata-cloud/files/8463173/log_scan_access.log)

[2022-04-11 14:26] cakrit commented on #384
You can also check with @ktsaou regarding the default delay. Again, in my mind we were never supposed to have two different timers. So the "5 min delay" would mean that no notifications are sent if the node recovers within 5 minutes, which is pretty damn high for a transient issue. Something closer to 30 sec as suggested above would probably make more sense.

Note that this setting should eventual

[2022-04-11 16:03] stelfrag commented on #378
I will investigate the agent part since from the description of the issue we are talking about a metadata update (dimension id, name and chart changes to a dimension should be propagated to the cloud)

[2022-04-11 20:17] underhood commented on #329
@hugovalente-pm why you think this is same issue? By very quick look (didn't investigate in detail) there seems to be quite big time before connection and disconnection:
[code]

[2022-04-12 07:46] sashwathn commented on #384
@cakrit : For now we can start with a default setting of 30 seconds to propagate a notification when the node goes unreachable (to avoid for short fluctuations). And later on we will need to create multiple configurable parameters:

- Configurable flood protection mechanism
- Configurable delays on reachability notifications
- User level notification settings for flood protection etc

@amalkov and

[2022-04-12 08:28] hugovalente-pm commented on #369
Great news! If this is solved are you ok if we close this bug?

[2022-04-12 11:16] hugovalente-pm commented on #329
@underhood you're right... I probably did a too fast scan on this one, most cases seem to have some time between connection and disconnection. not in such an high number but there are cases also where this happens in a shorter period but more isolated:

[code]

any idea what could cause something like this? some issue on users infra?

[2022-04-12 12:54] zeylos opened #392 "[Bug]: Unreachable nodes not removable from General room"
### Bug description

Hi there,

After the implementation of #279 I have 131 unreachable nodes that I can't remove from the General room.
![image](https://user-images.githubusercontent.com/24226163/162966323-7413c5b6-d009-4814-950a-d4e51c8def71.png)
The following error message appears when I try to remove one.
![image](https://user-images.githubusercontent.com/24226163/162966452-402dc7e4-7c5d-4ed8-

[2022-04-12 13:03] dionysis-netdata commented on #392
Hi @zeylos .

We are already working on this https://github.com/netdata/product/issues/2821
which will let you soft-delete nodes from your space.

By soft-deleting obsolete nodes, all views that bring nodes will not contain such nodes

[2022-04-12 17:01] sashwathn commented on #282
Summary of the current status and requirements for the Configured Alerts view:

# Level 1 - Configured alerts in war room

There are 200 nodes in war room `general`. Currently `REMOVED` alerts are not included.

Alert Name|Nodes<br/>Running It|Alert<br/>Instances|Critical<br/>Nodes|Warning<br/>Nodes|Clear<br/>Nodes|Unique<br/>Configs
:---:|:---:|:---:|:---:|:---:|:---:|:---:
**10min cpu usage**|10

[2022-04-12 21:03] amalkov commented on #282
Do we need to display on level 3 a config hash Id? It would be good to have a link to a dedicated alert landing page, where people would be able to see config params

[2022-04-13 07:24] realEthanZou opened #393 "[Feat]: A notifier for recent breaking commits"
### Problem

Recently there are two breaking changes that makes netdata cloud very difficult to work with for me.
1. unable to remove unreachable nodes or obsolete war rooms
2. a "General static" room appeared out of no where. The notification policy set for that room is all alerts. I got ~100 emails flooding my inbox today.

### Description

Please, a proper way to inform users the breaking chang

[2022-04-13 07:41] sashwathn commented on #282
@amalkov : I think it is okay if we redirect to the alert landing page but will that be the page where all the alert management actions be executed?

1. Snooze
2. Silence
3. Clear / Acknowledge
4. Edit Alert Config etc

cc: @ktsaou

[2022-04-13 10:12] sashwathn commented on #282
Latest updates in here - https://github.com/netdata/netdata-cloud/issues/282#issuecomment-1096975311
cc: @ralphm @car12o @amalkov @ktsaou @YaroslavDev @jacekkolasa

[2022-04-13 11:04] shyamvalsan commented on #363
@ktsaou do you still see this behavior after the latest changes? We are not able to reproduce this with the current build.

[2022-04-13 11:26] libekonst commented on #357
Issue 1 is now fixed.

Issue 3 is still open, we don't do any error handling there. Let's prioritize it and I can start it.

[2022-04-13 13:20] hugovalente-pm commented on #364
@stelfrag just to check if this can be closed, I noticed now that this is on the `Done` status

[2022-04-13 13:25] hugovalente-pm commented on #345
@odynik @stelfrag just to confirm the above, to close hanging tickets

[2022-04-13 17:40] ktsaou commented on #364
Yes, this is done. The timeout is now 10s and the timeout is also propagated to the agent to abort the query there too.

[2022-04-13 17:40] #364 closed

[2022-04-14 12:39] dimko opened #394 "[Bug]: Alert configuration is not updated if change doesn't contain status or name change"
### Bug description

Cloud doesn't update alert configurations even though agent sends the updated configuration, when the modification doesn't trigger an alert name or alert status change.

### Expected behavior

Since alert hash for configurations is calculated based on the whole conf file, even the slightest change should trigger an event in cloud to update the config and all affected alerts.

[2022-04-14 12:41] shyamvalsan commented on #357
@libekonst So Issues 1 & 2 are fixed.

Will Issue 3 even occur anymore? If the objective is purely error handling, then instead of "Loading..." we could replace with "Error" and tool tip can ask user to retry or reload.

[2022-04-14 12:43] shyamvalsan commented on #363
I still see it active in prod room @libekonst @juacker could you take a look please? I'm not sure if this is a FE or a BE problem.

![image](https://user-images.githubusercontent.com/24860547/163392837-ba604a04-e080-410e-8cd9-f61ee67c3e7e.png)

[2022-04-14 13:54] dimko opened #395 "[Bug]: Alert pop-up covers chart"
### Bug description

After a user clicks to view the alert affected chart either from the email or the alert's details modal (they both redirect to the new alert's dedicated page) the alert pop-up covers part of the chart

### Expected behavior

The chart should be visible and popup should be displayed a bit higher

### Steps to reproduce

1. Trigger an alert on a node claimed to cloud
2. Click th

[2022-04-14 13:56] dimko commented on #242
@car12o I remember you did some work that would fix this last week. I haven't verified yet if issue is gone. Have you tested it? Can you link the ticket you were working on on this one?

[2022-04-14 14:57] ralphm commented on #364
I don't understand what happened here. Did we revert the backend change to be 10 seconds again, instead of 3 seconds? Did we change something in the agent? Which tickets / PRs correspond to those changes and why are they not linked here?

FWIW I was the one suggesting to lower to 3 seconds, because I think it is not reasonable for the response to take even a second, and the UI will hang for a comp

[2022-04-14 15:21] #384 closed

[2022-04-14 17:35] Mic-Pod opened #396 "[Bug]: Unable to remove old, unreachable node"
### Bug description

Hi,
I can't remove old, unreachable nodes from War Room.
![image](https://user-images.githubusercontent.com/57563877/163442043-9000fa30-3dee-4014-91ac-bfface0af790.png)
Last time I checked Netdata Cloud, I have had only nodes that are alive. Now I see also old ones (cloned VMs with same ID).
![image](https://user-images.githubusercontent.com/57563877/163442717-f8511f7b-3e53-45

[2022-04-14 19:06] Mic-Pod commented on #396
As a workaround, I have created new Space, deleted the old one and claimed all nodes to the new new Space. All is working fine now - no old nodes.

[2022-04-15 02:23] mrleongalaxyum opened #397 "[Bug]: Error 500 when accessing cloud"
### Bug description

I was trying to remove a node from war room general and move it to a custom room, but now I cant add it to any room anymore

contact:
wisefox3599@gmail.com

### Expected behavior

open the cloud and show selected node data

### Steps to reproduce

1.Install docker container netdata
2.connect to cloud
3.remove docker container
4. connect to cloud with new token
5. remove contai

[2022-04-15 07:30] dimko opened #398 "[Bug]: Chart Highlighted with Alert even there are no data for that period"
### Bug description

When cloud or agent doesn't have data for a specific time-period an alert happened, we highlight the chart and display the pop-up as if the agent displays data normally.

### Expected behavior

The pop-up copy should be something like "Alert/Chart doesn't exist in this time period" and the chart shouldn't be highlighted with the alert

### Steps to reproduce

Not clear

### Sc

[2022-04-15 09:00] odynik commented on #345
@hugovalente-pm There is a pending PR in draft mode. Let's wait until it is merged. Then we can run regression tests and close the issue.

1. netdata/netdata#12451
2. netdata/netdata#12356
3. netdata/netdata#12284
4. netdata/netdata#12655 - Draft but tested in production

[2022-04-17 10:11] weastur opened #399 "[Bug]: Can't delete stale node from a war room"
### Bug description

There is no delete button along with node name.

### Expected behavior

Successful deletion

### Steps to reproduce

1. Add node

### Screenshots

<img width="626" alt="Screenshot 2022-04-17 at 13 07 21" src="https://user-images.githubusercontent.com/10865586/163710017-40deedad-eb2a-4ae2-9036-35bbc319d747.png">

### Error Logs

_No response_

### Desktop

_No response_

### Ad

[2022-04-18 08:34] dimko commented on #324
@jacekkolasa does your fix for the new alert's page, fixes this one as well?

[2022-04-18 09:04] shyamvalsan commented on #363
@juacker can you take a look please?

Can't seem to add Andy to the comments for some reason.

[2022-04-18 10:26] andrewm4894 commented on #363
This is I believe related to how agent calculates counts on parents. In some scenarios it was doing it at parent level even in the /parent/host/child info endpoint.

@vkalintiris do you remember this one we discovered with @ktsaou

[2022-04-18 10:37] juacker commented on #363
I'm seing this behaviour for node named `gke-production-main-5de9e2ed-23gd`:

The `/info` endpoint is returning:

[code]

while the `/ml_info` endpoint is returning:

[code]
In this example, both requests were made to the same node instance.

I'd suggest to calculate this rate using only information from `/ml_info`, for example, `trained_dimensions/total-dimensions`, wdyt @andrewm4894 @vkalintiris

[2022-04-18 12:50] shyamvalsan commented on #358
@libekonst could you confirm the below - and if this is true, please close this ticket.

Of the items @ktsaou raised in this ticket.

#1 - fixed in https://github.com/netdata/cloud-frontend/issues/3111
#2 - fixed in https://github.com/netdata/cloud-frontend/issues/3257
#3 - fixed in https://github.com/netdata/cloud-frontend/issues/3257 & https://github.com/netdata/cloud-frontend/issues/3258

cc: @

[2022-04-18 15:14] hugovalente-pm opened #400 "[Bug]: Charts with agents with different view update at freq. cause "No data" error on Cloud BE"
### Bug description

Related with the issue netdata/netdata#12603, besides the wrong behaviour that can be seen on charts we also get "No data" message because of a `500` error being reported by Cloud BE.

<details>
<summary> /data request that failed </summary>

[code]
</details>

Error response
![image](https://user-images.githubusercontent.com/82235632/163828905-1c6f80d0-81c2-40da-9ba6-c1e7f2f5

[2022-04-18 16:46] hugovalente-pm commented on #345
thanks for the summary @odynik , let's see how the merging and testing of this goes

[2022-04-18 17:25] hugovalente-pm opened #401 "[Feat]: Provide a timeline bar under the k8s container/pod map and allow "freezing" a specific time period"
### Problem

Currently the k8s container/host map doesn't have a timeline that could be used to navigate the map through time, this needs to be done using another chart.

On top of that, once you hover out of a chart (used for time navigation) you lose the _picture_ on the k8s map.

### Description

Introduce a timeline on the k8s container map and allow users to pinpoint a specific period in time

[2022-04-18 17:42] hugovalente-pm commented on #401
@christophidesp as we talked let's use this ticket for discussions.
@novykh I had a brief chat already with @christophidesp to start some Design exploration on this and how it can be tacked.

Goal is to see how in terms of UX we can introduce the new "chart" for the k8s map and support the freezing action. the general ideas:
* the heatmap could have something similar to this ["range selector"](htt

[2022-04-18 17:44] hugovalente-pm commented on #401
more for x-reference, the requirement on Annotations on charts netdata/product#1792 - this is much more broader than pinpointing

[2022-04-18 23:40] bojdell opened #402 "[Bug]: Unable to remove live node from non-General room"
### Bug description

I understand there are known issues (ex https://github.com/netdata/netdata-cloud/issues/182#issuecomment-1093152078 ) with deleting unreachable nodes and also from modifying the "untouchable" General room. However, I am also unable to delete live nodes from a new room (non-General). I attempted this room as a workaround for the other issues but ran into this additional issue.

[2022-04-18 23:47] bojdell commented on #402
Hmm, now the node appears to be removed. I believe I attempted ~3 removal attempts over the course of a few hours, so perhaps some of the removal requests failed and/or there was some latency for the delete to propagate fully in the system. The last removal request used the bulk delete dropdown in the screenshot above, the others likely used the inline trash bin icon.

Feel free to close this issu

[2022-04-19 04:19] vkalintiris commented on #363
That's the right approach because the `/info` endpoint takes into consideration whether the chart/dim is hidden or not. (It also considers whether the dimension is obsolete or not, which I'll have to fix in the ML endpoint).

[2022-04-19 09:28] libekonst commented on #358
All three items are now resolved.

The use case for issue **no. 1** should be covered by the 60s window offset implemented in https://github.com/netdata/cloud-frontend/issues/3111

**no. 2** and **no. 3** are directly fixed by https://github.com/netdata/cloud-frontend/issues/3257 & https://github.com/netdata/cloud-frontend/issues/3258

[2022-04-19 09:55] #358 closed

[2022-04-19 09:59] libekonst commented on #357
**no. 3** shouldn't occur anymore, we now show the error page that has the reload prompt when the initial data fail to load

[2022-04-19 10:01] #357 closed

[2022-04-19 10:10] hugovalente-pm commented on #402
Hi @bojdell thanks for raising this, glad that it got sorted out but we still should take a look before closing.
My guess it is that it will be related to this netdata/netdata-cloud#372

@vkuznecovas probably you could help to confirm this

[2022-04-19 10:14] hugovalente-pm commented on #396
Hi @Mic-Pod , thanks for raising this issue.

This seems to be duplicated with this one netdata/netdata-cloud#392, so if you agree you can track the other one and close this one

[2022-04-19 10:18] hugovalente-pm commented on #397
Hi @mrleongalaxyum , thanks for raising this bug.
we will take a look and come back with any finding

[2022-04-19 10:25] hugovalente-pm commented on #399
Hi @weastur , thanks for reporting this bug.

There was a change done on the General War Room, General as a war room for all space's nodes and users netdata/netdata-cloud#279 that removed the possibility to delete nodes from this room specific.

Nevertheless, there is work in progress to allow the soft-delete of nodes from a space please see this comment on this other bug https://github.com/netdat

[2022-04-19 10:35] Mic-Pod commented on #396
@hugovalente-pm, ok, thanks. I'll close this one.

[2022-04-19 10:35] #396 closed

[2022-04-19 12:22] vkuznecovas commented on #402
Due to the async nature of our implementation, there's some expected delay between the action being taken and the action taking effect. However, it should not take that long.

I'm confident that https://github.com/netdata/cloud-backend/issues/91 will tackle this case as well.

I'm closing this as we're already aware of situations like this.

[2022-04-19 12:22] #402 closed

[2022-04-19 12:54] sashwathn commented on #282
@ktsaou @ralphm @YaroslavDev @novykh @amalkov @jacekkolasa : Latest update on the specification for this feature is here - https://github.com/netdata/netdata-cloud/issues/282#issuecomment-1096975311

[2022-04-19 17:03] bojdell opened #403 "[Bug]: Unable to start topic on netdata forums"
### Bug description

I am unable to create a new topic to submit questions/feedback on the Netdata Cloud forums. I would leave this feedback there, but due to the nature of the issue I am unable to...

### Expected behavior

I am able to create a new topic.

### Steps to reproduce

1. Create account on netdata forums
2. Try to create a new topic, taking care to fill out the post template + add tag

[2022-04-19 17:16] bojdell opened #404 "[Feat]: ability to export node data (including UUIDs)"
### Problem

Problem: I would like to deep link from another internal application to specific nodes in netdata. However, I can't find a way to map from Netdata's node UUIDs to an internal ID or hostname.

### Description

It would be nice to either be able to access via an API/URL or download a CSV of nodes including netdata UUIDs and other metadata such as hostname so I can sync that with interna

[2022-04-20 12:11] tkatsoulas commented on #403
Hello @bojdell

1. What's the method you used to sign up in our forums?
2. In which category you tried to create your new topic?
3. Could you share with me your user name?

[2022-04-20 12:53] dimko opened #405 "[Bug]: User incorrectly sees the 500 error page after switching space with actual 500 error"
### Bug description

The 500 error page is displayed with no console errors after user switches from a space that has no data returned for the /charts request in the overview screen to a space where data for the /charts request are returned as normal.

### Expected behavior

The Overview screen should load as expected if /charts returns non-null data at all cases.

### Steps to reproduce

1. Navig

[2022-04-20 12:53] dimko commented on #405
Kudos to @AlexNti for finding it

[2022-04-20 13:40] novykh commented on #405
Will be fixed on next release

[2022-04-20 17:10] sashwathn opened #406 "Enhance the Alerts drawer / modal in the Active alerts and Alerts Configuration Page"
### Problem

The current Alerts drawer / modal does not display the details of node instances where this alert has been raised and how it has been aggregated at the node level.

### Description

The alert drawer is currently being used in the Active Alerts tab and will need to be used also in the "Alerts Configuration" / "Manage Alerts" tab. The drawer / model needs to be enhanced to provide more

[2022-04-20 17:19] sashwathn commented on #282
## Summary of meeting on 04.20

- The design from @vinnygats is finalised for the displaying configured alerts.
- Iteration 3 here is chosen https://www.figma.com/file/rP9RLs34OapHrnN4KZKoay/Alerts-Smartboard?node-id=5141%3A183842
- The same UI will also be used as an extension for the "Silencing" feature.
- The "Silence" and "Snooze" features will be combined into a single one. On choosing an ale

[2022-04-20 20:26] bojdell commented on #403
1. I believe it was email+pw
2. Category "Feature Requests" with tag "cloud"
3. `@bo-d`

Thanks

[2022-04-20 22:23] tkatsoulas commented on #403
Issue resolved, thanks for reporting it.

[2022-04-21 09:04] hugovalente-pm commented on #354
the extract above has been loaded to BigQ so that it would then be _filtered_ to have an actual extract on google sheets the file is [here](https://docs.google.com/spreadsheets/d/1dh7FcbPvEuSm6e0jRUSakmti3ij2EG7huzY4-bgXRuw/edit#gid=1516901018)

[2022-04-21 10:13] dimko opened #407 "[Bug]: No notification displayed for last space deletion forbidden action"
### Bug description

When a user tries to delete his last space a console error is displayed in browser console and no popup is displayed notifying the user that action cannot be performed

### Expected behavior

User should see a message like "This is your last space and cannot be deleted"

### Steps to reproduce

1. Login to an account with a single space
2. Manage Space -> Delete account
...

#

[2022-04-21 10:25] #318 closed

[2022-04-21 10:25] AlexNti commented on #407
This is related with. https://sentry.io/organizations/netdata-inc/issues/2485832520/?query=is%3Aunresolved&statsPeriod=14d

[2022-04-21 11:10] Ancairon opened #408 "[Bug]: Can't access notification settings for some spaces from the Profile tab"
### Bug description

When I am in a space, and I go to the bottom left -> profile -> notifications, the dropdowns don't show info, except the first one, which is the space I am in, and one other space, in which I am an admin.

### Expected behavior

Be able to manage notifications for all spaces through this tab.

### Steps to reproduce

1. Press the profile pic on the bottom left
2. Click "profil

[2022-04-21 21:53] hugovalente-pm commented on #344
@novykh just to check if you did something that could have fixed this

[2022-04-21 22:00] hugovalente-pm opened #409 "[Bug]: Chart action modifier with key doesn't take effect until focus is on Netdata window on Linux"
### Bug description

When another window is in focus (eg a terminal), you have to first focus the Netdata dashboard window, then press the modifier key and then do the action you want - if you press the modifier key while the other window is focused, the action performed is not the right one (it goes to the default pan action.

### Expected behavior

Action considered should be the one correspondi

[2022-04-21 22:01] hugovalente-pm commented on #409
@novykh @ktsaou like the [BUG] Multi-selection chart legend issue on Linux netdata/netdata-cloud#344 another one that is working as expected on Windows but not on Linux

[2022-04-21 22:02] hugovalente-pm commented on #409
windows example:
![chrome_WNvcoYh51d](https://user-images.githubusercontent.com/82235632/164559064-998c5fa7-41f5-452b-81d0-936d25abbb98.gif)

[2022-04-22 08:05] novykh commented on #344
yep

[2022-04-22 08:05] #344 closed

[2022-04-22 08:06] novykh commented on #409
Can we verify if this is fixed?

[2022-04-22 08:25] hugovalente-pm commented on #409
I did this yesterday when I opened the bug, I'll try it again today

[2022-04-22 09:29] hugovalente-pm commented on #326
@novykh @dimko we got another user with a similar scenario like this, discussion on this [discord thread](https://discord.com/channels/847502280503590932/966963779617300511)

[2022-04-22 13:25] hugovalente-pm commented on #326
this last user mentioned that he got it to work, not sure if related, by:
* removing the agent and then re-installed again
* thinking it could have been something to do with the Fedora kernel update.
See this  ... https://discordapp.com/channels/847502280503590932/921399690728206366/964061066483085342

[2022-04-23 15:39] hugovalente-pm opened #410 "[Bug]: Mass removal of unreachable nodes from War Room doesn't work"
### Bug description

On `Manage Nodes` under `Manage War Room / <War Room Name>` if you select multiple nodes to be removed this doesn't work.
The nodes aren't removed even after multiple tries.

### Expected behavior

The selected nodes should be removed from the War Room

### Steps to reproduce

1. Go to a War Room, other than the General
2. Go to `Manage Nodes` under `Manage War Room / <War Roo

[2022-04-23 15:41] hugovalente-pm commented on #410
@ralphm @dionysis-netdata @vkuznecovas  this is an issue @ktsaou mentioned to me about and, in opposition to this one https://github.com/netdata/netdata-cloud/issues/402#issuecomment-1102578930, it is not a matter of a "delay" the nodes are never deleted even after multiple retries

I've placed this under P&S scope

[2022-04-25 07:28] vkuznecovas commented on #410
There seems to be some delay/caching going on. The delete seems to have gone through, i.e. I'm seeing only the 14 nodes, so the 11 have been deleted. Could you try deleting your local DB and try a refresh @hugovalente-pm ?

<img width="716" alt="Screenshot 2022-04-25 at 10 25 10" src="https://user-images.githubusercontent.com/18392269/165040291-27abab7c-dab0-4132-ae07-e858f572736e.png">

I've also

[2022-04-26 08:55] avramukk opened #411 "[Bug]: Oops, something unexpected happened!"
### Bug description

Oops, something unexpected happened! for all connected nodes. Error on the web app for all connected nodes.

### Expected behavior

I see graphs and metrics on dashboard.

### Steps to reproduce

1. Connect to ec2 via ssh
2.run `wget -O /tmp/netdata-kickstart.sh https://my-netdata.io/kickstart.sh && sh /tmp/netdata-kickstart.sh --claim-token YKR1OH73royUMjGdBxowczFjcYbCtYYLSl6

[2022-04-26 11:05] dionysis-netdata commented on #397
Hi @mrleongalaxyum , can you see the node under the Nodes tab?

[2022-04-26 11:39] ravilushqa commented on #281
Do we know the exact cases that need to improve, or does it need investigating

[2022-04-26 13:23] #411 closed

[2022-04-26 13:23] avramukk commented on #411
fixed

[2022-04-26 14:25] sashwathn commented on #406
- 1 Phase: Prettify the configuration
- 2 Phase: Allow modifying only the values
- 3 Phase: Allow changing the functions and the frequency of the lookup etc..

The following aspects need to be shown and improved on the drawer:

1. Value shown on active alert
2. What is the vertical line on the chart in the drawer? Is this the current value or when raised?
3. Why hostname and not node name?
4. Show

[2022-04-26 14:46] ravilushqa commented on #281
Ok, thanks

[2022-04-26 17:04] mrleongalaxyum commented on #397
hello, yes now it is showing up and working, but I can't delete 4 of the old nodes.

[2022-04-27 07:49] #407 closed

[2022-04-27 07:49] AlexNti commented on #407
fixed

[2022-04-27 08:51] #397 closed

[2022-04-28 09:44] LordMike commented on #410
Just chiming in - I couldn't find how to remove nodes, but this thread helped a bit (it was tricky.. :P)

I _did_ experience this issue, my 4 nodes remained after a refresh of the page.. A force-refresh removed them, however.. So maybe a timing or local state issue.

[2022-04-28 17:02] dimko opened #412 "[Bug]: 500 page and Console error when adding back to room a previously removed node"
### Bug description

The 500 error page is displayed in nodes table view and a console error is thrown in FE when a user adds back a node previously removed and room has no other nodes.

Refreshing the page fixes the issue.

### Expected behavior

The connect nodes blank slate is displayed instead of the 500 page

### Steps to reproduce

1. Claim a Node to a room
2. Room has a single node
3. Remov

[2022-04-29 08:57] jacekkolasa commented on #324
@dimko yes, that's exactly the same bug you discovered before, and it is fixed now
Closing then

[2022-04-29 08:57] #324 closed

[2022-05-02 09:28] car12o commented on #242
@dimko yes, I change the BE logic and it should be fixed by now :smile:
These are the mentioned changes https://github.com/netdata/cloud-spaceroom-service/pull/263

[2022-05-03 14:50] dimko commented on #242
This seems to be fixed. Closing

[2022-05-03 14:50] #242 closed

[2022-05-03 14:53] dimko commented on #296
Closing

[2022-05-03 14:53] #296 closed

[2022-05-04 08:17] #390 closed

[2022-05-04 08:20] novykh commented on #409
Fixed.

[2022-05-04 08:25] novykh commented on #326
1st unfortunately the response provided is not from the affected charts displayed on the screenshots.
2nd if removing the agent and re-install fixes it, then it looks like a backend/agent issue.

If we cannot get our hands on the actual data responses of the affected charts we cannot be sure though.

[2022-05-04 08:26] novykh commented on #239
Fixed.

[2022-05-04 08:26] #239 closed

[2022-05-04 11:20] dimko opened #413 "[Bug]: Alert re-direct to Cloud from Agent Email reports Alert doesn't exist anymore even though it does"
### Bug description

When a user follows an alert email for a claimed node, coming from the **Agent**, to view the alert in cloud we always display the message that alert doesn't exist in the node anymore even though it does.

### Expected behavior

The alert and its info should be displayed as normal, since the alert is active.
If user from the dedicated alert page clicks to run correlations or g

[2022-05-04 13:47] dimko commented on #140
Closing

[2022-05-04 13:47] #140 closed

[2022-05-04 13:51] dimko commented on #70
This has been fixed as stale charts are now synced to cloud. Closing

[2022-05-04 13:51] #70 closed

[2022-05-04 14:07] dimko opened #414 "[Bug]: Adding chart to dashboard from single node view or overview doesn't work"
### Bug description

Adding charts or creating dashboards from views other than the dashboard tab doesn't work

### Expected behavior

- Chart should be added to selected dashboard when clicking the Add Chart button either from overview or single node view
- User should be able to create dashboards from the side modal when no dashboards exist and clicks the Add Chart button either from overview or

[2022-05-04 14:59] novykh commented on #414
Will be on prod on next release

[2022-05-04 15:08] novykh commented on #8
Fixed.

[2022-05-04 15:08] #8 closed

[2022-05-05 09:36] dimko commented on #345
The performance and syncing time has been greatly improved after latest changes from agent/cloud be guys. Closing this one.

[2022-05-05 09:36] #345 closed

[2022-05-05 12:46] christophidesp commented on #231
I think that this is currently partially solved by showing tooltips over chart name. We need to implement tooltips in the same fashion for the alert and node name.

[2022-05-05 13:48] cakrit commented on #414
Please don't close bugs until the fix is deployed and tested in production.

[2022-05-05 14:30] #232 closed

[2022-05-05 14:30] #398 closed

[2022-05-05 14:47] dimko commented on #403
Closing this.

[2022-05-05 14:47] #403 closed

[2022-05-05 15:20] ivangergo3 commented on #235
I have tested it just now, the node has to be restarted
But the name is changed in the cloud

https://learn.netdata.cloud/docs/configure/nodes
"After you make your changes, you need to [restart the Agent](https://learn.netdata.cloud/docs/configure/start-stop-restart) with sudo systemctl restart netdata or the appropriate method for your system."

[2022-05-05 15:45] ivangergo3 commented on #254
It is working as expected I get the following message
"""
Welcome!
Successfully joined space!
"""

[2022-05-05 15:45] #254 closed

[2022-05-05 16:08] ivangergo3 commented on #412
It is not happening for me, I have just tested on the staging environment
@burbuli8ra can you reproduce it?

[2022-05-05 16:20] ivangergo3 commented on #138
I have just tested on staging, I cannot leave the last room "General" and the last space.

[2022-05-05 16:49] thiagoftsm commented on #298
Hello @ivangergo3 ,

I changed from `offline` to `unreachable`.

[2022-05-05 17:08] dimko opened #415 "[Bug]: Invalid popup after user opens alert details from node info"
### Bug description

The alert popup incorrectly appears after user visits the alert details from the alerts list inside node's info sidebar

### Expected behavior

The popup shouldn't appear

### Steps to reproduce

1. Claim a node
2. Trigger an alert to that node
3. Click the (i) icon next to node's name in Nodes List view
4. Switch to the alert's tab in the Nodes Info sidebar
5. CLick the trigg

[2022-05-05 18:36] dimko opened #416 "[Bug]: Service value is null for all nodes"
### Bug description

Service discovery doesn't seem to work as expected. Group By service always groups the available nodes as No Service.

### Expected behavior

Well... the nodes be grouped per Service and services returned as expected from the BE

### Steps to reproduce

1. Claim 1 or more nodes in a room
2. Visit the nodes table
3. Check the /claimed-nodes request in the Dev tools network
4. S

[2022-05-05 18:41] dimko commented on #143
I'd suggest to wait for the Review of https://github.com/netdata/netdata/pull/11730 and verify again

[2022-05-05 18:50] dimko opened #417 "[Bug]: Grouping headers are difficult to distinguish"
### Bug description

When a user **groups by** in nodes table, the headers for each grouping section isn't very visible.

### Expected behavior

Headers for each category should be much more distinguishable

### Steps to reproduce

1. Navigate to Nodes Table view
2. Have a large number of nodes claimed, ideally with different alerts and reachability startes
3. Group by Alert Status

### Screenshot

[2022-05-05 19:56] solracsf commented on #410
Option (checbox+delete) doesn't seem available anymore, impossible to delete any node on my WebUI.

![image](https://user-images.githubusercontent.com/12234510/167015295-ee178943-e71f-42af-85e4-8bca3d3ea9aa.png)

[2022-05-05 20:01] LordMike commented on #410
You're in the wrong place (I made this mistake 20 times so far).. It's tricky to find, but right now it's here:

![image](https://user-images.githubusercontent.com/1027111/167016021-5fcf531a-bf36-4e9e-a652-b8a4c2122eb5.png)

[2022-05-05 20:06] solracsf commented on #410
@LordMike this is exactly where i'm clicking before getting that screen.
![image](https://user-images.githubusercontent.com/12234510/167016816-33ffda72-d991-41b8-91cf-d4bee4d08145.png)
and on click
![image](https://user-images.githubusercontent.com/12234510/167016876-77c8e728-49c6-49b8-a483-983258f2f575.png)

[2022-05-05 20:10] LordMike commented on #410
Huh, maybe General is different here also. I created new War rooms as I found that I couldn't do certain things with General in other parts of Netdata Cloud (like deleting it). So I figured if I invited 10 colleagues to General, I could never undo it. I just checked, and even after a force refresh, my other war rooms still have checkbox+remove.

[2022-05-06 08:19] vkuznecovas commented on #410
@solracsf General has been changed recently and you won't be able to remove nodes from it at the moment. See https://github.com/netdata/netdata-cloud/issues/399 for more details.

We're working on a better flow for this.

[2022-05-06 08:22] solracsf commented on #410
Thanks @vkuznecovas deleting nodes is **a real mess** on Netdata 😭
Global UX is great, but this option really needs improvements...

[2022-05-06 08:51] ivangergo3 commented on #290
@cakrit can you please check it again? I have tried it and it was working for me

[2022-05-06 08:59] jacekkolasa commented on #341
@hugovalente-pm @ktsaou If node is unreachable AND we couldn't find Agent URL in Visited Nodes, are you OK with redirecting to Cloud anyway? If not, we would only leave user with blank (white) page with short description
[code]
If we redirect user to the Cloud, at least they will see more friendly UI

[2022-05-06 09:18] ivangergo3 commented on #213
Can we close this? @dionysis-netdata

[2022-05-06 09:19] ivangergo3 commented on #93
@vkuznecovas do you think it can be caused by the DB inconsistency?

[2022-05-06 09:55] YaroslavDev commented on #406
@jacekkolasa @car12o @sashwathn This is the payload that we will return from backend to render this drawer.
[code]
If there is smth. missing or some fields that are not needed, please let me know

[2022-05-06 11:43] vkuznecovas commented on #93
Yes, but without more info it's hard to find a definite answer. Space IDs, roomIDs would help.

[2022-05-06 13:09] dimko opened #418 "[Bug]: Chart name not displayed in Custom Dashboards when chart has error"
### Bug description

When chart can't load due to an error in /data request we display the (error) badge but we don't show the name of the affected chart.

### Expected behavior

The chart name should be displayed

### Steps to reproduce

1. Navigate to Custom Dashboards
2. Create a custom Dashboard
3. Add a chart that gives errors

### Screenshots

![image](https://user-images.githubusercontent.c

[2022-05-06 13:14] dimko opened #419 "[Bug]: Go to chart from a chart with error in custom dashboards loads forever"
### Bug description

After a user visits the custom dashboards tab and sees a chart with error, if he tries to access the chart in the single node view by clicking the three bullets and go to chart for the errored chart, the single node view loads forever

### Expected behavior

The go to chart option be disabled, or gone, or the single node view loads and shows the affected chart and maybe a reas

[2022-05-06 13:16] dimko commented on #414
Closing this, it's on production

[2022-05-06 13:16] #414 closed

[2022-05-06 13:17] jacekkolasa commented on #406
I don't have hard opinion regarding the naming, if you find more explicit names more suitable, please change them. Easy to change it on FE. `calculation` seems clear to me, but `warning` and `critical` could be changed (or not). Personally i don't like abbreviations so `critical_expression` or `critical_when` suits me better :)

Regarding casing, if you'll change it to snake_case, we'll `normalize

[2022-05-06 13:20] YaroslavDev commented on #406
@jacekkolasa I would assume normally, units should NOT change across instances, but our current data model permits this :) because technically, each node instance can have its own config, and every config may have its own `units` 😄

[2022-05-06 13:34] YaroslavDev commented on #406
I suggest snake_case because in 3 "configured alerts" endpoints and "room active alarms count" endpoint we're already using snake_case. If we decide to switch to camelCase, it means we need to change all alarm-processor endpoints to camelCase

[2022-05-06 13:41] jacekkolasa commented on #406
@YaroslavDev Then maybe we should remove `units` from general part of the payload? (And leave only units per instance)

[2022-05-06 14:32] car12o commented on #406
I guess we have more endpoints returning in `camelCase` rather than in `snake_case` but I will raise this question in the next BE chapter.

[2022-05-06 14:35] YaroslavDev commented on #406
if we have majority of endpoints using `camelCase`, then lets stick to that. I agree that we need to discuss this on BE chapter and agree on format. Its better for all services to use same format.

[2022-05-06 15:20] jacekkolasa commented on #406
@YaroslavDev makes sense, all good, thanks!

[2022-05-08 21:49] hugovalente-pm commented on #341
We should attempt to redirect the user to the Agent dashboard directly.

@jacekkolasa what you describe somehow seems to be a sub-step on the above scenario, right?
What you are saying is when we don't have the URL and can't direct the user to the Agent dashboard?

If we redirect him to the Cloud could you confirm what the user will see?

[2022-05-09 08:50] jacekkolasa commented on #341
@hugovalente-pm Currently if node is unreachable, user will see "This node is unreachable" screen in Node Tab

If we change that behaviour, and at the same time that Agent will not be found using Visited Nodes API, user will see just "Sorry we cannot find your Agent in the Netdata Cloud visited nodes. To continue..."

My suggestion is to not change current behaviour when Agent is not found in Visi

[2022-05-09 09:14] hugovalente-pm commented on #341
ok, sounds good your suggestion @jacekkolasa

[2022-05-09 12:01] vkuznecovas commented on #416
It seems that the field is not arriving with the `UpdateNodeInfo` message from the agent.

@MrZammler pointed that it's always NULL on the agent side as well:
https://github.com/netdata/netdata/blob/0b3ee50c76dcc3b8dcdd13cec0e432394d3c6964/database/sqlite/sqlite_aclk_node.c#L55

[2022-05-09 13:47] vkuznecovas commented on #416
Right so it seems that way back when in the JSON days of agent <-> cloud interaction, the AMC would receive a message that would contain an array of collectors. These collectors would then get transformed to services on the cloud and passed on as "services".

This mechanism seems to have been lost in translation.

Solution would be:

1) Agent starts sending the cloud a list of collectors in the `U

[2022-05-09 19:55] dionysis-netdata commented on #213
sure

[2022-05-10 03:45] burbuli8ra commented on #412
@ivangergo3 I have been able to see the error, although I am not quite sure when it is caused, so @dimko the PR is merged in `develop`, can you please verify that the fix is working?

[2022-05-10 06:54] car12o commented on #282
@sashwathn can we close this one?

[2022-05-10 06:56] sashwathn commented on #282
@car12o :  Yes this can be closed and the 4th level is anyways being handled as part of the drawer enhancement.
@jacekkolasa : Any comments?

[2022-05-10 08:25] ivangergo3 commented on #93
@ilyam8 Could you please provide us with the Space ID or room ID?

[2022-05-10 08:28] ilyam8 commented on #93
@ivangergo3 I am not the author, I [moved the issue](https://github.com/netdata/netdata/issues/11135#issuecomment-839556635) from netdata/netdata via ZenHub.

@bazwalt are you still having the problem? If so, can you answer @ivangergo3 question?

[2022-05-10 09:13] jacekkolasa commented on #282
Yes i think we can close

[2022-05-10 09:13] #282 closed

[2022-05-10 10:36] burbuli8ra commented on #412
Released on [v2.29.0](https://github.com/netdata/cloud-frontend/releases/tag/2.29.0)

[2022-05-10 10:36] #412 closed

[2022-05-10 15:28] stelfrag commented on #373
https://app.netdata.cloud/spaces/netdata-cloud/rooms/k8s-prd/overview

A small change was made to handle this (I am still checking) So far

![image](https://user-images.githubusercontent.com/52996999/167665455-6f094ae9-35cb-468b-b8b8-716e8884af15.png)

[2022-05-11 06:20] stelfrag commented on #373
PR https://github.com/netdata/netdata/pull/12870

[2022-05-11 13:06] #373 closed

[2022-05-11 15:48] cakrit opened #420 "[Feat]: Dispel common misconceptions about Netdata limitations by adding static content to the cloud"
### Problem

Users are commonly asking questions about:
 - [Alert configuration](https://learn.netdata.cloud/docs/configure/common-changes#modify-alarms-and-notifications) (silencing, disabling etc).
 - [Notification methods other than emails](https://learn.netdata.cloud/docs/monitor/enable-notifications#netdata-agent)
 - Additional integrations (mainly [collectors](https://learn.netdata.cloud/doc

[2022-05-11 16:03] jacekkolasa commented on #395
fix is on production

[2022-05-11 16:03] #395 closed

[2022-05-11 16:06] jacekkolasa commented on #413
fix is on production

[2022-05-11 16:06] #413 closed

[2022-05-11 16:55] cakrit opened #421 "[Bug]: User profile doesn't appear if the collapsible list of rooms etc is collapsed"
### Bug description

If you collapse that horizontal bar with the rooms, bookmarks etc and click on the bottom left to see the user profile, the pop up doesn't appear. It appears just fine with the thing expanded.

### Expected behavior

Always show the options when a user clicks the bottom left button.

### Steps to reproduce

1. Collapse the navigation area
2. Click on user profile circle to bri

[2022-05-11 17:24] YaroslavDev commented on #210
@dimko I see this bug was open on 7 Dec 2021, reachability emails back then were sent via legacy `cloud-notification-sender-service` which indeed did not support updating space slug and, therefore, was sending reachability emails with slug set on space creation. Currently, reachability are sent via new `cloud-alarm-notification-sender-service` which updates space slug according and should send ema

[2022-05-11 17:52] novykh commented on #421
@burbuli8ra maybe we forgot the instantiation of the popover inside the sidebar?

[2022-05-11 18:12] burbuli8ra commented on #421
@novykh we didn't do any updates on the user profile avatar and the actions triggered!
Also @cakrit I checked it as well and it works ok for me!

https://user-images.githubusercontent.com/38426486/167917901-e7427c0e-4f8f-4840-9507-7c979b07f3e6.mov

[2022-05-12 07:43] dimko commented on #231
@christophidesp @jacekkolasa We show a tooltip for the alert name, when hovering over chart and node name we don't show something. Does this only work only when name is too long, or should it work always?

[2022-05-12 07:57] dimko commented on #415
@jacekkolasa @christophidesp Guys, is this an expected behaviour? Should we close this one?

[2022-05-12 08:08] dimko commented on #210
@YaroslavDev thanks, this is indeed fixed. Closing it.

[2022-05-12 08:08] #210 closed

[2022-05-12 08:36] dimko commented on #391
@hugovalente-pm @novykh Are we sure this is a FE issue? I see that the request is pending response and it delays due to this. Is there something for the FE on top of that?

[2022-05-12 08:38] dimko commented on #313
Closing this one

[2022-05-12 08:38] #313 closed

[2022-05-12 08:44] dimko commented on #326
Ok I think I managed to reproduce this one, but can't be sure if it's the exact case. The thing is that there is no /data request issued by the FE for this chart. For some reason the chart was missing from the /charts request, If I refresh the page though it's returned normally.

[2022-05-12 09:47] tiliarou opened #422 "[Bug]: No way to delete node"
### Bug description

There is absolutely no way to delete a node from netdata cloud

### Expected behavior

Ability to delete node (super basic)

### Steps to reproduce

1. Go to war room
2. Nothing, you can't delete a node...

### Screenshots

_No response_

### Error Logs

_No response_

### Desktop

OS: [e.g. iOS]
Browser [e.g. chrome, safari]
Browser Version [e.g. 22]

### Additional context

[2022-05-12 10:15] novykh commented on #391
Yes it is a frontend issue.

[2022-05-12 10:16] AlexNti commented on #240
This is going to be solved by https://github.com/netdata/cloud-frontend/pull/3369.

[2022-05-12 10:16] #240 closed

[2022-05-12 10:20] christophidesp commented on #415
I also don't see a reason for this pop up to be triggered, not sure if there is something else here we should consider @jacekkolasa

[2022-05-12 10:21] christophidesp commented on #231
@dimko @jacekkolasa Ideally, the tooltips should be shown only when the name is too long.

[2022-05-12 11:07] #235 closed

[2022-05-12 14:22] jacekkolasa commented on #415
@dimko @christophidesp thx for asking, but It's just a bug, i'll close it as soon as fix will be in prod

[2022-05-12 14:40] cakrit commented on #421
I know what happened. It is black on black and I was on a page where it was completely unnoticeable. Can we perhaps make its background exactly the same as the one of the pop up from the `?` button? That is much more noticeable.

[2022-05-12 14:44] cakrit commented on #290
Tried two more times. It just doesn't go away.

[2022-05-12 17:59] cakrit commented on #290
I created and deleted tens of spaces today. Whatever happened then, it left that space in mongoDB and it won't go away unless I delete and recreate my account, which I won't do. Closing this one.

[2022-05-12 17:59] #290 closed

[2022-05-13 08:37] dimko commented on #213
Guys, this isn't fixed. Users fail to join space successfully but we always display the success popup if they got re-directed to space after clicking the invitation email.

[2022-05-13 08:42] ivangergo3 commented on #421
@dionysis-netdata @vinnygats What do you guys think about the change?

[2022-05-13 08:55] ivangergo3 commented on #408
I have just tested. Seems ok, will close the ticket when it has been released

[2022-05-13 08:59] jacekkolasa commented on #341
We synced with @hugovalente-pm and decided to do the following:

- if node is unreachable:
  - see if we have any Visited Nodes (Agents) in history. If any can be pinged, redirect to Agent (FTR for it to succeed, Agent needs to be hosted under https://, otherwise browser will not allow pinging from https://app.netdata.cloud to the Agent)
  - if no Agent can be pinged, display list of Agents as wel

[2022-05-13 09:20] ivangergo3 commented on #213
Blocked by https://github.com/netdata/netdata-cloud/issues/372
The stability team working on https://github.com/netdata/cloud-backend/issues/91
After DBs are being synchronised, we should not see this again.

[2022-05-13 09:26] ivangergo3 commented on #29
Hi @vinnygats , do we know anything about this ticket? Will there be a change in design?

[2022-05-13 10:23] dimko opened #423 "[Bug]: Critical filter is always selected after switching tabs"
### Bug description

Only critical alerts are displayed after user switches between the alerts tab and any other tab and no alert filters are selected at all in the 1st place.

### Expected behavior

The previous filter selection should be remembered and displayed

### Steps to reproduce

1. Claim a node
2. Navigate to Alerts page for that room the node lives into
3. Select NO filters from the ale

[2022-05-13 11:19] burbuli8ra commented on #220
This fix was released on [v2.29.4](https://github.com/netdata/cloud-frontend/releases/tag/2.29.4)

[2022-05-13 11:19] #220 closed

[2022-05-13 11:19] burbuli8ra commented on #187
This fix was released on [v2.29.4](https://github.com/netdata/cloud-frontend/releases/tag/2.29.4)

[2022-05-13 11:19] #187 closed

[2022-05-13 14:38] cakrit commented on #29
I removed the BUG from the title and the labels. It's a useability problem and not one that I have seen other users mention. I expect that with node obsoletion the need to manually remove nodes will be resolved. Closing it.

[2022-05-13 14:38] #29 closed

[2022-05-13 16:21] vkuznecovas commented on #416
Agent ticket: https://github.com/netdata/netdata/issues/12876

[2022-05-14 07:13] stelfrag commented on #378
This will be fixed by https://github.com/netdata/netdata/pull/12899

[2022-05-15 09:35] ktsaou opened #424 "[Bug]: Node works in overview but not in single node dashboard"
### Bug description

On single node dashboards I get this response to data queries:

[code]

On the overview dashboard, everything works.

### Expected behavior

The node instance is online and queriable, since the overview dashboard works.
It should work for single node dashboards too.

### Steps to reproduce

I am not sure.
I know that there is a parent, which is offline.
The same behavior happe

[2022-05-15 09:35] ktsaou commented on #424
@papazach @vkuznecovas please check this.

[2022-05-15 17:58] 1ohnny commented on #424
Same problem here. I've created 2 new nodes (debian 11) - no data in charts. Also upgraded existing node (which stopped working after change of netdata.cloud architecture, but had no time to solve it before), also no data appearing for it.
All 3 nodes are "online" and works ok.
All 3 nodes are assigned to war room.
I have also custom dashboards with multiple graphs from multiple nodes (cpu + ram f

[2022-05-16 07:15] dimko commented on #418
Ok so we move this to cloud backend, or we decide if we'll show something different.

[2022-05-16 07:47] burbuli8ra commented on #421
@cakrit there is an open [PR](https://github.com/netdata/cloud-frontend/pull/3390) that implements the change you suggested!
From my side, I believe that the UI of the app feels more solid now with this change, since both menus are more similar, but I am not sure if it actually solves the initial mentioned issue, since the background can still be mixed up with the background color the **Home** tab

[2022-05-16 09:38] hugovalente-pm commented on #265
we agreed to try to start this task this week, considering [this comment](https://github.com/netdata/netdata-cloud/issues/265#issuecomment-1034746584) as the summary of the bullets that we will need some work

@novykh @jjtsou for Cloud FE
- [ ] make available new heatmap chart type on our charts library (this repo/ticket)
- [ ] add the heatmap chart type as an option on Netdata Cloud chart options

[2022-05-16 10:38] dionysis-netdata commented on #360
![Screenshot from 2022-05-16 12-09-12](https://user-images.githubusercontent.com/95340881/168575277-3b82d80c-264a-482e-95c7-321367c1ffb6.png)

events directory provided by @underhood

[2022-05-16 11:02] novykh commented on #418
@jjtsou please use the card cached values on the dashboard charts.

[2022-05-16 11:19] vkuznecovas commented on #360
An MVP of a backend service for events(both ACLK based and Cloud-based) has been part of what we were prototyping last week.

Source available here https://github.com/netdata/cloud-feed-service but needs adjusting as we've approached it with a hackathon mentality.

[2022-05-16 14:37] dimko opened #425 "[Bug]: Invalid Modified date displayed after custom dashboard creation or modification"
### Bug description

Invalid Modified date displayed after custom dashboard creation or modification.

Not all required attributes are returned after a custom dashboard POST or PATCH request to create or modify a custom dashboard.

Request **POST** `https://staging.netdata.cloud/api/v1/spaces/9ed935e6-24d6-460f-af49-9b2dfbd860ea/rooms/38eb94ec-08c6-445e-b995-0f6c6e053be0/dashboards`

Response
[cod

[2022-05-16 18:04] cakrit opened #426 "[Bug]: Composite chart display name is wrong when we have multiple chart instances per node"
### Bug description

When we have multiple chart id/names for the same context in a single node, we can't use any of the display names for any of the charts, as they contain information identifying the instance. We should find a way to show a display name at the context level. @ilyam8 should be able to help.

### Expected behavior

Don't show instance information in the composite chart's display n

[2022-05-16 18:10] cakrit opened #427 "[Bug]: Dimensions can appear with the same color"
### Bug description

Not sure how it happened, but in the screenshot below you can see two dimensions in a single chart with the same exact color: `background-color: rgb(102, 170, 0);`

### Expected behavior

It should be completely impossible to show the same exact color for the dimensions shown in a chart.

### Steps to reproduce

No idea how to reproduce. Went back to the same exact chart in th

[2022-05-16 18:32] cakrit opened #428 "[Bug]: Wrong dimension selected by default when switching to group by node"
### Bug description

See screenshot for the composite chart `mem.writeback` in which I selected to view the info by node. Same error comes when grouping by instance.

All the nodes report an error, apparently because we are selecting to show dimension `dirty` (note the lower case), which doesn't exist (`Dirty` does exist). In the chart immediately below it (`mem.kernel`), when I select to see by n

[2022-05-16 19:52] ilyam8 commented on #426
@cakrit I think we just shouldn't show a chart id on composite charts. Why do we need it?

[2022-05-17 07:56] pcm32 opened #429 "[Bug]: Plots in overview stay hanged in "Loading""
### Bug description

While all tabs seem to see nodes correctly, the plots in overview and dashboards are stuck in loading and no data is displayed. This was working well yesterday up a until 14:00 UK time if not mistaken, maybe a side effect of the fix done for the syncing issue?

### Expected behavior

That the plots in overview and dashboard show some content.

### Steps to reproduce

1. Go to

[2022-05-17 08:44] dimko commented on #428
Some more info for this issue:

The following request
`Request URL: https://staging.netdata.cloud/api/v2/spaces/d7574e05-c430-4b7a-b92d-987b8f3372a4/rooms/08e4bee5-5725-4bd2-aa84-9b418be82b10/data
Request Method: POST
Status Code: 400
Remote Address: 35.237.44.165:443
Referrer Policy: strict-origin-when-cross-origin`

Returns

`{
  "errorMsgKey": "ErrAllNodesFailed",
  "errorMessage": "ErrAllNodes

[2022-05-17 16:55] cakrit commented on #426
Of course we shouldn't show chart id. What I don't know is if there's a simple rule (e.g. remove everything within paretheses) that will fix the display name. I think I have seen display names that also contain an instance identifier, but I may be wrong. Definitely the quickest win is to just strip out " \(.*\)"

[2022-05-17 17:05] ilyam8 commented on #426
Probably I am missing something:
 - A chart id must be globally unique (within a Netdata instance).
 - It means that usually, ids have some instance-specific data (disk, mount point, network interface).
 - The value in `()` on the overview page is, I guess, the first chart id from the aggregated group.
 - It never makes sense to show `()` (using the same pattern, the value is a chart id) on the ov

[2022-05-17 17:12] hugovalente-pm commented on #420
@ktsaou @cakrit on this there is this ticket under discussion about bringing back that message and trying to review which CTAs we want https://github.com/netdata/product/issues/2390 it was agreed to keep the previous design (less intrusive than what was proposed, sample below) but we wanted to have one CTA so not sure we can put here:
* link to Privacy/Where data is stored
* increasing retention -

[2022-05-17 17:15] hugovalente-pm commented on #420
@cakrit not sure this is the best approach, I think I remember on a brainstorming session @novykh suggesting an "overall" search engine across all Netdata Cloud where it would make more sense to include our docs (example given was this https://stripe.com/docs/api)

what do you think @novykh ?

[2022-05-17 20:15] hugovalente-pm commented on #410
thanks for the feedback @solracsf and @LordMike , @dionysis-netdata please consider this if it isn't already under the radar for the delete nodes work

@novykh could you check this feedback from @vkuznecovas
https://github.com/netdata/netdata-cloud/issues/410#issuecomment-1108179090

[2022-05-17 20:26] hugovalente-pm commented on #426
this is linked to https://github.com/netdata/netdata-cloud/issues/253 and https://github.com/netdata/product/issues/2052

@ilyam8 's suggestion works for most of the cases, but we have the isuse of fping that wouldn't be sorted by that.
@papazach these chart titles are provided by Cloud BE to FE, right?

[2022-05-17 21:36] ilyam8 commented on #426
I read the linked issue but didn't understand what exactly you mean @hugovalente-pm. Can you explain?

The fping chart titles (e.g. "Fping Latency for X" => "Fping Latency") issue fix is https://github.com/schweikert/fping/pull/253

[2022-05-18 08:32] ivangergo3 commented on #422
Hi @tiliarou ,
Are you referring to removing nodes from the General room?
If so, we are working on it to make it happen

[2022-05-18 08:54] TonyPath commented on #349
The issue has been initially tackled but rolled back, more info at https://github.com/netdata/cloud-backend/issues/128

[2022-05-18 08:58] christophidesp commented on #421
Hi @cakrit, I think also that what makes the `?` pop-up to stand out more is that we darken the background with an overlay, so the focus turns more to that element
In order to visually differentiate the profile dropdown from the background I added a slight border, which I think helps with decoupling. What do you think?
<img width="824" alt="Screenshot 2022-05-18 at 10 51 27" src="https://user-imag

[2022-05-18 09:00] ivangergo3 commented on #404
Let us discuss it
@dionysis-netdata @amalkov what do you think about this feature?

[2022-05-18 10:09] TonyPath commented on #349
As first step I would suggest to move forward with the cache mechanism we are planning to introduce for the routing instance, expecting significant back pressure relief in DB. Then evaluate the gain performance and  re-apply the [fix](https://github.com/netdata/cloud-charts-service/pull/201) which has been rolled back.

cc: @hugovalente-pm @papazach @amalkov @ralphm @ktsaou

[2022-05-18 11:08] hugovalente-pm commented on #426
ok, didn't know the hostname is to be removed from fping charts titles. that for sure solves the issue on the title of these

there is a further issue with fping then on section names, because sections are also showing a hostname and on Cloud Overview page this is "generic", the hostname specific charts can be seen if you change "Group by" to `instance`
![image](https://user-images.githubuserconte

[2022-05-18 11:09] hugovalente-pm commented on #349
@TonyPath afaik the caching mechanism has been released, probably @papazach can confirm for sure, so we could try to rollback in the fix and see how it performs.

[2022-05-18 11:26] TonyPath commented on #349
Yes @hugovalente-pm the caching is already in place, my bad. So @papazach wdyt for releasing again the fix you had made? would it make sense?

[2022-05-18 12:07] hugovalente-pm commented on #326
@dimko, as spoken since this exact case isn't reproducible, and the user is not interested/supporting the troubleshooting, lets close this

[2022-05-18 12:12] hugovalente-pm commented on #346
@ktsaou to answer this the UI gets the nodes that have a specific chart from the `/charts/<chart-name>`  response
<image src="https://user-images.githubusercontent.com/82235632/169035591-9257ecea-8ff4-4c74-ae00-ec00b5103df4.png" witdth="50%" height="50%"/>

I agree we have an inefficiency here, since we are passing around the node ids between FE and BE, so these attributes should only be applied w

[2022-05-18 12:25] dionysis-netdata commented on #420
Sure, if guys can come up with a clean design

[2022-05-18 12:28] novykh commented on #346
When the backend is ready and we skip the `/charts/[context]` requests, we will use the actual selected node ids.
About the backend accepting empty `nodeIDs` as a parameter (which means fetch from all) again is a backend work that needs to be done.

Right now, we are sending all the "selected" nodes on the `/charts/[context]` request, and we get back which nodeIDs are available for this chart. The

[2022-05-18 14:24] maxsot100 opened #430 "Bug: agent does not show all metrics"
### Bug description

It is possible to correctly see http check and all wmi monitors in netdata local agent but they are not visible in cloud.

### Expected behavior

I should see data of all wmis and http monitors in cloud

### Steps to reproduce

To be seen on our environment

### Screenshots

![Local](https://user-images.githubusercontent.com/63848709/169064893-e34339b7-f2f4-466d-9b5b-c4d580791

[2022-05-18 18:48] #415 closed

[2022-05-19 08:12] ivangergo3 commented on #404
@bojdell We will have a look at your request in the next quarter

[2022-05-19 09:50] tiliarou commented on #422
Yes I am, it's like super basic that I still don't believe that it's not implemented yet...

[2022-05-19 10:56] burbuli8ra commented on #408
This was released on [v2.29.4](https://github.com/netdata/cloud-frontend/releases/tag/2.29.4)

[2022-05-19 10:56] #408 closed

[2022-05-19 14:08] hugovalente-pm commented on #430
thanks for raising this issue @maxsot100 , we will try to further investigate this.

meanwhile, would it be possible for you to confirm some things?
1. what agent version are you running?
2. you don't see any `Http web check` entry on Cloud? (from the screenshot seems like it)
3. on the wmi monitors, what you're raising is that you don't have the same number of entries/machines like on the agent r

[2022-05-19 14:46] maxsot100 commented on #430
Hello and thanks for help.
1) Agent is 1.34.1
2) Yes, no one was present but now they appeared
3) Yes some wmis were missing but now they appeared
Issue seems to be fixed.
Did you do anything?
Kind regards.
P.s.: when do you plan to release full agents for windows machines?

[2022-05-19 15:11] hugovalente-pm opened #431 "EPIC: Review Netdata's composite charts bar to make it more clearer"
### Problem

The current composite charts bar is difficult to _digest_ and not clear on what operations are happening. We also will need to expose some further functionalities on it, so users have better control on what data to get from the Node's contributing to the chart

Examples:

![image](https://user-images.githubusercontent.com/82235632/169318760-34afc806-ad4e-4ebb-b357-7aafbdff34fb.png)

!

[2022-05-19 16:16] bojdell commented on #404
Exciting! Thanks for the consideration.

[2022-05-20 05:22] maxsot100 commented on #430
Thanks for the feedback.
We have also several nodes that are unreachable, mainly because they were replaced by a new agent installed and claimed (the delay made us install several times). Is there a way to force them to be removed? I don't know if this is a matter of delay with syncing or other. But it would be good to be able to remove them from the cloud  (together with their alarm) with an easy

[2022-05-20 08:13] hugovalente-pm opened #432 "[Feat]: Structure the composite chart bar in a way as if it was being explained in written English"
### Problem

The way we present the composite chart bar and its configuration options makes it difficult to understand and interact with to make the chart provide the data we need.

Examples:

![image](https://user-images.githubusercontent.com/82235632/169318760-34afc806-ad4e-4ebb-b357-7aafbdff34fb.png)

![image](https://user-images.githubusercontent.com/82235632/169318884-71942b86-88be-41e9-be30-

[2022-05-20 08:29] hugovalente-pm commented on #430
thanks for the feedback also, we are already working on that feature (to allow removing nodes from War Room). you can see it being mentioned on another issue https://github.com/netdata/netdata-cloud/issues/392#issuecomment-1096701304

[2022-05-20 09:15] hugovalente-pm commented on #346
@papazach @TonyPath @juacker to be under your radar and see if need to open some BE ticket for this

[2022-05-20 09:36] hugovalente-pm opened #433 "[Feat]: Allow the definition of the aggregation function over time on composite charts bar"
### Problem

Currently, there is no way for a user to define what type of aggregation function over time he wants to have applied when a Node is providing data for a composite chart, this when `update_every` and `view_update_every` are not the same (for a point in the chart some aggregation had to be applied).

This is a limitation because we are, by default, applying the `average` aggregation fun

[2022-05-20 09:40] hugovalente-pm commented on #433
@ktsaou on a previous ticket about this the options to be available had been restricted to `min`, `max` and `average` https://github.com/netdata/product/issues/1995.
do you see any reason why we should just limit to those?

[2022-05-20 10:14] hugovalente-pm opened #434 "[Feat]: Add further filtering options on the composite chart bar"
### Problem

We currently only provide filtering capabilities over `dimensions` on the composite chart bar, so users are limited on slicing capabilities.

### Description

We want to provide users with better slicing capabilities over composite charts, for that we need to allow the user to filter on:
* dimensions - already existis
* data sources (instances)
* nodes - this is chart specific filteri

[2022-05-20 10:15] hugovalente-pm commented on #434
This ticket needs to be tackled after [Feat]: Structure the composite chart bar in a way as if it was being explained in written English https://github.com/netdata/netdata-cloud/issues/432 .

[2022-05-20 10:18] hugovalente-pm commented on #349
This is parked since the work on https://github.com/netdata/cloud-backend/issues/142 will help delivering this

[2022-05-20 14:27] cakrit commented on #420
@hugovalente-pm We have the overall search in the KC Bot. This doesn't cover the specific need. We want a way for users to know that even though the metric they are looking for isn't there, they may be able to add it very easily, by configuring the relevant collector. An alternative is that if the search doesn't return results, we point them to https://learn.netdata.cloud/docs/agent/collectors/

i

[2022-05-20 14:31] cakrit commented on #420
@hugovalente-pm and @dionysis-netdata in https://github.com/netdata/product/issues/2390 I added a suggestion for the docs that will help minimize the CTA to a single link. Just need an approval from ktsaou, I will ping him in Slack too.

[2022-05-20 15:28] hugovalente-pm commented on #420
yes @cakrit it was clear and it is really helpful, just not sure of the effort of the search _spilling over_ to our learn page. I'll try to check with @novykh this

the alternative we are already doing, adding the CTA to the bottom of the search bar, probably we could also review text where it says `No results were found` but would probably not add a link to the collectors page, because we would h

[2022-05-20 15:53] cakrit opened #435 "[Bug]: Docker instructions to connect node may get cut"
### Bug description

Can't see all the instructions, or the copy button.

### Expected behavior

Need to be able to scroll to see all the instructions

### Steps to reproduce

Go to a room with no nodes and select Docker.

### Screenshots

<img width="1024" alt="image" src="https://user-images.githubusercontent.com/43294513/169565989-b3f6a849-429d-4bdb-a9bf-a140463d6ae3.png">

### Error Logs

_No

[2022-05-20 15:57] cakrit commented on #420
yes @hugovalente-pm I would add to the main screen under the try again with different conditions also a marketing message, with an additional way to avoid the page being a dead end, more room there. The CTA is essentially the same, but we have room to tell them something more than just "Add more charts", which they may not notice with all the clutter in the UI.

[2022-05-20 16:01] cakrit commented on #420
There was one more idea, from @ralphm or @amalkov (don't remember), to poke people to add a second node as soon as possible. Where we see that they only have one node (probably Nodes tab and Overview screen), ask them to claim a 2nd node to get the full benefits.

I'm telling them to do so in the in-app engagement for the overview tab and kind of point them to that in the last step of the quick to

[2022-05-23 09:00] dimko opened #436 "[Bug]: Adding a chart to custom dashboard when no reachable nodes available crashes"
### Bug description

500 error screen is displayed without any console error in the Frontend  when user tries to add a chart in a custom dashboard and no reachable nodes exist in this room.

### Expected behavior

The 500 page shouldn't be displayed. The nodes selection dropdown should have all values greyed out and disabled, or the option to add a chart should be disabled in the 1st place.

### S

[2022-05-23 11:15] burbuli8ra commented on #421
@christophidesp I think the best solution would be to add the overlay that shows up when clicking the help/documentation section (`?`) on the profile menu as well! This way the experience our users have with both menus are quite similar and we keep the app's consistency!
I have made the updated suggested and included it on my PR's description as video, so please let me know what you think in order

[2022-05-23 12:47] tkatsoulas opened #437 "[Bug]: Missing charts on Netdata Cloud"
### Bug description

This is a follow up issue from this https://community.netdata.cloud/t/apache-configuration-no-work-threads-information-available/2912 ticket.

The Netdata Agent collect all the metrics about Apache (apache module from go.d.plugin) and you can query the actual data from the Agent's API. Some of the charts though are not available in Netdata Cloud (to be more specific the charts

[2022-05-23 14:58] burbuli8ra commented on #435
Released on [v2.30.2](https://github.com/netdata/cloud-frontend/releases/tag/2.30.2)

[2022-05-23 14:58] #435 closed

[2022-05-24 07:44] christophidesp commented on #421
I think that it looks a lot more clear now @burbuli8ra!

[2022-05-24 08:24] burbuli8ra commented on #421
Great @christophidesp !
Thanks for the reply! I'll ping the PR's reviewers to check it once more (since the initial implementation has changed) and will proceed with merging it! 😄

[2022-05-24 11:04] ivangergo3 commented on #422
We are working on removing the nodes from the General room, but General is a special room so you can remove nodes from other rooms, but General should have all your nodes.
The remove functionality to remove nodes from General is getting ready. We will test it this week

[2022-05-24 15:30] hugovalente-pm commented on #420
@cakrit added the follow-up ticket for that here Add CTA also on central message when no charts are available netdata/cloud-frontend#3432

[2022-05-24 20:27] hugovalente-pm opened #438 "[Bug]: Single node view section positioning flickering in between container sections"
### Bug description

While navigating through (k8s) container sections the FE seems to get in a state it can't determine to which section to jump to.

### Expected behavior

Position the user in one of the sections, the flickering shouldn't happen

### Steps to reproduce

1. Go to a Single node view on a k8s container section- [example](https://app.netdata.cloud/spaces/netdata-cloud/rooms/k8s-prd/

[2022-05-24 20:30] hugovalente-pm commented on #437
@tkatsoulas this seems a similar issue to this one https://github.com/netdata/netdata-cloud/issues/430

[2022-05-24 21:21] dimko commented on #438
I've also noticed this in my tests for non k8s charts. Unfortunately we raised the issue in a not so proper way.
Video attached in the ticket below showcasing the behavior https://github.com/netdata/cloud-frontend/issues/3395

[2022-05-25 06:28] hugovalente-pm commented on #438
thanks @dimko for sharing that, it doesn't seem to be just for k8s charts, let me rephrase this

[2022-05-25 08:25] hugovalente-pm commented on #349
@TonyPath @novykh  with the work on https://github.com/netdata/cloud-backend/issues/142 completed from BE perspective, is there anything needed to complete this one? not sure if anything changed on BE that we need to accommodate on FE

[2022-05-25 09:34] hugovalente-pm commented on #436
@jjtsou as discussed when all the nodes are unreachable we should display a different message and block the add chart buttons, let's use the same graphics as when there aren't charts but a different message

also let's add the dashboard title and hamburguer menu here (the three dots)

<image src="https://user-images.githubusercontent.com/82235632/170230900-15f3083b-2ffd-406a-bfea-b84de09149d6.png"

[2022-05-25 09:47] dimko commented on #437
Closing this as duplicate. We can track it through https://github.com/netdata/netdata-cloud/issues/430

[2022-05-25 09:47] #437 closed

[2022-05-25 12:17] hugovalente-pm commented on #377
since annotations is a new feature we should track it in a separate ticket, we have this one around the topic and we can spin out smaller tasks out of it https://github.com/netdata/product/issues/1792

[2022-05-26 08:03] hugovalente-pm commented on #350
thanks for the investigation @TonyPath @dimko , I agree let's close this

[2022-05-26 08:03] #350 closed

[2022-05-26 09:18] dimko commented on #326
Managed to reproduce it and collect the data required. Unless we do some manipulation of responses in the Backend, there seems to be an issue with agent's response. So...

for the following POST request

`https://testing.netdata.cloud/api/v2/nodes/06415279-2790-4b38-b1c4-4bb2d9758bc0/data?v2=&chart=net.veth035bba2&format=json&options=jsonwrap%7Cnonzero%7Cflip%7Cms&_=1653555020232&points=197&group=

[2022-05-26 09:22] hugovalente-pm commented on #326
to add some additional info, the request was being done for the last 15min from today (26th of May) and the information we get on the response is coming with data from the 25th of May

[2022-05-26 13:53] cakrit commented on #132
This still exists

<img width="822" alt="image" src="https://user-images.githubusercontent.com/43294513/170501589-338c3b19-c1bc-4ba0-92d4-4e57fa7260b7.png">

[2022-05-26 13:54] cakrit commented on #132
Very low priority.

[2022-05-26 14:07] cakrit commented on #131
A possible solution here is to:
- Reuse the mapping of chart `units` to default aggregation methods already utilized in the Overview screen, so that we don't always Sum.
- Modify the Add/Edit control of each column, to override the default for that column.

[2022-05-26 14:12] cakrit opened #439 "[Bug]: Incorrect list of dimensions shown on mouseover of sparkline in Nodes view"
### Bug description

The little info that appears when you hover over a sparkline chart on the Nodes view shows Context, Dimensions and Aggregate Funtion.

The content of Dimensions is wrong, as it always lists every dimension, regardless of whether the chart is based on All Dimensions or on a subset of them.

### Expected behavior

On hover we should be seeing the dimensions really included in th

[2022-05-26 14:31] cakrit commented on #128
@ilyam8 I think that this works great now. I connected a node, added eBPF and restarted the agent.
I didn't even have to reload the screen or reopen the single node tab, I saw the charts when I clicked on the "Applications" section.
Closing, please reopen if you see something different.

[2022-05-26 14:31] #128 closed

[2022-05-26 14:36] cakrit commented on #79
This looks fine now, we have one chart per cpu:

<img width="983" alt="image" src="https://user-images.githubusercontent.com/43294513/170510304-4e4e5284-6ae6-494c-8445-fd6b23ee9ba8.png">

[2022-05-26 14:36] #79 closed

[2022-05-26 14:47] cakrit commented on #76
@hugovalente-pm this should be very easy to fix, please prioritize.

[2022-05-27 06:57] hugovalente-pm commented on #76
sure @cakrit , for the first bullet we need to change it across our scrollbars because these are only shown to the user on over

<image src="https://user-images.githubusercontent.com/82235632/170646443-f2f2721e-bd87-4da4-99b8-15993d9e21cc.png" widht="50%" height="50%"/>

for the second bullet `?` we can put the following text on hover:

When selecting **All nodes** you search and add charts using

[2022-05-27 07:51] dimko commented on #330
@sashwathn @car12o @MrZammler just a follow up on this one. What are the actions required for this to close on agent and cloud side?

[2022-05-27 07:52] dimko commented on #341
@jacekkolasa just a follow up. What is the status for this one?

[2022-05-27 07:53] dimko commented on #394
Assigning to me for re-testing.

[2022-05-27 07:54] dimko commented on #231
Nice one. Closing this as it has been fixed. After Jacek's fix, on hover we show a tooltip displaying the name of node, chart, alert

[2022-05-27 07:54] #231 closed

[2022-05-27 07:58] hugovalente-pm commented on #426
@TonyPath @juacker @papazach this needs to be tackled from BE, because it is BE that provides these to FE
can we try to do something like @ilyam8 was suggesting [here](https://github.com/netdata/netdata-cloud/issues/426#issuecomment-1129110605)?

Another option could probably be doing something similar to the mutations we do for disks, network interfaces, mount points families, but this would be a

[2022-05-27 08:33] car12o commented on #330
@dimko is there a way to reproduce? otherwise, it will be hard to investigate as this could happen for many reasons.
- setup (two alarm stream flows reporting different statuses)
- events being lost on the cloud
- events not being pushed to the cloud

[2022-05-27 08:34] car12o commented on #394
@dimko we need to update the FE request to use the new endpoint. I think this will be addressed on the drawer refactoring.
cc: @jacekkolasa

[2022-05-27 09:01] dimko commented on #130
This is coming from the agent. @MrZammler could you please take a look when you have some time?

[2022-05-27 09:06] dimko commented on #325
@sashwathn @car12o @YaroslavDev Can we close this one?

[2022-05-27 09:13] dimko commented on #423
Well... this seems to be a feature and not a bug 😛 When you click the tab **critical** is next to the tab name so you filter by critical when you click it... 🤯

We'll probably remove this functionality, so leaving it open for this reason.

[2022-05-27 09:32] car12o commented on #325
Closing this one since the data out of sync was caused by not being the service owning the data responding to FE requests. Now that all calls were moved to the service owning the data, this should be fixed.

[2022-05-27 09:32] #325 closed

[2022-05-27 09:34] car12o commented on #423
I looked to it as a bug for months, and only found it was a feature a couple of weeks back :smile:

[2022-05-27 09:37] dimko commented on #181
@sashwathn I will close this until we have more info or manage to reproduce it again.

[2022-05-27 09:37] #181 closed

[2022-05-27 09:42] dimko commented on #330
@car12o Unfortunately,  I don't know of a flow to consistently reproduce this. The issue is too generic tbh. If we notice this again we should enrich this issue with more info.

The question is (both for cloud and agent), is there any pending or ongoing work to do a full sync in case we lose messages and the agent is not in shape to send a snapshot ?

[2022-05-27 09:55] car12o commented on #330
@dimko agree, I think that's the only option we have :smile:

AFAIK there's nothing ... currently, snapshots are the only way to re-sync alarms between agent & cloud.

[2022-05-27 11:07] novykh commented on #419
Same happens for a node tab that's open, but we delete the node, and then try to navigate to that tab.
Maybe we should throw a 404 on such cases, since the node doesn't exist anymore, I believe is the same case with the one on this issue. @hugovalente-pm thoughts?

[2022-05-27 13:50] jjtsou commented on #436
https://github.com/netdata/cloud-frontend/pull/3446

[2022-05-28 03:56] burbuli8ra commented on #410
Hello @hugovalente-pm !
There is a known issue about the FE and BE databases sync, which is random!
In short, in FE we receive the data from BE from an initial call made to receive the nodes and we update the local cache with the next response received from the same call to this endpoint (either from polling or by a new call if the user refreshes).
For same reason, BE not always responds with the

[2022-05-28 09:54] ced1check commented on #430
Regarding bug #437, I had 2 nodes with local data missing from the cloud, now one of them has the data in the cloud ok, however the second node still has not all data shown and it's been about a week, even after every nightly updates.

Agent version is now 1.34.0.-246-nightly, but it makes no difference. Anything I can provide or do (logs, ...) to help pin-point/fix the issue?

[2022-05-28 09:59] maxsot100 commented on #430
Hello, there was a delay in receiving data from the node ok. The second node was removed. We don't know how to remove it from console now. We hope the functionality to do it from the cloud arrives quickly. It would be good also that agent not sending data since some days were archived and, from there, could be deleted or reactivated.
Thanks and kind regards

[2022-05-28 10:06] ced1check commented on #430
Checking the cloud "overview" panel, I see about 280-300 Apache busy workers, while the 4 nodes reporting it in the cloud acount for about 150 busy workers, and the last node (missing data in the cloud) is about 150 busy workers.

It seems even I can't select the apache workers data for that node in the cloud, it's considered in the overview panel!

[2022-05-29 07:49] maxsot100 commented on #430
I see no data (error) regarding workers in the Overview of General and All_machines war rooms... If I go to the nodes panel I see many machine with red or grayed... these are nodes removed but still present. I believe many alarms are coming from them. I don't know how to remove them or at least remove their alarms... Suggestions are welcome.

[2022-05-30 05:11] ced1check commented on #430
@maxsot100 maybe open a new issue as this is unrelated to OP.

[2022-05-30 07:00] hugovalente-pm commented on #430
@ced1check thanks for more details, we are using this issue to track it. we were able to reproduce it and are now in the process of trying to get a fix. hope we can have something soon

Yes, like @ced1check suggested seems better to log a new bug and probably clarify the issue, from your two messages seems you are keen on the feature of removing nodes but you mention you are receiving alerts from

[2022-05-30 07:16] hugovalente-pm commented on #419
@novykh I think so since the node doesn't exist, but this is a different case than this https://github.com/netdata/product/issues/2554#issuecomment-1135460381, right?

can we distinguish between both and have different messages to the user? e.g. saying the node doesn't exist in the War Room

@dionysis-netdata as fyi

[2022-05-30 07:21] hugovalente-pm commented on #410
thanks for the update @burbuli8ra and for picking this up 💪

[2022-05-30 09:40] stelfrag commented on #430
May be fixed by https://github.com/netdata/netdata/pull/13035

[2022-05-30 09:46] hugovalente-pm commented on #377
I think that is the general assumption, logic that can be pushed to the edge should be done there.
let's see if @amalkov and @ralphm confirm this

[2022-05-30 09:47] hugovalente-pm commented on #376
@ktsaou @TonyPath was working on https://github.com/netdata/netdata-cloud/issues/377 and these seem to be related, so if we interpolate and add annotations to _gaps_ we won't be showing these as `null`

can we close this ticket this #377 is to apply the interpolation?

[2022-05-30 11:35] dimko opened #440 "[Bug]: No data in chart displayed although data are there"
### Bug description

Charts canvases show a no data message, but data are there.

### Expected behavior

The no data message shouldn't be displayed.

### Steps to reproduce

1. Login to netdata cloud
2. Claim a node
3. Navigate to overview tab
4. Check chart canvas

### Screenshots

![image](https://user-images.githubusercontent.com/19268853/170984132-44fbe938-1771-4ed0-be82-0876e1325d7e.png)

###

[2022-05-30 12:56] ced1check commented on #430
Thanks @stelfrag, just wondering if it's already available and if so what I should do to actually see the missing data? I've Ctrl+F5 on the cloud page, restarted netdata on the node with issue, but still no worker data visible in cloud.

[2022-05-30 14:26] MrZammler commented on #130
This isn't so much of a bug, more than the way it works basically.

The `on` in the subject is the hostname of the machine the agent runs, and is like that for every alert subject. Moreover, alert configurations can't configure the email subject.

Saying that, the alert that comes, doesn't really contain much in terms of which website is actually monitored (except from the part in the chart name).

[2022-05-30 14:46] burbuli8ra commented on #421
Released on [v2.30.5](https://github.com/netdata/cloud-frontend/releases/tag/2.30.5)

[2022-05-30 14:46] #421 closed

[2022-05-30 15:08] dimko opened #441 "[Bug]: Invalid re-direct after refreshing page following custom dashboard creation"
### Bug description

If user refreshes page immediately after creating a custom dashboard he is re-directed to Dashboards tab and sees an invalid link for dashboard error message.

### Expected behavior

After user refreshes the page he should land on the page he previously was on

### Steps to reproduce

1. Login to netdata cloud
2. claim an agent
3. create a custom dashboard
5. save custom dashb

[2022-05-30 16:13] dimko commented on #436
@jjtsou this doesn't seem to work as expected. When there are no reachable nodes in the room when trying to add dashboards it's stuck in a never ending loading page.

[2022-05-30 16:23] dimko commented on #436
It's strange. It doesn't happen with all Unreachable nodes 🤔 The node I tried to add reports as unreachable but we try to query charts for it, so I guess this loading in dashboards happen due to the invalid state of the node, probably the sanitization script hasn't run yet to clear it.

I will accept and close this as the functionality itself seems to be fixed and the issue described above is a si

[2022-05-30 16:28] #436 closed

[2022-05-30 16:29] dimko commented on #436
fixed on **release/2.30.5** of cloud-frontend

[2022-05-30 16:36] dimko commented on #429
The initial issue that made the cloud unusable has been resolved, however we still have cases where charts aren't received from the agent and take a long time to sync to cloud. Will close this and you can track the status of the aforementioned issue [here](https://github.com/netdata/netdata-cloud/issues/430)

[2022-05-30 16:36] #429 closed

[2022-05-30 16:41] dimko commented on #430
I think this is related to this one https://github.com/netdata/netdata-cloud/issues/424. Seems too similar to the behaviour we've noticed during our tests. Hopefully we can close them altogether!

[2022-05-31 09:12] dimko opened #442 "[Bug]: Re-claimed node becomes stale after shutdown instead of unreachable"
### Bug description

As the title says. Before the introduction of the stale status a node re-claimed to cloud using the -id=$(uuidgen) param was becoming **offline** after it was killed. Now it becomes **stale**.

### Expected behavior

I am not sure if this is the expected functionality, but I'd expect node to become offline after user shuts it down.

### Steps to reproduce

1. Login to Netdata

[2022-05-31 09:45] hugovalente-pm commented on #420
@cakrit for this one we have a link to docs and we have added the tooltip, where you thinking about anything else?

<image src="https://user-images.githubusercontent.com/82235632/171144916-e781c9d2-fa98-44c0-a5bc-c3dcc41adefd.png" width="50%" height="50%"/>

[2022-05-31 11:39] ced1check commented on #430
@dimko, @stelfrag, thanks for your work, problem solved ;)

[2022-06-01 07:09] hugovalente-pm commented on #430
@ced1check glad to know it got solved 🙌

one question, this was made available on our nightly version yesterday, v1.34.0-261, did you build your agent from master to test it?

@maxsot100 can you also try this out? please make sure to update your agent version to the most recently nightly version - v1.34.0-261.

[2022-06-01 07:12] ced1check commented on #430
@hugovalente-pm that server is still on 1.34.0-252 nightly so I suppose it resolved itself somehow. However I tought it was related to a cloud issue so when I saw the merge I tested again and the data was there!?

[2022-06-01 10:45] #424 closed

[2022-06-01 10:48] hugovalente-pm commented on #430
@ced1check the issue was seen on Cloud, but the source of the issue was from data the agent was sending to Cloud.
I'm not really sure what happened on your case, but glad it got sorted out

[2022-06-01 12:06] maxsot100 commented on #430
We still have old alarms (14 days ago) and unreachable (removed) machines. Any suggestions on how to remove them (at least alarms)? Thanks

[2022-06-01 12:14] dimko commented on #430
@maxsot100 we've just released a new functionality that enables you to remove stale nodes from your space. This is supposed to also remove any alarm related to that node. Can you please try this? Also, can you share your space id so the team can take a look?

[2022-06-01 12:56] maxsot100 commented on #430
Thank you, found it... now trying

[2022-06-01 13:35] maxsot100 commented on #430
Not sure... I deleted wrong nodes and found war rooms with missing nodes. I claimed them again but they do not appear. However, in the Home tab of the war room it provides a high number of nodes (when entering the list now they are much less). A bit confusing...

[2022-06-01 13:58] dimko commented on #430
Ok there seems to be an issue with node obsoletion. Will revert it in a few minutes and re-enable it after we identify the cause of the breaks. Really sorry for the trouble. Your nodes will re-appear. We will make an official announcement once this feature is out and works properly.

btw, is it possible to open a separate issue about the stale alerts? can you provide space id and node ids for the

[2022-06-01 14:30] cakrit opened #443 "[Bug]: Go to chart from a custom dashboard seldom works"
### Bug description

I played a lot adding charts to a custom dashboard and clicking on the "go to chart" from them:
<img width="126" alt="image" src="https://user-images.githubusercontent.com/43294513/171427960-a660384b-32c2-4579-aba9-cd7d1ced11e0.png">

It has worked only for a couple of charts. The rest of them are taking me all over the place. The interesting thing is that it's not even necess

[2022-06-01 14:33] cakrit commented on #227
This works now:

<img width="206" alt="image" src="https://user-images.githubusercontent.com/43294513/171429727-52304634-e1ac-4536-9a23-aee6944ddb67.png">

[2022-06-01 14:36] cakrit commented on #171
Tested on Firefox on an Ubuntu and they look fine now.

[2022-06-01 14:36] #171 closed

[2022-06-01 14:36] cakrit commented on #245
Removed a long time ago. The Knowledge Center Bot Icon we have now can be moved anywhere the user wants.

[2022-06-01 15:03] cakrit commented on #426
No, we can't wait for the source code to be fixed and the new version of `fping` to be deployed to the entire world for the title to be fixed. Please strip it with a regular expression or something, we need to problem corrected ASAP.

[2022-06-01 15:06] cakrit opened #444 "[Bug]: "No data for this period" remains even after data has been filled in"
### Bug description

Opened a new chart that had just a few seconds of data and as expected, saw the "No data for this period" on the left.
However, when the data did come, the thing stubbornly stayed there. Scrolling up and down didn't make it go away.

### Expected behavior

It should only appear on areas without data.

### Steps to reproduce

1. Create new chart on agent
2. View chart on cloud

[2022-06-01 15:13] ilyam8 commented on #426
I don't know how to do it, we just [exec fping](https://github.com/netdata/netdata/blob/044d4c9d916fbc94a5a00324ab377d56b4937a29/collectors/fping.plugin/fping.plugin.in#L199). @netdata/agent-sre can you help us? Asking you because you are much more experienced with bash.

[2022-06-01 15:47] cakrit commented on #426
To get back to how to handle this issue though, the point is to not go through the rabbit hole of the issues linked to #253
I'm not talking about making the Overview more useful/useable, but ONLY about removing the completely wrong names linked to each context, by taking out what's in the parentheses and then also going through the contexts where multiple instances appear as different sections (e.

[2022-06-01 15:49] cakrit commented on #312
This is an improvement, removing the bug label and title.

[2022-06-01 15:54] cakrit commented on #333
This is what 24x24 looks like, which is much worse than the current size. We should leave it as is.

<img width="40" alt="image" src="https://user-images.githubusercontent.com/43294513/171447285-3410bc0e-7dbd-4e4c-ae4b-1bdfe9f81775.png">

[2022-06-01 15:54] #333 closed

[2022-06-01 15:56] cakrit commented on #333
These two show the difference better.

Current:
<img width="252" alt="image" src="https://user-images.githubusercontent.com/43294513/171447614-06918693-707f-4cbd-ab4e-6d1b9db5aad2.png">

Proposed:
<img width="230" alt="image" src="https://user-images.githubusercontent.com/43294513/171447543-73300284-bffc-477f-8b8e-88146f220f25.png">

The alignment with the other elements would be worse too.

[2022-06-01 16:07] cakrit commented on #307
The issue has now been resolved and newly connected nodes are properly shown on the cloud.

[2022-06-01 16:11] cakrit commented on #348
@hugovalente-pm can you have a sit down with @thiagoftsm to investigate why this happens? It may be very relevant to the work currently being done to properly display and filter different instances based on family / instance.

[2022-06-01 16:15] cakrit commented on #347
Is this for the cloud or for the agent?
The suggestions are very open ended. What's the course of action?

[2022-06-01 16:27] cakrit commented on #351
This is another that is probably for the agent, not the cloud, but we'll discuss first.

[2022-06-01 16:48] #387 closed

[2022-06-02 07:19] hugovalente-pm commented on #430
@maxsot100 thanks for the feedback and helping us find an issue on the node obsoletion feature, but wanted to confirm if the original issue reported on the ticket has been solved?

we have other tickets in place to track this need of obsoleting nodes and get rid of stuck alerts, so was keen on trying to close this one about missing charts in Cloud

[2022-06-02 07:26] #444 closed

[2022-06-02 07:30] dimko commented on #443
To add more info on this one. It seems to re-direct you to the last chart you've visited in the respective tab.

e.g if dashboard is for **All Nodes** and you last visited **System Overview** submenu it will re-direct you to that section. It doesn't get you to the chart that corresponds to the dashboard

[2022-06-02 07:30] hugovalente-pm commented on #426
@juacker was trying to find this also on our PROD space but seems it was fixed already

[2022-06-02 07:36] hugovalente-pm opened #445 "[Bug]: Home should have date time picker and time control disabled like Alerts tab"
### Bug description

When you are on the Home tab the date time picker and time controls aren't applicable, so these should be disabled like on the Alerts tab

### Expected behavior

See above

### Steps to reproduce

1. Go to Home tab and see that date time picker and time control aren't disabled

### Screenshots

**Home tab**
<image src="https://user-images.githubusercontent.com/82235632/1715782

[2022-06-02 07:41] hugovalente-pm opened #446 "[Bug]: Home tab redirects doesn't respect existing filters"
### Bug description

When filtering Nodes using the Global filter if user clicks on a card to be redirected to the Nodes tab existing filters are overriden

### Expected behavior

When there is a filter applied and user clicks to be redirected to the Nodes tab the existing filter should be respected.
One exceptional case is when we have a value of `0` (zero) here probably the redirect shouldn't ha

[2022-06-02 07:43] dimko opened #447 "[feat]: Cannot filter Kubernetes in Overview tab"
### Feat description

Typing Kubernetes in the charts filter while in the Overview screen doesn't bring back the kubernetes section.

### Expected behavior

It should show me all the kubernetes related sections in the sidebar

### Steps to reproduce

1. Login to Netdata Cloud
2. Claim a kubernetes cluster
3. Navigate to Overview Screen
4. Type _Kubernetes_ in the input field under **Sections and C

[2022-06-02 07:45] hugovalente-pm opened #448 "[Bug]: applied filter on nodes should be visible on home tab (like on other tabs)"
### Bug description

If there are node filters applied these should be displayed on Home tab like they are on other tabs

### Expected behavior

Show applied node filters on top

### Steps to reproduce

1. On Home tab go to Global node filter and filter by 1 node
2. See that no info is shown on top

### Screenshots

**Home tab**
<image src="https://user-images.githubusercontent.com/82235632/171580

[2022-06-02 08:07] hugovalente-pm commented on #348
sure @cakrit , trying to follow-up on this today

[2022-06-02 15:06] dimko commented on #425
fixed.

[2022-06-02 15:06] #425 closed, assigned to juacker

[2022-06-02 15:08] dimko commented on #182
related to https://github.com/netdata/netdata-cloud/issues/422

[2022-06-02 18:27] thiagoftsm commented on #348
Hello @cakrit and @hugovalente-pm ,

I tried to recreate the issue today, and I am observing that right now on my environment everything is correctly grouped, the charts that I see on `Overview` are the same I have locally for the host.

Best regards!

[2022-06-02 18:27] #348 closed

[2022-06-03 11:39] cakrit commented on #385
I've pinged internally and contacted @ralphm to make it a priority. This is too serious.

[2022-06-03 11:41] cakrit commented on #385
Actually, closing this in favor of https://github.com/netdata/netdata-cloud/issues/349 which is more actively worked on.

[2022-06-03 11:41] #385 closed

[2022-06-03 11:52] cakrit commented on #126
Apparently this has been forgotten for almost a year. We need to look where we get the descriptions and why they are different. It makes sense to have differences in context charts, but not in single node charts. I don't see this as a medium prio bug though, the effect is very minor.

[2022-06-03 11:56] cakrit commented on #391
I haven't noticed this. Is it really happening often enough to be high prio, or is it already fixed?

[2022-06-03 12:02] cakrit commented on #400
https://github.com/netdata/netdata/issues/12603 is closed. Can you try again @hugovalente-pm ?

[2022-06-03 12:04] cakrit commented on #378
https://github.com/netdata/netdata/pull/12933 was merged 17 days ago

[2022-06-03 12:04] #378 closed

[2022-06-03 12:13] cakrit commented on #267
Moved it to prio low, as it's definitely annoying, but doesn't significantly impact the ability to troubleshoot.

[2022-06-03 12:19] cakrit commented on #346
I believe we have confused the bug with the suggested long term improvement.
The clear bug that needs to be addressed ASAP is that we're supposed to have 4 nodes with `web_log` charts for `"context": "web_log.detailed_response_codes"` and instead we're showing data from only 1.

Based on @novykh 's comment, this means that the request to get back the nodeIDs with the specific context returned wron

[2022-06-03 12:36] cakrit commented on #349
There are issues with https://github.com/netdata/cloud-backend/issues/142, waiting for an update from @papazach

[2022-06-03 12:38] cakrit commented on #438
Actually I was wrong, users have a workaround for this one, it's just annoying, not blocking work.

[2022-06-03 12:46] cakrit commented on #326
This really doesn't look like a cloud issue to me, but an edge case on the agent. If @dimko manages to reproduce again, he will issue the exact same request directly on the agent too, to verify. If that's the case, then @stelfrag will need to be invited to look at it at that moment.

[2022-06-03 12:47] cakrit commented on #326
Moved it back to needs triage as we still don't know why it happens.

[2022-06-03 12:55] TonyPath commented on #346
Hi @cakrit

I am on it. I will share my findings here.

cc: @hugovalente-pm

[2022-06-03 12:57] MrZammler commented on #347
Is this still valid since https://github.com/netdata/netdata/pull/12796 was merged?

[2022-06-03 13:01] cakrit commented on #225
I believe we have no way of updating the cloud with a node's hostname, if it changes.
The hostname as netdata understands it, is configurable via `netdata.conf`, `[global]` section, `hostname` parameter.
We probably have ways to update node info regularly, but may be neglecting to update the node name used in email notifications. Let's address that.

[2022-06-03 13:05] cakrit commented on #36
@vkuznecovas / @ravilushqa this should be trivial to handle, seems like no one bothered to look into it.

[2022-06-03 13:07] cakrit commented on #56
Duplicate of https://github.com/netdata/netdata-cloud/issues/410

[2022-06-03 13:07] #56 closed

[2022-06-03 13:09] cakrit commented on #410
@burbuli8ra please do look into getting the fix in node deletion, we've had this bug for far too long and node deletion is a constant complaint of our users.

[2022-06-03 13:15] cakrit commented on #93
We know where this issue is coming from, desynchronization between the materialized views and the DB. There's active work to resolve such issues permanently, but it will take a while. We don't even have the ability to manually correct such discrepancies, so there's unfortunately nothing that can be done for individual cases where this happens. It was an old bad design decision that will take some

[2022-06-03 13:16] #107 closed, assigned to nobody

[2022-06-03 13:17] #211 closed

[2022-06-03 13:21] cakrit commented on #213
So we believe that this is a duplicate of #372. Closing it as such and will only reopen after we have removed all materialized views from everywhere.

[2022-06-03 13:22] hugovalente-pm commented on #391
it indeed seems better @cakrit, I know @novykh started some refactoring work on this but not sure he completed to the stage he wanted and/or he released something

can you confirm @novykh if this could be closed for now and, if there is work missing, it could be tracked on a tech-debt task on `netdata/cloud-frontend`

[2022-06-03 13:25] ravilushqa commented on #36
thanks @cakrit and @Ferroin

I put the task in the backlog

[2022-06-03 14:09] cakrit commented on #426
Here you go:

<img width="922" alt="image" src="https://user-images.githubusercontent.com/43294513/171870817-25d9c3fa-9da8-4b28-b604-09c0f2675762.png">

[2022-06-03 14:22] cakrit commented on #426
Checking the others, it looks like httpcheck does NOT have this issue, as the chart titles don't have the name
So it's really just `fping` that we have an issue with. Closing this one, @ilyam8 let's continue in https://github.com/netdata/netdata-cloud/issues/253

[2022-06-03 14:22] #426 closed

[2022-06-03 14:30] cakrit commented on #253
The issue of the name of the `fping` charts will be handled in netdata/netdata. The more serious issue of how the information should be more properly organized is what will resolve the issue in the cloud. So this is blocked by #275 as @hugovalente-pm said.

[2022-06-03 16:47] cakrit commented on #250
This isn't a cloud bug, but an agent one. Closing to follow up in https://github.com/netdata/netdata/issues/13069

[2022-06-03 16:47] #250 closed

[2022-06-04 06:34] realEthanZou commented on #422
@ivangergo3 Now that there are live/stale/offline categories for nodes, is there a way to remove a node or label them as stale?

[2022-06-04 22:51] jjtsou commented on #446
https://github.com/netdata/cloud-frontend/pull/3493

[2022-06-04 23:08] jjtsou commented on #448
https://github.com/netdata/cloud-frontend/pull/3494

[2022-06-04 23:21] jjtsou commented on #445
https://github.com/netdata/cloud-frontend/pull/3495

[2022-06-06 08:05] hugovalente-pm commented on #326
I think @dimko has identified how this is reproducible, so we really need @MrZammler and/or @stelfrag to help here

[2022-06-06 08:09] hugovalente-pm commented on #400
yes @cakrit seems to be fixed since I can't reproduce it again

[2022-06-06 08:09] #400 closed

[2022-06-06 08:10] hugovalente-pm commented on #225
@sashwathn could you please take this in on the Alerts team?

[2022-06-06 08:22] dimko opened #449 "[Bug]: Popups stack and cover part of the screen."
### Bug description

All of the popups we use in Netdata Cloud to inform a user about the action he performed stack one on top of the other. When a user repeats some actions these popups are really annoying and cover a large part of the screen. User has to dismiss them one by one in order to continue his work, or have to wait for some seconds for them to disappear.

### Expected behavior

Less int

[2022-06-06 08:23] dimko commented on #449
@vinnygats @christophidesp I think we'll need your help on this one guys. It's not an actual bug, but it's really annoying

[2022-06-06 08:43] vinnygats commented on #449
First of all for the case of deleting a node we don't really need the loading on top and the 'x' button and we can decrease the second of showing this pop up.
Secondly, we don't have create a new pop up every time we delete one node, or if it's not possible, we don't have to stack them. Since it's fixed positioning, they can be layered on top of each other and not stacked.

[2022-06-06 09:12] hugovalente-pm commented on #347
thanks for sharing this @MrZammler , with this release this will only happen for older agent versions.

the topic of older agent versions was discussed and it was agreed that supporting legacy and current versions can be a huge effort, we should ask our users to update their agent's version to the latest. for that we can leverage a UI component (that we already have) to flag that to get the best e

[2022-06-06 09:43] hugovalente-pm commented on #377
@TonyPath as discussed let's push forward the work on Cloud.
@MrZammler please take a look and a chat with @TonyPath to see the work needed to do this on Agent side

[2022-06-06 11:07] underhood commented on #329
@ktsaou do you still have this issue of RPis reconnecting all the time?

[2022-06-06 12:24] underhood commented on #329
@hugovalente-pm what happened to the issue you mention above? If still active/needed please split it to separate issues.

[2022-06-06 13:13] stelfrag commented on #326
@dimko please share info to investigate

[2022-06-06 13:30] sashwathn commented on #225
There are 2 scenarios I can think of:
- User updates the node name in netdata.conf and should be updated on the agent as well as the cloud. @MrZammler and @car12o - how are we handling this currently?
- User updates the hostname of the node but does not change the parameter on netdata.conf. Should there be an automated way for us to modify this without requiring user intervention? @cakrit and @kts

[2022-06-06 13:46] cakrit commented on #420
@hugovalente-pm looks good

[2022-06-06 15:14] juacker commented on #418
reading @novykh last message I understand the solution will be implemented FE side only. Just to validate, as I see the `cloud-backend` tag, is there anything pending from the BE side here @hugovalente-pm?

[2022-06-06 16:28] cakrit commented on #225
The first definitely requires and agent restart.
I believe that the latter also requires an agent restart. Best case scenario we could do it also in health reload, but I wouldn't bother. The whole point is to ensure that whatever the agent knows while it is running has a way to make it to the cloud. Dunno anything about when/how the node info is updated.

[2022-06-06 16:45] hugovalente-pm commented on #418
yes, for now, we are discussing just showing info based on what Cloud FE has:
* Single Node chart - show whatever information we have available, chart title, node name, etc.
* Composite chart - show the `context`

I know @jjtsou is tackling a similar case but for a different ticket https://github.com/netdata/netdata-cloud/issues/356, where we spoke about probably just showing context, since the ex

[2022-06-06 16:51] cakrit commented on #347
I'm fine with this. Closing and it can be reopened if @ktsaou wants a different solution.

[2022-06-06 16:51] #347 closed

[2022-06-06 16:54] hugovalente-pm commented on #419
closing this has been released

[2022-06-06 16:54] hugovalente-pm commented on #446
closing this has been released

[2022-06-06 16:54] #446 closed

[2022-06-06 16:54] hugovalente-pm commented on #448
closing this has been released

[2022-06-06 16:54] #448 closed

[2022-06-06 16:54] hugovalente-pm commented on #445
closing this has been released

[2022-06-06 16:54] #445 closed

[2022-06-06 17:26] cakrit commented on #298
I believe that the confusion here comes from the meaning of the Date field. Which Date is that? The date the node was first connected? The column name is meaningless as is, either change it or remove the column. @shyamvalsan I believe this is your decision now.

[2022-06-06 17:38] cakrit commented on #336
There are no more notifications and the discourse thread is closed too.

[2022-06-06 17:44] #342 closed, assigned to nobody

[2022-06-06 17:50] cakrit opened #450 "[Bug]: Strange title in sparkline of nodes view for ip.tcpconnaborts"
### Bug description

The `otorts` here is very strange, it's not even part of the word `ip.tcpconnaborts` that it displays:

<img width="862" alt="image" src="https://user-images.githubusercontent.com/43294513/172216740-7709b7cb-6e36-46db-91a9-063cf0646bc8.png">

### Expected behavior

Show at least part of the context.

### Steps to reproduce

Add ip.tcpconnaborts to the nodes view

### Screensho

[2022-06-06 17:57] cakrit commented on #352
I don't know what has changed since Mar 29th but I see both `system.ram` and the more useful `ram.available`

<img width="986" alt="image" src="https://user-images.githubusercontent.com/43294513/172217898-d02770d9-4bde-4962-bac3-ad0b7a95ced0.png">

"The difference between free memory vs. available memory in Linux is, free memory is not in use and sits there doing nothing. While available memory is

[2022-06-06 17:58] cakrit commented on #352
@MikeJakubik please check if you're ok now.
As for the CPU type, I saw that we've made a lot of improvements since v1.33 to system-info.sh, so that should also be resolved.

[2022-06-06 18:08] cakrit commented on #366
I see that the icons have changed and just we just show a generic Linux one now.

<img width="127" alt="image" src="https://user-images.githubusercontent.com/43294513/172218790-03a7f36f-b743-4108-a58c-0d94acc879b6.png">

Not sure if it's the way it works now or a bug though.

[2022-06-06 18:09] cakrit commented on #450
Actually, it's more generic.

<img width="558" alt="image" src="https://user-images.githubusercontent.com/43294513/172220193-196f868a-9316-48c5-b3d7-bed4d0b140e6.png">

[2022-06-06 18:14] cakrit commented on #417
The grouping functionality has been removed for now.

[2022-06-06 18:14] #417 closed

[2022-06-06 18:20] cakrit commented on #130
This is a useless alert. People need to know which website has the problem.

All alert email subjects should include the identifier of the instance that we are alerting on (e.g.  `httpcheck` must mention the website, `fping` must mention the host, a mysql alert should mention which instance we are alerting on).  @sashwathn please see where the limitations are and let's get this fixed for the agent

[2022-06-06 18:21] cakrit commented on #130
I raised the prio to medium too.

[2022-06-06 18:33] cakrit commented on #423
When I repeatedly click on the amber "6" below...

<img width="108" alt="image" src="https://user-images.githubusercontent.com/43294513/172223351-661b25a7-441f-4057-bca6-64ceefdab394.png">

I shouldn't be seeing the filter change constantly to include or exclude warnings, but it does. It doesn't look like much of a feature to me. Can't we just remember the previous filter?

Alternatively, if this

[2022-06-06 18:41] cakrit commented on #330
@stelfrag can you please help reproduce the condition? Could be via defining a mountpoint with very low storage capacity and installing netdata there, or using a usb drive for storage and unplugging it, or some more clever way you can think of.

I also expect that we have several agents on the field that have fallen into the same predicament, all we'd need to do is monitor logs for failed synchron

[2022-06-06 19:08] stelfrag commented on #330
will do!

[2022-06-06 19:18] MikeJakubik commented on #352
Currently, the RAM metrics are not displayed at all, the space is blank. If I however add system.ram as a metric, it does show
![Screenshot 2022-06-06 151601](https://user-images.githubusercontent.com/73555475/172231549-bf72483a-f3ca-4777-94ba-f75469abd15f.png)
.

[2022-06-06 19:35] car12o commented on #423
@cakrit I don't see it as a feature either and I remember we all agreed during a daily that we will remove this functionality (include or exclude alarm status when clicking on these badges). Most likely this is not done yet due to the workload we currently have on the alarms FE team.
cc: @sashwathn @amalkov @jacekkolasa

[2022-06-06 19:47] shyamvalsan commented on #298
Also realized the documentation for this section is out of date https://learn.netdata.cloud/docs/cloud/war-rooms

Was trying to figure out what "Services" is supposed to indicate? I see no info anywhere.

[2022-06-06 20:05] thiagoftsm commented on #298
Hello @shyamvalsan ,

If we are talking about when it was `claimed`, to have only `Date` does not indicate what the field means as @cakrit well described.

We need to take care when we are naming the fields, `date` is so generic that I thought a completely different subject.

[2022-06-06 20:09] shyamvalsan commented on #298
@thiagoftsm I completely agree - but having a `date claimed` doesn't really make sense in that view, which is why I would prefer to remove the column entirely.

[2022-06-06 20:11] amalkov commented on #213
FYI @shyamvalsan
@vkuznecovas is still busy with https://github.com/netdata/cloud-backend/issues/91,
@burbuli8ra we will let you know

[2022-06-06 20:14] shyamvalsan commented on #298
https://github.com/netdata/learn/issues/1040 to make the docs better

[2022-06-06 20:26] amalkov commented on #420
Yes, we discussed this, basically, the idea is on the Nodes tab to display a notification "Please add at least two nodes" in case the War room has only one node available (active + stale), offline nodes needs to be ignored.

Having such information inside in-app engagement is really good, however, users can not see this message all the time and can forget about it.

[2022-06-06 20:42] amalkov commented on #423
@cakrit confirming, we agreed to remove "pre-filter" capability from the tab, going to be completed by @jacekkolasa

[2022-06-07 05:59] jjtsou commented on #76
https://github.com/netdata/cloud-frontend/pull/3502

[2022-06-07 06:39] maxsot100 commented on #430
Currently I would say no... we have still 4 machines that are stale and we cannot remove (the functionality in the cloud console is no longer present, even after a ctrl + f5). These machines are also generating alarms that we cannot remove (as far as I understand  there is no way to remove them from the console). Finally, we are also missing active nodes that we can no longer see. Let me know if I

[2022-06-07 08:29] hugovalente-pm commented on #430
@maxsot100 I believe the original issue has been solved since it was related to "agent does not show all metrics", do still find any WMI host missing on Cloud?

for the part of removing stale machines there are bugs already opened to cover that issue, for example:
* https://github.com/netdata/netdata-cloud/issues/422
* https://github.com/netdata/netdata-cloud/issues/399

As @dimko mentioned, once

[2022-06-07 08:31] dimko commented on #326
@stelfrag @hugovalente-pm Unfortunately, I don't have specific steps to reproduce. I was just playing around trying to reproduce another issue when I saw this. I'll try to do it again later today and will ping you.

[2022-06-07 08:59] sashwathn commented on #130
Thanks @cakrit
I would request @MrZammler to take a first look on how we can capture the right information before sending alert notifications.

cc: @amalkov @car12o and @YaroslavDev

[2022-06-07 09:12] maxsot100 commented on #430
Ok, let's close then. Thanks

[2022-06-07 09:14] #430 closed

[2022-06-07 09:25] hugovalente-pm commented on #439
@shyamvalsan moving this to Mgmnt & Navigation, the revamp of the Nodes tab was/is being tackled inside this team's scope

[2022-06-07 09:27] hugovalente-pm commented on #440
@jjtsou another bug on FE that I just pushed to our board

[2022-06-07 09:30] hugovalente-pm commented on #427
@cakrit not sure what you mean with the failsafe.
@novykh do you think there is something we can do?

[2022-06-07 09:52] dimko opened #451 "[Bug]: Alerts tab Last updated at entry has no value"
### Bug description

Last updated entry at the bottom of the alerts table in Active alerts tab has no value

### Expected behavior

It should display the date time the alarms were last updated at.

### Steps to reproduce

1. Login to Netdata Cloud
2. Claim a node
3. Trigger one or more alerts
4. Navigate to Alerts tab
5. Select the Active Alerts section

### Screenshots

![image](https://user-imag

[2022-06-07 10:10] dimko commented on #394
This seems to be fixed after the update in the alert's drawer. closing

[2022-06-07 10:10] #394 closed

[2022-06-07 11:09] dimko opened #452 "[Bug]: PLAY/PAUSE breaks for the whole app after user hovers over chart in alert's dedicated page or switches to a different tab"
### Bug description

Play/pause button inside the date-time picker becomes unresponsive (user can't pause charts) for the whole application after a user hovers over the alert affected chart displayed in the alert's dedicated tab.

If a user hovers over the chart, the chart pauses again after a while, on its own, without any user interaction.

### Expected behavior

 If datetime picker is always se

[2022-06-07 11:56] sashwathn commented on #423
@jacekkolasa : Will be working on this shortly to get this filtering disabled.

[2022-06-07 12:46] #377 closed

[2022-06-07 13:19] iigorkarpov commented on #366
I noticed that few months ago while I was testing Ansible playbooks and had two dozens VM registered to cloud. Icons (and OS if I remember correctly) were assigned rather chaotic. I asked about it, but the question somehow hung in the air :)

[2022-06-07 13:41] thiagoftsm commented on #451
While I was testing a PR at `netdata/netdata`  I also observed this issue when I used either `Chrome  102.0.5005.61 (Official Build) (64-bit)` or `Mozilla Firefox 101`.

[2022-06-07 14:07] dimko opened #453 "[Bug]: Add Nodes visible for non-admin members when it shouldn't"
### Bug description

Non-Admin users (e.g newly invited members) shouldn't see the button to add nodes to room when there are other nodes in the room.

### Expected behavior

The Add nodes button should be disabled, or not visible, or after clicking it and opening the add nodes modal user should see a prompt to contact an admin user.

### Steps to reproduce

1. As a non-admin user navigate to a ro

[2022-06-07 15:13] TonyPath commented on #346
quick update:
Tried to reproduce the issue but no luck.

Steps to reproduce:
- Spin off a couple of agents
- Setup `nginx` to all of them to start populate `web_log` related charts
- Observe the `/charts/[context]` and `/data` requests of `web_log` context, trying to spot any discrepancy in the list of nodeIDs

Since the spaceroom(`d719cc78-c3b2-4308-9250-b48d08ebcc9e/7a8a3334-1cfd-48b9-9caa-806aa

[2022-06-08 08:49] #356 closed

[2022-06-08 08:50] novykh commented on #356
Fixed on prod.

[2022-06-08 10:03] dimko commented on #326
Issue related to https://github.com/netdata/netdata/issues/12314

[2022-06-08 12:09] dimko opened #454 "[Bug]: Filtering Nodes by liveness status applies to all nodes ignoring user input"
### Bug description

After a user types a node name in the filtering component input field and clicks to filter all Live, or Stale, or Offline nodes, we select all the nodes with that status present in the room. Not only the ones provided by the user as input.

### Expected behavior

Global filters should apply only to nodes matching user's input if present.

### Steps to reproduce

1. Open the fi

[2022-06-08 14:07] jacekkolasa commented on #423
fixed

[2022-06-08 14:07] #423 closed

[2022-06-08 14:20] hugovalente-pm opened #456 "[Bug]: Custom dashboards - when going to some time in the past without data we get 500 after page refresh"
### Bug description

1. got to dashboard
2. change datetime ticker to some time way back
3. press the refresh button on browser (or F5)
4. you get 500 error page

![chrome_Pk2j20yU0j](https://user-images.githubusercontent.com/82235632/172639513-28d1bd7f-3c6a-4224-8504-50e2758cd9b6.gif)

### Expected behavior

The 500 error page should not be present and the skeleton of the charts should be shown w

[2022-06-08 14:25] hugovalente-pm opened #457 "[Bug]: Same chart on Overview and Single Node view has dimensions with different colours"
### Bug description

The same chart on Overview and Single Node view has dimensions presented with different colour.

### Expected behavior

The same dimensions for the same chart should have the same colours.

### Steps to reproduce

1. Go to System Ram chart on Overview
2. Go to System Ram chart on a Single Node
3. Check that the dimensions colours are not the same

### Screenshots

**Overview**

[2022-06-08 16:24] MikeJakubik opened #458 "[Bug]: Home screen shows bare metal servers as containers"
### Bug description

Hello, on the home screen netdata show my servers as Containers but they are in fact bare metal.

### Expected behavior

Should show as Bare metal

### Steps to reproduce

1. Setup node in the cloud
2. View homescreen

### Screenshots

![Screenshot 2022-06-08 122201](https://user-images.githubusercontent.com/73555475/172668037-58f04e9a-ff32-4b86-84c9-c55fff6b52f6.png)
![Screen

[2022-06-09 06:57] marliyev opened #459 "[Feat]: netdata dashboard node delete"
### Problem

Hi  there,

How to remove unreachable node from netdata dashboard General room? seems from general room nothing can be deleted

### Description

general room

### Importance

really want

### Value proposition

1.
2.
3.
...
Annoying to see unreachable nodes ;)

### Proposed implementation

_No response_

[2022-06-09 07:41] olivluca opened #965 "[Bug]: visited nodes empty with local registry"
### Bug description

I have configured a local registry, I see that the browser is contacting the registry url and it gets back a list of urls, but the visited nodes list is empty.
I'm now on 1.35.0 but this started a couple of versions (years?) ago, when the collapsible menu on the left was introduced.
In case it is relevant, all nodes are fronted by the same nginx host, so there is no cookie pro

[2022-06-09 08:23] hugovalente-pm opened #460 "[Feat]: We need to add a tooltip to explain what the Nodes status are"
### Problem

Users don't have a way to understand what a Node status means

### Description

We need to explain to users what the Node status means:

* Live: Node is actual collecting and streaming metrics to Cloud
* Stale: Node is currently offline and not streaming metrics to Cloud. It can provide historical data through an instance replica on a parent node
* Offline: Node is currently offline,

[2022-06-09 08:46] dimko opened #461 "[Bug]: Clicking on a room doesn't close the rooms dropdown"
### Bug description

Pretty minor. After a user opens the Rooms selector dropdown and clicks one of the rooms the dropdown remains open. It's a bit annoying as user has to click a 2nd time to an empty space of the screen so he can close the dropdown, as it covers part of the screen.

### Expected behavior

After clicking an option the dropdown should close.

### Steps to reproduce

1. Login to Net

[2022-06-09 08:51] dimko commented on #459
Hey @marliyev **Unreachable (offline)** nodes can now be removed from any room by going to the Nodes list tab. There is a little trash icon when you hover over an unreachable node. Bulk deletion is a feature to be introduced later on.

![image](https://user-images.githubusercontent.com/19268853/172806303-897576e0-f0f2-49cb-b616-52783673e21a.png)

Please try it and if you face any issues we'd be ha

[2022-06-09 08:59] dimko opened #462 "[Bug]: No Tooltips for minimized tabs"
### Bug description

When having too many tabs opened it's a bit difficult to understand which tab is which one (from the ones that are sticky and cannot be closed, meaning: Home tab, Overview, Nodes table, Dashboards, Alerts, Anomaly) as we don't display any tooltip when user hovers over them.

Tooltips are displayed when tabs are shown in their full view.

### Expected behavior

Show a tooltip w

[2022-06-09 09:01] dimko commented on #422
Nodes deletion from every room is live for **Unreachable** nodes. @tiliarou @realEthanZou can you please try it? Please keep in mind that stale != offline and they can't be removed.

[2022-06-09 09:02] dimko commented on #399
Nodes deletion from every room is live for Unreachable nodes. @weastur can you please try it and let us know? Please keep in mind that stale != offline and they can't be removed.

[2022-06-09 09:02] dimko commented on #392
Nodes deletion from every room is live for Unreachable nodes. @zeylos  can you please try it? Please keep in mind that stale != offline and they can't be removed.

[2022-06-09 09:10] dimko commented on #182
Hey all, the ability to remove **unreachable** nodes from every room should be available now.

[2022-06-09 09:12] dimko commented on #458
Thanks for reporting this @MikeJakubik will investigate and fix.

[2022-06-09 09:14] weastur commented on #399
https://user-images.githubusercontent.com/10865586/172810642-f1a80c06-956d-43b8-8602-43b37d6a6c2f.mov

Seems still not working.

[2022-06-09 09:42] RoggerFabri commented on #422
Hey @dimko, that works for me, thanks :)

[2022-06-09 10:05] marliyev commented on #459
ah cool, got it, thanks ;)

[2022-06-09 10:12] marliyev commented on #459
ahm, sorry Man, every after 2 deleted node need to refresh page coz showing: 500 Oops, something unexpected happened!

Also how can i delete stale nodes?

thanks

[2022-06-09 10:20] dimko commented on #459
Let me try to reproduce and will get back to you, can you also please share some more info about this 500 error? Any console error, any failed network requests?

Unfortunately there is no way currently to remove stale Nodes :/ This is a functionality that will probably be added in the future, along with bulk node deletion.
Any ideas why these nodes became stale? What happens if you try restarting

[2022-06-09 10:32] zeylos commented on #392
Hi @dimko, yep I tried yesterday but forgot about this issue :sweat_smile:.
The remove button works well, thanks.

If we could have something to bulk remove that would be awesome (using Kubernetes with AWS instances, nodes are very volatile so there is a lot of Stale and Offline nodes).

About Stale nodes, do they become Offline automatically after there is no more data from them in history ?

[2022-06-09 10:41] dimko commented on #392
Thanks @zeylos Bulk deletion will be added in the future.
Pinging someone from the backend team to clarify about stale nodes @vkuznecovas @ravilushqa can you help on this one?

@zeylos if you're ok with it, can we close this issue?

[2022-06-09 10:43] zeylos commented on #392
@dimko yes the issue can be closed.

Thanks for the work !

[2022-06-09 10:43] #392 closed

[2022-06-09 10:48] marliyev commented on #459
![Screenshot from 2022-06-09 13-47-38](https://user-images.githubusercontent.com/63017170/172829789-679d15bc-2f73-4a34-b45b-cbc966bdeeff.png)

[2022-06-09 10:49] marliyev commented on #459
ahm, looks like fixed, i am not getting 500 error anymore, thanks

[2022-06-09 10:49] marliyev commented on #459
ah no, now getting every 4 nodes :D

[2022-06-09 10:50] marliyev commented on #459
after 8 nodes deleting didnt get so far ;)

[2022-06-09 11:01] dimko commented on #459
@marliyev can you please give me your space id? also, when you see the 500 can you check if you had a console error in your browser's dev tools?

You can get space id by clicking the Cog icon on the bottom left corner

![image](https://user-images.githubusercontent.com/19268853/172832142-f6d8d69f-443e-452d-b1e9-d3aeac35786f.png)

I am not sure I understand your last question 🤔 Could you please ela

[2022-06-09 11:05] marliyev commented on #459
3e35831a-ec26-4fb2-80c7-41745af16ced

i have more than 300 nodes, i cant see which nodes running which version and i cant check them one by one, i see only total count and total version for nodes

[2022-06-09 11:06] dimko commented on #459
Ah I got it. So you need a way to list the versions for all of your nodes. Will create a feature request for this. Thanks for bringing this up.

[2022-06-09 11:08] vkuznecovas commented on #392
Stale nodes represent a case where there is data for the node and that data can be fetched but the agent itself is offline - i.e. the parent still has data for the child and this can be shown in the charts but the child itself is currently offline. The child would be marked as stale in this case.

[2022-06-09 11:09] dimko opened #463 "[Feat]: Give users the ability to list all available nodes versions"
Feedback coming from user.

Users need the ability to check all available nodes versions in bulk and identify which one needs an update.

_Originally posted by @marliyev in https://github.com/netdata/netdata-cloud/issues/459#issuecomment-1150983297_

[2022-06-09 11:18] marliyev commented on #459
one more thing, in process of rebuilding my mail server, netdata got from me many MAiLER-DAEMON, now i am restored my email but cant receive email or login to my account, i created account on another email, how can i restore my old account?

Thanks

[2022-06-09 11:28] dimko commented on #459
If you're using the same email address in google or github which you were using to receive the Netdata Cloud signin emails, you can always login to your account using Google or Github signin methods.

[2022-06-09 11:29] #459 closed

[2022-06-09 11:31] burbuli8ra commented on #399
Hello @weastur we have released a hotfix that should solve the issue you are experiencing!
Can you please verify that when you click the button to delete a node you can see the confirmation modal?

[2022-06-09 11:48] shyamvalsan commented on #452
Yes - this doesn't seem to be specific to alerts - any time the user navigates to a different tab outside of netdata or does an alt tab and comes back, the PLAY/PAUSE breaks. The user has to interact with a chart for the PLAY/PAUSE to start working again.

See example of this behavior

https://user-images.githubusercontent.com/24860547/172839517-2fc82167-4905-4c52-98eb-86b882c17dd0.mp4

cc: @dimko

[2022-06-09 11:48] weastur commented on #399
@burbuli8ra Yes, now everything is working exactly as your say: I see the confirmation, click on it, and a node disappears. Thanks.

[2022-06-09 11:52] burbuli8ra commented on #399
Thank you @weastur for getting back to us!
We are glad we could help! 🙌

[2022-06-09 11:52] #399 closed

[2022-06-09 12:52] hugovalente-pm commented on #349
As per discussed on the daily, this is fixed with the release of https://github.com/netdata/cloud-backend/issues/142 (this one is not closed since there is still work to do on k8s map to fully decommission the chart-details call)

[2022-06-09 12:52] #349 closed

[2022-06-09 12:52] #418 closed

[2022-06-09 13:00] jjtsou commented on #458
@TonyPath
For a node with type `bare-metal` on the nodes tab, seems that we get `type: {bare_metal: 0, virtual_machine: 0, container: 0, unknown: 1}` in the stats request. We will need to investigate this

[2022-06-09 13:03] hugovalente-pm commented on #460
@christophidesp let's close this when it is available in PROD
let me know when it can be checked in staging or testing

[2022-06-09 13:05] hugovalente-pm commented on #346
as discussed on the daily, this is fixed with the release of https://github.com/netdata/cloud-backend/issues/142 (this one is not closed since there is still work to do on k8s map to fully decommission the chart-details call)

[2022-06-09 13:18] hugovalente-pm commented on #76
this is released

[2022-06-09 13:42] jjtsou commented on #458
@TonyPath Please wait for our confirmation until you check this. I need to check with @burbuli8ra the nodes tab first

[2022-06-09 13:47] hugovalente-pm commented on #463
probably version should be a criteria to allow filtering of nodes, that way we could have a redirect to the Nodes tab having the filter applied on agent version

what do you think @shyamvalsan ?

p.s.: just referencing the Universal filter for nodes netdata/product#2836 in case it is additional criteria to place

[2022-06-09 13:52] hugovalente-pm commented on #452
@shyamvalsan updated the label to `mgmt-navigation-team`

[2022-06-09 14:29] hugovalente-pm commented on #447
changing to feature request

[2022-06-09 16:51] cakrit commented on #352
The key seems to be `FreeBSD` here. Changing the title and we'll have someone check.

[2022-06-09 16:57] cakrit commented on #352
Just to explain the previous comment a bit more, it's related to https://github.com/netdata/netdata-cloud/issues/351 and how for the same context we may have different dimensions based on the OS.

[2022-06-09 18:26] SR-G commented on #392
Better now, indeed, thanks !

One (i hope) last point : how do we clear the "visited nodes" (on the menu on the left) - indeed, in that area, i still have several deleted nodes.

[2022-06-09 21:40] hugovalente-pm commented on #351
without the work on being completed the only _quick and dirty_ option I see https://github.com/netdata/netdata-cloud/issues/354 is to tweek with families to have subsections for each

where we could have a have
* system.freebsd
* system.linux
* system.macos

what do you think @ktsaou @amalkov @papazach @novykh @stelfrag @ilyam8 ?

[code]

[2022-06-09 21:57] hugovalente-pm commented on #352
@MikeJakubik to pick up on this, does the Single Node tab for the node in FreeBSD show data on `mem.available` - Available RAM for applications chart? (this is under Memory > system)

the payload/options we send on the `api/v2/nodes/[node-id]/data` request on the Nodes tab is this which I assume for your case is not returning results:
[code]

@MrZammler could you check on the Agent side if we have

[2022-06-09 22:24] hugovalente-pm commented on #419
this actually isn't fixed

[2022-06-10 08:57] jacekkolasa commented on #451
@dimko added a `activeAlerts-updatedAt` testid for this string, if it's needed (we don't have a way to test it yet, in FE integration tests)

[2022-06-10 10:45] dimko commented on #440
This isn't yet fixed.

![image](https://user-images.githubusercontent.com/19268853/173049115-5a50d7d1-dba9-4bf4-95b0-3988693e36f8.png)

[2022-06-10 10:49] dimko commented on #322
@cakrit

this exactly

the problem is the name we display in the **visited nodes list**. If one of them is removed, the list of visited nodes isn't updated and both nodes change to have the same hostname.

We should probably check this again once the fix for visited nodes removal is applied. it might be no longer valid.

[2022-06-10 11:28] shyamvalsan commented on #182
As of now users, can obsolete offline nodes from the nodes tab, hovering on offline nodes will display a "trash" icon and clicking it will allow you to obsolete the node across the entire space.

[2022-06-10 11:28] #182 closed

[2022-06-10 11:29] #422 closed

[2022-06-10 12:26] MrZammler commented on #225
I can confirm the problem. Assuming an agent is claimed and connected once in the cloud with the old hostname.

If there is no entry in `netdata.conf` for the hostname, the agent will pick up a change in hostname (with a restart).

The new hostname is then sent to the cloud via the `UpdateNodeInfo` message, and the new hostname appears ok in the node list, and in the list in the Alerts tab.

Howev

[2022-06-10 13:10] MrZammler commented on #457
Hi @hugovalente-pm

I did some small checks with a recent enough agent version. What I observed, was even though the colors where the same in overview and single node views for the same chart, in overview the dimensions where not in the correct order.

I checked the response from the browser's network tab that the FE gets, and I think I got different order than what the agent responded for that re

[2022-06-10 21:09] MikeJakubik commented on #352
There is no metric named mem.available, I only see mem.commited and mem.pgfaults, both of which display info. There is also system.ram, which works as well.

[2022-06-13 08:22] hugovalente-pm commented on #376
closed since #377 was closed

[2022-06-13 08:22] #376 closed

[2022-06-13 09:19] sashwathn commented on #225
Thank you so much @MrZammler!
@car12o and @YaroslavDev : I am creating an issue for this to be handled on the backend.

cc: @amalkov

[2022-06-13 09:44] juacker commented on #428
I think this is a FE bug. The dimension information the BE is returning on the first `/data` request for this chart (`with_metadata = true`), says the existing dimension is named `Dirty`:

![Captura desde 2022-06-13 11-34-19](https://user-images.githubusercontent.com/2930882/173325466-ecb8585c-153c-4eec-8405-5025036e1034.png)

However, when the user groups by node, a `dirty` dimension is added to

[2022-06-13 13:14] shyamvalsan commented on #453
Duplicate of https://github.com/netdata/cloud-frontend/issues/3439

[2022-06-13 15:26] sashwathn commented on #451
@jacekkolasa : Are we doing anything about this?

[2022-06-13 15:28] sashwathn commented on #330
@stelfrag and @MrZammler : Please let us know when you have more information on this issue.

[2022-06-13 15:34] hugovalente-pm commented on #352
@MikeJakubik ok, so you are saying that you don't get this chart on the Single Node tab for the node in FreeBSD?

![image](https://user-images.githubusercontent.com/82235632/173390487-092999ff-110a-4845-ad79-636e42aca61c.png)

[2022-06-13 19:08] shyamvalsan opened #464 "[Feat]: There must be a way users can bulk obsolete offline nodes"
### Problem

Users could potentially have hundreds of offline nodes they would like to obsolete and clean up their Netdata cloud user experience.

Currently users have to click on the obsolete icon of each node and say yes to the warning pop up and obsolete them one by one. This is too time consuming.

### Description

Users must be able to multi select nodes and obsolete them all in one go.

On a

[2022-06-13 19:49] #289 closed

[2022-06-14 08:22] #279 closed

[2022-06-14 09:17] jacekkolasa commented on #451
@sashwathn fix is merged, will be released today

[2022-06-14 10:54] dimko opened #465 "[Bug]: Selecting a chart submenu with a single entry selects the direct below"
### Bug description

When in **Overview** tab, once I select a specific section from the sidebar that only has **1 subsection**, I am not directed to the chart I clicked on, but instead the directly below section is selected.

e.g I click on the **test** section but the **Netdata monitoring** section is highlighted and displayed.

### Expected behavior

I should be directed to the section I clicke

[2022-06-14 11:22] tiliarou commented on #422
works well ! thanks

[2022-06-14 11:40] shyamvalsan commented on #450
@cakrit do you still see this? or was it intermittent?

can't reproduce it on production anymore. (cc: @AlexNti)

![image](https://user-images.githubusercontent.com/24860547/173568821-8863fb34-ffc9-4784-9b77-c848aa55c19e.png)

[2022-06-14 12:14] #248 closed

[2022-06-14 12:15] ravilushqa commented on #248
solved with a mentioned above issue

[2022-06-14 12:28] MrZammler opened #466 "[Bug]: Alert description showing $family"
### Bug description

On the alert page, (dedicated or drawer), the alert description shows the $family variable:

`average percentage of time $family disk was busy over the last 10 minutes`

The $family is actually a placeholder which should have been replaced by the "item" that the alert refers to (i.e. in this case a disk, such as `sdc` or similar).

If the alert description is taken by the aler

[2022-06-14 12:50] MrZammler opened #467 "[Feat]: Consider special alert's attributes when displaying them on cloud."
### Problem

Not so much as a problem, as more as nice to have and discussion.

Right now we treat all of the alerts mostly the same when it comes to displaying them on the cloud (mostly in the alert drawer, when we draw it over a chart).

We kinda treat the alert's `when` timestamp, as the moment the "problem" occurred, but that might be misleading.

Some of the alerts specify a long time of metr

[2022-06-14 19:19] MikeJakubik commented on #352
That is correct. Laos if I setup a custom dashboard the only mem. metrics available are committed and pgfaults.

[2022-06-15 03:03] burbuli8ra commented on #410
Released on [v2.34.0](https://github.com/netdata/cloud-frontend/releases/tag/2.34.0)

[2022-06-15 03:03] #410 closed

[2022-06-15 03:05] burbuli8ra commented on #432
Released on [v2.34.0](https://github.com/netdata/cloud-frontend/releases/tag/2.34.0)

[2022-06-15 03:05] #432 closed

[2022-06-15 06:36] AlexNti commented on #452
This has been fixed by @novykh.

[2022-06-15 07:20] #452 closed

[2022-06-15 07:40] hugovalente-pm commented on #433
it is noticed that we have work to do on the tooltip since because of the default we had `View point: average 47s`

![image](https://user-images.githubusercontent.com/82235632/173770638-5c94abe3-c3c7-4cef-9839-736d3a70502a.png)

Our aggregation function passed to the agent was by default average, but we now introduced more

![image](https://user-images.githubusercontent.com/82235632/173770713-4b90

[2022-06-15 08:56] MrZammler commented on #326
I believe I'm seeing it now on an agent connected to staging.

![image](https://user-images.githubusercontent.com/1905463/173786148-556d7aaf-e1df-43ff-92b6-dbe686dc0e9f.png)

The response from the agent to queries has a (weird) timestamp 15 days ago:

`http://192.168.0.50:19999/api/v1/data?v2=&chart=mem.committed&format=json&options=jsonwrap|nonzero|flip|ms&_=1655282445673&points=608&group=average

[2022-06-15 09:32] #229 closed

[2022-06-15 09:45] hugovalente-pm opened #468 "[Feat]: Improve the interpolation work and show to users that data was interpolated"
### Problem

With the work done on [BUG] partially missing data should show be interpolated and annotations on composite charts #377 we are doing some "blindly" interpolation and masking out existing gaps on data.

We need to put some more logic to the interpolation as well as show to the users on charts where the interpolation occurred.

### Description

The first rule is that interpolation shoul

[2022-06-15 10:03] MrZammler commented on #326
Could be a shot in the dark, but if/when this happens again, can we check that the clock on the host machine where the agent runs is ok ? Just to rule that out as a cause ? I tried to see from the screenshots here if there is such an indication but can't see any. If the user shares something from their logs, we could check from there.

Went through the discord threads as well, did the user pilus s

[2022-06-15 11:24] dimko commented on #451
closing this one. it's fixed

[2022-06-15 11:24] #451 closed

[2022-06-15 12:43] hugovalente-pm commented on #326
@MrZammler unfortunately I don't have a video, the user had provided access to a local dashboard with that agent but it is no longer available :(

[2022-06-15 18:31] juacker commented on #314
Deployed on production. In this initial release I opted to not do value interpolation to simplify calculations, what we do is to maintaing the immediate prior value during all new missing samples. Let me put an example that illustrates this better:

If we need to aggregate the following time series, each one from a different node:

[code]
The resulting timeseries, applying a SUM operation over the

[2022-06-16 01:04] cboydstun opened #469 "[Bug]: Adding a new node removes older one and can't add any more afterwards"
### Bug description

Node successfully running at 45.56.125.183 for weeks.

Today, I added another Debian 10 instance from 54.69.91.70. Not only did that node **not** come online, but it removed the older node from the Cloud entirely. Restarting the older node with `systemctl restart netdata` resumed streaming metrics in the "Overview" tab and I was able to bring it up via the "Dimensions" dropdow

[2022-06-16 01:30] cboydstun commented on #469
Update: I just ate a sandwich, came back, refreshed, and all three nodes appeared and are lively....
![image](https://user-images.githubusercontent.com/52934303/173972109-fb98c8b6-be34-4f16-8745-b499fb857663.png)
Different errors in the console:
![image](https://user-images.githubusercontent.com/52934303/173972187-62ac9887-e0b7-44b7-841a-c6aff13b8f65.png)

[2022-06-16 07:18] ravilushqa commented on #36
after clicking cancel we are redirecting to callback, this parameter is not passing from the backend, it was set up at creating oauth app page. https://docs.github.com/en/developers/apps/building-oauth-apps/creating-an-oauth-app
Can someone who has permission prove that callback for the app is: https://app.netdata.cloud/api

@cakrit @amalkov

[2022-06-16 08:25] katsel opened #470 "[Bug]: OAuth login via GitHub won't discover new email address"
### Bug description

I was invited to the space of my organisation. Invite was sent to my org email address. I follow the invite link in the email and choose GitHub OAuth as login method (but at this time, my org email address was not added to GitHub yet).
I get forwarded to my personal space in netdata cloud -- correctly, no access to org space was given at this point. No error message or warning

[2022-06-16 09:08] juacker commented on #314
@ktsaou do you agree to close this issue with the current implementation?

[2022-06-16 13:38] jjtsou commented on #433
https://github.com/netdata/charts/pull/105 tooltip update

[2022-06-16 13:38] #352 closed

[2022-06-16 13:43] MrZammler commented on #352
@MikeJakubik Can you please check with an updated agent (either from next couple nightlies or next stable), the mem.available chart should be available for FreeBSD.

[2022-06-16 14:16] #267 closed

[2022-06-16 16:04] cakrit opened #471 "[Bug]: Newly claimed nodes can remain unreachable without any explanation on the UI"
### Bug description

We have at least three ways for a claimed node to never connect to the cloud:
- Agent requires a restart (see https://github.com/netdata/netdata/issues/13164)
- Network or other temporary issue connecting to the cloud
- Claiming was executed on an agent with an old version, that was deprecated with the new architecture.

In these cases, users see their nodes as unreachable and

[2022-06-16 17:40] cakrit opened #472 "[Bug]: Deleting a room results in misleading error "Not a room member""
### Bug description

<img width="450" alt="image" src="https://user-images.githubusercontent.com/43294513/174132800-2f7d5be5-b784-41c4-af3a-21e472fd14e1.png">

### Expected behavior

No error should appear.

### Steps to reproduce

1. Create a room
2. Delete a room

### Screenshots

_No response_

### Error Logs

_No response_

### Desktop

OS: [e.g. iOS]
Browser [e.g. chrome, safari]
Browser Vers

[2022-06-16 20:04] MikeJakubik commented on #352
Hi, yes it is indeed available now. Although the metric itself is confusing to me, do you know how it is calculated?

![Screenshot 2022-06-16 160337](https://user-images.githubusercontent.com/73555475/174154666-0022f719-205b-4953-a0c4-c44e9913ead0.png)

[code]

[2022-06-16 20:20] hugovalente-pm commented on #314
@juacker this tackle also this concern @ktsaou had:

I have one doubt, related to something that happened when @TonyPath was tackling the interpolation part - which we have a follow-up [Feat]: Improve the interpolation work and show to users that data was interpolated #468,  if for some reason on both of the series you have an actual gap how would the result be?

Example (`{t:2, v:2}` was removed

[2022-06-16 20:30] hugovalente-pm commented on #253
@zeylos we released the fix as per the above discussion, hope it now makes things more clear.
let us know in case of any other issue or concern around this

[2022-06-16 20:30] #253 closed

[2022-06-16 20:32] hugovalente-pm commented on #351
just ping to see if you have any feedback on this @ktsaou @amalkov @papazach @novykh @stelfrag @ilyam8 ?

[2022-06-16 20:38] hugovalente-pm commented on #465
@dimko is this still happening? I was trying to reproduce and I can't
![chrome_4ahEwVEAlm](https://user-images.githubusercontent.com/82235632/174159470-c095f11a-8863-4004-b7c3-dc04751dc9ed.gif)

[2022-06-16 21:55] amalkov commented on #314
I would prefer to see the gap...

[2022-06-17 05:50] ced1check opened #473 "[Bug]: Lost all historical data upon update"
### Bug description

2 servers updated to 1.35.0-41 nighlty and lost all historical data, while another remained on 1.35.0-29.
It already happened when updated from 1.34.* to 1.35 and again now. Graphs are also very odd compared to old version!?
![netdata_graphs](https://user-images.githubusercontent.com/104206200/174233524-92812ba1-c243-4385-be2b-01168ab058a2.png)

Is there something I can do to

[2022-06-17 05:58] ced1check opened #474 "[Bug]: general config is frequently lost upon updating"
### Bug description

Using nightly versions, configuration is often lost.

I've updated it using the following command:

`sudo /etc/netdata/edit-config netdata.conf`

In webmin console, I often see a message like configuration has been changed, keep old (Y, N, ..., A)" when this happens.

I just upgraded a server from 1.35.0-29 to -41 and it didn't loose configuration, but it happened with previou

[2022-06-17 06:02] ced1check commented on #473
FWIW, 2 servers upgraded to -41 automatically (not sure how) and this morning all data where gone. I then upgraded 2 other servers from -29 to -41 (using webmin UI) and no data was lost !?

Is there a way to stay on stable versions and not receive every nightly updates constantly!? I have a server still running 1.32.0-32 and I'm quite happy with it and Webmin tells me there is no updates!? How com

[2022-06-17 07:39] juacker commented on #314
hey @hugovalente-pm, in your sample, the resulting serie would be:

[code]
We're not generating new timestamps, we're only ensuring all the existing timestamps will take into account all series values in the aggregation.

[2022-06-17 07:57] dimko commented on #465
Indeed, it isn't happening anymore. Closing and will re-open if I see it again. This seems to break very easily from time to time.

[2022-06-17 09:41] stelfrag commented on #326
@dimko  A fix has been merged https://github.com/netdata/netdata/pull/13159

If you can verify and are happy with this fix, we can close this

[2022-06-17 10:02] zeylos commented on #253
Works for me :)
To be sure, "all" means the graphs are showing an average of all fping targets ?

[2022-06-17 10:10] hugovalente-pm commented on #314
thanks for confirming @juacker, from my view we can close the ticket

[2022-06-17 11:17] dimko commented on #465
@hugovalente-pm just re-produced it and also regression failed due to it. So re-opening.

[2022-06-17 11:19] hugovalente-pm commented on #465
ok, just added to our board @dimko

[2022-06-17 11:26] hugovalente-pm commented on #352
@MrZammler as discussed I've opened a new bug as a follow-up to @MikeJakubik question/report

@MikeJakubik can you please check this https://github.com/netdata/netdata/issues/13172 and add missing information there?
* Installation method (I put kickstart, please review)
* System info
* Netdata build info

[2022-06-17 12:08] dimko commented on #326
Thanks @stelfrag I checked regression and don't see any breaks.
I reproduced the scenario that was initially breaking doing the following steps:

1. Spin up a netdata and claim it to cloud using docker
2. Navigate to one of the **veth** charts
3. Wait for a bit to collect data
4. Restart container
5. The previously present **veth** chart is no longer present on the agent so it has stopped collecti

[2022-06-17 12:27] hugovalente-pm commented on #253
@zeylos yes by default, but this being a composite chart you have ways to change:
* what grouping to use: dimension, node or instance (in this case it would be each of the hosts monitored on each of Netdata Agent nodes)
* the aggregation function to use over the series being grouped: AVERAGE, MIN, MAX, SUM

![image](https://user-images.githubusercontent.com/82235632/174297673-2471f294-20c4-4ed2-ae

[2022-06-17 13:32] cakrit commented on #36
I saw that the callback URL is https://netdata.cloud/api/v1/auth/github/callback

Contacted @ravilushqa and he said not to change it, but has questions I can't answer:

Am I understanding correctly that our authorization app is related to https://github.com/netdatabot?
Do we use this OAuth application only in one place or do we have other flows that could be affected by editing this app?

It says

[2022-06-17 13:44] #461 closed

[2022-06-17 13:45] AlexNti commented on #461
Closing as it going to be fixed by https://github.com/netdata/cloud-frontend/pull/3550/files

[2022-06-17 13:50] ravilushqa commented on #36
Here is redirect url to github
[code]
Intresting part is redirect_uri. Github documentation [says](https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps#redirect-urls):

If we compare callback URL that @cakrit mention above and our url from real request, we can see that they are not right. I have a feeling that provided callback URL from @cakrit is not actual that i

[2022-06-17 14:57] cakrit commented on #36
The client id in the Netdata org is `d7bde496f84f1f801cf3`.
Perhaps someone thought that `netdatabot` as a user should own the OAuth application and created it there? I can't login as `netdatabot` though, so I can't verify this hypothesis.

[2022-06-17 19:05] zeylos commented on #253
all clear thank you very much and good job as always !

[2022-06-17 21:24] ktsaou commented on #329
Unfortunately, is still happens.

[code]

14 reconnects in 30 minutes.

[2022-06-18 14:19] SkyperTHC opened #475 "kickstart script fails on vanilla AWS EC2 instance"
### Bug description

Fails to connect to app.netdata.cloud whereas connection with netcat to port 443 works fine.

### Expected behavior

should connect

### Steps to reproduce

1.
2.
3.
...
cut & paste the kickstart script into a vanilla new AWS EC2 instance.

### Screenshots

<img width="595" alt="Screenshot 2022-06-18 at 15 13 28" src="https://user-images.githubusercontent.com/5938498/174442555

[2022-06-18 14:47] SkyperTHC commented on #475
looks like some bug with the certificates. I manually verified and the cert is valid but curl/wget fail on default AWS EC2 instances:
<img width="631" alt="Screenshot 2022-06-18 at 15 45 58" src="https://user-images.githubusercontent.com/5938498/174443610-350fff00-8618-48ab-a81c-83e8a7a51df3.png">

[2022-06-20 06:18] ravilushqa commented on #36
@novykh yes, you right. However redirect_uri doesn't work for the error flow. We are sending valid redirec_uri, but we are redirecting just to the callback url, and as we don't handle it we get 404

[2022-06-20 09:40] dimko commented on #472
Just a comment on this one. The room deletion is executed as expected. Room is deleted.
The 403 response is related to fetching available **dashboards** for the room

![image](https://user-images.githubusercontent.com/19268853/174573520-ab4ef02b-14fb-4962-a8d2-1d4120486d77.png)

[2022-06-20 09:44] dimko commented on #474
@cpipilas @hugovalente-pm Same for this one, agent team or visualizations team?

[2022-06-20 09:52] hugovalente-pm commented on #473
@ced1check sorry for the issues caused, let's see if we can get inputs from the team in order to troubleshoot and understand what happened. regarding your question above when you install Netdata you can pass the following parameter to ensure you don't get update on nightlies.

![image](https://user-images.githubusercontent.com/82235632/174575161-02072424-fcd8-4285-9420-7d535bb1545f.png)

In case y

[2022-06-21 06:04] ced1check commented on #473
The --stable-channel or --no-updates do not seem to do anything in my config!?

Here is the repositories that are setup on servers that keep upgrading nightly

impish/main | https://packagecloud.io/netdata/netdata-edge/ubuntu/
impish/main | https://packagecloud.io/netdata/netdata-repoconfig/ubuntu/

On the servers that stays on 1.32.1-32, it is the same URL but hirsute/main repo.

Shouldn't I chan

[2022-06-21 12:55] novykh commented on #427
Let's see it after the migration. It should be fixed, no? I mean did you see this happening after the latest releases?

[2022-06-21 13:14] hugovalente-pm commented on #427
no @novykh, I didn't see it happen again but let's confirm as you say after the migration

on the part if there is anything we can do, I was trying to refer to the "failsafe" measure. is there a way we could prevent this from happening? the case where two dimensions got the same colour was because of how the dimensions were sent to FE by BE/Agent or something else?

[2022-06-21 15:21] hugovalente-pm opened #476 "[Feat]: Table chart type in Netdata"
### Problem

To provide more visualization options and flexibility we need to add a new chart type for table representation.

### Description

When defining a chart type as a table the main attributes to consider are:
* grouping option of the data (dimension, node or instance) - this will define what are going to be the rows on the table
* aggregation function over time
   * since we will be repre

[2022-06-22 07:06] amalkov opened #477 "[Bug]: Tabs flickering"
### Bug description

Tabs are flickering when the size of all open tabs is very close to the space available.

### Expected behavior

Stay steady. Show only icons for default tabs.

### Steps to reproduce

1. Open extra tabs with the width close to the available space (slightly under)
2. Start slowly reducing the window size
3. Tabs starts flickering

### Screenshots

![tabs flickering](https://us

[2022-06-22 07:42] hugovalente-pm commented on #460
released

[2022-06-22 07:42] #460 closed

[2022-06-22 07:43] hugovalente-pm commented on #433
released

[2022-06-22 07:43] #433 closed

[2022-06-22 09:52] hugovalente-pm commented on #457
this is released

[2022-06-22 09:52] #457 closed

[2022-06-22 10:09] hugovalente-pm commented on #367
@zeylos we've made a lot of work on Agent and Cloud since this was reported, could you re-evaluate this with, at least, the latest stable release [v1.35.1](https://github.com/netdata/netdata/releases/tag/v1.35.1)?

[2022-06-22 11:11] hugovalente-pm opened #478 "[Feat]: Display banner warning and chart message if a node has an issue with its clock"
### Problem

When a node has an incorrect clock set this may cause issues when retrieving data for charts (to confirm if this has more impacts). The issues happen when from Netdata Cloud requests are triggered using relative timestamps.

### Description

This is an example of an issue reported by a user ([discord thread](https://discord.com/channels/847502280503590932/921399690728206366/9885337126

[2022-06-22 11:15] hugovalente-pm commented on #478
based on an issue @MrZammler helped troubleshoot the idea to identify these issues directly in Netdata Cloud and warn the users about them come up

@amalkov @MrZammler @papazach @novykh the ticket describes the overall idea, we need to iron out details, but please check and give some feedback

[2022-06-22 13:59] dimko commented on #477
@hugovalente-pm this is the issue that I mentioned in yesterday's standup. We should probably fix this before introducing a new tab for k8s, as it will be more easy to trigger the condition for tabs flickering.

[2022-06-22 15:08] TonyPath commented on #458
The fix has been deployed!

cc: @MikeJakubik @hugovalente-pm @dimko

[2022-06-22 15:10] hugovalente-pm commented on #458
thanks @TonyPath , @MikeJakubik can you check if this is ok?

[2022-06-22 15:11] MikeJakubik commented on #458
Looks good, ty.

[2022-06-22 16:28] cakrit opened #479 "[Bug]: Charts sometimes appear behind other charts and text, wrong section selected on the right side"
### Bug description

Hadn't seen this before, but it has been happening a lot today. I am in the "Network Interfaces" section, changing the time duration from the DT picker and scrolling up and down.

The first screenshot shows charts appearing behind other charts

<img width="1547" alt="image" src="https://user-images.githubusercontent.com/43294513/175083758-a4020399-33a8-4a2f-a6f8-2b79c4e2ad94.p

[2022-06-22 16:30] hugovalente-pm commented on #314
this seems to be fixed, picking up the same nodes reported:

**box**
![image](https://user-images.githubusercontent.com/82235632/175086244-435df402-8463-461b-92fc-ea91da9355f8.png)

**pi1**
![image](https://user-images.githubusercontent.com/82235632/175086344-58ea6ed1-0b6a-40c3-a1ab-1788e9393215.png)

**Overview (with only these 2 nodes selected)**
![image](https://user-images.githubusercontent.co

[2022-06-22 16:41] hugovalente-pm commented on #479
I agree with @dimko , this ticket is describing 3 bugs:
1. charts appearing behind other charts
2. wrong section positioning (captured here https://github.com/netdata/netdata-cloud/issues/465)
3. no data on chart (being checked to confirm where the issue is Agent or Cloud BE)

@cakrit can we edit the bug to focus on the 1.? once we confirm where 3. is we will open the corresponding ticket

[2022-06-22 16:48] hugovalente-pm commented on #427
@novykh I actually see a current case where this is happening now in our, even the dials on top  [PROD War Room](https://app.netdata.cloud/spaces/netdata-cloud/rooms/k8s-prd/overview#chartName=menu_net&appliedFilteredIds=&reachableNodesIds=&staleNodesIds=&unreachableNodesIds=&filteredNodesSearchParams=&metrics_correlation=false&after=-900&before=0&utc=Europe%2FBucharest&offset=%2B3&timezoneName=E.

[2022-06-22 18:22] amalkov commented on #477
@hugovalente-pm I would not stop k8s release for this. And had no chance to talk to Mgmt nav team. @shyamvalsan

[2022-06-23 13:38] #225 closed

[2022-06-23 13:38] sashwathn commented on #225
Issue handled in https://github.com/netdata/cloud-backend/issues/237.

[2022-06-23 13:45] ralphm opened #480 "[Bug]: Chart pop-over changes highlighted metric before new metric is introduced"
### Bug description

When viewing a chart that has multiple metrics (e.g. dimensions) and a new one of them is not present for the whole time range, this distorts the highlighted metric in the hover modal. In the screenshots below I was pointing at the top metric _before_ and _after_ the introduction of the orange metric, but before the introduction, the selected metric for the modal changes to th