[2022-10-06 08:27] hugovalente-pm commented on #607
duplicate of https://github.com/netdata/netdata-cloud/issues/603

[2022-10-06 08:27] #607 closed

[2022-10-06 08:37] ralphm commented on #434
Or mark the selected-but-now disappeared options ~~differently~~.

[2022-10-06 16:34] hugovalente-pm commented on #608
this is reproduceable here https://app.netdata.cloud/spaces/tsaousis/rooms/all-nodes/overview#after=-900&before=0&utc=Europe%2FLisbon&offset=%2B1&timezoneName=Dublin%2C%20Lisbon&metrics_correlation=false&chartName=menu_fping_submenu_all&appliedFilteredIds=&liveNodeIds=&staleNodeIds=&offlineNodeIds=&filteredNodesSearchParams=
![image](https://user-images.githubusercontent.com/82235632/194369037-d3c

[2022-10-07 07:55] jacekkolasa commented on #434
@juacker unfortunately we will need to have one more change from BE (in addition to `chartID-nodeID` filters for Instances dropdown).

Can we have `all_nodes` property in /data return payloads, just like we have `all_dimensions`? The reason is that for some charts we'll make the first /data call already requesting filtering by `nodeIDs`, but we want to see all possible nodes for this context, when

[2022-10-07 10:55] hugovalente-pm commented on #434
additional, there was this request:

it was considered to be done on Cloud BE but it is a move away from pushing the work that can be done directly at the agent. would it be possible to allow on the Agent to make `/data` requests where a filter would be applied on chartIDs?
e.g.: `disk.io context`
* disk.nvme0n1 @netdata-parent-7dc75fdf67-rfpn
* disk.nvme1n1 @netdata-parent-7dc75fdf67-rfpn
* disk.

[2022-10-07 11:09] hugovalente-pm opened #609 "[Bug]: PostgreSQL header section charts with strange decimal places"
### Bug description

The header charts - DB size - on postgreSQL section have strange decimal places
![image](https://user-images.githubusercontent.com/82235632/194539660-dd2950a5-c060-4c1e-929d-46b258955fa6.png)

### Expected behavior

Expectation is to get these rules applied there https://github.com/netdata/cloud-frontend/issues/3037

### Steps to reproduce

1. Check this https://app.netdata.cl

[2022-10-10 07:35] #606 closed

[2022-10-10 09:02] #603 closed

[2022-10-10 09:11] hugovalente-pm commented on #558
@shyamvalsan @amalkov were discussing this on the daily and the descriptions exist at 3 levels:
1. Main section: examples System Overview, Disks, PostgreSQL
2. Sub-section: examples System Overview > cpu, Disks > all, PostgreSQL > connections
3. Chart

![image](https://user-images.githubusercontent.com/82235632/194832817-c1ed0324-9a8d-45d4-9bad-cf337fe1bdfc.png)

2. and 3. can be moved to chart in

[2022-10-10 09:21] sashwathn opened #610 "[Bug]: Labels are not resolved in the alert notifications sent via email"
### Bug description

The labels are not resolved before sending alert notifications to email.

<img width="711" alt="image (3)" src="https://user-images.githubusercontent.com/96257330/194834439-3e4c53e9-e50f-41c6-9525-910168939fc3.png">

This could be related to the issue reported about alert descriptions in the alert modals previously.
https://github.com/netdata/netdata-cloud/issues/590

### Expe

[2022-10-10 09:41] #610 closed

[2022-10-10 09:42] hugovalente-pm commented on #610
this was an issue with the alert config, should be `$label:database`

[2022-10-10 10:28] shyamvalsan commented on #558
@hugovalente-pm I think this makes sense. The main intro section is usually just a sentence anyway so it makes sense to keep it always visible. If there was a way to associate the intro description to an entire section (family?) it might make sense to keep it associated to that particular context in case we need to reference it elsewhere (outside of overview tab).

[2022-10-10 12:28] juacker commented on #600
Root cause is the same as #598. [fix](https://github.com/netdata/netdata/pull/13755) pending to be merged.

[2022-10-10 13:42] cakrit commented on #601
The attached fixes 1 bug on the update every and indents the netdata.conf section with 8 spaces.
[tiering_calculator_v2.zip](https://github.com/netdata/netdata-cloud/files/9746397/tiering_calculator_v2.zip)

[2022-10-11 08:39] MrZammler commented on #329
This should be solved with version >=v1.36.0-183.

[2022-10-11 08:39] #329 closed

[2022-10-11 10:52] hugovalente-pm commented on #558
great, thanks for confirming

This is already kinda like that, we have the main section intro description here https://github.com/netdata/cloud-frontend/blob/ce13bad23d3216c49c9b060aba724583b35d2355/src/domains/charts/toc/menus.js and the reference currently is to the first part of the context name, example

[code]

[2022-10-11 13:14] jjtsou commented on #604
https://github.com/netdata/charts/pull/140

[2022-10-11 13:31] novykh commented on #295
@hugovalente-pm Any news on that?

[2022-10-11 13:41] hugovalente-pm commented on #295
@novykh the in-section filters are on-hold, the focus is to work first on the:
* Global filter enhancements - https://github.com/netdata/product/issues/2778
* Add the composite chart filters - https://github.com/netdata/netdata-cloud/issues/434

the goal is to minimize spreading filter functionality in multiple places, if/when it is confirmed that in-section filters are needed we will revisit this

[2022-10-11 19:03] cakrit opened #611 "[Bug]: Line chart in overview doesn't display the data"
### Bug description

See how there's supposed to exist a series with a value of 2 here, but it's nowhere to be found:

<img width="550" alt="image" src="https://user-images.githubusercontent.com/43294513/195177025-324d28d9-37cb-460e-bc7f-8ee4e87bb838.png">

### Expected behavior

See the correct chart

### Steps to reproduce

1. I can give access to this space/room if you can't.

### Screenshots

[2022-10-12 07:36] jjtsou commented on #604
The PRs are merged. Pending release. @cakrit

[2022-10-12 08:38] jjtsou commented on #573
https://github.com/netdata/charts/pull/142

[2022-10-12 08:52] dimko opened #612 "[Bug]: Go to chart for alert redirects to wrong chart"
### Bug description

When a new chart is added after the initial sync of charts, getting re-directed to single node view for the alert affected chart doesn't work as expected. Often a different chart is selected in the sidebar than the one having the alert

### Expected behavior

The alert affected chart should be highlighted and after user clicks go to chart or run correlations this chart should

[2022-10-12 12:14] hugovalente-pm commented on #608
yes, this is stacked charts - well spotted
for area the dynamic y-axis is ok

[2022-10-12 14:35] cakrit commented on #604
Ah what a nice surprise! I'll hold off on publishing the relevant content until it's deployed, thanks.

[2022-10-12 16:15] hugovalente-pm commented on #434
@jacekkolasa for the message to appear at the bottom of the `instances` dropdown when we have at least one node that doesn't have the capability to filter by multiple chartIDs (TBD) was thinking a line on the bottom like this saying

Notes:
- here ideally would be a link to Centralized Admin Interface on the Room Nodes tab (last image)
- open question is if we should/could only disabled the instan

[2022-10-12 17:34] hugovalente-pm opened #613 "[Feat]: Expose the now available `trimmed-median`, `trimmed-mean` and `percentile` time aggregation functions"
### Problem

The problem is described here https://github.com/netdata/netdata/issues/13426

### Description

With the now available time aggregation functions `trimmed-median`, `trimmed-mean` and `percentile` on the Netdata Agent we need to provide these on the dropdown list.

![image](https://user-images.githubusercontent.com/82235632/195409840-ff90e97f-841e-4112-84d2-131086de0411.png)

There are

[2022-10-12 17:58] hugovalente-pm opened #614 "[Feat]: Initial iteration to improve custom dashboards and potentiate the use-cases work"
## Problem

Current custom dashboard functionality is a bit limited and doesn't provide much flexibility for the user to organize the information, charts and/or text labels, displayed on them. It also has some UX/UI usability issues that with potential quick-wins we could improve drastically.

With the introduction of Netdata pre-defined Use cases dashboards (Postgres, Nginx etc) it is more promin

[2022-10-12 17:58] hugovalente-pm commented on #614
This ticket is derived from the major one https://github.com/netdata/product/issues/3026

[2022-10-13 08:21] #598 closed

[2022-10-13 08:22] MrZammler commented on #600
Hey guys, Just merged https://github.com/netdata/netdata/pull/13755

Let's check if you wish tomorrow with it?

[2022-10-13 08:54] hugovalente-pm commented on #612
Placing this as a medium priority, if it is a more heavily used feature would be high

[2022-10-13 15:00] jjtsou commented on #604
It has been deployed today! You can check it on production
I am closing this issue, thanks @cakrit

[2022-10-13 15:00] #604 closed

[2022-10-13 15:02] jjtsou commented on #573
Deployed on production @hugovalente-pm
I am closing this issue

[2022-10-13 15:02] #573 closed

[2022-10-13 18:20] UltimateByte commented on #600
I'll try to setup replication back for my personal infrastructure in the weekend. For now, this issue had me to redo my "Space" entirely without replication...
I'll have to set it up for my new job as well, probably next week. So we'll see.

[2022-10-13 18:41] hugovalente-pm commented on #602
@amalkov @ralphm @sashwathn @shyamvalsan this is the summary of the requirements @christophidesp  had together with what he showed me and validated with Costa.

some points to see also your view:
* Should the new tab be called Functions? I'm not sure of the name, will it be understandable to the user what these are? This is more like Real-time queries and/or Deep dive metrics
* On filter parameter

[2022-10-13 19:51] shyamvalsan commented on #602
@hugovalente-pm good point I think it should be called something more user friendly or rather meaningful to users. How about Live View? I would prefer to avoid terms like "Real-time" (since they may imply the other tabs aren't real time) or "Query" which mean different thing in different contexts. **Netdata LiveView ™** has a nice ring to it 😄

Regarding the filter parameters, I think this should

[2022-10-13 20:27] sashwathn commented on #602
@hugovalente-pm : I think this tab will need a catchy name and in someway should be mapped to the premium plans only. For example **Netdata Issuefinder** or **Netdata FocusView / LensView** which can be the USP for our paid plans.

I agree with @shyamvalsan - the filters need to be dynamic and we should show the relevant ones based on the function chosen.

I would also like to bring out another as

[2022-10-13 20:42] hugovalente-pm commented on #602
great suggestions! I like **Netdata LiveView ™** or **Netdata LensView** both have a very nice ring to them

totally agree, this mechanism to populate the filters needs to be generic. the only concern I have with providing prefetched values on things like PID; GID UID is that from execution to execution (prefetch triggered, auto-refresh) values like these could vary a bit, since processes may star

[2022-10-14 09:38] shyamvalsan commented on #602
Few more suggestions based on the previous call:

- Netdata nucleus
- Netdata core
- Netdata inspector
- Netdata explorer
- Netdata wizard

[2022-10-14 10:16] andrewm4894 commented on #613
Sounds good!

[2022-10-14 10:37] hugovalente-pm opened #615 "[Bug]: OS filter on Alerts tab isn't related to the OS of the nodes and is misleading to the users"
### Bug description

Following a user report that they were having `Linux freebsd` as a value on OS attribute on Alerts tab but they didn't have any freebsd it was identified that this  does not represent the OS the node is running but rather the OS present in the alert configuration - used by the agent to select the proper alert config to use

### Expected behavior

Being this attribute related t

[2022-10-14 10:49] hugovalente-pm commented on #602
capturing the feedback from the call we had today with @amalkov @christophidesp @ktsaou @hugovalente-pm @ralphm @sashwathn @shyamvalsan:
*  This page is to be used for now just for a Single Node, in future we may consider how to support this over multiple nodes
   * Even though the page is for a specific node users can change nodes on filter --> this is a mandatory filter attribute to allow the ex

[2022-10-14 15:56] hugovalente-pm commented on #278
these were removed from the original description:
* netdata/netdata-cloud#275
* netdata/netdata-cloud#295

[2022-10-14 18:24] amalkov commented on #602
Guys, I actually like name "Functions" it sounds powerful, scientific, editable, actionable, executable, closed to engineering. And on top of it the icon Panos used is really cool. My preference is to leave it as it is and focus on other things.

[2022-10-14 18:28] Dentrax opened #616 "[Bug]: Consider clarify the `Contact your admin to give you access to this Node` error message for the first-time users"
### Bug description

Fresh installed the netdata and jumped the netdata cloud page on `Nodes` tab and a popup appered on the bottom left: `Forbidden: Contact your admin to give you access to this Node`

### Expected behavior

Since I'm running the agent on my localhost, I'm already admin and the popup should not appear.

### Steps to reproduce

1. Click sign-in button on `Nodes` tab
2. Sign-in
3.

[2022-10-14 19:38] dimko commented on #616
Hey @Dentrax, thanks for taking the time to open an issue. Did you claim the node to cloud? If node isn't connected to cloud and the specified room and space you get this forbidden alert.

[2022-10-14 19:48] Dentrax commented on #616
Hey, error has gone when I claimed the node. It'd be better not spawn this popup error for the first-time users. Maybe spawning an info popup to encounter the user to claim the agent would much better UX. I needed to find out why I was getting _forbidden_ errors. Rephrasing the message would better. 🤞

[2022-10-14 19:50] Dentrax commented on #616
Sorry, I thought it was a bug at the first time. We can close this one or move to feature request discussions, if you want.

[2022-10-14 19:59] dimko commented on #616
Yes I agree. It's misleading. Maybe the error message should include a prompt to claim agent in case user hasn't done so. Will bring that up to see how team can enhance this experience. Thanks for your report 🙂

[2022-10-17 08:45] #567 closed

[2022-10-17 12:23] hugovalente-pm commented on #602
as a final discussion today with @amalkov @christophidesp @ktsaou @hugovalente-pm @ralphm @sashwathn @shyamvalsan the following was agreed:
* we need to introduce a `classification` attribute at the collector to classify the type of function to consider it a:
   * `read-only` this function only returns data that isn't considered to contain any sensitive information, e.g. passwords, API keys, etc.

[2022-10-17 12:53] hugovalente-pm commented on #434
if I'm not mistaken it was @ktsaou that was going to work on that, @ktsaou do you have any thoughts on how the agent API will expose the possibility to make `/data` requests allowing the filtering per multiple instances (chartIDs)?

[2022-10-17 14:50] hugovalente-pm commented on #613
after an initial review of the work with @burbuli8ra the following fixes were added to the ticket:
* we should the st, nd, rd, th, etc. on the numbers for percentile and a % for the trimmed
* the text for the label on the % or percentile dropdown "The percentile or percentage of the data you want to focus for the percentile or trimmed functions selected.""

[2022-10-17 18:47] stelfrag commented on #434
Check https://github.com/netdata/netdata/pull/13697

Item 2 -->  `support for querying multiple charts`

[2022-10-18 09:13] hugovalente-pm commented on #616
@jacekkolasa let's confirm also if there isn't any other bug underlying here but for the message we could go with something like:

[2022-10-18 09:45] hugovalente-pm commented on #600
I tried to replicate this and couldn't.
when you can @UltimateByte let us know from our side

[2022-10-18 10:17] UltimateByte commented on #591
@hugovalente-pm Yep, you can close both when needed. When this is closed i'll retry setting up slaves and see how it goes and re-open an issue if needed.

Best regards!

[2022-10-18 13:44] hugovalente-pm commented on #591
thanks, will do that.

[2022-10-18 13:44] #591 closed

[2022-10-18 13:44] #600 closed, assigned to juacker

[2022-10-18 14:55] vkuznecovas commented on #515
The fix has now been implemented & released - we're using shorter URLs now

[2022-10-18 15:05] #608 closed

[2022-10-18 17:30] andrewm4894 opened #618 "[Feat]: Add button to jump to anomalies tab from alert page"
### Problem

From an alert let me get to anomalies tab for that node and timeframe in 1 click.

### Description

similar to how we have run correlations button we should also add a button called "Anomalies" that highlights 1 minute around the alert, filters for the node of the alert and taks you to the anomalies tab.

![image](https://user-images.githubusercontent.com/2178292/196502657-f7844c3d-73

[2022-10-18 17:31] andrewm4894 commented on #618
@hugovalente-pm can you add area/ml on this when you get a chance - i dont seem to be able

[2022-10-18 17:44] cakrit commented on #515
Yes!!!

[2022-10-19 08:34] jacekkolasa commented on #616
@hugovalente-pm that was good idea. We haven't been checking if node is claimed, so i added additional check (using separate `agents/${machineGUID}/info`).

[2022-10-19 08:46] Dentrax commented on #616
Warning message contains "Please connect it", but end user might not know "how to connect it". There is also "contact your Space admin" message, but in this case, I'm the admin since I run it on my local end. If I jump to Netdata Cloud on my localhost, maybe we should say instead: "consider claiming the node", instead of say "contact with the admin".

[2022-10-19 09:21] dimko commented on #616
Netdata Agent doesn't have roles. Cloud doesn't know if you were the one claimed the agent or not.

Every user that has access to the local dashboard can get re-directed to Netdata Cloud. `User with agent dashboard access != "admin" of the Netdata agent`
Imagine a case where a Netdata Dashboard is used by a team in a company and a public url has been assigned to it so dashboard is accessible by ev

[2022-10-19 09:59] hugovalente-pm commented on #602
while we don't have the BE providing a proxy to the Agent to access these functions through the Agent's API it needs to be compiled with `-DNETDATA_DEV_MODE=1`

[2022-10-19 11:33] jacekkolasa opened #619 "[Bug]: quickly changing filters creates flickering charts"
### Bug description

When /data calls in Overview happen with few seconds delay, a bug related with race condition can appear:
- filter setting 1 is set (dimensions or nodes)
- filter setting 2 is set
- 2 /data calls are made
- /data from setting 1 returns as last, which results in invalid chart

We should have a mechanism that prevents updating chart with older data than currently painted

### Ex

[2022-10-19 12:15] hugovalente-pm commented on #614
on a meeting with @amalkov @ktsaou @christophidesp @ralphm @sashwathn @shyamvalsan it was clarified that the key goal for this Q from Use-cases team is to have a way to easily create/maintain the Overview summary sections, due to some miscommunication it was understood that the path would be to enhance our custom dashboards and provide pre-defined ones.

to correct the course of action this ticket

[2022-10-19 12:19] hugovalente-pm commented on #616
thanks for the feedback @Dentrax , the case is exactly what @dimko mentions we don't know at the local agent dashboard what permissions/role the user has on Netdata Cloud. Having a link to that page wouldn't be bad, the only concern is a link on one of these toaster notifications... not use UX it will be very friendly

[2022-10-19 12:44] hugovalente-pm commented on #618
@andrewm4894 I think this classification of `area/xyz` is only currently available/used on the `netdata/netdata` on `netdata/netdata-cloud` we were having the teams, e.g. we have `data-products-team` label which we could re-purpose to just `data-products`

[2022-10-19 13:22] shyamvalsan opened #620 "[Quick win] [Feat]: Increase max supported length of bookmarks"
### Problem

_No response_

### Description

We only support 20 characters for a bookmark name, which is very small

Was trying to create one for "PostgreSQL monitoring" and even that doesn't fit :) I think we should support at least 50 characters here.

![image](https://user-images.githubusercontent.com/24860547/196702739-2b73e4a8-3d9b-4072-a0a0-35df3479d68f.png)

### Importance

nice to have

##

[2022-10-19 13:48] sashwathn opened #621 "[feat]: The visualisation of uptime chart needs to be improved"
### Bug description

The uptime chart Y axis shows the time elapsed since the last restart and the current format is unreadable.
We should improve the unit display for also all such charts that are related to uptime.

Additionally, the default grouping for the uptime chart needs to be "By node" as averaging the uptime of multiple nodes makes absolutely no sense.

### Expected behavior

1. The Y ax

[2022-10-19 14:31] cakrit opened #622 "[Bug]: Leaving a space leaves a ghost icon"
### Bug description

Left two spaces, this is what the UI shows:

<img width="40" alt="image" src="https://user-images.githubusercontent.com/43294513/196720455-70e02412-d431-49f4-bae3-b74943b10499.png">

### Expected behavior

Don't show ghost buttons

### Steps to reproduce

1. Leave space

### Screenshots

_No response_

### Error Logs

_No response_

### Desktop

OS: [e.g. iOS]
Browser [e.g. ch

[2022-10-19 14:32] cakrit commented on #622
Of course they go away when I reload.

[2022-10-19 15:26] andrewm4894 opened #623 "[Bug]: Menus being merged unexpectedly on overview"
### Bug description

I have set up the alarms collector with 2 jobs one called "default" and one called "ml". When i look in single node view i see them as 2 different menu items as expected.

![image](https://user-images.githubusercontent.com/2178292/196734878-936f17d2-37ab-4a2f-8a06-499769b2c579.png)

However when i look on the overview tab they all get sent to a single "Alarms" menu with all th

[2022-10-19 15:29] andrewm4894 commented on #623
could this be because they have the same `context` ?

![image](https://user-images.githubusercontent.com/2178292/196735820-ae258e89-7a64-4120-bc94-cba432010671.png)

![image](https://user-images.githubusercontent.com/2178292/196736134-1cc44f4f-7586-46fb-8bc4-778a39c69581.png)

[2022-10-19 15:53] andrewm4894 commented on #623
slack thread with some discussion. looks like this is expected behaviour since they do both have same context.

https://netdata-cloud.slack.com/archives/CS3PB0VJ7/p1666193401137179

[2022-10-19 16:48] hugovalente-pm commented on #611
this is fixed

[2022-10-19 16:48] #611 closed

[2022-10-19 16:51] hugovalente-pm commented on #580
@andrewm4894 this seems to have been fixed, can you check on your side? I couldn't reproduce

[2022-10-19 17:13] andrewm4894 commented on #580
Yep will do and close if fine

[2022-10-19 20:33] ilyam8 commented on #623
That is totally expected (the whole point of the overview is to merge charts from the same source) and not a bug.

Yes, that is how it works to my knowledge. Merged using context. The first word to dot is the source (alarms). Another example: all MySQL jobs would be merged into one MySQL section. All charts (python, go) have `_collect_job` label.

[2022-10-19 21:01] andrewm4894 opened #624 "[Feat]: would be nice to be able to order my space icons"
### Problem

would be nice to be able to order my space icons, similar to how i can just click and hold and drag in apps like slack for example.

<img width="468" alt="image" src="https://user-images.githubusercontent.com/2178292/196803358-56a33c86-3686-433f-a89c-a652cda4df17.png">

### Description

.

### Importance

nice to have

### Value proposition

1. ux

### Proposed implementation

_No res

[2022-10-19 21:03] andrewm4894 commented on #623
oh didn't realize that - yep makes sense now. closing.

<img width="956" alt="image" src="https://user-images.githubusercontent.com/2178292/196803669-0d56b4b9-ba12-45df-afc2-faff26fe528c.png">

[2022-10-19 21:03] #623 closed

[2022-10-20 08:15] hugovalente-pm commented on #622
this seems similar to this https://github.com/netdata/cloud-frontend/issues/3778 just the action that triggers it is different.
I see that you worked on the other one @novykh , would the same _recipe_  work for this one?

[2022-10-20 15:01] hugovalente-pm commented on #620
@netdata/cloud-be do you know if there is any limitation on the database? just to understand if this is just an FE work or it involves more work

[2022-10-21 07:21] vkuznecovas commented on #620
I've opened a PR to bump this to 50 on the backend side.

[2022-10-21 08:16] hugovalente-pm commented on #622
fixed

[2022-10-21 08:16] #622 closed

[2022-10-21 09:45] hugovalente-pm commented on #130
with a couple of hurdles out of the way this can be pushed forward, after a discussion with @MrZammler and @car12o the idea is to:
* provide a new optional attribute at alert config to be used as the notification title, as an alternative to the current one
* the above title will support the use of variables to allow providing more context to the specific cause of the alert
* titles will be provide

[2022-10-21 10:01] hugovalente-pm commented on #393
thanks for the feedback, it is totally to the point

this has been addressed

we are sorry this change has caused this flood of e-mails, we are improving our communication process and will for sure try to give prior notifications when some breaking change is to be released

closing this ticket.

[2022-10-21 10:01] #393 closed

[2022-10-21 10:33] hugovalente-pm commented on #614
to also consider this https://github.com/netdata/netdata-cloud/issues/551

[2022-10-21 10:35] hugovalente-pm commented on #563
@jacekkolasa @vkalintiris since you quickly jumped to the bookmarks' name, can we check if this one is also easy to push forward?

[2022-10-21 10:48] hugovalente-pm commented on #572
I believe we already have mechanisms for most of them:
* groupBy - https://github.com/netdata/charts/blob/main/src/sdk/filters/getGroupBy.js
* chartType - from collector and some other rules https://github.com/netdata/charts/blob/main/src/sdk/filters/getChartType.js
* aggregationMethod - controlled by the units https://github.com/netdata/charts/blob/main/src/sdk/filters/getAggregateMethod.js

we a

[2022-10-21 10:53] hugovalente-pm commented on #577
this seems really helpful, even if for now it is just a shortcut to the current modal from user profile. the only concern, that we can probably solve with a tooltip, is to make sure these are user notification settings and not the space settings.

the state will probably be linked to the main toggle there
![image](https://user-images.githubusercontent.com/82235632/197179726-80baf29a-a997-4aad-b40d

[2022-10-21 11:07] andrewm4894 commented on #580
done

[2022-10-21 11:07] #580 closed

[2022-10-21 13:35] andrewm4894 opened #625 "[Bug]: app.plugin link is black for some reason"
### Bug description

![image](https://user-images.githubusercontent.com/2178292/197208543-a8d672a4-4b19-48cf-943f-ab08e64f4064.png)

### Expected behavior

be green

### Steps to reproduce

1..

### Screenshots

_No response_

### Error Logs

_No response_

### Desktop

OS: [e.g. iOS]
Browser [e.g. chrome, safari]
Browser Version [e.g. 22]

### Additional context

_No response_

[2022-10-21 14:01] andrewm4894 commented on #625
Looks like its when you click a link and its marked as visited
![image](https://user-images.githubusercontent.com/2178292/197214239-f40fe98a-e073-4421-bbd1-b574e048c686.png)

[2022-10-21 15:38] FeminalPanda opened #826 "[Feat]: Gauges in custom dashboard - Netdata Cloud"
### Problem

Netdata cloud does not have gauges to use as custom dashboards. Would like them implemented for a quicker at a glance.

### Description

Netdata cloud does not have gauges to use as custom dashboards. Would like them implemented for a quicker at a glance.

### Importance

nice to have

### Value proposition

Quick at a glance
Easier to see and understand on TV screen.

### Proposed im

[2022-10-24 08:20] hugovalente-pm commented on #625
this issue is only for the dark theme
![image](https://user-images.githubusercontent.com/82235632/197480677-1725d748-ca70-4c1c-b6cc-87af4b5ec84c.png)

[2022-10-24 10:21] hugovalente-pm commented on #434
@juacker the work that was pending on the Agent is merged, can we unblock FE by progressing with the BE work?
cc/ @jacekkolasa

[2022-10-24 10:34] juacker commented on #434
thanks for the heads-up @hugovalente-pm, I have the PR draft ready, will test it today and publish it. Hope to have it approved and deployed by tomorrow.

[2022-10-24 12:17] hugovalente-pm commented on #515
re-opening since we fixed the issue with the invitation flow but this needs to be fixed on the verification email flow as well.

[2022-10-24 12:18] jacekkolasa commented on #434
@hugovalente-pm  When do you think we can release it, considering Agent release cycle? Should we maybe wait about 1-2 weeks after stable release with that change will land?

[2022-10-24 12:30] hugovalente-pm commented on #434
@jacekkolasa I think we had discussed this in the past on this comment https://github.com/netdata/netdata-cloud/issues/434#issuecomment-1276428087 can you check what is possible? we can jump on a call if needed

[2022-10-24 12:31] jacekkolasa commented on #434
@hugovalente-pm Sure it will be possible, but I'm wondering if we should show this message when this feature will be completely unavailable for users using stable releases

[2022-10-24 13:31] juacker commented on #434
@stelfrag the agent is not returning the `chart_ids` field if we filter by only one chart, the cloud needs it in order to generate the proper dimension names.

- filtering by multiple charts:

![Captura desde 2022-10-24 15-11-40](https://user-images.githubusercontent.com/2930882/197537419-3c85073e-1fa3-4ba5-81b1-5802361b0d8b.png)

- filtering by one chart only:

![Captura desde 2022-10-24 15-10-56

[2022-10-24 16:12] hugovalente-pm opened #626 "[Feat]: Verification, Join Space/Room and Alert emails should have copy+past backup way to current button"
### Problem

As a workaround to allow to overcome possible issues like the ones reported on this bug, due to very long URLs and Outlook 365, we should provide a way for users to workaround that provide a raw URL with a hint text: copy and paste the url in your browser.

### Description

Provide on our e-mail templates a workaround that provides a raw URL with a hint text: copy and paste the url in

[2022-10-25 06:59] ktsaou commented on #434
Fixed it at https://github.com/netdata/netdata/pull/13879

When a single chart was given in a context query, the query engine mistakenly was turning the query from a context query to a chart query.

When both chart and context are given, the query engine now run the query as a context one, with a chart filtering.

[2022-10-25 07:08] ktsaou commented on #434
https://github.com/netdata/netdata/pull/13879 is merged.

[2022-10-25 07:08] ktsaou commented on #434
Let me know if you need something more about it.

[2022-10-25 07:11] ktsaou commented on #434
The `full_XXX` members are also filtering the chart(s) given. Do you need this list to always include all charts that would be included in the query without the charts filtering?

[2022-10-25 08:23] juacker commented on #434
@jacekkolasa the cloud is returning the `full_XXX` attributes @ktsaou mentions as `all_dimensions` and `all_chart_labels`, should the charts filtering affect them?

[2022-10-25 09:16] hugovalente-pm commented on #434
@juacker @ktsaou afaik we should be consistent across these `all_xxx` fields if I look into the example of `all_chart_labels` when I filter for a specific node it is only returning the values based on the filters provided FE is keeping a kind of a _cache_ of the entire values from the initial call

![image](https://user-images.githubusercontent.com/82235632/197734760-9ac5783d-be6c-48ec-9e06-5581c8

[2022-10-25 09:24] christophidesp commented on #577
I agree that this would be really helpful, and as @hugovalente-pm mentioned we can clarify with the tooltip that this refers to user notifications

![Screenshot 2022-10-25 at 12 23 21](https://user-images.githubusercontent.com/96468003/197736374-42c5ce66-0e0c-41af-a260-79e7f1a8dedd.png)

Although I am not sure that we need to expose the state of the notifications for being enabled/disabled since i

[2022-10-25 11:32] dimko opened #627 "[Bug]: /correlations gives back 404 when highlighted area is before first agent data"
### Bug description

The following request

**https://staging.netdata.cloud/api/v2/nodes/82e56c86-e646-4567-81b7-8d31fcf1dca9/correlation**

with payload

`{'baseline': {'after': '2022-10-25T11:05:08.335Z', 'before': '2022-10-25T11:07:08.335Z'}, 'highlight': {'after': '2022-10-25T11:07:08.335Z', 'before': '2022-10-25T11:09:08.335Z'}, 'chart_contexts': ['anomaly_detection.anomaly_rate', 'anomaly_de

[2022-10-25 12:29] hugovalente-pm commented on #620
this is released

[2022-10-25 12:29] #620 closed

[2022-10-25 13:38] hugovalente-pm commented on #602
after a discussion with @amalkov @ktsaou @hugovalente-pm @papazach @burbuli8ra @christophidesp it was decided to start simple, since there are still many unknows, and work on something that we can try to ship fast, interact with and expose to the users.

the main decisions:
* we will not go with two tabs, we will have only one which will allow the selection of the functions as well as provide an e

[2022-10-25 15:53] hugovalente-pm commented on #278
@novykh from a conversation with @burbuli8ra on a bug identified by @jacekkolasa on tab navigation from Overview to Single Node view and back we need to ensure states of composite charts between tabs isn't shared

we noticed on the branch that has the composite charts on Single Node view the following:
1. Got o a Single Node view for a given node
2. On that Single Node view on the `system.cpu` cha

[2022-10-25 15:58] hugovalente-pm commented on #613
this is released cc/ @andrewm4894 @sashwathn @shyamvalsan (tagging you guys since I think this was helpful for some use-case content piece)

[2022-10-25 15:58] #613 closed

[2022-10-25 17:22] juacker commented on #434
BE part released and deployed to production

[2022-10-25 17:48] hugovalente-pm commented on #574
this is a duplicate of https://github.com/netdata/netdata-cloud/issues/613

[2022-10-25 17:48] #574 closed

[2022-10-25 17:50] hugovalente-pm commented on #463
this is now available on Centralized Admin Interface and user can order by it and use the search box
![image](https://user-images.githubusercontent.com/82235632/197846096-98d6c887-d89a-40b4-80e0-c766a297625b.png)

[2022-10-25 17:50] #463 closed

[2022-10-26 06:54] jacekkolasa commented on #563
@netdata/cloud-be we need to increase the limit on BE first.

|From FE side, i think we will need optional ellipsis with tooltip on Dashboard Tab names, since we display the full name currently

[2022-10-26 07:18] jacekkolasa commented on #434
@juacker @ktsaou I think `all_xxx` should always be the same, regardless of filters passed to the request

[2022-10-26 07:18] vkuznecovas commented on #563
PR is open, I'll let you know once this is rolled out.

[2022-10-26 07:57] hugovalente-pm commented on #434
when you say the same you mean the full list without considering filters? I think this was discussed when we were implementing filtering with chart labels and it was decided to be implemented as it is, not sure if it was a technical limitation.

if we think for FE it is the best approach and UX then let's question @ktsaou. @ktsaou is there  a technical limitation on the `all_xxx` to always have th

[2022-10-26 09:00] ktsaou commented on #434
Implemented it: https://github.com/netdata/netdata/pull/13886

[2022-10-26 09:02] vkuznecovas commented on #563
Change is now live across all envs.

[2022-10-26 10:44] hugovalente-pm commented on #434
Agreed @ktsaou but we have a concern on the `all_chart_labels` because from what I know it doesn't behave the `dimensions` and now `charts`, it behave like the contexts

@jacekkolasa @juacker @ralphm and me were discussing this on the daily let me book a slot

[2022-10-26 12:48] hugovalente-pm commented on #577
@AlexNti is going to start by adding the shortcut we can then see what else we may want, if we want, I have some doubts for plans that will have more than on notification mechanism what would we show?

[2022-10-26 13:33] andrewm4894 opened #628 "[Feat]: Ability to convert y-axis values to be all positive"
### Problem

Sometimes i'd like to not see lines of positive and negative y-axis like this:

![image](https://user-images.githubusercontent.com/2178292/198038607-7e6f3252-9675-437b-a8d7-5c005376ddb6.png)

Instead i'd like to see them as just two lines as normal on a chart eg on the same axis as opposed to one on positive axis and one on negative axis.

It would be nice if i had a way to press some

[2022-10-26 13:34] hugovalente-pm commented on #627
on the daily @juacker mentioned that he would try to look into this with @dimko

[2022-10-26 13:43] hugovalente-pm opened #629 "[Bug]: Nodge badge tooltip don't have the correct font colour"
### Bug description

Nodge badge tooltips have an incorrect font colour that doesn't have great contrast

### Expected behavior

Current Node badge
![image](https://user-images.githubusercontent.com/82235632/198042040-5614353f-5146-435f-b9c1-88ebc16ebccc.png)

Other tooltips
![image](https://user-images.githubusercontent.com/82235632/198042071-95e69762-5bd6-4a82-aa92-bd8d3f74edb4.png)

### Steps t

[2022-10-26 13:47] dimko commented on #627
So the issue seems to be on the agent side. It was probably introduced in this version of netdata agent **1.36.0-257-nightly** and it's not related to anonymous access but applies to all cases where user uses the metrics correlation endpoint.

will be updating the description of the ticket

[2022-10-26 13:57] dimko commented on #627
@hugovalente-pm AFAIK there is no way to trigger this request from inside the agent, unless you hit directly this endpoint through some client

[2022-10-26 14:01] hugovalente-pm commented on #627
ahh,! you are right this is in a previous nightly on the most recent ones it doesn't happen, right?
if it is like that let's close it with `won't fix` no?

[2022-10-26 14:08] dimko commented on #627
Truth is it doesn't sound very important, unless there are other functionalities affected as well. I am not sure if we should even bother fixing or investigating. Closing

[2022-10-26 14:08] #627 closed

[2022-10-26 14:30] hugovalente-pm opened #630 "[Feat]: Merge anomalies filtering into Metric Correlation on Overview/Single Node"
### Problem

On the Overview and Single Node view tabs I want to be able to filter charts based on their anomaly rate, like we do on Metric Correlations, expanding even the anomaly bit on every chart by default.

### Description

Introduce a new button called **Anomalies** that would have a similar behaviour to the Metric Correlations. Based on a slider it would be possible to indicate a threshold

[2022-10-26 16:40] andrewm4894 commented on #630
@hugovalente-pm user should be able to press button without a filter and so full visible window becomes the implicit highlight basically.

So highlighting should be optional for the user. Obviously if they highlight an area then that's what should be used to get the AR's.

tbh this is kinda exactly what i wanted with this feature (issues below) - albeit i was proposing to just "decorate" the right

[2022-10-27 11:26] christophidesp commented on #577
If we want an indication for showing enabled/disabled notifications in the icon we can do that
Enabled
![Screenshot 2022-10-27 at 14 24 28](https://user-images.githubusercontent.com/96468003/198272143-571df6f1-810f-4154-a399-9c6084c5be62.png)

Disabled
![Screenshot 2022-10-27 at 14 24 09](https://user-images.githubusercontent.com/96468003/198272181-af2dd9b4-aa32-44d5-983e-73f4afbda764.png)

@shyam

[2022-10-27 12:36] hugovalente-pm commented on #577
ok, that makes sense. @AlexNti what do you think in terms of effort?

[2022-10-27 16:29] cakrit opened #631 "[Bug]: Broken links to alert documentation"
### Bug description

The k8s* alerts shown below don't have corresponding articles in https://community.netdata.cloud/c/alerts/28
As a result, the links to "learn more about this alert" such as https://community.netdata.cloud/t/k8s-cgroup-ram-in-use are broken

<img width="327" alt="image" src="https://user-images.githubusercontent.com/43294513/198345545-b0f155d9-c5f0-4e4d-a163-4222c01c26ae.png">

[2022-10-28 10:29] juacker commented on #434
As discussed with @jacekkolasa and @amalkov, if multiple filters are set in the request (`nodeIDs` and `nodeChartInstances`), the cloud will calculate the nodes to request data to applying the intersection between both of them.

[This PR](https://github.com/netdata/cloud-charts-service/pull/400) implements that behaviour.

[2022-10-31 12:26] cakrit opened #632 "[Bug]: Radio buttons of in-app surveys hidden"
### Bug description

![image](https://user-images.githubusercontent.com/43294513/199007052-a4c86d05-1613-4f40-8a3c-22df466c79a4.png)

### Expected behavior

Fix the stylesheet that hides elements it should not be affecting.

### Steps to reproduce

1. Click on the KC bot
2. Select the Welcome to Nedata option

### Screenshots

_No response_

### Error Logs

_No response_

### Desktop

OS: [e.g. iO

[2022-10-31 17:46] hugovalente-pm commented on #631
to check on priority for this @cakrit do we have an idea of how many occurrences we have?

[2022-10-31 21:31] tkatsoulas commented on #631
@hugovalente-pm They piled up because as I said in the past we didn't create a lifecycle process for this project

<pre>Cloned the master branch from netdata repo (owner: netdata)
Found  250  alerts, checking if guides exists into the community forum
Checking for link https://community.netdata.cloud/t/adaptec-raid-ld-status. <font color="#33DA7A"> OK </font>
Checking for link https://community.net

[2022-11-02 09:39] andrewm4894 commented on #631
I'll have a look to see if, within discourse customizatios, we can fire custom events to PH when the 404 page is triggered same way we do for blog and learn. That way we'd be able to triage based on traffic to them.

[2022-11-02 10:35] juacker commented on #434
:point_up_2: deployed to production

[2022-11-02 11:36] andrewm4894 commented on #631
Added this to body in community and seems to work.

![image](https://user-images.githubusercontent.com/2178292/199479229-a07cb62b-b05e-49a0-95d6-76f063fd42ae.png)

Created report of all page-not-found events by url. We can let this get traffic for a few days and maybe then start using it to help spot parts of sites getting actual traffic that are tiggering page-not-found events.

[2022-11-02 11:53] hugovalente-pm commented on #278
@cakrit with this change going live soon, between today and tomorrow hopefully, we need to prepare an engagement for the users that access the Single Node view.

in the past Single Node view was (almost) = Agent Local dashboard and it is/was something we used to say to the user, until we complete this work https://github.com/netdata/product/issues/3033 to have the Netdata Cloud UI provide the Loca

[2022-11-02 12:03] dimko commented on #612
As discussed this issue is further exposed due to the latest changes in frontend to use composite charts in single node view and becomes reproducible much more often than before so we should tackle it as soon as possible.

cc: @hugovalente-pm @novykh @juacker

[2022-11-02 13:32] cakrit opened #633 "[Bug]: Filtering on dimension on wmi.dpu_dpcs fails"
### Bug description

Filtering on dimension on wmi.dpu_dpcs fails
<img width="566" alt="image" src="https://user-images.githubusercontent.com/43294513/199501232-3017dbec-e179-4987-a148-ce3f8f51263e.png">

I suspected it's because the dimensions have a comma in them, but the request is flawless

Request payload:
[code]

Response:
[code]

### Expected behavior

-

### Steps to reproduce

1. This is

[2022-11-02 13:32] cakrit commented on #633
All dimensions works fine by the way, it's only the filtering that does it.

[2022-11-02 13:44] cakrit commented on #278
Ok, but I'll need to take another look to the current single node guide as well. Getting on it, to prepare.

[2022-11-02 13:48] cakrit opened #634 "[Bug]: Missing "Plugin" from chart info"
### Bug description

On every chart I've clicked, I see an empty plugin

<img width="272" alt="image" src="https://user-images.githubusercontent.com/43294513/199506079-20eabe77-0823-423c-aa4a-a080465128f3.png">

### Expected behavior

See the plugin

### Steps to reproduce

1. Click info on a chart

### Screenshots

_No response_

### Error Logs

_No response_

### Desktop

OS: [e.g. iOS]
Browser

[2022-11-02 14:00] hugovalente-pm commented on #558
@cakrit the other engagement we had spoken about was this about moving the chart and sub-section descriptions inside the chart info

**Before**
![image](https://user-images.githubusercontent.com/82235632/199508847-d42f57e0-abef-444b-a65e-72a7dca58ec0.png)

**After**
![image](https://user-images.githubusercontent.com/82235632/199508963-fb142cab-801f-4f31-850c-8146f55457e4.png)

can we also have one

[2022-11-02 14:16] cakrit commented on #278
I have it ready, but changed the text a bit, mostly to shorten it as much as possible. See below and let me know in slack if you want something changed.

<img width="572" alt="image" src="https://user-images.githubusercontent.com/43294513/199512605-9caca77c-ab5a-4bc6-ae24-6d864e1e4cde.png">

[2022-11-02 15:43] cakrit commented on #558
Sorry, I never told you, but it was done on Oct 20

I put this hotspot on the charts...

<img width="446" alt="image" src="https://user-images.githubusercontent.com/43294513/199533695-5095bcb0-e70c-4641-b290-b18df1d38494.png">

and when people click on it they see this

<img width="461" alt="image" src="https://user-images.githubusercontent.com/43294513/199533864-3d2b1755-8ed0-4170-875c-6030bff87f

[2022-11-02 15:48] cakrit commented on #558
Done, it will automatically show up to the older users who haven't already clicked on the hotspot.

[2022-11-02 16:10] dimko commented on #612
Some more info about this issue.

After some investigation it seems that the moment user clicks **Go To Chart**

Cloud Backend returns **443** charts in the `https://staging.netdata.cloud/api/v2/nodes/45bb8b44-cb4b-421f-a86e-d3161e394377/charts?after=1667312268&before=1667312868` request.

Previously for the exact same time period before/after, returned charts where **553** and moments ago **557**

[2022-11-02 18:30] andresmazzo opened #635 "[Bug]: Bookmark url input validation"
### Bug description

Copy url of a netdata dashboard. Click "New Bookmark" and paste url on input. :( .
Error message:
`This is not a valid URL                                              163/255`
Example urls:
`https://app.netdata.cloud/spaces/example-issue/rooms/apps/dashboards/general#appliedFilteredIds=&liveNodeIds=&staleNodeIds=&offlineNodeIds=&filteredNodesSearchParams=`

`https://us-east-1

[2022-11-03 09:15] hugovalente-pm commented on #632
@cakrit we discussed this yesterday on the daily and this should be something setup on GPX, since this "component" doesn't exist on the app
was trying to see this on the content but couldn't find a way to validate where it could be changed

![image](https://user-images.githubusercontent.com/82235632/199684233-4b805305-e6d7-44ab-a31f-a83d2b2611c5.png)

can you take a look yourself?

[2022-11-03 09:56] andrewm4894 opened #636 "[Feat]: more helpful message when MC returns 0 metrics"
### Problem

It can happen that you get back 0 results from metric correlations (more likley to happen for cross node MC due to averaging of results).

At the moment we just render a default screen like below. For MC we maybe would want a custom message to inform the user to use the slider to see some results if none exist.

Very much just a low priority nice to have imo but just wanted to raise i

[2022-11-03 10:00] hugovalente-pm commented on #612
@dimko @papazach bumping this bug to `high` priority due to the underlying issue that was surfaced with unsync'ed contexts between Agent and Cloud
if we have an Agent bug it would be great if we identify the bug in time to get into the stable release scheduled for the 9th of Nov.

cc/ @amalkov @MrZammler

[2022-11-03 10:19] hugovalente-pm commented on #635
thanks for raising thus @andresmazzo we will take a look to review these limitations on URLs
the characters that were causing this issue on the example were `=` and `&` but as @andresmazzo mentions the `:` and `;` also make the validation fail

the validation of the characters is happening on the FE but the limitation is also restricted by the BE.

suggestion:
* @netdata/cloud-be let's allow longe

[2022-11-03 13:31] cakrit commented on #632
Ok, will ask their support. Closing for now.

[2022-11-03 17:39] hugovalente-pm opened #637 "[Feat]: Add some info on how get a Offline to be able to delete it from Space"
### Problem

There are multiple requests on how user can delete a node from the Space, most of them is because the nodes aren't Offline.
Action is usually to point them to [How to remove node](https://learn.netdata.cloud/docs/agent/claim#remove-and-reconnect-a-node)

### Description

We need to add on the Centralized Admin Interfaces for the Spaces/Nodes and Room/Nodes some visual indication and t

[2022-11-03 23:03] hugovalente-pm commented on #577
released

[2022-11-03 23:03] #577 closed

[2022-11-03 23:12] hugovalente-pm commented on #630
@andrewm4894 sorry haven't been able to come to this yet... booked a slot next weekso we can see what is that we would like to do from Product perspective

[2022-11-07 08:19] shyamvalsan commented on #579
@hugovalente-pm can we bring this one up for discussion - still think its a quick win and that it will be very useful for users. As a user I want to know which process is consuming the most CPU/Memory/Disk/etc by just looking at the chart and without having to hover or click anything.

[2022-11-07 08:27] shyamvalsan opened #638 "[Feat]: Add ability to edit bookmarks"
### Problem

I can't edit bookmarks once created - and have to delete and add them again. Not user friendly.

### Description

Bookmarks once created only have a "Delete" option, there's no "Edit" option. Which means if I want to update one or even just fix a typo I have to delete it and re-create it.

![image](https://user-images.githubusercontent.com/24860547/200261499-ca5851ab-89a7-48ca-8d05-b2

[2022-11-07 14:12] cakrit commented on #632
After speaking with their support I explicitly overrode the setting on the particular engagement, but this is their L2 feedback:

I don't hear audio in their videos, but they show the same style component that is definitely not coming from gainsight PX. I see `styled-components` everywhere in our app, e.g. the specific version appears here:
<img width="593" alt="image" src="https://user-images.git

[2022-11-07 20:51] dimko opened #639 "[Bug]: Pausing a chart still requests /data"
### Bug description

When pausing date time picker data requests are still issued, but with a lower frequency

### Expected behavior

No data requests should be issued while paused

### Steps to reproduce

1. Navigate to overview tab (or single node view)
2. Pause charts by clicking the date time picker
3. Without scrolling between charts check network requests. No /data requests should be issued

[2022-11-07 21:07] novykh commented on #639
Since today the release was blocked maybe I can do this change as well. It's a really good point.

[2022-11-08 10:25] shyamvalsan opened #640 "[Bug]: Favorites (Pinning a section) doesn't bring subsections along with it"
### Bug description

Favoriting (pinning a section) only shows the main section name on top - and all subsections are not available here.

![image](https://user-images.githubusercontent.com/24860547/200539656-4a07c812-9e7c-4f07-92da-3936b3bacdc7.png)

To see sub sections user needs to scroll down

![image](https://user-images.githubusercontent.com/24860547/200540125-694e26fb-74aa-4f74-93c9-6272e33

[2022-11-08 10:26] shyamvalsan commented on #640
cc: @hugovalente-pm @novykh @sashwathn

[2022-11-08 10:33] novykh commented on #640
This is working like this from the introduction of this feature. By pressing a favourite it takes you down to the actual menu item.

[2022-11-08 11:53] shyamvalsan commented on #640
That's the thing @novykh pressing on a favorite is not taking me down tot he actual menu item.

![Netdata Cloud (17)](https://user-images.githubusercontent.com/24860547/200557244-a3a0699c-8dc1-4ffd-a8de-6676e7788b04.gif)

[2022-11-08 13:50] hugovalente-pm commented on #602
@burbuli8ra just mentioned the spinned-off ticket of this here for tracking:
- https://github.com/netdata/cloud-frontend/issues/3891
- https://github.com/netdata/cloud-frontend/issues/3889
- https://github.com/netdata/cloud-frontend/issues/3890
- https://github.com/netdata/cloud-frontend/issues/3891

[2022-11-08 14:32] cakrit opened #641 "[Bug]: Filtering nodes waits for the next chart update to refresh the results"
### Bug description

When we filter nodes either from the top menu or from the right menu in the Anomalies tab, the charts do not refresh until the next time they were going to be refreshed anyway. This causes a very bad UX, especially when you have zoomed out to see a larger time frame.

### Expected behavior

Filtering nodes should have an immediate effect on the visible charts.

### Steps to re

[2022-11-08 15:50] hugovalente-pm commented on #278
this has been released

[2022-11-08 15:51] hugovalente-pm commented on #558
this has been released

[2022-11-08 15:51] #558 closed

[2022-11-08 16:27] shyamvalsan opened #642 "[Feat]: Hide Not configured and Not capable sections in Anomaly Advisor menu when empty"
### Problem

In the anomaly advisor node selector menu, the sections for "Not configured" and "Not capable" nodes are always visible with their accompanying message and hyperlinks - even when there are zero nodes that meet this criteria.

![image (1)](https://user-images.githubusercontent.com/24860547/200620130-46cc9aa0-9925-4f7e-9204-582808e07a4f.png)

This causes unwanted clutter and eats up scr

[2022-11-08 16:28] shyamvalsan commented on #642
cc: @ralphm @amalkov @novykh

[2022-11-08 19:38] novykh commented on #640
That's true. I will push a fix for showing the correct menu on the sidebar.

[2022-11-09 08:50] hugovalente-pm commented on #602
for reference, while being developed this is hidden behind a feature flag, to enable either:
* `localeStorage.setItem("functions", true)` or
* manually set it up key `functions` value `true`
![image](https://user-images.githubusercontent.com/82235632/200783486-5ec186c5-f073-470a-8c83-33d7cceadae2.png)

[2022-11-09 08:53] hugovalente-pm commented on #641
this is a bad one UX/UI-wise, @novykh can we tackle it soon?

[2022-11-09 09:19] hugovalente-pm commented on #641
this feels like there is a _missing event_ to communicate the change from the filter to the charts once the focus is "back" on charts it works ok

https://user-images.githubusercontent.com/82235632/200790539-d64ef269-454f-4143-9d4e-e229fe46e11f.mp4

[2022-11-09 09:51] hugovalente-pm commented on #625
this is released

[2022-11-09 09:51] #625 closed

[2022-11-09 09:58] hugovalente-pm commented on #556
@novykh I see that we can't navigate to **Offline** nodes but I see that we now can't also for **Stale** nodes

https://user-images.githubusercontent.com/82235632/200800097-9de0a299-1dbd-4761-b81f-b5db2fbd633b.mp4

[2022-11-09 10:23] hugovalente-pm opened #643 "[Bug]: Anomalies tab doesn't properly show the actual charts with correct filtering"
### Bug description

Instance filtering isn't correctly applied on the data charts shown together with the anomaly rate charts. The seen issues:
* filtering on one instances is applied but legend and tooltip show all instances
* instance filter dropdown is showing the set filter but when you expand it you don't see which one is selected

### Expected behavior

Same behaviour as on Overview or Sing

[2022-11-09 10:31] hugovalente-pm opened #644 "[Bug]: After Metric Correlations runs if I change the threshold value with slider and change tabs it isn't "stored" the last choice"
### Bug description

When I run Metric Correlations on Overview or Single Node view if I change the slider and switch tabs and come back the last value chosen isn't stored

### Expected behavior

Last value chosen should be kept when I navigate back to the tab

### Steps to reproduce

1. Run Metric Correlations on Overview
2. Change the slider threshold
3. Navigate to another tab
4. Go back to the

[2022-11-09 11:27] hugovalente-pm opened #645 "[Bug]: Navigating from Space's Overview to another Space's Overview may lead to no charts available if you have Global Node filter selections"
### Bug description

When navigating from a Space's Overview to another Space's Overview may lead to no charts available message if there are Global Node filter selections

### Expected behavior

Global Node Filter selections should not _carryover_ from one Space to another

### Steps to reproduce

1. On Space A go to Overview
2. Apply some filter selections on Global Node filter
3. On another spa

[2022-11-09 11:46] hugovalente-pm commented on #639
the `/data` one seems to be fixed so I think we can close this, can you confirm @novykh

the `/charts` is getting updated every minute as a polling mechanism which was part of another ticket to review polling times.
if we don't need it we can remove it but let's open a separate ticket for that

[2022-11-09 11:54] hugovalente-pm commented on #579
I guess it will depend on how we want to do it, if we want the default sorting to be sent by the collectors, which is what makes more sense, don't think it is such a quick-win
of course, we have the option to add yet another configuration from Cloud but I think we need to start moving toward defined defaults coming from collectors

we could give it a go to start the discussion of this async.

@ama

[2022-11-09 11:54] dimko opened #646 "[Bug]: Go to chart/Run Correlations doesn't scroll to the correct chart in charts table of contents"
### Bug description

After user clicks go to chart/run correlations for an alert he is re-directed to single node view, the chart is displayed and it’s selected in the ToC, but it doesn’t scroll to the point of the selection in the sidebar. The user has to scroll to see it

### Expected behavior

Once you click go to chart or run correlations for an alert, user should be re-directed to single node

[2022-11-09 11:58] hugovalente-pm commented on #616
the fix for this has been released

[2022-11-09 11:58] #616 closed

[2022-11-09 12:08] dimko commented on #639
What seems to be causing the extra `/data` requests seems to be the `/nodes` request.
Even though there are no new nodes added, the sorting of node's capabilities change so FE issues a new /data request as it thinks there are node changes.

[2022-11-09 12:17] shyamvalsan commented on #579
@hugovalente-pm My point about the quick win was this.

There are a lot of charts where the dimension values are percentage values.  For example the very first chart we see in Netdata

![image](https://user-images.githubusercontent.com/24860547/200828023-48fa6f2d-5410-454c-bf39-e78d5533f9d2.png)

Sorting these dimensions in alphabetic order makes little sense to me. For percentage values, I would

[2022-11-09 12:29] novykh commented on #579
First, you can change the sorting from the button on the bottom left.

The issue with auto-sorting will be the constant changing of the position of the legend items.
In addition to that, is the performance impact that will have with sorting (in some cases huge) arrays on every single second when new data comes in.

But, I would love to hear, why sorting will make difference, since you can hover on

[2022-11-09 15:16] andrewm4894 opened #647 "[Bug]: used ram gauge is now in GB and always full. Used to be % based like on agent dashboard"
### Bug description

found by a lovley user on discord: https://discord.com/channels/847502280503590932/847502280503590935/1039619269421449296

used ram gauge is now in GB and always full. Used to be % based like on agent dashboard

![image](https://user-images.githubusercontent.com/2178292/200857109-8d3a5299-f1fa-47bb-86b1-136e4f64c1c8.png)

### Expected behavior

I would expect it to be % used l

[2022-11-09 15:17] hugovalente-pm opened #648 "[Bug]: Chart action icons are unreadable until mouse hover when background is really colourful"
### Bug description

The readability of the chart action icons is compromised until mouse hover when background is really colourful

### Expected behavior

Have a better contrast/opacity to be able to better see the chart action icons

### Steps to reproduce

N/A

### Screenshots

![image](https://user-images.githubusercontent.com/82235632/200868393-99e8ffa8-45ce-4131-a483-f01b66f6f2d3.png)

### E

[2022-11-09 15:17] hugovalente-pm commented on #648
suggestion from @christophidesp is to increase the opacity of the container instead of having it almost completely transparent

[2022-11-09 16:13] hugovalente-pm commented on #579
For percentage values yes could be a rule and simpler than based on contexts, etc. but still a rule to be kept on Cloud

Having this for all numeric dimensions not sure it is a good rule, one example that I see that I don't think fits here is Networks related charts where we have dimensions with numeric negative values (and I think there are a couple of more)

@novykh the only advantage I would se

[2022-11-09 16:15] shyamvalsan commented on #579
Yes, hover and tooltip do exist and are useful. Just that it takes an extra bit of effort from users before they get value out :)

Especially in the apps plugin charts where there's so many dims, the legend needs to scroll.

[2022-11-09 18:18] hugovalente-pm commented on #630
based on a conversation with @andrewm4894 @amalkov and @hugovalente-pm we are going to try to merge the two suggestions, the summary of the expected work is here and will be used to update this ticket.

major points:
* we know we need to review and consolidate our filtering approach but due to the nature of the way we want to interact with MC and Anomaly Advisor we will need these to be kept on a

[2022-11-10 10:13] papazach commented on #612
Hey @hugovalente-pm / @dimko I think that since @MrZammler has included the ACLK conversation log baked-in the Agents we should cross check with what was actually sent over from the Agent.
If the Agent sent it over but the Cloud does not have it in the DB we have indeed an issue we should investigate

[2022-11-10 10:14] dimko commented on #646
Fixed in **release/3.0.1 of cloud-frontend** closing

[2022-11-10 10:14] #646 closed

[2022-11-10 11:27] hugovalente-pm commented on #138
this is still present because we don't have the validation on BE and FE is showing a wrong message
![image](https://user-images.githubusercontent.com/82235632/201079340-14542215-6112-4464-9006-66a4f99aaf39.png)

[2022-11-10 11:32] hugovalente-pm opened #649 "[Bug]: No message displayed when user tries to leave last space"
### Bug description

When user tries to leave his last space he can't do it but no message is displayed
![image](https://user-images.githubusercontent.com/82235632/201079989-4d287154-90ec-465a-90e8-329da5de8693.png)

### Expected behavior

A message should be presented to the user or the `Leave` button should not be enabled

### Steps to reproduce

1. Have a user that only has one Space - which ha

[2022-11-10 14:34] hugovalente-pm commented on #640
this has been fixed

[2022-11-10 14:34] #640 closed

[2022-11-10 14:38] hugovalente-pm commented on #644
this is fixed

[2022-11-10 14:53] hugovalente-pm commented on #605
this is fixed

[2022-11-10 14:53] #605 closed

[2022-11-10 14:54] hugovalente-pm commented on #605
![image](https://user-images.githubusercontent.com/82235632/201124257-168a0a7b-8550-4f61-b224-4df1b5d7d8d0.png)

[2022-11-10 15:08] #132 closed, assigned to nobody

[2022-11-10 15:15] hugovalente-pm commented on #126
I guess this can be closed due to the plan of achieving this https://github.com/netdata/product/issues/3033

[2022-11-10 15:15] #126 closed

[2022-11-10 16:17] dimko opened #650 "[Bug]: Category missing from node-removed feed event response"
### Bug description

Category is missing from **node-removed** feed event response.

### Expected behavior

The field to be there like on all other node state transition events

### Steps to reproduce

1. Soft delete a node
2. Issue request to receive info for this event

`GET` `/api/{version}/feed/search` with payload:` {'actions': ['node-removed'], 'space_id': <spaceID>}`

### Screenshots

_No r

[2022-11-11 01:09] amalkov commented on #642
Agree 👍

[2022-11-11 01:27] amalkov commented on #630
We also have an open question about the CTA name. The current name is "Metric Correlation", after adding the Anomalies method we might need to rename it or keep everything under the umbrella of metric correlation...

Discussed names:
- score based
- machine learning
- correlations

It would be good to add in-app engagement as well to educate people about the new available method options and the di

[2022-11-11 08:52] dimko opened #651 "[Bug]: node-removed feed event not returned for anonymous user in public space"
### Bug description

When anonymous user queries feed for node-removed actions, no results are returned

### Expected behavior

node-removed event be exposed for anonymous users in public space

### Steps to reproduce

1. Soft Delete a node
2. Issue request

`GET /api/{version}/feed/search` with payload: `{'actions': ['node-removed'], 'space_id': <spaceID>}`

### Screenshots

_No response_

### Er

[2022-11-11 09:10] hugovalente-pm commented on #630
yes, good point @amalkov . in my description I was calling it **metric scoring** and maybe that could a good one (similar to Score based but with an action in the name)
definitely we will need to have the in-app engagement and review the appropriate docs

if we are in agreement on what we want to do I'll update the ticket description to document this and add an entry to our planning/roadmap doc

[2022-11-11 09:32] shyamvalsan commented on #630
I wonder if "score" will be ambiguous to users - personally I'd prefer something like "Find correlations" which is obvious. The way that correlations are calculated could be based on anomalies or ks2 or volume, but what the user is trying to do with this button is still to find events or metrics correlated to the chart they are interacting with.

[2022-11-11 09:34] shyamvalsan commented on #630
@hugovalente-pm @andrewm4894 do we have any real world comparisons for: anomalies vs ks2 vs volume? That helps us get an idea on when what works best or what should be the preferred default.

If a user sees the options and wants to know when a particular algorithm should be used vs another, is there a clearly thought out answer we can document somewhere?

[2022-11-11 10:21] hugovalente-pm commented on #630
If a user sees the options and wants to know when a particular algorithm should be used vs another, is there a clearly thought out answer we can document somewhere?

@andrewm4894 started this on the docs https://learn.netdata.cloud/docs/cloud/insights/metric-correlations#usage-tips, when we combine all together we probably will need to merge the docs as well
it has some explanation why we use ks2

[2022-11-11 11:56] dimko opened #652 "[Bug]: Single node view crashes when clicking Add to Dasboard"
### Bug description

When user is in single node view and tries to create a dashboard for a chart, single node view crashes and a console error is thrown.

### Expected behavior

Option to create Custom Dashboard should be displayed, for the specific node

### Steps to reproduce

1. Navigate to Single Node view tab for a specific agent
2. Click Add to dashboard button on the top right corner of a

[2022-11-11 12:19] andrewm4894 commented on #630
This is my understanding of what involved here.

1. Add a new method to MC called "Anomaly Rate". It will just be based on a call to /weights like below but would also need `post_aggregation_methods=["one-minus"]` so that instead of anomaly rates we get back "normal rates" (1-AR) - this is to make existing slider work, more below. @juacker we would need to make the `one-minus` work when `method=an

[2022-11-11 12:23] andrewm4894 commented on #630
https://learn.netdata.cloud/docs/cloud/insights/metric-correlations#usage-tips

[2022-11-11 12:30] andrewm4894 commented on #630
On naming some other ideas. I think "Smart Filter" makes sense but is maybe a little corny - the whole "Smart X" meme is kinda on its way out.

- "ML Filtering"
- "Advanced Filter"
- "Correlations"

Tbh "Correlations" or "Metric Correlations" would be fine technically. Nothing in ks2 or volume really has anything to do with correlations - the "correlation" part if implicit in the UI/UX of the metr

[2022-11-11 12:36] shyamvalsan commented on #630
I would stick with something that has "correlations" in the name - the name should correspond to a user action.  Advanced filtering is the other closest option but might get confusing with all the other filtering we do.

[2022-11-11 12:50] andrewm4894 opened #653 "[Bug]: MC results filters follow me across spaces"
### Bug description

If i run a MC in one space and get the filtered results. If i then go to another sapce that same metric filters etc seem to apply in that space. They should not.

https://user-images.githubusercontent.com/2178292/201344020-79665590-8495-46ff-be53-a0113771b812.mp4

### Expected behavior

Changing space should essentially close or X out of the MC results.

### Steps to reproduce

[2022-11-11 12:51] andrewm4894 commented on #653
@hugovalente-pm @novykh seems like a potential high priority bug just given the sort of confusion it could cause a user when navigating spaces after doing an MC.

[2022-11-14 12:38] hugovalente-pm opened #654 "[Bug]: Lost the possiblity to see individual charts on Single Node view"
### Bug description

With the release of the new Single Node view that now has the same working mechanism as the Overview, we started showing only composite charts and don't allow the expansion of these to the chart instance level.

Feedback received:
* Netdata Forum - https://community.netdata.cloud/t/docker-containers-visible-in-agent-web-ui-but-not-netdata-cloud/959
* Netdata sub-reddit - https

[2022-11-14 12:50] vkuznecovas commented on #650
Fixed by https://github.com/netdata/cloud-spaceroom-service/pull/387

[2022-11-14 12:50] #650 closed

[2022-11-14 19:06] cakrit commented on #654
I thought of adding an engagement to show the following, but I can't make it appear reliably when it should:

<img width="495" alt="image" src="https://user-images.githubusercontent.com/43294513/201744207-25ecb8f5-a5dc-4081-9673-6c8e915ed6ab.png">

Can we, at the beginning of the containers section have something like this to explain to people that this is the current way to see all their containe

[2022-11-15 09:26] hugovalente-pm commented on #654
@cakrit I think we can you have been doing something similar for the use cases
![image](https://user-images.githubusercontent.com/82235632/201882082-7b4f0043-4b0c-49f2-aa61-547309bb69cf.png)

let me take a shot at that

[2022-11-15 12:47] hugovalente-pm commented on #654
updating the status:
* PR for docs [here](https://github.com/netdata/learn/pull/1226)
* a sample of a change for systemd services
   <image src="https://user-images.githubusercontent.com/82235632/201923149-466d45b7-aa6d-4d16-a713-5be54f7e1cd5.png" height="65%" width="65%"/>

[2022-11-15 14:17] dimko opened #655 "[Feat]: Expose alert delay in Netdata Cloud"
### Problem

Users cannot see **delay** details about an alert when using the cloud.

Alerts are often cleared or have a status transition and user interacts with them through the email before the new email is received and this causes a confusion, as they know nothing about alert's delay.

### Description

I want to be able and view alert's delay through cloud in Alert Configuration section, so I

[2022-11-16 10:18] dimko opened #656 "[Bug]: Alert re-direct from email for cleared alerts doesn't work"
### Bug description

Once an alert is cleared, if user uses the email to access that alert in Netdata Cloud an error page is displayed that alert can't be found

### Expected behavior

User should be re-directed to Alert Dedicated View and be able to see the alert affected chart and information about the alert and run correlations for the time period the alert transitioned to the cleared status

#

[2022-11-16 10:57] andrewm4894 opened #657 "[Feat]: ability for user to choose the "every Ns" on each chart"
### Problem

Sometimes i end up witrh a chart like this:
![image](https://user-images.githubusercontent.com/2178292/202161504-af0f968b-dc2a-48ee-b402-f665a16e12d4.png)

What i'd love to be able to do would be to smooth this a bit more to make things a little more aggregated and get more of a rolling average for each line.

### Description

Ability to go from chart above to a more smoothed version.

[2022-11-16 13:58] andrewm4894 opened #658 "[Feat]: Would be nice to have a filter box i could type into to filter the list so i dont need to scroll to it"
### Problem

It would be nice to be able to type into a search box to filter the list of options in the dropdown so i dont have to scroll so much. Especially useful when we have charts with lots of dims.

![image](https://user-images.githubusercontent.com/2178292/202199537-dd31c556-4855-4b9c-9094-a3e6afcec9a5.png)

### Description

.

### Importance

nice to have

### Value proposition

1. small q

[2022-11-17 09:24] hugovalente-pm commented on #633
@cakrit have you had a chance to check on this?
wondering if we could close the bug?

[2022-11-17 11:11] andrewm4894 opened #659 "[Bug]: filtering nodes no longer working as expected"
### Bug description

It looks like node filtering is no longer working as expected - it seems to filer nodes but not node instances - see image and video below.

### Expected behavior

it should filter the chart as you select and unselect nodes

### Steps to reproduce

1. use global filters.
2. you will see nodes get filtered but node instances dont.

### Screenshots

Here i have selected 1 node b

[2022-11-17 12:07] andrewm4894 opened #660 "[Feat]: Add Type, Component and Class to alerts tab and make table filterable and more sortable."
### Problem

I'd like just group all alerts in the alert table by more higher level things like Type, Componeent and Class.

Table is too messy at moment for me to see what broad groups of alerts i have.

![image](https://user-images.githubusercontent.com/2178292/202441612-aa160473-11da-43f9-8db0-ad6dd9c2643f.png)

### Description

It would be great if i could group rows of the table together base

[2022-11-17 12:13] hugovalente-pm commented on #635
@andresmazzo this has been fixed and release, thanks again for raising it

[2022-11-17 12:13] #635 closed

[2022-11-17 13:12] andrewm4894 commented on #659
It looks like maybe the FE is not applying the filters to the /data requests for some reason.
![image](https://user-images.githubusercontent.com/2178292/202455543-abfdc1cf-3d9c-4a99-b563-ce03025c2f81.png)

[2022-11-17 16:14] dimko opened #661 "[Bug]: Incorrect node count in node instances filter when filtering by chart instance in Overview tab"
### Bug description

Node instances filter doesn't show the correct number of nodes when selecting a specific chart instance.

### Expected behavior

Chart instance is per node, so 1 node instance should be selected

### Steps to reproduce

1. Have >1 nodes claimed to cloud
2. Navigate to Overview tab
3. Filter by chart instance

### Screenshots

1.

![image](https://user-images.githubusercontent.

[2022-11-17 16:28] hugovalente-pm commented on #515
this as now also been fixed for the verification email flow 🎉

[2022-11-17 16:28] #515 closed

[2022-11-17 16:34] andrewm4894 opened #662 "[Bug]: anomaly rate pop down chart seems unaligned"
### Bug description

seems like the anomaly rate pop down chart is a bit misaligned for some reason.

![image](https://user-images.githubusercontent.com/2178292/202503479-7ff36bf6-228f-4f42-afb3-6e4652025228.png)

### Expected behavior

should line up

### Steps to reproduce

1. open anomaly rate chart

### Screenshots

_No response_

### Error Logs

_No response_

### Desktop

OS: [e.g. iOS]
Brow

[2022-11-17 17:11] dimko commented on #652
This is fixed, closing.

[2022-11-17 17:11] #652 closed

[2022-11-17 18:09] hugovalente-pm commented on #653
this is fixed, applied X out of the MC results.

[2022-11-18 09:08] hugovalente-pm commented on #647
this is fixed

[2022-11-18 09:08] #647 closed

[2022-11-18 09:09] hugovalente-pm commented on #645
this is fixed

[2022-11-18 09:09] #645 closed

[2022-11-18 09:09] hugovalente-pm commented on #643
this is fixed

[2022-11-18 09:09] #643 closed

[2022-11-18 09:10] hugovalente-pm commented on #641
this is fixed

[2022-11-18 09:10] #641 closed

[2022-11-18 09:13] hugovalente-pm commented on #639
this is fixed

[2022-11-18 09:13] #639 closed

[2022-11-18 09:15] hugovalente-pm commented on #619
@jacekkolasa I was trying to see if this is still there but can't be sure, could you check please?

[2022-11-18 09:17] hugovalente-pm commented on #612
@MrZammler do you have any updates on the above? was it possible to validate if we have any issue on the syncing of contexts?

[2022-11-18 09:21] hugovalente-pm commented on #585
@novykh just to check if with latest release this was supposed to be fixed, was testing this and can still reproduce it

[2022-11-18 09:22] hugovalente-pm commented on #571
@ilyam8 @papazach @juacker is this something that needs to be fixed from the Agent or needs to be from Cloud BE?

[2022-11-18 09:23] hugovalente-pm commented on #556
this is fixed

[2022-11-18 09:23] #556 closed

[2022-11-18 09:25] hugovalente-pm commented on #662
@andrewm4894 was checking this today and this seems to be fixed, can you confirm from your side?
![image](https://user-images.githubusercontent.com/82235632/202667744-737aca5b-7687-437e-a526-8a8d10122935.png)

[2022-11-18 10:13] shyamvalsan commented on #609
@hugovalente-pm can you try again? Seems to work for me. And seems to work properly for DB size.

![image](https://user-images.githubusercontent.com/24860547/202677670-2d01d49a-2020-4709-9a93-37cc99b8276e.png)

For uptime we still need to aggregate into higher order time units.

[2022-11-18 10:17] hugovalente-pm commented on #609
yes @shyamvalsan , now it is working. could have been some glitch.

I agree we need to see the uptime since it even has lost the previous aggregation on the original screenshot we were grouping to days units. will probably close this one and open a specific bug for that if it doesn't exist
![image](https://user-images.githubusercontent.com/82235632/202678379-7415f703-4a74-4d55-b9f4-1f6fa8e04e8d.pn

[2022-11-18 10:22] shyamvalsan commented on #609
Good catch - I agree.

[2022-11-18 11:05] hugovalente-pm opened #663 "[Bug]: PostgreSQL header section for uptime not applying adequate time aggregations"
### Bug description

The PostgreSQL header section for uptime not applying adequate time aggregations, previously this was applying some aggregations (which needed to be improved as mentioned a point on this feat request https://github.com/netdata/netdata-cloud/issues/621) but the previous aggregation aren't being applied

**Previous**
![image](https://user-images.githubusercontent.com/82235632/20

[2022-11-18 11:08] hugovalente-pm opened #664 "[Bug]: PostgreSQL header section charts for DB Size and uptime don't update according to mouse position like others"
### Bug description

The DB Size and Uptime charts don't show the values per the mouse position while navigating the charts like the others

### Expected behavior

Same as the other header charts

### Steps to reproduce

Go to PostgreSQL section and navigate on a chart and see the values don't change for DB Size and uptime

### Screenshots

https://user-images.githubusercontent.com/82235632/202691

[2022-11-18 11:09] hugovalente-pm commented on #609
two bugs were open to tackle the other remaining issues, one is already linked to this bug and the other is this https://github.com/netdata/netdata-cloud/issues/664
closing this bug since DB size is now ok

[2022-11-18 11:09] #609 closed

[2022-11-18 11:21] andrewm4894 commented on #662
@hugovalente-pm @novykh it looks to be fixed apart from one last thing being that the new chart level filters dont seem to be reflected in the anomaly rate pop down chart:

![image](https://user-images.githubusercontent.com/2178292/202694138-3f89c2cb-f077-4e74-a5ca-b05830120882.png)

I can make a new issue for this if we want?

[2022-11-18 13:20] hugovalente-pm commented on #602
adding to the ticket an extract of the metdata (excluded the result part)

<details>

[code]

[2022-11-20 20:33] andresmazzo commented on #635
Thanks @hugovalente-pm for the quick response! It's a pleasure to collaborate on such great tool :)

[2022-11-20 20:41] andresmazzo opened #665 "[Bug]: Dashboard broken state"
### Bug description

The structure of the content (sizes, grid, etc) it's not the configured. And if you close window it asks for unsaved changes.
I cannot move graphs. If i add new metrics or create a new dashboard, it also fails to render graphes.
This happens in all the dashboard i have.

Netdata agent is v1.36.1.

### Expected behavior

Show dashboard in the configured format.

### Steps to re

[2022-11-21 08:55] dimko commented on #612
@hugovalente-pm I was about to comment on this one. I can no longer reproduce it. I don't see missing charts agent side, so something has changed and kinda fixed it. I propose to close it and re-open if we encounter again.

[2022-11-21 08:55] #612 closed

[2022-11-21 09:05] hugovalente-pm commented on #635
great to know @andresmazzo! do keep any bug of feature requests coming through- the help of the community is huge to ensure we are moving towards the right direction

[2022-11-21 09:09] dimko commented on #661
Fixed. Closing. Now X out of Y nodes is displayed when 1 chart instance corresponding to 1 node is selected

![image](https://user-images.githubusercontent.com/19268853/203010416-657f0e9d-541e-420b-9b20-65979293163e.png)

[2022-11-21 09:09] #661 closed

[2022-11-21 10:11] hugovalente-pm commented on #665
This is confirmed there seem to be two things here:
* component that allowed the dragging of charts on dashboards isn't available any longer
* re-sizing and/or repositioning of components isn't working

[2022-11-21 15:54] sashwathn opened #666 "[Bug]: The "net" section in the cgroups container is picking the wrong / random interface name"
### Bug description

The net section under cgroups (container) adds a random interface to the sub-section name (probably from one of the containers).

### Expected behavior

The sub-section should only be named generically as "net".

### Steps to reproduce

1. Create multiple containers on the system with different virtual interfaces
2. Open the Cloud dashboard and look at the cgroups container se

[2022-11-21 16:31] cakrit commented on #633
Yes, it looks very different now.

[2022-11-21 16:31] #633 closed

[2022-11-21 17:41] hugovalente-pm commented on #665
@andresmazzo we just released an hotfix for this, please try it out and let us know if all looks good from your side

[2022-11-21 21:28] andresmazzo commented on #665
Thanks @hugovalente-pm . I confirm i can resize and move components :+1:

[2022-11-21 21:33] Bullote opened #667 "[Error]: Logstash metrics are not displayed in Netdata Cloud"
### Bug description

The metrics captured by the Netdata agent with the Logstash plugin are not displayed in the Netdata Cloud but are displayed in Netdata On-premise.
This happens in 5 different virtual machines with their 5 Netdata agents.

### Expected behavior

The metrics must be visualized both in Netdata Cloud and Netdata On-Premise

### Steps to reproduce

1. Install netdata with kickstart

[2022-11-22 09:11] #665 closed

[2022-11-22 09:28] hugovalente-pm commented on #666
@papazach @juacker should a mutation/transformation be applied on Cloud BE to show `net all` ? I know we something similar on Disks, Network Interfaces
@sashwathn I would suggest probably decreasing this to `medium` prio, this isn't blocking users from using the charts/section. @dimko wdyt?

[2022-11-22 12:02] hugovalente-pm commented on #602
based a meeting to clarify the current state and vision for the future here are the highlights.

**Flows**
* Static Functions tab - this will be a tab always present that will allow users to easily see this feature (like Alerts, Anomaly Advisor)
   * This will have a blank slate explaining what functions is and with CTAs to guide the user to select Node and Function
   * To trigger the results use

[2022-11-22 13:55] dimko opened #668 "[Bug]: Child chart obsoletion isn't synced to cloud"
### Bug description

In a parent/child setup where **child is streaming data in cloud through a claimed parent** (only parent is claimed to netdata cloud, NOT the child), **a chart X that lives on child but doesn't exist on parent** remains in cloud **after chart obsoletion**, although it has been removed in agent dashboard

### Expected behavior

Agent and cloud should be in sync regarding what c

[2022-11-22 14:03] dimko opened #669 "[Bug]: Chart only present on child agent isn't synced to cloud"
### Bug description

In a parent/child setup where child is streaming data in cloud through a claimed parent (only parent is claimed to netdata cloud, NOT the child), a chart X that lives on child but doesn't exist on parent **doesn't sync in cloud although it exists on agent dashboard**

### Expected behavior

All charts should sync to cloud eventually.

### Steps to reproduce

1. Setup parent an

[2022-11-22 16:19] hugovalente-pm opened #670 "[Bug]: Charts data request doesn't seem to be immediately triggered after changing datetime picker"
### Bug description

The experience when interacting with the datetime picker and seeing the charts updated after that action seems sluggish. This used to be really fluid and now users seem to need to do some action to get the data updated on the chart and/or wait sometime for a refresh to come through

### Expected behavior

As soon as I change the datetime picker data should be fetched for the e

[2022-11-22 16:39] hugovalente-pm opened #671 "[Bug]: When searching for instances an entry on composite chart bar the page crashes with a console error"
### Bug description

When searching for an instance using the composite chart bar the page crashes with error TypeError: r.toLowerCase is not a function.
Not sure this is related to the high number of instances or something specific with the name of some/one of them.

### Expected behavior

Page should not crash and filtering should be applied.

### Steps to reproduce

1. Go to Kubernetes containe

[2022-11-22 16:58] hugovalente-pm opened #672 "[Bug]: k8s containers tooltip gets stuck"
### Bug description

When navigating through the containers map on the Kubernetes Container section the tooltip gets stuck after navigating through some containers

### Expected behavior

The tooltip shouldn't get stuck

### Steps to reproduce

1. Go to the Kubernetes Containers section [here](https://staging.netdata.cloud/spaces/netdata-cloud-stg/rooms/k8s-prd/overview#after=-900&before=0&utc=Eur

[2022-11-22 17:07] cakrit commented on #667
I have the relevant ids and will share them internally for the investigation.

[2022-11-22 17:10] hugovalente-pm commented on #671
@dimko @novykh placing this as medium since 20/30 people using this for day and not sure how many face this issue but we this is serious since app crashes

[2022-11-22 17:20] ilyam8 commented on #667
The problem is only with pipeline charts. I see the logstash collector creates 2 charts for every [pipeline ](https://github.com/netdata/go.d.plugin/blob/0882ab1f4f0fe3c77ee1f49c2c32df911d47aa59/modules/logstash/testdata/stats.json#L89-L97).

In that specific case, Cloud UI aggregated all the (pipelines) charts into `monitoring-logstash`. @Bullote if you

- change "group by" from "dimension" to "i

[2022-11-22 17:21] ilyam8 commented on #667
I will update the collector:
 - do not create a unique family (subsection on the dashboard) per pipeline.
 - add pipeline name as a chart dimension.

[2022-11-22 17:29] hugovalente-pm commented on #662
great catch @andrewm4894 , yes lets open a separate bug for that

[2022-11-22 17:30] #659 closed

[2022-11-22 18:22] dimko commented on #669
https://github.com/ktsaou/netdata/tree/replication-fixes3 seems to be fixing this one

[2022-11-22 18:37] dimko commented on #668
https://github.com/ktsaou/netdata/tree/replication-fixes3 fixes this one as well.

[2022-11-23 09:17] hugovalente-pm commented on #669
@dimko saw the thread yesterday with you and @ilyam8 , I believe this can be closed right?
 the issue with alerts is a different thing, no?

[2022-11-23 09:22] dimko commented on #669
We can close this yes. Part of the alerts thing was also fixed as it seems but still something remains. WIll open a different one for it. Closing this.

[2022-11-23 09:22] #669 closed

[2022-11-23 09:23] dimko commented on #668
Merged. Closing

[2022-11-23 09:23] #668 closed

[2022-11-23 09:23] dimko commented on #671
On top of what you wrote @hugovalente-pm, when page crashes this way it's really hard for user to recover and bring it back in a working state. User has to like refresh page and change space or room in order for this error to get away. Feels like an important one preventing users using the app as expected.

[2022-11-23 10:12] sashwathn commented on #666
@juacker : Can you check if the "net eth0" (or any other interface name) is being sent from the agent as the family or is derived on the backend? I agree completely with you and the family simply needs to be "net" and then the user has an option of filtering on labels.

[2022-11-23 10:20] juacker commented on #666
yes @sashwathn the value `net eth0` comes directly from the agent, here are some values:

![image](https://user-images.githubusercontent.com/2930882/203522674-d646b07b-70a4-48eb-89a9-01168ba4809e.png)

[2022-11-23 17:00] hugovalente-pm commented on #671
fixed

[2022-11-23 17:00] #671 closed

[2022-11-23 17:00] hugovalente-pm commented on #672
fixed

[2022-11-23 17:00] #672 closed

[2022-11-23 17:00] hugovalente-pm commented on #670
fixed

[2022-11-23 17:00] #670 closed

[2022-11-24 09:32] sashwathn commented on #666
@MrZammler : Can we check this and handle it in general for also other sections that may have a similar behaviour?

[2022-11-24 10:41] Bullote commented on #667
In which version are the changes applied?
I have updated the last one and I still do not see changes

[2022-11-24 10:56] ilyam8 commented on #667
@Bullote I think the fix will be available on Sat (Friday night nightly release).

[2022-11-24 15:21] andrewm4894 opened #673 "[Feat]: add space name to node alerts from netdata cloud"
### Problem

i would like to see in the alert title and somewhere obvious on alert email what space the node is claimed to in netdata cloud.

at the moment i have to know what node names are in what spaces and its confusing when all i get is a node name.

### Description

add space name to the alert subject and somewhere obvious in the email template

### Importance

really want

### Value proposi

[2022-11-24 15:25] andrewm4894 opened #674 "[Feat]: ability for to send alerts to different emails per space/room"
### Problem

It would be great to be able to use different emails for alerts from different spaces and rooms.

![image](https://user-images.githubusercontent.com/2178292/203819133-28399d16-6837-49e0-95ec-2f4e67bd262e.png)

### Description

Ability to define a list of emails for each space and room where alert emails should go.

### Importance

really want

### Value proposition

1. would make it a

[2022-11-24 15:37] andrewm4894 opened #675 "[Feat]: add search box on anomalies tab to be able to quickly search for charts you want to check for"
### Problem

If i want to check if a specific chart or dim in near top of the anomalous dims i have to scroll through them all.

Instead i'd like to be able to search a regex or simple pattern to filter the scrollable list for just those that match what i type.

### Description

a search box here

![image](https://user-images.githubusercontent.com/2178292/203821878-ff490f64-82c9-4c0f-a2bf-f4c7c2a1

[2022-11-24 16:14] andrewm4894 opened #676 "[Bug]: metric correlations - adjusting highlight should retrigger it"
### Bug description

when i change the highlighted window from within a MC results view, it should retrigger a fresh MC call. At the moment it does nothing.

### Expected behavior

https://user-images.githubusercontent.com/2178292/203828617-18ce6a25-9cd8-4fc8-8d1c-04cf1fd094a1.mp4

### Steps to reproduce

1. use MC
2. pick a new highlight window
3. nothing happens

### Screenshots

_No response_

[2022-11-25 08:43] hugovalente-pm commented on #676
I think this was not part of the original _specs_ what probably is misleading is that we don't clear the previous results

iirc we didn't do that because the user could want to do a different action on the highlight selection, in the past we had run correlations and zoom.
we will probably have more actions to trigger from highlight so not sure this is the best experience once we have more

so this

[2022-11-25 11:05] andrewm4894 commented on #676
yeah i cant recall if it ever did this - i have a feeling it did else i feel like i would have defo spotted this before. Not 100% sure though.

i think if i change the highlight in any way its most natural to retrigger MC else what's rendered on the screen is sort of wrong.

when the MC bar is visible on top im in MC mode so even if we had other actions available on highlight (like in a little too

[2022-11-25 11:08] andrewm4894 commented on #676
Maybe would solution could be a sort of "refresh" or "rerun" little icon that appears when you change the highlight. Or could be there all time....

oh wait - i do see this button that does this

![image](https://user-images.githubusercontent.com/2178292/203972834-d96365be-ac74-4fc4-aed1-2145a5e9d66f.png)

[2022-11-25 11:10] andrewm4894 commented on #676
so maybe its just me but it feels more natural to automatically rerun when you highlight a different window - unless we can come up with good reasons why you would not?

not sure i can think of any

[2022-11-25 11:11] andrewm4894 commented on #673
@hugovalente-pm i wonder if just as easy to add this to existing ongoing work being done on the intergrations side ?

or would rather do it later as follow on work?

[2022-11-25 11:15] andrewm4894 commented on #673
eg prob be easy to just add in these:

https://github.com/netdata/cloud-notifications-dispatcher-service/pull/19
https://github.com/netdata/cloud-notifications-dispatcher-service/pull/21
https://github.com/netdata/cloud-notifications-dispatcher-service/pull/22

[2022-11-26 08:48] Bullote commented on #667
@ilyam8 I'm sorry but this still doesn't solve my problem

[2022-11-28 11:25] christophidesp commented on #676
Imo it should re-run the correlations when highlighting a new timeframe. I think that it feels the natural thing to happen, but not sure if there are corner cases that prevent this from happening.

[2022-11-28 11:41] hugovalente-pm commented on #676
the only reason I see to not do it automatically is what I mentioned previously:

we will probably have more actions to trigger from highlight so not sure this is the best experience once we have more

we maybe could still see that the user in the metric correlation _mode_ but we will need to verify this when we face this situation

my suggestion then will be to probably keep this a UX bug but wit

[2022-11-28 15:18] jacekkolasa opened #677 "[Bug]: After adding existing users to room, row selection doesn't clear"
### Bug description

When adding existing users to room, the selection in the list is not cleared. This happens in "Manage War Room / Add Users" modal, in room settings:

before:
[ ] user1
[x] user2
[ ] user3

after clicking "Add 1 members", the result is:
[ ] user1
[x] user3

### Expected behavior

after clicking "Add 1 members", the result should be:
[ ] user1
[ ] user3

### Steps to reproduce

[2022-11-28 16:18] wwwDESIGN-basti opened #678 "[Bug]: Inviting users not work. No email arrives"
### Bug description

If i invite email adresses to a space, no email was sending to the target (checked the spam folder too)

### Expected behavior

A Invite E-Mail

### Steps to reproduce

1. Select Space
2. Click "Invite Users"
3. Add a (valid) E-Mail Address
4. Notify Msg tells me mail was sendet.

### Screenshots

_No response_

### Error Logs

_No response_

### Desktop

OS: [e.g. iOS]
Browse

[2022-11-28 17:22] hugovalente-pm commented on #602
intro text to display on the header of the Functions tab for discussion:

Use this page to inspect further your infrastructure by executing functions at your nodes. Learn more on Functions from our docs.

[2022-11-28 21:13] ilyam8 commented on #667
The changes have been [merged today](https://github.com/netdata/netdata/pull/14052). Will be available in the upcoming nightlies.

If you mean having a subsection per pipeline on the Cloud UI - yes, the fix doesn't solve the problem. How it works now - the related charts are aggregated into one, per instance (e.g. pipeline) metrics can be seen using "Group by".

[2022-11-29 09:18] hugovalente-pm commented on #678
@wwwDESIGN-basti thank you for reporting this, for us to be able to troubleshoot this could you help us with some more details?
please send them through email to hugo@netdata.cloud

1. what is your space ID?
2. what is the recipient's email address?
3. how many times have you tried?
4. do you know approximately at what time you tried this?

[2022-11-29 09:29] hugovalente-pm commented on #673
Adding the space name on the body of the notification I'm totally up for it, not sure about adding it to the title... saying this because we are trying to discuss how to make the title more intuitive to the user of what the problem is and not _clutter_ it with more info

https://github.com/netdata/netdata/discussions/14059

I can't see those PRs, don't have access to the repo, but probably @car12o

[2022-11-29 09:44] car12o commented on #673
@hugovalente-pm those PR's add new integrations let's not mix stuff.
tbh @juacker is the one in charge of such changes so better ask him, but I feel we may need to schedule a meeting with someone from the design team to review all the templates we have for notifications.

[2022-11-29 10:15] hugovalente-pm commented on #673
@car12o as I mentioned I can't see the PRs so don't know what they are 😄

totally agree, we need to agree on what we want to show on the notifications and then decide how do display them, that is why I also linked the github discussion

cc/ @amalkov @christophidesp @ralphm

[2022-11-29 10:26] hugovalente-pm commented on #654
the temporary solution has been released
![image](https://user-images.githubusercontent.com/82235632/204504845-89d01e11-cec5-491f-8d6f-3ba3d3674f30.png)

[2022-11-29 10:58] andrewm4894 commented on #673
@hugovalente-pm yep - title gets messy but actually space name in title is most important thing for setting up routing rules in your email provider. eg i can just set up a rule for each space name in email title very easily.

tbh i think it should be more like "[space] - [node] - [status] [alarm name] [alarm value]" or something more like that

[2022-11-29 11:07] andrewm4894 commented on #673
@hugovalente-pm you totally should have read access to all repos - i bumped this ticket as it happens me too and is frustrating when cant read all repos: https://github.com/netdata/infra/issues/2995

[2022-11-29 11:49] hugovalente-pm commented on #673
This is also achievable through the content and, at least, in Google it is pretty effective. Example of using the `Family` from the body
![image](https://user-images.githubusercontent.com/82235632/204521011-5804d7a0-c2bd-45c5-89f3-7e7f2d7808ba.png)

This should really be our end-game, allow to do something like Datadog does when configuring monitors but this is some bigger change:
![image](https:/

[2022-11-29 12:04] andrewm4894 commented on #673
So i guess so long as space name goes in in a safe/structured way (given we cant know what users might call a space), then a similar rule could work for now, for gmail.

My point was that i would imagine there are some systems that probably are not as flexible and would assume all they have might be email subject and that alone to do routing/filtering. I dont have any concrete examples to hand but

[2022-11-30 12:19] hugovalente-pm commented on #561
on call with @iorvd clarify the things needed for this ticket that is trying to tackle two things:
* on the invitation to Space allow pre-defining a role to the user being invited
* streamline the process of inviting to a Room a user that is not yet on the Space by allowing to define a user email and trigger the invitation to the Space from there

**for BE work** this seems to only fall into allow

[2022-11-30 12:49] juacker commented on #673
Hi guys, I too think we should have a meeting to talk about the content of the notifications. It's something I wanted to do from the beginning, but as we have the focus on trying to get the endpoints ready to unblock FE team as soon as possible I hadn't the time to focus on this yet.

The content of the current notifications needs to evolve, they were initially created with the intention of suppor

[2022-11-30 12:53] amalkov commented on #561
@iorvd please allow adding multiple roles, similar to rooms

[2022-11-30 16:42] andrewm4894 opened #679 "[Bug]: home tab does not update when i delete nodes"
### Bug description

when i delete nodes the home tab no longer updates right away to reflect this fact.

### Expected behavior

home should be updated right away

### Steps to reproduce

1. delete some nodes
2. go see how home tab no displays stale info

### Screenshots

i have deleted those 25 offline nodes about 5 minutes ago. home tab actually confused me and made me think i had not deleted th